﻿@model POSOman.Models.tbl_Product
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35"> Edit Product</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Ajax.BeginForm("Edit", "PartialProduct", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateProductSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ProductID)
            </div>
            <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PartNo, "Part NO")
                            @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control", required = "required",@readonly ="readonly" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Description")
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubstituteNo, "Substitute NO")
                            @Html.EditorFor(model => model.SubstituteNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleCodeID, "Vehicle Code")
                            @Html.DropDownList("VehicleCodeID", null, "Select Veh Code", htmlAttributes: new { @class = "form-control",@disabled ="disabled" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupID, "Group")
                            @Html.DropDownList("GroupID", null, "Select Group", htmlAttributes: new { @class = "form-control" })
                        </div>
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleModelID, "Vehicle Model")
                            @Html.HiddenFor(model => model.VehicleCodeID)
                            @Html.DropDownList("VehicleModelID", null, "Select Vehicle Model", htmlAttributes: new { @class = "form-control", id = "VehicleModelID" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UnitCode, "Unit Code")
                            @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SaleRate, "Retail Price")
                            @Html.EditorFor(model => model.SaleRate, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Location, "Location")
                        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>*@
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<input type="submit" class="btn btn-primary" value="Save" />*@
                        <input type="button" value="Submit" class="btn btn-primary" onclick="PostEditVehicle(this)" />
                    </div>

                </div>
            </div>
        }
    </div>
</div>

