﻿@model POSOman.Models.DTO.Product
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35"> Add New Product</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Ajax.BeginForm("Create", "PartialProduct", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateProductSuccess", OnBegin = "ValidateForm", }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.VehicleCodeID, "Category")
                            @Html.DropDownList("VehicleCodeID", null, "Select Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PartNo, "Product Name")
                            @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control", required = "required",id="PartNumber", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                </div>
               
                <div class="row">                   
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Brand")
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SaleRate, "Price")
                            @Html.EditorFor(model => model.SaleRate, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BarCode, "BarCode")
                            @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                
                                                    
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group">
                        <button type="button" id="btnHideModal" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                        <input type="button" value="Submit" class="btn btn-primary" onclick="PostNewProduct(this)" />
                    </div>

                </div>
            </div>
        }
    </div>
</div>
@section scripts{
   $(document).keypress(
  function (event) {
      if (event.which == '13') {
          event.preventDefault();
      }
  });

    }