﻿﻿@model IEnumerable<POSOman.Models.GetOnlineCustomerSalesDateWise_Result>
<style>
    @@media print {
        @@page {
            /*size: A4; */
            margin-top: 40px;
            margin-bottom: 10px;
        }
</style>

<div class="card-content collapse show">
    <div class="row">
        <div class="card-body card-dashboard">
            @if (Model != null)
            {
                <table id="tblSO" class="table table-striped table-bordered alt-pagination" style="med">
                    <thead>
                        <tr>
                           
                            <th>
                                OrderNo
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Customer
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>

                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SOID)
                                </td>
                               
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer)
                                </td>
                                
                                <td>
                                    @if (item.VAT > 0)
                                    { @(item.TotalAmount + item.VAT);
                                    }
                                    else if (item.VAT == 0 || item.VAT == null)
                                    { @Html.DisplayFor(modelItem => item.TotalAmount)}
                                </td>


                                <td>
                                    @Html.ActionLink("Receipt", "printOrder", "OnlineOrders", new { id = item.OrderID }, new { target = "_blank" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
               
            }
            else
            {
                <text>
                    <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                    </script>
                </text>
            }
        </div>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}