﻿@model IEnumerable<POSOman.Models.GetOnlineCustomerSalesDateWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>Online Sales</h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>                    
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>


    <script>
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
       
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerPhone").select2();
        $("#btnSearch").on("click", function () {
            var BranchID = $('#Branch').val();
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = "<h3 style=align=center>Online Customer Sales Report</h3><br/>";
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h3>Branch:  " + Branch + "</h3></br>"; }
            var vendorName = $("#AccountID option:selected").text();
            var customerCode = $("#CustomerCode option:selected").text();
            if (accountID > 0)
            { html += "<h3>Customer :  " + customerCode + " | " + vendorName + "</h3></br>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h3>From:    " + fromDate + "            TO:    " + toDate + " </h3></br>"; }
            {
                $.ajax({
                    url: "@Url.Action("CustomerSales", "OnlineCustomers")",
                    data: {
                        isSearch:true,
                        accountID: accountID,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID : BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                            $('#tblSO').dataTable({
                                aoColumnDefs: [
                                 
                                { "aTargets": [0], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },                                
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [2], "bSortable": true, "sType": "datetime-moment" },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Online Customer Sales Report</h4>';

                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 0,1, 2,3]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Customer Sales Report';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                    columns: [ 0,1, 2,3]
                                }
                            }
                                ]
                            });
                           
                        }
                        

                }});
        }
        });

    </script>

}