﻿@model POSOman.Models.DTO.CustomerReceiving
@{
    ViewBag.Title = "Payment";
}
<style>
    .table th, .table td {
        padding: 0.75rem 1rem;
    }
</style>
<section id="number-tabs">
    <div class="row">
        <div class="col-12">
            <h2>Customer Payment</h2> <br />
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("SavePayment", "CustomerPayment",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "number-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Step 1 -->
                            <h6>Select Invoice</h6>
                            <fieldset>
                                <div style="display: none;">
                                    <label>Branch</label>
                                    <br>

                                </div>
                                <div class="row">
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Customer</label>
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <div class="input-group">
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>
                                   
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Phone</label>
                                        <br>
                                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                                    </div>
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label></label>
                                        <br>
                                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-mail"></i>Invoice Payment</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-content collapse show">
                                                <div id="dvtbl" class="table-responsive">
                                                    <table id="tbl" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Invoice No.</th>
                                                                <th hidden>PONo</th>
                                                                <th>Customer</th>
                                                                <th>Sales Date</th>
                                                                <th>Total Amount</th>
                                                                <th>Amount Paid</th>
                                                                <th hidden>Sales Ret.</th>
                                                                <th>Status</th>
                                                                <th>Balance</th>
                                                                <th>Receiving</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td></td>
                                                                <td hidden></td>
                                                                <td></td>
                                                                <td hidden></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>Total</td>
                                                                <td><input type="text" class="form-control input-sm" id="txtTotal" disabled /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 2 -->
                            <h6>Step 2</h6>
                            <fieldset>
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Customer", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control", @readonly = "readonly", id = "customerID", name = "customerID" })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Payment Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control">Bank Account</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "select2 form-control", name = "Bank", id = "Bank" })

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.ChequeDate, "Cheque Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ChequeDate", id = "ChequeDate" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.ChequeNumber, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", name = "ChequeNumber", id = "ChequeNumber" } })
                                                    @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount" } })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
    <script src="~/Scripts/vendor/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Scripts/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/onlineOrders/customerReceiving.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>

        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            
        });
       
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            
        });
        document.getElementById('ChequeDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();
        $("#AccountID").select2();
        $("#CustomerPhone").select2();

    </script>
}

