﻿
@model IEnumerable<POSOman.Models.tbl_QuoteDetails>
@using POSOman.Models;
@using System.Linq;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@{
    /**/

    dbPOS db = new dbPOS();

    var user = User.Identity;
    string currentUserId = User.Identity.GetUserId();
    // var currentUser = db.AspNetUsers.FirstOrDefault(x => x.Id == currentUserId);



}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/Invoice/style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <!-- fontawesome css  -->
    <link rel="stylesheet" href="~/Content/Invoice/fontawesome/fontawesome-free-5.13.0-web/css/all.css">
</head>

<body class="" id="invoice">
    <div class="container">
        <div class="invoice overflow-auto">
            <div style="min-width: 600px">
                <header>
                    <div class="row">
                        <div class="col" style="padding-bottom: 15px">
                            <a target="_blank" href="https://lobianijs.com">
                                <img src="~/Content/Invoice/images/Logo.png"
                                     data-holder-rendered="true">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="bar"></div>
                        </div>
                        <div class="col-2">
                            <p class="h1 heading">INVOICE</p>
                        </div>
                        <div class="col-2 ">
                            <div class="bar-second"></div>
                        </div>
                    </div>
                </header>
                <main class="container">
                    <div class="row contacts">
                        <div class="col invoice-to">
                            <h2 class="invoice-id">Invoice to:</h2>
                            <h2 class="invoice-id">@Model.First().tbl_Quotation.tbl_AccountDetails.AccountName</h2>
                            <div class="address text-font">
                                @{
                                    var ID1 = Model.First().tbl_Quotation.AccountID;
                                    var Addr = db.tbl_Customer.Where(x => x.AccountID == ID1).Select(x => x.Address).FirstOrDefault();
                                    if (!string.IsNullOrWhiteSpace(Addr))
                                    {
                                        @Addr

                                    }
                                    else
                                    {
                                        

                                    }
                                }

                            </div>

                            <div class="address text-font">
                                @{
                                    var ID = Model.First().tbl_Quotation.AccountID;
                                    var Contact = db.tbl_Customer.Where(x => x.AccountID == ID).Select(x => x.Phone).FirstOrDefault();
                                }

                                Contact #   @Contact
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col invoice-details">
                            <div class="invoice-details text-font">
                                <span class="font-weight-bold">Invoice #</span> <span class="text-right text-font">@Model.First().tbl_Quotation.QuoteID</span>
                            </div>
                            <div class="date invoice-details text-font">
                                <span class="font-weight-bold">Due Date :</span> <span class="text-right text-font">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.First().tbl_Quotation.SalesDate))</span>
                            </div>
                        </div>
                    </div>
                    <table border="0" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-header">
                                <th class="text-left">SR</th>
                                <th class="text-center">ITEM DESCRIPTION</th>
                                <th class="text-center">PRICE</th>
                                <th class="text-center">QTY</th>
                                <th class="text-center">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int counter = 1;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-left">
                                            @counter
                                        </td>
                                        <td class="text-center unit">@item.PartNo</td>
                                        <td class="text-center">@((Convert.ToInt32(item.Qty)))</td>
                                        <td class="text-center price">@(Convert.ToDecimal(item.SalePrice).ToString("0.00"))</td>
                                        <td class="text-center">@item.Total.Value.ToString("0.00")</td>
                                    </tr>
                                    
                                    counter = counter + 1;
                                }
                                }
                                </tbody>
                    </table>
                    <div class="row contacts">
                        <div class="col invoice-details">
                            <p class="h5 font-weight-bold">Payment Method</p>
                            <div class="invoice-details">
                                <span class="font-weight-bold text-font">Title: </span> <span class="text-right text-font">ENVI TECH AL</span>
                            </div>
                            <div class="date invoice-details">
                                <span class="font-weight-bold text-font">Account No:</span> <span class="text-right text-font">3001301000006671</span>
                            </div>
                            <div class="date invoice-details">
                                <span class="font-weight-bold text-font">Bank  :</span> <span class="text-right text-font">Faysal Bank, Sharfabad Branch, Karachi.</span>
                            </div>
                            <div class="date invoice-details">
                                <span class="font-weight-bold text-font">Amount in Words(PKR):</span> <span class="text-right text-font">@ViewBag.AmInWords.</span>
                            </div>
                        </div>
                        <!-- <div class="col">
      <i class="fas fa-qrcode" style="font-size: 7rem;"></i>
    </div>
    <div class="col-3 invoice-details">
        <div class="invoice-details">
            <span class="text-font">Subtotal: </span> <span class="text-right font-weight-bold text-font">$1000</span>
        </div>
        <div class="invoice-details">
            <span class="text-font">Discount :</span> <span class="text-right font-weight-bold text-font">0.00</span>
        </div>
        <div class="invoice-details">
            <span class="text-font">Tax[13%] :</span> <span class="text-right font-weight-bold text-font">$100</span>
        </div>-->
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-9"></div>
                        <div class="invoice-details total-responsive rou bg-blue text-white">
                            <span class="text-font">Total : @((Convert.ToDecimal(Model.First().tbl_Quotation.TotalAmount) - Convert.ToDecimal(Model.First().tbl_Quotation.DiscountAmount)).ToString("0.00")) </span>
                        </div>
                    </div>
                    <!--          </div>-->
                    <div class="row">
                        <div class="col mt">
                            <div>
                                <h6 class="text-blue font-weight-bold text-font">Thank You For Your Business</h6>
                            </div>
                            <div>
                                <i class="fas fa-phone-alt bg-color text-white rounded icon-whatsapp"></i><span class="text-font">+92-310-2288801</span>
                            </div>
                            <div>
                                <i class="fas fa-envelope rounded bg-color text-white icon-envelope"></i><span class="text-envelope text-font">
                                    info@envitechal.com
                                </span>
                            </div>
                            <div class="text-justify">
                                <i class="fas fa-map-marker-alt rounded bg-color text-white icon-marker"></i><span class="text-marker text-font text-justify">
                                    345, First Floor, Street-15, Block-3, Bahadurabad, Karachi.
                                </span>
                                <div class="text-left text-font">75900, Pakistan.</div>
                            </div>
                        </div>
                        <div class="col mt">
                            <!-- <div>
                              <h6 class="font-weight-bold text-font">Terms & Conditions</h6>
                            </div> -->
                            <div class="d-flex" style="align-items: center;">
                                <!-- <i class="fas fa-qrcode" style="font-size: 7rem;"></i> -->
                                <img src="~/Content/Invoice/images/Capturewe.PNG" alt="">
                                <img src="~/Content/Invoice/images/qr-code-148732_640.png" alt="" style="height: 9rem;">
                                <!-- <span class="text-font text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                  scrambled it to make a type specimen book.
                                </span> -->
                            </div>
                        </div>
                    </div>
                </main>
                <div></div>
            </div>
        </div>
    </div>
    
</body>

</html>