﻿@model POSOman.Models.DTO.Quotation

@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewQuote", "SaleOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-eye6"></i>Quotation</h4>
                                <div class="row">
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Customer Name</label>
                                        <br>
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
                                        @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Credit Limit</label>
                                        <br>
                                        <input type="text" class="form-control" placeholder="Cr Limit" id="customerCrLimit" disabled />
                                    </div>
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Balance</label>
                                        <br>
                                        <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Quotation Date</label>
                                        @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                        @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Credit Days</label>
                                        <br>
                                        <input type="text" class="form-control" placeholder="Cr. Days" id="creditDays" onkeypress="return isNumberKey(event)" />
                                    </div>
                                    <div class="col-md-2">
                                        <label>Quotation No.</label>
                                        @Html.EditorFor(model => model.QuoteID, new { htmlAttributes = new { @class = "form-control", name = "QID", id = "QID", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.QuoteID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <label>Comment.</label>
                                                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", name = "Comment", id = "Comment" } })
                                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2" hidden>   
                                                <label>PO No.</label>
                                                @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control", name = "PONO", id = "PONO" } })
                                                @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-2" hidden>
                                                <label>Cat.</label>
                                                @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
                                <div hidden>
                                    <label id="DescriptionTitle"></label>
                                    <label id="Description" class="badge badge-info"></label>
                                    <label hidden id="SubsTitle"></label>
                                    <label hidden id="SubstituteNo" class="badge badge-primary"></label>
                                    <label hidden id="VehModelTitle"></label>
                                    <label hidden id="VehModel" class="badge badge-info"></label>
                                    <label hidden id="GroupTitle"></label>
                                    <label hidden id="Group" class="badge badge-primary"></label>
                                    <label hidden id="LocationTitle"></label>
                                    <label hidden id="Location" class="badge badge-info"></label>
                                    <label id="UnitCodeTitle"></label>
                                    <label id="UnitCode" class="badge badge-primary"></label>
                                    <label id="MinorUnitCodeTitle"></label>
                                    <label id="MinorUnitCode" class="badge badge-primary"></label>
                                    <label id="LeastUnitCodeTitle"></label>
                                    <label id="LeastUnitCode" class="badge badge-primary"></label>
                                    <label id="QtyPerUnitTitle" hidden></label>
                                    <label id="QtyPerUnit" class="badge badge-primary" hidden></label>
                                    <label id="UnitPerCtnTitle"></label>
                                    <label id="UnitPerCtn" class="badge badge-primary"></label>
                                    <input type="hidden" id="LevelID" name="LevelID">
                                </div>
                                <hr />
                                <div class="row">
                                    <form id="ProductForm" name="ProductForm">
                                        <div class="col-sm-2">
                                            <label>Category</label>
                                            <br />
                                            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Product</label>
                                            <br />
                                            @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>BarCode</label>
                                            <br />
                                            <input type="text" class="form-control" placeholder="Bar Code" id="BarCode" autofocus />
                                        </div>
                                        <div class="col-sm-1" hidden>
                                            <label>Unit</label>
                                            <br />
                                            <input type="text" class="form-control" placeholder="UCode" id="unitCode" disabled />
                                        </div>
                                        <div class="col-sm-1" hidden>
                                            <label>Stock</label>
                                            <br />
                                            <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Qty</label>
                                            <br />
                                            <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                        </div>
                                        <div class="col-sm-1" hidden>
                                            <label>Packet</label>
                                            <br />
                                            <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
                                        </div>
                                        <div class="col-sm-1" hidden>
                                            <label>Open</label>
                                            <br />
                                            <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Open" id="BOX" />
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Sale Price</label>
                                            <br />
                                            <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Sub Total</label>
                                            <br />
                                            <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Action</label>
                                            <input type="button" class="btn btn-round" value="Add" id="addRow">
                                        </div>

                                    </form>
                                </div>
                                <div>
                                    <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                        <thead>
                                            <tr>
                                                <th>Select</th>
                                                <th hidden>Cat</th>
                                                <th>Product</th>
                                                <th hidden>U.C</th>
                                                <th>Qty</th>
                                                <th hidden>Packet</th>
                                                <th>S Price</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                @*<div>
            <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
        </div>*@
                                <hr />
                                <div class="row">
                                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                        <label>Sub Amount</label>
                                        <br>
                                        <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                    </div>
                                    <div class="col-sm-2">
                                        @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                        <br>
                                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                    <div class="col-sm-2">
                                        <label>GST %</label>
                                        <br>
                                        @*@Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "GST (%)" } })*@
                                        @Html.DropDownListFor(model => model.VAT, new SelectList(ViewBag.Vat, "Value", "Name"), "Select Tax ", htmlAttributes: new { @class = "form-control", name = "vatInput", id = "vatInput" })


                                    </div>
                                    <div class="col-sm-2" hidden>
                                        <label>GST %</label>
                                        <br>

                                        <input class="form-control" id="vatInputgs" name="vatInputgs" disabled />


                                    </div>
                                    <div class="col-sm-2">
                                        <label>GST</label>
                                        <br>
                                        <input class="form-control" id="vatAmount" name="vatAmount" disabled />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Final Amt</label>
                                        @*@Html.EditorFor(model => model.FinalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id="finalAmountWithVAT" } })*@
                                        <input type="number" class="form-control" placeholder="Final Amount" id="finalAmountWithVAT" disabled />
                                    </div>
                                </div>
                              
                            </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                        @*PopUp For adding and Customer *@
                        <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal" aria-hidden="true" data-backdrop="static">
                            <div id="newCustomerContainer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

@section scripts{

    <script type="text/javascript">
        $('#AccountID').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        document.getElementById('SaleDate').valueAsDate = new Date();
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            getCustomerDetail(customerID);
            //calcDiscount();
        });
        function getCustomerDetail(accountID) {
            if (accountID == "") {
                accountID = -1;
            }
            var json = {
                "accountID": accountID
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Customer/getDetail',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    $('#customerCrLimit').val(data.creditLimit);
                    $('#customerBalance').val(data.Balance);
                    if (data.Discount) {
                        $('#customerDiscount').val(data.Discount);
                    }
                    else {
                        $('#customerDiscount').val(0);
                    }

                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
@*<script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>*@
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/newQuotation.js"></script>
    <script src="~/Scripts/customScripts/addProducts_1.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    @*<script src="~/Scripts/customScripts/GenericLib.js"></script>*@
    <script src="~/Scripts/customScripts/helper.js"></script>  
}
