﻿@model IEnumerable<POSOman.Models.tbl_Quotation>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2 class="card-title">Hold Orders</h2>  
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Html.ActionLink("Create New", "Create")</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblHoldOrders1" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th> Customer </th>
                                            <th> Branch </th>
                                            <th> @Html.DisplayNameFor(model => model.HoldID) </th>
                                            <th> Date </th>
                                            <th> @Html.DisplayNameFor(model => model.TotalAmount) </th>
                                            <th> VAT </th>
                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName) </td>
                                                <td> @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName) </td>
                                                <td> @Html.DisplayFor(modelItem => item.HoldID) </td>
                                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                                <td>
                                                    @{
                                                        decimal TotalAmount = item.TotalAmount ?? 0;
                                                        <span> @TotalAmount.ToString("#,##0.00") </span>
                                                    }
                                                    @*@Html.DisplayFor(modelItem => item.TotalAmount)*@
                                                </td>
                                                <td> @item.VAT </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                                                    @if (item.IsSubmit == false)
                                                    { 
                                                        @Html.ActionLink("Submit", "SubmitOrders", new { OrderID = item.OrderID })
                                                    }
                                                    else
                                                    { 
                                                        @Html.Label("Submitted") 
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblHoldOrders1').DataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            { "aTargets": [5], "bSortable": true },
          //  { "aTargets": [6], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },            
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[2, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Hold Orders List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}