﻿@model IEnumerable<POSOman.Models.tbl_Quotation>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Quotations</h2>

                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblQuotation" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Customer
                                            </th>
                                            <th hidden>
                                                Branch
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.QuoteID)
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>


                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td hidden>
                                                    @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.QuoteID)
                                                </td>

                                                <td>
                                                   
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                                </td>

                                                <td>
                                                    @{
                                                        decimal TotalAmount = item.TotalAmount ?? 0;
                                                        <span> @TotalAmount.ToString("#,##0.00") </span>
                                                    }
                                                    @*@if (item.VAT > 0)
                                                    {
                                                        @String.Format("{0:0.##}", (item.TotalAmount + item.VAT));
                                                    }
                                                    else if (item.VAT == 0)
                                                    {
                                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                                    }*@
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })|
                                                    @Html.ActionLink("Details", "Export", new { id = item.OrderID, ReportType = "PDF" })|
                                                    @if (item.IsSubmit == false)
                                                    {
                                                        @Html.ActionLink("Submit", "SubmitOrders", new { OrderID = item.OrderID })
                                                    }
                                                    else
                                                    {
                                                        @Html.Label("Submitted")
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblQuotation').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
           
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
           
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            dom: 'Bfrtip',
            "order": [[1, "desc"]],
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">QUOTATIONS </h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0,  2, 3, 4]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}
