﻿@model IEnumerable<POSOman.Models.tbl_Quotation>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2 class="card-title">Hold Orders</h2>
                <div class="card">
                    
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblHoldOrders" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Customer
                                            </th>
                                            <th>
                                                Branch
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.HoldID)
                                            </th>

                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.PONo)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.VehicleNo)
                                                </th>*@
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>


                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HoldID)
                                                </td>


                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.OrderID })|
                                                    @if (item.IsSubmit == false)
                                                    { @Html.ActionLink("Submit", "SubmitOrders","Quotation", new { OrderID = item.OrderID,IsPos = true },null)}
                                                    else
                                                    { @Html.Label("Submitted") }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblHoldOrders').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[2, "desc"]],
            dom: 'frtip'
           
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}