body {
  -webkit-print-color-adjust: exact !important;
}

@font-face {
  font-family: myFirstFont;
  src: url(Algerian Regular.tff);
}

h3 {
	font-weight: bold;
	font-family: myFirstFont;
    color: rgb(13,7,173);
    text-shadow: 1px 1px 2px #000000;

}
.header p{
	letter-spacing: 1px;
	color: rgb(12,168,74);
	font-weight: bold;
	font-size: 18px;
	font-stretch: extra-condensed;
}
hr{
	border:2px solid green;box-shadow: 4px 1px 5px 1px rgb(128,128,128);
}
h1{
	letter-spacing: 5px;
	margin-top: 30px;

}

.upperbox{
	background-color: rgb(12,168,74);
	height: 45px;
	
}
.upperbox::after{
	
	content: "";
	border-top:45px solid rgb(12,168,74);
	border-left: 50px solid transparent;
	position: absolute;
	margin-left: -65px;




}
.stumpsection{
	height: 250px !important;
}
.pagefooter{
	color: transparent;height: 30px;
}

.lowerbox{
	background-color: rgb(3,1,173);
	height: 50px;
	display: inline;
		
}
.lowerbox::after{
	
	content: "";
	border-bottom:50px solid rgb(3,1,173);
	border-left: 50px solid transparent;
	position: absolute;
	margin-left: -218px;


}
.lowerbox i{
color: white;color;font-size: 22px;vertical-align: middle	

}
.lowerbox span{
font-size: 12px;
color: white;
font-weight: bold;
}
.lowerbox span{

}
.rounded-circle{
	padding: 1px !important;
}
.fa-phone{
	 -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(-45deg);
  font-size: 20px !important;

}
th{
	background: grey;
}
.input-group-text{
	font-weight: bold;
	width: 140px;
}
textarea{
	resize: none;
	height: 50px !important;

}
.content input{
	height: 50px;
}
.double input, .double .input-group-text{

	height: 25px !important;
}
.spbox{
	color: white !important;
	background: black !important;
}
.spbox .input-group-text{
	width: 80px !important;
}

.spbox .input-group, .sbox .input-group-prepend ,.spbox .input-group-text{
	box-shadow: none !important;
	background: black !important;
	border:1px solid transparent !important;
	color: white !important;
	height: 50px !important;

}

.input-group-prepend, .input-group-text, th{
	background: rgb(217,217,217)!important;
}


.spbox .form-control{
	background: black !important;
	color:white !important;
	box-shadow: none !important;
	border:1px solid transparent !important;
}
tr .smallbox{
	height: 3px;
	line-height: 3px;
	background: rgb(242,242,242)!important;

}
tr .sbox1{
	height: 3px;
	line-height: 3px;

}

tr #desc{
	box-shadow: none !important;
	border:1px solid transparent !important;
 	width: 500px;


}

tr .form-control{
	height: 20px !important;
}


tr input{
	box-shadow: none !important;
	border:1px solid transparent !important;	
	height: 3px;
	line-height: 3px;

}
.footer p{
	font-size: 14px;
}