﻿@model IEnumerable<POSOman.Models.tbl_OnlineOrderDetail>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>.</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">

    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-5" style="text-align:center; align-content:center">
                            <h3>@ViewBag.CompanyName</h3>
                            24-C Khayaban-e-Nishat,<br />
                            DHA Ph-6,Karachi<br />                            
                            @ViewBag.CompanyLandline
                        </div>
                        <div class="col-md-11" style="text-align:center ">                            
                            <hr />
                            <h4 style="text-align:center">Online Order</h4>
                        </div>

                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Customer : </strong></label>@Model.First().tbl_OnlineOrder.tbl_AccountDetails.AccountName</div>
                        
                        <div class="form-group row"><label class="col-lg-2 col-md-2 col-sm-2 col-xs-3"><strong>Date:</strong></label>@Model.First().tbl_OnlineOrder.OrderDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>

                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Order No.</strong></label>@Model.First().tbl_OnlineOrder.SOID</div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
                            </th>*@
                        <th>
                           @Html.DisplayName("Product")
                        </th>                       
                        <th>
                            Qty
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.tbl_SalesOrder.InvoiceNo)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                                </td>
                               
                               
                               
                                <td>
                                   @((Convert.ToInt32(item.Qty)))
                                </td>
                                <td>
                                    @(Convert.ToDecimal(item.SalePrice).ToString("0.00"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.ReturnedQty)
                                    </td>*@

                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>



            </table>

        </div>
        <div class="col-md-5 col-sm-12">
            <p class="lead"><strong>Total : @Model.First().tbl_OnlineOrder.TotalAmount</strong> </p>            
            
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
   
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ style="margin: 1px;"> Back</button>

    @*<input type='button' onClick='javascript:show_hide_column(1, false);' value='hide PartNo' id="hideCol">*@    
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
       
        function Back() {
            window.location.href = '/Quotation';
        }
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            //var printButton = document.getElementById("hideCol");
            //printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/Quotation';
        }
    </script>
    <div class="footer">Developed By: MangoTech Solutions <br />Call : 03443607167</div>
</body>

</html>
