﻿@model POSOman.Models.tbl_Quotation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuoteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoldID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoldID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PONo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PONo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsReturned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsQuote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsQuote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUnsaved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUnsaved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_AccountDetails.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Branch.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Branch.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_PaymentTypes.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_PaymentTypes.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
