﻿@model IEnumerable<POSOman.Models.tbl_OnlineOrder>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Orders</h2>

                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblQuotation" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                PayMode
                                            </th>
                                            <th>
                                                Customer
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Address
                                            </th>
                                            <th>
                                                Cell
                                            </th>
                                            <th>
                                                OrderNo
                                            </th>

                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>
                                            <th>
                                                OrderMode
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PaymentMode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_GuestProfile.FirstOrDefault().Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_GuestProfile.FirstOrDefault().Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_GuestProfile.FirstOrDefault().Cell)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SOID)
                                                </td>

                                                <td>                                                    
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.OrderDate))
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrderMode)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.OrderID })|
                                                    @if (item.StatusID == 1)
                                                    {
                                                        @*@Html.ActionLink("CustomerDetails", "GuestProfile", new { id = item.OrderID })
                                                        <text>|</text>*@
                                                        @Html.ActionLink("Submit", "SubmitOrders", new { OrderID = item.OrderID })}
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblQuotation').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
           
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
           
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Online Orders List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4,5,6,7]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}
