﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder>

@{
    ViewBag.Title = "ProcessedOrders";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="btnAll" onclick="location.href='@Url.Action("ProcessedOrders", "OnlineOrders", new { Filter = 1 })'"><i class="fa fa-check-square-o"></i>All</button>
                </div>
            </div>
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="btnDaily" onclick="location.href='@Url.Action("ProcessedOrders", "OnlineOrders", new { Filter = 2 })'"><i class="fa fa-check-square-o"></i>Today</button>
                </div>
            </div>
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-success" id="btnMonthly" onclick="location.href='@Url.Action("ProcessedOrders", "OnlineOrders", new { Filter = 3 })'"><i class="fa fa-check-square-o"></i>This Month</button>
                </div>
            </div>
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-secondary" id="btnYearly" onclick="location.href='@Url.Action("ProcessedOrders", "OnlineOrders", new { Filter = 4 })'"><i class="fa fa-check-square-o"></i>This Year</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Online Sales</h2>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="table-responsive">
                            @if (Model != null)
                            {
                                <div class="card-body card-dashboard">
                                    <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Invoice No.
                                                </th>
                                                <th hidden>
                                                    BarCode
                                                </th>
                                                <th>
                                                    Customer
                                                </th>
                                                @*<th>
                                                        PONo.
                                                    </th>*@
                                                @*<th>
                                                        Branch
                                                    </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SalesDate)
                                                </th>
                                                <th hidden>
                                                    @Html.DisplayNameFor(model => model.PaymentStatus)
                                                </th>
                                                <th hidden>
                                                    @Html.DisplayName("Mode")
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                                </th>
                                                <th hidden>
                                                    Discount
                                                </th>
                                                @*<th>
                                                        @Html.DisplayNameFor(model => model.AmountPaid)
                                                    </th>*@
                                                <th hidden>
                                                    @Html.DisplayNameFor(model => model.TotalPaid)
                                                </th>

                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SOID)
                                                    </td>
                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.Barcode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                    </td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.PONo)
                                                        </td>*@
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                        </td>*@
                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                                    </td>
                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                    </td>
                                                    <td hidden>
                                                        @if (item.PaymentTypeID > 0)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.tbl_PaymentTypes.Name);
                                                        }
                                                        else
                                                        {

                                                        }
                                                    </td>

                                                    <td>
                                                        @if (item.VAT > 0)
                                                        { @(item.TotalAmount + item.VAT);
                                                        }
                                                        else if (item.VAT == 0)
                                                        { @Html.DisplayFor(modelItem => item.TotalAmount)}
                                                    </td>
                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                                                    </td>

                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.TotalPaid)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Receipt", "printOrder", new { id = item.OrderID }, null)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
        $('#tblSO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [3], "bSortable": true },

            { "aTargets": [2], "bSortable": true, "sType": "datetime-moment" },
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Sale Orders</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 2, 3,5]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}
