﻿@model POSOman.Models.DTO.Sales

@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Sale Details</h4>
                                    <div class="row">
                                        <input type="hidden" id="OrderID" name="OrderID" value=@ViewBag.OrderID /> 
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId">
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">                                        
                                        <input type="hidden" id="hdnPOS" name="hdnPOS" value="2">
                                        <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                        <input type="hidden" id="hdnSalePrice" name="hdnSalePrice">
                                        <input type="hidden" id="hdnSOID" name="hdnSOID">
                                        <input type="hidden" id="hdnHoldID" name="hdnHoldID">                                        
                                        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
                                        <input type="hidden" id="isPacket" name="isPacket">
                                        <input type="hidden" id="isMinor" name="isMinor">
                                        <input type="hidden" id="minorDivisor" name="minorDivisor">
                                        <input type="hidden" id="hdnStock" name="hdnStock">   
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required" })
                                        </div>
                                            <div class="form-group mb-1 col-sm-12 col-md-4">
                                                <label>Customer Name</label>
                                                <br>   
                                                @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sales Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>                                          
                                        </div>
                                                                  
                                    <h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>                                    
                                    <div hidden>
                                        <label id="DescriptionTitle"></label>
                                        <label id="Description" class="badge badge-info"></label>
                                        <label hidden id="SubsTitle"></label>
                                        <label hidden id="SubstituteNo" class="badge badge-primary"></label>
                                        <label hidden id="VehModelTitle"></label>
                                        <label hidden id="VehModel" class="badge badge-info"></label>
                                        <label hidden id="GroupTitle"></label>
                                        <label hidden id="Group" class="badge badge-primary"></label>
                                        <label hidden id="LocationTitle"></label>
                                        <label hidden id="Location" class="badge badge-info"></label>
                                        <label id="UnitCodeTitle"></label>
                                        <label id="UnitCode" class="badge badge-primary"></label>
                                        <label id="MinorUnitCodeTitle"></label>
                                        <label id="MinorUnitCode" class="badge badge-primary"></label>
                                        <label id="LeastUnitCodeTitle"></label>
                                        <label id="LeastUnitCode" class="badge badge-primary"></label>
                                        <label id="QtyPerUnitTitle" hidden></label>
                                        <label id="QtyPerUnit" class="badge badge-primary" hidden></label>
                                        <label id="UnitPerCtnTitle"></label>
                                        <label id="UnitPerCtn" class="badge badge-primary"></label>
                                        <input type="hidden" id="LevelID" name="LevelID"> 
                                    </div>                          
                                   <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-1">
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br/>
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>  
                                            <div class="col-sm-2">
                                                <label>BarCode</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Bar Code" id="BarCode" autofocus />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Unit</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="UCode" id="unitCode" disabled />                                                                                              
                                            </div> 
                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>                                          
                                            <div class="col-sm-1">
                                                <label>Product</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            <div class="col-sm-1" hidden> 
                                                <label>Packet</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
                                            </div>
                                            <div class="col-sm-1" hidden> 
                                                <label>Open</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Open" id="BOX"/>
                                            </div>                                            
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" readonly="readonly"/>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>                                                
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>                                           
                                        </form>
                                    </div>                                                                        
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>    
                                                    <th hidden>Cat</th>
                                                    <th>Product</th>                                                  
                                                    <th hidden>U.C</th>                                                    
                                                    <th>Qty</th>
                                                    <th hidden>Packet</th> 
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>                                        
                                    </div>      
                                    @*<div>                                        
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>                                        
                                    </div>*@           
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.DiscountAmount,"Discount")
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "discInput", id = "discInput", @type = "number", @min = "0", @step = "0.01", @value = "0"} })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-1">
                                            <label>GST %</label>
                                            <br>
                                            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "GST (%)" } })
                                        </div>
                                        <div class="col-sm-1">
                                            <label>GST</label>
                                            <br>
                                            <input class="form-control" id="vatAmount" name="vatAmount" disabled/>
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Final Amt</label>
                                            @*@Html.EditorFor(model => model.FinalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id="finalAmountWithVAT" } })*@
                                            <input type="number" class="form-control" placeholder="Final Amount" id="finalAmountWithVAT" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Balance</label>
                                            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                        </div>
                                       
                                    </div>
                                    
                                    @*<h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>*@
                                   
                                    <div class="row" hidden>
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-sm-2">
                                                    @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "" })

                                                    @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" ,Selected = true},
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })

                                                </div>
                                                <div class="col-sm-2" hidden>
                                                    @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "" })

                                                    @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name", "4"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-2" hidden>
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                </div>
                                                <div class="col-sm-2" hidden>
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-sm-2" hidden>
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                             
                                <div class="form-actions right">                                               
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />                                    
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>                      
@section scripts{      

<script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
<script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script src="~/Scripts/onlineOrders/bindOnlineOrder.js"></script>
<script src="~/Scripts/customScripts/salesOrder_1.js"></script>
<script src="~/Scripts/customScripts/addProducts_1.js"></script>
<script src="~/Scripts/customScripts/general.js"></script>
<script src="~/Scripts/customScripts/partialCustomer.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/customScripts/GenericLib.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>
<script src="~/Scripts/customScripts/printSaleOrder.js"></script>  
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
          //  getCustomerDetail(customerID);
            //calcDiscount();
        });
        $("#BranchID").change(function () {
            var branchID = $('#BranchID').val();
            $('#hdnBranchId').val(branchID);
        });
        $("#PaymentStatus").prop("disabled", true);
        $("#PaymentStatus").on("change", function () {
            var payStatusSelection = $("#PaymentStatus").val();
            var totalAmount = $("#finalAmountWithVAT").val();
            var creditLimit = $('#customerCrLimit').val();
            var customerBalance = $('#customerBalance').val();
            //Paid
            if (payStatusSelection == 1) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                getNewTotal();
                //document.getElementById("amountPaid").value = totalAmount;
                $("#PaymentType").prop("disabled", false);
                document.getElementById("balanceAmount").value = 0;
                //document.getElementById("expenseInput").readOnly = false;
                //document.getElementById("vatInput").readOnly = false;
            }
                // Partial PAid
            else if (payStatusSelection == 2) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = false;
                $("#PaymentType").prop("disabled", false);
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
            }
                //Unpaid
            else if ((payStatusSelection == 3) && (parseFloat(totalAmount) > parseFloat(creditLimit - customerBalance))) { // Remove Nested if Condition 
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                $("#PaymentType").prop("disabled", true);
                disableBank();
                swal("Credit Limit", "Credit Limit Exceeds! ", "error");
            }
            else if (payStatusSelection == 3 && (creditLimit == "")) {
                isLimitExceed = false;
                swal("Credit Limit", "Credit Limit not available! ", "error");
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                $("#PaymentType").prop("disabled", true);
                disableBank();
            } else if (payStatusSelection == 3) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                document.getElementById("PaymentType").selectedIndex = "0";
                $("#PaymentType").prop("disabled", true);
                disableBank();
            } else {
                isLimitExceed = false;
            }
        });
        // Bind Sales Order Data , Payment and Customer Details if Exist
        function bindOrderData(data) {
            isQuote = false;
            $('#InvoiceNo').val(data.qry[0].InvoiceNo);
            document.getElementById('hdnAccountID').value = data.qry[0].AccountID;
            var customerAccountID = data.qry[0].AccountID;
            $('#AccountID').val(customerAccountID).trigger('change.select2');
            var branchID = data.qry[0].BranchID;
            document.getElementById('vatInput').value = data.qry[0].VAT;
            document.getElementById('PaymentType').value = data.qry[0].PaymentTypeID;
            document.getElementById('amountPaid').value = data.qry[0].AmountPaid;
            document.getElementById('subAmount').value = data.qry[0].TotalAmount
            if (data.qry[0].PaymentStatus != "") {
                $("#PaymentStatus option:contains(" + data.qry[0].PaymentStatus + ")").attr("selected", true);
            }
        }
    </script>     
    
}
