﻿@model POSOman.Models.DTO.RedeemPointsDTO
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35">Redeem Points</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Ajax.BeginForm("Create", "PartialProduct", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateProductSuccess", OnBegin = "ValidateForm", }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.LoyaltyCardNo, "CardNo")
                            @Html.EditorFor(model => model.LoyaltyCardNo, new { htmlAttributes = new { @class = "form-control", id = "LoyaltyCardNo", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="col-md-6" hidden>
                        <div class="form-group">
                            @Html.LabelFor(model => model.BarCode, "BarCode")
                            @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @class = "form-control",  id = "BarCode", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.BarCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TotalPoints, "TotalPoints")
                            @Html.EditorFor(model => model.TotalPoints, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UsedPoints, "UsedPoints")
                            @Html.EditorFor(model => model.UsedPoints, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0", autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Balance</label>
                            @Html.EditorFor(model => model.RedeemPoints, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label>RedeemPoints</label>
                            @Html.EditorFor(model => model.RedeemPoints, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01", @value = "0", autocomplete = "off" } })
                        </div>
                    </div>*@
                </div>


            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<input type="button" value="Submit" class="btn btn-primary" onclick="getRedeemPoints(this)" />*@
                    </div>

                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    $(document).keypress(
    function (event) {
    if (event.which == '13') {
    event.preventDefault();
    }
    });

}
