﻿@model POSOman.Models.tbl_Customer

@{
    ViewBag.Title = "Create";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Loyalty Customers</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Customer">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("CreateLoyaltyCustomer", "LoyaltyCards",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Card Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Card No</label>
                                                @Html.EditorFor(model => model.tbl_LoyaltyCard.LoyaltyCardNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.tbl_LoyaltyCard.LoyaltyCardNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div   class="col-md-6">
                                            <div class="form-group">
                                                <label>BarCode</label>
                                                @Html.EditorFor(model => model.tbl_LoyaltyCard.BarCode, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.tbl_LoyaltyCard.BarCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Points On Amount</label>
                                                @Html.EditorFor(model => model.tbl_LoyaltyCard.DiscountOnAmount, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.tbl_LoyaltyCard.DiscountOnAmount, "", new { @class = "text-danger", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Points</label>
                                                @Html.EditorFor(model => model.tbl_LoyaltyCard.DiscountAmount, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.tbl_LoyaltyCard.DiscountOnAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                    <h4 class="form-section"><i class="ft-user"></i> Customer Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Customer Code</label>
                                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name*</label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cell</label>
                                                @Html.EditorFor(model => model.Cell, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Cell, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>
                                  
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                       
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Credit Limit</label>
                                                @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CreditLimit, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Opening Balance</label>
                                                @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.OpeningBalance, "", new { @class = "text-danger" })
                                            </div>
                                        </div>                                        
                                    </div>
                                   
                                </div>
                                    <div class="form-actions">                                       
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-check-square-o"></i> Save
                                        </button>
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    <script type="text/javascript">
$(document).ready(function () {
    // Self Generated Code
        getCode();
        function getCode() {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Customer/getLastCode',
                async: true,
                success: function (data) {
                    {
                        var value = data;
                        var newValue = value.split('-');
                        var increase = newValue[1];
                        increase++;
                        value = "C-" + increase;
                        $("#Code").val(value);
                    }
                },
                error: function (err) { console.log(err); }
            });
        }
});
    </script>
}

