﻿@model IEnumerable<POSOman.Models.tbl_Customer>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Customers</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblCustomer" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Code)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Phone)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_LoyaltyCard.DiscountOnAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_LoyaltyCard.DiscountAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_LoyaltyCard.TotalPoints)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_LoyaltyCard.UsedPoints)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Code)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Phone)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_LoyaltyCard.DiscountOnAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_LoyaltyCard.DiscountAmount)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_LoyaltyCard.TotalPoints)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_LoyaltyCard.UsedPoints)
                                                </td>
                                                
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tblCustomer').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        //if ( printCounter === 1 ) {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Customers List</h4>';

                        //}
                        //else {
                        //    return 'You have printed this document '+printCounter+' times';
                        //}
                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1,2,3,4]
                    }
                }
            ]
        });
    </script>
}
