﻿@model POSOman.Models.tbl_Group

@{
    ViewBag.Title = "Create";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Groups</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Group">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Groups</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>  
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">                   
                    <div class="card-content collpase show">
                        <div class="card-body">
                        @using (Html.BeginForm("Create", "Group",
                                    new { ReturnUrl = ViewBag.ReturnUrl },
                                    FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                        { 
                             @Html.AntiForgeryToken()
                            
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Group Info</h4>                                    
                                    <div class="form-group row">                                        
                                        <label class="col-md-3 label-control" for="projectinput1">Group Name</label>                                                                                
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control" , required = "required" } })
                                            @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Description</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>                                                                    
                                </div>
                                <div class="form-actions">
                                    @*<button type="button" class="btn btn-warning mr-1">
                                        <i class="ft-x"></i> Cancel
                                    </button>*@
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </section>
    <!-- // Striped row layout section end -->
</div>
   
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>