﻿@model IEnumerable<POSOman.Models.tbl_AccountDetails>

@{
    ViewBag.Title = "Bank Accounts";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Bank Accounts</h2>  
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblBankAccount" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AccountName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AccountCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Bank)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BankAccountNo)
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Bank)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BankAccountNo)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblBankAccount').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {

                        //if ( printCounter === 1 ) {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Bank Account List </h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
    </script>
}
