﻿
<!DOCTYPE html>
<html>
<head>

    <title></title>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        .button {
            background-color: #2b72e3;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        #invoice-POS {
            box-shadow: 0 0 1in -0.15in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 150mm;
            background: #FFF;
            :: selection;

        {
            background: #f31544;
            color: #FFF;
        }

        ::moz-selection {
            background: #f31544;
            color: #FFF;
        }



        #top, #mid, #bot { /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }

        #top {
            min-height: 100px;
        }


        table {
            width: 100%;
            border-collapse: collapse;
        }

        .tabletitle {
            font-size: .5em;
            background: #EEE;
        }



        #legalcopy {
            margin-top: 5mm;
        }
    </style>
</head>
<body>

    <div id="invoice-POS">

        @*<center id="top">*@

        <div style="margin-left:100px;">
            <table>
                <tr>
                    <td>
                        <h6 style="font-size:14px; text-align:center;">@ViewBag.CompanyName</h6><img style="padding-top:10px; width:220px;height:100px;" src="@ViewBag.PrintBCode" /><h6 style="font-size:15px; text-align:center">@ViewBag.BarCode</h6><h6 style="font-size:14px; text-align:center;">@ViewBag.PartNo</h6><h6 style="font-size:14px; text-align:center;">Rs  @(Convert.ToDecimal(@ViewBag.Price).ToString("0.00"))  </h6>
                    </td>

                </tr>


            </table>
        </div>
        @*</center>*@
        <!--End InvoiceTop-->


    </div><!--End Invoice-->
    <button id="printdiv" class="button" onclick="printContent('invoice-POS'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <script>
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('tblProducts');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function Back() {
            window.location.href = '/Product';
        }
        function printContent(el) {

            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
            //window.print();
            //document.body.innerHTML = restorepage;
        }

    </script>
</body>

</html>