﻿@model POSOman.Models.DTO.ProductDTO

@{
    ViewBag.Title = "Create";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Services</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Product">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Service</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("CreateService", "Product",
                 new { ReturnUrl = ViewBag.ReturnUrl },
                     FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Product Info</h4>
                                    <div class="row">
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.IsPacket, "Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("IsPacket", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Packet", Value = "true" },
                                                   new SelectListItem{ Text="Item", Value = "false" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.VehicleCodeID, " Head Category", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("VehicleCodeID", new SelectList(ViewBag.Category, "Value", "Name" ,1), "Select Category", htmlAttributes: new { @class = "select2 form-control", id = "VehicleCodeID", required = "required" })
                                            @*@Html.ValidationMessageFor(model => model.VehicleCodeID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        @Html.LabelFor(model => model.VehicleCodeID, "Category", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("SubCategoryID", new SelectList(ViewBag.SubCategory, "Value", "Name"), "Select Sub Category", htmlAttributes: new { @class = "select2 form-control", id = "SubCategoryID" })

                                            @*@Html.ValidationMessageFor(model => model.Cell, "", new { @class = "text-danger" })*@

                                        </div>

                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.VehicleCodeID, "Section", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("SectionID", new SelectList(ViewBag.Section, "Value", "Name"), "Select Section", htmlAttributes: new { @class = "select2 form-control", id = "SectionID" })

                                            @*@Html.ValidationMessageFor(model => model.Cell, "", new { @class = "text-danger" })*@

                                        </div>

                                    </div>

                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.BrandID, "Brand", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("BrandID", null, "Select Brand", htmlAttributes: new { @class = "select2 form-control", id = "BrandID"})
                                            @*@Html.ValidationMessageFor(model => model.VehicleCodeID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.PartNo, "Service", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control", required = "required", id = "Product", autofocus = "autofocus" } })
                                            @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.Description, "Brand", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.Product_Code, "Product Code", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Product_Code, new { htmlAttributes = new { @class = "form-control", id = "ProductCode" } })
                                            @Html.ValidationMessageFor(model => model.Product_Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group row">

                                            @Html.LabelFor(model => model.UnitCodeID, "Unit Code", htmlAttributes: new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9">
                                                @Html.DropDownList("UnitCodeID", null, "Select Unit Code", htmlAttributes: new { @class = "select2 form-control", required = "required" })

                                            </div>
                                        </div>*@
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.IsMinor, "Is Minor?", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("IsMinor", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select", Value = "false" },
                                                   new SelectListItem{ Text="Yes", Value = "true" },
                                                   new SelectListItem{ Text="NO", Value = "false" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.LevelID, "Level", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("LevelID", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select", Value = "0" , Selected = true},
                                                   //new SelectListItem{ Text="Packet", Value = "1" },
                                                   new SelectListItem{ Text="Open Level1", Value = "2" },
                                                   new SelectListItem{ Text="Open Level2", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        @Html.LabelFor(model => model.UnitCode, "Unit Code", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.BarCode, "BarCode", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.BarCode, "BarCode", new { htmlAttributes = new { @class = "form-control", id = "BarCode" } })
                                            @Html.ValidationMessageFor(model => model.BarCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.OpenUnitCode, "Open Unit", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.OpenUnitCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.LeastUnitCode, "Least Unit", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.LeastUnitCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" hidden>
                                        @Html.LabelFor(model => model.UnitPerCarton, "Unit/Pack", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.UnitPerCarton, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.SaleRate, "Price", htmlAttributes: new { @class = "col-md-3 label-control", required = "required" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.SaleRate, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" id="SubmitBtn" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>
       //    $("#SubCategoryID").prop("disabled", true);
        $("#SectionID").prop("disabled", true);

        $('#VehicleCodeID').select2();
        $('#SubCategoryID').select2();
        $('#SectionID').select2();


        $("#VehicleCodeID").change(function () {

            var VehicleCodeID = $('#VehicleCodeID').val();
            $("#SubCategoryID").prop("disabled", false);
            GetSubCat(VehicleCodeID);
            GetDropdown1("SectionID", null, true);

        });



        //Filter GetSubCat on behalf of head cat
        function GetSubCat(HeadCat) {

            if (HeadCat == "") { HeadCat = -1; }
            var json = { "HeadCat": HeadCat };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Product/GetSubCat',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    GetDropdown1("SubCategoryID", data, true);
                    // console.log(data);
                },
                error: function (err) { console.log(err); }
            });
        }

        $("#SubCategoryID").change(function () {
            var SubCategoryID = $('#SubCategoryID').val();
            $("#SectionID").prop("disabled", false);
            GetSection(SubCategoryID);


        });



        //Filter GetSection on behalf of sub cat
        function GetSection(SubCat) {

            if (SubCat == "") { SubCat = -1; }
            var json = { "SubCat": SubCat };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Product/GetSection',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    GetDropdown1("SectionID", data, true);
                    // console.log(data);
                },
                error: function (err) { console.log(err); }
            });
        }





        $('#BrandID').select2();
        document.getElementById("UnitPerCarton").readOnly = false;
        document.getElementById("OpenUnitCode").readOnly = true;
        document.getElementById("LeastUnitCode").readOnly = true;
        $("#UnitPerCarton").val('1');
        $("#IsPacket").on("change", function () {
            var isPack = $("#IsPacket").val();

            //PAcket
            if (isPack == 'true') {
                document.getElementById("UnitPerCarton").readOnly = false;
                document.getElementById("OpenUnitCode").readOnly = false;
                document.getElementById("LeastUnitCode").readOnly = false;
                $("#IsMinor").prop("disabled", false);
                $("#LevelID").prop("disabled", false);
            }
            // Item
            else if (isPack == 'false') {
                document.getElementById("UnitPerCarton").readOnly = true;
                document.getElementById("OpenUnitCode").readOnly = true;
                document.getElementById("LeastUnitCode").readOnly = true;
                $("#IsMinor").prop("disabled", true);
                $("#LevelID").prop("disabled", true);
            }
        });
        $("#IsMinor").on("change", function () {
            var isMinor = $("#IsMinor").val();

            if (isMinor == 'true') {
                document.getElementById("UnitPerCarton").readOnly = true;
                // document.getElementById("OpenUnitCode").readOnly = false;
                $("#UnitPerCarton").val('1');
            }
            // not sold on less unit
            else if (isMinor == 'false') {
                document.getElementById("UnitPerCarton").readOnly = false;
                // document.getElementById("OpenUnitCode").readOnly = true;
            }
        });
        $("#LevelID").on("change", function () {
            var levelID = $("#LevelID").val();

            if (levelID == '1') {
                document.getElementById("OpenUnitCode").readOnly = true;
                document.getElementById("LeastUnitCode").readOnly = true;
            }
            else if (levelID == '2') {
                document.getElementById("OpenUnitCode").readOnly = false;
                document.getElementById("LeastUnitCode").readOnly = true;
            }
            else if (levelID == '3') {
                document.getElementById("OpenUnitCode").readOnly = false;
                document.getElementById("LeastUnitCode").readOnly = false;
            }
        });
    </script>

}
