﻿@model POSOman.Models.tbl_Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubstituteNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubstituteNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>       

        <dt>
            @Html.DisplayName("Vehicle Model")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_VehicleModel.VehicleName)
        </dd>

        <dt>
            @Html.DisplayName("Group")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Group.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
