﻿@model IEnumerable<POSOman.Models.tbl_Product>
@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">General Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th hidden>ID</th>
                                            <th>Item ID</th>
                                            <th> Category </th>
                                            @*<th>Calculation Qty</th>*@
                                            <th> Item Type </th>
                                            <th> Product </th>
                                            <th> Unit Code </th>

                                            <th> Price </th>
                                            <th> Action </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td hidden>@item.ProductID</td>
                                                <td>C-@item.ProductID</td>
                                                <td> @item.tbl_VehicleCode.VehicleCode </td>
                                                @*<td> @item.QtyPerUnit </td>*@
                                                <td>
                                                    @{

                                                        if (item.IsGeneralItem == true && item.IsOffsetItem == false)
                                                        {
                                                            @("General")
                                                        }
                                                        else if (item.IsGeneralItem == false && item.IsOffsetItem == true)
                                                        {
                                                            @("Offset")
                                                        }
                                                        else
                                                        {
                                                            @("Not Defined")
                                                        }

                                                    }
                                                </td>
                                                <td> @item.PartNo </td>
                                                <td> @item.tbl_UnitCode.UnitCode </td>


                                                <td> @item.SaleRate </td>
                                                <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) <text>|</text>
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                                                    </td>
                                            </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script>
    $(document).ready(function () {


        $("#tblProduct").DataTable({
            dom: 'Bfrtip',
            "order": [[0, "desc"]],
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                   return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Product List</h4>';




                    },
                    title: '',
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [1,2,3,4,5,6]
                    }
                }
            ]
        })

        //if ($.fn.DataTable.isDataTable('#tblProduct')) {
        //    $('#tblProduct').dataTable().fnDestroy();
        //    $('#tblProduct').dataTable().empty();
        //}

        @*var complete = $('#tblProduct').DataTable({
            "serverSide": true,
            "destroy": true,
            "processing": true,
            "ajax":
            {
                url: "/Product/ProductList",
                method: "POST"
            },
            "columns": [
                { "data": "ProductID", "visible": false, "searchable": false },
                { "data": "Brand" },
                { "data": "Head" },
                { "data": "SubCategory" },
                { "data": "Section" },
                { "data": "PartNo" },
                { "data": "Description" },
                { "data": "BarCode" },
                { "data": "SaleRate" },
                {
                    "title": "Action",
                    "data": "ProductID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        return '<a href="@Url.Action("Edit","Product")?id=' + data + '">Edit</a>| <a href="@Url.Action("PrintBarCode","Product")?id=' + data + '">Print BarCode</a>| <a href="@Url.Action("Delete","Product")?id=' + data + '">Delete</a> ';
                    }
                }
            ],
            "targets": 'no-sort',
            "bSort": false,
            "order": [],
            dom: 'frtip',
        });*@

        //var itm = $("#tblProduct_filter input")

        //itm.unbind();
        //itm.keyup(function (e) {
        //    //enter or tab
        //    if (e.keyCode == 13) {
        //       complete.search(this.value).draw();
        //    }
        //});


    });
    </script>
}

