﻿@model IEnumerable<POSOman.Models.tbl_Product>

@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>                                            
                                            <th>
                                                @Html.DisplayName("Category")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Product")
                                            </th>
                                            
                                            <th>
                                                @Html.DisplayName("BarCode")
                                            </th>
                                            @*<th>
                                                @Html.DisplayName("Unit/Ctn")
                                            </th>*@
                                            <th hidden>
                                                @Html.DisplayName("Unit Code")
                                            </th> 
                                            <th>
                                                @Html.DisplayName("Sale Price")
                                            </th>                                           
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_VehicleCode.VehicleCode)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PartNo)
                                                    </td>                                                    
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BarCode)
                                                    </td>                                                                                                     
                                                    <td hidden>
                                                        @Html.DisplayFor(modelItem => item.UnitCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SaleRate)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })|
                                                        @Html.ActionLink("Print BCode", "PrintBarCode", new { id = item.ProductID })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
   <script type="text/javascript">
            $('#tblProduct').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        messageTop: function () {
                            return '<h3 align="center">Products List</h3>';
                            //return '<h3 align="center" style="margin-top:208px; margin-bottom:76px;">Products List</h3>';
                        },
                        title :'',
                        messageBottom: 'Developed By : MangoTech Solutions',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                         {
                             extend: 'excel',
                             messageTop: 'Products List',
                             messageBottom: 'Developed By : MangoTech Solutions',
                             exportOptions: {
                                 columns: [0, 1, 2]
                             }
                         }
                ]
            });
        </script>
}
