﻿@model IEnumerable<POSOman.Models.tbl_Product>

@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                ProductID
                                            </th>
                                            <th>
                                                VehicleCode
                                            </th>

                                            <th>
                                                GroupName
                                            </th>
                                            <th>
                                                VehicleModel
                                            </th>
                                            <th>
                                                PartNo
                                            </th>
                                            <th>
                                                ink Color
                                            </th>
                                            <th>
                                                SubstituteNo
                                            </th>
                                            <th>
                                                UnitCode
                                            </th>
                                            <th>
                                                SaleRate
                                            </th>
                                            <th>
                                                Location
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    @*<tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_VehicleCode.VehicleCode)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PartNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SubstituteNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_VehicleModel.VehicleName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_Group.GroupName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.UnitCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SaleRate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Location)
                                                    </td>


                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>*@

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    @*<script type="text/javascript">
            $('#tblProduct').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        messageTop: function () {
                            return '<h3 align="center">Products List</h3>';
                            //return '<h3 align="center" style="margin-top:208px; margin-bottom:76px;">Products List</h3>';
                        },
                        title :'',
                        messageBottom: 'Developed By : MangoTech Solutions',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                         {
                             extend: 'excel',
                             messageTop: 'Products List',
                             messageBottom: 'Developed By : MangoTech Solutions',
                             exportOptions: {
                                 columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                             }
                         }
                ]
            });
        </script>*@
    @*<script>
            $(document).ready(function () {
                if ($.fn.DataTable.isDataTable('#tblProduct')) {
                            $('#tblProduct').dataTable().fnDestroy();
                            $('#tblProduct').dataTable().empty();

                        }
                    $("#tblProduct").DataTable({
                        "processing": true, // for show progress bar
                        "serverSide": true, // for process server side
                        "filter": false, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once
                        "ajax": {
                            "url": "/Product/LoadData",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columns": [
                                { "data": "PartNo", "name": "PartNo", "autoWidth": true },
                                { "data": "Description", "name": "Description", "autoWidth": true },
                                { "data": "SubstituteNo", "name": "SubstituteNo", "autoWidth": true },
                                { "data": "VehicleName", "name": "VehicleName", "autoWidth": true },
                                { "data": "GroupName", "name": "GroupName", "autoWidth": true },
                                { "data": "UnitCode", "name": "UnitCode", "autoWidth": true },
                                { "data": "SaleRate", "name": "SaleRate", "autoWidth": true },
                                { "data": "Location", "name": "Location", "autoWidth": true }
                        ]
                    });
                });
        </script>*@
    <script>
    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tblProduct')) {
            $('#tblProduct').dataTable().fnDestroy();
            $('#tblProduct').dataTable().empty();
        }
        var complete = $('#tblProduct').DataTable(
                {
                    "serverSide": true,
                    "destroy": true,
                    "processing": true,
                    "ajax":
                    {
                        url: "/Product/ProductList",
                        method: "POST"
                    },
                    "columns": [
                         { "data": "ProductID", "visible": false, "searchable": false },
                        {"data": "VehicleCode" },
                        {"data": "GroupName" },
                        {"data": "VehicleModel"   },
                       { "data": "PartNo" },
                       { "data": "Description" },
                        { "data": "SubstituteNo" },
                       { "data": "UnitCode" },
                        { "data": "SaleRate" },
                         { "data": "Location" },
                         {
                             "title": "Edit",
                             "data": "ProductID",
                             "searchable": false,
                             "sortable": false,
                             "render": function (data, type, full, meta) {
                                 return '<a href="@Url.Action("Edit","Product")?id=' + data + '">Edit</a>|                    <a href="@Url.Action("Delete","Product")?id=' + data + '">Delete</a>';
                             }
                         }
                    ],
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    dom: 'Bfrtip',
            buttons: [
        {
            extend: 'print',
            messageTop: function () {
                return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Products List</h4>';

                //return '<h3 align="center" style="margin-top:208px; margin-bottom:76px;">Products List</h3>';
            },
        title :'',
        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>'  ,
        exportOptions: {
            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
        }
    },
                     {
                         extend: 'excel',
                         messageTop: 'Products List',
                         messageBottom: 'Developed By : MangoTech Solutions',
                         exportOptions: {
                             columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                         }
                     }
    ]
                }

            );

        var itm = $("#tblProduct_filter input")

        itm.unbind();
        itm.keyup(function (e) {
            //enter or tab
            if (e.keyCode == 13) {
                complete.search(this.value).draw();
            }
        });


    });
    </script>
}