﻿@model IEnumerable<POSOman.Models.tbl_Product>
@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblTax" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Catergory
                                            </th>

                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                BarCode
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_VehicleCode.VehicleCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PartNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BarCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SaleRate)
                                                </td>




                                                
                                            </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script>
    $(document).ready(function () {

            
        var complete = $('#tblTax').DataTable();

      
   


    });
    </script>
}

