﻿@model IEnumerable<POSOman.Models.tbl_Product>
@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Service</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblTax" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Catergory
                                            </th>

                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                BarCode
                                            </th>
                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_VehicleCode.VehicleCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PartNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BarCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SaleRate)
                                                </td>




                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tblTax').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Taxes List</h4>';
                    },
                    title: '',
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0,1,2,3]
                    }
                }
            ]
        });

    </script>
}
