﻿
<h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
<hr />

<div class="row">
    <form id="ProductForm" name="ProductForm">
        <div hidden class="col-sm-2">
            <label>Category</label>
            <br />
            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.Category, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
        </div>
        <div class="col-md-2">
            <label>Department</label>
            <br>
            <input type="text" class="form-control" placeholder="Department" id="productDepartment" disabled />
        </div>
        <div class="col-sm-2">
            <label>Unit Code</label>
            <br />
            <input type="text" class="form-control" placeholder="UC" id="productUnitCode" disabled />
        </div>
        <div class="col-md-2">
            <label>Product</label>
            <br />
            @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
        </div>

        <div class="col-md-2">
            <label>Qty</label>
            <br />
            <input type="number" min="0" class="form-control Calc" placeholder="Qty" id="Qty" />
        </div>

        <div class="col-md-2">
            <label>Stock Qty</label>
            <br />
            <input type="text"  class="form-control Calc" placeholder="Stk Qty" id="StkQty" disabled />
        </div>

        <div class="col-sm-1">
            <label>Action</label>
            <input type="button" class="btn btn-round" value="Add" id="addRow">
        </div>
    </form>
</div>


<div>
    <table id="tblProduct" class="table table-striped table-bordered dynamic-height" style="margin-top:1%; display: block; overflow-x: auto; white-space: nowrap;">
        <thead>
            <tr>
                <th>Select</th>
               
                <th hidden>ProductID</th>
                <th>Product</th>
                
                <th>Issue Qty</th>
               
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

