﻿@model IEnumerable<POSOman.Models.DTO.StkIssuance>
    @using POSOman.Models
@{ 
    var db = new dbPOS();
}
<div class="card-content collapse show">
    <div class="row">

        @if (Model != null)
            {
                decimal totCost = 0;
                decimal Cost = 0;
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order #</th>
                        <th>
                            Category
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            RawProducts
                        </th>
                        <th>
                            Raw Product UC
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Machine
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Cost Price
                        </th>
                        <th>
                            Total Cost Price
                        </th>


                        <th>
                            Department
                        </th>


                        @*<th>
            Issuance Date
        </th>*@


                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StkIssuanceDate)) </td>

                        <td>

                            @{
                                if (item.OrderID <= 0)
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.OrderID)
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (string.IsNullOrWhiteSpace(item.Category))
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Category)
                                }
                            }

                        </td>
                        <td>
                            @{
                                if (string.IsNullOrWhiteSpace(item.ItemName))
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.ItemName)
                                }
                            }

                        </td>
                        <td>
                            @{
                                if (string.IsNullOrWhiteSpace(item.RawProductList))
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.RawProductList)
                                }
                            }

                        </td>
                        <td>
                            @{
                                if (string.IsNullOrWhiteSpace(item.RawProductUnitCodeList))
                                {
                                    @("-")
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.RawProductUnitCodeList)
                                }
                            }
                        </td>
                        <td>
                           @(string.IsNullOrWhiteSpace(item.Note)?"-":item.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Machine)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>

                            @{


                                //if (item.CostPrice <= 0)
                                //{
                                decimal stkPrice = db.tbl_StockIssuanceDetails.Where(x => x.tbl_StockIssuance.ItemID == item.ItemID && x.StkOrderID > 0 && x.StkOrderID == item.ID && x.IsDeleted != true).Sum(x => x.CostPrice);
                                if (stkPrice > 0)
                                {

                                    @((stkPrice).ToString("#.##"))
                                    Cost = stkPrice;
                                }
                                else
                                {
                                    @((item.CostPrice).ToString("#.##"))
                                    Cost = item.CostPrice;
                                }

                                

                                @*}
                else
                {
                    @((item.CostPrice).ToString("#.##"))
                    Cost = item.CostPrice;
                }*@
                            }


                        </td>
                        <td>
                            @{
                                //totCost += Convert.ToDecimal(Cost * item.Qty);
                                totCost += Convert.ToDecimal(item.CostPrice);
                            }
                            @*@((Convert.ToDecimal(Cost * item.Qty)).ToString("#.##"))*@
                            @((Convert.ToDecimal(item.CostPrice)).ToString("#.##"))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>

                        @*<td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StkIssuanceDate)) </td>*@

                        <td>

                            @{
                                if (item.OrderID > 0)
                                {
                                    @Html.ActionLink("Details", "StkIssuanceDetails", new { OrderID = item.OrderID, ItemID = item.ItemID, StkOrderID = (dynamic)null })
                                }
                                else
                                {
                                    @Html.ActionLink("Details", "StkIssuanceDetails", new { OrderID = (dynamic)null, ItemID = (dynamic)null, StkOrderID = item.ID })

                                }
                                <text>|</text> @Html.ActionLink("Delete", "Delete", new { ID = item.ID })

                            }

                            @*@Html.ActionLink("Batch", "FIFOStock", new { id = item.ProductID, BranchID = item.BranchID })*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div>
                <input class="form-control" id="totalCost" value="@totCost.ToString("#.##")" readonly />
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
