﻿@model POSOman.Models.tbl_SalesOrder

@{
    ViewBag.Title = "Create";
}

<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Stock Issuance</h4>
                                    <div class="row">

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label> Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Job Order</label>
                                            <br>
                                            @Html.DropDownList("OrderID", new SelectList(ViewBag.JobOrder, "Value", "Name"), "Select", htmlAttributes: new { @class = "form-control" })
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Item</label>
                                            <br>
                                            @Html.DropDownList("ItemID", new SelectList(ViewBag.Item, "Value", "Name"), "Select", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Department</label>
                                            <br>
                                            @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Department, "Value", "Name"), "Select", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Machine</label>
                                            <br>
                                            @Html.DropDownList("OrderMachineID", new SelectList(ViewBag.OrderMachine, "Value", "Name"), "Select", htmlAttributes: new { @class = "form-control" })
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Description</label>
                                            <br>
                                            <input type="text" class="form-control" id="description" placeholder="add description"/>
                                        </div>

                                    </div>

                                    @Html.Partial("~/Views/StockIssuance/_AddProduct.cshtml")

                                    <hr />
                                   

                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right" style="margin-top:1%;">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById('SalesDate').valueAsDate = new Date();
        $('#OrderID').select2();
        $('#ItemID').select2();
        $('#DepartmentID').select2();
        $('#OrderMachineID').select2();
        $('#ddlPartNumber').select2();
    </script>

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/stockIssuance/StockIssuance.js"></script>
    <script src="~/Scripts/stockIssuance/StockIssuanceDetails.js"></script>
}
