﻿@model IEnumerable<POSOman.Models.DTO.StkIssuance>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>STOCK ISSUANCE </h2> <br />
                                         <div class="form-row">


                                             <div class="col-md-2 mb-3">
                                                 <label>Item</label>
                                                 <div class="input-group">
                                                     @Html.DropDownList("ItemID", new SelectList(ViewBag.Item, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                                                 </div>
                                             </div>

                                             <div class="col-md-2 mb-3">
                                                 <label>Raw Product</label>
                                                 <div class="input-group">
                                                     @Html.DropDownList("RawProductID", new SelectList(ViewBag.RawProduct, "Value", "Name"), "All ", htmlAttributes: new { @class = "select2 form-control" })
                                                 </div>
                                             </div>
                                             <div class="col-md-2 mb-3">
                                                 <label>Department</label>
                                                 <div class="input-group">
                                                     @Html.DropDownList("DeptID", new SelectList(ViewBag.Department, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                                                 </div>
                                             </div> 
                                             <div class="col-md-2 mb-3">
                                                 <label>Machine</label>
                                                 <div class="input-group">
                                                     @Html.DropDownList("OMachineID", new SelectList(ViewBag.OrderMachine, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                                                 </div>
                                             </div>
                                             <div class="col-md-2 mb-3">
                                                 <label>Order #</label>
                                                 <div class="input-group">
                                                     <input class="form-control" id="OrderNumber" placeholder="Order #" />
                                                 </div>
                                             </div>

                                             <div class="form-group mb-1 col-sm-8 col-md-2">
                                                 <label>From Date</label>
                                                 <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                                             </div>
                                             <div class="form-group mb-1 col-sm-8 col-md-2">
                                                 <label>To Date</label>
                                                 <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                                             </div>
                                             <div class="col-md-2 mb-3">
                                                 <label></label>
                                                 <div class="input-group">
                                                     <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                                 </div>
                                             </div>


                                         </div>

                <div id="SearchResult">
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

        $("#ItemID").select2();
        $("#RawProductID").select2();
        $("#DeptID").select2();

    $("#btnSearch").on("click", function () {
        uiBlock();
        var productID = $('#RawProductID').val();
        var ItemID = $('#ItemID').val();
        var DeptID = $('#DeptID').val();
        var MachineID = $('#OMachineID').val();
        var OrderID = $('#OrderNumber').val()||null;
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        
        var html = "<h3 align=center>Stock Issuance Report</h3><br/>";
        //var date = new Date();
        //var day = date.getDate(); //Date of the month: 2 in our example
        //var month = date.getMonth() + 1; //Month of the Year: 0-based index, so 1 in our example
        //var year = date.getFullYear()
       // html += "<h3 align=center>As On:  " + year + '/' + month + '/' + day + "</h4>";
       
 $.ajax({
            url: "@Url.Action("Index", "StockIssuance")",
            data: {
                btn: true,
                ProductID: productID,
                ItemID: ItemID,
                OrderID: OrderID,
                DeptID: DeptID,
                MachineID: MachineID,
                fromDate: fromDate,
                toDate: toDate
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblStock').dataTable({
                        //footerCallback: function (row, data, start, end, display) {
                        //    var api = this.api(), data;
                        //    // Remove the formatting to get integer data for summation
                        //    var intVal = function (i) {
                        //        return typeof i === 'string' ?
                        //            i.replace(/[\$,]/g, '') * 1 :
                        //            typeof i === 'number' ?
                        //            i : 0;
                        //    };
                        //    totalCost = api
                        //        .column(12)
                        //        .data()
                        //        .reduce(function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0);
                        //    totalPrice = api
                        //       .column(13)
                        //       .data()
                        //       .reduce(function (a, b) {
                        //           return intVal(a) + intVal(b);
                        //       }, 0);
                        //    $('#StockCost').val(parseFloat(totalCost).toFixed(2));
                        //    $('#StockSale').val(parseFloat(totalPrice).toFixed(2));
                        //},
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    var StockCost = $('#totalCost').val()||0;

                                    var StockSale = $('#StockSale').val() || 0;
                                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Stock Issuance Report</h4>';
                                    html += "<br/><h5>Total Cost:" + StockCost+"</h5>";
                                  //  html += "<h5>Total Sale Cost:" + StockSale+"</h5><br/>";
                                    return html;

                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Stock Issuance Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11]
                                }
                            }
                        ]
                    });

                }
        });
        //}

    });
    </script>
    <script type="text/javascript">
        $("#ddlVehCode").change(function () {
            var vehCodeID = $('#ddlVehCode').val();
           // console.log(vehCodeID);
            if (vehCodeID == "")
            { vehCodeID = -1; }
            geProductByVehCode(vehCodeID);

        });

        function geProductByVehCode(vehCodeID) {

            if (vehCodeID == "")
            { vehCodeID = -1; }
            var json = { "VehicleCodeID": vehCodeID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Stock/GetProductsList',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                   // console.log(data[0].qry);
                    GetDropdown1("PartNo", data[0].qry, true);
                },
                error: function (err) { console.log(err); }
            });
        }

    $('#ddlVehCode').select2();
    $('#OMachineID').select2();

    $('#Branch').select2();
        $('#PartNo').select2();


        $("#DeptID").change(function () {
            let deptID = +$("#DeptID").val() || 0;

            var json = { "DeptID": deptID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/GetDeptartmentWiseMachineList',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    // console.log(data)
                    if (data.length > 0) {

                        GetDropdown1('OMachineID', data, true);
                    }
                },
                error: function (err) { console.log(err); }
            });

        });


    </script>
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
