﻿
@{
    ViewBag.Title = "UploadCustomerExcel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Customer Excel</h2>
<div class="col-md-8">
    <label>Upload Excel (Col A Name = Name, Col B Name = Address, Col C Name = Phone, Col D Name = NTN, , Col E Name = STN)</label>
    <input type="file" id="fileInput">
    <br />
    <input type="button" class="btn btn-round" value="Import Excel" id="btnImportExcel">
</div>

@section scripts{

    <script>
         $("#btnImportExcel").click(function () {

             console.log("pressedbtn");
             uiBlock();
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('fileInput');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
             xhr.open('POST', '/Generic/UploadBulkCustomerViaExcel');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log("success");
                    uiUnBlock();
                    //for (var i in xhr.responseText) {
                    //    console.log(i)
                    //}
                    var resp = JSON.parse(xhr.responseText);
                    console.log(resp);
                    if (resp == "1") {
                        alert("data updated!");
                    }
                    else {
                        alert("data failed to update!");
                    }

                }
            }
            return false;
        })
    </script>

}

