﻿﻿@model IEnumerable<POSOman.Models.tbl_OrderMachineTypes>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">

    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Order Machine Types</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblCustomer" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TypeName)
                                            </th>
                                           

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TypeName)
                                                </td>
                                              
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tblCustomer').DataTable({
            dom: 'frtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        //if ( printCounter === 1 ) {

      return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Customer List</h4>';

                        //}
                        //else {
                        //    return 'You have printed this document '+printCounter+' times';
                        //}
                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1,3,4, 5]
                    }
                }
            ]
        });
    </script>
}
