﻿@model IEnumerable<POSOman.Models.tbl_Product>

@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                ProductID
                                            </th>
                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Product
                                            </th>

                                            <th>
                                                BarCode
                                            </th>

                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script>
    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tblProduct')) {
            $('#tblProduct').dataTable().fnDestroy();
            $('#tblProduct').dataTable().empty();
        }
        var complete = $('#tblProduct').DataTable(
                {
                    "serverSide": true,
                    "destroy": true,
                    "processing": true,
                    "ajax":
                    {
                        url: "/ProductSetup/ProductList",
                        method: "POST"
                    },
                    "columns": [
                         { "data": "ProductID", "visible": false, "searchable": false },
                        {"data": "VehicleCode" },

                       { "data": "PartNo" },
                       { "data": "BarCode" },
                       { "data": "SaleRate" },

                         {
                             "title": "Image",
                             "data": "ImageUrl",
                             "searchable": false,
                             "sortable": false,
                             "render": function (data, type, full) {
                                 //if (data == null) {
                                 //    return '<img src="https://linkToADefaultImage.png"></>';
                                 //} else
                                 {
                                     return '<img src="http://product.mangotech-erp.com' + data + '"></>';
                                 }
                             }
                         }
                    ],
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    dom: 'frtip',
    //        buttons: [
    //    {
    //        extend: 'print',
    //        messageTop: function () {
    //            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Products List</h4>';

    //            //return '<h3 align="center" style="margin-top:208px; margin-bottom:76px;">Products List</h3>';
    //        },
    //    title :'',
    //    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>'  ,
    //    exportOptions: {
    //        columns: [ 1, 2, 3,4]
    //    }
    //},
    //                 {
    //                     extend: 'excel',
    //                     messageTop: 'Products List',
    //                     messageBottom: 'Developed By : MangoTech Solutions',
    //                     exportOptions: {
    //                         columns: [ 1, 2, 3,4]
    //                     }
    //                 }
    //]
                }

            );

        var itm = $("#tblProduct_filter input")

        itm.unbind();
        itm.keyup(function (e) {
            //enter or tab
            if (e.keyCode == 13) {
                complete.search(this.value).draw();
            }
        });


    });
    </script>
}