﻿@model IEnumerable<POSOman.Models.GetFilterProducts_Result>

@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="btnAll" onclick="location.href='@Url.Action("ProductFilterList", "ProductSetup", new { Filter = 1 })'"><i class="fa fa-check-square-o"></i>All</button>
                </div>
            </div>
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="btnWithImages" onclick="location.href='@Url.Action("ProductFilterList", "ProductSetup", new { Filter = 2 })'"><i class="fa fa-check-square-o"></i>With Images</button>
                </div>
            </div>
            <div class="form-group mb-1 col-sm-12 col-md-2">
                <div class="input-group">
                    <button type="button" class="btn btn-primary" id="btnWithOutImages" onclick="location.href='@Url.Action("ProductFilterList", "ProductSetup", new { Filter = 3 })'"><i class="fa fa-check-square-o"></i>WithOut Images</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Products</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>

                                            <th>
                                                Category
                                            </th>
                                            <th>
                                                Product
                                            </th>

                                            <th>
                                                BarCode
                                            </th>

                                            <th>
                                                Price
                                            </th>
                                            <th>
                                                Image
                                            </th>
                                        </tr>
                                    </thead>
                                    @if (Model != null)
                                    {
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VehicleCode)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PartNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BarCode)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SaleRate)
                                                    </td>
                                                    <td>
                                                        <img src=@item.ImageUrl alt="" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    }
                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
<script>
    $('#tblProduct').DataTable();
    </script>
    
   
}