﻿@model POSOman.Models.tbl_ProductDetail

@{
    ViewBag.Title = "Create";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Product</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Employee">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Product</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Image</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("UploadPicture", "ProductSetup",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Product Info</h4>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.ProductID, "Product", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("ProductID", new SelectList(""), "Product", htmlAttributes: new { @class = "select2 form-control", @id = "ddlProduct", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            </div>
                                            
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                <label>Picture</label>
                                                <div class="col-md-9">
                                                    <div class="input-group col-md-10" style="margin-left: 15px; max-width: 280px;">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary">
                                                                Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept="image/*" style="display: none;" multiple />
                                                            </span>
                                                        </label>
                                                        <input type="text" class="form-control" readonly>
                                                    </div>
                                                    <span style="color:red;" class="errorProfile col-md-12"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                                </div>
                                <div class="form-actions">
                                    
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts
    {
   

    <script type="text/javascript">
        $(function () {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function () {
                $(':file').on('fileselect', function (event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
            });

        });
        $(document).ready(function () {
            //var vehCodeID = $('#ddlVehCode').val();
            var vehCodeID = null;
            //The url we will send our get request to
            var valueUrl = '@Url.Action("GetValues", "Product")';
            // if (vehCodeID > 0) {
            $('#ddlProduct').select2(
              {
                  placeholder: 'Enter Product',
                  //Does the user have to enter any data before sending the ajax request
                  minimumInputLength: 0,
                  allowClear: true,
                  ajax: {
                      //How long the user has to pause their typing before sending the next request
                      delay: 200,
                      //The url of the json service
                      url: '/Product/GetValues',
                      dataType: 'json',
                      async: true,
                      //Our search term and what page we are on
                      data: function (params) {
                          return {
                              pageSize: 500,
                              pageNum: params.page || 1,
                              searchTerm: params.term,
                              //Value from client side.
                              countyId: null
                          };
                      },
                      processResults: function (data, params) {
                          params.page = params.page || 1;
                          return {
                              results: $.map(data.Results, function (obj) {
                                  return { id: obj.ProductID, text: obj.PartNo };
                              }),
                              pagination: {
                                  more: (params.page * 500) <= data.Total
                              }
                          };
                      }
                  }
              });
        });
        function Upload() {
            //Get reference of FileUpload.
            var fileUpload = document.getElementById("img");

            //Check whether the file is valid Image.
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {

                //Check whether HTML5 is supported.
                if (typeof (fileUpload.files) != "undefined") {
                    //Initiate the FileReader object.
                    var reader = new FileReader();
                    //Read the contents of Image File.
                    reader.readAsDataURL(fileUpload.files[0]);
                    reader.onload = function (e) {
                        //Initiate the JavaScript Image object.
                        var image = new Image();

                        //Set the Base64 string return from FileReader as source.
                        image.src = e.target.result;

                        //Validate the File Height and Width.
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            //if (height > 200 || width > 175) {
                            //    $(".errorProfile").text("Height and Width must not exceed 175x200.")
                            //    //alert("Height and Width must not exceed 200x175.");
                            //    return false;
                            //}
                            $(".errorProfile").text("")
                            //alert("Uploaded image has valid Height and Width.");
                            return true;
                        };

                    }
                } else {
                    $(".errorProfile").text("This browser does not support HTML5.")
                    //alert("This browser does not support HTML5.");
                    return false;
                }
            } else {
                $(".errorProfile").text("Please select a valid Image file.")
                //alert("Please select a valid Image file.");
                return false;
            }
        }
    </script>

}