﻿@model POSOman.Models.tbl_UnitCode

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Unit Codes</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/UnitCode">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Unit Code</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "UnitCode",
 new { ReturnUrl = ViewBag.ReturnUrl },
     FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Unit Code</h4>
                                    <div class="row">
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                  
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.TypeID,"Product Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model=>model.TypeID,  new SelectList(ViewBag.TypeID,"Value","Name"), htmlAttributes: new { @class = "select2 form-control" })
                                            @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                                        </div>

                                        @Html.LabelFor(model => model.UnitCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.UnitCode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.UnitCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>  
                                </div>
                                <div class="form-actions">
                                    <button type="submit" id="SubmitBtn" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
