﻿@model IEnumerable<POSOman.Models.tbl_UnitCode>
@using POSOman.Models;

@{
    dbPOS db = new dbPOS();

}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Unit Codes</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Product Type")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Unit Code")
                                            </th>

                                            <th>
                                                Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @if (item.TypeID == 1)
                                                    {
                                                        @("Raw Products")
                                                    }
                                                    else if (item.TypeID == 2)
                                                    {
                                                        @("Items")
                                                    }
                                                    else
                                                    {
                                                        @("-")
                                                    }

                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UnitCode)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.UnitCodeID })

                                                    @{
                                                        if (db.tbl_Product.Any(x => x.UnitCodeID == item.UnitCodeID ) == false)
                                                        {
                                                            <text>|</text>
                                                            @Html.ActionLink("Delete", "Delete", new { id = item.UnitCodeID })
                                                        }
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script>
        $('#tblProduct').dataTable({

                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {

                                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Unit Codes</h4>';

                                   return html;

                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Unit Codes';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1]
                                }
                            }
                        ]
                    });
    </script>
}
