﻿@using Microsoft.AspNet.Identity
@using POSOman.Models;
@{

    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();


}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title >
        @{
            string getEnv = System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("P") ? adddata.Title : System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("Q") ? adddata.Title + " | Test Environment" : System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("L") ? adddata.Title + " | Local Environment" : adddata.Title + " | Not Defined"; }
        
@getEnv
    </title>
    <link rel="apple-touch-icon" href="~/Content/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="@adddata.Logo">


    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!-- END Custom CSS-->
    <!-- Added By Zeeshan for dt testing-->
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
    <!-- Added By Zeeshan for dt testing-->

    <link rel="stylesheet" type="text/css" href="~/Content/css/ErrorMessage.css" />
    @*<link href="~/assets/css/hoverbutton.css" rel="stylesheet" />*@
    <script src="~/Scripts/customScripts/general.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/vendor/js/vendors.min.js" type="text/javascript"></script>*@

    <style>
        table.dataTable tbody tr.myeven {
            background-color: white;
        }

        table.dataTable tbody tr.myodd {
            background-color: #A5C562;
        }
    </style>

</head>
<body data-open="click" data-menu="horizontal-menu" data-col="2-columns" class="horizontal-layout horizontal-menu 2-columns   menu-expanded">

    <nav class="header-navbar navbar-expand-sm navbar navbar-with-menu navbar-semi-dark navbar-shadow bg-amber bg-lighten-5 border-amber border-lighten-2">
        <div class="navbar-wrapper">
            <div class="navbar-header" style="background-color:transparent;">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a href=@Url.Action("Index", "Home") class="navbar-brand" style="padding-top:5px;">


                            <img alt="stack admin logo" src="@adddata.Logo" class="brand-logo" style="width:50%;">
                            <h4 class="brand-text" style="color:black; font-size:16px; padding-left:0px; margin-left:-8px; ">
                                @*@adddata.Title  @(adddata.OtherDetail ?? "-")*@
                                @{
                                    string getTitle = System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("P") ? adddata.Title + adddata.OtherDetail ?? "-" : System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("Q") ? adddata.Title + " | Test Environment" : System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"].ToString().Equals("L") ? adddata.Title + " | Local Environment" : adddata.Title + " | Not Defined"; }


                                <span >@getTitle</span> 
                            </h4>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content" @*onclick="returnToHome()"*@>
                <div id="navbar-mobile" class="collapse navbar-collapse" style="padding-left:30px;">
                    <ul class="nav navbar-nav mr-auto float-left">
                        @*<li class="nav-item d-none d-md-block"><a href="@Url.Action("Index", "Home")" class="nav-link"><i class="ft-home"></i></a></li>
                            <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu"></i></a></li>*@
                    </ul>
                    <ul class="nav navbar-nav float-right">
                        @*<li class="dropdown dropdown-notification nav-item" style="width:200px; text-align:right;">
                                <img alt="stack admin logo" src="@adddata.Logo" class="brand-logo" style="width:60%;">
                            </li>*@
                        <li class="dropdown dropdown-notification nav-item"> </li>

                        <li class="dropdown dropdown-user nav-item">
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                        <span class="avatar avatar-online">
                                            <img src="~/Content/images/portrait/small/avatar.jpg" alt="Profile" /><i></i>
                                        </span>
                                        <span class="user-name">@User.Identity.GetUserName()</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href='@Url.Action("Index", "Home")' style="cursor:pointer;" class="dropdown-item"><i class="ft-home"></i>Dashboard</a>
                                        @if (@User.IsInRole("Admin") || @User.IsInRole("SuperAdmin"))
                                        {
                                            <a href="/Account/Register" class="dropdown-item"><i class="ft-user-plus"></i> Register User </a>
                                        }
                                        <a href="/Manage/ChangePassword" class="dropdown-item"><i class="ft-user"></i>Change Password</a>
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="ft-power"></i>Log off</a>
                                    </div>
                                }
                            }
                            else
                            {
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                    <span class="avatar avatar-online">
                                        <img src="~/Content/images/portrait/small/avatar-s-1.png" alt="avatar"><i></i>
                                    </span>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <i class="ft-log-in"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

                                    </div>
                                    <span class="user-name"></span>
                                </a>
                            }

                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- Horizontal navigation-->
    @if (Request.IsAuthenticated)
    {



        string userID = User.Identity.GetUserId().ToString();

        int roleId = Convert.ToInt32(db.AspNetUserRoles.Where(u => u.UserId == userID).Select(r => r.RoleId).FirstOrDefault());

        var userMenuList = db.tbl_UserMenuDetails.Where(x => x.RoleID == roleId).Where(x => x.tbl_UserMenu.IsDeleted != true).Select(x => new { MenuName = x.tbl_UserMenu.MenuDescription, x.MenuID, HeadID = x.tbl_UserMenu.MenuHeadID, ActionName = x.tbl_UserMenu.ActionName, ControllerName = x.tbl_UserMenu.ControllerName, OptionalData = x.tbl_UserMenu.OptionalData }).ToList();


        if (userMenuList.Count > 0)
        {
            <div role="navigation" data-menu="menu-wrapper" class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-shadow menu-border">
                <!-- Horizontal menu content-->
                <div data-menu="menu-container" class="navbar-container main-menu-content">
                    <!-- include ~/Content/includes/mixins-->
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="nav navbar-nav">



                        @foreach (var userMenu in userMenuList)
                        {
                            if (userMenu.HeadID == null)
                            {
                                var subMenus = userMenuList.Where(x => x.HeadID == userMenu.MenuID).ToList();


                                if (subMenus.Count > 0)
                                {

                                    <li data-menu="dropdown" class="dropdown nav-item">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-monitor"></i><span>@userMenu.MenuName</span></a>
                                        <ul class="dropdown-menu">

                                            @foreach (var subMenu in subMenus)
                                            {


                                                if (userMenuList.Any(x => x.HeadID == subMenu.MenuID))
                                                {
                                                    var subMenuItems = userMenuList.Where(x => x.HeadID == subMenu.MenuID).OrderBy(x => x.MenuID).ToList();// if submenu has more items
                                                    if (subMenuItems.Count > 0)
                                                    {
                                                        <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
                                                            <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">@subMenu.MenuName</a>
                                                            <ul class="dropdown-menu">
                                                                @foreach (var subMenuItem in subMenuItems)
                                                                {
                                                                    if (userMenuList.Any(x => x.HeadID == subMenuItem.MenuID))
                                                                    {

                                                                        <li data-menu="dropdown" class="dropdown dropdown-submenu">
                                                                            <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">@subMenuItem.MenuName</a>
                                                                            <ul class="dropdown-menu">

                                                                                @{
                                                                                    var subMenuItemMenuItems = userMenuList.Where(x => x.HeadID == subMenuItem.MenuID).ToList();

                                                                                    if (subMenuItemMenuItems.Count > 0)
                                                                                    {
                                                                                        foreach (var subItem in subMenuItemMenuItems)
                                                                                        {
                                                                                            <li data-menu="">
                                                                                                <a href="@Url.Action(subItem.ActionName, subItem.ControllerName)" data-toggle="dropdown"
                                                                                                   class="dropdown-item">@subItem.MenuName</a>


                                                                                            </li>
                                                                                        }


                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        </li>
                                                                    }

                                                                    else
                                                                    {
                                                                        if (subMenuItem.HeadID == 143)
                                                                        {
                                                                            <a href="@Url.Action(subMenuItem.ActionName, subMenuItem.ControllerName,new { reportId = subMenuItem.OptionalData})" data-toggle="dropdown"
                                                                               class="dropdown-item">@subMenuItem.MenuName</a>
                                                                        }
                                                                        else if (subMenuItem.HeadID == 148)
                                                                        {
                                                                            <a href="@Url.Action(subMenuItem.ActionName, subMenuItem.ControllerName,new { isRec = subMenuItem.OptionalData})" data-toggle="dropdown"
                                                                               class="dropdown-item">@subMenuItem.MenuName</a>
                                                                        }
                                                                        else if (subMenuItem.HeadID == 18 || subMenuItem.HeadID == 36 || subMenuItem.HeadID == 51) // Offset/Satin/Sticker Department Items List
                                                                        {
                                                                            <a href="@Url.Action(subMenuItem.ActionName, subMenuItem.ControllerName,new { deptId = subMenuItem.OptionalData})" data-toggle="dropdown"
                                                                               class="dropdown-item">@subMenuItem.MenuName</a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li data-menu="">
                                                                                <a href="@Url.Action(subMenuItem.ActionName, subMenuItem.ControllerName)" data-toggle="dropdown"
                                                                                   class="dropdown-item">@subMenuItem.MenuName</a>
                                                                            </li>
                                                                        }


                                                                    }



                                                                }

                                                            </ul>
                                                        </li>

                                                    }
                                                }
                                                else
                                                {
                                                    <li data-menu="">
                                                        <a href="@Url.Action(subMenu.ActionName, subMenu.ControllerName)" data-toggle="dropdown" class="dropdown-item">@subMenu.MenuName</a>
                                                    </li>
                                                }

                                            }


                                        </ul>
                                    </li>


                                }
                            }
                        }

                        <!--///////////////////////////////////////////-->
                        @*<li data-menu="dropdown" class="dropdown nav-item">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link"><i class="ft-monitor"></i><span>Cost Management</span></a>
                                <ul class="dropdown-menu">
                                    <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
                                        <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">General Product Setup</a>
                                        <ul class="dropdown-menu">
                                            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
                                                <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Unit Code</a>
                                                <ul class="dropdown-menu">
                                                    <li data-menu="">
                                                        <a href="@Url.Action("Create", "UnitCode")" data-toggle="dropdown" class="dropdown-item">Add UnitCode</a>
                                                    </li>
                                                    <li data-menu="">
                                                        <a href="@Url.Action("Index", "UnitCode")" data-toggle="dropdown"
                                                           class="dropdown-item">Unit Code List</a>
                                                    </li>


                                                </ul>
                                            </li>

                                            <li data-menu="dropdown-submenu" class="dropdown dropdown-submenu">
                                                <a href="#" data-toggle="dropdown" class="dropdown-item dropdown-toggle">Category</a>
                                                <ul class="dropdown-menu">
                                                    <li data-menu="">
                                                        <a href="@Url.Action("Create", "VehicleCode")" data-toggle="dropdown" class="dropdown-item">Add Category</a>
                                                    </li>
                                                    <li data-menu="">
                                                        <a href="@Url.Action("Index", "VehicleCode")" data-toggle="dropdown"
                                                           class="dropdown-item">Category List</a>
                                                    </li>
                                                    <li data-menu="">
                                                        <a href="@Url.Action("CreateSub", "VehicleCode")" data-toggle="dropdown" class="dropdown-item">Add Sub Category</a>
                                                    </li>

                                                    <li data-menu="">
                                                        <a href="@Url.Action("IndexSub", "VehicleCode")" data-toggle="dropdown"
                                                           class="dropdown-item">Sub Category List</a>
                                                    </li>


                                                </ul>
                                            </li>

                                            <li data-menu="">
                                                <a href="@Url.Action("GeneralProductIndex", "Product")" data-toggle="dropdown" class="dropdown-item">General Products List</a>
                                            </li>
                                        </ul>


                                    </li>


                                </ul>
                            </li>*@




                        <!--///////////////////////////////////////////-->

                    </ul>
                </div>
                <!-- /horizontal menu content-->
            </div>

        }

    }

    <!-- Horizontal navigation-->
    <div class="app-content content">
        <div class="content-wrapper">
            @RenderBody()

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <footer class="footer footer-static footer-light navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 content">
            <span class="float-md-left d-block d-md-inline-block">
                Copyright &copy; @DateTime.Now.Year <a href="https://www.mangotechsolutions.com"
                                                       target="_blank" class="text-bold-800 grey darken-2">Mangotech Solutions</a>
            </span>
            <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block"><i class="ft-heart pink"></i></span>
        </p>
    </footer>
    <script>
        window.setInterval(function () {

            try {
                  // console.log("in")
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Home/RestSharpClient?ClientID=1',
                async: true,
                success: function (data) {

                    if (data == true) {
    window.location.href = '@Url.Action("CustomLogOff", "Account")';

                    }
                },
                error: function (err) { /*console.log(err);*/ }
            });
            }
            catch (e) {

            }


        }, 1800000);

        function returnToHome() {
            window.location.href = '';
        }



    </script>

    <!-- BEGIN VENDOR JS-->
    <script src="~/Scripts/vendor/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/Scripts/vendor/js/ui/jquery.sticky.js"></script>
    @*<script src="~/Scripts/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
        <script src="~/Scripts/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>*@
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="~/Scripts/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Scripts/js/core/app.js" type="text/javascript"></script>

    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>

    @*<script src="~/app-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script>*@
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script type="text/javascript" src="~/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    @*<script src="~/app-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script>
        <script src="~/app-assets/js/scripts/charts/chartist/pie/pie.js" type="text/javascript"></script>
        <script src="~/app-assets/js/scripts/charts/chartjs/bar/column.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/charts/raphael-min.js" type="text/javascript"></script>
        <script src="~/app-assets/vendors/js/charts/morris.min.js" type="text/javascript"></script>*@
    <script src="~/app-assets/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>
    @*<script src="~/app-assets/js/scripts/pages/dashboard-ecommerce.js" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE VENDOR JS-->

    <script type="text/javascript" src="~/DataTables/jszip.min.js"></script>
    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/vendor/js/select2/select2.min.js"></script>
    <script src="~/Scripts/customScripts/ExcelImportOptionForDataTable.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <!-- END PAGE VENDOR JS-->

    <script src="~/Scripts/Format/date.js"></script>

    @RenderSection("scripts", required: false)
</body>




</html>
