﻿@model POSOman.Models.DTO.Expenses
@{
    ViewBag.Title = "Adjustment";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12"> 
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title" id="bordered-layout-colored-controls">Purchase Order</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>*@
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveEntry", "AdjustAccount",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Special Discount</h4>
                                    <div class="form-row">                                       
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer</label>    
                                            <br>                                                                                    
                                                @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                                            
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Code</label>
                                            <br>
                                            @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Phone</label>
                                            <br>
                                            @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">                                        
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Date", htmlAttributes: new { @class = "col-md-3 label-control"  })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount" } })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-actions right">
                                        @*<button type="button" class="btn btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </button>*@
                                        @*<button type="submit" class="btn btn-primary">
                                                <i class="fa fa-check-square-o"></i> Save
                                            </button>*@
                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                        @*<input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();
        document.getElementById('VoucherDate').valueAsDate = new Date();
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/specialDiscount.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
}
