﻿@model IEnumerable<POSOman.Models.DTO.JEntryLogModel>

@{
    ViewBag.Title = "Delete";
}

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>Are you sure you want to delete this entry? </h4>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <table id="tblEmployeeLog" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Customer
                                            </th>
                                            <th>
                                                Invoice No.
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </section>
    <!-- // Striped row layout section end -->
</div>
