﻿@model POSOman.Models.BLL.Payment
@{
    ViewBag.Title = "Transfer Entry";
}
<h2>Transfer</h2>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveTransfer", "BankTransfer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Transfer Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control">Customer</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownList("FromBank", new SelectList(ViewBag.FromBankAccount, "Value", "Name"), " Select Customer", htmlAttributes: new { @class = "select2 form-control", name = "FromBank", id = "FromBank" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control">To Account</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownList("ToBank", new SelectList(ViewBag.ToBankAccount, "Value", "Name"), "Select From", htmlAttributes: new { @class = "select2 form-control", name = "ToBankAccount", id = "ToBank" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Payment Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" id="payment">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">BankDetail</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" id="BankDetail" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.ChequeDate, "Cheque Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ChequeDate", id = "ChequeDate" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.ChequeNumber, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", name = "ChequeNumber", id = "ChequeNumber" } })
                                                    @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                <label class="col-md-3 label-control">SlipNumber</label>
                                                <div class="col-md-9">
                                                    <input class="form-control" id="SlipNumber" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount" } })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions right">
                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#AccountID').select2();
        $('#FromBank').select2();
        $('#ToBank').select2();
        document.getElementById('ChequeDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/accounts/PartyTransfer.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
