﻿@model IEnumerable<POSOman.Models.tbl_POReturnDetails>

<div class="content-body">
        <!-- DOM - jQuery events table -->
        <section id="dom">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @*<h4 class="card-title">@Html.ActionLink("Create New", "NewOrder")</h4>*@
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>
                        <div class="card-content collapse show">
                            <div class="table-responsive">

                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_PurchaseReturn.InvoiceNo)
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            <th>
                                                Returned Qty
                                            </th>                                           
                                            @*<th hidden> 
                                                Packet
                                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(model => model.UnitPrice)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Total)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_PurchaseReturn.InvoiceNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PartNo)
                                                </td>
                                                <td>
                                                   @if ((item.Qty % 1) > 0)
                                                   {
                                                    @((Convert.ToDecimal(item.Qty)))
                                                   }
                                                   else
                                                   {
                                                    @((Convert.ToInt32(item.Qty)))
                                                   }
                                                
                                                </td>
                                                @*<td hidden>
                                                    @((Convert.ToInt32(item.Packet)))                                                    
                                                </td>*@
                                                <td>
                                                    @((item.UnitPrice).Value.ToString("0.00"))
                                                </td>
                                                
                                                <td>
                                                    @((item.Total).Value.ToString("0.00"))
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
