﻿@model IEnumerable<POSOman.Models.tbl_PurchaseOrder>
@{
    ViewBag.Title = "Index";
}

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">             
                    @using (Html.BeginForm("Save", "PurchaseReturn",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                    {
                        @Html.AntiForgeryToken()
                    <div class="card-content collapse show">
                        <div class="table-responsive">

                            <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            OrderID
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvoiceNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                        </th>     
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseDate)
                                        </th>                                                                         
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAmount)
                                        </th>                                       
                                        <th>
                                            @Html.DisplayNameFor(model => model.PaymentStatus)
                                        </th>
                                        @*<th>
                                            <label>Payment Type</label>
                                        </th>*@                                       

                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.POID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                            </td>                                            
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.PurchaseDate)*@
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                                            </td>
                                           
                                            <td>
                                                @if (item.VAT > 0)
                                                { @(item.TotalAmount + item.VAT);
                                                }
                                                else if (item.VAT == 0)
                                                { @Html.DisplayFor(modelItem => item.TotalAmount)}
                                            </td>
                                            
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                                            </td>
                                           
                                            <td>                                                
                                                @*@Html.ActionLink("Details","null",new { onclick = "getInvoiceDetails(" + item.OrderID + ");" })*@
                                                <a href="#" onclick="getInvoiceDetails(@item.OrderID); return false;">Detail</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="form-actions right">
                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                    </div>
                    }
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div id="dvtbl" class="table-responsive">
                            <table id="tbl" class="table">
                                <thead>
                                    <tr>
                                        @*<th></th>*@
                                        <th>P.I Number</th>
                                        <th>Invoice No.</th>
                                        <th>Part No.</th>
                                        <th>Qty</th>
                                        <th>Unit Price</th>
                                        <th>Total</th>
                                        <th>Returned Qty</th>
                                        <th>Returning Qty</th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>                                                                            
                                        @*<td></td>*@
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total</td>
                                        <td><input type="text" class="form-control input-sm" id="txtTotal" disabled /></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{        
    <script type="text/javascript">
        $('#tblPO').DataTable({ "order": [[0, "desc"]]});
    </script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
<script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script src="~/Scripts/customScripts/general.js"></script>
<script src="~/Scripts/customScripts/purchaseReturn_1.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>  
}