﻿@model IEnumerable<POSOman.Models.tbl_PurchaseOrder>
@{
    ViewBag.Title = "Index";
}

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Html.ActionLink("Create New", "NewOrder")</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="row">
                            <div class="col-md-9">
                                <label>Invoice NO :</label>
                                @Html.ActionLink("Create New", "NewOrder")
                            </div>
                            <input type="button" value="Search" id="btnSearch" />

                        </div>
                        <div class="table-responsive">

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvoiceNo)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.VAT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Expenses)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseCode)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Currency)
                                            </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PaymentStatus)
                                        </th>
                                        <th>
                                            <label>Payment Type</label>
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.DiscountPercent)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.DiscountAmount)
                                            </th>*@
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.IsPaid)
                                            </th>*@
                                        @*<th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>*@

                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.VAT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Expenses)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PurchaseCode)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Currency)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.DiscountPercent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DiscountAmount)
                                                </td>*@
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.IsPaid)
                                                </td>*@
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PurchaseDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_PaymentTypes.Name)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id = item.OrderID })
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

