﻿﻿﻿@model POSOman.Models.tbl_Employee

@{
    ViewBag.Title = "Employee";
}

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")


<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> @ViewBag.Title Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control",required = "required", maxLength = 11 } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CNIC #</label>
                                                @Html.EditorFor(model => model.IDNo, new { htmlAttributes = new { @class = "form-control", required = "required", maxLength = 13  } })
                                                @Html.ValidationMessageFor(model => model.IDNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CNIC Expiry</label>
                                                @Html.EditorFor(model => model.IDExpiry, new { htmlAttributes = new { @class = "form-control", type = "date", name = "IDExpiry", id = "IDExpiry", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.IDExpiry, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Passport ID</label>
                                                @Html.EditorFor(model => model.PassportID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PassportID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Passport Expiry</label>
                                                @Html.EditorFor(model => model.PassportExpiry, new { htmlAttributes = new { @class = "form-control", type = "date", name = "PassportExpiry", id = "PassportExpiry" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" hidden>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>License No.</label>
                                                @Html.EditorFor(model => model.LicenseNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LicenseNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>License Expiry</label>
                                                @Html.EditorFor(model => model.LicenseExpiry, new { htmlAttributes = new { @class = "form-control", type = "date", name = "LicenseExpiry", id = "LicenseExpiry" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Salary</label>
                                                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Designation</label>
                                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Joining Date</label>
                                                @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                                @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Leaving Date</label>
                                                @Html.EditorFor(model => model.LeavingDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                                @Html.ValidationMessageFor(model => model.LeavingDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Purpose of leaving</label>
                                                @Html.EditorFor(model => model.Purposeofleaving, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Purposeofleaving, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Email</label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6" hidden>
                                            <div class="form-group">
                                                <label>Phonenumber</label>
                                                @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Reference</label>
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Reference </label>
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Document</label>
                                                <div class="input-group" style="max-width: 280px;">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary">
                                                            Browse&hellip; <input type="file" id="files" name="files" onchange="return UploadDoc()" accept=".pdf" style="display: none;" />
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" style="height:40px;" readonly>
                                                </div>
                                                <div class="col-md-12" id="pdfselected">  </div>
                                                <h3>Document Should be PDF  Format</h3>

                                                <span style="color:red;" class="errorProfile col-md-12"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Picture</label>
                                                <div class="input-group" style="max-width: 280px;">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary">
                                                            Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept=".jpg, .jpeg, .png" style="display: none;" />
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" style="height:40px;" readonly>
                                                </div>
                                                <div class="col-md-12" id="imgselected">  </div>
                                                <span style="color:red;" class="errorProfile col-md-12"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts
    {
    <script>
        //for input type image
        $(function () {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function () {
                $(':file').on('fileselect', function (event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
            });

        });
    </script>

    <script type="text/javascript">
        function UploadDoc() {
            var fileUpload = document.getElementById("files");
            $("#pdfselected").empty();
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                for (var i = 0; i < fileUpload.files.length; i++) {
                    $("#pdfselected").append('<p>' + fileUpload.files[i].name + '</p>')
                }

                reader.onload = function (e) {
                    var image = new Image();

                    image.src = e.target.result;

                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        $(".errorProfile").text("")
                        return true;
                    };
                }
            }
            else {
                $(".errorProfile").text("This browser does not support HTML5.")
                return false;
            }

        }

        function Upload() {
            var fileUpload = document.getElementById("img");
            $("#imgselected").empty();
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {

                if (typeof (fileUpload.files) != "undefined") {
                    var reader = new FileReader();
                    reader.readAsDataURL(fileUpload.files[0]);
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        $("#imgselected").append('<p>' + fileUpload.files[i].name + '</p>')
                    }

                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            $(".errorProfile").text("")
                            return true;
                        };
                    }
                }
                else {
                    $(".errorProfile").text("This browser does not support HTML5.")
                    return false;
                }
            }
            else {
                $(".errorProfile").text("Please select a valid Image file.")
                return false;
            }
        }
    </script>

}