﻿@model IEnumerable<POSOman.Models.tbl_EmployeeImages>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Employees</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblEmployee" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Name
                                            </th>

                                            <th>
                                                Image
                                            </th>


                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_Employee.Name)
                                            </td>

                                            <td>
                                                <img style="width:100px;height:80px;" src="@item.Path" />
                                              
                                            </td>
                                          

                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(tblEmployee).dataTable({
            aoColumnDefs: [

           { "aTargets": [0], "bSortable": true },
           { "aTargets": [4], "bSortable": true },
           { "aTargets": [1], "bSortable": true },
           { "aTargets": [2], "bSortable": true },

           { "aTargets": [6], "bSortable": true },
           { "aTargets": [8], "bSortable": true },
           { "aTargets": [9], "bSortable": true },
           { "aTargets": [3], "bSortable": true, "sType": "date-uk" },
           { "aTargets": [5], "bSortable": true, "sType": "date-uk" },
           { "aTargets": [7], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {
                    //
                        return '<img src="@ViewBag.Picture"  class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Employees List </h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',


                    exportOptions: {
                    
                    }
                },
                {
                    extend: 'excel',
                    messageTop: function () {
                        return 'Employees List';
                    },
                    messageBottom: null,
                    exportOptions: {
                     
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}