﻿﻿@model POSOman.Models.tbl_Employee
@using POSOman.Models;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@{

    dbPOS db = new dbPOS();
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Employee</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Employee">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Employee</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Edit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "Employee", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.EmployeeID)
                                @Html.HiddenFor(model => model.AccountID)
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Employee Info</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone</label>
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CNIC No.</label>
                                                @Html.EditorFor(model => model.IDNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.IDNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>CNIC Expiry</label>
                                                @if (Model.IDExpiry != null)
                                                {
                                                    @Html.EditorFor(model => model.IDExpiry, new { htmlAttributes = new { Value = Model.IDExpiry.Value.ToString("MMM-dd-yyyy"), @class = "form-control date-picker" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.IDExpiry, new { htmlAttributes = new { type = "date", @class = "form-control date-picker" } })

                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Passport ID</label>
                                                @Html.EditorFor(model => model.PassportID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PassportID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Passport Expiry</label>
                                                @if (Model.PassportExpiry != null)
                                                {
                                                    @Html.EditorFor(model => model.PassportExpiry, new { htmlAttributes = new { Value = Model.PassportExpiry.Value.ToString("MMM-dd-yyyy"), @class = "form-control date-picker" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.PassportExpiry, new { htmlAttributes = new { type = "date", @class = "form-control date-picker" } })

                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>License No.</label>
                                                @Html.EditorFor(model => model.LicenseNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LicenseNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>License Expiry</label>
                                                @if (Model.LicenseExpiry != null)
                                                {
                                                    @Html.EditorFor(model => model.LicenseExpiry, new { htmlAttributes = new { Value = Model.LicenseExpiry.Value.ToString("MMM-dd-yyyy"), @class = "form-control date-picker" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.LicenseExpiry, new { htmlAttributes = new { type = "date", @class = "form-control date-picker" } })

                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Salary</label>
                                                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control",@required = "required" } })
                                                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address</label>
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Designation</label>
                                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Joining Date</label>
                                                @if (Model.JoiningDate != null)
                                                {
                                                    @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { Value = Model.JoiningDate.Value.ToString("MMM-dd-yyyy"), @class = "form-control date-picker" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.JoiningDate, new { htmlAttributes = new { type = "date", @class = "form-control date-picker" } })

                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Leaving Date</label>
                                                @if (Model.LeavingDate != null)
                                                {
                                                    @Html.EditorFor(model => model.LeavingDate, new { htmlAttributes = new { Value = Model.LeavingDate.Value.ToString("MMM-dd-yyyy"), @class = "form-control date-picker" } })
                                                }
                                                else
                                                {
                                                    @Html.EditorFor(model => model.LeavingDate, new { htmlAttributes = new { type = "date", @class = "form-control date-picker" } })

                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Purpose of leaving</label>
                                                @Html.EditorFor(model => model.Purposeofleaving, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Purposeofleaving, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Email</label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label> Reference</label>
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6" hidden>
                                            <div class="form-group">
                                                <label>Phonenumber</label>
                                                @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phonenumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" hidden>
                                            <div class="form-group">
                                                <label> Reference</label>
                                                @Html.EditorFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Document</label>
                                                <div class="input-group" style="max-width: 280px;">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary">
                                                            Browse&hellip; <input type="file" id="files" name="files" onchange="return UploadDoc()" accept=".pdf" style="display: none;" multiple />
                                                            @*Browse&hellip;  @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @onchange = "return UploadDoc()", @style = "display: none;" })*@
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" style="height:40px;" readonly>
                                                </div>
                                                <div class="col-md-12" id="pdfselected">
                                                    @foreach (var item in ViewBag.pdf)
                                                    {
                                                        <a href="@item.Path">
                                                            @item.Path
                                                        </a><br />
                                                    }
                                                </div>
                                                <h3>Document Should be PDF  Format</h3>

                                                <span style="color:red;" class="errorProfile col-md-12"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Picture</label>
                                                <div class="input-group" style="max-width: 280px;">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary">
                                                            Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept=".jpg, .jpeg, .png" style="display: none;" multiple />
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" style="height:40px;" readonly>
                                                </div>
                                                <div class="col-md-12" id="imgselected">
                                                    @foreach (var item in ViewBag.pic)
                                                    {
                                                        <a href="@item.Path">
                                                            @item.Path
                                                        </a><br />
                                                        
                                                    }
                                                </div>
                                                <span style="color:red;" class="errorProfile col-md-12"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts
    {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".date-picker").datepicker({
                dateFormat: 'dd-M-yy'
            });

        });

    </script>
    <script>


        //for input type image
        $(function () {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function () {
                $(':file').on('fileselect', function (event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) //alert(log);
                    }

                });
            });

        });
    </script>

    <script type="text/javascript">
        function UploadDoc() {
            var fileUpload = document.getElementById("files");
            $("#pdfselected").empty();
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                for (var i = 0; i < fileUpload.files.length; i++) {
                    $("#pdfselected").append('<p>' + fileUpload.files[i].name + '</p>')
                }

                reader.onload = function (e) {
                    var image = new Image();

                    image.src = e.target.result;

                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        $(".errorProfile").text("")
                        return true;
                    };
                }
            }
            else {
                $(".errorProfile").text("This browser does not support HTML5.")
                return false;
            }

        }

        function Upload() {
            var fileUpload = document.getElementById("img");
            $("#imgselected").empty();
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {

                if (typeof (fileUpload.files) != "undefined") {
                    var reader = new FileReader();
                    reader.readAsDataURL(fileUpload.files[0]);
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        $("#imgselected").append('<p>' + fileUpload.files[i].name + '</p>')
                    }

                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            $(".errorProfile").text("")
                            return true;
                        };
                    }
                }
                else {
                    $(".errorProfile").text("This browser does not support HTML5.")
                    return false;
                }
            }
            else {
                $(".errorProfile").text("Please select a valid Image file.")
                return false;
            }
        }
    </script>

}