﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>

@using POSOman.Models;

@{
    ViewBag.Title = "Employee Statement";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <h2>@ViewBag.Title</h2> <br />
        <div class="row">
            <div class="col-12">
                <div class="form-row">

                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Employee</label>
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.employees, "Value", "Name"), "Select Employee", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Opening Balance</label>
                            <input type="text" class="form-control" readonly="readonly" id="openingBalance">
                        </div>
                        <div class="col-md-4 mb-3">

                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Closing Balance</label>

                            <input type="text" class="form-control" readonly="readonly" id="closingBalance">

                        </div>
                        <br />

                        <div class="col-md-4 mb-3">
                            <label>Total Debit</label>
                            <input type="text" class="form-control" readonly="readonly" id="totalDebit">
                        </div>
                        <div class="col-md-4 mb-3">

                        </div>
                        <div class="col-md-4 mb-3">
                            <label>Total Credit</label>
                            <input type="text" class="form-control" readonly="readonly" id="totalCredit">
                        </div>



                        <div class="card-body card-dashboard">
                            <table id="tblEmployee" class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @Html.DisplayName("Date")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Detail)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Dr)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Cr)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Balance)
                                        </th>
                                    </tr>

                                </thead>


                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <link href="~/DataTables/datatables.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/colResizable/colResizable-1.6.js"></script>
    <script src="~/Scripts/colResizable/colResizable-1.6.min.js"></script>
    <script>
        $("#AccountID").select2();


   function format(d) {
            // `d` is the original data object for the row
            console.log(d.detailList);
            var html = '<table id="childTable">';
            html += '<thead><tr><th>Name</th><th>Qty</th><th>Total</th></tr></thead><tbody>';

            if (d.detailList !=null && d.detailList.length > 0) {
                for (var i = 0; i < d.detailList.length; i++) {
                    var markup = "<tr><td>" + d.detailList[i].Name + "</td><td>" + d.detailList[i].Qty + "</td><td>" + d.detailList[i].Total + "</td></tr>";
                    //$("#childTable tbody").append(markup);
                    html += markup;
                }
            }
            html += '</tbody></table>';

            return html;

        }

        var table = $('#tblEmployee').DataTable();


        $("#btnSearch").on("click", function () {

            //$(function () {
            //    $("table").colResizable();
            //});

            if (+$('#AccountID').val() <=0) {
                swal("Error!", "Please Select Account!", "error");
            }
            else {

           console.log('starting...')
          table =  $('#tblEmployee').DataTable({
                    "ajax":
                    {
                        url: "/Employee/DataList",
                        method: "POST",
                        data: { "AccountID": $('#AccountID').val(), "fromDate": $('#fromDate').val(), "toDate": $('#toDate').val()}
                    },
                                "serverSide": true,
                                "destroy": true,
              "processing": true,

             // sDom: "Rlfrtip",
             //  bPaginate: false,
               //bInfo: false,
                                initComplete: function (settings, json) {
                                    // calculate the sum when table is first created:
                                    //doSum();

                                    if (json != null && json.customData != null) {
                                        $("#openingBalance").val(json.customData.OpBal);
                                        $("#closingBalance").val(json.customData.ClBal);
                                        $("#totalDebit").val(json.customData.TotalDr);
                                        $("#totalCredit").val(json.customData.TotalCr);
                                    }
                                    $('#tblEmployee').colResizable({ liveDrag: true });

              },
             // "lengthChange": true,
              lengthMenu: [
                  [10, 25, 50, -1],
                  ['10 rows', '25 rows', '50 rows', 'Show all']
              ],
                                dom: 'frtip',
                                ordering: false,
                 "columns": [
                                {
                className: 'dt-control',
                orderable: false,
                         data: null,
                         ordering: false,
                defaultContent: '',
            },
                     { "data": "Date" },
                     { "data": "Description" },
                     { "data": "Detail" },
                     { "data": "Dr" },
                     { "data": "Cr" },
                     { "data": "Balance" }

              ],
              footerCallback: function (row, data, start, end, display) {
                  var api = this.api();

                  // Remove the formatting to get integer data for summation
                  var intVal = function (i) {
                      return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                  };

                  // Total over all pages
                  //total = api
                  //    .column(7)
                  //    .data()
                  //    .reduce(function (a, b) {
                  //        return intVal(a) + intVal(b);
                  //    }, 0);

                  // Total over this page
                  dr = api
                      .column(4)//, { page: 'current' })
                      .data()
                      .reduce(function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0);

                  cr = api
                      .column(5)//, { page: 'current' })
                      .data()
                      .reduce(function (a, b) {
                          return intVal(a) + intVal(b);
                      }, 0);

                  // Update footer
                  $(api.column(4).footer()).html( dr );
                  $(api.column(5).footer()).html( cr);
              },
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {

                                            var Name = $("#AccountID option:selected").text();
                                            var openingBalance = $("#openingBalance").val();
                                            var closingBalance = $("#closingBalance").val();
                                            var totalDebit = $("#totalDebit").val();
                                            var totalCredit = $("#totalCredit").val();
                                            var fromDate = $("#fromDate").val();
                                            var toDate = $("#toDate").val();

                                            var textHtml = '';
                                            textHtml += '<h1  align="center"> <img src="@adddata.Logo" class="brand-logo"> @adddata.Title</h1><h5 align="center">@adddata.FullAddress </h5><h5 align="center">Contact: @adddata.Contact1</h5><hr /><h4 align="center">@ViewBag.Title</h4><h4 align="center">Customer: ' + Name + '</h4><hr/><p style="text-align:left;">Opening Balance: ' + openingBalance + '<span style = "float:right;">Closing Balance: ' + closingBalance + '</span></p><hr/><p style="text-align:left;">Total Debit: ' + totalDebit + '<span style = "float:right;">Total Credit: ' + totalCredit + '</span></p>';

                                            if (fromDate != "" && toDate != "") {
                                                textHtml += '<hr/> <p style="text-align:left;">From: ' + fromDate + '<span style="float:right;">To: ' + toDate + '</span></p>';
                                            }
                                            return textHtml;
                                            //return html;
                                        },
                                        title: '',
                                        messageBottom: '<br/><div style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%; margin-top:5%">Developed By: @adddata.DevelopBy</p></div>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            return 'Vendor Statement';
                                        },
                                        title: '',
                                        messageBottom: function () {
                                            var totalDeb = $("#totalDebit").val() || '-';
                                            var totalCred = $("#totalCredit").val() || '-';
                                            var openingBalance = $("#openingBalance").val() || '-';
                                            var closingBalance = $("#closingBalance").val() || '-';
                                            var data = "";
                                            data += "  Customer: " + Name;
                                            data += "  Opening Bal: " + openingBalance;
                                            data += "  Closing Bal: " + closingBalance;
                                            data += "  Total Debit: " + totalDeb;
                                            data += "  Total Credit: " + totalCred;
                                            data += "                     Developed By: MangoTech Solutions";

                                            return data;
                                        },
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                                        }
                                    }

                                ]
            });
            }



        });



        $('#tblEmployee tbody').on('click', 'td.dt-control', function () {
            console.log("clicked...")
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            } else {
                // Open this row
                row.child(format(row.data())).show();
                $("#childTable").dataTable({
                    "lengthChange": false,
                    "searching": false, "paging": false
                });
                tr.addClass('shown');
            }
        });


        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblEmployee tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 1 || cell.cellIndex === 2 || cell.cellIndex === 3) {
                    swal(cell.innerHTML.trim());
                }
            });
        }



    </script>

}