﻿@model POSOman.Models.DTO.GenerateSalary
@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("GenerateSettlement", "Employee",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row">
                                    <div class="col-sm-2">
                                        <label>Employee</label>
                                        <br />
                                        @Html.DropDownList("ddlEmployee", new SelectList(ViewBag.employee, "Value", "Name"), "Select Employee", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Salary Month</label>
                                        <br />
                                        <input type="date" class="form-control" placeholder="SalaryMonth" id="SalaryMonth" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Basic Salary</label>
                                        <br />
                                        <input type="number" class="form-control" placeholder="Salary" id="BasicSalary" readonly />
                                    </div>
                                    <div class="col-sm-2">
                                        <label># of Days</label>
                                        <br />
                                        <input type="number" class="form-control" placeholder="Days" id="NoOfDays" />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Gross Salary</label>
                                        <br />
                                        <input type="number" class="form-control" placeholder="Gross Salary" id="Salary" readonly />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Adv/Loan</label>
                                        <br />
                                        <input type="number" min="0" class="form-control" placeholder="Advance" id="advance" disabled />
                                    </div>
                                    <div class="col-sm-2">
                                        <label>Department</label>
                                        <br />
                                        @Html.DropDownList("Departments", new SelectList(ViewBag.departments, "Value", "Name"), "Select Department", htmlAttributes: new { @class = "form-control" })
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-6" hidden>
                                        <div class="form-group">
                                            <label>Document</label>
                                            <div class="input-group" style="max-width: 280px;">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Browse&hellip; <input type="file" id="files" name="files" onchange="return UploadDoc()" accept=".pdf" style="display: none;" multiple />
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" style="height:40px;" readonly>
                                            </div>
                                            <div class="col-md-12" id="pdfselected">  </div>
                                            <span>Document Should be PDF  Format</span>

                                            <span style="color:red;" class="errorProfile col-md-12"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Picture</label>
                                            <div class="input-group" style="max-width: 280px;">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept=".jpg, .jpeg, .png" style="display: none;" multiple />
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" style="height:40px;" readonly>
                                            </div>
                                            <div class="col-md-12" id="imgselected">  </div>
                                            <span style="color:red;" class="errorProfile col-md-12"></span>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Incentives/Overtime/Deductions/Settlement</h4>
                                    <hr />
                                    <label id="IDNOLabel"></label>
                                    <label id="IDNO" class="badge badge-info"></label>
                                    <label id="IDExpiryLabel"></label>
                                    <label id="IDExpiry" class="badge badge-info"></label>
                                    <label id="PassportNOLabel"></label>
                                    <label id="PassportNO" class="badge badge-primary"></label>
                                    <label id="PassportExpiryLabel"></label>
                                    <label id="PassportExpiry" class="badge badge-primary"></label>
                                    <hr />



                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">

                                            @*<div class="col-sm-1">
                                                    <label>Deduction</label>
                                                    <br />
                                                    <input type="number" min="0" class="form-control" placeholder="Deduction" id="deduction" />
                                                </div>*@
                                            <div class="col-sm-2">
                                                <label>Description</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Description" id="Desc" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Addition/Deduction</label>
                                                <br />

                                                <select class="form-control" id="devision">
                                                    <option value="1" selected>Addition</option>
                                                    <option value="2">Deduction</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Amount</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Amount" id="overTime" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addEmployee">
                                            </div>

                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th hidden>Employee</th>
                                                    <th hidden>ID No</th>
                                                    <th>Description</th>
                                                    <th>Addition/Deduction</th>
                                                    <th>Amount</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove </button>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Date</label>
                                            <br />
                                            @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            @Html.LabelFor(model => model.TotalSalary, "Salary Total", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalSalary, new { htmlAttributes = new { @id = "totalSalary", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            @Html.LabelFor(model => model.TotalDeduction, "Deductions Total", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalDeduction, new { htmlAttributes = new { @id = "totalDeduction", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalOvertime, "Total Payable Salary", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalOvertime, new { htmlAttributes = new { @id = "totalOverTime", @class = "form-control", @readonly = "readonly" } })
                                        </div>

                                    </div>
                                    <h4 hidden class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <div class="form-group row">
                                                        <label>Payment Type</label>
                                                        @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();
        document.getElementById('SalaryMonth').valueAsDate = new Date();


        $('#ddlEmployee').select2();
        $('#Departments').select2();
    </script>

    <script>
        //for input type image
        $(function () {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function () {
                $(':file').on('fileselect', function (event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
            });

        });
    </script>

    <script type="text/javascript">
        function UploadDoc() {
            var fileUpload = document.getElementById("files");
            $("#pdfselected").empty();
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);
                for (var i = 0; i < fileUpload.files.length; i++) {
                    $("#pdfselected").append('<p>' + fileUpload.files[i].name + '</p>')
                }

                reader.onload = function (e) {
                    var image = new Image();

                    image.src = e.target.result;

                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        $(".errorProfile").text("")
                        return true;
                    };
                }
            }
            else {
                $(".errorProfile").text("This browser does not support HTML5.")
                return false;
            }

        }

        function Upload() {
            var fileUpload = document.getElementById("img");
            $("#imgselected").empty();
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {

                if (typeof (fileUpload.files) != "undefined") {
                    var reader = new FileReader();
                    reader.readAsDataURL(fileUpload.files[0]);
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        $("#imgselected").append('<p>' + fileUpload.files[i].name + '</p>')
                    }

                    reader.onload = function (e) {
                        var image = new Image();
                        image.src = e.target.result;
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;
                            $(".errorProfile").text("")
                            return true;
                        };
                    }
                }
                else {
                    $(".errorProfile").text("This browser does not support HTML5.")
                    return false;
                }
            }
            else {
                $(".errorProfile").text("Please select a valid Image file.")
                return false;
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/salary/AddIndividualEmployeeForSalary.js" type="text/javascript"></script>
    <script src="~/Scripts/salary/generateIndividualSalary.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
