﻿@model IEnumerable<POSOman.Models.tbl_Employee>

@{
    ViewBag.Title = "Employee";
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">@ViewBag.Title</h2>  
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblEmployee" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>                                            
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Phone)
                                            </th>
                                            <th>
                                               Cnic #
                                            </th>
                                            <th>
                                               Cnic Expiry
                                            </th> 
                                           
                                            <th>
                                              Picture
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.PassportID)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.PassportExpiry)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.LicenseNo)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.LicenseExpiry)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.Salary)
                                            </th>
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IDNo)
                                            </td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.IDExpiry))
                                            </td>
                                            
                                            <td>
                                                @if (string.IsNullOrWhiteSpace(item.Picture))
                                                {
                                                    <img src="~/Content/images/logo/noImage.png" alt="" border=3 height=100 width=100></img>
                                                }
                                                else
                                                {
                                                    <img src=@item.Picture alt="" border=3 height=100 width=100></img>
                                                }
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.PassportID)
                                            </td>

                                            <td hidden>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PassportExpiry))
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.LicenseNo)
                                            </td>
                                            <td hidden>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.LicenseExpiry))
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td hidden>
                                                @{
                                                    decimal salary = item.Salary ?? 0;
                                                    <span> @salary.ToString("#,##0.00") </span>
                                                }
                                                @*@Html.DisplayFor(modelItem => item.Salary)*@
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) @*<text> | </text>*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(tblEmployee).dataTable({
            aoColumnDefs: [

           { "aTargets": [0], "bSortable": true },
           { "aTargets": [4], "bSortable": true },
           { "aTargets": [1], "bSortable": true },
           { "aTargets": [2], "bSortable": true },
           
           { "aTargets": [6], "bSortable": true },           
           { "aTargets": [8], "bSortable": true },
           { "aTargets": [9], "bSortable": true },
           { "aTargets": [3], "bSortable": true, "sType": "date-uk" },
           { "aTargets": [5], "bSortable": true, "sType": "date-uk" },
           { "aTargets": [7], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {
                    //   
                        return '<img src="@ViewBag.Picture"  class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">@ViewBag.Tilte List </h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',


                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
                {
                    extend: 'excel',
                    messageTop: function () {
                        return 'Employees List';
                    },
                    messageBottom: null,
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}