﻿@model IEnumerable<POSOman.Models.tbl_EmployeeSettlementDetails>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        @*<br /><br />*@
                        <h2 class="card-title">Employee Settlements Detail</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                       
                    </div>
                   
                    <div class="card-content collapse show">
                      
                        <div class="card-body card-dashboard">
                            <strong style="font-size:15px;">Employee: @Model.First().tbl_EmployeeSettlement.tbl_Employee.Name</strong>
                            <table id="tbl" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            Description
                                        </th>

                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Amount
                                        </th>




                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.AddedOn))

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tbl').DataTable({
            dom: 'frtip',
            "order": [[2, "desc"]],
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Employee Settlement List</h4>';
                    },
                    title: '',
                    
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0,1,2,3]
                    }
                }
            ]
        });

    </script>
}