﻿.dropbtn {
    background-color: transparent;
    color: transparent;
    padding: 5px;
    font-size: 5px;
    width:20px;
    height:20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
    /*overflow-y: scroll;*/
    height: auto;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
   
}
