﻿@model POSOman.Models.tbl_OrderMachine

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Edit Order Machine</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.OrderMachine, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.OrderMachine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrderMachine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Impressions, "Expected Impressions", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.Impressions, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Impressions, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DeptID, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @*@Html.DropDownListFor(model => model.DeptID, new SelectList(ViewBag.DeptID, "Value", "Name"), "Select Department", htmlAttributes: new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.DeptID, (SelectList)ViewBag.Dept, new { @class = "select2 form-control" })
            @Html.ValidationMessageFor(model => model.DeptID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MachineTypeID, "Machine Type ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @*@Html.DropDownListFor(model => model.MachineTypeID, new SelectList(ViewBag.MachineTypeID, "Value", "Name"), "Select Machine Type", htmlAttributes: new { @class = "form-control" })*@
            @Html.DropDownListFor(model => model.MachineTypeID, (SelectList)ViewBag.MachineType, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MachineTypeID, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        $("#DeptID").select2();
        $("#MachineTypeID").select2();
    </script>
    }
