﻿
@model POSOman.Models.tbl_AccountDetails

@using POSOman.Models;

<div class="form-body">
    <h4 class="form-section"><i class="ft-user"></i> Account Info</h4>
    <div class="row">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        @Html.Label("Account Category", htmlAttributes: new { @class = "col-md-3 label-control" })
        <div class="col-md-9">
            <input type="radio" name="CategoryType" id="CategoryType" required value="1" /> Head Account
            <input type="radio" name="CategoryType" id="CategoryType" required value="2" style="margin-left:5%;" /> Detail Account
            @Html.ValidationMessageFor(model => model.HeadID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.AccountTypeID, "Account Type", htmlAttributes: new { @class = "col-md-3 label-control" })
        <div class="col-md-9">
            @{
                <select class="form-control" id="AccountTypeID" name="AccountTypeID" required>
                    @{
                        dbPOS db = new dbPOS();
                        var acc = db.tbl_AccountType.Where(a => a.HeadID == null && a.AccountTypeID < 6).ToList();
                        <option value=""> Select Account Type </option>

                        foreach (var item in acc)
                        {
                            <option value="@item.AccountTypeID"> @item.TypeName </option>
                        }
                    }
                </select>

            }
        </div>
    </div>
    <div class="form-group row">
        @Html.Label("Head Account", htmlAttributes: new { @class = "col-md-3 label-control" })
        <div class="col-md-9">
            <select class="form-control" name="HeadID" id="HeadAccID" required>  </select>
            @*@Html.DropDownListFor(model => model.HeadID, new SelectList(ViewBag.HeadID, "Value", "Name"), "Select Head Account", htmlAttributes: new { @class = "form-control", id = "HeadAccID" })*@
            @Html.ValidationMessageFor(model => model.HeadID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.AccountName, "Account Name", htmlAttributes: new { @class = "col-md-3 label-control" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.AccountCode, htmlAttributes: new { @class = "col-md-3 label-control" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.ADCode, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
