﻿@model IEnumerable<POSOman.Models.GetAccountsLedger_Result>
@{
    ViewBag.Title = "Details";
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                @if (Model.Count() > 0)
                {
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label>Opening Balance</label>
                            <input type="text" class="form-control" readonly="readonly" value="@POSOman.Models.BLL.NumberFormat.Convert(Model.First().OpBalance ?? 0)" id="openingBalance">
                        </div>
                        <div class="col-md-4 mb-3"> </div>
                        <div class="col-md-4 mb-3">
                            <label>Closing Balance</label>
                            <input type="text" class="form-control" readonly="readonly" value="@POSOman.Models.BLL.NumberFormat.Convert( Model.Last().Balance == "" ? 0 : Convert.ToDecimal(Model.Last().Balance))" id="closingBalance">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content collapse show">


                            <div class="card-body card-dashboard">
                                <div class="table-responsive">

                                    <table id="tblData" class="table">
                                        <thead>
                                            <tr>
                                                <th> Date </th>
                                                <th> Detail </th>
                                                <th> Description </th>
                                                <th> Debit </th>
                                                <th> Credit </th>
                                                <th> Balance </th>
                                                <th>  </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate)) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Detail) </td>
                                                <td> @Html.DisplayFor(modelItem => item.Description) </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.Debit) </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.Credit)</td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance == "" ? 0 : Convert.ToDecimal(item.Balance)) </td>
                                                <td>

                                                    @*@if (item.ThorughGJ == true)
                                                    {
                                                        <a href="/JournalEntry/EditGJEntry/@item.JEntryId">Edit</a>
                                                    }*@
                                                    </td>

                                              
                                                </tr>
                                            }
                                        </tbody>

                                    </table>

                                    <div id="PrintHeader" hidden>
                                        @Html.Partial("~/Views/PartialViews/_PrintHeader.cshtml")
                                    </div>
                                    <div id="PrintBottom" hidden>
                                        @Html.Partial("~/Views/PartialViews/_PrintBottom.cshtml")
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                }
                else
                {
                    <text>
                        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                        </script>
                    </text>
                }


            </div>
        </div>
    </section>
</div>
