﻿
@model IEnumerable<POSOman.Models.GetAccountBalances_Result>

@using POSOman.Models;

@{
    ViewBag.Title = "Account Balances";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {

            <div class="card-body card-dashboard table-responsive">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th> Account Name </th>
                            <th> Balance</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.AccountName </td>
                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance) </td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th> Total </th>
                            <th> @POSOman.Models.BLL.NumberFormat.Convert(Model.Sum(a => a.Balance)) </th>
                        </tr>
                    </tfoot>
                </table>

                <div id="PrintHeader" hidden>
                    @Html.Partial("~/Views/PartialViews/_PrintHeader.cshtml")
                </div>
                <div id="PrintBottom" hidden>
                    @Html.Partial("~/Views/PartialViews/_PrintBottom.cshtml")
                </div>

            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}

