﻿@model IEnumerable<POSOman.Models.GetChartOfAccounts_Result>
@using POSOman.Models;

@{
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.OrderByDescending(a => a.AddressID).Take(1).FirstOrDefault();
}


<body>
    <div id="COA">

        <center>
            <div>
                <img src="@adddata.Logo" class="brand-logo" align="left" margin="20px" style="width:10%;"><h1 align="center"> @adddata.Title </h1><h5 align="center"> @adddata.FullAddress </h5><h5 align="center">Contact: "@adddata.Contact1"</h5><hr /><h4 align="center"> Chart Of Account</h4>
            </div>
        </center>


        <div class="card-content collapse show">

            <div class="row">
                @if (Model != null)
                {
                    <input type="hidden" id="hdntotalSales" name="hdntotalSales">
                    <div class="card-body card-dashboard">
                        <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>
                                    <th>Accounts </th>
                                    <th>Balances</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    Stack<int> AccHeads = new Stack<int>();
                                    int tabIndex = 1;
                                    var accTypes = db.tbl_AccountType.Where(a => a.HeadID == null && a.AccountTypeID < 6).Select(a => new { a.AccountTypeID, a.TypeName }).OrderByDescending(a => a.AccountTypeID).ToList();
                                    foreach (var item in accTypes)
                                    {
                                        AccHeads.Push(item.AccountTypeID);
                                    }

                                    while (AccHeads.Count > 0)
                                    {
                                        int AccTypeID = AccHeads.Pop();
                                        var AccType = db.tbl_AccountType.Where(a => a.AccountTypeID == AccTypeID).Select(a => new { a.AccountTypeID, a.TypeName, a.Level, a.HeadID }).FirstOrDefault();
                                        if (AccType.HeadID == null)
                                        {
                                            <tr>
                                                <th style="padding-left:@((AccType.Level * tabIndex)+1)%">@AccType.TypeName </th>
                                                <th> @POSOman.Models.BLL.NumberFormat.Convert(POSOman.Models.BLL.Common.GetAccTypeWiseBalance(AccTypeID)) </th>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <th style="padding-left:@((AccType.Level * tabIndex)+1)%">@AccType.TypeName </th>
                                                @*<th> @POSOman.Models.BLL.NumberFormat.Convert(1) </th>*@
                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(POSOman.Models.BLL.Common.GetAccTypeWiseBalance(AccTypeID)) </th>
                                            </tr>
                                        }

                                        var HeadAcc = db.tbl_AccountType.Where(a => a.HeadID == AccTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).OrderByDescending(a => a.AccountTypeID).ToList();
                                        foreach (var item in HeadAcc)
                                        {
                                            AccHeads.Push(item.AccountTypeID);
                                        }


                                        var DetailAcc = db.tbl_AccountDetails.Where(a => a.AccountTypeID == AccTypeID ).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                            foreach (var item in DetailAcc)
                                            {
                                                <tr>
                                                    <th style="padding-left:@((AccType.Level * tabIndex)+3)%"> @*<a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a>*@@item.AccountName </th>
                                                    <th> @(POSOman.Models.BLL.Common.GetAccBalance(item.AccountID))</th>
                                                </tr>
                                            }
                                    }
                                }

                            </tbody>

                        </table>
                    </div>

                }
                else
                {
                    <text>
                        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                        </script>
                    </text>
                }
            </div>

        </div>
    </div>


    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('COA'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        function printContent(divId) {
            var content = document.getElementById(divId).innerHTML;
            var mywindow = window.open('', 'Print', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Print</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(content);
            mywindow.document.write('</body></html>');

            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            return true;
        }

          function GetAccountID(AccountID) {
            //  alert(AccountID);
              var BranchID = $('#BranchID').val() || 0;
              var fromDate = $('#fromDate').val() || null;
              var toDate = $('#toDate').val() || null;
                $.ajax({
                    url: "@Url.Action("GetAccountsID", "Reports")",
                    type: "GET",
                    data: {

                        Id: "0_0_null_null"
                    },

                    success: function (data) {
                        if (data != null) {
                            window.location.href = '/Reports/GetAccountsID/' + (AccountID + "_" + BranchID + "_" + fromDate + "_" + toDate);
                        }

                }});


        }

    </script>
</body>