﻿@model IEnumerable<POSOman.Models.GetChartOfAccounts_Result>
@using POSOman.Models;

@{
    ViewBag.Title = "Accounts Ledger";

    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.OrderByDescending(a => a.AddressID).Take(1).FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <section id="dom">
        <div class="col-12">
            <h2>@ViewBag.Title </h2> <br />
            <div class="form-row">
                <input type="hidden" id="hdnReportID" name="hdnReportID" value="@ViewBag.ReportID">
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                    <label>Project</label>
                    <div class="input-group">
                        @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>Head Accounts</label>
                    <div class="input-group">
                        @Html.DropDownList("HeadAccID", new SelectList(ViewBag.AccountTypeID, "Value", "Name"), "Select Account Type", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>Detail Accounts</label>
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.Account, "Value", "Name"), "Select Account", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label></label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                </div>
            </div>

            <div id="SearchResult">

            </div>
        </div>

    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/accounts/NewAccounts.js" type="text/javascript"></script>*@
    @*<script src="~/Scripts/DateFormat/AscDscDate.js" type="text/javascript"></script>*@

    <script>

        $("#BranchID").select2();
        $("#HeadAccID").select2();
        $("#AccountID").select2();

        $("#btnSearch").on("click", function () {

            if ($("#AccountID").val() != "") {
                $.ajax({
                    url: "@Url.Action("AccountLedger", "NewAccount")",
                    data: {
                        btn: true,
                        BranchID: $("#BranchID").val(),
                        AccTypeID: $("#HeadAccID").val(),
                        AccID: $("#AccountID").val(),
                        fromDate: $("#fromDate").val(),
                        toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        $("#SearchResult").html(data);
                        var col = [0, 1, 2, 3, 4, 5];
                        GetTableData(col, 0, "asc", 0);

                    }
                });
            }
            else {
                swal("Select Account", "Please Select Account", "error");
            }
        });
    </script>

}


