﻿@model IEnumerable<POSOman.Models.GetExpensesFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>ACCOUNT BALANCES</h2> <br />
                <div class="form-row">
                    <input type="hidden" id="hdnReportID" name="hdnReportID" value="@ViewBag.ReportID">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Head Accounts</label>
                        <div class="input-group">
                            @Html.DropDownList("AccTypeID", new SelectList(ViewBag.AccountTypeID, "Value", "Name"), "Select Account Type", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Detail Accounts</label>
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.Account, "Value", "Name"), "Select Account", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js" type="text/javascript"></script>

    <script>

        $("#BranchID").select2();
        $("#AccTypeID").select2();
        $("#AccountID").select2();

        $(document).ready(function () {
            if ("@ViewBag.AccType" != "") {
                $("#btnSearch").trigger("click")
            }
        })

        $("#AccTypeID").change(function () {
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/NewAccount/DetailedAccounts?HeadAccID=' + $("#AccTypeID").val(),
                async: true,
                success: function (data) {
                    GetDropdown1("AccountID", data, true);
                },
                error: function (err) { console.log(err); }
            });
        });


        $("#btnSearch").on("click", function () {

            $.ajax({
                url: "@Url.Action("AccountBalances", "NewAccount")",
                data: {
                    btn: true,
                    BranchID: $('#BranchID').val(),
                    AccTypeID: $('#AccTypeID').val(),
                    AccID: $('#AccountID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),

                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    var col = [0, 1]
                    GetTableData(col, 0);
            }});
        });

    </script>

}