﻿@model IEnumerable<POSOman.Models.GetChartOfAccounts_Result>
@using POSOman.Models;

@{
    ViewBag.Title = "Index";

    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.OrderByDescending(a => a.AddressID).Take(1).FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <section id="dom">
        <div class="col-12">
            <h2>CHART OF ACCOUNTS </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2" hidden>
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2" hidden>
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>


                <div class="col-md-2 mb-2" hidden>
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>

                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            uiBlock();
            $("#btnSearch").trigger("click");
        });
        

        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var partNo = $('#PartNo').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();


            var html = '<img src="@adddata.Logo" class="brand-logo" align = "left" margin="20px"><h1 align="center"> @adddata.Title </h1><h5 align="center"> @adddata.FullAddress </h5><h5 align="center">Contact: "@adddata.Contact1"</h5><hr /><h4 align="center">Chart of Account</h4>';
            if (branchID != "")
            { html += "<h4> Branch : " + Branch + " </h4>"; }
            var vendorName = $("#AccountID option:selected").text();
            if (partNo == "" || typeof partNo === 'undefined') {
                partNo = null;
            }

            $.ajax({
                url: "@Url.Action("ChartOfAccount", "NewAccount")",
                data: {
                    btn: true,
                    PartNo: partNo,
                    BranchID: branchID,
                    accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    uiUnBlock();    
                    $("#SearchResult").html(data);
                    $('#tblSO').dataTable({
                        aoColumnDefs: [
                        { "aTargets": [0], "bSortable": true },
                        { "aTargets": [1], "bSortable": true },
                        { "aTargets": [2], "bSortable": true },
                        ],
                        dom: 'Bfrtip',
                        paging:false,
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    return html;
                                },
                                messageBottom: '<br/><div style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%;">Developed By: Mangotech Solutions</p></div>',
                                exportOptions: {
                                    columns: [0, 1, 2]
                                }
                            },
                             {
                                 extend: 'excel',
                                 messageTop: function () {
                                     return "Chart Of Accounts       "
                                 },
                                 messageBottom: null,
                                 exportOptions: {
                                     columns: [0, 1,2]
                                 }
                             }
                        ]
                    });

                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });

        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });

        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });

        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();

        $('#Branch').select2();
    </script>

}


