﻿
@model IEnumerable<POSOman.Models.GetChartOfAccounts_Result>
@using POSOman.Models;

@{
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.OrderByDescending(a => a.AddressID).Take(1).FirstOrDefault();
}


<body>
    <div id="COA">

        <center>
            <div>
                <img src="/Content/images/logo/@adddata.Logo" class="brand-logo" align="left" margin="20px" style="width:10%;"><h1 align="center"> @adddata.Title </h1><h5 align="center"> @adddata.FullAddress </h5><h5 align="center">Contact: "@adddata.Contact1"</h5><hr /><h4 align="center"> Chart Of Account</h4>
            </div>
        </center>


        <div class="card-content collapse show">

            <div class="row">
                @if (Model != null)
                {
                    <input type="hidden" id="hdntotalSales" name="hdntotalSales">
                    <div class="card-body card-dashboard">
                        <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>
                                    <th>Accounts Head</th>
                                    <th>Balances</th>
                                </tr>
                            </thead>
                            <tbody>

                                @{
                                    decimal lev5 = 0;
                                    decimal lev4 = 0;
                                    decimal lev3 = 0;
                                    decimal lev2 = 0;
                                    decimal lev1 = 0;
                                    decimal lev0 = 0;
                                    var accTypes = db.tbl_AccountType.Where(a => a.HeadID == null && a.AccountTypeID < 6).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                    foreach (var accType in accTypes)
                                    {
                                        lev0 += lev1;
                                        <tr>
                                            <th> @accType.TypeName </th>
                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(lev0) </th>
                                        </tr>

                                        var Level1 = db.tbl_AccountType.Where(a => a.HeadID == accType.AccountTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                        if (Level1.Count > 0)
                                        {
                                            lev1 = 0;
                                            foreach (var item1 in Level1)
                                            {
                                                lev1 += lev2;
                                                <tr>
                                                    <th style="padding-left:3%;"> @item1.TypeName </th>
                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(lev1) </th>
                                                </tr>

                                                var Level2 = db.tbl_AccountType.Where(a => a.HeadID == item1.AccountTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                                if (Level2.Count > 0)
                                                {
                                                    lev2 = 0;
                                                    foreach (var item2 in Level2)
                                                    {
                                                        lev2 += lev3;
                                                        <tr>
                                                            <th style="padding-left:6%;"> @item2.TypeName </th>
                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(lev2) </th>
                                                        </tr>

                                                        var Level3 = db.tbl_AccountType.Where(a => a.HeadID == item2.AccountTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                                        if (Level3.Count > 0)
                                                        {
                                                            lev3 = 0;
                                                            foreach (var item3 in Level3)
                                                            {
                                                                lev3 += lev4;
                                                                <tr>
                                                                    <th style="padding-left:9%;"> @item3.TypeName </th>
                                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(lev3) </th>
                                                                </tr>

                                                                var Level4 = db.tbl_AccountType.Where(a => a.HeadID == item3.AccountTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                                                if (Level4.Count > 0)
                                                                {
                                                                    lev4 = 0;
                                                                    foreach (var item4 in Level4)
                                                                    {
                                                                        lev4 += lev5;
                                                                        <tr>
                                                                            <th style="padding-left:12%;"> @item4.TypeName </th>
                                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(lev4) </th>
                                                                        </tr>



                                                                        #region Start Level 5

                                                                        var Level5 = db.tbl_AccountType.Where(a => a.HeadID == item4.AccountTypeID).Select(a => new { a.AccountTypeID, a.TypeName }).ToList();
                                                                        if (Level5.Count > 0)
                                                                        {
                                                                            lev5 = 0;
                                                                            foreach (var item5 in Level5)
                                                                            {
                                                                                <tr>
                                                                                    <th style="padding-left:12%;"> @item5.TypeName </th>
                                                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(lev5) </th>
                                                                                </tr>
                                                                            }

                                                                            var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item4.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                                            foreach (var item in accData)
                                                                            {
                                                                                var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();
                                                                                lev5 += balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0;
                                                                                <tr>
                                                                                    <th style="padding-left:15%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </th>
                                                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                                                </tr>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item4.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                                            foreach (var item in accData)
                                                                            {
                                                                                var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();

                                                                                <tr>
                                                                                    <th style="padding-left:15%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </th>
                                                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0)  </th>
                                                                                </tr>
                                                                            }
                                                                        }

                                                                        #endregion end Region 5
                                                                    }

                                                                    var accData1 = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item3.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                                    foreach (var item in accData1)
                                                                    {
                                                                        var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();
                                                                        <tr>
                                                                            <th style="padding-left:12%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </th>
                                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                                        </tr>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item3.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                                    foreach (var item in accData)
                                                                    {
                                                                        var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();
                                                                        <tr>
                                                                            <th style="padding-left:12%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </th>
                                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item2.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                            foreach (var item in accData)
                                                            {
                                                                var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();
                                                                <tr>
                                                                    <th style="padding-left:9%;">  <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </th>
                                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                                </tr>
                                                            }
                                                        }
                                                    }

                                                    var accData2 = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item1.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                    foreach (var item in accData2)
                                                    {
                                                        var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();

                                                        <tr>
                                                            <th style="padding-left:6%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a>  </th>
                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == item1.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                                    foreach (var item in accData)
                                                    {
                                                        var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();

                                                        <tr>
                                                            <th style="padding-left:6%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a>  </th>
                                                            <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            var accData = db.tbl_AccountDetails.Where(a => a.AccountTypeID == accType.AccountTypeID && a.isCustom == true).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                            foreach (var item in accData)
                                            {
                                                var balance = db.tbl_JDetail.Where(a => a.AccountID == item.AccountID && a.IsDeleted != true).Select(a => new { a.Dr, a.Cr }).ToList();

                                                <tr>
                                                    <th style="padding-left:3%;"> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a>  </th>
                                                    <th> @POSOman.Models.BLL.NumberFormat.Convert(balance.Sum(a => a.Dr) - balance.Sum(a => a.Cr) ?? 0) </th>
                                                </tr>
                                            }
                                        }

                                    }
                                }

                            </tbody>

                        </table>
                    </div>

                }
                else
                {
                    <text>
                        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                        </script>
                    </text>
                }
            </div>

        </div>
    </div>


    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('COA'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        function printContent(divId) {
            var content = document.getElementById(divId).innerHTML;
            var mywindow = window.open('', 'Print', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Print</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(content);
            mywindow.document.write('</body></html>');

            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            return true;
        }

          function GetAccountID(AccountID) {
            //  alert(AccountID);
              var BranchID = $('#BranchID').val() || 0;
              var fromDate = $('#fromDate').val() || null;
              var toDate = $('#toDate').val() || null;
                $.ajax({
                    url: "@Url.Action("GetAccountsID", "Reports")",
                    type: "GET",
                    data: {

                        Id: "0_0_null_null"
                    },

                    success: function (data) {
                        if (data != null) {
                            window.location.href = '/Reports/GetAccountsID/' + (AccountID + "_" + BranchID + "_" + fromDate + "_" + toDate);
                        }

                }});


        }

    </script>
</body>
