﻿@model POSOman.Models.DTO.BalanceSheet

@{
    ViewBag.Title = "Index";
}
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div hidden class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div>
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>

                </div>
            </div>
        </div>
        @*<br />
            <input hidden type="button" id="exportHierarchicalDS" value="Export Data" />
            <br />*@
        <div id="SearchResult">

        </div>

    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts{
    @*<script src="https://igniteui.com/js/modernizr.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.lob.js"></script>*@
    <link href="https://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"></link>
    <link href="https://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" rel="stylesheet"></link>
    <link href="https://cdn-na.infragistics.com/igniteui/latest/css/structure/modules/infragistics.ui.treegrid.css" rel="stylesheet"></link>


    <script src="~/Scripts/TreeGrid/modernizr.min.js"></script>
    <script src="~/Scripts/TreeGrid/1.10.3_jquery-ui.min.js"></script>
    <script src="~/Scripts/TreeGrid/infragistics.core.js"></script>
    <script src="~/Scripts/TreeGrid/infragistics.lob.js"></script>

    @*<script src="https://cdn-na.infragistics.com/igniteui/js/infragistics.core.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/infragistics.lob.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_core.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_collections.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_text.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_io.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_ui.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.documents.core_core.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_collectionsextended.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.excel_core.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_threading.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.ext_web.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.xml.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.documents.core_openxml.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.excel_serialization_openxml.js"></script>
        <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.gridexcelexporter.js"></script>*@

    <script src="~/Scripts/TreeGrid/Blob.js"></script>
    <script src="~/Scripts/TreeGrid/FileSaver.js"></script>

    <script src="https://cdn-na.infragistics.com/igniteui/js/infragistics.excel-bundled.js"></script>
    <script src="https://cdn-na.infragistics.com/igniteui/js/modules/infragistics.gridexcelexporter.js" type="text/javascript"></script>

    @*<link href="~/Scripts/TreeGrid/infragistics.theme.css" rel="stylesheet" />
        <link href="~/Scripts/TreeGrid/infragistics.css" rel="stylesheet" />
        <link href="~/Scripts/TreeGrid/infragistics.ui.treegrid.css" rel="stylesheet" />*@

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>


        $(document).ready(function () {
            $("#btnSearch").click();
        })

        $("#btnSearch").on("click", function () {
            uiBlock('Fetching Data ...');
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            if (fromDate != "" && toDate != "")
                var html = "<h3 align=center>Chart Of Accounts</h3><br/>";
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
                $.ajax({
                    url: "@Url.Action("ChartOfAccount", "NewAccount")",
                    data: {
                        isSearch: true,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);

                            //

                            /////////

                              $.ajax({
                    url: "@Url.Action("COA_Data", "NewAccount")",
                    data: {
                        isSearch: true,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            uiUnBlock();
                            //$("#SearchResult").html(data);

                            //
                            var dataSource1 = data;
                           // console.log("received data from db...")
                            console.log(dataSource1)

                            console.log("received data from local...")

                            var dataSource = [
                                {
                                    "number": "1000", "name": "Assets", "balance": "", "assets": [
                                        {
                                            "number": "1003", "name": "Fixed assets", "balance": "", "assets": [
                                                {
                                                    "number": "1115", "name": "Lands and Buildings", "balance": "", "assets": [
                                                        { "number": "1120", "name": "Lands and Buildings", "balance": 167 },
                                                        { "number": "1130", "name": "Increases during the year", "balance": 147 },
                                                        { "number": "1140", "name": "Decreases during the year", "balance": 345 },
                                                        { "number": "1132", "name": "Accum. Depreciation, Buildings", "balance": 526 },
                                                        { "number": "1142", "name": "Lands and Buildings, Total", "balance": 953 }
                                                    ]
                                                },
                                                {
                                                    "number": "1200", "name": "Operating Equipment", "balance": "", "assets": [
                                                        { "number": "1290", "name": "Operating Equipment, Total", "balance": 998 }
                                                    ]
                                                },
                                                {
                                                    "number": "1300", "name": "Vehicles", "balance": "", "assets": [
                                                        { "number": "1390", "name": "Vehicles, Total", "balance": 758 }
                                                    ]
                                                },
                                                { "number": "1990", "name": "Fixed assets, Total", "balance": 1128 }
                                            ]
                                        },
                                        {
                                            "number": "2000", "name": "Current assets", "balance": "", "assets": [
                                                {
                                                    "number": "1125", "name": "Inventory", "balance": "", "assets": [
                                                        { "number": "1121", "name": "Resale Items", "balance": 507 },
                                                        { "number": "1131", "name": "Finished Goods", "balance": 135 },
                                                        { "number": "1141", "name": "Raw Material", "balance": 497 },
                                                        { "number": "1131", "name": "Inventory, Total", "balance": 897 }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ];
                           // console.log(dataSource)


                            $("#treegrid1").igTreeGrid({
                                width: "100%",
                                dataSource: dataSource1,
                                autoGenerateColumns: false,
                                primaryKey: "number",
                                columns: [
                                    { headerText: "Number", key: "number", width: "40%", dataType: "number" },
                                    { headerText: "Name", key: "name", width: "40%", dataType: "string" },
                                    { headerText: "Balance", key: "balance", width: "20%", dataType: "number", formatter: balanceSum, template: " ${balance}" }
                                ],
                                childDataKey: "assets",
                                initialExpandDepth: 3,
                                features: [
                                    {
                                        name: "Resizing"
                                    },
                                    {
                                        name: "ColumnMoving",
                                        columnMovingDialogContainment: "window"
                                    }
                                ]
                            });

                        }
                }});
                            ////////

                            //var dataSource1 = data;
                            //console.log("received data from db...")
                            //console.log(dataSource1)

                            //console.log("received data from local...")

                            //var dataSource = [
                            //    {
                            //        "number": "1000", "name": "Assets", "balance": "", "assets": [
                            //            {
                            //                "number": "1003", "name": "Fixed assets", "balance": "", "assets": [
                            //                    {
                            //                        "number": "1115", "name": "Lands and Buildings", "balance": "", "assets": [
                            //                            { "number": "1120", "name": "Lands and Buildings", "balance": 167 },
                            //                            { "number": "1130", "name": "Increases during the year", "balance": 147 },
                            //                            { "number": "1140", "name": "Decreases during the year", "balance": 345 },
                            //                            { "number": "1132", "name": "Accum. Depreciation, Buildings", "balance": 526 },
                            //                            { "number": "1142", "name": "Lands and Buildings, Total", "balance": 953 }
                            //                        ]
                            //                    },
                            //                    {
                            //                        "number": "1200", "name": "Operating Equipment", "balance": "", "assets": [
                            //                            { "number": "1290", "name": "Operating Equipment, Total", "balance": 998 }
                            //                        ]
                            //                    },
                            //                    {
                            //                        "number": "1300", "name": "Vehicles", "balance": "", "assets": [
                            //                            { "number": "1390", "name": "Vehicles, Total", "balance": 758 }
                            //                        ]
                            //                    },
                            //                    { "number": "1990", "name": "Fixed assets, Total", "balance": 1128 }
                            //                ]
                            //            },
                            //            {
                            //                "number": "2000", "name": "Current assets", "balance": "", "assets": [
                            //                    {
                            //                        "number": "1125", "name": "Inventory", "balance": "", "assets": [
                            //                            { "number": "1121", "name": "Resale Items", "balance": 507 },
                            //                            { "number": "1131", "name": "Finished Goods", "balance": 135 },
                            //                            { "number": "1141", "name": "Raw Material", "balance": 497 },
                            //                            { "number": "1131", "name": "Inventory, Total", "balance": 897 }
                            //                        ]
                            //                    }
                            //                ]
                            //            }
                            //        ]
                            //    }
                            //];
                            //console.log(dataSource)



                        }
                }});
        });

        /////////

        $("#exportHierarchicalDS").on("click", function () {
            $.ig.GridExcelExporter.exportGrid($("#treegrid1"), {
                fileName: "Balance_Sheet"
            });
        });
        /////////

        function balanceSum(val, record) {
            if (val) {
                return val;
            }
            return calcSum(record, 0);
        }
        function calcSum(row, sum) {
            var i, child;
            if (row["assets"]) {
                for (i = 0; i < row["assets"].length; i++) {
                    child = row["assets"][i];
                    sum = child["assets"] ? calcSum(child, sum) : sum + calcSum(child, sum);
                }
                return sum;
            }
            return row["balance"];
        }
    </script>

}
