﻿@model POSOman.Models.tbl_AccountDetails

@using POSOman.Models;

@{
    ViewBag.Title = "Account";
    ViewBag.Type = "Add";
    ViewBag.Href = "/NewAccount/Index";
}

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "NewAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Partial("_AccountForm")
                                
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="~/Scripts/customScripts/general.js"></script>
    <script type="text/javascript">
        $("#HeadAccID").select2();
        $("#AccountTypeID").select2();

        $("#AccountTypeID").change(function () {
            var AccTypeID = $("#AccountTypeID").val() || 0;
            var AccType = $("#AccountTypeID option:selected").text();
            var json = { "AccTypeID": AccTypeID };
            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/NewAccount/HeadAccounts?AccTypeID=' + AccTypeID,
                async: true,
                success: function (data) {
                    GetDropdown1("HeadAccID", data, true);
                    $("#HeadAccID").val(AccTypeID).change();
                },
                error: function (err) { console.log(err); }
            });
        });

    </script>

}
