﻿@model POSOman.Models.tbl_AccountDetails

@{
    ViewBag.Title = "Create";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Account</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Product">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Account</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "NewAccount", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Account Info</h4>
                                    <div class="row">
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group row">
                                        @Html.Label("Branch", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.BranchID, new SelectList(ViewBag.BranchId, "Value", "Name"), "Select Branch", htmlAttributes: new { @class = "form-control", id = "BranchID", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.BranchID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AccountTypeID, "Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("AccountTypeID", null, htmlAttributes: new { @class = "form-control", id = "AccountTypeID", @required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AccountName, "Account Name", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.AccountName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.AccountCode, htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.AccountCode, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{
    <script type="text/javascript">
        $("#BranchID").select2();
        $("#AccountTypeID").select2();
    </script>

}