﻿@model IEnumerable<GetAccountList_Result>

@using POSOman.Models;

@{
    dbPOS db = new dbPOS();
    ViewBag.Title = "Accounts";
}

<div class="content-body">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">ACCOUNTS</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblAccounts" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th> Acc Type </th>
                                            <th> Head Acc </th>
                                            <th> Acc Name </th>
                                            <th> </th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> @item.AccType </td>
                                                <td> @item.HeadAcc </td>
                                                <td> @item.AccName </td>
                                                <td>
                                                    @if (item.CategoryType == 1 && item.AccountID > 33)
                                                    {
                                                        <a href="/NewAccount/Edit?id=@item.AccountID&CategoryType=@item.CategoryType"> Edit </a> <span> | </span>
                                                        <a href="/NewAccount/Delete?id=@item.AccountID&CategoryType=@item.CategoryType"> Delete </a>
                                                    }
                                                    else if (item.CategoryType == 2 && item.AccountID > 200)
                                                    {
                                                        <a href="/NewAccount/Edit?id=@item.AccountID&CategoryType=@item.CategoryType"> Edit </a> <span> | </span>
                                                        <a href="/NewAccount/Delete?id=@item.AccountID&CategoryType=@item.CategoryType"> Delete </a>
                                                        @*Html.ActionLink("Edit", "Edit", new { id = item.AccountID }); <span> | </span>
                                                        Html.ActionLink("Delete", "Delete", new { id = item.AccountID });*@
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblAccounts').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Accounts List</h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
    </script>
}