﻿@model POSOman.Models.tbl_StickerCylinder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_StickerCylinder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CylinderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CylinderType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CylinderTeeth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CylinderTeeth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfCylinderPresent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfCylinderPresent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_StickerCylinderTypeMachine.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_StickerCylinderTypeMachine.MachineName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
