﻿@model IEnumerable<POSOman.Models.tbl_StickerCylinder>
@{
    ViewBag.Title = "Products";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Sticker Cylinders List</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblProduct" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th> Name </th>
                                            <th> Machine</th>
                                            <th> Teeth</th>
                                            <th> # of Cylinders</th>
                                            <th>Action</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td> @item.CylinderType </td>
                                            <td> @item.tbl_StickerMachine.MachineName</td>
                                            <td> @item.CylinderTeeth</td>
                                            <td> @item.NoOfCylinderPresent</td>


                                            <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <text>|</text>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
                                        </tr>
                                        }
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <script>
    $(document).ready(function () {


        $("#tblProduct").DataTable({
            dom: 'frtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                   return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Card Quality List</h4>';




                    },
                    title: '',
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0,1,2]
                    }
                }
            ]
        })

        //if ($.fn.DataTable.isDataTable('#tblProduct')) {
        //    $('#tblProduct').dataTable().fnDestroy();
        //    $('#tblProduct').dataTable().empty();
        //}

        @*var complete = $('#tblProduct').DataTable({
            "serverSide": true,
            "destroy": true,
            "processing": true,
            "ajax":
            {
                url: "/Product/ProductList",
                method: "POST"
            },
            "columns": [
                { "data": "ProductID", "visible": false, "searchable": false },
                { "data": "Brand" },
                { "data": "Head" },
                { "data": "SubCategory" },
                { "data": "Section" },
                { "data": "PartNo" },
                { "data": "Description" },
                { "data": "BarCode" },
                { "data": "SaleRate" },
                {
                    "title": "Action",
                    "data": "ProductID",
                    "searchable": false,
                    "sortable": false,
                    "render": function (data, type, full, meta) {
                        return '<a href="@Url.Action("Edit","Product")?id=' + data + '">Edit</a>| <a href="@Url.Action("PrintBarCode","Product")?id=' + data + '">Print BarCode</a>| <a href="@Url.Action("Delete","Product")?id=' + data + '">Delete</a> ';
                    }
                }
            ],
            "targets": 'no-sort',
            "bSort": false,
            "order": [],
            dom: 'frtip',
        });*@

        //var itm = $("#tblProduct_filter input")

        //itm.unbind();
        //itm.keyup(function (e) {
        //    //enter or tab
        //    if (e.keyCode == 13) {
        //       complete.search(this.value).draw();
        //    }
        //});


    });
    </script>
}

