﻿@model POSOman.Models.tbl_AddressDetail

@{
    ViewBag.Title = "Project Setting";
}

<h2>Project Setting</h2>
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveAddressDetails", "ProjectSetting", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered", enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="text" name="AddressID" value="@Model.AddressID" hidden />
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Project Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", type = "text", name = "Title", id = "Title" } })
                                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.FullAddress, "FullAddress", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.FullAddress, new { htmlAttributes = new { @class = "form-control", name = "FullAddress", id = "FullAddress", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.FullAddress, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Contact1, "Contact1", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Contact1, new { htmlAttributes = new { @class = "form-control", name = "Contact1", id = "Contact1" } })
                                                    @Html.ValidationMessageFor(model => model.Contact1, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Contact2, "Contact2", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Contact2, new { htmlAttributes = new { @class = "form-control", name = "Contact2", id = "Contact2" } })
                                                    @Html.ValidationMessageFor(model => model.Contact2, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Contact3, "Contact3", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Contact3, new { htmlAttributes = new { @class = "form-control", name = "Contact3", id = "Contact3" } })
                                                    @Html.ValidationMessageFor(model => model.Contact3, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Contact4, "Contact4", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Contact4, new { htmlAttributes = new { @class = "form-control", name = "Contact4", id = "Contact4" } })
                                                    @Html.ValidationMessageFor(model => model.Contact4, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", name = "Email", id = "Email" } })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.OtherDetail, "OtherDetail", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.OtherDetail, new { htmlAttributes = new { @class = "form-control", name = "OtherDetail", id = "OtherDetail" } })
                                                    @Html.ValidationMessageFor(model => model.OtherDetail, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.City, "City", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", name = "City", id = "City" } })
                                                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.DevelopBy, "DevelopBy", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.DevelopBy, new { htmlAttributes = new { @class = "form-control", name = "DevelopBy", id = "DevelopBy" } })
                                                    @Html.ValidationMessageFor(model => model.DevelopBy, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Logo, "Logo", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    <input type="file" name="file" id="file" onchange="return UploadDoc()" accept="image/x-png,image/jpeg,image/jpg" />
                                                    @*@Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control", name = "Logo", id = "Logo" } })*@
                                                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#AccountID').select2();
        document.getElementById('VoucherDate').valueAsDate = new Date();
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/customScripts/general.js"></script>
    @*<script src="~/Scripts/accounts/Deposit.js"></script>*@
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>

    <script type="text/javascript">
        function UploadDoc() {
            var fileUpload = document.getElementById("file");
            //$("#pdfselected").empty();
            if (typeof (fileUpload.files) != "undefined") {
                var reader = new FileReader();
                reader.readAsDataURL(fileUpload.files[0]);

                reader.onload = function (e) {
                    var image = new Image();

                    image.src = e.target.result;

                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        //$(".errorProfile").text("")
                        return true;
                    };
                }
            }
            else {
                //$(".errorProfile").text("This browser does not support HTML5.")
                return false;
            }

        }
        
    </script>
}
