﻿@model IEnumerable<POSOman.Models.tbl_DeliveryOrder>
@{
    ViewBag.Title = "Index";
}
<section id="vertical-tabs">
    <div class="row">
        <div class="col-12"><h2>RETURN DELIVERY </h2> <br />   
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("Save", "PurchaseReturn",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "vertical-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()
                            @*<form action="#" class="vertical-tab-steps wizard-circle">
                            *@
                                <!-- Step 1 -->
                            <h6>Select Order To Return</h6>
                            <fieldset>
                                <div class="table-responsive">
                                    <table id="tblSales" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    DO No.
                                                </th>
                                                <th>
                                                    Customer
                                                </th>
                                                @*<th>
                                                        Cust. Code
                                                    </th>
                                                    <th>
                                                        Branch
                                                    </th>*@
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SalesDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PaymentStatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                                </th>
                                               
                                                

                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DOID)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                    </td>
                                                    @*<td>
                                                            @Html.DisplayFor(modelItem => item.CustomerCode)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                        </td>*@
                                                    <td>
                                                        @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                    </td>

                                                    <td>
                                                       @Html.DisplayFor(modelItem => item.TotalAmount)
                                                    </td>                                        

                                                    <td>
                                                        <a href="#" onclick="getInvoiceDetails(@item.OrderID); return false;">Return</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </fieldset>

                                <!-- Step 2 -->
                                <h6>Enter Returning Qty</h6>
                                <fieldset>
                                    @*<div class="row">
                                            <div class="form-group row">
                                                <label>Payment Type</label>
                                                @Html.DropDownList("PaymentType", new List<SelectListItem>{
                                                       new SelectListItem{ Text="Cash", Value = "1" },
                                                       new SelectListItem{ Text="Credit", Value = "2" },
                                                   }, htmlAttributes: new { @class = "form-control" })
                                                @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <table id="tblReturn" class="table">
                                            <thead>
                                                <tr>
                                                    @*
                                                        <th></th>*@
                                                    <th>DONo.</th>
                                                    @*<th>Invoice No.</th>*@
                                                    <th>Part No.</th>
                                                    <th>Qty</th>
                                                    <th>Sale Price</th>
                                                    <th>Total</th>
                                                    <th>Returned Qty</th>
                                                    <th>Returning Qty</th>
                                                    @*
                                                        <th></th>*@
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td><input type="text" class="form-control input-sm" id="txtTotal" disabled /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </fieldset>
                                @*
                                    </form>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblSales').DataTable({
                "order": [[ 0, "desc" ]],
                paging: true,
                pageLength: 5,
                searching: true,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });
        });

    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
    <script src="~/Scripts/vendor/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Scripts/deliveryOrder/wizard-steps.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/deliveryOrder/doReturn.js"></script>    
<script src="~/Scripts/customScripts/helper.js"></script>
}
