﻿@model IEnumerable<POSOman.Models.tbl_DOReturn>
@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>DELIVERY RETURNED ORDERS</h2> <br />     
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Html.ActionLink("Return Order", "DOReturn")</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblDO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                OrderID
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                            </th>                                           
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.PaymentStatus)
                                                </th>*@
                                            @*<th>
                                                    <label>Payment Type</label>
                                                </th>*@
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.DiscountPercent)
                                                </th>*@                                           
                                            <th>
                                                @Html.DisplayNameFor(model => model.ReturnDate)
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.IsPaid)
                                                </th>*@
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>*@

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_DeliveryOrder.DOID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.DiscountPercent)
                                                    </td>*@
                                               
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.ReturnDate)*@
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ReturnDate))
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                    </td>*@
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.tbl_PaymentTypes.Name)
                                                    </td>*@
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.DOReturnID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tbl_DO').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Delivery Returned List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                    exportOptions: {
                        columns: [0, 1, 2]
                    }
                }
            ]
        });
        var table = $('#tbl_DO').DataTable();

        // Sort by column 1 and then re-draw
        table
            .order([0, 'desc'])
            .draw();
    </script>
}