﻿@model IEnumerable<POSOman.Models.tbl_JDetail>
    <head><style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style></head>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2 class="card-title">Vendor Vouchers</h2>  
                <div class="card">
                    
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Voucher
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Vendor
                                            </th>
                                            <th>
                                                Debit
                                            </th>
                                            <th>
                                                Credit
                                            </th>
                                            <th>
                                                Detail
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherName)
                                                </td>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherDate)*@
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_JEntry.VoucherDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Dr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Detail)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.JDetailID })|
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">        
        var table = $('#tblPO').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                        return '<img src="/Content/images/logo/76x76.png" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Vendor Vouchers</h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5,6]
                    }
                }
            ]
        });
    </script>
}
