﻿
@model POSOman.Models.BLL.Payment
@{
    ViewBag.Title = "Payment";
}
<h2>Vendor Payment</h2>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SavePayment", "VendorPayment", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Vendor", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">                                                   
                                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value","Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control", required = "required"@*, @onchange = "getVendorDetails(this.value);"*@ })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",name= "Description" ,id= "Description" } })
                                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.VoucherDate, "Payment Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate" } })
                                                        @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control" })
                                                        @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    <label class="col-md-3 label-control">Bank Account</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"),"Select Bank", htmlAttributes: new { @class = "select2 form-control", name = "Bank", id = "Bank" })
                                                        
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.ChequeDate, "Cheque Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ChequeDate", id = "ChequeDate" } })
                                                        @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.ChequeNumber, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", name = "ChequeNumber", id = "ChequeNumber" } })
                                                        @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    <label class="col-md-3 label-control">Balance</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="Balance" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.Amount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount",@readonly ="readonly" } })
                                                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                        </div>                                     
                                    </div>
                            }
                        </div>
                        <h4 class="form-section"><i class="ft-mail"></i>Invoice Payment</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-content collapse show">
                                        <div id="dvtbl" class="table-responsive">
                                            <table id="tbl" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Auto Inv. No.</th>
                                                        <th>Invoice No</th>
                                                        <th>PurchaseRequest</th>
                                                        <th>Vendor</th>
                                                        <th>Purchase Date</th>
                                                        <th>Total Amount</th>
                                                        <th>Amount Paid</th>
                                                        <th>PO Return</th>
                                                        <th>Status</th>
                                                        <th>Balance</th>
                                                        <th>Discount</th>
                                                        <th>Adjustments</th>
                                                        <th>Adjust. Desc.</th>
                                                        <th>Tax Type</th>
                                                        <th>Tax %</th>
                                                        <th>Total Bal.</th>
                                                        <th>Paying</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Total</td>
                                                        <td><input type="text" class="form-control input-sm" id="txtTotal" disabled /></td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
<script type="text/javascript">
    $('#AccountID').select2();
    $('#Bank').select2();
        document.getElementById('ChequeDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();

</script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">           
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/vendorPayment_1.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script> 
    <script src="~/Scripts/customScripts/helper.js"></script>   
}
