﻿@model POSOman.Models.BLL.Payment
@{
    ViewBag.Title = "Payment";
}
<section id="number-tabs">
    <div class="row">
        <div class="col-12">
            <h2>Vendor Payment</h2> <br />
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("SavePayment", "CustomerPayment",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "number-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()
                            <!-- Step 1 -->
                            <h6>Select Invoice</h6>
                            <fieldset>
                                <div style="display: none;">
                                    <label>Branch</label>
                                    <br>

                                </div>
                                <div class="row">
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label>Vendor</label>
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <div class="input-group">
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control" ,@onchange = "getVendorDetails(this.value);" })
                                        </div>
                                    </div>
                                   
                                    
                                    <div class="form-group mb-1 col-sm-12 col-md-2" >
                                        <label>Branch</label>

                                        <div class="input-group">
                                            @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchID, "Value", "Name"), "Select Project", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group mb-1 col-sm-12 col-md-2">
                                        <label></label>
                                        <br>
                                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                    </div>

                                    @*<div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Customer", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>*@
                                    @*<div class="col-md-6">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                            </div>
                                        </div>*@
                                </div>
                                <h4 class="form-section"><i class="ft-mail"></i>Invoice Payment</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-content collapse show">
                                                <div id="dvtbl" class="table-responsive">
                                                    <table id="tbl" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Project</th>
                                                                <th>Invoice No.</th>
                                                                <th hidden>PONo</th>
                                                                <th>Vendor</th>
                                                                <th>Purchase Date</th>
                                                                <th>Total Amount</th>
                                                                <th>Amount Paid</th>
                                                                <th>Status</th>
                                                                <th>Balance</th>
                                                                <th>Receiving</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td hidden></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>Total</td>
                                                                <td><input type="text" class="form-control input-sm" id="txtTotal" disabled /></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                    @*<div><input type="text" class="form-control input-sm" id="txtTotal" disabled /></div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 2 -->
                            <h6>Step 2</h6>
                            <fieldset>
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Vendor", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @*@Html.DropDownList("CustomerID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control", @readonly = "readonly", id = "CustomerID", name = "CustomerID" })*@

                                                    @Html.Editor("VendorID", new { htmlAttributes = new { @class = "form-control", name = "CustomerID", id = "CustomerID", @disabled = "disabled" } })

                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Payment Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.Label("Remaining Balance", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.Editor("Remaining Balance", new { htmlAttributes = new { @class = "form-control", name = "RemBal", id = "RemBal", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-6" hidden>
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control" })
                                                        @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                    @*<div class="row" hidden>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    <label class="col-md-3 label-control">Bank Account</label>
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "select2 form-control", name = "Bank", id = "Bank" })

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.ChequeDate, "Cheque Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ChequeDate", id = "ChequeDate" } })
                                                        @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>*@
                                    @*<div class="row">
                                            <div class="col-md-6" hidden>
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.ChequeNumber, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", name = "ChequeNumber", id = "ChequeNumber" } })
                                                        @Html.ValidationMessageFor(model => model.ChequeNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>*@

                                    <hr />
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label>Pay Type</label>
                                            @Html.DropDownList("PayTypeID", new List<SelectListItem>{
                                                     new SelectListItem{ Text="Select Pay Type", Value = "0" },
                                                     new SelectListItem{ Text="Cash", Value = "1",Selected = true },
                                                     new SelectListItem{ Text="Bank", Value = "2" },
                                                       new SelectListItem{ Text="Cheque", Value = "3" },
                                                     new SelectListItem{ Text="Cheque in Hand", Value = "4" },
                                                       new SelectListItem{ Text="Others", Value = "5" },

                                                 }, htmlAttributes: new { @class = "form-control", required = "required" })
                                        </div>
                                        <div class="col-md-2">
                                            <label>Bank Account</label>
                                            @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select", htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank", @disabled = "disabled" })

                                        </div>
                                        <div class="col-md-2">
                                            <label>Cheque Number</label>
                                            <input class="form-control" id="ChequeNumber" name="ChequeNumber" placeholder="Cheque Number" />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Cheque Date</label>
                                            <input class="form-control" type="date" id="ChequeDate" name="ChequeDate" placeholder="Cheque Date" />
                                        </div>


                                        <div class="col-md-2">
                                            <label>Amount</label>
                                            <input class="form-control" type="number" id="PayAmount" name="PayAmount" placeholder="Amount" />
                                        </div>

                                    </div>
                                    <div class="table-responsive">
                                        <table id="payTbl" class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Payment Type</th>
                                                    <th>Bank Account</th>

                                                    <th>Chq. Date</th>
                                                    <th>Chq. Number</th>
                                                    <th>Amount</th>

                                                </tr>
                                            </thead>
                                            <tbody></tbody>

                                        </table>
                                        @*<tr>
                                                <td><input type='checkbox' name='record' ></td>
                                                <td>
                                                    @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control" })
                                                </td>
                                                <td>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "select2 form-control", name = "Bank", id = "Bank" })
                                                </td>

                                                <td>
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ChequeDate", id = "ChequeDate" } })
                                                </td>
                                                <td>
                                                    @Html.EditorFor(model => model.ChequeNumber, new { htmlAttributes = new { @class = "form-control", name = "ChequeNumber", id = "ChequeNumber" } })
                                                </td>

                                            </tr>*@
                                        @*<div><input type="text" class="form-control input-sm" id="txtTotal" disabled /></div>*@
                                    </div>
                                    <div>
                                        <button type="button" value="Remove" id="btnAdd" name="btnAdd" class="btn btn-success btn-sm btn-round" tabindex="0">add</button>
                                        &nbsp;  &nbsp;
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">remove</button>

                                    </div>



                                    @*<div class="form-actions right">
                                            <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                        </div>*@
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
    <script src="~/Scripts/vendor/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Scripts/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/VendorPaymentMulti.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>
        $("#tbl").DataTable({

            dom: 'frtip',
            "paging": false,
            "ordering": false
        });
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            //////////////////////////////
            //ajaxCall("GET", { "AccountID": customerID }, "application/json; charset=utf-8", "/InstallmentPlan/GetCustomerAddress",
            //    "json", onSuccess, onFailure);

            //function onSuccess(data) {
            //    $("#Address").val(data);




            //}
            //function onFailure(err) {
            //    console.log(err);
            //}
            //////////////////////////////
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
            $('#CustomerID').val($('#AccountID option:selected').text());
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            //$('#hdnAccountID').val(customerID);
            ////////////////////////////////
            //ajaxCall("GET", { "AccountID": customerID }, "application/json; charset=utf-8", "/InstallmentPlan/GetCustomerAddress",
            //    "json", onSuccess, onFailure);

            //function onSuccess(data) {
            //    $("#Address").val(data);




            //}
            //function onFailure(err) {
            //    console.log(err);
            //}
            //////////////////////////////
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerID').val($('#AccountID option:selected').text());
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            //////////////////////////////
            //ajaxCall("GET", { "AccountID": customerID }, "application/json; charset=utf-8", "/InstallmentPlan/GetCustomerAddress",
            //    "json", onSuccess, onFailure);

            //function onSuccess(data) {
            //    $("#Address").val(data);




            //}
            //function onFailure(err) {
            //    console.log(err);
            //}
            getVendorPayment();

            function getVendorPayment() {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/VendorPayment/VendorVocherID',
                    async: true,
                    success: function (data) {
                        {

                            var value = data;


                            $("#VendorCode").val("VP-" + value);

                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }

            //////////////////////////////
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerID').val($('#AccountID option:selected').text());
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });

        $('#ChequeDate').val("");
        // document.getElementById('ChequeDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();
        $("#AccountID").select2();
        $("#BranchID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();

    </script>
}


@*@section scripts{
        <script type="text/javascript">
            $('#AccountID').select2();
            document.getElementById('ChequeDate').valueAsDate = new Date();
            document.getElementById('VoucherDate').valueAsDate = new Date();





        </script>
        <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
        <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
        <script src="~/Scripts/customScripts/general.js"></script>
        <script src="~/Scripts/customScripts/vendorPayment.js"></script>
        <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
        <script src="~/Scripts/customScripts/helper.js"></script>
    }*@
