﻿@model IEnumerable<POSOman.Models.GetVendorStatementVendorWise_Result>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card-content collapse show">
                    <div class="row">
                        @if (Model != null)
                        {
                            <div class="col-md-4 mb-3">
                                <label>Opening Balance</label>
                                <input type="text" class="form-control" disabled="" value=@Model.First().OpBalance>
                            </div>
                            <table id="tblVendor" class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Date")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Detail)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AccountName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Debit)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Credit)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.Balance)
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VoucherDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Detail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AccountName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Debit)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Credit)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Balance)
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                    </div>
                </div>

</div>
</div>
    </section>
</div>