﻿@model IEnumerable<POSOman.Models.GetVendorPayReportFilterWise_Result>


@{
    ViewBag.Title = "VendorPayReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>Vendor Vouchers</h2>
            <div class="form-row">
                <div class="form-group mb-1 col-sm-12 col-md-3">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-12 col-md-3">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                @*<div class="col-md-3 mb-3" hidden>
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchID, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>*@
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                @*<div class="row">
                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                    </div>*@
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>
    <script>
        $("#btnSearch").on("click", function () {
            //var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            //var partNo = $('#PartNo').val();
            //  var branchID = $('#Branch').val();

            var branchID = $('#BranchID option:selected').val();
           // var Branch = $("#Branch option:selected").text();

            var html = "<h3 align=center>Sales Report</h3><br/>";

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("GetVendorPaymentReportFilterWise", "VendorPayment")",
                data: {
                    btn: true,
                   // PartNo: partNo,
                    BranchID: branchID,
                    //accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    $('#tblPO').dataTable({
                        //footerCallback: function ( row, data, start, end, display ) {
                        //    var api = this.api(), data;
                        //    // Remove the formatting to get integer data for summation
                        //    var intVal = function ( i ) {
                        //        return typeof i === 'string' ?
                        //            i.replace(/[\$,]/g, '')*1 :
                        //            typeof i === 'number' ?
                        //            i : 0;
                        //    };

                        //    // Total over all pages
                        //    total = api
                        //        .column( 5 )
                        //        .data()
                        //        .reduce( function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0 );

                        //    // Total over this page
                        //    pageTotal = api
                        //        .column( 6, { page: 'current'} )
                        //        .data()
                        //        .reduce( function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0 );
                        //    $('#totalSales').val(parseFloat(total).toFixed(3));
                        //    $('#hdntotalSales').val(parseFloat(total).toFixed(3));
                        //    // Update footer
                        //    //$( api.column( 7 ).footer() ).html(
                        //    //    ''+pageTotal +' ( '+ total +' total)'
                        //    //);
                        //} ,
                        aoColumnDefs: [
                        { "aTargets": [5], "bSortable": true },
                        { "aTargets": [0], "bSortable": true },
                        { "aTargets": [3], "bSortable": true },
                        { "aTargets": [4], "bSortable": true },
                        { "aTargets": [2], "bSortable": true },
                        { "aTargets": [1], "bSortable": true, "sType": "date-uk" },
                        ],
                        dom: 'frtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    var total = $('#hdntotalSales').val();
                                    html += "<h4>Total Sales: " + total + "</h4>";
                                    return html;
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 3, 4]
                                }
                            },
                             {
                                 extend: 'excel',
                                 messageTop: function () {
                                     var total = $('#hdntotalSales').val();
                                     return "Sales Report          Total Sales: " + total ;
                                 },
                                 messageBottom: null,
                                 exportOptions: {
                                     columns: [0, 1, 3, 4]
                                 }
                             }
                        ]
                    });
                    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                        "date-uk-pre": function (a) {
                            var ukDatea = a.split('/');
                            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                        },

                        "date-uk-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-uk-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });

                }
            });
        });
    </script>
    <script type="text/javascript">

    $('#BranchID').select2();
    </script>

}




