﻿
@using Microsoft.AspNet.Identity
@using POSOman.Models;

@{
    ViewBag.Title = "Journal Voucher";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

@model IEnumerable<POSOman.Models.tbl_JDetail>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>  @ViewBag.Title </title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-5" style="text-align:center; align-content:center">
                    <h2><img src="@adddata.Logo" />  @adddata.Title</h2>
                </div>
                <div class="col-md-11" style="text-align:center ">
                    <h6>@adddata.FullAddress</h6>
                    <hr /><br />
                    <h4>@ViewBag.Title</h4>
                    <br />
                </div>


            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Acc Code:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.FirstOrDefault().tbl_AccountDetails.AccountCode
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Acc Name:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.FirstOrDefault().tbl_AccountDetails.AccountName
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Voucher Date: </strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.FirstOrDefault().tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Voucher:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.FirstOrDefault().tbl_JEntry.VoucherName
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Voucher Code:</strong></label>
                            </div>
                            <div class="col-md-6">
                                JD-@Model.FirstOrDefault().tbl_JEntry.JEntryId
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Generated By:</strong></label>
                            </div>
                            <div class="col-md-6">
                                @{
                                    var userid = @Model.FirstOrDefault().tbl_JEntry.UserName;
                                    var username = db.AspNetUsers.Where(a => a.Id == userid).Select(a => a.UserName).FirstOrDefault();
                                    <span> @username </span>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Generated Date:</strong></label>
                            </div>
                            <div class="col-md-6">
                                @Model.FirstOrDefault().tbl_JEntry.AddOn.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            <label>Accounts</label>
                        </th>
                        <th>
                            <label>Memo</label>
                        </th>
                        <th>
                            <label>Dr</label>
                        </th>
                        <th>
                            <label>Cr</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.Description)
                                </td>
                                <td>
                                    @{ 
                                        decimal Dr = item.Dr ;
                                        <span> @Dr.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @{
                                        decimal Cr = item.Cr ;
                                        <span> @Cr.ToString("#,##0.00") </span>
                                    }
                                </td>
                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>

            </table>
        </div>

    </div>
    <div class="col-lg-4 col-sm-5 ml-auto">

    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-right">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align:center;">Developed By: @adddata.DevelopBy</p>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" style="margin: 1px;"> Back</button>
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
        function Back() {
            window.location.href = '/JournalEntry/NewIndex';
        }
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/JournalEntry/NewIndex';
        }
    </script>
</body>
</html>
