﻿@model IEnumerable<POSOman.Models.GetGeneralJournalFilterWise_Result>

@using POSOman.Models;
@using System.Linq;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;
@{
    dbPOS db = new dbPOS();

    var user = User.Identity;
    string currentUserId = User.Identity.GetUserId();
    var currentUser = db.AspNetUsers.FirstOrDefault(x => x.Id == currentUserId);
}

<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-4 mb-3">
                <label>Total Debit</label>
                <input type="text" class="form-control" readonly="readonly" value="@String.Format("{0:n}", Model.First().TotalDebit)" id="totalDebit">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Total Credit</label>
                <input type="text" class="form-control" readonly="readonly" value="@String.Format("{0:n}", Model.First().TotalCredit)" id="totalCredit">
            </div>
            <div class="card-body card-dashboard">
                <table id="tblVendor" class="table">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AccountName)
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dr)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Cr)
                            </th>
                            <th hidden>
                                Branch
                            </th>
                            <th hidden>
                                User
                            </th>
                            <th >Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                JD-@item.JentryID
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @{
                                    decimal dr = item.Dr ;
                                    <span> @dr.ToString("#,##0.00") </span>
                                }
                            </td>

                            <td>
                                @{
                                    decimal cr = item.Cr ;
                                    <span> @cr.ToString("#,##0.00") </span>
                                }
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.BranchName)
                            </td>
                            <td hidden>
                                @if (item.UserName != null)
                                {
                                    var username = db.AspNetUsers.Where(a => a.Id == item.UserName).Select(a => a.UserName).FirstOrDefault();
                                    <span>@username</span>
                                }
                                else
                                {
                                    <span>Nil</span>
                                }
                            </td>
                            <td>


                                @if (item.ThorughGJ == true)
                                {
                                    <a href="/JournalEntry/Details/@item.JentryID">Details</a>
                                    if (@User.IsInRole("SuperAdmin"))
                                    {
                                        <span> | </span>
                                        <a href="/JournalEntry/EditGJEntry/@item.JentryID">Edit</a> <span> | </span>
                                        <a href="/JournalEntry/Delete/@item.JentryID">Delete</a>
                                    }
                                }
                            </td>
                            @*<td hidden>
            @if (item.VoucherName == "Expense" && !item.ThorughGJ == true)
            {
                <a href="/Expenses/Details/@item.JentryID">Details</a> <span> | </span>
                if (@User.IsInRole("SuperAdmin"))
                {
                    <a href="/Expenses/Edit/@item.JentryID">Edit</a> <span> | </span>
                    <a href="/Expenses/Delete/@item.JentryID">Delete</a>
                }
            }
            else if (item.VoucherName == "Purchase" && !item.ThorughGJ == true)
            {
                <a href="/Purchase/Export/@item.RefID">Details</a> <span> | </span>
                if (@User.IsInRole("SuperAdmin"))
                {
                    <a href="/Purchase/GetEditPurchaseInvoice/@item.RefID">Edit</a> <span> | </span>
                    <a href="/Purchase/PODelete/@item.RefID">Delete</a>
                }
            }
            else if (item.VoucherName == "Sales" && !item.ThorughGJ == true)
            {
                <a href="/SalesOrder/Export/@item.RefID">Details</a> <span> | </span>
                if (@User.IsInRole("SuperAdmin"))
                {
                    <a href="/SalesOrder/GetEditSaleInvoice/@item.RefID">Edit</a> <span> | </span>
                    <a href="/SalesOrder/SODelete/@item.RefID">Delete</a>
                }
            }

            @if (item.ThorughGJ == true)
            {
                <a href="/JournalEntry/Details/@item.JentryID">Details</a> <span> | </span>
                if (@User.IsInRole("SuperAdmin"))
                {

                    <a href="/JournalEntry/EditGJEntry/@item.JentryID">Edit</a> <span> | </span>
                    <a href="/JournalEntry/Delete/@item.JentryID">Delete</a>
                }
            }
        </td>*@
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}





