﻿
@model IEnumerable<POSOman.Models.GetGeneralJournalFilterWiseManual_Result>

@using POSOman.Models;
@using System.Linq;
@using System.Web.Mvc;
@using Microsoft.AspNet.Identity;

<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-4 mb-3">
                <label>Total Debit</label>
                <input type="text" class="form-control" readonly="readonly" value="@String.Format("{0:n}", Model.First().TotalDebit)" id="totalDebit">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Total Credit</label>
                <input type="text" class="form-control" readonly="readonly" value="@String.Format("{0:n}", Model.First().TotalCredit)" id="totalCredit">
            </div>
            <div class="card-body card-dashboard">
                <table id="tblVendor" class="table">
                    <thead>
                        <tr>
                            <th>
                                Code
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.AccountName)
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dr)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Cr)
                            </th>
                         

                            <th></th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.Memo)
                                </th>*@
                            @*<th>Action</th>*@
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CodeString)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.VoucherDate.ToString("dd/MM/yyyy"))*@
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                            </td>
                            <td>
                                @if (item.Detail == "Manual Entry")
                                {
                                    @Html.DisplayFor(modelItem => item.Description)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Detail)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dr)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Cr)
                            </td>


                            @*<td>
            @Html.DisplayFor(modelItem => item.Memo)
        </td>*@

                            <td>
                                @if (item.ThorughGJ == true)
                                {

                                    @*@Html.ActionLink("Edit", "EditGJEntry", new { id = item.JentryID });<text>|</text>

                @Html.ActionLink("Delete", "Delete", new { id = item.JentryID });<text>|</text>*@

                                    @Html.ActionLink("Details", "Details", new { id = item.JentryID });

                                }
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}





