﻿@model POSOman.Models.DTO.JournalEntry
@{
    ViewBag.Title = "Edit";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("EditGJEntry", "GeneralJournal",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Voucher Details</h4>
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                        <input type="hidden" id="JEntryID" name="JEntryID" value="@ViewBag.JEntryID">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-2">
                                                    <label>Voucher Name*</label>
                                                    @Html.EditorFor(model => model.VoucherName, new { htmlAttributes = new { @class = "form-control", name = "VoucherName", id = "VoucherName" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Date</label>
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Description</label>
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                                    <label>Total Debit</label>
                                                    <br>
                                                    <input type="number" class="form-control" placeholder="Total Debit" id="drTotal" disabled />
                                                </div>
                                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                                    <label>Total Credit</label>
                                                    <br>
                                                    <input type="number" class="form-control" placeholder="Total Credit" id="crTotal" disabled />
                                                </div>
                                                <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                                    <label>Project</label>
                                                    <br>

                                                    @Html.DropDownList("BranchId", new SelectList(ViewBag.BranchID, "Value", "Name"), "Select Project", htmlAttributes: new { @class = "form-control", id = "BranchID" })


                                                </div>
                                                @*<div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Project</label>
            <br>

            @Html.DropDownList("BranchId", new SelectList(ViewBag.BranchId, "Value", "Name"), "Select Project", htmlAttributes: new { @class = "select2 form-control",@id="BranchID" })


        </div>*@
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                    </div>
                                    <h4 class="form-section"><i class="fa-thermometer-0"></i>Journal Entry </h4>
                                    @*<label id="DescriptionTitle"></label>
                                        <label id="Description" class="badge badge-info"></label>
                                        <label id="SubsTitle"></label>
                                        <label id="SubstituteNo" class="badge badge-primary"></label>
                                        <label id="LocationTitle"></label>
                                        <label id="Location" class="badge badge-info"></label>
                                        <label id="UnitCodeTitle"></label>
                                        <label id="UnitCode" class="badge badge-primary"></label>
                                        <hr />*@
                                    <div class="row" >
                                        <form id="EntryForm" name="EntryForm">
                                            <div class="col-sm-1" hidden>
                                                <label>Type</label>
                                                <br />
                                                @Html.DropDownList("AccountTypeID", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Type", Value = "0" },
                                                   new SelectListItem{ Text="Non Current Assets", Value = "21" },
                                                   new SelectListItem{ Text="Current Assets", Value = "19" },
                                                   new SelectListItem{ Text="Current Liabilities", Value = "20" },
                                                   new SelectListItem{ Text="Long-Term Liabilities", Value = "22" },
                                                   new SelectListItem{ Text="Equity", Value = "3" },
                                                   new SelectListItem{ Text="Revenue", Value = "4" },
                                                   new SelectListItem{ Text="Expense", Value = "5" },
                                               }, htmlAttributes: new
                                               {
                                                   @class = "form-control",
                                                   id = "AccountTypeId"
                                               })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Account</label>
                                                <br />
                                                @Html.DropDownList("ddlAccount", new SelectList(ViewBag.Account, "Value", "Name"), "Select Account", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-1" >
                                                <label>Memo</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Memo" id="Memo" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Debit</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Debit" id="debit" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Credit</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Credit" id="credit" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>
                                            <div hidden class="col-md-2">
                                                <label>Entry Date</label>
                                                @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "EntryDate", id = "EntryDate" } })
                                                @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                                            </div>
                                            <div hidden class="col-sm-1">
                                                <label> </label>
                                                <input type="button" class="btn btn-round" value="Assign Date" id="AssignEntryDate" style="color:dodgerblue">
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblEntry" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    @*<th>Type</th>*@
                                                    <th>Account</th>
                                                    <th>Memo</th>
                                                    <th>Debit</th>
                                                    <th>Credit</th>
                                                    <th hidden>Entry Date</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button  type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Entry(s)</button>
                                    </div>

                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('VoucherDate').valueAsDate = new Date();
        $('#ddlAccount').select2();
        $('#BranchID').select2();

    </script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/accounts/EditjournalEntry.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/customScripts/printSaleOrder.js"></script>
}
