﻿@model IEnumerable<POSOman.Models.GetGeneralJournalFilterWiseManual_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h4> MANUAL JOURNAL ENTRIES</h4><br />
                <h5 style="text-align:left">@Html.ActionLink("Add New", "Create")</h5>
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Account Type</label>
                        <div class="input-group">
                            @Html.DropDownList("AccountTypeId", new SelectList(ViewBag.AccountType, "Value", "Name"), "Select Account Type", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Account</label>
                        <br>
                        @Html.DropDownList("ddlAccount", new SelectList(ViewBag.Account, "Value", "Name"), "Select Account", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Projects</label>
                        <br>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js" type="text/javascript"></script>

    <script>
        $("#ddlAccount").select2();
        $("#AccountTypeId").select2();
        $("#AccountTypeId").change(function () {
            var accountTypeId = $('#AccountTypeId').val();
            getAccounts(accountTypeId);
        });
        function getAccounts(accountTypeId) {

            if (accountTypeId == "" || accountTypeId == 0)
            { accountTypeId = -1; }
            var json = { "accountTypeId": accountTypeId };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/NewAccount/getAccounts',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    GetDropdown1("ddlAccount", data, true);
                },
                error: function (err) { console.log(err); }
            });
        }

        $("#BranchID").select2();
        $("#AccountTypeID").select2();
        $("#btnSearch").on("click", function () {
            var accountTypeID = $('#AccountTypeId').val();
            var accountID = $('#ddlAccount').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var BranchID = $('#BranchID').val();
            var vendorName = $("#AccountID option:selected").text();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">@ViewBag.Title </h4>';

            //html += "<h4>Account:  " + vendorName + "</h4>";
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

                $.ajax({
                    url: "@Url.Action("NewIndexManual", "JournalEntry")",
                    data: {
                        isSearch: true,
                        accountTypeID: accountTypeID,
                        accountID: accountID,
                        fromDate: $('#fromDate').val(),
                        toDate: $('#toDate').val(),
                        BranchID: $('#BranchID').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            var totalDebit = $("#totalDebit").val();
                            var totalCredit = $("#totalCredit").val();
                            html += "<h4>Total Dr: " + totalDebit + "</h4>";
                            html += "<h4>Total Cr: " + totalCredit + "</h4>";
                            $('#tblVendor').dataTable({
                                aoColumnDefs: [

                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },

                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [0], "bSortable": true, "sType": "date-uk" },
                                ],
                                dom: 'Bfrtip',
                                ordering:false,
                                buttons: [
                                    {
                                        title:'',
                                        extend: 'print',
                                        messageTop: function () {
                                            return html;
                                        },
                                        messageBottom: '<br/><div style = "position: relative; text-align: left" ><p style="position: fixed; bottom: 15%; width:100%;">Approved By: ____________________</p></div><div style = "position: relative; text-align: right" ><p style="position: fixed; bottom: 15%; width:100%;">Posted By : ____________________</p></div><br/><div style = "position: relative; text-align: left" ><p style="position: fixed; bottom: 5%; width:100%;">Prepared By: ____________________</p></div><div style = "position: relative; text-align: right" ><p style="position: fixed; bottom: 5%; width:100%;">Checked By: ____________________</p></div><div id="bottom" style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%;">Developed By: Mangotech Solutions</p></div>',

                                        exportOptions: {
                                            modifier: {
                                                page: 'current'
                                            },
                                            columns: [0, 1, 2, 3, 4,5,6]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Journal Entries';
                                },
                                messageBottom: 'Powered By: Mangotech Solutions',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6]
                                }
                            }

                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                        }


                }});

        });

    </script>

}

