﻿@model IEnumerable<POSOman.Models.GetTrialBalance_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
            {              
           
                <div class="card-body card-dashboard">
                    <table id="tblVendor" class="table">
                        <thead>
                            <tr>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountName)
                                </th>                                
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalDebit)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.TotalCredit)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Balance)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalDebit)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalCredit)
                                    </td>                                    
                                    <td>
                                            @if (item.Balance < 0)
                                            { @(item.Balance * -1); }
                                            else
                                            {@Html.DisplayFor(modelItem => item.Balance);
                                            }
                                        </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}