﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder>
@{
    ViewBag.Title = "Index";
}
<section id="vertical-tabs">
    <div class="row">
        <div class="col-12">
            <div class="card">               
                <div class="card-content collapse show">
                    <div class="card-body">
@using (Html.BeginForm("Save", "PurchaseReturn",
            new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "vertical-tab-steps wizard-circle" }))
{
    @Html.AntiForgeryToken()
                        @*<form action="#" class="vertical-tab-steps wizard-circle">*@
                            <!-- Step 1 -->
                            <h6>Select Order To Return</h6>
                            <fieldset>
                                <div class="table-responsive">
                                    <table id="tblSales" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Customer
                                                </th>
                                                <th>
                                                    Cust. Code
                                                </th>
                                                <th>
                                                    Branch
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SalesDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.PaymentStatus)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TotalAmount)
                                                </th>
                                                <th>
                                                    Discount
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AmountPaid)
                                                </th>

                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CustomerCode)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SalesDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DiscountAmount)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AmountPaid)
                                                    </td>


                                                    <td>
                                                        @Html.ActionLink("Details", "Details", new { id = item.OrderID })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </fieldset>
                            
                            <!-- Step 2 -->
                            <h6>Step 2</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="proposalTitle4">Proposal Title :</label>
                                            <input type="text" class="form-control" id="proposalTitle4">
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAddress8">Email Address :</label>
                                            <input type="email" class="form-control" id="emailAddress8">
                                        </div>
                                        <div class="form-group">
                                            <label for="videoUrl4">Video URL :</label>
                                            <input type="url" class="form-control" id="videoUrl4">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="jobTitle6">Job Title :</label>
                                            <input type="text" class="form-control" id="jobTitle6">
                                        </div>
                                        <div class="form-group">
                                            <label for="shortDescription4">Short Description :</label>
                                            <textarea name="shortDescription" id="shortDescription4" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 3 -->
                            <h6>Step 3</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="eventName4">Event Name :</label>
                                            <input type="text" class="form-control" id="eventName4">
                                        </div>
                                        <div class="form-group">
                                            <label for="eventType4">Event Type :</label>
                                            <select class="custom-select form-control" id="eventType4" data-placeholder="Type to search cities"
                                                    name="eventType4">
                                                <option value="Banquet">Banquet</option>
                                                <option value="Fund Raiser">Fund Raiser</option>
                                                <option value="Dinner Party">Dinner Party</option>
                                                <option value="Wedding">Wedding</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventLocation4">Event Location :</label>
                                            <select class="custom-select form-control" id="eventLocation4" name="location">
                                                <option value="">Select City</option>
                                                <option value="Amsterdam">Amsterdam</option>
                                                <option value="Berlin">Berlin</option>
                                                <option value="Frankfurt">Frankfurt</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Event Date - Time :</label>
                                            <div class='input-group'>
                                                <input type='text' class="form-control datetime" />
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar-o"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="eventStatus4">Event Status :</label>
                                            <select class="custom-select form-control" id="eventStatus4" name="eventStatus">
                                                <option value="Planning">Planning</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Finished">Finished</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Requirements :</label>
                                            <div class="c-inputs-stacked">
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">Staffing</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">Catering</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 4 -->
                            <h6>Step 4</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="meetingName4">Name of Meeting :</label>
                                            <input type="text" class="form-control" id="meetingName4">
                                        </div>
                                        <div class="form-group">
                                            <label for="meetingLocation4">Location :</label>
                                            <input type="text" class="form-control" id="meetingLocation4">
                                        </div>
                                        <div class="form-group">
                                            <label for="participants4">Names of Participants</label>
                                            <textarea name="participants" id="participants4" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="decisions4">Decisions Reached</label>
                                            <textarea name="decisions" id="decisions4" rows="4" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Agenda Items :</label>
                                            <div class="c-inputs-stacked">
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">1st item</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">2nd item</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">3rd item</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">4th item</span>
                                                </label>
                                                <label class="inline custom-control custom-checkbox block">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description ml-0">5th item</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        @*</form>*@
}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
 
    <script type="text/javascript">  
        $(document).ready(function () {
            $('#tblSales').DataTable({
                paging: true,
                pageLength: 5,
                searching: true,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });
        });
        //$('#tblSales').dataTable();
        //$('#tblSales').dataTable({
        //    "pageLength": 5
        //});
        //$('#tblSales').DataTable({
        //    paging: true,
        //    pageLength: 5,
        //    searching: true
        //});
        //$('#tblSales').DataTable({
        //    "lengthMenu": [[10, 25, 50, -1], [5, 10, 20, "All"]]
        //});
    </script>       
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">       
    <script src="~/Scripts/vendor/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Scripts/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/purchaseReturn.js"></script>
}