﻿
@model POSOman.Models.tbl_Product


<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Satin Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <form id="satinForm" class="card-body">

                            @Html.AntiForgeryToken()
                            <div class="row">
                                @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = "@ViewBag.ItemID" } })

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item</label>
                                        @Html.EditorFor(model => model.PartNo, "ItemDescription", new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Department</label>
                                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.SatinDepartmentID, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control", id = "DepartmentID", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Unit Code</label>
                                        @Html.DropDownListFor(model => model.UnitCodeID, new SelectList(ViewBag.UnitCode, "Value", "Name"), "Select UnitCode", htmlAttributes: new { @class = "select2 form-control", @required = "required" })
                                    </div>

                                </div>
                            </div>

                            <div class="row">

                                <div class="form-body col-lg-6 col-md-6 col-sm-12" style="border-right:2px solid #ddd">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Printing Machine</label>
                                                @Html.DropDownListFor(model => model.PrintingMachineID, new SelectList(ViewBag.PrintingMachine, "Value", "Name"), "Select Machine", htmlAttributes: new { @class = "select2 form-control", id = "PrintingMachineID", required = "required", onchange = "getPrintingMachineData(this.value)" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Printing Rate/Roll</label>
                                                @Html.EditorFor(model => model.PrintingRatePerRoll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                @*<input type="text" class="form-control" id="PrintingRatePerRoll" readonly />*@
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cylinder</label>
                                                @Html.DropDownListFor(model => model.CylinderID, new SelectList(ViewBag.Cylinder, "Value", "Name"), "Select Cylinder", htmlAttributes: new { @class = "select2 form-control", id = "CylinderID", required = "required", onchange = "getCylinderData(this.value)", @disabled = "disabled" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Width</label>
                                                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cylinder Length</label>
                                                @Html.EditorFor(model => model.CylinderLength, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Around Ups</label>
                                                @Html.EditorFor(model => model.AroundUps, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No. Of Print Colors</label>
                                                @Html.EditorFor(model => model.NoOfPrintingColors, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Roll Quality</label>
                                                @Html.DropDownListFor(model => model.RollID, new SelectList(ViewBag.Roll, "Value", "Name"), "Select Quality", htmlAttributes: new { @class = "select2 form-control", id = "RollID", required = "required", onchange = "getRollQualityData(this.value)" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Roll Cost</label>
                                                @Html.HiddenFor(model => model.RollLength, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                @Html.EditorFor(model => model.RollCost, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total Pc In Roll</label>
                                                @Html.EditorFor(model => model.TotalPcsInRoll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Wastage Pc In Roll</label>
                                                @Html.EditorFor(model => model.WastagePcsInRoll, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Total Req. Rolls</label>
                                                @Html.EditorFor(model => model.TotalRequiredRolls, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>


                                    <hr />
                                    <div class="row" style="margin-top:51px;">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <b>Cost</b>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Material Cost/PC</label>
                                                @Html.EditorFor(model => model.MaterialCostPerMeter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Printing Cost/PC</label>
                                                @Html.EditorFor(model => model.PrintingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="form-body col-lg-6 col-md-6 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Types Selection</h4>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Finishing Type</label>
                                                @Html.DropDownListFor(model => model.FinishingTypeID, new SelectList(ViewBag.FinishingType, "Value", "Name"), "Select Finish Type", htmlAttributes: new { @class = "select2 form-control", id = "FinishingTypeID", onchange = "getFinishingData(this.value)" })

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Finishing Cost</label>
                                                @Html.EditorFor(model => model.FinishingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Block Type</label>
                                                @Html.DropDownListFor(model => model.BlockTypeID, new SelectList(ViewBag.BlockType, "Value", "Name"), "Select Block Type", htmlAttributes: new { @class = "select2 form-control", id = "BlockTypeID", onchange = "getBlockData(this.value)" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Block Cost</label>
                                                @Html.EditorFor(model => model.BlockCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>General Expenses</label>
                                                @Html.EditorFor(model => model.GeneralExpense, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cost/PC</label>
                                                @Html.EditorFor(model => model.CostPerPc, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                          
                                             </div>
                                        </div>

                                    </div>

                                    <hr />

                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="button" id="btnOK" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> OK
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<script src="~/Scripts/vendor/js/select2/select2.min.js"></script>


<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
<script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script type="text/javascript">
    $("#btnOK").click(function () {
        console.log("clicked")
        var price = +$("#CostPerPc").val() || 0;
        var itemQty = +$("#QtyPerUnit").val() || 0;
        var totalSheets = +$("#TotalRequiredRolls").val() || 0;
        console.log(totalSheets + "<-sheets->Rolls-<-satin")
        $("#Sheets").val(totalSheets);
        $("#SalePrice").val(0);
        $("#UnitPrice").val(price);
        $("#Qty").val(itemQty);

        console.log(price)
        console.log(itemQty)
        CalcProductTotal();
       // $("#addRow").click();
        $("#itemCalculationModalCloseBtn").click();

        //Serialize the form datas.   
        var form_data = $("#satinForm").serialize();
        //to get alert popup   
        console.log(deptId);
        console.log(form_data);
        $.ajax({
            url: "/MachinePlate/CalculateSatinOffSet",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: form_data
        });

    })

  
</script>
<script src="~/Scripts/customScripts/general.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/customScripts/GenericLib.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>
<script src="~/Scripts/customScripts/CalculateSatinOffset.js"></script>
<script src="~/Scripts/customScripts/SatinOffsetOrder.js"></script>
