﻿
@model POSOman.Models.tbl_Product

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Card/Paper Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <form id="offsetForm" class="card-body">
                            @*@using (Html.BeginForm(null,null, null, FormMethod.Post, new { id = "updateCostingForm", @class = "form form-horizontal striped-rows form-bordered" }))
                            {*@
                            
                                @Html.AntiForgeryToken()
                                <div class="row">

                                    @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = "@ViewBag.ItemID" } })

                                    @*<div class="col-md-3">
                <div class="form-group">
                    <label>Customer</label>
                    @Html.DropDownList("AccountID", new SelectList(ViewBag.AccountID, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control", id = "AccountID", required = "required", onchange = "getCardQualityID(this.value)" })
                </div>
            </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Item</label>
                                            @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Department</label>
                                            @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.OffsetDepartmentID, "Value", "Name"), "Select Department", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Unit Code</label>
                                            @Html.DropDownListFor(model => model.UnitCodeID, new SelectList(ViewBag.UnitCode, "Value", "Name"), "Select UnitCode", htmlAttributes: new { @class = "select2 form-control", @required = "required" })

                                        </div>

                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-body col-lg-6 col-md-6 col-sm-12" style="border-right:2px solid #ddd">
                                        <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Card Quality</label>
                                                    @Html.DropDownListFor(model => model.CardQuality, new SelectList(ViewBag.CardQlty, "Value", "Name"), "Select Quality", htmlAttributes: new { @class = "select2 form-control", id = "CardQuality", @disabled = "disabled" })

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required", id = "Quantity" } })

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Length</label>
                                                    @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Width</label>
                                                    @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <b>Card Size</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <b>Cuts</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Card Length</label>
                                                    @Html.EditorFor(model => model.CardLength, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Card Width</label>
                                                    @Html.EditorFor(model => model.CardWidth, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cut Length</label>
                                                    @Html.EditorFor(model => model.CutLength, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cut Width</label>
                                                    @Html.EditorFor(model => model.CutWidth, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Upping</label>
                                                    @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Rate/KG</label>
                                                    <input type="hidden" id="hdnCardTypeID" />
                                                    @Html.EditorFor(model => model.RatePerKG, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Card GSM</label>
                                                    @Html.EditorFor(model => model.CardGSM, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>No. Of Sheets</label>
                                                    @Html.EditorFor(model => model.NoOfSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Raw Size Sheets RQ</label>
                                                    @Html.EditorFor(model => model.RawSizeSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "RawSizeSheets" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>No. Of Impression</label>
                                                    @Html.EditorFor(model => model.NOOfImpressions, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "Impression" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Wastage</label>
                                                    @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Total Sheets</label>
                                                    @Html.EditorFor(model => model.TotalSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "TotalNumberOfSheets" } })
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <div class="row" style="margin-top:51px;">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <b>Calculated Card Cost</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Per Sheet Cost</label>
                                                    @Html.EditorFor(model => model.PerSheetCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Total Sheet Cost</label>
                                                    @Html.EditorFor(model => model.TotalSheetCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="form-body col-lg-6 col-md-6 col-sm-12">
                                        <h4 class="form-section"><i class="ft-user"></i>Machine Selection</h4>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Machine</label>
                                                    @Html.DropDownListFor(model => model.MachineID, new SelectList(ViewBag.Machine, "Value", "Name"), "Select Machine", htmlAttributes: new { @class = "select2 form-control", id = "MachinePlate", onchange = "getMachineDetails(this.value)" })

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Ground Color</label>
                                                    @Html.EditorFor(model => model.GroundColor, new { htmlAttributes = new { @class = "form-control", id = "MachineGroundColor" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Total Ground Cost</label>
                                                    @Html.EditorFor(model => model.GroundCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachineGroundCost" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Text Color</label>
                                                    @Html.EditorFor(model => model.TextColor, new { htmlAttributes = new { @class = "form-control", id = "MachineTextColor" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Total Text Cost</label>
                                                    @Html.EditorFor(model => model.TextCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachineTextCost" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>No. Of Plates</label>
                                                    @Html.EditorFor(model => model.NoOfPlates, new { htmlAttributes = new { @class = "form-control", required = "required", id = "MachinePlates" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Machine Plates Cost</label>
                                                    @Html.EditorFor(model => model.PlateCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachinePlateCost" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Printing Cost</label>
                                                    @Html.EditorFor(model => model.PrintingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachinePrintingCost" } })
                                                </div>
                                            </div>


                                        </div>

                                        <hr />
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i>Additional Selection</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.HiddenFor(model => model.OffsetTypeID)
                                                        @Html.HiddenFor(model => model.LaminationTypeID)
                                                        <label>Gloss Lamination Cost</label>
                                                        @*@Html.RadioButton("GlossLaminationCostRadio", new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                                        <input type="radio" name="rad" id="GlossLaminationCost">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Hot Lamination Cost</label>
                                                        @*@Html.RadioButton("MatLaminationCostRadio", new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                                        <input type="radio" name="rad" id="HotLaminationCost">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Mat Lamination Cost</label>
                                                        @*@Html.RadioButton("MatLaminationCostRadio", new { htmlAttributes = new { @class = "form-control", required = "required" } })*@
                                                        <input type="radio" name="rad" id="MatLaminationCost">
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Lamination Cost</label>
                                                        @Html.EditorFor(model => model.LaminationCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>DIE Cost</label>
                                                        <input type="checkbox" id="includeDieCost" />
                                                        @Html.EditorFor(model => model.DieCost, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>DIE Cutting Cost</label>
                                                        @Html.EditorFor(model => model.DieCuttingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>UVCost</label>
                                                        <input type="checkbox" id="includeUVCost" />
                                                        @Html.EditorFor(model => model.UVCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Slitting Cost</label>
                                                        <input type="checkbox" id="includeSlittingCost" />
                                                        @Html.EditorFor(model => model.SlittingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Design Cost</label>
                                                        @Html.EditorFor(model => model.DesignCost, new { htmlAttributes = new { @class = "form-control", required = "required"@*, @Value = "0"*@ } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Foil Printing Rate</label>
                                                        @Html.EditorFor(model => model.FoilPrintingCost, new { htmlAttributes = new { @class = "form-control", required = "required"@*, @Value = "0"*@ } })
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Final Cost/PC</label>
                                                        @Html.EditorFor(model => model.FinalCostPerPc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <b>Total Costing</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>MarkUp Rate</label>
                                                        @Html.EditorFor(model => model.MarkupRate, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Marked Up Price</label>
                                                        @Html.EditorFor(model => model.MarkedupPrice, new { htmlAttributes = new { @class = "form-control", id = "MarkedUpPrice" } })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <hr />

                                <div class="form-actions">
                                    <button type="button" id="btnOK" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> OK
                                    </button>
                                </div>
                           
                               
                            @*}*@
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/vendor/js/select2/select2.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
<script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script type="text/javascript">

    //$("#CardQuality").select2();
    //$("#UnitCodeID").select2();
    //$("#DepartmentID").select2();
    //$("#MachinePlate").select2();
    //$("#AccountID").select2();
    //$("#SalePersonAccountID").select2();
    //$(document).on('submit', function (event) {

    //    event.preventDefault();

    //    // everything else you want to do on submit
    //});
    $("#btnOK").click(function (e) {
        console.log("clicked")
        var price = +$("#MarkedUpPrice").val() || 0;
        var itemQty = +$("#Quantity").val() || 0;
        var totalSheets = +$("#TotalNumberOfSheets").val() || 0;
        console.log(totalSheets+"<-sheets-<simple offset")
        $("#Sheets").val(totalSheets);
        $("#SalePrice").val(0);
        $("#UnitPrice").val(price);
        $("#Qty").val(itemQty);
        CalcProductTotal();
        $("#itemCalculationModalCloseBtn").click();

        //Serialize the form datas.   
        var form_data = $("#offsetForm").serialize();
        //to get alert popup   
        console.log(deptId);
        console.log(form_data);
        $.ajax({
            url: "/MachinePlate/CalculateOffSet",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: form_data
        });
       
        //var valdata = $("#updateCostingForm").serialize();
        //console.log(valdata)
        //     $.ajax({
        //        type: "POST",
        //        dataType: 'application/x-www-form-urlencoded; charset=UTF-8',
        //        url: '/MachinePlate/UpdateOffsetCosting',
        //        async: true,
        //        data: valdata,
        //        success: function (data) {
        //           console.log("success")
        //        },
        //        error: function (err) { console.log(err); }
        //    });
       
    })

</script>
<script src="~/Scripts/customScripts/general.js"></script>
<script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/customScripts/GenericLib.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>
<script src="~/Scripts/OffsetItems/EditCalculateOffset.js"></script>
<script src="~/Scripts/OffsetItems/EditOffsetOrder.js"></script>
