﻿
@model IEnumerable<POSOman.Models.GetSalesOrder_Result>
@using POSOman.Models;
@using POSOman.Models.BLL;
@{
    dbPOS db = new dbPOS();
    decimal total = 0;

}
<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            @*<th> Branch </th>*@
                            <th> Customer PO No </th>
                            <th> Remarks </th>
                            <th> JO No.</th>
                            <th> Customer </th>
                            <th> Sale Date </th>
                            <th> Discount </th>
                            @*<th> Tax </th>*@
                            <th> Total Amount </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td> @Html.DisplayFor(modelItem => item.BranchName) </td>*@
                                <td> @item.CustomerPO </td>
                                <td> @item.Remarks </td>
                                <td> @Html.DisplayFor(modelItem => item.OrderID) </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                <td>
                                    @*@POSOman.Models.BLL.NumberFormat.Convert(item.DiscountAmount)*@
                                    @(Helper.DigitsWithComma(item.DiscountAmount))
                                </td>
                                @*<td> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxAmount ?? 0) </td>*@
                                <td> @(Helper.DigitsWithComma(item.TotalAmount)) @{total += item.TotalAmount ?? 0;} </td>
                                <td>

                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Store Keeper") || User.IsInRole("Account") || User.IsInRole("SalePerson"))
                                    {
                                        @Html.ActionLink("Details", "Export", new { id = item.OrderID, ReportType = "PDF" })

                                        if (!string.IsNullOrWhiteSpace(item.CustomerPO))
                                        {
                                            if (db.tbl_SaleDetails.Where(x => x.OrderID == item.OrderID && x.tbl_SalesOrder.IsDeleted != true).Any(x => x.QtyDelivered != x.Qty))
                                            {
                                                <text>|</text>
                                                @Html.ActionLink("Create Challan", "CreateChallanFromSale", "SalesOrder", new { id = item.OrderID }, null)

                                            }

                                        }
                                        <text>|</text>
                                        <a href="#" onclick="getPO(@item.OrderID)" data-toggle="modal" data-target="#exampleModal">Update Customer PO</a>

                                    }
                                    @if (User.IsInRole("Offset Manager") || User.IsInRole("Sticker Manager") || User.IsInRole("Satin Manager"))
                                    {
                                        @Html.ActionLink("Details", "Export", new { id = item.OrderID, ReportType = "PDF" })


                                    }

                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {

                                        if (db.tbl_Challan.Where(x => x.JOID == item.OrderID && (x.IsDeleted != true || x.IsDeleted == null)).ToList().Count() <= 0)
                                        {
                                            <text>|</text> @Html.ActionLink("Delete", "SODelete", new { id = item.OrderID });
                                        }


                                    }

                                    @*<text>|</text>
                            @Html.ActionLink("Edit", "GetEditSaleInvoice", new { id = item.OrderID }, null);
                            <text>|</text>*@


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="col-md-2 mb-2">
                    <label>Completed Orders Total Amount</label>
                    <input type="text" class="form-control" name="Total" placeholder="Total" readonly="readonly" id="totalCompletedOrders" value="@(Helper.DigitsWithComma(total))">
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Customer PO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <div hidden>
                                        <input type="hidden" id="hdnOrderId" />
                                    </div>

                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Customer PO:</label>
                                        <input type="text" class="form-control" id="customerPONumber">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" value="" onclick="UpdateCustomerPO()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
