﻿
@model IEnumerable<POSOman.Models.GetJobOrderListProductDepartmentWiseSP_Result>

@using POSOman.Models;
@using POSOman.Models.BLL;
@using System.Text.RegularExpressions;
@{
    dbPOS db = new dbPOS();
}

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard" style="overflow-x:auto;">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>

                            <th> Job Order #</th>
                            <th hidden> Sales Date </th>
                            <th hidden> Exp. Delivery Date </th>
                            <th> Customer Name </th>
                            <th> Item </th>
                            <th> Total Qty </th>
                            <th> Ready Qty </th>
                            <th> Delivered Qty </th>
                            <th> Stock Qty </th>
                            <th> Bal Qty </th>
                            <th> # of Days </th>
                            <th> Process </th>
                            <th> Item Status </th>
                            <th> Order Status </th>
                            <th> Department </th>
                            <th> Sale Person</th>
                            <th> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td> @Html.DisplayFor(modelItem => item.OrderID) </td>
                                <td hidden> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                <td hidden> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ExpectedDeliveryDate)) </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.ProductName) </td>
                                <td>  @(Helper.DigitsWithComma(item.Qty))@*@Html.DisplayFor(modelItem => item.Qty)*@ </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.ReadyQty)*@
                                    @(Helper.DigitsWithComma(item.ReadyQty))

                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {
                                        if (item.QtyDelivered < item.Qty && item.QtyDelivered >= 0 && item.QtyBalanced > 0 && item.ReadyQty > 0)
                                        {
                                            string itemName = Regex.Replace(item.ProductName, "[^a-zA-Z0-9_.]+", " ", RegexOptions.Compiled);
                                            <text>|</text> <br /> <a style="color:dodgerblue" onclick="MoveToStock('@itemName',@item.OrderID,@item.ProductID,@(item.DepartmentID??null),@item.ReadyQty,@item.QtyDelivered)">move to stock</a>

                                        }
                                    }


                                </td>
                                <td> @(Helper.DigitsWithComma(item.QtyDelivered))@*@Html.DisplayFor(modelItem => item.QtyDelivered)*@ </td>
                                <td> @(Helper.DigitsWithComma(item.StockQty))@*@Html.DisplayFor(modelItem => item.StockQty)*@ </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.QtyBalanced)*@
                                    @(Helper.DigitsWithComma(item.QtyBalanced))

                                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {
                                        if (item.QtyDelivered < item.Qty && item.QtyDelivered >= 0 && item.QtyBalanced > 0 && item.ReadyQty == 0)
                                        {
                                            string itemName = Regex.Replace(item.ProductName, "[^a-zA-Z0-9_.]+", " ", RegexOptions.Compiled);
                                            <br /> <a style="color:red" onclick="DiscardRemainingQty('@itemName',@item.OrderID,@item.ProductID,@(item.DepartmentID??null),@item.QtyBalanced,@item.QtyDelivered)">discard qty</a>
                                        }
                                    }



                                </td>
                                <td> @Html.DisplayFor(modelItem => item.noOfDays) </td>
                                <td>
                                    @{
                                        var machineID = item.MachineAttachedID ?? 0;
                                        if (string.IsNullOrWhiteSpace(item.MachineAttached))
                                        {
                                            @("-")
                                            <br />

                                            string itemName = Regex.Replace(item.ProductName, "[^a-zA-Z0-9_.]+", " ", RegexOptions.Compiled);
                                            <a style="color:Highlight" onclick="openProcessModal('@itemName',@item.OrderID,@item.ProductID,@machineID,@(item.DepartmentID??null))">Attach Process</a>

                                        }
                                        else
                                        {
                                            @(item.MachineAttached)
                                            <br />
                                            string itemName = Regex.Replace(item.ProductName, "[^a-zA-Z0-9_.]+", " ", RegexOptions.Compiled);
                                            @*<a style="color:Highlight" onclick="openProcessModal('@item.ProductName',@item.OrderID,@item.ProductID,@machineID,@(item.DepartmentID??null))">Update Process</a>*@
                                            <a style="color:Highlight" onclick="transferProcess('@itemName',@item.OrderID,@item.ProductID,@machineID,@(item.DepartmentID??null))">Transfer</a>

                                        }
                                    }
                                </td>
                                <td>
                                    @{if (item.OrderItemStatus == true)
                                        {
                                            <b style="color:green">Completed</b>
                                        }
                                        else
                                        {
                                            <b style="color:red">In Progress</b>
                                        }
                                        <br />
                                        //if (item.Qty == item.QtyDelivered)
                                        if (item.QtyBalanced == 0)
                                        {
                                            <a style="color:Highlight" onclick="openModal('@item.ProductName',@item.OrderID,@item.ProductID,@item.OrderItemStatus)">Complete Order</a>

                                        }
                                    }
                                </td>
                                <td>
                                    @{if (item.OrderStatus == true)
                                        {
                                            <b style="color:green">Completed</b>

                                        }
                                        else
                                        {
                                            <b style="color:red">In Progress</b>
                                        }
                                    }
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.Department) </td>
                                <td> @Html.DisplayFor(modelItem => item.SalePerson) </td>
                                <td>



                                    <!--Separate dropdown-->

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">

                                            @if (db.tbl_StockIssuance.Any(x => x.ItemID == item.ProductID && x.OrderID == item.OrderID && x.IsDeleted != true))
                                            {
                                                <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px; background-color:greenyellow; border-radius:50%;" />

                                            }
                                            else
                                            {
                                                <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />

                                            }
                                        </button>
                                        <div class="dropdown-menu">
                                            @*@if (string.IsNullOrWhiteSpace(item.MachineAttached))
        {
            <span style="color:red;" class="dropdown-item">Please Attach Process</span>
            @Html.ActionLink("Details", "PackageReport", new { OrderID = item.OrderID, OffsetTypeID = item.OffsetTypeID, deptID = item.DepartmentID, ProductID = item.ProductID, ReportType = "PDF" }, new { @class = "dropdown-item" })
        }
        else
        {*@
                                            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Store Keeper"))
                                            {
                                                @Html.ActionLink("Planning Details", "PackageReport", new { OrderID = item.OrderID, OffsetTypeID = item.OffsetTypeID, deptID = item.DepartmentID, ProductID = item.ProductID, ReportType = "PDF" }, new { @class = "dropdown-item", target = "_blank" })
                                                @Html.ActionLink("Job Order", "Export", new { id = item.OrderID, ReportType = "PDF" }, new { @class = "dropdown-item" , target = "_blank" })


                                                if (item.QtyDelivered < item.Qty)
                                                {
                                                    @Html.ActionLink("Update", "UpdateSaleOrder", new { OrderID = item.OrderID, deptID = item.DepartmentID, ProductID = item.ProductID }, new { @class = "dropdown-item" })


                                                    <a style="color:Highlight" class="dropdown-item" onclick="openHistoryModal('@item.ProductName',@item.OrderID,@item.ProductID)">Show Attached Machines </a>

                                                }
                                                if (db.tbl_StockIssuance.Any(x => x.ItemID == item.ProductID && x.OrderID == item.OrderID && x.IsDeleted != true))
                                                {


                                                    @Html.ActionLink("Stock", "StkIssuanceDetails", "StockIssuance", new { OrderID = item.OrderID, ItemID = item.ProductID }, new { @class = "dropdown-item" })


                                                    @Html.ActionLink("Report", "StkIssuanceCostDetails", "StockIssuance", new { OrderID = item.OrderID, ItemID = item.ProductID }, new { @class = "dropdown-item" })

                                                }

                                                if (item.QtyBalanced > 0)
                                                {

                                                    string itemName = Regex.Replace(item.ProductName, "[^a-zA-Z0-9_.]+", " ", RegexOptions.Compiled);
                                                    <a href='#' data-toggle='modal' class="dropdown-item" data-target='#exampleModal' onclick="@("getPackagesModal("+item.ProductID+",'"+itemName+"',"+item.OrderID+","+item.Qty+")")">Add Dispatch Qty</a>

                                                }

                                                if (!string.IsNullOrWhiteSpace(item.CustomerPO))
                                                {
                                                    if (db.tbl_SaleDetails.Where(x => x.OrderID == item.OrderID && x.tbl_SalesOrder.IsDeleted != true).Any(x => x.QtyDelivered != x.Qty))//&& x.QtyBalanced>0))
                                                    {

                                                        @Html.ActionLink("Create Challan", "CreateChallanFromSale", "SalesOrder", new { id = item.OrderID }, new { @class = "dropdown-item" })

                                                    }

                                                }
                                                else
                                                {
                                                    <div class="dropdown-divider"></div>
                                                    @*<span class="dropdown-item" style="color:red;">Attach PO</span>*@

                                                    <a href="#" onclick="getPO(@item.OrderID)" data-toggle="modal" class="dropdown-item" style="color: red;" data-target="#examplePOModal">Attach PO</a>

                                                }

                                            }

                                            else if (User.IsInRole("Account"))
                                            {
                                                @Html.ActionLink("Details", "PackageReport", new { OrderID = item.OrderID, OffsetTypeID = item.OffsetTypeID, deptID = item.DepartmentID, ProductID = item.ProductID, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                                @Html.ActionLink("Job Order", "Export", new { id = item.OrderID, ReportType = "PDF" }, new { @class = "dropdown-item" })


                                                if (item.QtyDelivered < item.Qty)
                                                {
                                                    @Html.ActionLink("Update", "UpdateSaleOrder", new { OrderID = item.OrderID, deptID = item.DepartmentID, ProductID = item.ProductID }, new { @class = "dropdown-item" })

                                                }
                                                if (db.tbl_StockIssuance.Any(x => x.ItemID == item.ProductID && x.OrderID == item.OrderID))
                                                {

                                                    @Html.ActionLink("Stock", "StkIssuanceDetails", "StockIssuance", new { OrderID = item.OrderID, ItemID = item.ProductID }, new { @class = "dropdown-item" })


                                                    @Html.ActionLink("Report", "StkIssuanceCostDetails", "StockIssuance", new { OrderID = item.OrderID, ItemID = item.ProductID }, new { @class = "dropdown-item" })

                                                }

                                                if (item.QtyBalanced > 0)
                                                {

                                                    <a href='#' data-toggle='modal' class="dropdown-item" data-target='#exampleModal' onclick="@("getPackagesModal("+item.ProductID+",'"+item.ProductName+"',"+item.OrderID+","+item.Qty+")")">Add Dispatch Qty</a>

                                                }


                                            }
                                            else if (User.IsInRole("SalePerson"))
                                            {
                                                @Html.ActionLink("Details", "PackageReport", new { OrderID = item.OrderID, OffsetTypeID = item.OffsetTypeID, deptID = item.DepartmentID, ProductID = item.ProductID, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                                @Html.ActionLink("Job Order", "Export", new { id = item.OrderID, ReportType = "PDF" }, new { @class = "dropdown-item" })


                                                if (item.QtyDelivered < item.Qty)
                                                {
                                                    @Html.ActionLink("Update", "UpdateSaleOrder", new { OrderID = item.OrderID, deptID = item.DepartmentID, ProductID = item.ProductID }, new { @class = "dropdown-item" })

                                                }

                                                if (item.QtyBalanced > 0)
                                                {

                                                    <a href='#' class="dropdown-item" data-toggle='modal' data-target='#exampleModal' onclick="@("getPackagesModal("+item.ProductID+",'"+item.ProductName+"',"+item.OrderID+","+item.Qty+")")">Add Dispatch Qty</a>

                                                }

                                                if (!string.IsNullOrWhiteSpace(item.CustomerPO))
                                                {
                                                    if (db.tbl_SaleDetails.Where(x => x.OrderID == item.OrderID && x.tbl_SalesOrder.IsDeleted != true).Any(x => x.QtyDelivered != x.Qty))//&& x.QtyBalanced>0))
                                                    {

                                                        @Html.ActionLink("Create Challan", "CreateChallanFromSale", "SalesOrder", new { id = item.OrderID }, new { @class = "dropdown-item" })

                                                    }

                                                }
                                                else
                                                {
                                                    <div class="dropdown-divider"></div>
                                                    @*<span class="dropdown-item" style="color:red;">Attach PO</span>*@
                                                    <a href="#" onclick="getPO(@item.OrderID)" data-toggle="modal" class="dropdown-item" style="color: red;" data-target="#examplePOModal">Attach PO</a>

                                                }


                                            }
                                            else if (User.IsInRole("Offset Manager") || User.IsInRole("Sticker Manager") || User.IsInRole("Satin Manager"))
                                            {
                                                @Html.ActionLink("Details", "PackageReport", new { OrderID = item.OrderID, OffsetTypeID = item.OffsetTypeID, deptID = item.DepartmentID, ProductID = item.ProductID, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                                @Html.ActionLink("Job Order", "Export", new { id = item.OrderID, ReportType = "PDF" }, new { @class = "dropdown-item" })


                                                if (item.QtyDelivered < item.Qty)
                                                {
                                                    @Html.ActionLink("Update", "UpdateSaleOrder", new { OrderID = item.OrderID, deptID = item.DepartmentID, ProductID = item.ProductID }, new { @class = "dropdown-item" })

                                                }
                                                if (db.tbl_StockIssuance.Any(x => x.ItemID == item.ProductID && x.OrderID == item.OrderID))
                                                {

                                                    @Html.ActionLink("Stock", "StkIssuanceDetails", "StockIssuance", new { OrderID = item.OrderID, ItemID = item.ProductID }, new { @class = "dropdown-item" })


                                                }

                                                if (item.QtyBalanced > 0)
                                                {

                                                    <a href='#' data-toggle='modal' class="dropdown-item" data-target='#exampleModal' onclick="@("getPackagesModal("+item.ProductID+",'"+item.ProductName+"',"+item.OrderID+","+item.Qty+")")">Add Dispatch Qty</a>

                                                }

                                            }

                                            @*}*@

                                        </div>

                                    </div>

                                    <!---->

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
