﻿
@model Tuple<List<POSOman.Models.DTO.DragDropDTO>, List<POSOman.Models.DTO.MachinesDTO>>

@using System.Threading.Tasks;
@*@using POSOman.Models;
@using System.Text.RegularExpressions;
@{
    dbPOS db = new dbPOS();
}*@

@*<div class="card-content collapse show" >*@

    <body>
        @if (Model != null)
        {
            int c = 0;
            <div class="drag-container"></div>
            <div class="board">
                

                @if (Model?.Item2 != null && Model?.Item2?.Count > 0) // Machines
                {
                    foreach (var machine in Model?.Item2)
                    {
                        <div class="board-column todo">
                            <div class="board-column-container">
                                <div class="board-column-header"><span>@machine.MachineName</span></div>
                                <div class="board-column-content-wrapper">
                                    <div class="board-column-content">
                                        @if (Model?.Item1 != null && Model?.Item1?.Count > 0) // Orders // Error in it
                                        {
                                            var data = Model?.Item1?.Where(x => !string.IsNullOrWhiteSpace(x.MachineName) && x.MachineName.Trim().Equals(machine.MachineName.Trim())).ToList();

                                            if (data != null && data?.Count > 0)
                                            {
                                                foreach (var order in data)
                                                {
                                                  <div class="board-item"><div class="board-item-content"><span>@order.OrderID <span> | </span>@order.Customer</span></div></div>
                                                }
                                            }

                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        c++;
                    }
                }

               
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </body>
@*</div>*@
