﻿@model Tuple<List<POSOman.Models.DTO.DragDropDTO>, List<POSOman.Models.DTO.MachinesDTO>>
@using POSOman.Models;
@{

    dbPOS db = new dbPOS();
}
<body>
    @{
        int boardWidth = 0;
    }
    @if (Model != null)
    {
        int c = 1;
        <div class="drag-container"></div>
        <div class="board">


            @if (Model?.Item2 != null && Model?.Item2?.Count > 0) // Machines
            {
                boardWidth = Model.Item2.Count() + (Model.Item2.Count() / 2);

                foreach (var machine in Model?.Item2)
                {
                    <div class="board-column todo" data-id="@machine.MachineId">
                        <div class="board-column-container">
                            <div class="board-column-header">@(machine.MachineId ?? 0) <span>|</span>@machine.MachineName</div>
                            <div class="board-column-content-wrapper">
                                <div class="board-column-content">
                                    @if (Model?.Item1 != null && Model?.Item1?.Count > 0) // Orders // Error in it
                                    {
                                        var data = Model?.Item1?.Where(x => !string.IsNullOrWhiteSpace(x.MachineName) && x.MachineName.Trim().Equals(machine.MachineName.Trim())).ToList();

                                        if (data != null && data?.Count > 0)
                                        {
                                            foreach (var order in data)
                                            {
                                                <div class="board-item" data-id="@order.MachineId">
                                                    <div class="board-item-content">
                                                        <span title="JOID">@order.OrderID </span> <span hidden class="hdnPID">@order.ProductID</span> <span hidden class="hdnMID">@order.MachineId</span> | <span @*data-toggle="tooltip" data-placement="top"*@ title="Item Name">@order.ProductName</span>  | <span title="Total Quantity">@order.Qty </span>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                    c++;
                }
            }


        </div>
    }
    else
    {
        <text>
            <script type="text/javascript">
                swal("No Data", "No Data Found!", "error");
            </script>
        </text>
    }
    <input type="hidden" value="@boardWidth" id="hdnBoardCount" />

</body>
