﻿
@model IEnumerable<POSOman.Models.GetWastageSOItemQtyFilterWise_Result>
@using POSOman.Models;

@{
   // dbPOS db = new dbPOS();

}
<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th> OrderID </th>
                            <th> Item </th>
                            <th> Department </th>
                            <th> Wastage Qty</th>
                            <th> Moved To Stock </th>
                            <th> Date </th>
                           
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @item.OrderID </td>
                                <td> @item.ItemName </td>
                                <td> @item.Department </td>
                                <td> @Html.DisplayFor(modelItem => item.WastageQty) </td>
                                <td> @(item.IsMovedToStock == true ? "Moved":"-") </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.AddedOn)) </td>
                               <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Customer PO</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <div hidden>
                                        <input type="hidden" id="hdnOrderId" />
                                    </div>

                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Customer PO:</label>
                                        <input type="text" class="form-control" id="customerPONumber">
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" value="" onclick="UpdateCustomerPO()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
