﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder1>

@{
    ViewBag.Title = "Completed Orders";
    ViewBag.Href = "Sales";
    ViewBag.Type = "List";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="form-row">
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>From Date</label>
                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>To Date</label>
                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Customer</label>
                <div class="input-group">
                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            @*<div class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>*@
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label> </label>
                <br>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
            </div>
        </div>
        <div id="SearchResult">

        </div>


    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>


        $("#AccountID").select2();
        $('#Branch').select2();

        $("#btnSearch").on("click", function () {

            $.ajax({
                url: "@Url.Action("CompletedJobOrders", "Sales")",
                data: {
                    btn: true,
                    BranchID: $('#Branch').val(),
                    accountID: $('#AccountID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    var col = [0, 1, 2, 3, 4];
                    GetTableData(col,2);
                }
            });
        });

        getPO = (OrderID)=>{
            //console.log(OrderID);
            if (OrderID > 0) {
                $("#hdnOrderId").val(+OrderID);
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/GetCustomerPO?OrderID='+OrderID,
                    async: true,
                    success: function (data) {
                        $("#customerPONumber").val(data);

                    },
                    error: function (err) { console.log(err); }
                });
            }

        }

        UpdateCustomerPO =() => {
            let OrderID = +$("#hdnOrderId").val() || 0;
            let CustomerPO = $("#customerPONumber").val();
            console.log(OrderID);
            console.log(CustomerPO);

            if (OrderID > 0 && CustomerPO != '') {
                var json = { 'OrderID': OrderID, 'CustomerPO': CustomerPO };


    $.ajax({
        type: "POST",
        contentType: "application/json; charset=utf-8",
        url: '/Sales/UpdateCustomerPO',
        async: true,
        data: JSON.stringify({ 'model': json}),
        success: function (data) {
            console.log(data);
            window.location.reload();

        },
        error: function (err) { console.log(err); }
    });
            }
        }
    </script>

}


