﻿@model POSOman.Models.tbl_SalesOrder

@{
    ViewBag.Title = "Create";
}

<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Sales Order</h4>
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required", @disabled = "@disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Order Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Expected Delivery Date</label>
                                            @Html.EditorFor(model => model.ExpectedDeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpectedDeliveryDate", id = "ExpectedDeliveryDate" } })
                                            @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Select Quotation</label>
                                            <br>
                                            @Html.DropDownList("QuotationID", new SelectList(ViewBag.Quotation, "Value", "Name"), "Select Quotation", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Select Inquiry</label>
                                            <br>
                                            @Html.DropDownList("InquiryID", new SelectList(ViewBag.Inquiry, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer Name</label>
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>SalesPeron</label>
                                            <br>
                                            @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), "Select SalePerson", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Invoice Type</label>
                                            <br>
                                            <input type="text" class="form-control" id="InvType" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer PO</label>
                                            <br>
                                            <input type="text" class="form-control" id="CustomerPO" />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Remarks</label>
                                            <br>
                                            <input type="text" class="form-control" id="Remarks" />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Credit Limit</label>
                                            <br>
                                            <input type="text" class="form-control" id="CreditLimit" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer GST %</label>
                                            <br>
                                            <input type="text" class="form-control" id="CustomerGSTPercentage" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Order Nature</label>
                                            <br>
                                            @Html.DropDownList("OrderNature", new SelectList(ViewBag.OrderNature, "Value", "Name"), "Select Nature", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        @*<div class="mb-1 col-sm-12 col-md-2">
            <label></label>
            <br>
            <input type="button" id="btnSearch" value="Search" class="btn btn-primary" />
        </div>*@

                                    </div>

                                    @Html.Partial("~/Views/PartialViews/_AddProduct.cshtml")

                                    <hr />
                                    <div class="row">
                                        @*<div class="col-sm-2">
                                                <label>Sub Amount</label>
                                                <br>
                                                <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Select Tax</label>
                                                <br>
                                                @Html.DropDownListFor(model => model.TaxPercent, new SelectList(ViewBag.Vat, "Value", "Name"), "Select Tax ", htmlAttributes: new { @class = "form-control", name = "TaxPercent", id = "TaxPercent" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Tax Amt</label>
                                                <br>
                                                @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "TaxAmount", @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                            <div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
                                                <label>Disc %</label>
                                                <br>
                                                @Html.EditorFor(model => model.DiscountPercent, new { htmlAttributes = new { @class = "form-control", name = "DiscountPercent", id = "DiscountPercent", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Disc Amt</label>
                                                <br>
                                                @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "DiscountAmount", id = "DiscountAmount", @type = "number", @min = "0", @step = "0.01", @value = "0", @readonly = "readonly" } })
                                            </div>*@
                                        <div class="col-sm-2" hidden>
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            <label>Balance</label>
                                            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                        </div>
                                    </div>

                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right" style="margin-top:1%;">
                                    <input type="button" id="submitButton" value="Create & Print" class="btn btn-primary" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl"  role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <p> Item: <text id="lbl_itemID"></text></p></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                   
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Item Qty</label>
                            <br />
                            <input class="form-control Calc" type="text" placeholder="Qty" id="ItemQty" readonly />
                        </div>

                        <div class="col-sm-2">
                            <label>Pkg Qty</label>
                            <br />
                            <input class="form-control Calc" placeholder="Qty" id="PkgQty" readonly />
                        </div>

                        <div class="col-sm-2">
                            <label>Bal Qty</label>
                            <br />
                            <input class="form-control Calc" placeholder="Qty" id="BalQty" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Description</label>
                            <br />
                            <input class="form-control" id="rawProductID" type="text" />
                            @*@Html.DropDownList("rawProductID", new SelectList(ViewBag.RawProduct, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })*@
                        </div>

                        <div class="col-sm-4">
                            <label>Qty</label>
                            <br />
                            <input class="form-control" id="rawProductQty" type="number" />
                            <input class="form-control" id="hdnItemID" hidden />
                        </div>

                        <div class="col-sm-1">
                            <label>Action</label>
                            <input type="button" class="btn btn-round" value="Add" id="addPackageRowBtn">
                        </div>
                        <div class="col-md-6">
                            <label>Upload Excel (Col A Name = Description, Col B Name = Qty)</label>
                            <input type="file" id="fileInput" >
                            <br />
                            <input type="button" class="btn btn-round" value="Import Excel" id="btnImportExcel" >
                        </div>

                    </div>
                    <div>
                        <br />
                        <table id="addPackagesTable" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>
                                    <th hidden></th>
                                    <th></th>
                                    <th> Product </th>

                                    <th> Qty </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="costingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalDiv">
                    @*@Html.Partial("~/Views/Sales/_CalculateOffset.cshtml")*@
                    @*@Html.Action("GetOffsetData", "Sales", new { ItemID = 53})*@

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="itemCalculationModalCloseBtn">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#QuotationID').select2();
        $('#unitCode').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        $('#SalePersonAccID').select2();
        $('#StoreStatus').select2();
        $('#DeliveryStatus').select2();
        $('#OrderMachine').select2();
        $('#OrderNature').select2();

        $("#recalculateAndAddRow").click(function () {
           
            let ItemID = +$("#hdnItemIDForData").val() || 0;
            if (ItemID > 0) {
                console.log(ItemID)
              
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/GetOffsetData?ItemID='+ItemID,
                    async: true,
                   // data: JSON.stringify(json),
                    success: function (data) {
                        console.log(data)
                        $('#modalDiv').html(data);
                       
                    },
                    error: function (err) { console.log(err); }
                });
            }
            else {
                       console.log("NotFound")
            }
        });


        $("#btnImportExcel").click(function () {

            console.log("pressedbtn");
            
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('fileInput');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Sales/UploadExcel');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    console.log("success");
                    //for (var i in xhr.responseText) {
                    //    console.log(i)
                    //}
                    var resp = JSON.parse(xhr.responseText);
                    console.log(resp);
                    if (resp.length) {
                        populateFromExcel(resp);
                    }
                   
                }
            }
            return false;
        })

        
    </script>

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Product/saleOrderProduct.js"></script>
    <script src="~/Scripts/Sales/Sales.js"></script>
    <script src="~/Scripts/Sales/SaleDetails.js"></script>

}
