﻿@model Tuple<List<POSOman.Models.DTO.DragDropDTO>, List<POSOman.Models.DTO.MachinesDTO>>

@{
    ViewBag.Title = "Department Orders List | DND View";
    ViewBag.Href = "Sales";
    ViewBag.Type = "List";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="form-row">
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>From Date</label>
                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>To Date</label>
                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Customers</label>
                <div class="input-group">
                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Products</label>
                <div class="input-group">
                    @Html.DropDownList("ProductID", new SelectList(ViewBag.product, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Order Machine</label>
                <div class="input-group">
                    @Html.DropDownList("MachineID", new SelectList(ViewBag.orderMachine, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>

            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Sale Persons</label>
                <div class="input-group">
                    @Html.DropDownList("SalePersonID", new SelectList(ViewBag.saleperson, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Store Keeper") || User.IsInRole("SalePerson"))
            {
                <div class="form-group mb-1 col-sm-8 col-md-1">
                    <label>Departments</label>
                    <div class="input-group">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group mb-1 col-sm-8 col-md-1">
                    <label>Departments</label>
                    <div class="input-group">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
            }
            <div class="form-group mb-1 col-sm-8 col-md-1">
                <label>Job Order ID</label>
                <input id="OrderID" type="number" class="form-control" placeholder="JOID" />
            </div>

            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label> </label>
                <br>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
            </div>
        </div>
        <div id="SearchResult">

        </div>


    </section>

</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Sales/AttachedMachines.js"></script>
    <script src="~/assets/js/muuri.min.js"></script>

    <link href="~/assets/css/trello_dragdrop.css" rel="stylesheet" />
    <script>


        $("#AccountID").select2();
        $('#Branch').select2();
        $('#ProductID').select2();
        $('#DepartmentID').select2();
        $('#SalePersonID').select2();
        $('#MachineID').select2();


        $("#DepartmentID").change(function () {
            let deptID = +$("#DepartmentID").val() || 0;

                var json = { "DeptID": deptID };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/GetDeptartmentWiseMachineList',
                    async: true,
                    data: JSON.stringify(json),
                    success: function (data) {
                       // console.log(data)
                        if (data.length > 0) {

                            GetDropdown1('MachineID', data, true);
                        }
                    },
                    error: function (err) { console.log(err); }
                });

        });


        $("#btnSearch").on("click", function () {
            var deptId = +$('#DepartmentID').val() || 0;

            if (deptId > 0) {
                $.ajax({
                url: "@Url.Action("DepartmentWiseOrdersIndex_ListView", "Sales")",
                data: {
                    btn: true,
                    BranchID: $('#Branch').val(),
                    accountID: $('#AccountID').val(),
                    salepersonID: $('#SalePersonID').val(),
                    prodID: $('#ProductID').val(),
                    MachineID: $('#MachineID').val(),
                    departmentID: $('#DepartmentID').val(),
                    orderID: $('#OrderID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    activateDragDrop();
                }
            });
            }
            else {
                swal("Department", "Please Select Department First!", "error");
            }

        });

        activateDragDrop = () => {

            var dragContainer = document.querySelector('.drag-container');
            var itemContainers = [].slice.call(document.querySelectorAll('.board-column-content'));
            var columnGrids = [];
            var boardGrid;

            // Init the column grids so we can drag those items around.
            itemContainers.forEach(function (container) {
                var grid = new Muuri(container, {
                    items: '.board-item',
                    dragEnabled: true,
                    dragSort: function () {
                        return columnGrids;
                    },
                    dragContainer: dragContainer,
                    dragAutoScroll: {
                        targets: (item) => {
                            return [
                                { element: window, priority: 0 },
                                { element: item.getGrid().getElement().parentNode, priority: 1 },
                            ];
                        }
                    },
                })
                    .on('dragInit', function (item) {
                        item.getElement().style.width = item.getWidth() + 'px';
                        item.getElement().style.height = item.getHeight() + 'px';
                    })
                    .on('dragReleaseEnd', function (item) {
                        item.getElement().style.width = '';
                        item.getElement().style.height = '';
                        item.getGrid().refreshItems([item]);
                    })
                    .on('layoutStart', function () {
                        boardGrid.refreshItems().layout();
                    });

                columnGrids.push(grid);
            });

            // Init board grid so we can drag those columns around.
            boardGrid = new Muuri('.board', {
                dragEnabled: true,
                dragHandle: '.board-column-header'
            });

        }
    </script>


}


