﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder1>

@{
    ViewBag.Title = "Department Orders List";
    ViewBag.Href = "Sales";
    ViewBag.Type = "List";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="form-row">
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>From Date</label>
                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>To Date</label>
                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Customers</label>
                <div class="input-group">
                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Products</label>
                <div class="input-group">
                    @Html.DropDownList("ProductID", new SelectList(ViewBag.product, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Order Machine</label>
                <div class="input-group">
                    @Html.DropDownList("MachineID", new SelectList(ViewBag.orderMachine, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>

            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Sale Persons</label>
                <div class="input-group">
                    @Html.DropDownList("SalePersonID", new SelectList(ViewBag.saleperson, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Store Keeper") || User.IsInRole("SalePerson"))
            {
                <div class="form-group mb-1 col-sm-8 col-md-1">
                    <label>Departments</label>
                    <div class="input-group">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group mb-1 col-sm-8 col-md-1">
                    <label>Departments</label>
                    <div class="input-group">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
            }
            <div class="form-group mb-1 col-sm-8 col-md-1">
                <label>Job Order ID</label>
                <input id="OrderID" type="number" class="form-control" placeholder="JOID" />
            </div>
            @*<div class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>*@
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label> </label>
                <br>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
            </div>
        </div>
        <div id="SearchResult">

        </div>


    </section>

    <!-- History Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <p> Item: <text id="lbl_itemID"></text></p></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row" hidden>
                        <div class="col-sm-6">
                            <label>Description</label>
                            <br />
                            <input class="form-control" id="rawProductID" type="text" />
                        </div>

                        <div class="col-sm-4">
                            <label>Qty</label>
                            <br />
                            <input class="form-control" id="rawProductQty" type="number" />
                            <input class="form-control" id="hdnItemID" hidden />
                        </div>
                        <div class="col-sm-1">
                            <label>Action</label>
                            <input type="button" class="btn btn-round" value="Add" id="addPackageRowBtn">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Item Qty</label>
                            <br />
                            <input class="form-control" id="itemQtyField" type="number" readonly />
                        </div>

                        <div class="col-sm-3">
                            <label>Package Del. Qty</label>
                            <br />
                            <input class="form-control" id="pkgQtyField" type="number" readonly />

                        </div>

                        <div class="col-sm-3">
                            <label>Bal Qty</label>
                            <br />
                            <input class="form-control" id="balQtyField" type="number" readonly />

                        </div>

                    </div>
                    <div>
                        <input hidden type="text" id="tableSearch" placeholder="search" />

                        <br />
                        <table id="addPackagesTable" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>

                                    <th hidden> itemID </th>
                                    <th hidden> OrderID </th>
                                    <th> Description  <text onclick="copyAll()" class="cursor-pointer" style="color:red">  Copy all</text> </th>

                                    <th> Req Qty </th>
                                    <th> Del Qty </th>
                                    <th> Delivered Qty </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnModalClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSaveData">Save</button>

                </div>
            </div>
        </div>
    </div>
    <!-- History Modal -->
    <div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <p> Item: <text id="lbl_historyModalItem"></text></p></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>
                        <br />
                        <table id="machineHistoryTable" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>

                                    <th> Machine Type </th>
                                    <th> Machine </th>
                                    <th> Machine Attached Date</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnModalClose" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Package Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <p> Item: <text id="lbl_itemID"></text></p></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row" hidden>
                        <div class="col-sm-6">
                            <label>Description</label>
                            <br />
                            <input class="form-control" id="rawProductID" type="text" />
                        </div>

                        <div class="col-sm-4">
                            <label>Qty</label>
                            <br />
                            <input class="form-control" id="rawProductQty" type="number" />
                            <input class="form-control" id="hdnItemID" hidden />
                        </div>
                        <div class="col-sm-1">
                            <label>Action</label>
                            <input type="button" class="btn btn-round" value="Add" id="addPackageRowBtn">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Item Qty</label>
                            <br />
                            <input class="form-control" id="itemQtyField" type="number" readonly />
                        </div>

                        <div class="col-sm-3">
                            <label>Package Del. Qty</label>
                            <br />
                            <input class="form-control" id="pkgQtyField" type="number" readonly />

                        </div>

                        <div class="col-sm-3">
                            <label>Bal Qty</label>
                            <br />
                            <input class="form-control" id="balQtyField" type="number" readonly />

                        </div>

                    </div>
                    <div>
                        <br />
                        <table id="addPackagesTable" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>

                                    <th hidden> itemID </th>
                                    <th hidden> OrderID </th>
                                    <th> Description </th>

                                    <th> Req Qty </th>
                                    <th> Del Qty </th>
                                    <th> Delivered Qty </th>
                                    <th hidden> RowGuid </th>

                                </tr>
                            </thead>
                            @*<tbody></tbody>*@
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnModalClose" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnSaveData">Save</button>

                </div>
            </div>
        </div>
    </div>

    <!--Status Modal -->
    <div class="modal fade" id="statusModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Invoice #: <label id="modalInoviceNo"></label> </h4>
                    <br />
                    <h4 class="modal-title">Item: <label id="modalItemName"></label> </h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="hdnModalOrderID" />
                    <input type="hidden" id="hdnModalProductID" />
                    <div class="form-row" style="margin-left:80px;">

                        <label>Order Status</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("StatusDD", new SelectList(ViewBag.OrderStatus, "Value", "Name"), htmlAttributes: new { @style = "width:300px;" })
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent-1" id="statusBtn">Change</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalCloseBtn">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Attach Process Modal -->
    <div class="modal fade" id="processModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Invoice #: <label id="processModalInoviceNo"></label> </h4>
                    <br />
                    <h4 class="modal-title">Item: <label id="processModalItemName"></label> </h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="hdnprocessModalOrderID" />
                    <input type="hidden" id="hdnprocessModalProductID" />
                    <input type="hidden" id="hdnprocessModalDepartmentID" />
                    @*<div class="form-row" style="margin-left:80px;">

                            <label>Order Status</label>
                            <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                            <div class="input-group">
                                @Html.DropDownList("StatusDD", new SelectList(ViewBag.OrderStatus, "Value", "Name"), htmlAttributes: new { @style = "width:300px;" })
                            </div>

                        </div>*@
                    @Html.Partial("~/Views/PartialViews/_AttachMachinesToJobOrder.cshtml")

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent-1" id="processBtn">OK</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="proc_modalCloseBtn">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--Discard Qty Modal -->
    <div class="modal fade" id="discardQtyModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Invoice #: <label id="discardQtyModalInoviceNo"></label> </h4>
                    <br />
                    <h4 class="modal-title">Item: <label id="discardQtyModalItemName"></label> </h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="hdndiscardQtyModalOrderID" />
                    <input type="hidden" id="hdndiscardQtyModalProductID" />
                    <input type="hidden" id="hdndiscardQtyModalDepartmentID" />
                    <input type="hidden" id="hdndiscardQtyModalDeliveredQty" />
                    <h3>Are you sure you want to discard the remaining qty?</h3><br />
                    <div class="form-row" style="margin-left:80px;">

                        <label>Discarding Qty</label>
                        <div class="input-group">
                            <input type="text" readonly id="discardedQty" class="form-control" />
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent-1" id="discardQtyBtn">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="discardQtyModalCloseBtn">No</button>
                </div>
            </div>

        </div>
    </div>


    <!--Move Stock Qty Modal -->
    <div class="modal fade" id="moveStockQtyModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title">Invoice #: <label id="moveStockModalInoviceNo"></label> </h4>
                    <br />
                    <h4 class="modal-title">Item: <label id="moveStockModalItemName"></label> </h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" id="hdnmoveStockModalOrderID" />
                    <input type="hidden" id="hdnmoveStockModalProductID" />
                    <input type="hidden" id="hdnmoveStockModalDepartmentID" />
                    <input type="hidden" id="hdnmoveStockModalDeliveredQty" />
                    <h3>Are you sure you want to move the remaining qty to stock?</h3><br />
                    <div class="form-row" style="margin-left:80px;">

                        <label>Moving Qty</label>
                        <div class="input-group">
                            <input type="text" readonly id="moveStockQty" class="form-control" />
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-accent-1" id="moveStockQtyBtn">Yes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="moveStockQtyModalCloseBtn">No</button>
                </div>
            </div>

        </div>
    </div>

    <!--customer po modal-->

    <div class="modal fade" id="examplePOModal" tabindex="-1" role="dialog" aria-labelledby="examplePOModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Customer PO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div hidden>
                            <input type="hidden" id="hdnOrderId" />
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Customer PO:</label>
                            <input type="text" class="form-control" id="customerPONumber">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="POModalCloseBtn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" value="" onclick="UpdateCustomerPO()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Sales/AttachedMachines.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/fh-3.3.1/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/fh-3.3.1/datatables.min.js"></script>

    <script>


        $("#AccountID").select2();
        $('#Branch').select2();
        $('#ProductID').select2();
        $('#DepartmentID').select2();
        $('#SalePersonID').select2();
        $('#MachineID').select2();

        $("#StatusDD").select2({
            dropdownParent: $('#statusModal')

        });

        $("#DepartmentID").change(function () {
            let deptID = +$("#DepartmentID").val() || 0;

                var json = { "DeptID": deptID };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/GetDeptartmentWiseMachineList',
                    async: true,
                    data: JSON.stringify(json),
                    success: function (data) {
                       // console.log(data)
                        if (data.length > 0) {

                            GetDropdown1('MachineID', data, true);
                        }
                    },
                    error: function (err) { console.log(err); }
                });

        });

       // var itemWiseProducts = [];
        var start = null;
        function getPackagesModal(ProductID,ProductName, JOID, Qty) {

           // console.log(ProductID);
            //console.log(ProductName);
           // console.log(JOID);
            //console.log(Qty);
            $("#itemQtyField").val(0);
            $("#pkgQtyField").val(0);
            $("#balQtyField").val(0);
            $("#addPackagesTable tbody").empty();
            $("#rawProductQty").val(null);
            $("#rawProductID").val(null).trigger('change');
            let pID = +ProductID || 0;

            if (pID > 0 && JOID > 0) {
                console.log($('#addPackagesTable tbody tr').length)
                $("#hdnItemID").val(pID);

                /////////
                var json = { "OrderID": JOID, "ItemID": pID };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/SalesOrder/GetItemPackageDetails',
                    async: true,
                    data: JSON.stringify(json),
                    success: function (newArr) {
                        $("#lbl_itemID").text(ProductName);
                      //  console.log(newArr);
                       // var itemWiseProducts = data;
                        if (newArr.length > 0) {

                                    $("#itemQtyField").val(Qty);
                                    var balQty = 0;
                            $("#pkgQtyField").val(0);
                            $("#addPackagesTable tbody").empty();
                                    for (var i = 0; i < newArr.length; i++) {

                                        var table_Data = '<tr><td hidden id="hdnItemID_td">' + newArr[i].ItemID + '</td><td hidden id="hdnOrderID_td">' + newArr[i].OrderID + '</td><td  id="hdnDescription_td">' + newArr[i].Description + ' </td><td id="hdnRawProductQty_td" class="btnSelect" >' + newArr[i].Qty + '</td><td id="hdnRawProductDelQty_td" contenteditable="true" >' + newArr[i].DeliverQty + '</td><td  id="hdnRawProductDeliveredQty_td">' + newArr[i].DeliveredQty + '</td><td hidden id="hdnPackageId_td">' + newArr[i].PackageId + '</td></tr>';
                                        $("#addPackagesTable tbody").append(table_Data);
                                        balQty += +newArr[i].DeliveredQty;
                                        // itemWiseDescArray.push({ ItemID: pID })

                                        console.log("count->" + i);

                                        var rc = $('#addPackagesTable tbody tr').length;
                                        console.log("table count" + rc);


                            }
                            var rowCount = $('#addPackagesTable tbody tr').length;
                            console.log("table count" + rowCount);

                                    $("#balQtyField").val((Qty - balQty).toFixed(1));

                                    //
                                    start = document.getElementById('hdnRawProductDelQty_td');

                                    start.focus();
                                    start.style.backgroundColor = 'yellow';
                                    start.style.color = 'black';
                                    //start.innerText = '';

                                    document.onkeydown = checkKey;

                                    //
                          //  console.log("after");


                           // }

                        }
                    },
                    error: function (err) { console.log(err); }
                });

                ///////////

            }
            else {
                $("#lbl_itemID").val(null);
                $("#hdnItemID").val(null);

            }
        }

        $('#addPackagesTable tbody').keyup(function (e) {
            console.log("inside...")
            var itemQty = +$("#itemQtyField").val() || 0;
            var balQty = +$("#balQtyField").val() || 0;
            var pkgQty = 0;
            var totDelQty = 0;
            $('#addPackagesTable tbody tr').each(function (i, n) {
                var $row = $(n);
                var DelQty = +$row.find("#hdnRawProductDelQty_td").text() || 0;
                var DelvrdQty = +$row.find("#hdnRawProductDeliveredQty_td").text() || 0;
                var ReqQty = +$row.find("#hdnRawProductQty_td").text() || 0;

                if (DelQty <= ReqQty) {
                    pkgQty += DelQty;

                    totDelQty += (DelQty + DelvrdQty);
                }
                else {
                    $row.find("#hdnRawProductDelQty_td").text(0);
                }


            });

            var BQty = itemQty - totDelQty;
            $("#balQtyField").val(+BQty.toFixed(2));
            $("#pkgQtyField").val(+pkgQty.toFixed(2));

            if (BQty < 0) {
                $("#btnSaveData").prop('disabled', true);
                toastr.warning("unmatched dispatch qty entered, form will not save!");
                $("#balQtyField").val(0);
                $("#pkgQtyField").val(0);
            }
            else {
                $("#btnSaveData").prop('disabled', false);

            }


        });

        //function overrideValue(i,e) {
        //   let num = +$(e).html();
        //   console.log(num);
        //    if (num > 0) {
        //        $(e).find('#hdnRawProductDelQty_td').html = num;
        //   }

        //}

        let drag = false;
        $("#addPackagesTable").on('mouseup', '.btnSelect', function () {
            drag = false;
            //// get the current row
            //var currentRow = $(this).closest("tr");

            //var num = +currentRow.find("#hdnRawProductQty_td").text(); // get current row 1st TD value
            //var desc = currentRow.find("#hdnDescription_td").text(); // get current row 1st TD value

            ////console.log(num);
            //if (num > 0) {
            //    currentRow.find("#hdnRawProductDelQty_td").text(num);
            //    console.log("mouseup->" + num);
            //    console.log("mouseup->" + desc);
            //    autoSavePackageDispatchQty();
            //}
        });
        function copyAll() {

            var itemQty = +$("#itemQtyField").val() || 0;
            var balQty = +$("#balQtyField").val() || 0;
            var pkgQty = 0;
            var totDelQty = 0;
            $('#addPackagesTable tbody tr').each(function (i, n) {
                var $row = $(n);
                var DelQty = +$row.find("#hdnRawProductDelQty_td").text() || 0;
                var DelvrdQty = +$row.find("#hdnRawProductDeliveredQty_td").text() || 0;
                var ReqQty = +$row.find("#hdnRawProductQty_td").text() || 0;

                if (DelQty <= ReqQty) {
                    pkgQty += DelQty;

                    totDelQty += (DelQty + DelvrdQty);
                }
                else {
                    $row.find("#hdnRawProductDelQty_td").text(0);
                }


            });


            var BQty = itemQty - totDelQty;
            $("#balQtyField").val(+BQty.toFixed(2));
            $("#pkgQtyField").val(+pkgQty.toFixed(2));

            if (BQty < 0) {
                $("#btnSaveData").prop('disabled', true);
                toastr.warning("unmatched dispatch qty entered, form will not save!");
                $("#balQtyField").val(0);
                $("#pkgQtyField").val(0);
            }
            else {
                $("#btnSaveData").prop('disabled', false);

            }


            $('#addPackagesTable tbody tr').each(function (i, n) {
                var $row = $(n);

                var DelQty = +$row.find("#hdnRawProductQty_td").text(); // get current row 1st TD value
                var desc = $row.find("#hdnDescription_td").text(); // get current row 1st TD value
                var DelvrdQty = +$row.find("#hdnRawProductDeliveredQty_td").text() || 0;
                var ReqQty = +$row.find("#hdnRawProductQty_td").text() || 0;

                //console.log(num);

                if (DelQty <= ReqQty) {
                    pkgQty += DelQty;

                    totDelQty += (DelQty + DelvrdQty);
                    $row.find("#hdnRawProductDelQty_td").text(DelQty);
                    console.log("mousemove->" + DelQty);
                    console.log("mousemove->" + desc);
                }
                else {
                    $row.find("#hdnRawProductDelQty_td").text(0);
                }

                //if (num > 0) {
                //    currentRow.find("#hdnRawProductDelQty_td").text(num);
                //    console.log("mousemove->" + num);
                //    console.log("mousemove->" + desc);
                //    //autoSavePackageDispatchQty();
                //}



                var BQty = itemQty - totDelQty;
                $("#balQtyField").val(+BQty.toFixed(2));
                $("#pkgQtyField").val(+pkgQty.toFixed(2));

                if (BQty < 0) {
                    $("#btnSaveData").prop('disabled', true);
                    toastr.warning("unmatched dispatch qty entered, form will not save!");
                    $("#balQtyField").val(0);
                    $("#pkgQtyField").val(0);
                }
                else {
                    $("#btnSaveData").prop('disabled', false);

                }
            });

        }

        function copySingle(rows) {
            console.log(rows)
            console.log("inside single")
            var itemQty = +$("#itemQtyField").val() || 0;
            var balQty = +$("#balQtyField").val() || 0;
            var pkgQty = 0;
            var totDelQty = 0;


            var $row = $(this).closest("tr");
            var DelQty = +$row.find("#hdnRawProductQty_td").text(); // get current row 1st TD value
            var desc = $row.find("#hdnDescription_td").text(); // get current row 1st TD value
            var DelvrdQty = +$row.find("#hdnRawProductDeliveredQty_td").text() || 0;
            var ReqQty = +$row.find("#hdnRawProductQty_td").text() || 0;

            //console.log(num);

            if (DelQty <= ReqQty) {
                pkgQty += DelQty;

                totDelQty += (DelQty + DelvrdQty);
                $row.find("#hdnRawProductDelQty_td").text(DelQty);
                console.log("mousemove->" + DelQty);
                console.log("mousemove->" + desc);
            }
            else {
                $row.find("#hdnRawProductDelQty_td").text(0);
            }


            var BQty = itemQty - totDelQty;
            $("#balQtyField").val(+BQty.toFixed(2));
            $("#pkgQtyField").val(+pkgQty.toFixed(2));

            if (BQty < 0) {
                $("#btnSaveData").prop('disabled', true);
                toastr.warning("unmatched dispatch qty entered, form will not save!");
                $("#balQtyField").val(0);
                $("#pkgQtyField").val(0);
            }
            else {
                $("#btnSaveData").prop('disabled', false);

            }

        };

        /////////////////////
        $("#addPackagesTable").on('mousemove', '.btnSelect', function () {

            console.log("inside...")
            var itemQty = +$("#itemQtyField").val() || 0;
            var balQty = +$("#balQtyField").val() || 0;
            var pkgQty = 0;
            var totDelQty = 0;

                $('#addPackagesTable tbody tr').each(function (i, n) {
                var $row = $(n);
                var DelQty = +$row.find("#hdnRawProductDelQty_td").text() || 0;
                var DelvrdQty = +$row.find("#hdnRawProductDeliveredQty_td").text() || 0;
                var ReqQty = +$row.find("#hdnRawProductQty_td").text() || 0;

                if (DelQty <= ReqQty) {
                    pkgQty += DelQty;

                    totDelQty += (DelQty + DelvrdQty);
                }
                else {
                    $row.find("#hdnRawProductDelQty_td").text(0);
                }


            });

            var BQty = itemQty - totDelQty;
            $("#balQtyField").val(+BQty.toFixed(2));
            $("#pkgQtyField").val(+pkgQty.toFixed(2));

            if (BQty < 0) {
                $("#btnSaveData").prop('disabled', true);
                toastr.warning("unmatched dispatch qty entered, form will not save!");
                $("#balQtyField").val(0);
                $("#pkgQtyField").val(0);
            }
            else {
                $("#btnSaveData").prop('disabled', false);

            }

            ////////////



            if (drag == true) {
                // get the current row
                var currentRow = $(this).closest("tr");

                var DelQty = +currentRow.find("#hdnRawProductQty_td").text(); // get current row 1st TD value
                var desc = currentRow.find("#hdnDescription_td").text(); // get current row 1st TD value
                var DelvrdQty = +currentRow.find("#hdnRawProductDeliveredQty_td").text() || 0;
                var ReqQty = +currentRow.find("#hdnRawProductQty_td").text() || 0;

                //console.log(num);

                if (DelQty <= ReqQty) {
                    pkgQty += DelQty;

                    totDelQty += (DelQty + DelvrdQty);
                    currentRow.find("#hdnRawProductDelQty_td").text(DelQty);
                    console.log("mousemove->" + DelQty);
                    console.log("mousemove->" + desc);
                }
                else {
                    $row.find("#hdnRawProductDelQty_td").text(0);
                }

                //if (num > 0) {
                //    currentRow.find("#hdnRawProductDelQty_td").text(num);
                //    console.log("mousemove->" + num);
                //    console.log("mousemove->" + desc);
                //    //autoSavePackageDispatchQty();
                //}



                var BQty = itemQty - totDelQty;
                $("#balQtyField").val(+BQty.toFixed(2));
                $("#pkgQtyField").val(+pkgQty.toFixed(2));

                if (BQty < 0) {
                    $("#btnSaveData").prop('disabled', true);
                    toastr.warning("unmatched dispatch qty entered, form will not save!");
                    $("#balQtyField").val(0);
                    $("#pkgQtyField").val(0);
                }
                else {
                    $("#btnSaveData").prop('disabled', false);

                }
            }

        });

        $("#addPackagesTable").on('mousedown', '.btnSelect', function () {
            drag = true;
            //// get the current row
            //var currentRow = $(this).closest("tr");

            //var num = +currentRow.find("#hdnRawProductQty_td").text(); // get current row 1st TD value
            //var desc = currentRow.find("#hdnDescription_td").text(); // get current row 1st TD value

            ////console.log(num);
            //if (num > 0) {
            //    currentRow.find("#hdnRawProductDelQty_td").text(num);
            //    console.log("mousedown->" + num);
            //    console.log("mousedown->" + desc);
            //    //autoSavePackageDispatchQty();
            //}
        });



        $('#exampleModal').on('hidden.bs.modal', function (e) {
            console.log("modal closed");
            autoSavePackageDispatchQty();

        })

        // for binding arrow keys to table row


        function dotheneedful(sibling) {
            if (sibling != null) {
                start.focus();
                start.style.backgroundColor = '';
                start.style.color = '';
                sibling.focus();
                sibling.style.backgroundColor = 'yellow';
                sibling.style.color = 'black';
                sibling.innerText = '';
               //console.log(sibling)
                start = sibling;
            }
        }


        function checkKey(e) {
            console.log("chk key called")
            e = e || window.event;
            if (e.keyCode == '38') {
                // up arrow
                var idx = start.cellIndex;
                var nextrow = start.parentElement.previousElementSibling;
                if (nextrow != null) {
                    var sibling = nextrow.cells[idx];
                    dotheneedful(sibling);
                }
            } else if (e.keyCode == '40') {
                // down arrow
                var idx = start.cellIndex;
                var nextrow = start.parentElement.nextElementSibling;
                if (nextrow != null) {
                    var sibling = nextrow.cells[idx];
                    dotheneedful(sibling);
                }
            }
            //else if (e.keyCode == '37') {
            //    // left arrow
            //    var sibling = start.previousElementSibling;
            //    dotheneedful(sibling);
            //} else if (e.keyCode == '39') {
            //    // right arrow
            //    var sibling = start.nextElementSibling;
            //    dotheneedful(sibling);
            //}
        }

        function autoSavePackageDispatchQty() {
            try {
                uiBlock();
                var arr = [];


                $('#addPackagesTable tbody tr').each(function (i, n) {

                    var $row = $(n);
                    var itemID = +$row.find('#hdnItemID_td').text() || null;
                    // if (pId == itemID) {
                    var DelQty = +$row.find('#hdnRawProductDelQty_td').text() || 0;
                    var DeliveredQty = +$row.find('#hdnRawProductDeliveredQty_td').text() || 0;
                    var ProdQty = +$row.find('#hdnRawProductQty_td').text() || 0;
                    var desc = $row.find('#hdnDescription_td').text() || 0;
                    var OrderID = $row.find('#hdnOrderID_td').text() || 0;
                    var PackageId = $row.find('#hdnPackageId_td').text() || null;

                    arr.push({ ItemID: itemID, Description: desc, DeliverQty: DelQty, Qty: ProdQty, DeliveredQty: DeliveredQty, OrderID: OrderID, PackageId: PackageId });
                    //  }

                });

                if (arr.length) {
                   // console.log("ajax calling ...")
                    if (arr.length) {
                        var json = JSON.stringify({

                            'packageModel': arr
                        });
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/SalesOrder/UpdateDispatchQty',
                            async: true,
                            data: json,
                            success: function (data) {
                                uiUnBlock();
                                if (data == 200) {
                                    console.log("200 success");
                                    $("#btnSearch").click();
                                }
                                else {
                                    swal("Error Occured", "Message: " + data, "error");
                                }

                            },
                            error: function (err) { console.log(err); }
                        });
                    }
                }
            }
            catch (e) {
                console.log(e.message)
            }
        }

        $("#btnSaveData").click(function () {

            var arr = [];
            $('#addPackagesTable tbody tr').each(function (i, n) {
                var $row = $(n);
                var itemID = +$row.find('#hdnItemID_td').text() || null;
               // if (pId == itemID) {
                    var DelQty = +$row.find('#hdnRawProductDelQty_td').text() || 0;
                var DeliveredQty = +$row.find('#hdnRawProductDeliveredQty_td').text() || 0;
                    var ProdQty = +$row.find('#hdnRawProductQty_td').text() || 0;
                    var desc = $row.find('#hdnDescription_td').text() || 0;
                    var OrderID = $row.find('#hdnOrderID_td').text() || 0;
                var pkgID = $row.find('#hdnPackageId_td').text() || 0;

                arr.push({ ItemID: itemID, Description: desc, DeliverQty: DelQty, Qty: ProdQty, DeliveredQty: DeliveredQty, OrderID: OrderID, PackageId:pkgID });
                    console.log(arr)
              //  }

            });
            if (arr.length) {
                console.log("ajax calling ...")
                console.log(arr)
                if (arr.length) {
                    var json = JSON.stringify({

                        'packageModel': arr
                    });
                    //var json = { "OrderID": OrderId, "ItemID": pID };
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '/SalesOrder/UpdateDispatchQty',
                        async: true,
                        data: json,
                        success: function (data) {
                            if (data == 200) {
                                swal("", "Saved", "success");
                                $("#btnModalClose").click();
                                $("#btnSearch").click();
                            }
                            else {
                                swal("Error Occured","Message: "+ data, "error");
                            }

                        },
                        error: function (err) { console.log(err); }
                    });
                }
            }
        })


        function openModal(ItemName, OrderID, ProductID, IsCompleted) {
            $('#StatusDD').val(IsCompleted == false?0:1).trigger('change.select2');
            $("#modalInoviceNo").text(OrderID);
            $("#modalItemName").text(ItemName);
            $("#hdnModalOrderID").val(OrderID);
            $("#hdnModalProductID").val(ProductID);
            $("#statusModal").modal();

        }

        function openProcessModal(ItemName, OrderID, ProductID, MachineID, DepartmentID) {
            $addedProcessIDs = [];

            //$('#StatusDD').val(IsCompleted == false?0:1).trigger('change.select2');
            $("#processModalInoviceNo").text(OrderID);
            $("#processModalItemName").text(ItemName);
            $("#hdnprocessModalOrderID").val(OrderID);
            $("#hdnprocessModalProductID").val(ProductID);
            $("#hdnprocessModalDepartmentID").val(DepartmentID);
            $("#processModal").modal();
            $("#attachProcessTable tbody").empty();

        }

        function DiscardRemainingQty(ItemName, OrderID, ProductID, DepartmentID,DiscardingQty,DeliveredQty) {

            $("#discardQtyModalInoviceNo").text(OrderID);
            $("#discardQtyModalItemName").text(ItemName);
            $("#hdndiscardQtyModalOrderID").val(OrderID);
            $("#hdndiscardQtyModalProductID").val(ProductID);
            $("#hdndiscardQtyModalDepartmentID").val(DepartmentID);
            $("#hdndiscardQtyModalDeliveredQty").val(DeliveredQty);
            $("#discardedQty").val(DiscardingQty);
            $("#discardQtyModal").modal();

        }

        function MoveToStock(ItemName, OrderID, ProductID, DepartmentID, MovingQty, DeliveredQty) {

            $("#moveStockModalInoviceNo").text(OrderID);
            $("#moveStockModalItemName").text(ItemName);
            $("#hdnmoveStockModalOrderID").val(OrderID);
            $("#hdnmoveStockModalProductID").val(ProductID);
            $("#hdnmoveStockModalDepartmentID").val(DepartmentID);
            $("#hdnmoveStockModalDeliveredQty").val(DeliveredQty);
            $("#moveStockQty").val(MovingQty);
            $("#moveStockQtyModal").modal();

        }

        $("#discardQtyBtn").click( function (){

            let OrderID = +$("#hdndiscardQtyModalOrderID").val() || 0;
            let ProductID = +$("#hdndiscardQtyModalProductID").val() || 0;
            let DepartmentID = +$("#hdndiscardQtyModalDepartmentID").val() || 0;
            let DeliveredQty = +$("#hdndiscardQtyModalDeliveredQty").val() || 0;
            let DiscardingQty = +$("#discardedQty").val() || 0;
            var json = {
                "OrderID": OrderID, "ProductID": ProductID, "DepartmentID": DepartmentID, "DeliveredQty": DeliveredQty, "DiscardingQty": DiscardingQty
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/DiscardSOQty',
                async: true,
                data: JSON.stringify({ "model": json }),
                success: function (data) {

                    if (data == 1) {
                        swal("Discarded!", "qty discarded successfully!", "success");
                        $("#discardQtyModalCloseBtn").click();
                        $("#btnSearch").click();
                        console.log("action done!")

                    }

                    else {
                        swal('Error', 'Some Error Occured', 'error');
                    }
                },
                error: function (err) { console.log(err); swal('Error', 'Critical Error Occured!', 'error'); }
            });
            ///////////
        });

        $("#moveStockQtyBtn").click(function () {

            let OrderID = +$("#hdnmoveStockModalOrderID").val() || 0;
            let ProductID = +$("#hdnmoveStockModalProductID").val() || 0;
            let DepartmentID = +$("#hdnmoveStockModalDepartmentID").val() || 0;
            let DeliveredQty = +$("#hdnmoveStockModalDeliveredQty").val() || 0;
            let MovingQty = +$("#moveStockQty").val() || 0;
            var json = {
                "OrderID": OrderID, "ProductID": ProductID, "DepartmentID": DepartmentID, "DeliveredQty": DeliveredQty, "MovingQty": MovingQty
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/MoveSOQtyToStock',
                async: true,
                data: JSON.stringify({ "model": json }),
                success: function (data) {

                    if (data == 1) {
                        swal("Moved!", "qty moved successfully!", "success");
                        $("#moveStockQtyModalCloseBtn").click();
                        $("#btnSearch").click();
                        console.log("action done!")

                    }

                    else {
                        swal('Error', 'Some Error Occured', 'error');
                    }
                },
                error: function (err) { console.log(err); swal('Error', 'Critical Error Occured!', 'error'); }
            });
            ///////////
        });

        function transferProcess(ItemName, OrderID, ProductID, MachineID, DepartmentID) {

            swal({
                title: "Are you sure you want to transfer to another process?",
                text: "You will not be able to revert this action!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {

                    var json = {
                        "OrderID": OrderID, "ProductID": ProductID, "AttachedMachineID": MachineID, "DepartmentID": DepartmentID };
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: '/Sales/TransferProcess',
                        async: true,
                        data: JSON.stringify({ "model": json }),
                        success: function (data) {

                            if (data == 1) {
                                swal({
                                    title: 'Transferred!',
                                    text: 'Order process successfully transferred!',
                                    icon: 'success'
                                }).then(function () {
                                    $("#btnSearch").click();
                                    console.log("action done!")

                                });
                            }
                            else if (data == -2) {
                                swal('Warning', 'No Next Process Found', 'warning');
                            }
                            else {
                                swal('Error', 'Some Error Occured', 'error');
                            }
                        },
                        error: function (err) { console.log(err); swal('Error', 'Critical Error Occured!', 'error'); }
                    });
                ///////////



                } else {
                    swal("Cancelled", "Process transfer has been cancelled", "error");
                }
            })

        }

        openHistoryModal = (itemName, orderID, itemID) => {
            console.log(itemName, orderID, itemID);
            $("#lbl_historyModalItem").text(itemName);

            $("#historyModal").modal();
            $("#machineHistoryTable tbody").empty();

            /////////
            var json = { "OrderID": orderID, "ItemID": itemID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/SalesOrder/GetJobOrderAttachedMachineDetails',
                async: true,
                data: JSON.stringify(json),
                success: function (newArr) {

                    if (newArr.length) {

                        if (newArr.length) {
                            console.log(newArr)
                            $("#machineHistoryTable tbody").empty();
                            for (var i = 0; i < newArr.length; i++) {

                                if (newArr[i].IsCurrentMachine == 1) {
                                    var markup = "<tr>\
                    <td style='color:green;font-weight:bold;'>  "+ newArr[i].MachineType + " </td> \
                   <td style='color:green;font-weight:bold;'> "+ newArr[i].MachineName + " </td> \
                   <td style='color:green;font-weight:bold;'> "+ newArr[i].AddedOn + " </td> \
                    </tr>";

                                    $("#machineHistoryTable tbody").append(markup);
                                }
                                else {
                                    var markup = "<tr>\
                    <td>  "+ newArr[i].MachineType + " </td> \
                   <td> "+ newArr[i].MachineName + " </td> \
                   <td> "+ newArr[i].AddedOn + " </td> \
                    </tr>";

                                    $("#machineHistoryTable tbody").append(markup);
                                }

                            }

                        }

                        // }

                    }
                    else {
                        swal('No Data', 'No Data Found!', 'error');
                    }
                },
                error: function (err) { console.log(err); swal('No Data', 'No Data Found!', 'error'); }
            });
                ///////////
        }


        $("#statusBtn").click(function (e) {


            e.preventDefault();

            var StatusID = +$("#StatusDD").val() || 0;
            var OrderID = +$("#hdnModalOrderID").val()||0;
            var ItemID = +$("#hdnModalProductID").val()||0;

            if ( OrderID > 0 && ItemID > 0) {
                var json = { "StatusID": StatusID, "OrderID": OrderID, "ItemID": ItemID};
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/ChangeOrderStatus',
                    //headers: {
                    //    'Authorization': 'Bearer GNK6lL9rw668yCkEkngLHro4yNR5EMzSUqt4CVY4kmcPvoOMT2mMMAEAporuBrdBdD6-AmivsUWvAXgcs48KXnmkOevrmAl84jarW5MhYsa0pd_UL6O7Rg-RnQhQMnpV-9i-7s_ivIb1ofnVPZNoI4Y-7CKastxwLxYvlulkU1eC_INbdFHMgzggWtRu0o3X-qhxVZrRLWE5pQH_eit_z_QLI6t4xGSz7f6x6e_9QSh2r4FTOrBExjFZHZvzgGEXIDa01SDAc_qd4l5ZpA6AMwKyR9Da564tcIArBeVmG61ps_4ef4aifj-Dh_DEZeWBmdAoX8rjIqcf2h9WbVbEZ2FMz_bij4jsqVhbhHvkCTm4PJymDaIYzQ7uNsHdDhDcMS7woM8-JxcmyA8M2OacZ988lw8aoIiDv1ssNmH8t9TpBX55QaPYPtRptPxiRWGIrEk84l4zc6X4rOuzMoBamPW-4s5Eb7_GBU95_8P_ohO9v8q5Bi731NaSlOsUpfI8v_OVPAFCLDU-I2-6R_Gdnw'
                    //},
                    dataType: 'json',
                    async: true,
                    data: JSON.stringify(json),
                    success: function (data) {

                        if (data == 1) {
                            swal("Status", "Status Changed", "success");
                            $("#modalCloseBtn").click();
                            $("#btnSearch").click();
                        }
                        else {
                            swal("Status", "Status Not Changed!", "error");
                            $("#modalCloseBtn").click();
                        }

                    },
                    error: function (err) { console.log(err); }
                });
            }
        })


        $("#btnSearch").on("click", function () {

            $.ajax({
                url: "@Url.Action("DepartmentWiseOrdersIndex", "Sales")",
                data: {
                    btn: true,
                    BranchID: $('#Branch').val(),
                    accountID: $('#AccountID').val(),
                    salepersonID: $('#SalePersonID').val(),
                    prodID: $('#ProductID').val(),
                    MachineID: $('#MachineID').val(),
                    departmentID: $('#DepartmentID').val(),
                    orderID: $('#OrderID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    var col = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13];

                    $('#tblData').DataTable({

                        'fixedHeader': true,
                        dom: 'Bfrtip',
                        "paging": false,
                        "order": [[0, "desc"]],
                        buttons: [
                            {
                                extend: 'print',
                                title: '',
                                messageTop: function () {
                                    var html = $("#PrintHeader").html();

                                    return html;

                                },
                                messageBottom: $("#PrintBottom").html(),
                                exportOptions: {
                                    columns: col
                                }
                               
                            },
                            {
                                extend: 'excel',
                                title: '',
                                messageTop: '',
                                messageBottom: "Developed By: Mangotech Solutions",
                                exportOptions: {
                                    columns: col
                                }
                               
                            }

                        ]

                    });
                }
            });
        });

        $("#tableSearch").on("keyup", function () {
            var value = $(this).val();

            $("#addPackagesTable tr").each(function (index) {
                if (index !== 0) {

                    $row = $(this);

                    var id = $row.find("td:first").text();

                    if (id.indexOf(value) !== 0) {
                        $row.hide();
                    }
                    else {
                        $row.show();
                    }
                }
            });
        });

        /////////

        getPO = (OrderID) => {
            //console.log(OrderID);
            if (OrderID > 0) {
                $("#hdnOrderId").val(+OrderID);
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/GetCustomerPO?OrderID=' + OrderID,
                    async: true,
                    success: function (data) {
                        $("#customerPONumber").val(data);

                    },
                    error: function (err) { console.log(err); }
                });
            }

        }

        UpdateCustomerPO = () => {
            let OrderID = +$("#hdnOrderId").val() || 0;
            let CustomerPO = $("#customerPONumber").val();
            console.log(OrderID);
            console.log(CustomerPO);

            if (OrderID > 0 && CustomerPO != '') {
                var json = { 'OrderID': OrderID, 'CustomerPO': CustomerPO };


                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Sales/UpdateCustomerPO',
                    async: true,
                    data: JSON.stringify({ 'model': json }),
                    success: function (data) {
                        console.log(data);
                        if (data > 0) {
                            swal("PO Updated!", "Customer PO updated", "success");
                            $("#POModalCloseBtn").click();
                            $("#btnSearch").click();
                        }
                        else {
                            swal("PO Not Updated!", "Something went wrong.", "error");
                        }
                        //window.location.reload();

                    },
                    error: function (err) { console.log(err); }
                });
            }
        }


    </script>


}


