﻿@model Tuple<List<POSOman.Models.DTO.DragDropDTO>, List<POSOman.Models.DTO.MachinesDTO>>

@using System.Threading.Tasks;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <link href="~/assets/css/trello_dragdrop.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWOI</title>



</head>

<body>
    <button hidden id="btn"></button>
    <div>

        <a href='@Url.Action("Index", "Home")'><img src="~/Content/images/icons/backLogo.png" height="40px" width="60px" /></a>
        <h2 style="text-align:center">Machine Wise Order List</h2>
        <br />
        <input type="hidden" id="hdnDeptID" />
        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Store Keeper") || User.IsInRole("SalePerson"))
        {

            <div class="form-group mb-1 col-sm-8 col-md-1">
                <label>Departments</label>
                <div class="input-group">
                    @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
        }
        @*else
            {
                <div class="form-group mb-1 col-sm-8 col-md-1">
                    <label>Departments</label>
                    <div class="input-group">
                        @Html.DropDownList("DepartmentID", new SelectList(ViewBag.department, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
            }*@
        <br />
    </div>
    <div id="SearchResult">

    </div>

    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendors.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/app.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/core/menu/menu-types/horizontal-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/core/colors/palette-gradient.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">
    <!-- END Custom CSS-->
    <!-- Added By Zeeshan for dt testing-->
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.min.css" />
    <!-- BEGIN VENDOR JS-->
    <script src="~/Scripts/vendor/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" src="~/Scripts/vendor/js/ui/jquery.sticky.js"></script>
    @*<script src="~/Scripts/vendors/js/extensions/unslider-min.js" type="text/javascript"></script>
        <script src="~/Scripts/vendors/js/timeline/horizontal-timeline.js" type="text/javascript"></script>*@
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="~/Scripts/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/Scripts/js/core/app.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/select2/select2.min.js"></script>
    <!-- Added By Zeeshan for dt testing-->
    <script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <link href="~/assets/css/ThreeDotBtn.css" rel="stylesheet" />
    <script src="~/assets/js/ThreeDotBtn.js"></script>
    <script src="~/Scripts/customScripts/DNDOutside.js"></script>
    <script>
        //$(document).ready(function () {
        //    //document.getElementsByClassName("board-item-content").querySelectorAll('span').forEach(element => {
        //    //    console.log(element);
        //    //});
        //    grid.on('add', function (items) {
        //        console.log(items);
        //    });
        //    OrderChanged = (orderID) => {

        //        console.log(orderID)
        //    }
        //});

        $("#DepartmentID").select2({ dropdownAutoWidth: true });


        $("#DepartmentID").change(function () {
            uiBlock("Fetching Data...");
            let deptID = +$("#DepartmentID").val() || 0;
            $("#hdnDeptID").val(deptID);
            var json = { "departmentID": deptID, "btn": true };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/DNDOutSide',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    //console.log(data)
                    $("#SearchResult").html(data);
                    renderPartialViewJS();
                    uiUnBlock();
                },
                error: function (err) { uiUnBlock(); console.log(err); }
            });

        });

        $(document).ready(function () {
            autoFetchDataAfterCertainMinutes();

            MarkJoAsCompleted();

            setInterval(function () { autoFetchDataAfterCertainMinutes(); }, 300000);
            setInterval(function () { MarkJoAsCompleted(); }, 1800000);

        })

        function autoFetchDataAfterCertainMinutes() {

            var json = { "departmentID": $("#hdnDeptID").val() || null, "btn": true };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/DNDOutSide',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    $("#SearchResult").html(data);
                    renderPartialViewJS();
                },
                error: function (err) { console.log(err); }
            });
        }

        $("#btn").click(function () {

            uiBlock("Fetching Data...");
            var json = { "departmentID": $("#hdnDeptID").val() || null, "btn": true };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Sales/DNDOutSide',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                    //console.log(data)
                    $("#SearchResult").html(data);
                    renderPartialViewJS();
                    uiUnBlock();
                },
                error: function (err) { uiUnBlock(); console.log(err); }
            });
        });
        changeBoardItemWidth = (itemLength) => {
            console.log(itemLength + "<-BoardLength");

            const element = document.querySelector('.board');
            element.style.width = 'calc(' + itemLength + ' * 300px)';
        }

        ///////////////

        //to be paste here

        ///////////////

       
    </script>

</body>

</html>