﻿
@model Tuple<List<POSOman.Models.DTO.DragDropDTO>, List<POSOman.Models.DTO.MachinesDTO>>
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/assets/css/trello_dragdrop.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <div class="drag-container"></div>
    <div class="board">
        <div class="board-column todo">
            <div class="board-column-container">
                <div class="board-column-header">Todo</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>1
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>2
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>3
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>4
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column working">
            <div class="board-column-container">
                <div class="board-column-header">Working</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>6
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>7
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>8
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>9
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>10
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="board-column done">
            <div class="board-column-container">
                <div class="board-column-header">Done</div>
                <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>11
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>12
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>13
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>14
                            </div>
                        </div>
                        <div class="board-item">
                            <div class="board-item-content">
                                <span>
                                    Item
                                    #
                                </span>15
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.5/dist/muuri.min.js"></script>
    <script>
        var dragContainer = document.querySelector('.drag-container');
        var itemContainers = [].slice.call(document.querySelectorAll('.board-column-content'));
        var columnGrids = [];
        var boardGrid;

        // Init the column grids so we can drag those items around.
        itemContainers.forEach(function (container) {
            var grid = new Muuri(container, {
                items: '.board-item',
                dragEnabled: true,
                dragSort: function () {
                    return columnGrids;
                },
                dragContainer: dragContainer,
                dragAutoScroll: {
                    targets: (item) => {
                        return [
                            { element: window, priority: 0 },
                            { element: item.getGrid().getElement().parentNode, priority: 1 },
                        ];
                    }
                },
            })
                .on('dragInit', function (item) {
                    item.getElement().style.width = item.getWidth() + 'px';
                    item.getElement().style.height = item.getHeight() + 'px';
                })
                .on('dragReleaseEnd', function (item) {
                    item.getElement().style.width = '';
                    item.getElement().style.height = '';
                    item.getGrid().refreshItems([item]);
                })
                .on('layoutStart', function () {
                    boardGrid.refreshItems().layout();
                });

            columnGrids.push(grid);
        });

        // Init board grid so we can drag those columns around.
        boardGrid = new Muuri('.board', {
            dragEnabled: true,
            dragHandle: '.board-column-header'
        });
    </script>

</body>

</html>