﻿
@model POSOman.Models.DTO.SaleProductDTO

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Tafata Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <div class="row">
                                <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                <input type="hidden" id="hdnDeptID" value="@ViewBag.DeptID" />
                                <input type="hidden" id="hdnProdID" value="@ViewBag.ItemID" />
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Order Date</label>
                                    @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                    @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Expected Delivery Date</label>
                                    @Html.EditorFor(model => model.ExpectedDeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpectedDeliveryDate", id = "ExpectedDeliveryDate" } })
                                    @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Quotation</label>
                                    <input type="hidden" value="@ViewBag.userRole" id="currentUserRole" />
                                    <br>
                                    @Html.DropDownList("QuotationID", new SelectList(ViewBag.Quotation, "Value", "Name"), "Select Quotation", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Inquiry</label>
                                    <br>
                                    @Html.DropDownList("InquiryID", new SelectList(ViewBag.Inquiry, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Customer Name</label>
                                    <br>
                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>SalesPeron</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Item</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.ProductID, new SelectList(ViewBag.Product, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Department</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.OffsetDepartmentID, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-body col-lg-12 col-md-12 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roll Quality</label>
                                                @Html.DropDownListFor(model => model.RollID, new SelectList(ViewBag.TafataRollQuality, "Value", "Name"), "Select Roll", htmlAttributes: new { @class = "select2 form-control", id = "RollQuality", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required", @disabled = "disabled" } })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roll Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Split</label>
                                                @Html.EditorFor(model => model.Split, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Splinter Size/Width</label>
                                                @Html.DropDownListFor(model => model.SplinterID, new SelectList(ViewBag.Splinter, "Value", "Name"), "Select Splinter", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sheet Size (H)</label>
                                                @Html.EditorFor(model => model.HSheetSize, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sheet Size (W)</label>
                                                @Html.EditorFor(model => model.WSheetSize, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Upping</label>
                                                @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Wastage</label>

                                                @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>No. Of Sheets</label>
                                                @Html.EditorFor(model => model.NoOfSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Splinter Count</label>
                                                @Html.EditorFor(model => model.SplinterCount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tot. W (inch)</label>
                                                @Html.EditorFor(model => model.TotalWinInches, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Impression</label>
                                                @Html.EditorFor(model => model.NOOfImpressions, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        @*<div class="col-md-3" hidden>
                                                <div class="form-group">
                                                    <label>Wastage</label>
                                                    @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>*@
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Sheets</label>
                                                @Html.EditorFor(model => model.TotalSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Meters</label>
                                                @Html.EditorFor(model => model.TotalMeters, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div hidden class="col-md-3">
                                            <div class="form-group">
                                                <label>Ready Qty</label>
                                                @Html.EditorFor(model => model.ReadyQty, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                            </div>
                                        </div>
                                    </div>

                                    @*@Html.Partial("~/Views/PartialViews/_AttachMachinesToJobOrder.cshtml")*@
                                    <hr />

                                </div>



                                @*<div hidden>

                                        <label>Wastage</label>
                                        @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control" } })

                                        <label>Material Cost/Meter</label>
                                        @Html.EditorFor(model => model.MaterialCostPerMeter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>Total Material Cost</label>
                                        @Html.EditorFor(model => model.TotalMaterialCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "TotalMaterialCostPerMeter" } })

                                        <label>Machine Plate</label>
                                        @Html.DropDownListFor(model => model.MachineID, new SelectList(ViewBag.Machine, "Value", "Name"), "Select Machine", htmlAttributes: new { @class = "select2 form-control" })

                                        <label>Ground Color</label>
                                        @Html.EditorFor(model => model.GroundColor, new { htmlAttributes = new { @class = "form-control", id = "MachineGroundColor" } })

                                        <label>Total Ground Cost</label>
                                        @Html.EditorFor(model => model.GroundCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachineGroundCost" } })

                                        <label>Text Color</label>
                                        @Html.EditorFor(model => model.TextColor, new { htmlAttributes = new { @class = "form-control", id = "MachineTextColor" } })

                                        <label>Total Text Cost</label>
                                        @Html.EditorFor(model => model.TextCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachineTextCost" } })

                                        <label>No.Of Plates</label>
                                        @Html.EditorFor(model => model.NoOfPlates, new { htmlAttributes = new { @class = "form-control", id = "MachinePlates" } })

                                        <label>Plates Cost</label>
                                        @Html.EditorFor(model => model.PlateCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachinePlateCost" } })

                                        <label>Printing Cost</label>
                                        @Html.EditorFor(model => model.PrintingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "MachinePrintingCost" } })

                                        <label>Lamination Cost</label>
                                        @Html.EditorFor(model => model.LaminationCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>DIE Cost</label>
                                        @Html.EditorFor(model => model.DieCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>DIE Cutting Cost</label>
                                        @Html.EditorFor(model => model.DieCuttingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>UVCost</label>
                                        @Html.EditorFor(model => model.UVCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>Slitting Cost</label>
                                        @Html.EditorFor(model => model.SlittingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>Design Cost</label>
                                        @Html.EditorFor(model => model.DesignCost, new { htmlAttributes = new { @class = "form-control" } })

                                        <label>Foil Printing Rate</label>
                                        @Html.EditorFor(model => model.FoilPrintingCost, new { htmlAttributes = new { @class = "form-control" } })

                                        <label>Final Cost/PC</label>
                                        @Html.EditorFor(model => model.FinalCostPerPc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                        <label>MarkUp Rate</label>
                                        @Html.EditorFor(model => model.MarkupRate, new { htmlAttributes = new { @class = "form-control" } })

                                        <label>Marked Up Price</label>
                                        @Html.EditorFor(model => model.MarkedupPrice, new { htmlAttributes = new { @class = "form-control", id = "MarkedUpPrice" } })


                                    </div>*@

                            </div>
                            <hr />

                            <div class="form-actions">
                                <button type="submit" id="btnSubmit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">

        $("#CardQuality").select2();
        $("#DepartmentID").select2();
        $("#MachinePlate").select2();

        $("#SlittingOMachineID").select2();
        $("#DieCuttingOMachineID").select2();
        $("#UVOMachineID").select2();
        $("#LaminationOMachineID").select2();
        $("#FoilOMachineID").select2();
        $("#EmbosingOMachineID").select2();

    </script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Sales/EditTafataOffsetSaleOrder.js"></script>
    <script src="~/Scripts/Sales/EditTafataOffsetDetails.js"></script>
    @*<script src="~/Scripts/Sales/AttachedMachines.js"></script>*@
}