﻿
@model POSOman.Models.DTO.SaleProductDTO

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Card/Paper Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <div class="row">
                                <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                <input type="hidden" id="hdnDeptID" value="@ViewBag.DeptID" />
                                <input type="hidden" id="hdnProdID" value="@ViewBag.ItemID" />
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Order Date</label>
                                    @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                    @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Expected Delivery Date</label>
                                    @Html.EditorFor(model => model.ExpectedDeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpectedDeliveryDate", id = "ExpectedDeliveryDate" } })
                                    @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Quotation</label>
                                    <input type="hidden" value="@ViewBag.userRole" id="currentUserRole" />
                                    <br>
                                    @Html.DropDownList("QuotationID", new SelectList(ViewBag.Quotation, "Value", "Name"), "Select Quotation", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Inquiry</label>
                                    <br>
                                    @Html.DropDownList("InquiryID", new SelectList(ViewBag.Inquiry, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Customer Name</label>
                                    <br>
                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>SalesPeron</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Item</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.ProductID, new SelectList(ViewBag.Product, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Department</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.OffsetDepartmentID, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-body col-lg-12 col-md-12 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Card Quality</label>
                                                @Html.DropDownListFor(model => model.CardQuality, new SelectList(ViewBag.CardQlty, "Value", "Name"), "Select Quality", htmlAttributes: new { @class = "select2 form-control", id = "CardQuality", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Width</label>
                                                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <b>Card Size</b>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <b>Cuts</b>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Card Length</label>
                                                @Html.EditorFor(model => model.CardLength, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Card Width</label>
                                                @Html.EditorFor(model => model.CardWidth, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cut Length</label>
                                                @Html.EditorFor(model => model.CutLength, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cut Width</label>
                                                @Html.EditorFor(model => model.CutWidth, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Upping</label>
                                                @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @Value = "1" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Card GSM</label>
                                                @Html.EditorFor(model => model.CardGSM, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>No. Of Sheets</label>
                                                @Html.EditorFor(model => model.NoOfSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label>Ready Qty</label>
                                                @Html.EditorFor(model => model.ReadyQty, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Raw Size Sheets RQ</label>
                                                @Html.EditorFor(model => model.RawSizeSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>No. Of Impression</label>
                                                @Html.EditorFor(model => model.NOOfImpressions, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Wastage</label>
                                                @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Sheets</label>
                                                @Html.EditorFor(model => model.TotalSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    @*@Html.Partial("~/Views/PartialViews/_AttachMachinesToJobOrder.cshtml")*@
                                    <hr />

                                </div>

                            </div>
                            <hr />

                            <div class="form-actions">
                                <button type="submit" id="btnSubmit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">

        $("#CardQuality").select2();
        $("#DepartmentID").select2();
        $("#MachinePlate").select2();

        $("#SlittingOMachineID").select2();
        $("#DieCuttingOMachineID").select2();
        $("#UVOMachineID").select2();
        $("#LaminationOMachineID").select2();
        $("#FoilOMachineID").select2();
        $("#EmbosingOMachineID").select2();

    </script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    @*<script src="~/Scripts/Sales/AttachedMachines.js"></script>*@
    <script src="~/Scripts/Sales/EditOffsetDetails.js"></script>
    <script src="~/Scripts/Sales/EditOffsetSaleOrder.js"></script>
}