﻿@model POSOman.Models.DTO.SaleProductDTO

@{
    ViewBag.Title = "Update";
}

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Satin Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <div class="row">

                                <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                <input type="hidden" id="hdnDeptID" value="@ViewBag.DeptID" />
                                <input type="hidden" id="hdnProdID" value="@ViewBag.ItemID" />
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Order Date</label>
                                    @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                    @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Expected Delivery Date</label>
                                    @Html.EditorFor(model => model.ExpectedDeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpectedDeliveryDate", id = "ExpectedDeliveryDate" } })
                                    @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Quotation</label>
                                    <input type="hidden" value="@ViewBag.userRole" id="currentUserRole" />
                                    <br>
                                    @Html.DropDownList("QuotationID", new SelectList(ViewBag.Quotation, "Value", "Name"), "Select Quotation", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                    <label>Select Inquiry</label>
                                    <br>
                                    @Html.DropDownList("InquiryID", new SelectList(ViewBag.Inquiry, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Customer Name</label>
                                    <br>
                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>SalesPeron</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Item</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.ProductID, new SelectList(ViewBag.Product, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Department</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.SatinDepartmentID, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>



                                <div class="form-body col-lg-12 col-md-12 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Printing Machine</label>
                                                @Html.DropDownListFor(model => model.PrintingMachineID, new SelectList(ViewBag.PrintingMachine, "Value", "Name"), "Select Machine", htmlAttributes: new { @class = "select2 form-control", id = "PrintingMachineID", required = "required", @disabled = "disabled" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cylinder</label>
                                                @Html.DropDownListFor(model => model.CylinderID, new SelectList(ViewBag.Cylinder, "Value", "Name"), "Select Cylinder", htmlAttributes: new { @class = "select2 form-control", id = "CylinderID", required = "required", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Finishing Type</label>
                                                @Html.DropDownListFor(model => model.FinishingTypeID, new SelectList(ViewBag.FinishingType, "Value", "Name"), "Select Finish Type", htmlAttributes: new { @class = "select2 form-control", id = "FinishingTypeID", @disabled = "disabled" })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Block Type</label>
                                                @Html.DropDownListFor(model => model.BlockTypeID, new SelectList(ViewBag.BlockType, "Value", "Name"), "Select Block Type", htmlAttributes: new { @class = "select2 form-control", id = "BlockTypeID", @disabled = "disabled" })

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Job Order Quantity</label>
                                                @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Width</label>
                                                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Cylinder Length</label>
                                                @Html.EditorFor(model => model.CylinderLength, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Around Ups</label>
                                                @Html.EditorFor(model => model.AroundUps, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No. Of Print Colors</label>
                                                @Html.EditorFor(model => model.NoOfPrintingColors, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Roll Quality</label>
                                                @Html.DropDownListFor(model => model.RollID, new SelectList(ViewBag.Roll, "Value", "Name"), "Select Quality", htmlAttributes: new { @class = "select2 form-control", id = "RollID", required = "required", @disabled = "disabled" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Total Pc In Roll</label>
                                                @Html.EditorFor(model => model.TotalPcsInRoll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Wastage Pc In Roll</label>
                                                @Html.EditorFor(model => model.WastagePcsInRoll, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Total Req. Rolls</label>
                                                @Html.EditorFor(model => model.TotalRequiredRolls, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div hidden class="col-md-6">
                                            <div class="form-group">
                                                <label>Ready Qty</label>
                                                @Html.EditorFor(model => model.ReadyQty, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Slitting Machine</label>
                                                    @Html.DropDownListFor(model => model.SlittingOMachineID, new SelectList(ViewBag.SlittingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Die Cutting Machine</label>
                                                    @Html.DropDownListFor(model => model.DieCuttingOMachineID, new SelectList(ViewBag.DieCuttingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>UV Machine</label>
                                                    @Html.DropDownListFor(model => model.UVOMachineID, new SelectList(ViewBag.UVMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Lamination Machine</label>
                                                    @Html.DropDownListFor(model => model.LaminationOMachineID, new SelectList(ViewBag.LaminationMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Foil Machine</label>
                                                    @Html.DropDownListFor(model => model.FoilOMachineID, new SelectList(ViewBag.FoilMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Embosing Machine</label>
                                                    @Html.DropDownListFor(model => model.EmbosingOMachineID, new SelectList(ViewBag.EmbosingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })
                                                </div>
                                            </div>

                                        </div>*@

                                    @*@Html.Partial("~/Views/PartialViews/_AttachMachinesToJobOrder.cshtml")*@
                                    <hr />

                                </div>


                            </div>


                            <div class="form-actions">
                                <button type="button" id="btnSubmit" class="btn btn-primary">
                                    <i class="fa fa-check-square-o"></i> Save
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#QuotationID').select2();
        $('#unitCode').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        $('#SalePersonAccID').select2();
        $('#StoreStatus').select2();
        $('#DeliveryStatus').select2();
        $('#OrderMachine').select2();

        $("#SlittingOMachineID").select2();
        $("#DieCuttingOMachineID").select2();
        $("#UVOMachineID").select2();
        $("#LaminationOMachineID").select2();
        $("#FoilOMachineID").select2();
        $("#EmbosingOMachineID").select2();

    </script>

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    @*<script src="~/Scripts/Product/updateSaleOrderProduct.js"></script>*@
    <script src="~/Scripts/Sales/EditSatinSaleOrder.js"></script>
    <script src="~/Scripts/Sales/EditSatinSaleOrderDetails.js"></script>
    @*<script src="~/Scripts/Sales/AttachedMachines.js"></script>*@
}
