﻿
@model POSOman.Models.DTO.SaleProductDTO

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Sticker Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <div class="row">

                                <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                <input type="hidden" id="hdnDeptID" value="@ViewBag.DeptID" />
                                <input type="hidden" id="hdnProdID" value="@ViewBag.ItemID" />
                                <input type="hidden" value="@ViewBag.userRole" id="currentUserRole" />
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Order Date</label>
                                    @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                    @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Expected Delivery Date</label>
                                    @Html.EditorFor(model => model.ExpectedDeliveryDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpectedDeliveryDate", id = "ExpectedDeliveryDate" } })
                                    @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Customer Name</label>
                                    <br>
                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>SalesPeron</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), htmlAttributes: new { @class = "form-control" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Item</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.ProductID, new SelectList(ViewBag.Product, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>

                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                    <label>Department</label>
                                    <br>
                                    @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.StickerDepartmentID, "Value", "Name"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>



                                <div class="form-body col-lg-12 col-md-12 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Machine</label>
                                                @Html.DropDownListFor(model => model.StickerMachineID, new SelectList(ViewBag.StickerMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", required = "required", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Qty</label>
                                                @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Length Size</label>
                                                @Html.EditorFor(model => model.LSize, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Width Size</label>
                                                @Html.EditorFor(model => model.WSize, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Width</label>
                                                @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Around</label>
                                                @Html.EditorFor(model => model.AroundUps, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Repeat Length</label>
                                                @Html.EditorFor(model => model.RepeatLength, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Cylinder</label>
                                                @Html.DropDownListFor(model => model.StickerCylinderID, new SelectList(ViewBag.StickerCylinder, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div hidden class="col-md-3">
                                            <div class="form-group">
                                                <label>Cylinder Teeth</label>
                                                @Html.Editor("CylinderTeeth", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Across</label>
                                                @Html.EditorFor(model => model.Across, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Reel Size</label>
                                                @Html.EditorFor(model => model.ReelSize, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>No. Of Ups</label>
                                                @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Running Mtr</label>
                                                <input type="hidden" id="hdnCardTypeID" />
                                                @Html.EditorFor(model => model.RunningMeter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>M2 Req.</label>
                                                @Html.EditorFor(model => model.RequiredM2, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sticker Quality</label>
                                                @Html.DropDownListFor(model => model.StickerQualityID, new SelectList(ViewBag.StickerQuality, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @readonly = "readonly" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>KG Req.</label>
                                                <input type="hidden" id="hdnGSM" />
                                                @Html.EditorFor(model => model.KGRequired, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Material Cost M2</label>
                                                @Html.EditorFor(model => model.MaterialCostPerMeter, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3" hidden>
                                            <div class="form-group">
                                                <label>Ready Qty</label>
                                                @Html.EditorFor(model => model.ReadyQty, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>R. Mtr. Wastage</label>

                                                @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>T. M2 Req. Inc. Wastage</label>
                                                @Html.EditorFor(model => model.TotalM2ReqIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required", @Value = "0" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>T. Qty Inc. Wastage</label>
                                                @Html.EditorFor(model => model.TotalQtyIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required", @Value = "0" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Run. Mtr. Inc. Wastage</label>
                                                @Html.EditorFor(model => model.RunningMeterIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required", @Value = "0" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Thermal Printing</label>
                                                @Html.DropDownListFor(model => model.StickerRibbonID_T, new SelectList(ViewBag.StickerRibbonThermal, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Foil Printing</label>
                                                @Html.DropDownListFor(model => model.StickerRibbonID_F, new SelectList(ViewBag.StickerRibbonFoil, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Satin Offset</label>
                                                @Html.DropDownListFor(model => model.StickerRibbonID_S, new SelectList(ViewBag.StickerRibbonSatin, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>RFID</label>
                                                @Html.DropDownListFor(model => model.StickerRibbonID_RFID, new SelectList(ViewBag.StickerRibbonRFID, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Die Cutting</label>
                                                @Html.DropDownListFor(model => model.StickerDieCutiingID, new SelectList(ViewBag.DieCutting, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Block Type</label>
                                                @Html.DropDownListFor(model => model.BlockTypeID, new SelectList(ViewBag.BlockType, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })@*, onchange = "getCardQualityID(this.value)" })*@
                                            </div>
                                        </div>


                                    </div>
                                    @*@Html.Partial("~/Views/PartialViews/_AttachMachinesToJobOrder.cshtml")*@
                                    <hr />
                                </div>

                            </div>

                        </div>


                        <div class="form-actions">
                            <button type="button" id="btnSubmit" class="btn btn-primary">
                                <i class="fa fa-check-square-o"></i> Save
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
    </section>
<!-- // Striped row layout section end -->
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">

        $("#CardQuality").select2();
        $("#DepartmentID").select2();
        $("#MachinePlate").select2();
        $("#AccountID").select2();
        $("#SalePersonAccountID").select2();

        $("#SlittingOMachineID").select2();
        $("#DieCuttingOMachineID").select2();
        $("#UVOMachineID").select2();
        $("#LaminationOMachineID").select2();
        $("#FoilOMachineID").select2();
        $("#EmbosingOMachineID").select2();
       

    </script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Sales/EditStickerSaleDetails.js"></script>
    <script src="~/Scripts/Sales/EditStickerSaleOrder.js"></script>
    @*<script src="~/Scripts/Sales/AttachedMachines.js"></script>*@
}