﻿@model IEnumerable<POSOman.Models.GetWastageSOItemQtyFilterWise_Result>

@{
    ViewBag.Title = "Wastage Qty";
    ViewBag.Href = "Sales";
    ViewBag.Type = "List";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="form-row">
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>From Date</label>
                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>To Date</label>
                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Departments</label>
                <div class="input-group">
                    @Html.DropDownList("DeptID", new SelectList(ViewBag.Departments, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Items</label>
                <div class="input-group">
                    @Html.DropDownList("ItemID", new SelectList(ViewBag.Items, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Sale Order ID</label>
                <div class="input-group">
                    <input type="text" id="orderID" class="form-control" placeholder="Order ID"/>
                </div>
            </div>

            @*<div class="col-md-2 mb-2">
            <label>Branch</label>
            <div class="input-group">
                @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
            </div>
        </div>*@
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label> </label>
                <br>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
            </div>
        </div>
        <div id="SearchResult">

        </div>


    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>


        $("#DeptID").select2();
        $('#ItemID').select2();

        $("#btnSearch").on("click", function () {

            $.ajax({
                url: "@Url.Action("WastageSOQtyIndex", "Sales")",
                data: {
                    btn: true,
                    DeptID: $('#DeptID').val(),
                    ItemID: $('#ItemID').val(),
                    OID: $('#orderID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    var col = [0, 1, 2, 3, 4,5];
                    GetTableData(col,2);
                }
            });
        });

     

    </script>

}


