﻿@model IEnumerable<POSOman.Models.GetPersonTransactionDateWise_Result>


<div class="card-content collapse show">
    <div class="row">
        <div class="card-body card-dashboard">
            @if (Model != null)
            {

                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                 ShareHolder
                            </th>
                            <th>
                                Reference No
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Account
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Debit
                            </th>
                            <th>
                                Credit
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                        @Html.DisplayFor(modelItem => item.Person)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserReferenceID)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherDate)*@
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Account)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cr)
                                </td>



                            </tr>
                        }
                    </tbody>

                </table>

            }

            else
            {
                <text>
                    <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                    </script>
                </text>
            }
        </div>

    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}


