﻿@model IEnumerable<POSOman.Models.tbl_JDetail>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>  Bank Transfer Receipt</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div class="row">

                <div class="col-md-3">

                </div>
                <div class="col-md-8" style="text-align:center; align-content:center">
                    <h1>@ViewBag.CompanyName</h1>
                </div>
                <div class="col-md-11" style="text-align:center ">
                   

                    <h6>Plot # Q-312, Sector 33/A, Korangi # 2, Karachi</h6>
                    @*<h6>Phone: 0344 3607167</h6>*@
                    <hr />
                    <h4>Transfer Receipt</h4>
                    <br /><br />
                </div>

               
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Transfer From  : </strong></label><strong>@Model.Last().tbl_AccountDetails.AccountName</strong></div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Transfer Date: </strong></label>@Model.First().tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                        </div>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Transfer To  : </strong></label><strong>@Model.First().tbl_AccountDetails.AccountName</strong></div>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Ref. NO  : </strong></label><strong>@Model.First().UserReferenceID</strong></div>

                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                @*<div class="col-md-5 col-xl-4">
                        <form>
                            <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Detail</strong></label>@Model.Detail</div>
                            @if (@Model.tbl_JEntry.ChequeDate != null)
                            {<div class="form-group row">
                                <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque Date </strong></label>@Model.tbl_JEntry.ChequeDate
                            </div>}
                        </form>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        <th>Description</th>
                        <th class="right">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">1</td>
                        <td class="left strong">@Model.First().tbl_JEntry.Description</td>
                        <td class="right">@Model.First().tbl_JEntry.Amount</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
    <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
            <tbody>
                <tr>
                    <td class="left">
                        <strong>Total</strong>
                    </td>
                    <td class="right">
                        <strong>@Model.First().tbl_JEntry.Amount</strong>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">

        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = 'Index';
        }
    </script>
    <div class="footer">Developed By: MangoTech Solutions</div>
</body>
</html>

