﻿@model POSOman.Models.tbl_JEntry

@{
    ViewBag.Title = "Delete";
}

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>Are you sure you want to delete this entry? </h4>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <dl class="dl-horizontal">

                                    <dt>
                                        @Html.DisplayNameFor(model => model.VoucherName)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.VoucherName)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Amount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Amount)
                                    </dd>

                                </dl>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </section>
    <!-- // Striped row layout section end -->
</div>
