﻿@model IEnumerable<POSOman.Models.tbl_JDetail>
<head>
    <style>
        @@media print {
            html, body {
                height: 90vh;
            }
        }
    </style>
</head>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>CASH/BANK TRANSFERS</h2> <br />
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblLoan" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Voucher
                                            </th>
                                            <th>
                                                Reference No
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Account
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Debit
                                            </th>
                                            <th>
                                                Credit
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserReferenceID)
                                                </td>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherDate)*@
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_JEntry.VoucherDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Dr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cr)
                                                </td>

                                                @*@if (@Session["userRole"].ToString() == "SuperAdmin")
                                                    {*@

                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })|
                                                    @Html.ActionLink("Voucher", "Details", new { id = item.JEntryID })
                                                </td>


                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/r-2.2.2/sc-2.0.0/sl-1.3.0/datatables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblLoan').dataTable({
                aoColumnDefs: [
                    { "aTargets": [6], "bSortable": true },
                { "aTargets": [5], "bSortable": true },
                { "aTargets": [1], "bSortable": true },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": true },
                { "aTargets": [2], "bSortable": true, "sType": "date-uk" },
                ],
                "order": [[1, "desc"]],
                dom: 'Bfrtip',
                
                    buttons: [
                        {
                            extend: 'print',
                            title: '',
                            messageTop: function () {

                                //if ( printCounter === 1 ) {
                                return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Transfers</h4>';

                                //}
                                //else {
                                //    return 'You have printed this document '+printCounter+' times';
                                //}
                            },
                            messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                            exportOptions: {
                                columns: [0, 1,2,3,4,5,6]
                        }

                       //         ,
            //                //For repeating heading.
            //                repeatingHead: {
            //    logo: '',
            //    logoPosition: 'right',
            //    logoStyle: '',
            //    title: '<h3>Sample Heading</h3>'
            //}
                        }
                    ]
            });

        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>

}
