﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<POSOman.Models.GetPersonTransactionDateWise_Result>

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">

            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Account</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.Account, "Value", "Name"), "Select Account", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>ShareHolder</label>                        
                        <div class="input-group">
                            @Html.DropDownList("ShareHolderID", new SelectList(ViewBag.ShareHolder, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Transaction Type</label>                        
                        <div class="input-group">
                            @Html.DropDownList("EntryType", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Type", Value = "" },
                                                   new SelectListItem{ Text="Deposit", Value = "32" },
                                                   new SelectListItem{ Text="WithDraw", Value = "33" },
                                               }, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
        });

        $("#AccountID").select2();
        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var BranchID = $('#Branch').val();   
            var shareHolderID = $('#ShareHolderID').val();   
            var entryTypeID = $('#EntryType').val();
            var type = $("#Entrytype option:selected").text();
            var html = "<h3 style=margin-top:208px; margin-bottom:76px; align=center>Share Holder Report</h3><br/>";
            if (BranchID != "")
            { html += "<h4>Branch:  " + Branch + "</h4>"; }
            
            if (entryTypeID > 0 && entryTypeID != null)
            { html += "<h4>Transaction:  " + type + "</h4>"; }
            var bankName = $("#AccountID option:selected").text();
            if (accountID > 0)
            { html += "<h4>Bank :  " + bankName + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            if (entryTypeID > 0 && entryTypeID != null)
            {
                $.ajax({
                    url: "@Url.Action("PersonDeposit", "BankTransfer")",
                    data: {
                        isSearch: true,
                        accountID: accountID,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID: BranchID,
                    ShareHolderID: shareHolderID,
                    EntryTypeID: entryTypeID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            var totalPurchase = $("#totalPurchase").val();
                            var totalReturn = $("#totalReturn").val();
                            html += "<h4>Total Purchases: " + totalPurchase + "</h4>";
                            html += "<h4>Total Return: " + totalReturn + "</h4>";
                            $('#tblSO').dataTable({
                                aoColumnDefs: [

                                { "aTargets": [0], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                 { "aTargets": [5], "bSortable": true },
                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [1], "bSortable": true, "sType": "date-uk" },
                                ],
                                dom: 'Bfrtip',

                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Deposit List</h4>';
                                        },

                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3,4,5,6]
                                        }
                                    },
                                {
                                extend: 'excel',
                            messageTop: function () {
                                return 'Deposit Report';
                            },
                            messageBottom: 'Developed By: MangoTech Solutions',
                            exportOptions: {
                                columns: [0, 1, 2,3,4,5,6]
                            }
                        }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });
                        }


                }});
            }
            else
            { swal("Type", "Select Deposit/Withdraw.", "error"); }
        });

    </script>

}