﻿@model POSOman.Models.DTO.BankTransfer
@{
    ViewBag.Title = "WithDraw Entry";
}

<h2>WITHDRAWAL</h2>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveTransfer", "DailyPOSCashDeposit", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Drawing Details</h4>

                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-4">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-4">

                                            <label>Date</label>
                                            <br>
                                            @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate" } })
                                            @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-4">
                                            <label>Amount</label>
                                            <br />
                                            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount", @required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-1 col-sm-12 col-md-4">
                                            <label>ReferenceNo</label>
                                            <br />
                                            @Html.EditorFor(model => model.UserReferenceID, new { htmlAttributes = new { @class = "form-control", name = "ReferenceNo", id = "ReferenceNo" } })
                                            @Html.ValidationMessageFor(model => model.UserReferenceID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="mb-1 col-sm-12 col-md-4">
                                            <label>Description</label>
                                            <br />
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.UserReferenceID, "ReferenceNo", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.UserReferenceID, new { htmlAttributes = new { @class = "form-control", name = "ReferenceNo", id = "ReferenceNo" } })
                                                    @Html.ValidationMessageFor(model => model.UserReferenceID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>*@
                                    <div class="form-actions right">
                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">

        document.getElementById('VoucherDate').valueAsDate = new Date();
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/dailyCashDeposit/withDraw.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
