﻿@model IEnumerable<POSOman.Models.GetStockAdjustmentSumFilterWise_Result>
<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
            {
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>                       
                        <th>
                            @Html.DisplayName("Category")
                        </th>
                        <th>
                            @Html.DisplayName("Product")
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Short)
                        </th> 
                        <th>
                            @Html.DisplayNameFor(model => model.ExcessStock)
                        </th> 
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.ProductID)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartNo)
                            </td>
                           
                                 
                            <td>
                                
                                    @((Convert.ToDecimal(item.Short)))
                                
                            </td>       

                            <td>

                                @((Convert.ToDecimal(item.ExcessStock)))

                            </td>                              
                        </tr>
                    }
                </tbody>

            </table>
        }
    </div>
</div>
