﻿@model IEnumerable<POSOman.Models.GetStockAdjustmentSumFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label>Category</label>
                        <div class="input-group">
                            @*@Html.DropDownList("VehicleCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Vehicle Code", htmlAttributes: new { @class = "select2 form-control" })*@
                            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                        </div>
                    </div>
                    
                   
                    <div class="col-md-2 mb-3" hidden>
                        <label>Product</label>
                        <div class="input-group">
                            <input class="form-control" id="partNO" placeholder="Part No." />
                        </div>
                    </div>
                    <div class="col-md-2 mb-3" hidden>
                        <label>Description</label>
                        <div class="input-group">
                            <input class="form-control" id="description" placeholder="Description" />
                        </div>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label>Type</label>
                        <div class="input-group">
                            @Html.DropDownList("OrderType", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Type", Value = "0" },
                                                   new SelectListItem{ Text="Short", Value = "11"},
                                                   new SelectListItem{ Text="Excess", Value = "12" },
                                               }, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Product</label>
                        <div class="input-group">
                            @*@Html.DropDownList("PartNo", new SelectList(""), "Part No", htmlAttributes: new { @class = "select2 form-control" })*@
                            @Html.DropDownList("ddlPartNumber", new SelectList(""), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                   
                    <div class="col-md-2 mb-3" hidden>
                        <label>Substitute No.</label>
                        <div class="input-group">
                            <input class="form-control" id="substituteNo" placeholder="Substitute No." />
                        </div>
                    </div>

                    <div class="col-md-2 mb-2" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-2" hidden>
                        <label>Total Short</label>
                        <div class="input-group">
                            <input class="form-control" id="totalLoss" placeholder="Total Loss" disabled/>
                        </div>
                    </div>
                    <div class="col-md-2 mb-2" hidden>
                        <label>Total Excess</label>
                        <div class="input-group">
                            <input class="form-control" id="totalExcess" placeholder="Total Excess" disabled/>
                        </div>
                    </div>                    
                    <input type="hidden" id="hdntotalLoss" name="hdnAccountID">
                    <input type="hidden" id="hdntotalExcess" name="hdnAccountID">
                </div>
               

                <div id="SearchResult">
                  
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

    $("#btnSearch").on("click", function () {
        uiBlock();
        var productID = $('#ddlPartNumber').val();
        var orderTypeID = $('#OrderType').val();
        var orderType = $("#orderTypeID option:selected").text();
        var productNO = $("#ddlPartNumber option:selected").text();
        var vehicleCode = $('#ddlVehCode').val();
        var vehCode = $("#ddlVehCode option:selected").text();
        var groupID = $('#Group').val();
        var Group = $("#Group option:selected").text();
        var modelID = $('#Model').val();
        var Model = $("#Model option:selected").text();
        var substituteNo = $('#substituteNo').val();
        var Description = $('#description').val();
        var partNo = $('#partNO').val();
        var branchID = $('#Branch').val();
        var Branch = $("#Branch option:selected").text();
        var html = "<h3 align=center>Stock Adjustment Report</h3><br/>";
        var date = new Date();
        var day = date.getDate(); //Date of the month: 2 in our example
        var month = date.getMonth() + 1; //Month of the Year: 0-based index, so 1 in our example
        var year = date.getFullYear()
        html += "<h3 align=center>As On:  " + year + '/' + month + '/' + day + "</h4>";
        //if (branchID != "" && vehicleCode != "" && groupID != "" && modelID != "" && partNo != "" && productID != ""
        //    && substituteNo != "" && Description != "") { console.log("All Nulls"); }
        //else { console.log("any one not null"); }
        if (orderTypeID != "" && orderTypeID > 0)
        { html += "<h4> Type : " + orderType + " </h4>"; }
        if (branchID != "")
        { html += "<h4> Branch : " + Branch + " </h4>"; }
        if (vehicleCode != "")
        { html += "<h4> Veh Code : " + vehCode + " </h4>"; }
        
       
        if (partNo == "")
            partNo = null;
        else
        { html += "<h4> Part No. : " + partNo + " </h4>"; }
        if (productID != "")
        { html += "<h4> PartNo. : " + productNO + " </h4>"; }
        if (substituteNo == "")
            substituteNo = null;
        else
        { html += "<h4> Substitute No. : " + substituteNo + " </h4>"; }
       
 $.ajax({
            url: "@Url.Action("Index", "StockManagement")",
            data: {
                btn: true,
                ProductID : productID,
                VehicleCodeID : vehicleCode,
                GroupID : groupID,
                ModelID: modelID,
                OrderTypeID:orderTypeID,
                BranchID : branchID,
                SubstituteNo: substituteNo,
                PartNo: partNo,
                Description: Description
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblStock').dataTable({
                        //footerCallback: function (row, data, start, end, display) {
                        //    var api = this.api(), data;
                        //    // Remove the formatting to get integer data for summation
                        //    var intVal = function (i) {
                        //        return typeof i === 'string' ?
                        //            i.replace(/[\$,]/g, '') * 1 :
                        //            typeof i === 'number' ?
                        //            i : 0;
                        //    };

                        //    // Total over all pages
                        //    total = api
                        //        .column(6)
                        //        .data()
                        //        .reduce(function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0);

                        //    // Total over this page
                        //    excessTotal = api
                        //        .column(8)
                        //        .data()
                        //        .reduce(function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0);
                        //    $('#totalLoss').val(parseFloat(total).toFixed(3));
                        //    $('#hdntotalLoss').val(parseFloat(total).toFixed(3));
                        //    $('#totalExcess').val(parseFloat(excessTotal).toFixed(3));
                        //    $('#hdntotalExcess').val(parseFloat(excessTotal).toFixed(3));
                        //},
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                messageTop: function () {
                                    //var total = $('#hdntotalLoss').val();
                                    //html += "<h4>Total Loss: " + total + "</h4><br/>";
                                    //var totalExcess = $('#hdntotalExcess').val();
                                    //html += "<h4>Total Excess: " + totalExcess + "</h4><br/>";
                                    return html;
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Stock Adjustment List';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            }
                        ]
                    });

                }
        });
        //}

    });
    </script>
    <script type="text/javascript">

   // $('#PartNo').select2();
    $('#ddlVehCode').select2();

    </script>
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
