﻿@model POSOman.Models.DTO.StockMovement
<div class="content-body">
    <style>
        .table th, .table td {
    padding: 0.5rem 1rem;
}
        .card-body{
            padding:0.3rem;
        }
    </style>
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("StockAdjustment", "StockManagement",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Stock Adjustment</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-2" hidden>
                                                    <label>Category</label>
                                                    <div class="input-group">
                                                        @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control" })
                                                    </div>

                                                </div>

                                                <div class="col-md-4">
                                                    <label>Product</label>
                                                    <div class="input-group">
                                                        @Html.DropDownList("PartNo", new SelectList(""), "Product", htmlAttributes: new { @class = "select2 form-control", @id = "ddlPartNo" })
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-2" hidden>
                                                    <label>Location</label>
                                                    <div class="input-group">
                                                        <input type="text" id="location" name="location" placeholder="Enter Location" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label></label>
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-2" hidden>
                                                    <label>Total Stock</label>
                                                    <div class="input-group">
                                                        <input type="number" id="totalQty" name="totalQty" placeholder="Total Stock" class="form-control" disabled />
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <label> </label>
                                                    <div class="input-group">
                                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content collapse show">
                                            <div class="card-body card-dashboard">
                                                <div id="dvtbl" class="table-responsive">
                                                    <table id="tblStock" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Category</th>
                                                                <th>Product</th>                                                                
                                                                <th>Branch</th>
                                                                <th>Qty</th>
                                                                <th>OnMove</th>                                                                
                                                                <th>Bal</th>   
                                                                <th hidden>Location</th>                                                             
                                                                <th>Short</th>
                                                                <th>Excess</th>
                                                                <th hidden>New Location</th>
                                                                <th>Reason</th>                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/StockAdjustment.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">
        $('#btnSave').prop('disabled', true);
       // $('#ddlPartNo').select2();
        $('#ddlVehCode').select2();
    </script>
<script>
        $("#btnSearch").on("click", function () {
           // uiBlock();
            var productID = $('#ddlPartNo').val();
            var location = $('#location').val();
            getProductStock(productID);

         //  uiUnBlock();
        });
</script> 
}