@charset "UTF-8";
/*!
*  filename: ej.mobile.ios7.css
*  version : 19.3.0.44
*  Copyright Syncfusion Inc. 2001 - 2021. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/

@charset "UTF-8";
/*!
*  filename: ej.mobile.ios7.css
*  version : 19.3.0.44
*  Copyright Syncfusion Inc. 2001 - 2021. All rights reserved.
*  Use of this code is subject to the terms of our license.
*  A copy of the current license can be obtained at any time by e-mailing
*  licensing@syncfusion.com. Any infringement will be prosecuted under
*  applicable laws.
*/

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-acc .e-m-acc-item {
  background-color: white;
  color: black;
}
.e-m-ios7.e-m-acc,
.e-m-ios7.e-m-acc .e-m-acc-item,
.e-m-ios7.e-m-acc .e-m-acc-content-wrapper {
  border-bottom-color: #c1c1c1;
  border-top-color: #c1c1c1;
  border-left-color: #c1c1c1;
  border-right-color: #c1c1c1;
}
.e-m-ios7.e-m-acc .e-m-acc-item.e-m-state-active {
  background-color: #287bce;
  color: white;
}
.e-m-ios7.e-m-acc .e-m-acc-content-wrapper {
  background-color: white;
  color: black;
}
.e-m-ios7.e-m-acc .e-m-acc-item:before {
  color: #929292;
}
.e-m-ios7.e-m-acc .e-m-acc-item.e-m-state-active:before {
  color: white;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-ac-wrapper .e-m-ac {
  border-color: #c1c1c1;
  color: black;
}
.e-m-ios7.e-m-ac-wrapper .e-m-ac.e-m-focus {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-ac-wrapper.e-m-ac-search .e-m-icon-search:before,
.e-m-ios7.e-m-ac-wrapper.e-m-ac-search .e-m-icon-close:before {
  color: black;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-btn.e-m-border.e-m-state-default {
  border-color: #c1c1c1;
  background-color: white;
  color: #2883f2;
}
.e-m-ios7.e-m-btn.e-m-noborder.e-m-state-default {
  border-color: transparent;
  background-color: transparent;
  color: #2883f2;
}
.e-m-ios7.e-m-btn.e-m-border.e-m-state-active,
.e-m-ios7.e-m-btn.e-m-noborder.e-m-state-active {
  border-color: #c1c1c1;
  background-color: #287bce;
  color: white;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-dialog .e-m-dlg-container {
  background-color: white;
  color: black;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-dialog .e-m-dlg-btn.e-m-state-default {
  background-color: white;
  color: black;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-dialog .e-m-dlgbtnwrapper {
  border-top-color: #c1c1c1;
}
.e-m-ios7.e-m-dialog .e-m-dlg-btn.e-m-dlg-rightbtn {
  border-left-color: #c1c1c1;
}
.e-m-ios7.e-m-dialog .e-m-dlg-hdr,
.e-m-ios7.e-m-dialog .e-m-dlg-content {
  color: black;
}
.e-m-ios7.e-m-dialog .e-m-dlg-btn.e-m-state-active {
  background-color: #287bce;
  color: white;
  border-color: #c1c1c1;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-dropdownlist {
  color: black;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-dropdownlist.e-m-focus {
  border-color: #287bce;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-input-checkbox,
.e-m-ios7.e-m-input-radiobutton {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-input-checkbox.e-m-state-active,
.e-m-ios7.e-m-input-radiobutton.e-m-state-active:after {
  background-color: #287bce;
}
.e-m-ios7.e-m-input-checkbox.e-m-state-active:before {
  color: white;
}
.e-m-ios7.e-m-input-radiobutton.e-m-state-glow:after {
  box-shadow: 0 0 1px 13px rgba(40, 123, 206, 0.1);
}
.e-m-ios7.e-m-input-checkbox.e-m-state-glow:after {
  box-shadow: -2px -1px 0px 13px #287bce;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-navbar {
  background-color: #f7f7f7;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-navbar .e-m-navbar-text {
  color: #2883f2;
}
.e-m-ios7.e-m-navbar .e-m-navbar-icon,
.e-m-ios7.e-m-navbar .e-m-navbar-ellipsis {
  color: #2883f2;
}
.e-m-ios7.e-m-navbar .e-m-navbar-icon.e-m-state-active,
.e-m-ios7.e-m-navbar .e-m-navbar-ellipsis.e-m-state-active {
  color: white;
  background-color: #287bce;
}
.e-m-ios7.e-m-navbar .e-m-navbar-icon.e-m-nav-badge::after {
  background-color: #2883f2;
  color: #f7f7f7;
}
.e-m-ios7.e-m-navbar .e-m-navbar-icon.e-m-state-active.e-m-nav-badge::after {
  background-color: white;
  color: #287bce;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7 .e-m-grid-header .e-m-grid-fbardiv {
  background: white;
}
.e-m-ios7 .e-m-caption-row,
.e-m-ios7 .e-m-grid-fbardiv,
.e-m-ios7 .e-m-grid-fbardiv input {
  color: black;
  background: white;
}
.e-m-ios7 .e-m-grid-header,
.e-m-ios7 .e-m-grid-pwrapper {
  border-width: 1px 0;
  border-color: #e5e4e7;
  border-style: solid;
}
.e-m-ios7 .e-m-caption-row,
.e-m-ios7 .e-m-grid-fbardiv,
.e-m-ios7 .e-m-grid-content .e-m-grid-table,
.e-m-ios7 .e-m-grid-content,
.e-m-ios7.e-m-grid-core {
  border-color: #e5e4e7;
}
.e-m-ios7 .e-m-grid-header .e-m-state-active {
  background: #287bce;
  color: white;
}
.e-m-ios7 .e-m-grid-header.e-m-state-default,
.e-m-ios7 .e-m-grid-header.e-m-state-default .e-m-grid-inrhdr {
  background: white;
  color: black;
}
.e-m-ios7 .e-m-grid-rowcell.e-m-state-active,
.e-m-ios7.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-state-active.e-m-page-num {
  background: #287bce;
  color: white;
}
.e-m-ios7 .e-m-grid-content .e-m-grid-table tr {
  color: black;
  background: white;
}
.e-m-ios7.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num,
.e-m-ios7 .e-m-grid-ptxt {
  color: black;
}
.e-m-ios7 .e-m-grid-header .e-m-grid-fbardiv input {
  border-color: #e5e4e7;
  color: black;
}
.e-m-ios7 .e-m-grid-table tr:nth-child(2n),
.e-m-ios7.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num {
  background: #efeef3;
}
.e-m-ios7 .e-m-grid-pwrapper {
  background: white;
}
.e-m-ios7 .e-m-grid-rowcell,
.e-m-ios7 .e-m-grid-emptycell,
.e-m-ios7 .e-m-grid-hdrcell,
.e-m-ios7.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num {
  border-color: #e5e4e7;
}
.e-m-ios7.e-m-pagertype-scrollable .e-m-grid-ptxt .e-m-page-num,
.e-m-ios7 .e-m-grid-pwrapper .e-m-fontimage {
  box-shadow: none;
  background-color: #cccccc;
}
.e-m-ios7.e-m-grid-core .e-m-fontimage.e-m-state-active {
  background-color: #007aff;
}
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-prev,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-next,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-first,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-last,
.e-m-ios7.e-m-grid-core .e-m-fontimage {
  color: black;
}
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-hprev,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-hnext,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-hfirst,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-hlast,
.e-m-ios7.e-m-grid-core .e-m-state-active .e-m-fontimage,
.e-m-ios7.e-m-grid-core .e-m-state-active.e-m-fontimage {
  color: white;
}
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-dprev,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-dnext,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-dfirst,
.e-m-ios7 .e-m-grid-inrpgr .e-m-grid-dlast {
  color: darkgray;
}
.e-m-ios7.e-m-grid-colnavcontainer .e-m-btnwrapper {
  left: 0;
  top: 0;
}
.e-m-ios7.e-m-grid-colnavcontainer .e-m-btnwrapper:last-child {
  left: 0;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-lv .e-m-lv-group {
  background-color: white;
}
.e-m-ios7.e-m-lv .e-m-lv-content {
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2);
  color: black;
}
.e-m-ios7.e-m-lv .e-m-lv-image {
  box-shadow: 50px 1px 0 rgba(0, 0, 0, 0.2);
}
.e-m-ios7.e-m-lv .e-m-lv-item {
  background-color: white;
}
.e-m-ios7.e-m-lv .e-m-lv-active {
  background-color: #287bce;
}
.e-m-ios7.e-m-lv .e-m-lv-active .e-m-lv-content {
  color: white;
}
.e-m-ios7.e-m-lv .e-m-lv-slideitem .e-m-lv-delete {
  color: black;
  background-color: white;
}
.e-m-ios7.e-m-lv .e-m-lv-content::after {
  background-color: #287bce;
  color: white;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-menu {
  border-color: #c1c1c1;
  background-color: white;
}
.e-m-ios7.e-m-menu.e-m-menu-actionsheet {
  border-color: transparent;
  background-color: transparent;
}
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menuitem.e-m-state-default,
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn.e-m-menu-cancelbtn,
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menuscrollwrapper {
  background-color: white;
}
.e-m-ios7.e-m-menu .e-m-menuitem.e-m-state-default {
  border-bottom-color: #c1c1c1;
}
.e-m-ios7.e-m-menu.e-m-menu-popover div.e-m-icon-arrow:before {
  color: white;
}
.e-m-ios7.e-m-menu .e-m-menu-title,
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menu-title {
  color: black;
  background-color: white;
}
.e-m-ios7.e-m-menu.e-m-menu-popover {
  background-color: white;
}
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn,
.e-m-ios7.e-m-menu .e-m-menu-btn {
  color: black;
}
.e-m-ios7.e-m-menu .e-m-menuitem.e-m-state-active,
.e-m-ios7 .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active,
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menuitem.e-m-state-active,
.e-m-ios7.e-m-menu.e-m-menu-actionsheet .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active {
  background-color: #287bce;
}
.e-m-ios7.e-m-menu .e-m-menuitem.e-m-state-active .e-m-menu-btn,
.e-m-ios7.e-m-menu .e-m-menu-btn.e-m-menu-cancelbtn.e-m-state-active {
  color: white;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-sbw .e-m-sb {
  background-color: #c1c1c1;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7 .e-m-pane.e-m-sp-right,
.e-m-ios7 .e-m-pane.e-m-sp-left {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-splitpane .e-m-pane {
  background-color: white;
  color: black;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-radialmenu.e-m-ios7 .e-m-radialdefault {
  fill: #3f3f3f;
}
.e-m-radialmenu.e-m-ios7 .e-m-badgecircle {
  fill: #52bbea;
}
.e-m-radialmenu.e-m-ios7 .e-m-badgetext {
  fill: white;
}
.e-m-radialmenu.e-m-ios7 .e-m-radialcircle {
  fill: rgba(243, 244, 244, 0.95);
  stroke: #999999;
}
.e-m-radialmenu.e-m-ios7 .e-m-chaildcircle {
  fill: none;
  stroke: #999999;
  stroke-width: 1;
}
.e-m-radialmenu.e-m-ios7 .e-m-radialactive {
  fill: #52bbea;
}
.e-m-radialmenu.e-m-ios7 .e-m-radial {
  border: 1px solid #999999;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-rotator .e-m-pager .e-m-sv-pager.e-m-active {
  background-color: #287bce;
}
.e-m-ios7.e-m-rotator .e-m-pager .e-m-sv-pager {
  background-color: white;
  border-color: #c1c1c1;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-slider.e-m-ios7.e-m-horizontal .e-m-slider-outer {
  border-radius: 50px;
  background: #b5b5b6;
}
.e-m-slider.e-m-ios7.e-m-vertical .e-m-slider-outer {
  border-radius: 50px;
  background: #b5b5b6;
}
.e-m-slider.e-m-ios7.e-m-horizontal .e-m-slider-inner {
  background: #017aff;
  border-radius: 50px;
}
.e-m-slider.e-m-ios7.e-m-vertical .e-m-slider-inner {
  background: #017aff;
  border-radius: 50px;
}
.e-m-slider.e-m-ios7 .e-m-slider-handleout,
.e-m-slider.e-m-ios7 .e-m-slider-handleout.e-m-state-active {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  background: white;
  /* Old browsers */
  box-shadow: 0 3px 1px 0 rgba(211, 211, 211, 0.7), 0 1px 3px 0 rgba(211, 211, 211, 0.3);
}
.e-m-slider.e-m-ios7 .e-m-slider-handleout.e-m-small-handle,
.e-m-slider.e-m-ios7 .e-m-slider-handleout.e-m-small-handle.e-m-state-active {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: white;
  /* Old browsers */
  box-shadow: 0 3px 1px 0 rgba(211, 211, 211, 0.7), 0 1px 3px 0 rgba(211, 211, 211, 0.3);
}
.e-m-slider.e-m-ios7 .e-m-slider-handlein {
  display: none;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-grpbtn {
  color: #2883f2;
  background-color: white;
}
.e-m-ios7.e-m-grpbtn .e-m-btn {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-grpbtn .e-m-btn.e-m-active {
  color: white;
  background-color: #287bce;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-grpbtn .e-m-btn:first-child {
  border-left-color: #c1c1c1;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-tbutton {
  border-color: #c1c1c1;
  background-color: white;
}
.e-m-ios7.e-m-tbutton .e-m-tslider {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-tbutton.e-m-state-active {
  background-color: rgba(40, 123, 206, 0.2);
}
.e-m-ios7.e-m-tbutton .e-m-tslider.e-m-state-active {
  background-color: #287bce;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-tab.e-m-ios7 .e-m-tab-badge.e-m-state-active::after {
  background-color: white;
  color: black;
}
.e-m-tab.e-m-ios7 .e-m-tab-badge::after {
  background-color: #287bce;
  color: black;
}
.e-m-tab.e-m-ios7.e-m-tab-bottom {
  border-top: 2px solid #c1c1c1;
}
.e-m-tab.e-m-ios7.e-m-tab-top {
  border-bottom: 2px solid #c1c1c1;
}
.e-m-tab.e-m-ios7.e-m-tab-top .e-m-tab-item.e-m-state-active {
  border-bottom: 2px solid #c1c1c1;
}
.e-m-tab.e-m-ios7.e-m-tab-bottom .e-m-tab-item.e-m-state-active {
  border-top: 2px solid #c1c1c1;
}
.e-m-tab.e-m-ios7 .e-m-tab-item {
  background-color: transparent;
  color: #2883f2;
}
.e-m-tab.e-m-ios7 .e-m-state-active {
  color: white;
  background-color: #287bce;
}
.e-m-tab.e-m-ios7 {
  background-color: white;
  color: #2883f2;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-timepicker {
  color: black;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-tp-dialog.e-m-dialog .e-m-tp-header {
  background-color: white;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-time {
  color: #2883f2;
}
.e-m-ios7.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-mer .mer {
  color: black;
}
.e-m-ios7.e-m-tp-dialog.e-m-dialog .e-m-tp-header .e-m-tp-mer .mer.e-m-state-active {
  color: #2883f2;
}
.e-m-ios7.e-m-tp-dialog .e-m-tpwrap .e-m-text.e-m-text-active {
  color: white;
  background-color: #287bce;
}
.e-m-ios7.e-m-tp-dialog.e-m-dialog .e-m-dlgbtnwrapper {
  border-top-color: #c1c1c1;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-editor.e-m-input-wrapper,
.e-m-ios7.e-m-editor.e-m-input-wrapper .e-m-textbox {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-editor.e-m-input-wrapper,
.e-m-ios7.e-m-editor.e-m-input-wrapper .e-m-textbox,
.e-m-ios7.e-m-editor.e-m-input-wrapper span {
  background-color: white;
}
.e-m-ios7.e-m-editor.e-m-input-wrapper,
.e-m-ios7.e-m-editor.e-m-input-wrapper .e-m-textbox {
  color: black;
}
.e-m-ios7.e-m-editor.e-m-input-wrapper:focus,
.e-m-ios7.e-m-editor.e-m-input-wrapper.focus {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-editor.e-m-input-wrapper span[class^='e-m-icon-']:active,
.e-m-ios7.e-m-editor.e-m-input-wrapper span[class*='e-m-icon-']:active {
  color: #287bce;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-ios7.e-m-datepickerwrapper .e-m-datepicker,
.e-m-ios7.e-m-dp .e-m-dp-header {
  color: black;
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-dp .e-m-dpinner .e-m-ios7-overlay {
  border-color: #c1c1c1;
}
.e-m-ios7.e-m-dp .e-m-dpinner .e-m-dp-overlay {
  border-color: white;
}
.e-m-ios7.e-m-dp .e-m-dpinner .e-m-text {
  color: #c1c1c1;
}
.e-m-ios7.e-m-dp .e-m-dpinner .e-m-text.e-m-text-active {
  color: black;
  background-color: white;
  border-color: white;
}
.e-m-ios7.e-m-dp .e-m-dpinner .e-m-text.e-m-text-disabled {
  color: none;
}
.e-m-ios7.e-m-dp,
.e-m-ios7.e-m-dp-tb {
  background-color: white;
}
.e-m-ios7.e-m-dp-tb.e-m-navbar .e-m-navbar-icon {
  color: black;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-tile.e-m-ios7 .e-m-tile-selected:after {
  border-color: white;
  background-color: #287bce;
  border-left-color: white;
}
.e-m-tile.e-m-ios7 .e-m-tile-selected {
  border-color: #c1c1c1;
}
.e-m-tile.e-m-ios7 .e-m-tile-selected::before {
  background-color: transparent;
  border-left-color: white;
  border-bottom-color: white;
}
.e-m-ios7.e-m-tile.e-m-tile-badge.e-m-tile-small.e-m-caption-outer.e-m-badge-position-bottomright::after,
.e-m-ios7.e-m-tile.e-m-tile-badge.e-m-tile-small.e-m-caption-outer.e-m-badge-position-topright::after {
  background-color: #287bce;
}
.e-m-ios7.e-m-tile-caption-text.e-m-caption-innerbottom::before,
.e-m-ios7.e-m-tile-caption-text.e-m-caption-innertop::before {
  background-color: transparent;
}
.e-m-ios7.e-m-tile.e-m-state-active .e-m-tile-overlay {
  background-color: #287bce;
}
.e-m-ios7.e-m-tile.e-m-tile-badge::after,
.e-m-ios7.e-m-tile-caption::before {
  color: white;
}
.e-m-ios7.e-m-tile-caption-text.e-m-caption-outer::before {
  color: black;
}

/* control */
/** DatePicker **/
/*Timepicker*/
/*Grid*/
/* Radial Menu */
/*Slider Control Start*/
/*Slider Control End*/
/*Radial Slider start*/
/*Radial Slider end*/
/*Grid*/
/*Grid End*/

.e-m-radialslider.e-m-ios7 .e-m-ticks-text,
.e-m-radialslider.e-m-ios7 .e-m-dynamic-text {
  fill: black;
}
.e-m-radialslider.e-m-ios7 .e-m-rs-circle-default {
  fill: #b5b5b6;
  stroke: #b5b5b6;
}
.e-m-radialslider.e-m-ios7 .e-m-rs-fill-circle {
  fill: #017aff;
  stroke: #017aff;
}
.e-m-radialslider.e-m-ios7 .e-m-rs-marker {
  background: white;
  border-color: rgba(0, 0, 0, 0.14);
}
