﻿@model POSOman.Models.DTO.Expenses
@{
    ViewBag.Title = "Expenses";
}
<h2>Short/Excess</h2>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title" id="bordered-layout-colored-controls">Purchase Order</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>*@
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveExpense", "Expenses",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-3" style="display: none;">
                                            @*@Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })*@
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Account", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("AccountID", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Entry Type", Value = "0" },
                                                   new SelectListItem{ Text="Excess", Value = "1" },
                                                   new SelectListItem{ Text="Short", Value = "2" }
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", name = "Amount", id = "Amount" } })
                                                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>                                      
                                    </div>                                                                       
                                    <div class="form-actions right">                                     
                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">            
        document.getElementById('VoucherDate').valueAsDate = new Date();
    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/accounts/shortExcessEntry.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>
}
