﻿
@model POSOman.Models.tbl_SaleDetails


<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Cloth Offset Details</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        @Html.DropDownList("AccountID", new SelectList(ViewBag.AccountID, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control", id = "AccountID", required = "required" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item</label>
                                        @Html.EditorFor(model => model.ItemDescription, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Customer</label>
                                        @Html.DropDownList("SalePersonAccountID", new SelectList(ViewBag.SalePersonAccountID, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control", id = "SalePersonAccountID" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-body col-lg-6 col-md-6 col-sm-12" style="border-right:2px solid #ddd">
                                    <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roll Quality</label>
                                                @Html.DropDownList("RollQuality", new SelectList(ViewBag.RollQuality, "Value", "Name"), "Select Quality", htmlAttributes: new { @class = "select2 form-control", id = "RollQuality", required = "required", onchange = "getRollQualityID(this.value)" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roll Length</label>
                                                @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Split</label>
                                                @Html.EditorFor(model => model.Split, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Splinter Size/Width</label>
                                                @Html.DropDownList("SplinterID", new SelectList(ViewBag.Splinter, "Value", "Name"), "Select Splinter", htmlAttributes: new { @class = "select2 form-control", id = "SplinterID", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sheet Size (H)</label>
                                                @Html.EditorFor(model => model.HSheetSize, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Sheet Size (W)</label>
                                                @Html.EditorFor(model => model.WSheetSize, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Upping</label>
                                                @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Roll Cost</label>

                                                @Html.EditorFor(model => model.tbl_Roll.RollCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>No. Of Sheets</label>
                                                @Html.EditorFor(model => model.NoOfSheets, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Splinter Count</label>
                                                @Html.EditorFor(model => model.SplinterCount, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Tot. W (inch)</label>
                                                @Html.EditorFor(model => model.TotalWinInches, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Total Meters</label>
                                                @Html.EditorFor(model => model.TotalMeters, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <div class="row" style="margin-top:51px;">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <b>Cost</b>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Material Cost/Meter</label>
                                                @Html.EditorFor(model => model.MaterialCostPerMeter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Total Material Cost</label>
                                                @Html.EditorFor(model => model.TotalMaterialCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="form-body col-lg-6 col-md-6 col-sm-12">
                                    <h4 class="form-section"><i class="ft-user"></i>Machine Selection</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Machine</label>
                                                @Html.DropDownList("MachinePlate", new SelectList(ViewBag.Machine, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control", id = "MachinePlate", onchange = "getMachineDetails(this.value)" })

                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Ground Color</label>
                                                @Html.EditorFor(model => model.GroundColor, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Ground Cost</label>
                                                @Html.EditorFor(model => model.GroundCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Text Color</label>
                                                @Html.EditorFor(model => model.TextColor, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Total Text Cost</label>
                                                @Html.EditorFor(model => model.TextCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>No. Of Plates</label>
                                                @Html.EditorFor(model => model.NoOfPlates, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Plates Cost</label>
                                                @Html.EditorFor(model => model.PlateCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Printing Cost</label>
                                                @Html.EditorFor(model => model.PrintingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            </div>
                                        </div>


                                    </div>

                                    <hr />
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-user"></i>Additional Selection</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Gloss Lamination Cost</label>
                                                    @if (Model.LaminationTypeID == 1)
                                                    {
                                                        <input type="radio" name="group2" id="GlossLaminationCost" checked readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" name="group2" id="GlossLaminationCost" readonly>
                                                    }

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Mat Lamination Cost</label>
                                                    @if (Model.LaminationTypeID == 2)
                                                    {
                                                        <input type="radio" name="group2" id="MatLaminationCost" checked readonly>
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" name="group2" id="MatLaminationCost" readonly>
                                                    }

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Lamination Cost</label>
                                                    @Html.EditorFor(model => model.LaminationCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>DIE Cost</label>
                                                    @Html.EditorFor(model => model.DieCost, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>DIE Cutting Cost</label>
                                                    @Html.EditorFor(model => model.DieCuttingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>UVCost</label>
                                                    @Html.EditorFor(model => model.UVCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Slitting Cost</label>
                                                    @Html.EditorFor(model => model.SlittingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Design Cost</label>
                                                    @Html.EditorFor(model => model.DesignCost, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Foil Printing Rate</label>
                                                    @Html.EditorFor(model => model.FoilPrintingCost, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>FInal Cost/PC</label>
                                                    @Html.EditorFor(model => model.FinalCostPerPc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <b>Total Costing</b>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>MarkUp Rate</label>
                                                    @Html.EditorFor(model => model.tbl_SalesOrder.MarkupRate, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Marked Up Price</label>
                                                    @Html.EditorFor(model => model.tbl_SalesOrder.MarkedupPrice, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                            </div>
                            <hr />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">

        $("#CardQuality").select2();
        $("#MachinePlate").select2();
        $("#AccountID").select2();

    </script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>

}