﻿@model POSOman.Models.tbl_AdditionalCostings

@{
    ViewBag.Title = "CreateEditAdditionalCostings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Offset Additional Costings</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-3">
                <input type="hidden" id="hdnID" />
                <input type="hidden" id="hdnOffsetTypeID" value="6" />
                @Html.LabelFor(model => model.GlossLaminationCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.GlossLaminationCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GlossLaminationCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.MatLaminationCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.MatLaminationCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatLaminationCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.HotLaminationCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.HotLaminationCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HotLaminationCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.UVCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.UVCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UVCost, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                @Html.LabelFor(model => model.SlittingCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.SlittingCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SlittingCost, "", new { @class = "text-danger" })
                </div>
            </div>

            <div hidden class="col-md-3">
                @Html.LabelFor(model => model.UVGlossVarnish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.UVGlossVarnish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UVGlossVarnish, "", new { @class = "text-danger" })
                </div>
            </div>

            <div hidden class="col-md-3">
                @Html.LabelFor(model => model.UVMattVarnish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.UVMattVarnish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UVMattVarnish, "", new { @class = "text-danger" })
                </div>
            </div>

            <div hidden class="col-md-3">
                @Html.LabelFor(model => model.AQGlossVarnish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.AQGlossVarnish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AQGlossVarnish, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div hidden class="row">

            <div class="col-md-3">
                @Html.LabelFor(model => model.AQMattVarnish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.AQMattVarnish, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AQMattVarnish, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-3">
                @Html.LabelFor(model => model.EmbosingCost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.EmbosingCost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmbosingCost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.tr2Cost, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.tr2Cost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tr2Cost, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OverheadExpense, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="form-group">
                    @Html.EditorFor(model => model.OverheadExpense, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OverheadExpense, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="saveBtn" type="button" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            FetchData();

            function FetchData() {
                try {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '/MachinePlate/GetAdditionalCostingDetails?OffsetTypeID=6',

                        async: true,
                        success: function (data) {
                            {
                                console.log(data);
                                $("#hdnID").val(data.ID);
                                $("#GlossLaminationCost").val(data.GlossLaminationCost);
                                $("#MatLaminationCost").val(data.MatLaminationCost);
                                $("#HotLaminationCost").val(data.HotLaminationCost);
                                $("#UVCost").val(data.UVCost);
                                $("#SlittingCost").val(data.SlittingCost);
                                $("#UVGlossVarnish").val(data.UVGlossVarnish);
                                $("#UVMattVarnish").val(data.UVMattVarnish);
                                $("#AQGlossVarnish").val(data.AQGlossVarnish);
                                $("#AQMattVarnish").val(data.AQMattVarnish);
                                $("#EmbosingCost").val(data.EmbosingCost);
                                $("#OverheadExpense").val(data.OverheadExpense);
                                $("#tr2Cost").val(data.tr2Cost);


                            }
                        },
                        error: function (err) { console.log(err); }
                    });
                }
                catch (err) {
                    console.log(err);
                }
            }
        });

        $("#saveBtn").click(function (e) {
            try {
                e.preventDefault();
                var ID = +$("#hdnID").val() || 0;
                var OffsetTypeID = +$("#hdnOffsetTypeID").val() || 0;
                var GCost = +$("#GlossLaminationCost").val() || 0;
                var MCost = +$("#MatLaminationCost").val() || 0;
                var HCost = +$("#HotLaminationCost").val() || 0;
                var UVCost = +$("#UVCost").val() || 0;
                var SCost = +$("#SlittingCost").val() || 0;
                var UVGCost = +$("#UVGlossVarnish").val() || 0;
                var UVMCost = +$("#UVMattVarnish").val() || 0;
                var AQGCost = +$("#AQGlossVarnish").val() || 0;
                var AQMCost = +$("#AQMattVarnish").val() || 0;
                var EmbCost = +$("#EmbosingCost").val() || 0;
                var OverheadExpense = +$("#OverheadExpense").val() || 0;
                var tr2Cost = +$("#tr2Cost").val() || 0;

                let Data = {
                    'ID': ID,
                    'GlossLaminationCost': GCost,
                    'MatLaminationCost': MCost,
                    'HotLaminationCost': HCost,
                    'UVCost': UVCost,
                    'SlittingCost': SCost,
                    'UVGlossVarnish': UVGCost,
                    'UVMattVarnish': UVMCost,
                    'AQGlossVarnish': AQGCost,
                    'AQMattVarnish': AQMCost,
                    'EmbosingCost': EmbCost,
                    'OverheadExpense': OverheadExpense,
                    'tr2Cost': tr2Cost,
                    'OffsetTypeID': OffsetTypeID
                }

                let json = JSON.stringify(Data);
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/MachinePlate/SaveAdditionalCostings',
                    data: json,
                    async: true,
                    success: function (data) {
                        {
                            if (data == 1) {
                                swal("Success", "Data Updated!", "success");

                                setTimeout(function () {
                                    window.location.href = "/MachinePlate/CreateEditOffsetAdditionalCostings";
                                }, 2000);
                            }
                            else {
                                swal("Some Error Occured", "Check Entries", "error")
                            }



                        }
                    },
                    error: function (err) { swal("Some Error Occured", err, "error") }
                });


            }
            catch (err) {
                console.log(err);
            }


        })

    </script>

}
