﻿@model POSOman.Models.tbl_MachinePlate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_MachinePlate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachinePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachinePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlateCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlateCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DieCuttingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DieCuttingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroundCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroundCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlossLaminationCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlossLaminationCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatLaminationCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatLaminationCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UVCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UVCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlittingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlittingCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
