﻿
@model POSOman.Models.tbl_Product

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <h3>Sticker Offset</h3>
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("CalculateStickerOffSet", "MachinePlate", FormMethod.Post, new { @target = "_blank", @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                            <div class="row">

                                @Html.HiddenFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = "@ViewBag.ItemID" } })

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Item</label>
                                        @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                        @Html.ValidationMessageFor(model => model.PartNo, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Department</label>
                                        @Html.DropDownListFor(model => model.DepartmentID, new SelectList(ViewBag.DepartmentID, "Value", "Name"), htmlAttributes: new { @class = "select2 form-control", id = "DepartmentID", required = "required", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Unit Code</label>
                                        @Html.DropDownListFor(model => model.UnitCodeID, new SelectList(ViewBag.UnitCode, "Value", "Name"), "Select UnitCode", htmlAttributes: new { @class = "select2 form-control", @required = "required" })
                                    </div>

                                </div>
                            </div>

                                <div class="row">

                                    <div class="form-body col-lg-6 col-md-6 col-sm-12" style="border-right:2px solid #ddd">
                                        <h4 class="form-section"><i class="ft-user"></i>Calculate OffSet</h4>
                                        <div class="row">

                                            <div class="col-md-3" hidden>
                                                <div class="form-group">
                                                    <label>Machine Type</label>
                                                    @Html.DropDownListFor(model => model.StickerMachineTypeID, new SelectList(ViewBag.MachineType, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Machine</label>
                                                    @Html.DropDownListFor(model => model.StickerMachineID, new SelectList(ViewBag.StickerMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", required = "required" })@*, onchange = "getCardQualityID(this.value)" })*@

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Qty</label>
                                                    @Html.EditorFor(model => model.QtyPerUnit, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Length Size</label>
                                                    @Html.EditorFor(model => model.LSize, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Width Size</label>
                                                    @Html.EditorFor(model => model.WSize, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Length</label>
                                                    @Html.EditorFor(model => model.Length, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Width</label>
                                                    @Html.EditorFor(model => model.Width, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Around</label>
                                                    @Html.EditorFor(model => model.AroundUps, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Repeat Length</label>
                                                    @Html.EditorFor(model => model.RepeatLength, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cylinder</label>
                                                    @Html.DropDownListFor(model => model.StickerCylinderID, new SelectList(ViewBag.StickerCylinder, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Cylinder Teeth</label>
                                                    @Html.Editor("CylinderTeeth", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Across</label>
                                                    @Html.EditorFor(model => model.Across, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Reel Size</label>
                                                    @Html.EditorFor(model => model.ReelSize, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>No. Of Ups</label>
                                                    @Html.EditorFor(model => model.Upping, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Running Mtr</label>
                                                    <input type="hidden" id="hdnCardTypeID" />
                                                    @Html.EditorFor(model => model.RunningMeter, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>M2 Req.</label>
                                                    @Html.EditorFor(model => model.RequiredM2, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Quality</label>
                                                    @Html.DropDownListFor(model => model.StickerQualityID, new SelectList(ViewBag.StickerQuality, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>KG Req.</label>
                                                    <input type="hidden" id="hdnGSM" />
                                                    @Html.EditorFor(model => model.KGRequired, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Material Cost M2</label>
                                                    @Html.EditorFor(model => model.MaterialCostPerMeter, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="hidden" id="hdnTextColorRate" />
                                                    <input type="hidden" id="hdnGroundColorRate" />
                                                    <label>Text Color</label>
                                                    @Html.EditorFor(model => model.TextColor, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Ground Color</label>
                                                    @Html.EditorFor(model => model.GroundColor, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Printing Cost M2</label>
                                                    @Html.EditorFor(model => model.PrintingCost, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Block Type</label>
                                                    <span onclick="resetBlockTypeCost()" style="color:red">del</span>
                                                    @Html.DropDownListFor(model => model.BlockTypeID, new SelectList(ViewBag.BlockType, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Block Rates</label>
                                                    @Html.EditorFor(model => model.BlockCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Printing Block Cost</label>
                                                    @Html.EditorFor(model => model.StickerPrintingBlockCost, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Die Cutting</label>
                                                    <span onclick="resetDieCuttingCost()" style="color:red">del</span>
                                                    @Html.DropDownListFor(model => model.StickerDieCutiingID, new SelectList(ViewBag.DieCutting, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Die Cutting Cost</label>
                                                    @Html.EditorFor(model => model.DieCuttingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Die Block</label>
                                                    @Html.EditorFor(model => model.DieBlock, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                </div>
                                            </div>

                                        </div>

                                        <hr />

                                    </div>

                                    <div class="form-body col-lg-6 col-md-6 col-sm-12">
                                        <h4 class="form-section"><i class="ft-user"></i></h4>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Thermal Printing</label>
                                                    @Html.DropDownListFor(model => model.StickerRibbonID_T, new SelectList(ViewBag.StickerRibbonThermal, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", onchange = "getRibbonDetails(this.value)" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Foil Printing</label>
                                                    @Html.DropDownListFor(model => model.StickerRibbonID_F, new SelectList(ViewBag.StickerRibbonFoil, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", onchange = "getRibbonDetails(this.value)" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Satin Offset</label>
                                                    @Html.DropDownListFor(model => model.StickerRibbonID_S, new SelectList(ViewBag.StickerRibbonSatin, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", onchange = "getRibbonDetails(this.value)" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>RFID</label>
                                                    @Html.DropDownListFor(model => model.StickerRibbonID_RFID, new SelectList(ViewBag.StickerRibbonRFID, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control", onchange = "getRibbonDetails(this.value)" })@*, onchange = "getCardQualityID(this.value)" })*@
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Thermal Cost</label>
                                                    <span onclick="resetTCost()" style="color:red">del</span>
                                                    @Html.EditorFor(model => model.StickerRibbonTCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Foil Cost</label>
                                                    <span onclick="resetFCost()" style="color:red">del</span>
                                                    @Html.EditorFor(model => model.StickerRibbonFCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Satin Cost</label>
                                                    <span onclick="resetSCost()" style="color:red">del</span>
                                                    @Html.EditorFor(model => model.StickerRibbonSCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>RFID Cost</label>
                                                    <span onclick="resetRFIDCost()" style="color:red">del</span>
                                                    @Html.EditorFor(model => model.StickerRibbonRFIDCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                </div>
                                            </div>


                                        </div>


                                        <hr />
                                        <div class="form-body">
                                            <h4 class="form-section"><i class="ft-user"></i>Additional Selection</h4>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.HiddenFor(model => model.OffsetTypeID)
                                                        @Html.HiddenFor(model => model.LaminationTypeID)
                                                        <label>Gloss Lamination Cost</label>
                                                        <input type="radio" name="rad" id="GlossLaminationCost">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Hot Lamination Cost</label>
                                                        <input type="radio" name="rad" id="HotLaminationCost">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Mat Lamination Cost</label>
                                                        <input type="radio" name="rad" id="MatLaminationCost">
                                                    </div>
                                                </div>
                                            </div>
                                            <br />

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Lamination Cost</label>
                                                        @Html.EditorFor(model => model.LaminationCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>UV Matt Varnish</label>
                                                        <input type="checkbox" id="includeUVMattCost" />
                                                        @Html.EditorFor(model => model.UVMattVarnish, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>UV Gloss Varnish</label>
                                                        <input type="checkbox" id="includeUVGlossCost" />
                                                        @Html.EditorFor(model => model.UVGlossVarnish, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>AQ Matt Varnish</label>
                                                        <input type="checkbox" id="includeAQMattCost" />
                                                        @Html.EditorFor(model => model.AQMattVarnish, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>AQ Gloss Varnish</label>
                                                        <input type="checkbox" id="includeAQGlossCost" />
                                                        @Html.EditorFor(model => model.AQGlossVarnish, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Slitting Cost</label>
                                                        <input type="checkbox" id="includeSlittingCost" />
                                                        @Html.EditorFor(model => model.SlittingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Embosing Block</label>
                                                        @Html.EditorFor(model => model.EmbosingBlock, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = "0" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Foil Block</label>
                                                        @Html.EditorFor(model => model.FoilPrintingCost, new { htmlAttributes = new { @class = "form-control", required = "required", @Value = "0" } })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Embosing</label>
                                                        <input type="checkbox" id="includeEmbosingCost" />
                                                        @Html.EditorFor(model => model.EmbosingCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">

                                                        <label>tr2 Plate Cost</label>
                                                        <input type="checkbox" id="includeTr2PlateCost" />
                                                        @Html.EditorFor(model => model.tr2PlateCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>R. Mtr. Wastage</label>

                                                        @Html.EditorFor(model => model.Wastage, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>T. M2 Req. Inc. Wastage</label>
                                                        @Html.EditorFor(model => model.TotalM2ReqIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required"} })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>T. Qty Inc. Wastage</label>
                                                        @Html.EditorFor(model => model.TotalQtyIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Run. Mtr. Inc. Wastage</label>
                                                        @Html.EditorFor(model => model.RunningMeterIncludingWastage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", required = "required" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Labor Cost</label>
                                                        @Html.EditorFor(model => model.LaborCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>Total Material Cost</label>

                                                        @Html.EditorFor(model => model.TotalMaterialCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label>OverHead Expense</label>
                                                        <input type="checkbox" id="includeExpenseCost" />
                                                        @Html.EditorFor(model => model.GeneralExpense, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <b>Total Costing</b>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Total M2 Cost</label>
                                                        @Html.EditorFor(model => model.TotalM2Cost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Sum Block Cost</label>
                                                        @Html.EditorFor(model => model.SumOfBlockCost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    </div>
                                                </div>

                                                <div hidden class="col-md-3">
                                                    <div class="form-group">
                                                        <label>MarkUp Rate</label>
                                                        @Html.EditorFor(model => model.MarkupRate, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Unit Price</label>
                                                        @Html.EditorFor(model => model.MarkedupPrice, new { htmlAttributes = new { @class = "form-control", id = "MarkedUpPrice", @readonly = "readonly" } })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                <hr />

                                <div class="form-actions">
                                    <button type="submit" id="btnSave" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">

        $("#CardQuality").select2();
        $("#StickerMachineID").select2();
        $("#UnitCodeID").select2();
        $("#DepartmentID").select2();
        $("#MachinePlate").select2();
        $("#AccountID").select2();
        $("#SalePersonAccountID").select2();
        $("#StickerQualityID").select2();
        $("#BlockTypeID").select2();
        $("#StickerDieCutiingID").select2();
        $("#StickerCylinderID").select2();
        $("#StickerRibbonID_T").select2();
        $("#StickerRibbonID_F").select2();
        $("#StickerRibbonID_S").select2();
        $("#StickerRibbonID_RFID").select2();

    </script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/OffsetItems/EditStickerOffset.js"></script>
    <script src="~/Scripts/OffsetItems/EditStickerOrder.js"></script>
}