﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder>

@{
    ViewBag.Title = "Orders";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Orders</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tbl" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                           
                                            <th>Order ID</th>
                                            <th>Item No.</th>
                                            <th> Customer </th>
                                            <th>  Date </th>
                                           
                                            <th> Total Amount </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderID)
                                            </td>
                                            <td>
                                               @("Q-"+item.SOID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalesDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MarkedupPrice)
                                            </td>

                                            <td>
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.VendorID }) |*@
                                                @if (item.OffsetTypeID == 1)
                                                {
                                                    @Html.ActionLink("Details", "OffsetDetails", new { id = item.OrderID })

                                                }
                                                else if (item.OffsetTypeID == 2)
                                                {
                                                    @Html.ActionLink("Details", "ClothOffsetDetails", new { id = item.OrderID })

                                                }
                                                @*@Html.ActionLink("Delete", "Delete", new { id = item.AccountID })*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tbl').DataTable({
            dom: 'Bfrtip',
            "order": [[0, "desc"]],
            buttons: [
                {
                    extend: 'print',
                    title: '',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Offset Orders List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3,4]
                    }
                }
            ]
        });
    </script>
}
