﻿@model IEnumerable<POSOman.Models.tbl_DeliveryOrder>

@{
    ViewBag.Title = "Index";
}
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">                                  
                   
                    <div class="col-md-2 mb-3">
                        <label>DO NO.</label>
                        <div class="input-group">
                            <input class="form-control" id="DOID" placeholder="DO No." />
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Branch</label>
                        <div class="input-group">                            
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                        </div>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-12">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label>Date</label>
                                @Html.EditorFor(model => @Model.First().SalesDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })                                
                            </div>
                            <div class="col-md-2">
                                <label>Customer</label>
                                @Html.EditorFor(model => @Model.First().AccountName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) 
                            </div>
                            <div class="col-md-2">
                                <label>Veh No.</label>
                                @Html.EditorFor(model => @Model.First().BranchName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) 
                            </div>
                            <div class="col-md-2">
                                <label>DONo.</label>
                                @Html.EditorFor(model => @Model.First().DOID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } }) 
                            </div>
                            @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                <label>Total</label>
                                <br>
                                <input type="text" class="form-control" placeholder="Total" id="subAmount" disabled />
                            </div>*@
                        </div>
                    </div>
                </div>             
                <div id="SearchResult">
                    @if (Model != null)
            {
                        <table id="tblDO" class="table table-striped table-bordered dom-jQuery-events">
                            <thead>
                                <tr>     
                                    <th>
                                        @Html.DisplayNameFor(model => model.VehicleCode)
                                    </th>                              
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.Qty)
                                    </th>                                  
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalePrice)
                                    </th>  
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>  
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                {
                                    <tr>
                                        @*<td>
                                                @Html.DisplayFor(modelItem => item.tbl_Product.ProductID)
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qty)
                                        </td>                                       
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalePrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>                                        
                                    </tr>
                                }
                            </tbody>

                        </table>
                    }
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

    $("#btnSearch").on("click", function () {
        uiBlock();
        var DONO = $('#DOID').val();
        var branchID = $('#Branch').val();        
        
 $.ajax({
            url: "@Url.Action("GetDO", "CancelOrders")",
            data: {
                btn: true,
                BranchID : branchID,
                DOID: DONO
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblDO').dataTable();
                }
        });
        //}

    });
    </script>
    <script type="text/javascript">

    $('#Branch').select2();

    </script>   
    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
