﻿@model IEnumerable<POSOman.Models.tbl_DeliveryOrder>
@{
    ViewBag.Title = "Index";
}
<section id="vertical-tabs">
    <div class="row">
        <div class="col-12"><h2>Cancel Delivery Order</h2> <br />  
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("Cancel", "DeliveryOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "vertical-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()                            
                            <div class="form-row">
                                <div class="col-md-2 mb-3">
                                    <label>DO NO.</label>
                                    <div class="input-group">
                                        <input class="form-control" id="DOID" placeholder="DO No." />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Branch</label>
                                    <div class="input-group">
                                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Customer</label>
                                    <div class="input-group">
                                        <input class="form-control" id="customer" placeholder="Customer" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label> Date</label>
                                    <div class="input-group">
                                        <input class="form-control" id="date" placeholder="Date" disabled />
                                    </div>
                                </div>  
                                <div class="col-md-2 mb-3">
                                    <label></label>
                                    <div class="input-group">
                                        <button type="button"  class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                    </div>
                                </div>
                            </div>                          
                                    <div class="table">
                                        <table id="tblReturn" class="table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Branch</th>
                                                    <th>DONo.</th>                                                   
                                                    <th>Part No.</th>
                                                    <th>Description</th>
                                                    <th>Qty</th>
                                                    <th>Sale Price</th>
                                                    <th>Total</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody></tbody>                                           
                                        </table>
                                    </div>  
                                    <div class="row">
                                        <div class="col-md-2 mb-3">
                                            <label></label>
                                            <div class="input-group">
                                                <button type="button" class="btn btn-danger" id="btnSubmit">DELETE DO</button>
                                            </div>
                                        </div>
                                    </div>                              
                                
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblSales').DataTable();
        });

    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/deliveryOrder/CancelDO.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
