﻿@model IEnumerable<POSOman.Models.DTO.Sales>
@{
    ViewBag.Title = "Index";
}
<section id="vertical-tabs">
    <div class="row">
        <div class="col-12"><h2>Cancel Sales Order</h2> <br />  
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("Cancel", "DeliveryOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "vertical-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()                            
                            <div class="form-row">
                                <div class="col-md-2 mb-3">
                                    <label>Invoice NO.</label>
                                    <div class="input-group">
                                        <input class="form-control" id="SOID" placeholder="Invoice No." />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Branch</label>
                                    <div class="input-group">
                                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label>Customer</label>
                                    <div class="input-group">
                                        <input class="form-control" id="customer" placeholder="Customer" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label> Date</label>
                                    <div class="input-group">
                                        <input class="form-control" id="date" placeholder="Date" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label></label>
                                    <div class="input-group">
                                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                    </div>
                                </div>
                            </div>
                             <h4 class="form-section"><i class="icon-eye6"></i>Sale Details</h4>
                            <div class="table">
                                <table id="tblSO" class="table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Branch</th>
                                            <th>InvoiceNo.</th>
                                            <th>Part No.</th>
                                            <th>Description</th>
                                            <th>Qty</th>
                                            <th>Sale Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <h4 class="form-section"><i class="icon-eye6"></i>Customer Statement</h4>
                            <div class="table">
                                <table id="tblJdetail" class="table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Branch</th>
                                            <th>Customer</th>
                                            <th>Date</th>
                                            <th>Detail</th>
                                            <th>Debit</th>
                                            <th>Credit</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <h4 class="form-section"><i class="icon-eye6"></i>Cheque Details</h4>
                            <div class="table">
                                <table id="tblChq" class="table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Branch</th>
                                            <th>Description</th>
                                            <th>BankName</th>
                                            <th>ChequeNo.</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                                    <div class="row">
                                        <div class="col-md-2 mb-3">
                                            <label></label>
                                            <div class="input-group">
                                                <button type="button" class="btn btn-danger" id="btnSubmit">DELETE Sales Order</button>                                                
                                            </div>                                            
                                        </div>                                        
                                    </div>
                                    

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblSales').DataTable();
        });

    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/CancelSO.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
