﻿
<h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
<hr />

<div hidden class="row">
    <form id="ProductForm" name="ProductForm">
        <div class="col-sm-2">
            <label>Category</label>
            <br />
            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
        </div>
        <div class="col-sm-2">
            <label>Product</label>
            <br />
            @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
        </div>
        <div class="col-sm-2" hidden>
            <label>Description</label>
            <br />
            <input type="text" class="form-control" placeholder="Description" id="Description" autofocus />
        </div>
        <div class="col-sm-2">
            <label>Product Size</label>
            <br />
            <input type="text" class="form-control" placeholder="prodSize" id="prodSize" disabled />
        </div>
        <div class="col-sm-2">
            <label>Unit Code</label>
            <br />
            @Html.Partial("~/Views/PartialViews/_UnitCode.cshtml")
        </div>
        <div class="col-sm-1">
            <label>Qty</label>
            <br />
            <input type="number" min="0" oninput="validate(this)" class="form-control Calc" placeholder="Qty" id="Qty" />
        </div>
        <div class="col-sm-1">
            <label>Stock</label>
            <br />
            <input type="text"  class="form-control Calc" placeholder="Stock" id="productStock" />
        </div>

        <div class="col-sm-2">
            <label>Sale Price</label>
            <br />
            <input type="number" min="0" class="form-control Calc" placeholder="UnPrice" id="UnitPrice" value="1" />
        </div>
        <div class="col-sm-2" hidden>
            <label>Total</label>
            <br />
            <input type="number" class="form-control" placeholder="" id="Total" disabled />
        </div>
        <div class="col-sm-1">
            <label>Action</label>
            <input type="button" class="btn btn-round" value="Add" id="addRow">
        </div>
    </form>
</div>


<div>
    <table id="tblProduct" class="table table-striped table-bordered dynamic-height" style="margin-top:1%;">
        <thead>
            <tr>
                <th hidden>Select</th>
                <th hidden>CategoryID</th>
                <th>Category</th>
                <th hidden>ProductID</th>
                <th>Challan</th>
                <th>Product</th>
                <th>Unit Code</th>
                <th>Qty</th>
                <th >Sale Price</th>
                <th >Total</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

