﻿
@model IEnumerable<POSOman.Models.GetDeletedSalesFilterWise_Result>
@using POSOman.Models.BLL;

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {

            var HasAccess = User.IsInRole("SuperAdmin") ? 1 : User.IsInRole("Admin") ? 1 : User.IsInRole("Account") ? 1 : 0;
            <input type="hidden" value="@HasAccess" id="hdnHasAccess" />

            decimal tot = 0;
            decimal valExTax = 0;
            decimal TotPaid = 0;
            decimal TotBalAmount = 0;
            decimal TotQty = 0;
            decimal TotDiscount = 0;

            <div style="overflow: auto;" class="card-body card-dashboard">

                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Account"))
                        {
                            <tr>
                                <th> Challans (DC) </th>
                                <th> Invoice No.</th>
                                <th> Customer PO</th>
                                <th> Invoice Type</th>
                                <th> Customer </th>
                                <th>Status</th>
                                <th> NTN </th>
                                <th> Sale Person </th>
                                <th> SaleDate </th>
                                <th> Qty Sum </th>
                                <th> Value Exc. ST </th>
                                <th> ST% </th>
                                <th> Discount </th>
                                <th> Total Amount </th>
                                <th> Paid Amount </th>
                                <th> Bal Amount </th>
                                <th> Payment Status </th>
                                <th>Aging/ # of Days</th>

                                <th> Actions </th>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <th> Challans (DC) </th>
                                <th> Invoice No.</th>
                                <th> Customer PO</th>
                                <th> Invoice Type</th>
                                <th> Customer </th>
                                <th> NTN </th>
                                <th> Sale Person </th>
                                <th> @Html.DisplayNameFor(model => model.SalesDate) </th>
                                <th> Qty Sum </th>
                                <th> Value Exc. ST </th>
                                <th> ST% </th>
                                <th> Discount </th>
                                <th> Total Amount </th>
                                <th> Paid Amount </th>
                                <th> Bal Amount </th>
                                <th> Payment Status </th>
                                <th>Aging/ # of Days</th>

                                <th> Actions </th>
                            </tr>
                        }

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Account"))
                            {
                                <tr>
                                    <td> @item.ChallanIDs.ToString() </td>
                                    <td> @Html.DisplayFor(modelItem => item.InvoiceNo) </td>
                                    <td> @Html.DisplayFor(modelItem => item.PONo) </td>
                                    <td> @Html.DisplayFor(modelItem => item.InoviceType) </td>
                                    <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                    <td>

                                        @{
                                            if (item.IsInvoiceReceived == true)
                                            {
                                                <span style="color:green;">Received</span>
                                                <span class="badge badge-primary" style="cursor: pointer;" onclick="ChangeInvoiceStatus(@item.OrderID,0)"> Change </span>
                                            }
                                            else
                                            {
                                                <span style="color:red;">Not Received</span> <span style="cursor: pointer;" class="badge badge-primary" onclick="ChangeInvoiceStatus(@item.OrderID,1)"> Change </span>
                                            }
                                        }
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.CustomerNTN) </td>

                                    <td> @Html.DisplayFor(modelItem => item.SalePerson) </td>
                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                    <td> @Html.DisplayFor(modelItem => item.QtySum) @{ TotQty += item.QtySum ?? 0;} </td>
                                    <td>
                                        @{
                                            decimal valExcTax = Convert.ToDecimal(item.TotalAmount) - Convert.ToDecimal(item.VAT);
                                            valExTax += valExcTax;
                                            <span>  @(Helper.DigitsWithComma(valExcTax)) </span>
                                        }
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.CustomerGSTPercent) </td>
                                    <td>
                                        @{
                                            decimal dsc = item.DiscountAmount;
                                            TotDiscount += dsc;
                                            <span>  @(Helper.DigitsWithComma(dsc)) </span>
                                        }
                                    </td>
                                    @*<td>
                                        @{
                                            decimal vat = item.VAT;
                                            <span> @vat.ToString("#,##0.00") </span>
                                        }
                                    </td>*@
                                    <td>
                                        @{
                                            decimal totalamount = item.TotalAmount ?? 0;
                                            tot += totalamount;
                                            <span>  @(Helper.DigitsWithComma(totalamount)) </span>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal paidAm = item.TotalPaid ?? 0;
                                            TotPaid += paidAm;
                                            <span> @(Helper.DigitsWithComma(paidAm)) </span>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal BalAm = (item.TotalAmount ?? 0) - (item.TotalPaid ?? 0) - item.DiscountAmount + item.Adjustment ?? 0;
                                            TotBalAmount += BalAm;
                                            <span>  @(Helper.DigitsWithComma(BalAm)) </span>
                                        }
                                    </td>
                                    <td>
                                        @(item.PaymentStatus.ToString())
                                    </td>
                                    <td>
                                        @(item.NoOfDays.ToString())
                                    </td>
                                    <td>
                                        <!--testing 1-->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                                <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                            </button>
                                            <div class="dropdown-menu">
                                                @*@if (item.Can_Modify == null || item.Can_Modify == true)
                                                {
                                                    @Html.ActionLink("Details", "Export", new { id = item.OrderID, InvoiceType = item.InoviceTypeID, ReportType = "PDF" }, new { @class = "dropdown-item" })

                                                    if (item.PaymentStatus != "Paid")
                                                    {
                                                        @Html.ActionLink("Edit", "EditSaleInvoice", new { id = item.OrderID, InvoiceNo = item.InvoiceNo.ToString() }, new { @class = "dropdown-item" });

                                                    }


                                                    @Html.ActionLink("Delete", "SaleInvoiceDelete", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                                }
                                                else
                                                {*@

                                                @Html.ActionLink("Details", "Export", new { id = item.OrderID, InvoiceType = item.InoviceTypeID, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                                @*}*@

                                            </div>
                                            @*<a class="dropdown-item" href="#">Separated link</a>*@

                                        </div>



                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td> @item.ChallanIDs.ToString() </td>
                                    <td> @Html.DisplayFor(modelItem => item.InvoiceNo) </td>
                                    <td> @Html.DisplayFor(modelItem => item.PONo) </td>
                                    <td> @Html.DisplayFor(modelItem => item.InoviceType) </td>
                                    <td> @Html.DisplayFor(modelItem => item.AccountName) </td>

                                    <td> @Html.DisplayFor(modelItem => item.CustomerNTN) </td>

                                    <td> @Html.DisplayFor(modelItem => item.SalePerson) </td>
                                    <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                    <td> @Html.DisplayFor(modelItem => item.QtySum) @{ TotQty += item.QtySum ?? 0;} </td>
                                    <td>
                                        @{
                                            decimal valExcTax = Convert.ToDecimal(item.TotalAmount) - Convert.ToDecimal(item.VAT);
                                            valExTax += valExcTax;
                                            <span>  @(Helper.DigitsWithComma(valExcTax)) </span>
                                        }
                                    </td>
                                    <td> @Html.DisplayFor(modelItem => item.CustomerGSTPercent) </td>
                                    <td>
                                        @{
                                            decimal dsc = item.DiscountAmount;
                                            TotDiscount += dsc;
                                            <span>  @(Helper.DigitsWithComma(dsc)) </span>
                                        }
                                    </td>
                                    @*<td>
                                        @{
                                            decimal vat = item.VAT;
                                            <span> @vat.ToString("#,##0.00") </span>
                                        }
                                    </td>*@
                                    <td>
                                        @{
                                            decimal totalamount = item.TotalAmount ?? 0;
                                            tot += totalamount;
                                            <span>  @(Helper.DigitsWithComma(totalamount)) </span>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal paidAm = item.TotalPaid ?? 0;
                                            TotPaid += paidAm;
                                            <span> @(Helper.DigitsWithComma(paidAm)) </span>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            decimal BalAm = (item.TotalAmount ?? 0) - (item.TotalPaid ?? 0);
                                            TotBalAmount += BalAm;
                                            <span>  @(Helper.DigitsWithComma(BalAm))</span>
                                        }
                                    </td>
                                    <td>
                                        @(item.PaymentStatus.ToString())
                                    </td>
                                    <td>
                                        @(item.NoOfDays.ToString())
                                    </td>
                                    <td>
                                        <!--testing 1-->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                                <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                            </button>
                                            <div class="dropdown-menu">
                                                @*@if (item.Can_Modify == null || item.Can_Modify == true)
                                                {
                                                    @Html.ActionLink("Details", "Export", new { id = item.OrderID, InvoiceType = item.InoviceTypeID, ReportType = "PDF" }, new { @class = "dropdown-item" })

                                                    if (item.PaymentStatus != "Paid")
                                                    {
                                                        @Html.ActionLink("Edit", "EditSaleInvoice", new { id = item.OrderID, InvoiceNo = item.InvoiceNo.ToString() }, new { @class = "dropdown-item" });

                                                    }

                                                    @Html.ActionLink("Delete", "SaleInvoiceDelete", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                                }
                                                else
                                                {*@

                                                @Html.ActionLink("Details", "Export", new { id = item.OrderID, InvoiceType = item.InoviceTypeID, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                                @*}*@

                                            </div>
                                            @*<a class="dropdown-item" href="#">Separated link</a>*@

                                        </div>

                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>


            </div>
            <input type="hidden" id="hdntotalSales" name="hdntotalSales" value=" @(Helper.DigitsWithComma(tot))">

            <div class="col-md-2 mb-2">
                <br />
                <label>Total Qty</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalQty" value=" @(Helper.DigitsWithComma(TotQty))">
                </div>
            </div>

            <div class="col-md-2 mb-2">
                <br />
                <label>Total Amount Exc. ST. :</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalWOTax" value=" @(Helper.DigitsWithComma(valExTax))">
                </div>
            </div>

            <div class="col-md-2 mb-2">
                <br />
                <label>Total Discount :</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalDiscount" value=" @(Helper.DigitsWithComma(TotDiscount))">
                </div>
            </div>

            @*<div class="col-md-2 mb-2">
                <br />
                <label>Total Amount :</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalAmount">
                </div>
            </div>*@

            <div class="col-md-2 mb-2">
                <br />
                <label>Total Amount Paid :</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalAmountPaid" value=" @(Helper.DigitsWithComma(TotPaid))">
                </div>
            </div>

            <div class="col-md-2 mb-2">
                <br />
                <label>Total Balance :</label>
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" id="totalBalance" value=" @(Helper.DigitsWithComma(TotBalAmount))">
                </div>
            </div>


        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
