﻿@model IEnumerable<POSOman.Models.GetDeletedSalesFilterWise_Result>

@{
    ViewBag.Title = "Deleted Invoices";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>DELETED SALES </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Customer</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Sale Person</label>

                    <div class="input-group">
                        @Html.DropDownList("SPAccountID", new SelectList(ViewBag.SalePerson, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Invoice Status</label>
                    <div class="input-group">

                        @Html.DropDownList("InvoiceStatusID", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Status", Value = null },
                          new SelectListItem{ Text="Received", Value = "1"},
                          new SelectListItem{ Text="Not Received", Value = "0" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Payment Status</label>
                    <div class="input-group">

                        @Html.DropDownList("PaymentStatusDD", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Status", Value = null },
                          new SelectListItem{ Text="UnPaid", Value = "UnPaid"},
                          new SelectListItem{ Text="Paid", Value = "Paid" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Invoice Type</label>
                    <div class="input-group">

                        @Html.DropDownList("InvoiceTypeID", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Type", Value = null },
                          new SelectListItem{ Text="Jamaly", Value = "1"},
                          new SelectListItem{ Text="Jemely", Value = "2" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <label>from Day</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="startDay">
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <label>to Day</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="endDay">
                    </div>
                </div>
                <div hidden class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <label>Total :</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="readonly" id="totalSales">
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>

        $('#InvoiceStatusID').select2();
        $('#PaymentStatusDD').select2();

        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var SPAccountID = $('#SPAccountID').val();
            var customer_Name = $('#AccountID option:selected').text() == "Select" ? "-" : $('#AccountID option:selected').text() ||null;
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Sales List </h4>';


            if (branchID != "")
            { html += "<h4> Branch : " + Branch + " </h4>"; }
            var vendorName = $("#AccountID option:selected").text();

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("DeletedInvoices", "Sales1")",
                data: {
                    btn: true,
                    BranchID: branchID,
                    accountID: accountID,
                    InvoiceStatusID: $('#InvoiceStatusID').val(),
                    PaymentStatusDD: $('#PaymentStatusDD option:selected').text() == "Select Status" ? undefined : $('#PaymentStatusDD option:selected').text() || null,
                    InvoiceTypeID: $('#InvoiceTypeID').val()||null,
                    SPAccID: SPAccountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    startDay: $('#startDay').val(),
                    endDay: $('#endDay').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    //console.log("customer->" + customer_Name);
                    var hasAccess = +$("#hdnHasAccess").val() || 0;
                    if (hasAccess) {
                        if (customer_Name != null && customer_Name != "Select") {
                           var t = $('#tblSO').dataTable({

                                footerCallback: function (row, data, start, end, display) {
                                    var api = this.api(), data;
                                    var intVal = function (i) {
                                        return typeof i === 'string' ?
                                            i.replace(/[\$,]/g, '') * 1 :
                                            typeof i === 'number' ?
                                                i : 0;
                                    };

                                    // Total over all pages
                                    total = api
                                        .column(7)
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);

                                    // Total over this page
                                    pageTotal = api
                                        .column(7, { page: 'current' })
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);
                                   //console.log($('#hdntotalSales').val());
                                    $('#totalSales').val($('#hdntotalSales').val());
                                    //$('#hdntotalSales').val(parseFloat(total).toFixed(2));

                                },
                                //aoColumnDefs: [
                                //    { "aTargets": [17], "bSortable": true },
                                //    { "aTargets": [16], "bSortable": true },
                                //    { "aTargets": [15], "bSortable": true },
                                //    { "aTargets": [14], "bSortable": true },
                                //    { "aTargets": [13], "bSortable": true },
                                //    { "aTargets": [12], "bSortable": true },
                                //    { "aTargets": [11], "bSortable": true },
                                //    { "aTargets": [10], "bSortable": true },
                                //    { "aTargets": [9], "bSortable": true },
                                //    { "aTargets": [8], "bSortable": true },
                                //    { "aTargets": [7], "bSortable": true },
                                //    { "aTargets": [5], "bSortable": true },
                                //    { "aTargets": [2], "bSortable": true },
                                //    { "aTargets": [0], "bSortable": true },
                                //    { "aTargets": [3], "bSortable": true },
                                //    { "aTargets": [4], "bSortable": true },
                                //    { "aTargets": [1], "bSortable": true },
                                //    { "aTargets": [6], "bSortable": true, "sType": "datetime-moment" },
                                //],
                                dom: 'Bfrtip',
                                order: [[1, 'desc']],
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            html += "<h4>Customer: " + customer_Name + "</h4><br/>"
                                            html += "<h4>Total Sales: " + total + "</h4>";
                                            html += "<h4>Total Qty: " + totalQty + "</h4>";
                                            html += "<h4>Total Without Tax: " + totalExTax + "</h4>";
                                            html += "<h4>Total Paid: " + totalPaid + "</h4>";
                                            html += "<h4>Total Discount: " + totalDisc + "</h4>";
                                            html += "<h4>Total Balance: " + totalBal + "</h4>";
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        //exportOptions: {

                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16,17]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            return "Sales Report      Customer" + customer_Name + "  Total Sales: " + total +
                                                "   Total Qty: " + totalQty + "   Total Exc.ST.: " + totalExTax + "   Total Paid: "
                                                + totalPaid + "   Total Discount: " + totalDisc + "   Total Balance: " + totalBal

                                                ;
                                        },
                                        messageBottom: null,
                                        //exportOptions: {
                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16,17]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    'colvis'
                               ],
                               columnDefs: [{
                                   targets: -1,
                                   visible: true
                               }]
                            });

                            //dynamicColumns(t);
                        }
                        else {
                           t =  $('#tblSO').dataTable({

                                footerCallback: function (row, data, start, end, display) {
                                    var api = this.api(), data;
                                    var intVal = function (i) {
                                        return typeof i === 'string' ?
                                            i.replace(/[\$,]/g, '') * 1 :
                                            typeof i === 'number' ?
                                                i : 0;
                                    };

                                    // Total over all pages
                                    total = api
                                        .column(7)
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);

                                    // Total over this page
                                    pageTotal = api
                                        .column(7, { page: 'current' })
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);
                                   //console.log($('#hdntotalSales').val());
                                    $('#totalSales').val($('#hdntotalSales').val());
                                    //$('#hdntotalSales').val(parseFloat(total).toFixed(2));

                                },
                                //aoColumnDefs: [
                                //    { "aTargets": [17], "bSortable": true },
                                //    { "aTargets": [16], "bSortable": true },
                                //    { "aTargets": [15], "bSortable": true },
                                //    { "aTargets": [14], "bSortable": true },
                                //    { "aTargets": [13], "bSortable": true },
                                //    { "aTargets": [12], "bSortable": true },
                                //    { "aTargets": [11], "bSortable": true },
                                //    { "aTargets": [10], "bSortable": true },
                                //    { "aTargets": [9], "bSortable": true },
                                //    { "aTargets": [8], "bSortable": true },
                                //    { "aTargets": [7], "bSortable": true },
                                //    { "aTargets": [5], "bSortable": true },
                                //    { "aTargets": [2], "bSortable": true },
                                //    { "aTargets": [0], "bSortable": true },
                                //    { "aTargets": [3], "bSortable": true },
                                //    { "aTargets": [4], "bSortable": true },
                                //    { "aTargets": [1], "bSortable": true },
                                //    { "aTargets": [6], "bSortable": true, "sType": "datetime-moment" },
                                //],
                                dom: 'Bfrtip',
                                order: [[1, 'desc']],
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            html += "<h4>Customer: " + customer_Name + "</h4><br/>"
                                            html += "<h4>Total Sales: " + total + "</h4>";
                                            html += "<h4>Total Qty: " + totalQty + "</h4>";
                                            html += "<h4>Total Without Tax: " + totalExTax + "</h4>";
                                            html += "<h4>Total Paid: " + totalPaid + "</h4>";
                                            html += "<h4>Total Discount: " + totalDisc + "</h4>";
                                            html += "<h4>Total Balance: " + totalBal + "</h4>";
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        //exportOptions: {

                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16,17]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            return "Sales Report      Customer" + customer_Name + "  Total Sales: " + total +
                                                "   Total Qty: " + totalQty + "   Total Exc.ST.: " + totalExTax + "   Total Paid: "
                                                + totalPaid + "   Total Discount: " + totalDisc + "   Total Balance: " + totalBal

                                                ;
                                        },
                                        messageBottom: null,
                                        //exportOptions: {
                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16,17]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    'colvis'
                               ],
                               columnDefs: [{
                                   targets: -1,
                                   visible: false
                               }]

                            });

                            //dynamicColumns(t);
                        }
                    }
                    else {
                        if (customer_Name != null && customer_Name != "Select") {
                          var t = $('#tblSO').dataTable({

                                footerCallback: function (row, data, start, end, display) {
                                    var api = this.api(), data;
                                    var intVal = function (i) {
                                        return typeof i === 'string' ?
                                            i.replace(/[\$,]/g, '') * 1 :
                                            typeof i === 'number' ?
                                                i : 0;
                                    };

                                    // Total over all pages
                                    total = api
                                        .column(7)
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);

                                    // Total over this page
                                    pageTotal = api
                                        .column(7, { page: 'current' })
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);

                                  //console.log($('#hdntotalSales').val());
                                    $('#totalSales').val($('#hdntotalSales').val());
                                    //$('#hdntotalSales').val(parseFloat(total).toFixed(2));

                                },
                                //aoColumnDefs: [

                                //    { "aTargets": [16], "bSortable": true },
                                //    { "aTargets": [15], "bSortable": true },
                                //    { "aTargets": [14], "bSortable": true },
                                //    { "aTargets": [13], "bSortable": true },
                                //    { "aTargets": [12], "bSortable": true },
                                //    { "aTargets": [11], "bSortable": true },
                                //    { "aTargets": [10], "bSortable": true },
                                //    { "aTargets": [9], "bSortable": true },
                                //    { "aTargets": [8], "bSortable": true },
                                //    { "aTargets": [7], "bSortable": true },
                                //    { "aTargets": [5], "bSortable": true },
                                //    { "aTargets": [2], "bSortable": true },
                                //    { "aTargets": [0], "bSortable": true },
                                //    { "aTargets": [3], "bSortable": true },
                                //    { "aTargets": [4], "bSortable": true },
                                //    { "aTargets": [1], "bSortable": true },
                                //    { "aTargets": [6], "bSortable": true, "sType": "datetime-moment" },
                                //],
                                dom: 'Bfrtip',
                                order: [[1, 'desc']],
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            html += "<h4>Customer: " + customer_Name + "</h4><br/>"
                                            html += "<h4>Total Sales: " + total + "</h4>";
                                            html += "<h4>Total Qty: " + totalQty + "</h4>";
                                            html += "<h4>Total Without Tax: " + totalExTax + "</h4>";
                                            html += "<h4>Total Paid: " + totalPaid + "</h4>";
                                            html += "<h4>Total Discount: " + totalDisc + "</h4>";
                                            html += "<h4>Total Balance: " + totalBal + "</h4>";
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        //exportOptions: {

                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            return "Sales Report      Customer" + customer_Name + "  Total Sales: " + total +
                                                "   Total Qty: " + totalQty + "   Total Exc.ST.: " + totalExTax + "   Total Paid: "
                                                + totalPaid + "   Total Discount: " + totalDisc + "   Total Balance: " + totalBal

                                                ;
                                        },
                                        messageBottom: null,
                                        //exportOptions: {
                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    'colvis'
                              ],
                              columnDefs: [{
                                  targets: -1,
                                  visible: false
                              }]
                            });

                            //dynamicColumns(t);
                        }
                        else {
                           var t = $('#tblSO').dataTable({

                                footerCallback: function (row, data, start, end, display) {
                                    var api = this.api(), data;
                                    var intVal = function (i) {
                                        return typeof i === 'string' ?
                                            i.replace(/[\$,]/g, '') * 1 :
                                            typeof i === 'number' ?
                                                i : 0;
                                    };

                                    // Total over all pages
                                    total = api
                                        .column(7)
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);

                                    // Total over this page
                                    pageTotal = api
                                        .column(7, { page: 'current' })
                                        .data()
                                        .reduce(function (a, b) {
                                            return intVal(a) + intVal(b);
                                        }, 0);
                                   //console.log($('#hdntotalSales').val());
                                    $('#totalSales').val($('#hdntotalSales').val());
                                    //$('#hdntotalSales').val(parseFloat(total).toFixed(2));

                                },
                                //aoColumnDefs: [

                                //    { "aTargets": [16], "bSortable": true },
                                //    { "aTargets": [15], "bSortable": true },
                                //    { "aTargets": [14], "bSortable": true },
                                //    { "aTargets": [13], "bSortable": true },
                                //    { "aTargets": [12], "bSortable": true },
                                //    { "aTargets": [11], "bSortable": true },
                                //    { "aTargets": [10], "bSortable": true },
                                //    { "aTargets": [9], "bSortable": true },
                                //    { "aTargets": [8], "bSortable": true },
                                //    { "aTargets": [7], "bSortable": true },
                                //    { "aTargets": [5], "bSortable": true },
                                //    { "aTargets": [2], "bSortable": true },
                                //    { "aTargets": [0], "bSortable": true },
                                //    { "aTargets": [3], "bSortable": true },
                                //    { "aTargets": [4], "bSortable": true },
                                //    { "aTargets": [1], "bSortable": true },
                                //    { "aTargets": [6], "bSortable": true, "sType": "datetime-moment" },
                                //],
                                dom: 'Bfrtip',
                                order: [[1, 'desc']],
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            html += "<h4>Customer: " + customer_Name + "</h4><br/>"
                                            html += "<h4>Total Sales: " + total + "</h4>";
                                            html += "<h4>Total Qty: " + totalQty + "</h4>";
                                            html += "<h4>Total Without Tax: " + totalExTax + "</h4>";
                                            html += "<h4>Total Paid: " + totalPaid + "</h4>";
                                            html += "<h4>Total Discount: " + totalDisc + "</h4>";
                                            html += "<h4>Total Balance: " + totalBal + "</h4>";
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        //exportOptions: {

                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            var total = $('#hdntotalSales').val();
                                            var totalBal = $('#totalBalance').val();
                                            var totalDisc = $('#totalDiscount').val();
                                            var totalPaid = $('#totalAmountPaid').val();
                                            var totalExTax = $('#totalWOTax').val();
                                            var totalQty = $('#totalQty').val();
                                            return "Sales Report      Customer" + customer_Name + "  Total Sales: " + total +
                                                "   Total Qty: " + totalQty + "   Total Exc.ST.: " + totalExTax + "   Total Paid: "
                                                + totalPaid + "   Total Discount: " + totalDisc + "   Total Balance: " + totalBal

                                                ;
                                        },
                                        messageBottom: null,
                                        //exportOptions: {
                                        //    modifier: {
                                        //        // DataTables core
                                        //        order: 'index', // 'current', 'applied',
                                        //        //'index', 'original'
                                        //        page: 'all', // 'all', 'current'
                                        //        search: 'none' // 'none', 'applied', 'removed'
                                        //    },

                                        //    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,13,14,15,16]
                                        //}
                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    'colvis'
                               ],
                               columnDefs: [{
                                   targets: -1,
                                   visible: false
                               }]
                            });

                           // dynamicColumns(t);
                        }
                    }


                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
        });

        $("#AccountID").select2();
        $("#SPAccountID").select2();
        $('#Branch').select2();
        $('#InvoiceTypeID').select2();

        ChangeInvoiceStatus = (OrderID, Status) => {


            swal({
                title: "Are you sure?",
                text: "changing invoice status!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    if (OrderID > 0 && Status >= 0) {
                        //var json = { 'OrderID': OrderID, 'Status': Status };


                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/Sales1/ChangeInvoiceStatus',
                            async: true,
                            data: JSON.stringify({ 'OrderID': OrderID, 'Status': Status }),
                            success: function (data) {
                                //console.log(data);
                                if (data > 0) {
                                    $("#btnSearch").click();
                                    swal('Success', 'Status Changed Successfully', 'success');
                                }
                                else {
                                    swal('Error', 'Status Not Changed ', 'error');
                                }

                            },
                            error: function (err) { //console.log(err); 
                            }
                        });
                    }
                } else {
                    swal("Cancelled", "Status not changed", "error");
                }
            })



        }


    </script>

}






