﻿@model POSOman.Models.tbl_SalesOrder

@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("EditSaleInvoice", "Sales1", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <input type="hidden" id="hdnOrderID" value="@ViewBag.OrderID" />
                                    <h4 class="form-section"><i class="icon-eye6"></i>Edit Sales: @ViewBag.InvoiceNo</h4>
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required", @disabled = "@disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sales Update Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer Name</label>
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label> Challan </label>
                                            <br>
                                            @Html.DropDownList("ChallanID", new SelectList(ViewBag.DeliveryChallan, "Value", "Name"), "Select Challan", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                            <ul class="ChallanAppend"></ul>
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>SalesPeron</label>
                                            <br>
                                            @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.saleperson, "Value", "Name"), "Select SalePerson", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Commission %</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="%" id="commissionPercent" readonly />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Commission Am</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Amount" id="commissionAmount" readonly />
                                        </div>
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>PO No.</label>
                                            <br>
                                            @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @id = "PONo", @class = "form-control" } })
                                        </div>
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Invoice No.</label>
                                            <br>
                                            @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @id = "InvoiceNo", @class = "form-control" } })
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Payment Term</label>
                                            <br>
                                            @Html.Editor("PaymentTerm", null, new { htmlAttributes = new { @id = "PaymentTerm", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>HS Code</label>
                                            <br>
                                            <input type="text" class="form-control" id="hs_Code" />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="FSC_Cert" class="form-control" />
                                            <label>FSC Certificate</label>
                                            <br>
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="GRS_Cert" class="form-control" />
                                            <label>GRS Certificate</label>
                                            <br>
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="OEKO_TEX_Cert" class="form-control" />
                                            <label>OEKO TEX Certificate</label>
                                            <br>
                                        </div>
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Sale Tax invoice No.</label>
            <br>
            @Html.EditorFor(model => model.Input, new { htmlAttributes = new { @id = "STInvoiceNo", @class = "form-control" } })
        </div>*@
                                        <div class="mb-1 col-sm-12 col-md-2">
                                            <label></label>
                                            <br>
                                            <input type="button" id="btnSearch" value="Search" class="btn btn-primary" />
                                        </div>
                                    </div>

                                    @Html.Partial("~/Views/Sales1/_AddProduct.cshtml")

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Select Tax</label>
                                            <br>
                                            @Html.DropDownListFor(model => model.TaxPercent, new SelectList(ViewBag.Vat, "Value", "Name"), "Select Tax ", htmlAttributes: new { @class = "form-control", name = "TaxPercent", id = "TaxPercent" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Tax Amt</label>
                                            <br>
                                            @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "TaxAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
                                            <label>Disc %</label>
                                            <br>
                                            @Html.EditorFor(model => model.DiscountPercent, new { htmlAttributes = new { @class = "form-control", name = "DiscountPercent", id = "DiscountPercent", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Disc Amt</label>
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "DiscountAmount", id = "DiscountAmount", @type = "number", @min = "0", @step = "0.01", @value = "0", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label>Balance</label>
                                            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                        </div>
                                    </div>

                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-sm-2">
                                                    @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "" })

                                                    @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   //new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })

                                                </div>
                                                <div class="col-sm-2">
                                                    @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "" })

                                                    @Html.DropDownList("ID", new SelectList(ViewBag.PaymentTypeID, "Value", "Name", "1"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create & Print" class="btn btn-primary" />
                                    <input hidden type="button" id="btnHold" value="Hold Order" class="btn btn-dark" />
                                    <input hidden type="button" id="btnPrint" value="Print Order" class="btn btn-outline-danger" />
                                </div>
                            }

                            @*PopUp For adding and Customer *@
                            <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal" aria-hidden="true" data-backdrop="static">
                                <div id="newCustomerContainer">
                                </div>
                            </div>

                            <div id="SearchResult">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').prop("disabled",true);
        $('#AccountID').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        $('#ChallanID').select2();
        $('#SalePersonAccID').select2();
        $('#TaxPercent').select2();




        $("#PaymentStatus").on("change", function () {
            var payStatusSelection = $("#PaymentStatus").val();
            var totalAmount = $("#finalAmountWithVAT").val();
            var creditLimit = $('#customerCrLimit').val();
            var customerBalance = $('#customerBalance').val();
            //Paid
            if (payStatusSelection == 1) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                //getNewTotal();
                CalcTotal();
                $("#PaymentType").prop("disabled", false);
                document.getElementById("balanceAmount").value = 0;
            }
            // Partial PAid
            else if (payStatusSelection == 2) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = false;
                $("#PaymentType").prop("disabled", false);
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
            }
            //Unpaid
            else if ((payStatusSelection == 3) && (parseFloat(totalAmount) > parseFloat(creditLimit - customerBalance))) { // Remove Nested if Condition
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                $("#PaymentType").prop("disabled", true);
                disableBank();
                swal("Credit Limit", "Credit Limit Exceeds! ", "error");
            }
            else if (payStatusSelection == 3 && (creditLimit == "")) {
                isLimitExceed = false;
                swal("Credit Limit", "Credit Limit not available! ", "error");
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                $("#PaymentType").prop("disabled", true);
                disableBank();
            } else if (payStatusSelection == 3) {
                isLimitExceed = false;
                document.getElementById("amountPaid").readOnly = true;
                document.getElementById("amountPaid").value = 0;
                document.getElementById("balanceAmount").value = totalAmount;
                document.getElementById("PaymentType").selectedIndex = "0";
                $("#PaymentType").prop("disabled", true);
                disableBank();
            } else {
                isLimitExceed = false;

            }

        });

    </script>

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Sales1/EditsaleProducts.js"></script>
    <script src="~/Scripts/Sales1/EditSale.js"></script>
    <script src="~/Scripts/Sales1/EditSaleDetails.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/customScripts/printSaleOrder.js"></script>
}
