﻿@model POSOman.Models.tbl_SalesOrder

@{
    ViewBag.Title = "Delete";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Sale Invoice</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Sale Invoice">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Sale Invoice</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Delete</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>Are you sure you want to delete this?</h4>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <dl class="dl-horizontal">
                                    <dt>
                                        Invoice No
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.InvoiceNo)
                                    </dd>


                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </section>
    <!-- // Striped row layout section end -->
</div>
