﻿@model IEnumerable<POSOman.Models.GetPurchaseFilterWise_Result>
@using POSOman.Models;
@using POSOman.Models.BLL;

@{
    ViewBag.Title = "Index";
    dbPOS db = new dbPOS();

}

<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal total = 0;
            <div class="card-body card-dashboard">

                <table id="tblPurchase" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th> Auto Invoice No </th>
                            <th> Invoice No </th>
                            <th> Purchase Request No </th>
                            <th> @Html.DisplayNameFor(model => model.AccountName) </th>
                            @*
                                <th hidden> VAT </th>
                                <th hidden> @Html.DisplayName("Discount") </th>*@
                            <th> @Html.DisplayNameFor(model => model.TotalAmount) </th>
                            <th> @Html.DisplayNameFor(model => model.AmountPaid) </th>
                            @*
                                <th hidden> Balance </th>*@
                            <th> @Html.DisplayNameFor(model => model.PurchaseDate) </th>
                            <th> @Html.DisplayNameFor(model => model.PaymentStatus) </th>
                            <th> Files </th>
                            <th> Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.POID) </td>
                                <td> @Html.DisplayFor(modelItem => item.InvoiceNo) </td>
                                <td>
                                    @{
                                        if (item.PurchaseRequestID != null)
                                        {
                                            @("PR-" + db.tbl_PurchaseOrder.Where(x => x.OrderID == item.PurchaseRequestID).Select(x => x.POID).FirstOrDefault())
                                        }
                                        else
                                        {
                                            @("-")
                                        }

                                    }
                                </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                @*
                                    <td hidden>
                                        @{
                                        decimal vat = item.VAT ?? 0;
                                        <span> @vat.ToString("#,##0.00") </span>
                                        }
                                    </td>*@
                                @*
                                    <td hidden>
                                        @{
                                        decimal dsc = item.DiscountAmount ?? 0;
                                        <span> @dsc.ToString("#,##0.00") </span>
                                        }
                                    </td>*@
                                <td>
                                    @{
                                        total += item.TotalAmount ?? 0;
                                        <span> @(Helper.DigitsWithComma(item.TotalAmount)) </span>
                                    }
                                </td>
                                <td>
                                    @{
                                    <span> @(Helper.DigitsWithComma(item.AmountPaid)) </span>
                                    }
                                </td>
                                @*
                                    <td hidden>
                                        @{
                                        decimal balance = (item.TotalAmount - item.AmountPaid) ?? 0;
                                        <span> @balance.ToString("#,##0.00") </span>
                                        }
                                    </td>*@
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate)) </td>
                                <td> @Html.DisplayFor(modelItem => item.PaymentStatus) </td>
                                <td>
                                    @if (string.IsNullOrWhiteSpace(item.Picture))
                                    {
                                        @*<img src="~/Content/images/logo/noImage.png" alt="" border=3 height=100 width=100></img>*@
                                        <span style="color:red; font-weight:bold;font-size:smaller;">No Img</span>
                                    }
                                    else
                                    {


                                        if (System.IO.File.Exists(Server.MapPath(item.Picture)))
                                        {
                                            @*<img src=@item.Picture alt="" border=3 height=100 width=100></img>*@
                                            <i id="previewImage" title="View Image" class="fa fa-eye" aria-hidden="true" data-name="@item.Picture"></i>
                                        }
                                        else
                                        {
                                            @*<img src="~/Content/images/logo/noImage.png" alt="" border=3 height=100 width=100></img>*@
                                            <span style="color:red; font-weight:bold;font-size:smaller;">No Img</span>
                                        }


                                    }


                                </td>
                                <td>
                                    <!--Separate dropdown-->

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                            <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                        </button>
                                        <div class="dropdown-menu">
                                            @if (item.Can_Modify == null || item.Can_Modify == true)
                                            {
                                                @*<span class="btn btn-primary">
                                                        Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept=".jpg, .jpeg, .png" style="display: none;" />
                                                    </span>*@

                                                @Html.ActionLink("Details", "Export", new { id = item.OrderID }, new { @class = "dropdown-item" });
                                                @Html.ActionLink("Edit", "GetEditPurchaseInvoice", new { id = item.OrderID }, new { @class = "dropdown-item" });
                                                @Html.ActionLink("Delete", "PODelete", new { id = item.OrderID }, new { @class = "dropdown-item" });

                                            }
                                            else
                                            {
                                                @Html.ActionLink("Details", "Export", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                                @*@Html.ActionLink("Export", "Purchase", new { id = item.OrderID }, null);*@
                                            }
                                            <span class="dropdown-item" onclick="OpenFileBrowse(@item.OrderID)"> Upload File</span>
                                            <input type="file" id="imgUpload" accept=".jpg, .jpeg, .png" style="display: none;" />
                                        </div>
                                        @*<a class="dropdown-item" href="#">Separated link</a>*@

                                    </div>

                                    <!---->


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="col-md-2 mb-2">
                    <label>Total Purchase</label>
                    <input type="text" class="form-control" name="Total Purchase" placeholder="Total Purchases" readonly="readonly" id="totalPurchases" value="@(Helper.DigitsWithComma(total))">
                </div>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
    <input type="hidden" id="hdnOrderID" />
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
