﻿@model IEnumerable<POSOman.Models.tbl_PODetails>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-5" style="text-align:center; align-content:center">
                            <h3>Mangotech</h3>
                        </div>
                        <div class="col-md-11" style="text-align:center ">
                           
                            <h6>Plot # A-123, Sector/A, Karachi</h6>
                            @*<h6>Phone: 0344 3607167</h6>*@
                            <hr />
                            <h4>Purchase Invoice</h4>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Bill From : </strong></label>@Model.First().tbl_PurchaseOrder.tbl_AccountDetails.AccountName</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Order ID</strong></label>@Model.First().tbl_PurchaseOrder.POID</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Date</strong></label>@Model.First().tbl_PurchaseOrder.PurchaseDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Invoice No.</strong></label>@Model.First().tbl_PurchaseOrder.InvoiceNo</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
            @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
        </th>*@
                        <th>
                            <label>Category</label>
                        </th>
                        <th>
                            <label>Product</label>
                        </th>

                        <th hidden>
                            @Html.DisplayName("Description")
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.UnitCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                          Discount Amount/Qty
                        </th>
                        <th>
                            GST/Qty
                        </th>
                       
                        <th hidden>
                            Packet
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                    <tr>
                        <th scope="row">@counter</th>
                        @*<td>
            @Html.DisplayFor(modelItem => item.tbl_PurchaseOrder.InvoiceNo)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_Product.tbl_VehicleCode.VehicleCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartNo)
                        </td>

                        <td hidden>
                            @Html.DisplayFor(modelItem => item.tbl_Product.Description)
                        </td>
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.UnitCode)
                        </td>
                        <td>

                            @((Convert.ToInt32(item.Qty)))
                        </td>
                        <td >
                            @Html.DisplayFor(modelItem => item.DiscountAmount)
                        </td>

                        <td >
                            @Html.DisplayFor(modelItem => item.GSTAmount)
                        </td>
                        <td hidden>
                            @if (item.Packet > 0)
                            {
                                @Html.DisplayFor(modelItem => item.Packet)
                            }
                            else
                            { @("-")}
                        </td>
                        <td>
                            @((item.UnitPrice).Value.ToString("0.00"))
                        </td>
                        <td>
                            @((item.Total).Value.ToString("0.00"))
                        </td>
                    </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>

            </table>

        </div>
        <div class="col-md-5 col-sm-12">
            <p class="lead">Net Total</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Sub Total</td>
                            <td class="text-right">@((Model.First().tbl_PurchaseOrder.TotalAmount).Value.ToString("0.00"))</td>
                        </tr>
                        <tr>
                            <td>Overall GST</td>
                            <td class="text-right">@((Model.First().tbl_PurchaseOrder.VAT).Value.ToString("0.00"))</td>
                        </tr>
                        <tr>
                            <td>Overall Discount</td>
                            <td class="text-right">@((Model.First().tbl_PurchaseOrder.DiscountAmount).Value.ToString("0.00"))</td>
                        </tr>
                        <tr hidden>
                            <td>Expenses</td>
                            <td class="text-right">@((Model.First().tbl_PurchaseOrder.Expenses).Value.ToString("0.00"))</td>
                        </tr>
                        <tr hidden>
                            <td>Description</td>
                            <td class="text-right">@Model.First().tbl_PurchaseOrder.Description</td>
                        </tr>
                        <tr>
                            <td class="text-bold-800">Total</td>
                            <td class="text-bold-800 text-right">@((Model.First().tbl_PurchaseOrder.TotalAmount + Model.First().tbl_PurchaseOrder.VAT - Model.First().tbl_PurchaseOrder.DiscountAmount).Value.ToString("0.00"))</td>
                        </tr>
                        <tr>
                            <td>Paid Amount</td>
                            <td class="pink text-right">@Model.First().tbl_PurchaseOrder.AmountPaid.GetValueOrDefault().ToString("0.00")</td>
                        </tr>
                        @*<tr class="bg-grey bg-lighten-4">
            <td class="text-bold-800">Balance Due</td>
            <td class="text-bold-800 text-right">$ 12,000.00</td>
        </tr>*@
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                @*<p>Authorized person</p>*@
                @*<img src="../../../app-assets/images/pages/signature-scan.png" alt="signature" class="height-100" />
                    <h6>Amanda Orton</h6>
                    <p class="text-muted">Managing Director</p>*@
            </div>
           
        </div>
    </div>
    <div>
        <div class="container">
            @*<div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>*@
            <div style="text-align:center">
                @* <div class="footer" style="text-align:center">*@
                <img src="@ViewBag.BarCodeImg" /><br /><text style="text-align:center;">*@ViewBag.BarCodeID*</text><br /><text style="text-align:center;">

                    <input hidden id="text" type="text" value="@ViewBag.QRCode" style="Width:20%" onblur='generateBarCode();' />
                    @*<img style="text-align:center" id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=100x100" alt="" title="HELLO" width="150" height="160" />*@
                    <br /> <text>Developed By: MangoTech Solutions</text>
                    <br /> <text>Phone : 03443607167</text>
                    <br /> <text>Email : info@mangotechsolutions.com</text>
                    @*</div>*@
            </div>
        </div>
    </div>
    
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ style="margin: 1px;"> Back</button>

    @*<input id="printdiv" type="submit" value="Print" onclick="printContent()" /><i class="fa fa-print"></i>*@
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
    function printContent() {
        var printButton = document.getElementById("printdiv");
        printButton.style.visibility = 'hidden';
        var backbtn = document.getElementById("backbtn");
        backbtn.style.visibility = 'hidden';
        window.print();
    }
    function Back() {
        window.location.href = '/Purchase';
    }
    </script>
</body>

</html>
