﻿

@model POSOman.Models.tbl_PurchaseOrder

<div class="form-body">
    <h5 class="form-section"><i class="icon-eye6"></i>Purchase Request</h5>
    <div class="row">
        <input type="hidden" id="POID" name="POID">
        <input type="hidden" id="hdnProductID" name="hdnProductID">
        <input type="hidden" id="tmpOrderID" name="tmpOrderID">
        <input type="hidden" id="exRate" name="exRate">
        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
        <input type="hidden" id="isPacket" name="isPacket">
        <input type="hidden" id="isMinor" name="isMinor">
        <input type="hidden" id="LevelID" name="LevelID">
        <input type="hidden" id="minorDivisor" name="minorDivisor">
        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
            <label>Currency</label>
            @Html.DropDownList("Currency", new List<SelectListItem>{
                new SelectListItem{ Text="PKR", Value = "1" },
                new SelectListItem{ Text="DLR", Value = "2" },
            }, htmlAttributes: new { @class = "form-control" })
        </div>
        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
            <label>Branch</label>
            <br>
            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required", @readonly = "readonly" })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Vendor</label>
            <br>
            @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <label>Purchase Request Date</label>
            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "PurchaseDate", id = "PurchaseDate" } })
            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Invoice No.</label>
            @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control", name = "InvoiceNo", id = "InvoiceNo" } })
            @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1" hidden>
            <label>Ref No.</label>
            @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control", name = "RefNo", id = "RefNo" } })
            @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1" hidden>
            <label>PO No.</label>
            <input type="text" id="purchaseOrderID" class="form-control" />
        </div>
        <div class="col-md-1" hidden>
            <br />
            <input type="button" class="btn btn-primary btn-round" value="Fetch PO" id="getPurchaseOrder">
        </div>
    </div>
    <h5 class="form-section"><i class="ft-mail"></i>Products Entry </h5>

    <div class="row">
        <form id="ProductForm" name="ProductForm">
            <div class="col-sm-2" hidden>
                <label>Category</label>
                <br />
                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
            </div>
            <div class="col-sm-2">
                <label>Product</label>
                <br />
                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
            </div>
            <div class="col-sm-2" hidden>
                <label>BarCode</label>
                <br />
                <input type="text" class="form-control" placeholder="Bar Code" id="BarCode" autofocus />
            </div>
            <div class="col-md-2" hidden>
                <label>Exp Date</label>
                <br />
                <input type="date" id="expDate" class="form-control" />
            </div>
            <div class="col-sm-1">
                <label>Unit Code</label>
                <br />
                <input type="text" class="form-control" placeholder="Unit Code" id="unitCode" readonly />
            </div>
            <div class="col-sm-1">
                <label>Qty</label>
                <br />
                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
            </div>
            <div class="col-sm-1" hidden>
                <label>Packet</label>
                <br />
                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
            </div>
            <div class="col-sm-1">
                <label>Unit Price</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="UnPrice" id="UnitPrice" />
            </div>
            <div class="col-sm-2" >
                <label>Dis. %</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="%" id="PrDisPercent" />
            </div>
            <div class="col-sm-2" >
                <label>Dis. Am/Qty</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="Amount" id="PrDisAmount" />
            </div>
            <div class="col-sm-2">
                <label>GST%/Qty</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="%" id="PrGSTPercent" />
            </div>
            <div class="col-sm-2">
                <label>GST Am/Qty</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="Amount" id="PrGSTAmount" />
            </div>
            <div class="col-sm-2" hidden>
                <label>Sale Price</label>
                <br />
                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
            </div>
            <div class="col-sm-2">
                <label>Sub Total</label>
                <br />
                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
            </div>
            <div class="col-sm-1">
                <label>Action</label>
                <input type="button" class="btn btn-round" value="Add" id="addRow">
            </div>
        </form>
    </div>
    <div>
        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
            <thead>
                <tr>
                    <th>Select</th>
                    <th hidden>Cat</th>
                    <th>Product</th>
                    <th hidden>Expiry</th>
                    <th>U.C</th>
                    <th>Qty</th>
                    <th hidden>Packet</th>
                    <th>Un Pr.</th>
                    <th hidden>S Price</th>
                    <th >Dsc%</th>
                    <th >
                        Dsc.Amt</th>
                        <th >T.Dsc</th>
                        <th>GST%</th>
                        <th>GST.Amt</th>
                        <th>T.GST</th>
                        <th>Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div>
        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
        @*<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PartialProduct")" id="btnCreateProduct">Add New Product</button>*@

    </div>
    <hr />
    <div class="row">
        <div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Sub Amount</label>
            <br>
            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
            <label>Expenses</label>
            <br>
            @Html.EditorFor(model => model.Expenses, new { htmlAttributes = new { @class = "form-control", name = "expenseInput", id = "expenseInput", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
            @Html.ValidationMessageFor(model => model.Expenses, "", new { @class = "text-danger" })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
            <label>Description</label>
            <br>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "ExpenseDesc", name = "ExpenseDesc" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
            <label>GST%</label>
            <br>
            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "GST(%)" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-1" >
            <label>Disc Amt</label>
            <br>
            <input class="form-control" id="discountAmount" name="discountAmount" disabled />
        </div>

        <div class="form-group mb-1 col-sm-12 col-md-1" >
            <label>Gst Amt</label>
            <br>
            <input class="form-control" id="vatAmount" name="vatAmount" disabled />
        </div>
        <div class="col-md-2">
            <label>Total Amount</label>

            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" hidden>
            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2" hidden>
            <label>Balance</label>
            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
        </div>
    </div>

    <h5 hidden class="form-section"><i class="icon-eye6"></i>Payment Details</h5>

    <div hidden class="row">
        <div class="col-12">
            <div class="form-row">
                <div class="col-md-2">
                    <label>Payment Status</label>
                    @Html.DropDownList("PaymentStatus", new List<SelectListItem>
                    {
                       new SelectListItem{ Text="Select Payment Status", Value = "0" },
                       new SelectListItem{ Text="Paid", Value = "1"},
                       new SelectListItem{ Text="Partial Paid", Value = "2" },
                       new SelectListItem{ Text="UnPaid", Value = "3",Selected = true },
                    }, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
                <div class="col-md-2">
                    <label>Payment Type</label>
                    @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name", "1"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    <label>Bank Account</label>
                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })

                </div>
                <div class="col-md-2">
                    <label>Cheque Number</label>
                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                </div>
                <div class="col-md-2">
                    <label>Cheque Date</label>
                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                </div>
            </div>
        </div>
    </div>
</div>
