﻿@model POSOman.Models.tbl_PurchaseOrder
@{
    ViewBag.Title = "Create";
}
<style>
    .table th, .table td {
        padding: 0.5rem 1.2rem;
    }
</style>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("CreatePurchaseRequest", "Purchase", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.Partial("_PartialPurchaseRequestForm")

                                <div class="modal" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModal" aria-hidden="true" data-backdrop="static">
                                    <div id="newProductContainer">
                                    </div>
                                </div>

                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('PurchaseDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#VendorCode').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();

        //onunblock - callback
    </script>
    <script src="~/Scripts/js/scripts/extensions/block-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/poScripts/partialCrud.js"></script>
    <script src="~/Scripts/poScripts/addPurchaseOrderProducts_1.js"></script>
    <script src="~/Scripts/poScripts/PurchaseRequest.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>


}
