﻿@model POSOman.Models.tmp_PO

@{
    ViewBag.Title = "DeletePOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeletePOrder</h2>

<h3>Are you sure you want to delete this?</h3>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div>
   
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
   @{
       var m = Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.PurchaseDate)) ;
   }
            @m
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseCode)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
