﻿@model POSOman.Models.DTO.PurchaseOrder
@{
    ViewBag.Title = "Edit";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewOrder", "Purchase",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Partial("_PartialPurchaseEditForm")
                                @*PopUp For adding and editing Product *@
                                <div class="modal" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModal" aria-hidden="true" data-backdrop="static">
                                    <div id="newProductContainer">
                                    </div>
                                </div>
                                <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="EditProductModal" aria-hidden="true" data-backdrop="static">
                                    <div id="editProductContainer">
                                    </div>
                                </div>
                                @*END PopUp For adding and editing Product *@
                                @*PopUp For adding New Group*@
                                @*<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModal" aria-hidden="true" data-backdrop="static">
                <div id="newGroupContainer">
                </div>
            </div>
            END PopUp For adding New Group*@
                                @*PopUp For adding New Vehicle Model*@
                                <div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog" aria-labelledby="newVehicleModal" aria-hidden="true" data-backdrop="static">
                                    <div id="newVehicleContainer">
                                    </div>
                                </div>
                                @*END PopUp For adding New Vehicle Model*@
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                            @*PopUp For adding and Customer *@
                            <div class="modal" id="newVendorModal" tabindex="-1" role="dialog" aria-labelledby="newVendorModal" aria-hidden="true" data-backdrop="static">
                                <div id="newVendorContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        //document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('PurchaseDate').valueAsDate = new Date();
    $('#AccountID').select2();
    $('#Qty').prop('disabled', false);

        $('#VendorCode').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        //onunblock - callback
    </script>
    @*<script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>*@
    <script src="~/Scripts/js/scripts/extensions/block-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/poScripts/partialCrud.js"></script>
    <script src="~/Scripts/poScripts/NewEditPurchaseOrderProducts.js"></script>
    <script src="~/Scripts/poScripts/NewEditPurchaseInvoice.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
