﻿@model IEnumerable<POSOman.Models.GetPurchaseFilterWise_Result>
@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {

        html,
        body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>PURCHASES LIST</h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>Vendor</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>Product</label>
                    <div class="input-group">
                        @Html.DropDownList("ProductID", new SelectList(ViewBag.product, "Value", "Name"), "Select  Product", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="col-md-2 mb-3" hidden>
                    <label>Part No.</label>
                    <div class="input-group">
                        <input class="form-control" id="partNo" placeholder="Part No." />
                    </div>
                </div>
                <div hidden class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch",
                        htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="col-md-2 mb-2" hidden>
                    <label>Total Purchase</label>
                    <input type="text" class="form-control" name="Total Purchase" placeholder="Total Purchases"
                           readonly="readonly" id="totalPurchase">
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch">
                        <i class="fa fa-check-square-o"></i>Search
                    </button>
                </div>

            </div>
            <div class="col-12">
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>

                $("#btnSearch").on("click", function () {
                    var accountID = $('#hdnAccountID').val();
                    var ProductID = +$('#ProductID').val() || null;
                    var fromDate = $('#fromDate').val();
                    var toDate = $('#toDate').val();
                    var partNo = $('#PartNo').val();
                    var branchID = $('#Branch').val();
                    var Branch = $("#Branch option:selected").text();

                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Purchase Report </h4>';
                    if (branchID != "") { html += "<h4> Branch : " + Branch + " </h4>"; }
                    var vendorName = $("#AccountID option:selected").text();
                    if (accountID > 0) { html += "<h4>Vendor :   " + vendorName + "</h4>"; }
                    if (partNo == "" || typeof partNo === 'undefined')
                        partNo = null;
                    else { html += "<h4> Part No. : " + partNo + " </h4>"; }

                    if (fromDate != "" && toDate != "") { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
                    $.ajax({
                        url: "@Url.Action("Index", "Purchase")",
                        data: {
                            btn: true,
                            PartNo: partNo,
                            BranchID: branchID,
                            ProdID: ProductID,
                            accountID: accountID,
                            fromDate: $('#fromDate').val(),
                            toDate: $('#toDate').val()
                        },
                        success: function (data) {
                            $("#SearchResult").html(data);
                            $('#tblPurchase').dataTable({

                                "order": [[0, "desc"]],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {


                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Purchases List </h4>';
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        title: '',
                                        messageTop: function () {


                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                                        exportOptions: {
                                            columns: ':visible'
                                        }
                                    },
                                    'colvis'
                                ],
                                columnDefs: [{
                                    targets: -1,
                                    visible: true
                                }]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                            ////////


                        }
                    });
                });
    </script>
    <script type="text/javascript">
        $("#AccountID").change(function () {
            var vendorAccID = $('#AccountID').val();
            $('#hdnAccountID').val(vendorAccID);
        });
        $("#AccountID").select2();
        $('#Branch').select2();
        $('#ProductID').select2();
        //$('#tblPurchase').DataTable();
    </script>

    <script>

        var button = document.getElementById('previewImage');

        button.onclick = previewImageMethod;

        function previewImageMethod() {
            var url = this.getAttribute('data-name');
            if (url != null && url != undefined && url != "") {
                var myImage = new Image();
                myImage.src = url;
                swal({
                    button: false,
                    icon: url
                });
            }
        }


        function OpenFileBrowse(OrderID) {
            if (OrderID > 0) {
                $("#hdnOrderID").val(OrderID);
                $("#imgUpload").click();

            }
            else {
                $("#hdnOrderID").val(null);
            }

        }

        $('#imgUpload').change(function () {
            debugger
            var OID = +$("#hdnOrderID").val() || 0;
            if ($(this).val() != "" && OID > 0) {
                console.log("inside change...")
                var fileUpload = document.getElementById("imgUpload");
                var fileData = new FormData();

                console.log("after file data...")
                if (typeof (fileUpload.files) != "undefined") {
                    uiBlock();
                    console.log("inside block...")

                    var f = fileUpload.files;
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        fileData.append(f[i].name, f[i]);
                    }

                    if (fileUpload.files.length > 0) {
                        console.log("filelength>1...")
                        $.ajax({
                            url: '/Purchase/UploadImg?OrderID=' + OID + '&&ForOrderType=2',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            async: false,
                            success: function (result) {
                                uiUnBlock();
                                swal(result);

                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500);
                            },
                            error: function (err) {
                                swal(err.statusText);
                            }
                        });
                    }


                }

            }
            uiUnBlock();
        });


    </script>


}