﻿@model IEnumerable<POSOman.Models.tbl_PODetails>
<div class="content-body">
    <section class="card">
        <div id="invoice-template" class="card-body" style="margin-top:208px; margin-bottom:76px;">
            <!-- Invoice Company Details -->
            @*<div id="invoice-company-details" class="row">
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <div class="media">
                        <img src="~/Content/app-assets/images/logo/stack-80x80.png" alt="company logo" class="" />
                        <div class="media-body">
                            <ul class="ml-2 px-0 list-unstyled">
                                <li class="text-bold-800">Company Name</li>
                                <li>4025 Oak Avenue,</li>
                                @*<li>Melbourne,</li>
                                <li>Florida 32940,</li>
                                <li>Oman</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <h2>INVOICE</h2>
                    <p class="pb-3">ViewBag.OrderID</p>
                    <ul class="px-0 list-unstyled">
                        <li></li>
                        <li class="lead text-bold-800"></li>
                    </ul>
                </div>
            </div>*@
            <!--/ Invoice Company Details -->
            <!-- Invoice Customer Details -->
            <table>
                <tr>
                    <td colspan="2">Bill To</td>
                    <td colspan="2">M/S : <strong></strong></td>
                </tr>
            </table>
            <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-center text-md-left">
                    <p class="text-muted">Bill To</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <ul class="px-0 list-unstyled">
                        <li class="text-bold-800">Mr.</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <p>
                        <span class="text-muted">Invoice Date :</span> @*06/05/2016*@
                    </p>
                    <p>
                        <span class="text-muted">Terms :</span> @*Due on Receipt*@
                    </p>
                    <p>
                        @*<span class="text-muted">Due Date :</span> 10/05/2016*@
                    </p>
                </div>
            </div>
            <!--/ Invoice Customer Details -->
            <!-- Invoice Items Details -->
            <div id="invoice-items-details" class="pt-2">
                <div class="row">
                    <div class="table-responsive col-sm-12">
                        
                        <table class="table">
                            <thead>
                                <tr>
                                    @*<th>#</th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.tbl_PurchaseOrder.InvoiceNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PartNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Qty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UnitPrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SalePrice)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Total)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                    
                            <tbody>

                                @foreach (var item in Model)
            {
                                    <tr>
                                        @*<th scope="row">@item.tbl_PurchaseOrder</th>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tbl_PurchaseOrder.InvoiceNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PartNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Qty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UnitPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SalePrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                        @*<td>
                        @Html.DisplayFor(modelItem => item.ReturnedQty)
                    </td>*@

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
               
            <!--/ Invoice Footer -->
        </div>
            </div>
    </section>
</div>
