﻿@model POSOman.Models.tbl_PurchaseOrder

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PODelete</h2>

<h3>Are you sure you want to delete this invoice?</h3>

<div>
   @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
          OrderID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

     

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

      

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
