﻿@model IEnumerable<POSOman.Models.tmp_OrderDetails>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>    
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">   
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
        }
    </style> 
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-11" style="text-align:center">
                        <h2>Mangotech</h2>
                        <h6>Plot # A-123, Sector/A, Karachi</h6>
                        @*<h6>Phone: 0344 3607167</h6>*@
                        <hr />
                        <h4>Purchase Order</h4>
                        <br />
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Order To </strong></label>@Model.First().tmp_PO.tbl_AccountDetails.AccountName</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Date</strong></label>@Model.First().tmp_PO.PurchaseDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>                    
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>PO No.</strong></label>@Model.First().tmp_PO.PurchaseCode</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
                        </th>*@
                        <th>
                            <label>Category</label>
                        </th>
                        <th>
                            <label>Product</label>
                        </th>

                        <th hidden>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.tbl_PurchaseOrder.InvoiceNo)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.tbl_VehicleCode.VehicleCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNo)
                                </td>

                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitCode)
                                </td>
                                <td>
                                    
                                        @((Convert.ToDecimal(item.Qty)))
                                    
                                </td>
                                <td>
                                   
                                        @((item.UnitPrice).Value.ToString("0.00"))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.ReturnedQty)
                                </td>*@

                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>

            </table>

        </div>
        @*<div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
                @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
            </th>
                        <th>
                           Product
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr></tr>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                @*<td>
                        @Html.DisplayFor(modelItem => item.tmp_PO.InvoiceNo)
                    </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                @*<td>
                        @Html.DisplayFor(modelItem => item.ReturnedQty)
                    </td>

                            </tr>
                            counter = counter + 1;
                        }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>@Model.First().tmp_PO.TotalAmount</td>
                    </tr>
                </tbody>
            </table>
           
        </div>*@
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>                    
                </div>
            </div>
        </div>
    </div>
   
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ style="margin: 1px;"> Back</button>

     @*<input id="printdiv" type="submit" value="Print" onclick="printContent()" /><i class="fa fa-print"></i>*@
    <script src="~/assets/js/data.js"></script>
    
<script type="text/javascript">
    function printContent() {        
        var printButton = document.getElementById("printdiv");
        printButton.style.visibility = 'hidden';
        var backbtn = document.getElementById("backbtn");
        backbtn.style.visibility = 'hidden';
        window.print();
    }
    function Back() {
        window.location.href = '/Purchase/PurchaseOrderIndex';
    }
</script>        
    <div class="footer">Developed By: MangoTech Solutions</div>
</body>

</html>

