﻿@model POSOman.Models.DTO.PurchaseOrder
@{
    ViewBag.Title = "Edit";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewOrder", "Purchase",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h5 class="form-section"><i class="icon-eye6"></i>Edit Purchase Invoice</h5>
                                    <div class="row">
                                        @*<input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">*@
                                        <input type="hidden" id="POID" name="POID">
                                        <input type="hidden" id="hdnProductID" name="hdnProductID">
                                        <input type="hidden" id="tmpOrderID" name="tmpOrderID">
                                        <input type="hidden" id="exRate" name="exRate">
                                        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">   
                                        <input type="hidden" id="isPacket" name="isPacket">
                                        <input type="hidden" id="isMinor" name="isMinor">
                                        <input type="hidden" id="LevelID" name="LevelID"> 
                                        <input type="hidden" id="minorDivisor" name="minorDivisor">                                                                           
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Currency</label>
                                            @Html.DropDownList("Currency", new List<SelectListItem>{
                                                   new SelectListItem{ Text="PKR", Value = "1" },
                                                   new SelectListItem{ Text="DLR", Value = "2" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Vendor</label>
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-2">
                                            <label>Opening Balance</label>
                                            @Html.Editor("OpeningBal", new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            @*@Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })*@
                                        </div>
                                        <div class="col-md-2">
                                            <label>Purchase Date</label>
                                            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "PurchaseDate", id = "PurchaseDate" , @readonly = "readonly" }   })
                                            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1">
                                            <label>Invoice No.</label>
                                            @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control", name = "InvoiceNo", id = "InvoiceNo",@readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-1" hidden>
                                            <label>Ref No.</label>
                                            @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control", name = "RefNo", id = "RefNo" } })
                                            @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                        </div>
                                                                                                                   
                                    </div>
                                    
                                    <h5 class="form-section"><i class="ft-mail"></i>Products Entry </h5>
                                    <label id="DescriptionTitle"></label>
                                    <label id="Description" class="badge badge-info"></label>
                                    <label id="SubsTitle"></label>
                                    <label id="SubstituteNo" class="badge badge-primary"></label>
                                    <label id="VehModelTitle"></label>
                                    <label id="VehModel" class="badge badge-info"></label>
                                    <label id="UnitCodeTitle"></label>
                                    <label id="UnitCode" class="badge badge-primary"></label>
                                    <label id="QtyPerUnitTitle"></label>
                                    <label id="QtyPerUnit" class="badge badge-primary"></label>
                                    <label id="UnitPerCtnTitle"></label>
                                    <label id="UnitPerCtn" class="badge badge-primary"></label>
                                    <button hidden type="button" value="edit" id="btnEdit" name="btnEdit" class="btn btn-danger btn-sm" onclick="editProduct()" style="visibility:hidden;">Edit</button>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-2">
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Artno, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control", id = "ddlPartNumber" })
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Unit Code</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Unit Code" id="unitCode" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Qty</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Packet</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Unit Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="UnPrice" id="UnitPrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Dis. %</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="%" id="PrDisPercent" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Dis. Am/Qty</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Amount" id="PrDisAmount" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>GST %</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="%" id="PrGSTPercent" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>GST Am/Qty</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Amount" id="PrGSTAmount" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th hidden>Cat</th>
                                                    <th>Product</th>
                                                    <th hidden>U.C</th>
                                                    <th>Qty</th>
                                                    <th hidden>Packet</th>
                                                    <th>Un Pr.</th>
                                                    <th>S Price</th>

                                                    <th>Disc %</th>
                                                    <th>Disc Amt</th>
                                                    <th>GST %</th>
                                                    <th>GST Amt</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button type="button" value="Edit Products" id="btnRemove" name="btnRemove" class="btn btn-primary btn-sm btn-round" onclick="EditProduct(this)" tabindex="0">Edit Product(s)</button>
                                        <button type="button" value="Edit Products" id="btnRemoveProduct" name="btnRemoveProduct" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                        
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Expenses</label>
                                            <br>
                                            @Html.EditorFor(model => model.Expenses, new { htmlAttributes = new { @class = "form-control", name = "expenseInput", id = "expenseInput", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                            @Html.ValidationMessageFor(model => model.Expenses, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Description</label>
                                            <br>
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "ExpenseDesc", name = "ExpenseDesc" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            @Html.LabelFor(model => model.VAT)
                                            <br>
                                            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "VAT (%)" } })
                                        </div>
                                        

                                        <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                                            <label>GST%</label>
                                            <br>
                                            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "GST(%)" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-1">
                                            <label>Disc Amt</label>
                                            <br>
                                            <input class="form-control" id="discountAmount" name="discountAmount" disabled />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-1">
                                            <label>Gst Amt</label>
                                            <br>
                                            <input class="form-control" id="vatAmount" name="vatAmount" disabled />
                                        </div>
                                        <div class="col-md-2">
                                            <label>Total Amount</label>

                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2">
                                            <label>Balance</label>
                                            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                        </div>
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Balance</label>
            <br>
            <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
        </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="form-section"><i class="icon-eye6"></i>Payment Details</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                    @*<label>Bank Name</label>
                                                        <input class="form-control" id="bankName" name="bankName" placeholder="BankName" disabled />*@
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*PopUp For adding and editing Product *@
                                <div class="modal" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModal" aria-hidden="true" data-backdrop="static">
                                    <div id="newProductContainer">
                                    </div>
                                </div>
                                <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="EditProductModal" aria-hidden="true" data-backdrop="static">
                                    <div id="editProductContainer">
                                    </div>
                                </div>
                                @*END PopUp For adding and editing Product *@
                                @*PopUp For adding New Group*@
                                @*<div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModal" aria-hidden="true" data-backdrop="static">
                                        <div id="newGroupContainer">
                                        </div>
                                    </div>
                                    END PopUp For adding New Group*@
                                @*PopUp For adding New Vehicle Model*@
                                <div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog" aria-labelledby="newVehicleModal" aria-hidden="true" data-backdrop="static">
                                    <div id="newVehicleContainer">
                                    </div>
                                </div>
                                @*END PopUp For adding New Vehicle Model*@
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }
                            @*PopUp For adding and Customer *@
                            <div class="modal" id="newVendorModal" tabindex="-1" role="dialog" aria-labelledby="newVendorModal" aria-hidden="true" data-backdrop="static">
                                <div id="newVendorContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        //document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('PurchaseDate').valueAsDate = new Date();
    $('#AccountID').select2();
    $('#Qty').prop('disabled', false);

        $('#VendorCode').select2();
        $('#ddlVehCode').select2();
        //$('#ddlPartNumber').select2();
        //onunblock - callback
    </script>
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts/extensions/block-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/poScripts/partialCrud.js"></script>
    <script src="~/Scripts/poScripts/EditPurchaseOrderProducts_1.js"></script>
    <script src="~/Scripts/poScripts/EditPurchaseInvoice_1.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    @*<script src="~/Scripts/customScripts/partialVendor.js"></script>*@
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
