﻿@model IEnumerable<POSOman.Models.tmp_PO>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">PURCHASE ORDERS</h2>  
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">

                            <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            PO No.
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                        </th>                                       
                                        <th>
                                           Date
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAmount)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PurchaseCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                            </td>                                           
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.PurchaseDate)*@
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalAmount)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Details", "PurchaseOrderDetails", new { id = item.OrderID })|
                                                @Html.ActionLink("Delete", "DeletePOrder", new { id = item.OrderID })|
                                                @if (item.IsPurchased == false)
                                                { @Html.ActionLink("Submit", "GotoNewOrder", new { tOrderID = item.OrderID })}
                                                else { @Html.Label("Purchased") }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblPO').dataTable({
            aoColumnDefs: [
          
            { "aTargets": [0], "bSortable": true },
            { "aTargets": [3], "bSortable": true },           
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {
                        
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Purchase Orders List</h4>';

                       
                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        //$('#tblPO').DataTable({
        //    dom: 'Bfrtip',
        //    buttons: [
        //        {
        //            extend: 'print',
        //            exportOptions: {
        //                columns: [0, 1, 2, 3]
        //            }
        //        }
        //    ]
        //});
        //var table = $('#tblPO').DataTable();
        //// Sort by column 1 and then re-draw
        //table
        //    .order([0, 'desc'])
        //    .draw();
    </script>
}
