﻿@model IEnumerable<POSOman.Models.tbl_PurchaseOrder>
@using POSOman.Models.BLL;
@{
    /**/

    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Purchase Request List</h2>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th> Auto Invoice No </th>
                                            <th> Invoice No </th>
                                            <th> @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName) </th>
                                            <th hidden> VAT </th>
                                            <th hidden> @Html.DisplayName("Discount") </th>
                                            <th> @Html.DisplayNameFor(model => model.TotalAmount) </th>
                                            <th> Date </th>
                                            <th> Files </th>
                                            <th> </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>  @("PR-" + item.POID) </td>
                                                <td> @Html.DisplayFor(modelItem => item.InvoiceNo) </td>
                                                <td> @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName) </td>
                                                <td hidden>
                                                    @{
                                                        decimal vat = item.VAT ?? 0;
                                                        <span> @vat.ToString("#,##0.00") </span>
                                                    }
                                                </td>
                                                <td hidden>
                                                    @{
                                                        decimal dsc = item.DiscountAmount ?? 0;
                                                        <span> @dsc.ToString("#,##0.00") </span>
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        <span> @(Helper.DigitsWithComma(item.TotalAmount)) </span>
                                                    }
                                                </td>

                                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate)) </td>

                                                <td>
                                                    @if (string.IsNullOrWhiteSpace(item.Picture))
                                                    {
                                                        @*<img src="~/Content/images/logo/noImage.png" alt="" border=3 height=100 width=100></img>*@
                                                        <span style="color:red; font-weight:bold;font-size:smaller;">No Img</span>
                                                    }
                                                    else
                                                    {


                                                        if (System.IO.File.Exists(Server.MapPath(item.Picture)))
                                                        {
                                                            @*<img src=@item.Picture alt="" border=3 height=100 width=100></img>*@
                                                            <i id="previewImage" title="View Image" class="fa fa-eye" aria-hidden="true" data-name="@item.Picture" onclick="previewImageMethod(this)"></i>
                                                        }
                                                        else
                                                        {
                                                            @*<img src="~/Content/images/logo/noImage.png" alt="" border=3 height=100 width=100></img>*@
                                                            <span style="color:red; font-weight:bold;font-size:smaller;">No Img</span>
                                                        }


                                                    }
                                                </td>
                                                <td>
                                                    @if (item.Can_Modify == null || item.Can_Modify == true)
                                                    {

                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                                                <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                @if (item.Can_Modify == null || item.Can_Modify == true)
                                                                {
                                                                    @Html.ActionLink("Create Purchase", "PurchaseFromPurchaseRequest", new { id = item.OrderID }, new { @class = "dropdown-item" });
                                                                    @Html.ActionLink("Details", "ExportPurchaseRequest", new { id = item.OrderID }, new { @class = "dropdown-item" });
                                                                    @Html.ActionLink("Delete", "PurchaseRequestDelete", new { id = item.OrderID }, new { @class = "dropdown-item" });

                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink("Details", "ExportPurchaseRequest", new { id = item.OrderID }, new { @class = "dropdown-item" });
                                                                }

                                                                <span class="dropdown-item" onclick="OpenFileBrowse(@item.OrderID)"> Upload File</span>
                                                                <input type="file" id="imgUpload" accept=".jpg, .jpeg, .png" style="display: none;" />

                                                            </div>
                                                            @*<a class="dropdown-item" href="#">Separated link</a>*@

                                                        </div>






                                                        @*@Html.ActionLink("Create Purchase", "PurchaseFromPurchaseRequest", new { id = item.OrderID }, null);
                                                            <text>|</text>
                                                            @Html.ActionLink("Details", "ExportPurchaseRequest", new { id = item.OrderID }, null);
                                                            <text>|</text>*@
                                                        @*@Html.ActionLink("Edit", "GetEditPurchaseInvoice", new { id = item.OrderID }, null);
                                                            <text>|</text>*@
                                                        @*@Html.ActionLink("Delete", "PurchaseRequestDelete", new { id = item.OrderID });*@

                                                    }
                                                    else
                                                    {
                                                        <span style="color:green">Created</span>
                                                        <span class="btn btn-primary btn-sm btn-round" onclick="OpenFileBrowse(@item.OrderID)"> Upload File</span>
                                                        <input type="file" id="img" accept=".jpg, .jpeg, .png" style="display: none;" />

                                                        @*@Html.ActionLink("Details", "Export", new { id = item.OrderID }, null)*@
                                                        @*@Html.ActionLink("Export", "Purchase", new { id = item.OrderID }, null);*@
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="hdnOrderID" />
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script src="~/Scripts/customScripts/helper.js"></script>

    <script>

        //var button = document.getElementById('previewImage');

        //button.onclick = previewImageMethod;

        function previewImageMethod(attr) {
            var url = attr.getAttribute('data-name');
            if (url != null && url != undefined && url != "") {
                var myImage = new Image();
                myImage.src = url;
                swal({
                    button: false,
                    icon: url
                });
            }
        }

        function OpenFileBrowse(OrderID) {
            if (OrderID > 0) {
                $("#hdnOrderID").val(OrderID);
                $("#imgUpload").click();

            }
            else {
                $("#hdnOrderID").val(null);
            }

        }

        $('#imgUpload').change(function () {
            var OID = +$("#hdnOrderID").val() || 0;
            if ($(this).val() != "" && OID > 0) {
                console.log("inside change...")
                var fileUpload = document.getElementById("imgUpload");
                var fileData = new FormData();
                //$("#imgselected").empty();

                console.log("after file data...")
                if (typeof (fileUpload.files) != "undefined") {
                    uiBlock();
                    console.log("inside block...")
                    //var reader = new FileReader();
                    //reader.readAsDataURL(fileUpload.files[0]);

                    var f = fileUpload.files;
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        fileData.append(f[i].name, f[i]);
                        //$("#imgselected").append('<p>' + fileUpload.files[i].name + '</p>')
                    }

                    if (fileUpload.files.length > 0) {
                        console.log("filelength>1...")
                        $.ajax({
                            url: '/Purchase/UploadImg?OrderID=' + OID + '&&ForOrderType=2',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            async: false,
                            success: function (result) {
                                uiUnBlock();
                                swal(result);

                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500);
                            },
                            error: function (err) {
                                swal(err.statusText);
                            }
                        });
                    }

                    //reader.onload = function (e) {
                    //    debugger
                    //    var image = new Image();
                    //    image.src = e.target.result;
                    //    image.onload = function () {
                    //        debugger
                    //        var height = this.height;
                    //        var width = this.width;
                    //        $(".errorProfile").text("")
                    //        //return true;

                    //        // upload image after selection



                    //    };
                    //}
                }
                else {
                    //$(".errorProfile").text("This browser does not support HTML5.")
                    //return false;
                }
            }
            uiUnBlock();
        });
    </script>
    <script type="text/javascript">
        $('#tblPO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [3], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [5], "bSortable": true },
            { "aTargets": [6], "bSortable": true },

            { "aTargets": [4], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {


                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Purchase Request List </h4>';
                    },
                    messageBottom:'<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 5,6]
                    }
                },
                 {
                    extend: 'excel',
                    title:'',
                    messageTop: function () {


                       // return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Purchases List </h4>';
                    },
                    messageBottom:'<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 5,6,8,9]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });







        //function OpenFileBrowse(OrderID) {
        //    if (OrderID > 0) {
        //        $("#img").click();

        //        var fileUpload = document.getElementById("img");
        //        //$("#imgselected").empty();
        //        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
        //        if (regex.test(fileUpload.value.toLowerCase())) {

        //            if (typeof (fileUpload.files) != "undefined") {
        //                //var reader = new FileReader();
        //                //reader.readAsDataURL(fileUpload.files[0]);
        //                var fileData = new FormData();
        //                var files = fileUpload.files;
        //                for (var i = 0; i < fileUpload.files.length; i++) {
        //                    fileData.append(files[i].name, files[i]);
        //                    //$("#imgselected").append('<p>' + fileUpload.files[i].name + '</p>')
        //                }
        //                if (fileUpload.files.length > 0) {
        //                    uiBlock();
        //                    $.ajax({
        //                        url: '/Purchase/UploadImg?OrderID=' + OrderID + '&&ForOrderType=1',
        //                        type: "POST",
        //                        contentType: false, // Not to set any content header
        //                        processData: false, // Not to process data
        //                        data: fileData,
        //                        async: true,
        //                        success: function (result) {
        //                            swal(result);

        //                            setTimeout(function () {
        //                                window.location.reload();
        //                            }, 1500);
        //                        },
        //                        error: function (err) {
        //                            uiUnBlock();
        //                            swal(err.statusText);
        //                        }
        //                    });
        //                }

        //                //reader.onload = function (e) {
        //                //    debugger
        //                //    var image = new Image();
        //                //    image.src = e.target.result;
        //                //    image.onload = function () {
        //                //        debugger
        //                //        var height = this.height;
        //                //        var width = this.width;
        //                //        $(".errorProfile").text("")
        //                //        //return true;

        //                //        // upload image after selection



        //                //    };
        //                //}
        //            }
        //            else {
        //                //$(".errorProfile").text("This browser does not support HTML5.")
        //                //return false;
        //            }
        //        }
        //        else {
        //            //$(".errorProfile").text("Please select a valid Image file.")
        //            //return false;
        //        }
        //    }
        //    uiUnBlock();
        //}
    </script>
}
