﻿@model POSOman.Models.tmp_PO

@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("PurchaseOrder", "Purchase",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))

                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Purchase Order</h4>
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                        <input type="hidden" id="POID" name="POID">
                                        <input type="hidden" id="hdnProductID" name="hdnProductID">
                                        <input type="hidden" id="tmpOrderID" name="tmpOrderID">
					<input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">   
                                        <input type="hidden" id="isPacket" name="isPacket">
                                        <input type="hidden" id="isMinor" name="isMinor">
                                        <input type="hidden" id="LevelID" name="LevelID"> 
                                        <input type="hidden" id="minorDivisor" name="minorDivisor">
                                        <input type="hidden" id="exRate" name="exRate">
                                        <input type="hidden" id="poCode" name="poCode">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>PurchaseCode</label>
                                            <br>
                                            @Html.EditorFor(model => model.PurchaseCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Currency</label>
                                            <br>
                                            @Html.DropDownList("Currency", new List<SelectListItem>{
                                                   new SelectListItem{ Text="PKR", Value = "1" },
                                                   new SelectListItem{ Text="DLR", Value = "2" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), "Select Branch", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                        </div>*@
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Vendor</label>
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Date</label>
                                            <br>
                                            @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "PurchaseDate", id = "PurchaseDate" } })
                                            @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                        </div> 
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Total Amount</label>
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" , @readonly = "readonly" } })                                            
                                        </div>                                      
                                    </div>                                   
                                    <h4 class="form-section"><i class="ft-activity"></i>Products Entry </h4>
                                    <label id="DescriptionTitle"></label>
                                    <label id="Description" class="badge badge-info"></label>
                                    <label id="SubsTitle"></label>
                                    <label id="SubstituteNo" class="badge badge-primary"></label>
                                    <label id="VehModelTitle"></label>
                                    <label id="VehModel" class="badge badge-info"></label>
                                    <label id="GroupTitle"></label>
                                    <label id="Group" class="badge badge-primary"></label>
                                    <label id="LocationTitle"></label>
                                    <label id="Location" class="badge badge-info"></label>
                                    <label id="UnitCodeTitle"></label>
                                    <label id="UnitCode" class="badge badge-primary"></label>
                                    <label id="QtyPerUnitTitle"></label>
                                    <label id="QtyPerUnit" class="badge badge-primary"></label>
                                    <label id="UnitPerCtnTitle"></label>
                                    <label id="UnitPerCtn" class="badge badge-primary"></label>
                                    <button hidden type="button" value="edit" id="btnEdit" name="btnEdit" class="btn btn-danger btn-sm" onclick="editProduct()" style="visibility:hidden;">Edit</button>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-2">
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(""), "Select Product", htmlAttributes: new { @class = "select2 form-control",id= "ddlPartNumber" })
                                            </div>
                                            @*<div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Artno, "Value", "Name"), "Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>*@  
                                            @*<div class="col-sm-2">
                                                <label>BarCode</label>
                                                <br />
                                                <input type="text"  class="form-control" placeholder="Bar Code" id="BarCode" autofocus />
                                            </div>*@
                                            <div class="col-sm-1">
                                                <label>Unit Code</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Unit Code" id="unitCode" disabled/>
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Qty</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            @*<div class="col-sm-1">
                                                <label>BOX</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Qty/Unit" id="Units" disabled/>
                                            </div>*@                                            
                                            <div class="col-sm-1">
                                                <label>Unit Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="UnPrice" id="UnitPrice" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Exc Price</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Exc UnPr." id="exUnitPrice" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Total wt.</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Weight" id="totalWeight" disabled/>
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Cat</th>
                                                    <th>Product</th>
                                                    @*<th>Description</th>*@
                                                    <th hidden>Location</th>
                                                    <th>U.C</th>
                                                    <th>Qty</th>
                                                    <th>Un Pr.</th>
                                                    <th hidden>Ex UPrice</th>
                                                    <th>Total wt.</th>
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                    </div>
                                    <hr />                              
                                </div>
                                <div class="form-actions left">                                   
                                    <input type="button" id="btnCreate" value="Create" class="btn btn-primary" />
                                </div>
                            }
                            <div class="loader"></div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
<script type="text/javascript">
    $('#BranchID').select2();
    $('#Currency').select2();    
    $('#ddlVehCode').select2();
    //$('#ddlPartNumber').select2();
    $('#AccountID').select2();
        document.getElementById('PurchaseDate').valueAsDate = new Date();
</script>
    <script>
    // If currency is AED then perform actions
        $("#Currency").on("change", function () {
            var currencyID = $("#Currency").val();
            if (currencyID == 1) {
                onCurrChange();
            }
            if (currencyID == 2) {
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '/Purchase/getCurrency',
                    async: true,
                    success: function (data) {
                        console.log(currencyID+" CurrencyID");
                        $("#exRate").val(data);
                        calcTotal();
                        onCurrChange();
                    },
                    error: function (err) { console.log(err); }
                });                
            }
        });
        function onCurrChange() {           
            $('#tblProduct  tbody tr').each(function (i, row) {                
                var $row = $(row);
                var Qty = $row.find("#ProductQty").text();
                var UnitPrice = $row.find("#ProductCostPrice").text();                
                var currency = $('#Currency').val();
                if (currency == 2) {
                    var convRate = $('#exRate').val();
                    UnitPrice = UnitPrice * convRate;                    
                    $row.find("#exchangePrice").text(parseFloat(UnitPrice).toFixed(2));
                }
                else {
                    $row.find("#exchangePrice").text("");
                }
                if (($.isNumeric(UnitPrice)) && ($.isNumeric(Qty))) {
                    var amount = (Qty * UnitPrice);                    
                    $row.find("#ProductSubTotal").text(parseFloat(amount).toFixed(2));
                    calcTotal();
                }
                else {
                    $row.find("#ProductSubTotal").text("");
                }
            });
        }
</script>    
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>    
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/poScripts/addPurchaseOrderProducts_1.js"></script>
    <script src="~/Scripts/poScripts/purchaseOrder.js"></script>    
<script src="~/Scripts/customScripts/helper.js"></script>
}
