﻿@model POSOman.Models.tbl_JDetail
@using POSOman.Models;

@{ 
    ViewBag.Title = "Expense Voucher";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>  Expense Receipt</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-5" style="text-align:center; align-content:center">
                    <h2><img src="@adddata.Logo" />  @adddata.Title</h2>
                </div>
                <div class="col-md-11" style="text-align:center ">
                    <h6>@adddata.FullAddress</h6>
                    <hr /><br />
                    <h4>@ViewBag.Title</h4>
                    <br />
                </div>


            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Acc Code:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.tbl_AccountDetails.AccountCode
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Acc Name:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.tbl_AccountDetails.AccountName
                            </div>
                           
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Voucher Date: </strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label><strong>Description:</strong></label>
                            </div>
                            <div class="col-md-7">
                                @Model.tbl_JEntry.Description
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Voucher Code:</strong></label>
                            </div>
                            <div class="col-md-6">
                                JD-@Model.tbl_JEntry.JEntryId
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Generated By:</strong></label>
                            </div>
                            <div class="col-md-6">
                                @{
                                    var userid = @Model.tbl_JEntry.UserName;
                                    var username = db.AspNetUsers.Where(a => a.Id == userid).Select(a => a.UserName).FirstOrDefault();
                                    <span> @username </span>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label><strong>Generated Date:</strong></label>
                            </div>
                            <div class="col-md-6">
                                @Model.tbl_JEntry.AddOn.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                        </div>
                        <div class="form-group row">
                            @if (Model.tbl_JEntry.DepartmentID != null )
                            {
                                //var data = db.tbl_SalesOrder1.Where(a => a.OrderID == Model.tbl_JEntry.SaleOrderID).Select(a => a.StrCode).FirstOrDefault();
                                //if (data != null)
                                //{
                                    <div class="col-md-6">
                                        <label><strong>Department:</strong></label>
                                    </div>
                                    <div class="col-md-6">
                                        <span> @Model.tbl_JEntry.tbl_Department.Department </span>
                                    </div>
                                //}
                            }

                        </div>

                        @if (Model.tbl_JEntry.BankName != null && Model.tbl_JEntry.BankName != "")
                        {
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label><strong>Bank Name:</strong></label>
                                </div>
                                <div class="col-md-6">
                                    @Model.tbl_JEntry.BankName
                                </div>
                            </div>
                        }

                        @if (Model.tbl_JEntry.ChequeDate != null)
                        {
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label><strong>Cheque Date:</strong></label>
                                </div>
                                <div class="col-md-6">
                                    @Model.tbl_JEntry.ChequeDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                                </div>
                            </div>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th class="center">#</th>
                        <th>Description</th>
                        <th class="right">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">1</td>
                        <td class="left strong">@Model.tbl_JEntry.Description</td>

                        <td class="right">
                            @{ 
                                decimal Amount = Model.tbl_JEntry.Amount ?? 0;
                                <span> @Amount.ToString("#,##0.00") </span>
                            }
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
    <div class="col-lg-4 col-sm-5 ml-auto">
        <table class="table table-clear">
            <tbody>
                <tr>
                    <td class="left">
                        <strong>Total</strong>
                    </td>
                    <td class="right">
                        <strong>
                            @{
                                <span> @Amount.ToString("#,##0.00") </span>
                            }
                        </strong>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    <p>Developed By: @adddata.DevelopBy</p>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" style="margin: 1px;"> Back</button>
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
        function Back() {
            window.location.href = '/Expenses';
        }
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/Expenses';
        }
    </script>
</body>
</html>