﻿<!DOCTYPE html>
<html>
<head>
    @model POSOman.Models.tbl_JDetail
    <title>Voucher</title>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        .button {
            background-color: #2b72e3;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        #invoice-POS {
            box-shadow: 0 0 1in -0.15in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 77mm;
            background: #FFF;
            :: selection;

        {
            background: #f31544;
            color: #FFF;
        }

        ::moz-selection {
            background: #f31544;
            color: #FFF;
        }

        h1 {
            font-size: 1.5em;
            color: #222;
        }

        h3 {
            font-size: 1.2em;
            font-weight: 300;
            line-height: 2em;
        }

        p {
            font-size: .7em;
            color: #666;
            line-height: 1.2em;
        }

        #top, #mid, #bot { /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }

        #top {
            min-height: 100px;
        }

        #mid {
            min-height: 80px;
        }

        #bot {
            min-height: 50px;
        }

        .info {
            display: block;
            //float:left;
            margin-left: 0;
        }

        .title {
            float: right;
        }

            .title p {
                text-align: right;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .tabletitle {
            font-size: .5em;
            background: #EEE;
        }

        .service {
            border-bottom: 1px solid #EEE;
        }

        .item {
            width: 24mm;
        }

        .itemtext {
            font-size: .5em;
        }

        #legalcopy {
            margin-top: 5mm;
        }
    </style>
</head>
<body>

    <div id="invoice-POS">

        <center id="top">
            <div class="logo">
                <img style="width: 140px;height: 80px; margin-top:1px;" src="@ViewBag.Picture">
            </div>
            <div>
                <h2 style="font-size: 28px; margin-bottom: 5px;"><u>@ViewBag.CompanyName</u></h2>

            </div><!--End Info-->
        </center><!--End InvoiceTop-->

        <div>
            <div style="border: 1px solid black; margin-bottom: 5px;">
                <center style="font-size:0.9em;">
                    <br />@ViewBag.CompanyAddress
                    <br />
                </center>
            </div>
        </div><!--End Invoice Mid-->

        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>EXPENSE VOUCHER</b></center>
        </div>
        <div>
            <table>
                <tr>
                    <td><b>PAID AGAINST : </b></td>
                    <td>@Model.tbl_AccountDetails.AccountCode | @Model.tbl_AccountDetails.AccountName</td>
                </tr>

                <tr>
                    <td><b>DATE : </b></td>
                    <td>@Model.tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                </tr>
                @if (String.IsNullOrEmpty(@Model.tbl_JEntry.BankName))
                {
                    <tr>
                        <td>PAID :</td>
                        <td><strong>CASH</strong></td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><b>BANK : </b></td>
                        <td>@Model.tbl_JEntry.BankName</td>
                    </tr>
                }
                @if (@Model.tbl_JEntry.ChequeNumber != null)
                {
                    <tr>
                        <td><b>CHQ No. : </b></td>
                        <td>@Model.tbl_JEntry.ChequeNumber</td>
                    </tr>
                }
                @if (@Model.tbl_JEntry.ChequeDate != null)
                {
                    <tr>
                        <td><b>CHQ DATE </b></td>
                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.tbl_JEntry.ChequeDate))</td>
                    </tr>
                }
                <tr>
                    <td><b>Detail : </b></td>
                    <td>@Model.Detail</td>
                </tr>
            </table>
        </div>
        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>DETAILS</b></center>
        </div>
        <div>
            <table style="font-size: 14px; overflow-x:auto; width:100%;">
                <thead>
                    <tr>
                        @*<th>#</th>*@
                        <th style="text-align:left;">Description</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <hr />
                        </th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        @*<td>1</td>*@
                        <td>
                            <b>@Model.tbl_JEntry.Description</b> <br />
                        </td>

                        <td style="text-align:center;">
                            @Model.tbl_JEntry.Amount.Value.ToString("0.00")
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

        <div style="margin-top: 8px;">
            <h6 style="padding-bottom: 10px;">Sign & Stamp</h6>
            <p style="padding-top: 10px; padding-bottom:20px;">_____________________</p>

            <center><h6 style="margin-top: 5px;">Developed By : Mangotech Solutions </h6></center>
            <center><h6>Call : 03443607167</h6></center>
        </div>

    </div><!--End Invoice-->
    <button id="printdiv" class="button" onclick="printContent('invoice-POS'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="printdiv" class="button" onclick="Back(); return false;" type="button" style="margin: 1px;">Back <i class="fa fa-print"></i></button>
    <script>
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('tblProducts');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }

        function Back() {
            window.location.href = '/Expenses';
        }
        function printContent(el) {

            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
            //window.print();
            //document.body.innerHTML = restorepage;
        }

    </script>
</body>

</html>

