﻿@model IEnumerable<POSOman.Models.tbl_JDetail>

@using POSOman.Models;

@{
    ViewBag.Title = "Expense Voucher";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<head>
    <style>
        @@media print {
            html, body {
                height: 90vh;
            }
        }
    </style>
</head>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>EXPENSES LIST</h2> <br />
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th> V-Code </th>
                                            <th> Department </th>
                                            <th>
                                                Voucher
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Account
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                            <th hidden>
                                                Detail
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>JD-@item.JEntryID </td>
                                                <td>
                                                    @{
                                                        if (item.tbl_JEntry.tbl_Department == null)
                                                        {
                                                            @("-")
                                                        }
                                                        else
                                                        {
                                                            @(item.tbl_JEntry.tbl_Department.Department ?? "-")
                                                        }
                                                    }

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherName)
                                                </td>
                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_JEntry.VoucherDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.Description)
                                                </td>
                                                <td>
                                                    @{
                                                        decimal amount = item.Dr;
                                                        <span> @amount.ToString("#,##0.00") </span>
                                                    }
                                                </td>
                                                <td hidden>
                                                    @Html.DisplayFor(modelItem => item.Detail)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.JEntryID }) 
                                                    | @Html.ActionLink("Edit", "Edit", new { id = item.JEntryID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })
                                                </td>

                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblPO').dataTable({
                aoColumnDefs: [
                { "aTargets": [5], "bSortable": true },
                { "aTargets": [2], "bSortable": true },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": true },
                { "aTargets": [1], "bSortable": true, "sType": "date-uk" },
                ],
                "order": [[0, "desc"]],
                dom: 'frtip',
                    buttons: [
                        {
                            extend: 'print',
                            title: '',
                            messageTop: function () {
                                return '<h1  align="center"> <img src="@adddata.Logo" class="brand-logo"> @adddata.Title</h1><h5 align="center">@adddata.FullAddress </h5><h5 align="center">Contact: @adddata.Contact1</h5><hr /><h4 align="center">@ViewBag.Title</h4>';

                            },
                            messageBottom: '<br/><h6 align="center">Developed By: @adddata.DevelopBy</h6>',
                            exportOptions: {
                                columns: [0, 1,2,3,4,5]
                            },
                        }
                ],
            });
        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
    <script type="text/javascript">

    </script>
}
