﻿@model POSOman.Models.tbl_Branch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>    
    
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>          
        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentExpiry)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.DocumentExpiry, "{0:dd/MM/yyyy}")*@
            @Html.ValueFor(model => model.DocumentExpiry, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document1Expiry)
        </dt>
        <dd>
            @Html.ValueFor(model => model.Document1Expiry, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document2Expiry)
        </dt>
        <dd>
            @Html.ValueFor(model => model.Document2Expiry, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document3Expiry)
        </dt>
        <dd>
            @Html.ValueFor(model => model.Document3Expiry, "{0:dd/MM/yyyy}")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document4Expiry)
        </dt>
        <dd>
            @Html.ValueFor(model => model.Document4Expiry, "{0:dd/MM/yyyy}")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BranchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
