﻿@model POSOman.Models.tbl_Branch

@{
    ViewBag.Title = "Edit";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Branch</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Group">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Branch</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Edit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            @using (Html.BeginForm("Edit", "Branch",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.BranchID)
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Branch Info</h4>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput1">Branch Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.BranchName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Code</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document Expiry</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.DocumentExpiry, new { htmlAttributes = new { @class = "form-control", type = "date", name = "ExpiryDate", id = "ExpiryDate" } })
                                            @Html.ValidationMessageFor(model => model.DocumentExpiry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document1 Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Document1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document1 Expiry</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document1Expiry, new { htmlAttributes = new { @class = "form-control", type = "date"  } })
                                            @Html.ValidationMessageFor(model => model.Document1Expiry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document2 Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document2, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Document2, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document2 Expiry</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document2Expiry, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            @Html.ValidationMessageFor(model => model.Document2Expiry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document3 Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document3, new { htmlAttributes = new { @class = "form-control" }})
                                            @Html.ValidationMessageFor(model => model.Document3, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document3 Expiry</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document3Expiry, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            @*@Html.TextBoxFor(model => model.Document3Expiry, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", type = "date" } })*@
                                            @Html.ValidationMessageFor(model => model.Document3Expiry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document4 Name</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document4, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Document4, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="projectinput2">Document4 Expiry</label>
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.Document4Expiry, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                                            @Html.ValidationMessageFor(model => model.Document4Expiry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    @*<button type="button" class="btn btn-warning mr-1">
                                            <i class="ft-x"></i> Cancel
                                        </button>*@
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>


