﻿@model IEnumerable<POSOman.Models.tbl_Branch>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">                
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <h2>BRANCHES</h2>   
                            <table id="tblBranch" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Code)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BranchName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DocumentName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DocumentExpiry)
                                        </th>


                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Code)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BranchName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DocumentName)
                                            </td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DocumentExpiry))
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.BranchID })|
                                                @Html.ActionLink("Detail", "Details", new { id = item.BranchID })|
                                                @Html.ActionLink("Delete", "Delete", new { id = item.BranchID })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
            $('#tblBranch').dataTable({
                aoColumnDefs: [
                { "aTargets": [1], "bSortable": true },
                { "aTargets": [2], "bSortable": true },                
                { "aTargets": [3], "bSortable": true, "sType": "datetime-moment" },
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        messageTop: function () {                           

                            //if ( printCounter === 1 ) {
                            //return '<h3 style="margin-top:208px; margin-bottom:76px;" align="center">Branch List</h3>';
                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Branches List</h4>';
                            //}
                            //else {
                            //    return 'You have printed this document '+printCounter+' times';
                            //}
                        },
                        title:'',
                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }                        
                    }
                ]
            });

        });

        //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        //    "date-uk-pre": function (a) {
        //        var ukDatea = a.split('/');
        //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
        //    },

        //    "date-uk-asc": function (a, b) {
        //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        //    },

        //    "date-uk-desc": function (a, b) {
        //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        //    }
        //});
        //$('#tblBranch').DataTable({
        //    dom: 'Bfrtip',
        //    buttons: [
        //        {
        //            extend: 'print',
        //            exportOptions: {
        //                columns: [0, 1,2,3]
        //            }
        //        }
        //    ]
        //});
    </script>

}