﻿@model IEnumerable<POSOman.Models.GetStockFilterWise_Result>

@using POSOman.Models

@{
    var db = new dbPOS();
}
<div class="card-content collapse show">
    <div class="row">

        @if (Model != null)
        {
            decimal totalCost = 0;
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                        @*<th >Branch</th>*@
                        <th>
                            Department
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Sub-Category
                        </th>

                        <th>
                            BarCode
                        </th>
                        <th>
                            Product Item ID
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Unit Code
                        </th>

                        <th>
                            Qty
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.CostPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalCostPrice)
                        </th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubCategory)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BarCode)
                            </td>
                            <td>
                                @{
                                    @("C-"+item.ProductID)
                                    @*var ItemID = db.tbl_StockIssuanceDetails.Where(x => x.ProductID == item.ProductID).Select(x => x.tbl_StockIssuance.ItemID).FirstOrDefault();

                                        if( ItemID > 0)
                                        {
                                            @("C-"+ItemID)
                                        }
                                        else
                                        {
                                            @("-")
                                        }*@
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PartNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitCode)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>
                            <td>
                                @if (item.CostPrice > 0)
                                {
                                    @((item.CostPrice).ToString("#,##0.00"))
                                }
                                else
                                {
                                    @(0)
                                }

                            </td>
                            <td>
                                @if (item.TotalCostPrice.HasValue)
                                {
                                    totalCost += Convert.ToDecimal(item.TotalCostPrice);
                                    @(item.TotalCostPrice.Value.ToString("#,##0.00"))
                                }
                                else
                                {
                                    @(0)
                                }

                            </td>

                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.ProductID, BranchID = item.BranchID })
                                @*@Html.ActionLink("Batch", "FIFOStock", new { id = item.ProductID, BranchID = item.BranchID })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <label>Total Cost</label>
                <input type="text" id="totalCost" value="@totalCost.ToString("#.##")" readonly class="form-control" />
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
