﻿@model IEnumerable<POSOman.Models.GetStockFilterWise_Result>
<div class="card-content collapse show">
    <div class="card-body card-dashboard">
        <div class="row">
            @if (Model != null)
            {
                <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                    <thead>
                        <tr>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.tbl_Product.ProductID)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.VehicleCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PartNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubstituteNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Location)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Qty)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalePrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BranchName)
                            </th>

                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.tbl_Product.ProductID)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>                                
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubstituteNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CostPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalePrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.ProductID })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            }
        </div>
    </div>
</div>
