﻿@model IEnumerable<POSOman.Models.GetConsumedStockFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            @*<div class="col-md-4 mb-3">
                <label>Total Sales</label>
                <input type="text" class="form-control" readonly="readonly" value=@Model.First().TotalSales id="totalSales">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Total Return</label>
                <input type="text" class="form-control" readonly="readonly" value=@Model.Last().TotalReturn id="totalReturn">
            </div>*@
            <div class="card-body card-dashboard">
                <table id="tblProducts" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th >
                                Branch
                            </th>
                            <th>
                               Product
                            </th>
                            <th>
                                Consumption Date
                            </th>
                           
                            <th>
                                Qty
                            </th>
                         
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td >
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PartNo)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.InvoiceDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                              
                            </tr>
                        }
                    </tbody>

                </table>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

} 