﻿@model IEnumerable<POSOman.Models.GetStockExpiryFilterWise_Result>
<div class="card-content collapse show">
    <div class="row">

        @if (Model != null)
            {
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                        <th>Branch</th>
                        <th>
                            Category
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            BarCode
                        </th>
                        <th>
                            Product
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CostPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpiryDate)
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BarCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Qty)
                            </td>                           
                            <td>
                                @{ 
                                    decimal costprice = Convert.ToDecimal(item.CostPrice);
                                    <span> @costprice.ToString("#,##0.00") </span>
                                }
                                @*@if (item.CostPrice > 0)
                                { @((item.CostPrice).ToString("0.00")) }*@
                            </td>
                            <td>
                                @if (item.SalePrice.HasValue)
                                {
                                    decimal saleprice = Convert.ToDecimal(item.SalePrice);
                                    <span> @saleprice.ToString("#,##0.00") </span>
                                    @*@(item.SalePrice.Value.ToString("0.00"))*@
                                }
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ExpiryDate))
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}


