﻿@model IEnumerable<POSOman.Models.DTO.StockLogDetails>

@{
    ViewBag.Title = "Details";
}
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
      
                <div class="card">
                    
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblStockLog" class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InvoiceDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                Product
                                            </th>
                                            @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
                                            <th>
                                                @Html.DisplayNameFor(model => model.StockIN)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StockOut)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.QtyBalance)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UnitCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CostPrice)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SalePrice)
                                            </th>

                                            <th>
                                                Order Type
                                            </th>
                                            <th></th>
                                            @*<th>
            @Html.Display("User InvoiceNo")
        </th>*@
                                            @*<th>
            @Html.DisplayNameFor(model => model.ReturnedQty)
        </th>*@
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PartNo)
                                            </td>
                                            @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.StockIN)*@
                                                @if (item.UnitID == 0 && (item.LevelID == 1))
                                                {
                                                    @(Convert.ToDecimal(item.StockIN / item.UnitPerCarton))
                                                }
                                                else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @(Convert.ToDecimal(item.StockIN / Convert.ToDecimal(item.UnitPerCarton) / 1000))
                                                }
                                                else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @(Convert.ToDecimal(item.StockIN) / Convert.ToDecimal(1000))
                                                }
                                                else
                                                {
                                                    @(Convert.ToInt32(item.StockIN))
                                                }
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.StockOut)*@
                                                @if (item.UnitID == 0 && (item.LevelID == 1))
                                                {
                                                    @(Convert.ToDecimal(item.StockOut / item.UnitPerCarton))
                                                }
                                                else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @(Convert.ToDecimal(item.StockOut / Convert.ToDecimal(item.UnitPerCarton) / 1000))
                                                }
                                                else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @(Convert.ToDecimal(item.StockOut) / Convert.ToDecimal(1000))
                                                }
                                                else
                                                {
                                                    @(Convert.ToInt32(item.StockOut))
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QtyBalance)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CostPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalePrice)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderType)
                                            </td>
                                            @*<td>
            @Html.DisplayFor(modelItem => item.UserReferenceID)
        </td>*@
                                            @*<td>
            @Html.DisplayFor(modelItem => item.S)
        </td>*@
                                            @*<td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>*@
                                            @*<td>
            @Html.DisplayFor(modelItem => item.CostPrice)
        </td>*@

                                            @*<td>
            @Html.DisplayFor(modelItem => item.ReturnedQty)
        </td>*@
                                            <td>
                                                @{
                                                    if (item.OrderTypeID == 1)
                                                    {@Html.ActionLink("Details", "Export", "Purchase", new { id = item.OrderID }, null) }
                                                else if (item.OrderTypeID == 2)
                                                {@Html.ActionLink("Details", "Details", "PurchaseReturn", new { id = item.OrderID }, null) }
                                            else if (item.OrderTypeID == 13)
                                            {@Html.ActionLink("Details", "StkIssuanceDetails", "StockIssuance", new { StkOrderID = item.OrderID }, null) }
                                        else if (item.OrderTypeID == 3)
                                        {@Html.ActionLink("Details", "Details", "SalesOrder", new { id = item.OrderID }, null) }
                                    else if (item.OrderTypeID == 4)
                                    {@Html.ActionLink("Details", "Details", "SalesReturn", new { id = item.OrderID }, null) }
                                                }
                                            </td>
                                        </tr>
                                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblStockLog').DataTable();
    </script>

}
