﻿@model IEnumerable<POSOman.Models.tbl_StockBatch>
<div class="card-content collapse show">
    <div class="row">
         @if (Model != null)
            {
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                        <th>
                            Branch
                        </th>
                        <th>
                            Product
                        </th>

                        <th>
                            Total Qty
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CostPrice)
                        </th>
                        <th>
                           Expiry
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>                         
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                            </td>
                            <td>
                               
                                    @((item.Qty))
                            </td>
                            <td>
                                
                               
                                    @((item.CostPrice).ToString("0.00"))
                            </td>
                            <td>
                                @if (item.BatchID == "OldStock-1001")
                                {
                                    @Html.DisplayFor(modelItem => item.OpeningExpiry)
                                }
                                else
                                {
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ExpiryDate))
                                }
                            </td>
                           
                        </tr>
                    }
                </tbody>

            </table>
           
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
