﻿@model IEnumerable<POSOman.Models.GetStockFilterWise_Result>
<head>
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style></head>
<div class="card-content collapse show">
    <div class="row">
        <h2>QUICK STOCK</h2> <br />    <br />    <br />           
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                       
                        <th>
                           Category
                        </th>
                        <th>
                           Product
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                       
                        <th>
                            @Html.DisplayName("Qty")
                        </th>
                        <th>
                            @Html.DisplayName("CostPrice")
                        </th>
                        <th>
                            @Html.DisplayName("SalePrice")
                        </th>
                        @*<th hidden>
                            @Html.DisplayName("BranchName")
                        </th>*@
                        
                    </tr>

                </thead>
                <tbody></tbody>

            </table>
        
    </div>
</div>
@section scripts{    
<script>
    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tblStock')) {
            $('#tblStock').dataTable().fnDestroy();
            $('#tblStock').dataTable().empty();
        }
        var complete = $('#tblStock').DataTable(
                {
                    "lengthMenu": [[10, 25, 50,100, 3000], [10, 25, 50,100, 3000]],
                    "serverSide": true,
                    "destroy": true,
                    "processing": true,
                    "bPaginate": true,
                    "sPaginationType": "full_numbers",
                    "ajax":
                    {
                        url: "/Stock/StockList",
                        method: "POST"
                    },
                    "columns": [
                        //{ "data": "VehicleModel", "visible": false },
                        //{ "data": "GroupName", "visible": false },
                        {"data": "VehicleCode" },
                       { "data": "PartNo" },
                       { "data": "Description" },
                       //{ "data": "Location" },
                         { "data": "Qty" },                                               
                       { "data": "CostPrice" },
                        { "data": "SalePrice" },                         
                         //{ "data": "BranchName" },
                    ],
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    dom: 'Bfrtip',
                    buttons: [
                                               {
                                                   extend: 'print',
                                                   title:'',
                                                   messageTop: function () {
                                                       return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Stock List</h4>';

                                                   },
                                                   messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                                   exportOptions: {
                                                       columns: [0, 1, 2, 3, 4, 5]
                                                   }
                                               },
                                               {
                                                   extend: 'excel',
                                                   
                                                   messageTop: function () {
                                                       return 'Stock List';
                                                   },
                                                   messageBottom: null,
                                                   exportOptions: {
                                                       columns: [0, 1, 2, 3, 4, 5]
                                                   }
                                               }
                    ]
                }

            );

        var itm = $("#tblStock input")

        itm.unbind();
        itm.keyup(function (e) {
            //enter or tab
            if (e.keyCode == 13) {
                complete.search(this.value).draw();
            }
        });


    });
</script>
@*<script>
    $(document).ready(function () {

        if ($.fn.DataTable.isDataTable('#tblStock')) {
            $('#tblStock').dataTable().fnDestroy();
            $('#tblStock').dataTable().empty();
        }
        var complete = $('#tblStock').DataTable(
                {
                    "searching":false,
                    "serverSide": true,
                    "destroy": true,
                    "processing": true,
                    "ajax":
                    {
                        url: "/Stock/ProductList",
                        method: "POST"
                    },
                    "columns": [
                        {"data": "VehicleCode" },
                       { "data": "PartNo" },
                       { "data": "Description" },
                        { "data": "Location" },
                       { "data": "Qty" },
                        { "data": "CostPrice" },
                        { "data": "SalePrice" },
                         { "data": "BranchName" },
                    ],
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    dom: 'Bfrtip',
                    buttons: [
                                     {
                                         extend: 'print',
                                         messageTop: function () {
                                             return "Stock";
                                         },
                                         messageBottom: null,
                                         exportOptions: {
                                             columns: [0, 1, 2, 3, 4, 5, 6, 7]
                                         }
                                     },
                                     {
                                         extend: 'excel',
                                         messageTop: function () {
                                             return 'Stock List';
                                         },
                                         messageBottom: null,
                                         exportOptions: {
                                             columns: [0, 1, 2, 3, 4, 5, 6, 7]
                                         }
                                     }
                    ]
                }

            );

        var itm = $("#tblStock_filter input")

        itm.unbind();
        itm.keyup(function (e) {
            //enter or tab
            if (e.keyCode == 13) {
                complete.search(this.value).draw();
            }
        });


    });
</script>*@
    }
