﻿@model IEnumerable<POSOman.Models.GetStockFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>STOCK </h2> <br />
                                <div class="form-row">

                                    <div class="col-md-2 mb-3">
                                        <label>Category</label>
                                        <div class="input-group">
                                            @*@Html.DropDownList("VehicleCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Vehicle Code", htmlAttributes: new { @class = "select2 form-control" })*@
                                            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Item Code</label>
                                        <div class="input-group">
                                            @*@Html.DropDownList("PartNo", new SelectList(""), "Part No", htmlAttributes: new { @class = "select2 form-control" })*@
                                            @*@Html.DropDownList("ddlPartNumber", new SelectList(""), "All Products", htmlAttributes: new { @class = "select2 form-control" })*@
                                            @Html.DropDownList("PartNo", new SelectList(ViewBag.PartNo, "Value", "Name"), "All Item Codes", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Department</label>
                                        <div class="input-group">
                                           @Html.DropDownList("DepartmentID", new SelectList(ViewBag.Department, "Value", "Name"), "All Departments", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Product</label>
                                        <div class="input-group">
                                            <input class="form-control" id="partNO" placeholder="Product" />
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label>Barcode</label>
                                        <div class="input-group">
                                            <input class="form-control" id="barCode" placeholder="Barcode" />
                                        </div>
                                    </div>
                                    <div hidden class="col-md-2 mb-3">
                                        <label>Branch</label>
                                        <div class="input-group">
                                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label></label>
                                        <div class="input-group">
                                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                        </div>
                                    </div>


                                </div>
               
                <div id="SearchResult">                  
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

    $("#btnSearch").on("click", function () {
        uiBlock();
       // var productID = $('#ddlPartNumber').val();
        var productID = $('#PartNo').val();
        var productNO = $("#PartNo option:selected").text();
        //var productNO = $("#ddlPartNumber option:selected").text();
        var vehicleCode = $('#ddlVehCode').val();
        var DepartmentID = $('#DepartmentID').val();
        var vehCode = $("#ddlVehCode option:selected").text();
        var groupID = $('#Group').val();
        var Group = $("#Group option:selected").text();
        var modelID = $('#Model').val();
        var Model = $("#Model option:selected").text();
        var barCode = $('#barCode').val();
        var Description = $('#description').val();
        var partNo = $('#partNO').val();
        var branchID = $('#Branch').val();
        var Branch = $("#Branch option:selected").text();
        var html = "<h3 align=center>Stock Report</h3><br/>";
        var date = new Date();
        var day = date.getDate(); //Date of the month: 2 in our example
        var month = date.getMonth() + 1; //Month of the Year: 0-based index, so 1 in our example
        var year = date.getFullYear()
        html += "<h3 align=center>As On:  " + year + '/' + month + '/' + day + "</h4>";
        //if (branchID != "" && vehicleCode != "" && groupID != "" && modelID != "" && partNo != "" && productID != ""
        //    && substituteNo != "" && Description != "") { console.log("All Nulls"); }
        //else { console.log("any one not null"); }
        if (branchID != "")
        { html += "<h4> Branch : " + Branch + " </h4>"; }
        if (vehicleCode != "")
        { html += "<h4> Veh Code : " + vehCode + " </h4>"; }
        if (groupID != "")
        { html += "<h4> Group : " + Group + " </h4>"; }
        if (modelID != "")
        { html += "<h4> Model : " + Model + " </h4>"; }
        if (partNo == "")
            partNo = null;
        else
        { html += "<h4> Part No. : " + partNo + " </h4>"; }
        if (productID != "")
        { html += "<h4> PartNo. : " + productNO + " </h4>"; }
       
        if (Description == "")
            Description = null;
        else
        { html += "<h4> Description : " + Description + " </h4>"; }
        
 $.ajax({
            url: "@Url.Action("Index", "Stock")",
            data: {
                btn: true,
                ProductID : productID,
                VehicleCodeID : vehicleCode,
                GroupID : groupID,
                ModelID : modelID,
                BranchID : branchID,
                DepartmentID: DepartmentID,
                Product_Code: barCode,
                PartNo: partNo,
                Description: Description
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblStock').dataTable({
                        //footerCallback: function (row, data, start, end, display) {
                        //    var api = this.api(), data;
                        //    // Remove the formatting to get integer data for summation
                        //    var intVal = function (i) {
                        //        return typeof i === 'string' ?
                        //            i.replace(/[\$,]/g, '') * 1 :
                        //            typeof i === 'number' ?
                        //            i : 0;
                        //    };
                        //    totalCost = api
                        //        .column(12)
                        //        .data()
                        //        .reduce(function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0);
                        //    totalPrice = api
                        //       .column(13)
                        //       .data()
                        //       .reduce(function (a, b) {
                        //           return intVal(a) + intVal(b);
                        //       }, 0);
                        //    $('#StockCost').val(parseFloat(totalCost).toFixed(2));
                        //    $('#StockSale').val(parseFloat(totalPrice).toFixed(2));
                        //},
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {

                                    var StockCost = $('#totalCost').val() || 0;
                                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Stock Report</h4>';
                                    html += "<br/><h5>Total Cost:" + StockCost+"</h5>";
                                    //html += "<h5>Total Sale Cost:" + StockSale+"</h5><br/>";
                                    return html;

                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Stock Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                                }
                            }
                        ]
                    });

                }
        });
        //}

    });
    </script>
    <script type="text/javascript">
        $("#ddlVehCode").change(function () {
            var vehCodeID = $('#ddlVehCode').val();
           // console.log(vehCodeID);
            if (vehCodeID == "")
            { vehCodeID = -1; }
            geProductByVehCode(vehCodeID);

        });

        function geProductByVehCode(vehCodeID) {

            if (vehCodeID == "")
            { vehCodeID = -1; }
            var json = { "VehicleCodeID": vehCodeID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Stock/GetProductsList',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                   // console.log(data[0].qry);
                    GetDropdown1("PartNo", data[0].qry, true);
                },
                error: function (err) { console.log(err); }
            });
        }

    $('#ddlVehCode').select2();
   
        $('#DepartmentID').select2();
    $('#PartNo').select2();

    </script>
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
