﻿@model POSOman.Models.DTO.StockMoving
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("StockReceiving", "Stock",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Stock Receiving</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                                <div class="col-md-2">
                                                    <label> </label>
                                                    <div class="input-group">
                                                        <input type="button" id="btnSave" value="Receive" class="btn btn-primary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                           @* <h4 class="form-section"><i class="fas fa-people-carry"></i>Stock Receiving</h4>*@
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content collapse show">
                                            <div class="card-body card-dashboard">
                                                <div id="dvtbl" class="table-responsive">
                                                    <table id="tbl" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Category</th>                                                                
                                                                <th>Product</th>
                                                                <th>From Branch</th>
                                                                <th>To Branch</th>
                                                                <th>MovedQty</th>
                                                                <th>Received Qty</th>
                                                                <th>Detail</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>    

    <script src="~/Scripts/stockMovement/stockReceiving.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">
        $('#btnSave').prop('disabled', true);
       // $('#ddlPartNo').select2();
        $('#ddlVehCode').select2();
      
    </script>
<script type="text/javascript">
        $('#btnSave').prop('disabled', true);
       // $('#ddlPartNo').select2();
        $('#ddlVehCode').select2();
        $("#btnSave").click(function () {
            //$(this).hide();

            $("#btnSave").prop('disabled', true);
        });
</script>
}