﻿@model POSOman.Models.DTO.Sales
@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Stock Consumption</h4>
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId">
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                        <input type="hidden" id="hdnSalePrice" name="hdnSalePrice">
                                        <input type="hidden" id="hdnSOID" name="hdnSOID">
                                        <input type="hidden" id="hdnPOS" name="hdnPOS" value="0">
                                        <input type="hidden" id="hdnHoldID" name="hdnHoldID">
                                        <input type="hidden" id="hdnQuoteID" name="hdnQuoteID">
                                        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
                                        <input type="hidden" id="isPacket" name="isPacket">
                                        <input type="hidden" id="isMinor" name="isMinor">
                                        <input type="hidden" id="hdnIsLoyaltyCard" name="hdnIsLoyaltyCard">
                                        <input type="hidden" id="minorDivisor" name="minorDivisor">
                                        <input type="hidden" id="customerDiscount" name="customerDiscount">
                                        <input type="hidden" id="hdnStock" name="hdnStock">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required" })
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Consumption Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>


                                    </div>

                                    <h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
                                    <div hidden>
                                        <label id="DescriptionTitle"></label>
                                        <label id="Description" class="badge badge-info"></label>
                                        <label hidden id="SubsTitle"></label>
                                        <label hidden id="SubstituteNo" class="badge badge-primary"></label>
                                        <label hidden id="VehModelTitle"></label>
                                        <label hidden id="VehModel" class="badge badge-info"></label>
                                        <label hidden id="GroupTitle"></label>
                                        <label hidden id="Group" class="badge badge-primary"></label>
                                        <label hidden id="LocationTitle"></label>
                                        <label hidden id="Location" class="badge badge-info"></label>
                                        <label id="UnitCodeTitle"></label>
                                        <label id="UnitCode" class="badge badge-primary"></label>
                                        <label id="MinorUnitCodeTitle"></label>
                                        <label id="MinorUnitCode" class="badge badge-primary"></label>
                                        <label id="LeastUnitCodeTitle"></label>
                                        <label id="LeastUnitCode" class="badge badge-primary"></label>
                                        <label id="QtyPerUnitTitle" hidden></label>
                                        <label id="QtyPerUnit" class="badge badge-primary" hidden></label>
                                        <label id="UnitPerCtnTitle"></label>
                                        <label id="UnitPerCtn" class="badge badge-primary"></label>
                                        <input type="hidden" id="LevelID" name="LevelID">
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-1">
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>BarCode</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Bar Code" id="BarCode" autofocus />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Unit</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="UCode" id="unitCode" disabled />
                                                @*<select class="form-control" id="UOMID" name="UOMID">
                                                    </select>*@
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Product</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>


                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>

                                                    <th>Product</th>

                                                    <th>Qty</th>



                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    @*<div>
                                            <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                        </div>*@
                                    <hr />

                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Save" class="btn btn-primary" />
                                    <input hidden type="button" id="btnHold" value="Hold Order" class="btn btn-dark" />
                                    <input hidden type="button" id="btnPrint" value="Print Order" class="btn btn-outline-danger" />
                                    @*@Html.ActionLink("printOrder", "printOrder", new { controller = "SalesOrder" }, new { target = "_blank" });*@
                                </div>
                            }
                            @*PopUp For adding and Customer *@
                            <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal" aria-hidden="true" data-backdrop="static">
                                <div id="newCustomerContainer">
                                </div>
                            </div>

                            <div id="SearchResult">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    @*<script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>*@
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/StkConsumption.js"></script>

    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/customScripts/printSaleOrder.js"></script>
    <script type="text/javascript">
       
        document.getElementById('SaleDate').valueAsDate = new Date();

        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
        $('#BranchID').select2();

        $("#BranchID").change(function () {
            var branchID = $('#BranchID').val();
            //$('#hdnBranchId').val(branchID);
        });

    </script>
}
