﻿@model IEnumerable<POSOman.Models.GetStockExpiryFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>STOCK </h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Category</label>
                        <div class="input-group">
                            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Product</label>
                        <div class="input-group">
                            @Html.DropDownList("PartNo", new SelectList(ViewBag.PartNo, "Value", "Name"), "All Products", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                        </div>
                    </div>
                   
                </div>
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label>Brand</label>
                        <div class="input-group">
                            @Html.DropDownList("ddlBrand", new SelectList(ViewBag.Brand, "Value", "Name"), "All Brands", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Barcode</label>
                        <div class="input-group">
                            <input class="form-control" id="barCode" placeholder="Barcode" />
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                        </div>
                    </div>
                </div>
                <div id="SearchResult">
                </div>
            </div>
        </div>
       
    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

    $("#btnSearch").on("click", function () {
        uiBlock();
       // var productID = $('#ddlPartNumber').val();
        var productID = $('#PartNo').val();
        var productNO = $("#PartNo option:selected").text();
        var vehicleCode = $('#ddlVehCode').val();
        var vehCode = $("#ddlVehCode option:selected").text();
        var brandID = $('#ddlBrand').val();
        var brand = $("#ddlBrand option:selected").text();
        var barCode = $('#barCode').val();
        var branchID = $('#Branch').val();
        var Branch = $("#Branch option:selected").text();
        var html = "<h3 align=center>Stock Expiry Report</h3><br/>";
       
        if (branchID != "")
        { html += "<h4> Branch : " + Branch + " </h4>"; }
        if (vehicleCode != "")
        { html += "<h4> Veh Code : " + vehCode + " </h4>"; }
       
        if (productNO == "")
            productNO = null;
        else
        { html += "<h4> Product : " + productNO + " </h4>"; }
       
 $.ajax({
            url: "@Url.Action("StockExpiry", "Stock")",
            data: {
                btn: true,
                ProductID : productID,
                VehicleCodeID : vehicleCode,
                BrandID : brandID,               
                BranchID : branchID,
                BarCode: barCode,
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val()
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblStock').dataTable({
                        
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {                                    
                                    
                                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Stock Expiry Report </h4>';

                                    return html;

                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6,7,8]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Stock Expiry Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6,7,8]
                                }
                            }
                        ]
                    });

                }
        });
        //}

    });
    </script>
    <script type="text/javascript">
        $("#ddlVehCode").change(function () {
            var vehCodeID = $('#ddlVehCode').val();
           // console.log(vehCodeID);
            if (vehCodeID == "")
            { vehCodeID = -1; }
            geProductByVehCode(vehCodeID);

        });

        function geProductByVehCode(vehCodeID) {

            if (vehCodeID == "")
            { vehCodeID = -1; }
            var json = { "VehicleCodeID": vehCodeID };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/Stock/GetProductsList',
                async: true,
                data: JSON.stringify(json),
                success: function (data) {
                   // console.log(data[0].qry);
                    GetDropdown1("PartNo", data[0].qry, true);
                },
                error: function (err) { console.log(err); }
            });
        }

    $('#ddlVehCode').select2();
    $('#ddlBrand').select2();
    $('#Branch').select2();
    $('#PartNo').select2();

    </script>
    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
