﻿@model IEnumerable<POSOman.Models.GetConsumedStockFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>PRODUCTS CONSUMED </h2> <br />
                                        <div class="form-row">
                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                <label>From Date</label>
                                                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                                            </div>
                                            <div class="form-group mb-1 col-sm-8 col-md-2">
                                                <label>To Date</label>
                                                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                                            </div>

                                            <div class="form-group mb-1 col-sm-8 col-md-2">
                                                <label>Branch</label>
                                                <div class="input-group">
                                                    @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                                                </div>
                                            </div>
                                            @*<div class="form-group mb-1 col-sm-8 col-md-2">
            <label>Category</label>
            <div class="input-group">
                @Html.DropDownList("VehicleCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control" })
            </div>
        </div>*@
                                            <div class="form-group mb-1 col-sm-8 col-md-2">
                                                <label>Product</label>
                                                <div class="input-group">
                                                    @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Products", htmlAttributes: new { @class = "select2 form-control" })
                                                </div>
                                            </div>
                                            @*<div class="form-group mb-1 col-sm-8 col-md-2">
            <label>Product</label>
            <div class="input-group">
                <input class="form-control" id="partNo" placeholder="Product" />
            </div>
        </div>*@
                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                <label></label>
                                                <div class="input-group">
                                                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                                                </div>
                                            </div>
                                            @*<div class="form-group mb-1 col-sm-12 col-md-2">
            <label></label>
            <br>
            <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
        </div>*@
                                        </div>
            <div class="col-12">

                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    @*<script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>*@
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#btnSearch").on("click", function () {
          //  var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var partNo = $('#ddlPartNumber').val();
            var vehicleCode = $('#VehicleCode').val();
           // var vehCode = $("#VehicleCode option:selected").text();
          //  var groupID = $('#Group').val();
          //  var Group = $("#Group option:selected").text();
          //  var modelID = $('#Model').val();
          //  var Model = $("#Model option:selected").text();
          //  var Description = $('#description').val();
            var branchID = $('#Branch').val();
          //  var Branch = $("#Branch option:selected").text();
             var html =  '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Product Consumption Report</h4>';


            //var date = new Date();
            //var day = date.getDate(); //Date of the month: 2 in our example
            //var month = date.getMonth() + 1; //Month of the Year: 0-based index, so 1 in our example
            //var year = date.getFullYear()
            //html += "<h3 align=center>As On:  " + year + '/' + month + '/' + day + "</h4>";
            //if (branchID != "")
            //{ html += "<h4> Branch : " + Branch + " </h4>"; }
            //var vendorName = $("#AccountID option:selected").text();
            //if (accountID > 0)
            //{ html += "<h4>Customer :  " + vendorName + "</h4>"; }
            //if (vehicleCode != "")
            //{ html += "<h4> Veh Code : " + vehCode + " </h4>"; }
            //if (groupID != "")
            //{ html += "<h4> Group : " + Group + " </h4>"; }
            //if (modelID != "")
            //{ html += "<h4> Model : " + Model + " </h4>"; }
            //if (partNo == "" || typeof partNo === 'undefined')
            //    partNo = null;
            //else
            //{ html += "<h4> Part No. : " + partNo + " </h4>"; }
            //if (Description == "")
            //    Description = null;
            //else
            //{ html += "<h4> Description : " + Description + " </h4>"; }
            //if (fromDate != "" && toDate != "")
            //{ html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("StockConsumpionList", "Stock")",
                data: {
                    btn: true,
                    ProductID: partNo,
                    VehicleCodeID: vehicleCode,
                  //  GroupID: groupID,
                  //  ModelID: modelID,
                    BranchID: branchID,
                 //   Description: Description,
                  //  accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    //var totalSales = $("#totalSales").val();
                    //var totalReturn = $("#totalReturn").val();
                    //html += "<h4>Total Sales: " + totalSales + "</h4>";
                    //html += "<h4>Total Return: " + totalReturn + "</h4>";
                    //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                    $('#tblProducts').dataTable({
                        //aoColumnDefs: [
                        //{ "aTargets": [5], "bSortable": true },
                        //{ "aTargets": [6], "bSortable": true },
                        //{ "aTargets": [7], "bSortable": true },
                        //{ "aTargets": [8], "bSortable": true },
                        //{ "aTargets": [9], "bSortable": true },
                        //{ "aTargets": [0], "bSortable": true },
                        //{ "aTargets": [3], "bSortable": true },
                        //{ "aTargets": [4], "bSortable": true },
                        //{ "aTargets": [2], "bSortable": true },
                        //{ "aTargets": [1], "bSortable": true, "sType": "datetime-moment" },
                        //],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    return html;
                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2,3]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Product Consumed Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3]
                                }
                            }
                        ]
                    });
                    //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                    //    "date-uk-pre": function (a) {
                    //        var ukDatea = a.split('/');
                    //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                    //    },

                    //    "date-uk-asc": function (a, b) {
                    //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                    //    },

                    //    "date-uk-desc": function (a, b) {
                    //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                    //    }
                    //});
                }
            });
        });
    </script>
    <script type="text/javascript">


        $('#ddlPartNumber').select2();
   
    $('#Branch').select2();
    $('#tblProducts').DataTable();
    </script>

}


