﻿@model POSOman.Models.DTO.StockMovement
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("StockMoveMent", "Stock",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Stock Movement</h4>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Category</label>
                                                    <div class="input-group">
                                                        @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control" })
                                                    </div>

                                                </div>

                                                <div class="col-md-4">
                                                    <label>Product</label>
                                                    <div class="input-group">
                                                        @Html.DropDownList("PartNo", new SelectList(""), "Product", htmlAttributes: new { @class = "select2 form-control", @onchange = "getProductStock(this.value);", @id = "ddlPartNo" })
                                                        @*@Html.DropDownList("PartNo", new SelectList(ViewBag.Product, "Value", "Name"), "Product", htmlAttributes: new { @class = "select2 form-control", @onchange = "getProductStock(this.value);", @id = "ddlPartNo" })*@
                                                    </div>
                                                </div>


                                                @*<div class="col-md-2">
                                                    <label>Total Stock</label>
                                                    <div class="input-group">
                                                        <input type="number" id="totalQty" name="totalQty" placeholder="Total Stock" class="form-control" disabled />
                                                    </div>
                                                </div>*@


                                                <div class="col-md-2">
                                                    <label> </label>
                                                    <div class="input-group">
                                                        <input type="button" id="btnSave" value="Save" class="btn btn-primary" />
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*<h4 class="form-section"><i class="fas fa-people-carry"></i>Stock Movement</h4>*@
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-content collapse show">
                                            <div class="card-body card-dashboard">
                                                <div id="dvtbl" class="table-responsive">
                                                    <table id="tbl" class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Category</th>
                                                              
                                                                <th>Product</th>
                                                                @*<th>Description</th>*@
                                                                <th>Rate</th>
                                                                <th>Retail</th>
                                                                <th>New Price</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script src="~/Scripts/customScripts/updateStockPrice.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">
        $('#btnSave').prop('disabled', true);
       // $('#ddlPartNo').select2();
        $('#ddlVehCode').select2();
    </script>
}