﻿
@model IEnumerable<POSOman.Models.GetCustomerPayReportFilterWise_Result>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                @if (Model != null)
                                {

                                    <table id="tblPSO" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Voucher
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Customer
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                @*<th>
                                                    Amount Settled
                                                </th>
                                                <th>
                                                    Balance
                                                </th>*@
                                                <th>
                                                    Detail
                                                </th>


                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VoucherName)
                                                </td>
                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountName)
                                                </td>
                                                <td>
                                                    @{
                                                        decimal totalamount = item.Amount ?? 0;
                                                        <span> @totalamount.ToString("#,##0.00") </span>
                                                    }
                                                </td>
                                                @* <td>
        @{
            decimal settledamount = item.TotalBalanceSettled ?? 0;
            <span> @settledamount.ToString("#,##0.00") </span>
        }*@
                                                @*@if (item.IsSettleEntry == true)
        {
            @Html.DisplayFor(modelItem => item.TotalBalanceSettled)

        }
        else
        {
            @("NIL")
        }*@

                                                @*</td>*@
                                                @*<td>
            @{
                decimal balance = (item.Amount - item.TotalBalanceSettled) ?? 0;
                <span> @balance.ToString("#,##0.00") </span>
            }
        </td>*@

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Detail)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Voucher", "Details", new { id = item.JEntryID })
                                                    @*@Html.ActionLink("Voucher", "Voucher", new { id = item.JEntryID })*@
                                                    @if (item.VoucherName.Trim().Equals("Sales Receiving"))
                                                    {
                                                        <text>|</text>
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })
                                                    }



                                                    @*@if (item.IsSettleEntry == true && item.TotalBalanceSettled < item.Amount)
        {
            <text>|</text> @Html.ActionLink("Settle", "SettleAmountWithInvoices", new { id = item.JEntryID })
        }*@

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <text>
                                        <script type="text/javascript">
                                            swal("No Data", "No Data Found!", "error");
                                        </script>
                                    </text>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

<script type="text/javascript" src="~/DataTables/jszip.min.js"></script>
<script type="text/javascript" src="~/DataTables/datatables.min.js"></script>
    <script type="text/javascript">

      
    </script>
}
