﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>
<style>
    @@media print {
        @@page {
            /*size: A4; */
            margin-top: 60px;
            margin-bottom: 50px;
        }
    }
</style>
<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            string opBal = Model.FirstOrDefault().OpeningBalance;
            decimal totDebit = 0;
            decimal totCredit = 0;
            string clBal = Model.LastOrDefault().Balance;

            <div class="col-md-4 mb-3">
                <label>Opening Balance</label>
                <input type="text" class="form-control" readonly="readonly" value="@opBal" id="openingBalance">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Closing Balance</label>
                @if (@Model.Last().Balance != "")
                {
                    <input type="text" class="form-control" readonly="readonly" value="@clBal.ToString()" id="closingBalance">
                }
                else
                {
                    <input type="text" class="form-control" readonly="readonly" value="0.00" id="closingBalance">
                }

            </div>
            <div class="card-body card-dashboard" style="overflow-x:auto;">
                <table id="tblCustomer">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Desc")
                            </th>
                            <th>
                                @Html.DisplayName("Part")
                            </th>
                            <th>
                                @Html.DisplayName("Pay St")
                            </th>
                            <th>
                                @Html.DisplayName("Aging")
                            </th>
                            <th>
                                @Html.DisplayName("Dr")
                            </th>

                            <th>
                                @Html.DisplayName("Cr")
                            </th>
                            <th>
                                @Html.DisplayName("Bal")
                            </th>

                        </tr>

                    </thead>
                    <tbody>
                        @*@foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                            </td>
                            <td>
                                @if (item.AccName != null)
                                {
                                    @(item.AccName)
                                }
                                else
                                {
                                    @("-")
                                }
                            </td>
                            <td>
                                @if (item.Description != null)
                                {
                                    @(item.Description)
                                }
                                else
                                {
                                    @("-")
                                }
                            </td>
                            <td>
                                @if (item.Detail != null)
                                {
                                    @(item.Detail)
                                }
                                else
                                {
                                    @("-")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.PayStatus))
                                {
                                    @(item.PayStatus)
                                }
                                else
                                {
                                    @("-")
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.Aging) && Convert.ToInt32(item.Aging) > 0)
                                {
                                    @(item.Aging)
                                }
                                else
                                {
                                    @("-")
                                }
                            </td>
                            <td>
                                @{
                                    decimal dr = Convert.ToDecimal(item.Dr);
                                    totDebit += dr;
                                    @(dr.ToString("#,##0.0"))
                                }
                            </td>
                            <td>
                                @{
                                    decimal cr = Convert.ToDecimal(item.Cr);
                                    totCredit += cr;
                                    @(cr.ToString("#,##0.0"))

                                }
                            </td>
                            <td>
                                @if (item.Balance == "")
                                {
                                    @(0)
                                }
                                else
                                {
                                    decimal balance = Convert.ToDecimal(item.Balance);
                                    @(balance.ToString("#,##0.0"))
                                }
                            </td>
                          
                        </tr>
                        }*@
                    </tbody>
                    @*<tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>*@
                </table>

            </div>

            <div hidden class="col-md-4 mb-3">
                <label>Total Debit</label>
                <input type="text" class="form-control" readonly="readonly" value="@totDebit.ToString("#,##0.00")" id="totalDebit">
            </div>
            <div hidden class="col-md-4 mb-3">
               
            </div>


            <div hidden class="col-md-4 mb-3">
                <label>Total Credit</label>
                <input type="text" class="form-control" readonly="readonly" value="@totCredit.ToString("#,##0.00")" id="totalCredit">
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>  
    }




