﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>

@using POSOman.Models;

@{
    ViewBag.Title = "Customer Statement";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>@ViewBag.Title</h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Code</label>
                        <br>
                        @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <style rel="stylesheet" type="text/css">
        table {
            width: 100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        /*th,
        td {*/
            /* border: 1px solid black;*/
            /*width: 100px;*/
            /*display: inline-block;*/
            /*text-overflow: ellipsis;
            white-space: nowrap;
        }*/
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>
    <script>

        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();

        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });

        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });

        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });


        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var BranchID = $('#Branch').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Customer Statement</h4>';

            var Name = $("#AccountID option:selected").text()||'-';
            html += "<h4>Customer:  " + Name + "</h4>";
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            if (accountID == 0)
            {
                swal("Select","Please Select Customer!","error");
            }
            else if (accountID > 0 )
            {
                $.ajax({
                    url: "@Url.Action("Statement", "CustomerPayment")",
                    data: {
                    accountID : $('#AccountID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            showDetails();
                            var openingBalance = $("#openingBalance").val()||'-';
                            var closingBalance = $("#closingBalance").val() || '-';
                            var totalDebit = $("#totalDebit").val() || '-';
                            var totalCredit = $("#totalCredit").val() || '-';
                            html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                            html += "<h4>Closing Balance: " + closingBalance + "</h4>";
                            $('#tblCustomer').dataTable({
                                
                                initComplete: function (settings, json) {
                                    // calculate the sum when table is first created:
                                    doSum();
                                },
                                dom: 'Bfrtip',
                                ordering:false,
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            var textHtml = '';
                                            textHtml += '<h1  align="center"> <img src="@adddata.Logo" class="brand-logo"> @adddata.Title</h1><h5 align="center">@adddata.FullAddress </h5><h5 align="center">Contact: @adddata.Contact1</h5><hr /><h4 align="center">@ViewBag.Title</h4><h4 align="center">Customer: ' + Name + '</h4><hr/><p style="text-align:left;">Opening Balance: ' + openingBalance + '<span style = "float:right;">Closing Balance: ' + closingBalance + '</span></p><hr/><p style="text-align:left;">Total Debit: ' + totalDebit + '<span style = "float:right;">Total Credit: ' + totalCredit + '</span></p>';

                                            if (fromDate != "" && toDate != "") {
                                                textHtml += '<hr/> <p style="text-align:left;">From: ' + fromDate + '<span style="float:right;">To: ' + toDate + '</span></p>';
                                            }
                                            return textHtml;
                                            //return html;
                                        },
                                        title: '',
                                        messageBottom: '<br/><div style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%; margin-top:5%">Developed By: @adddata.DevelopBy</p></div>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            return 'Customer Statement';
                                        },
                                        title: '',
                                        messageBottom: function () {
                                            var totalDeb = $("#totalDebit").val() || '-';
                                            var totalCred = $("#totalCredit").val() || '-';
                                            var openingBalance = $("#openingBalance").val() || '-';
                                            var closingBalance = $("#closingBalance").val() || '-';
                                            var data = "";
                                            data += "  Customer: " + Name;
                                            data += "  Opening Bal: " + openingBalance;
                                            data += "  Closing Bal: " + closingBalance;
                                            data += "  Total Debit: " + totalDeb;
                                            data += "  Total Credit: " + totalCred;
                                            data += "                     Developed By: MangoTech Solutions";

                                            return data;
                                        },
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                                        }
                                    }

                                ]
                            });

                            ///////////////////////

                            $('#tblCustomer').on('draw.dt', function () {
                                // re-calculate the sum whenever the table is re-displayed:
                                doSum();
                            });

                            // This provides the sum of all records:
                            function doSum() {

                                // get the DataTables API object:
                                var table = $('#tblCustomer').DataTable();
                                // set up the initial (unsummed) data array for the footer row:
                                var totals = ['', '', '', '', '', 'Total', 0, 0, ''];
                                // iterate all rows - use table.rows( {search: 'applied'} ).data()
                                // if you want to sum only filtered (visible) rows:
                                totals = table.rows().data()
                                    // sum the amounts:
                                    .reduce(function (sum, record) {
                                        for (let i = 6; i <= 7; i++) {
                                            sum[i] = sum[i] + numberFromString(record[i]);
                                        }
                                        return sum;
                                    }, totals);
                                // place the sum in the relevant footer cell:
                                for (let i = 5; i <= 7; i++) {
                                    var column = table.column(i);
                                    $(column.footer()).html(formatNumber(totals[i]));
                                }
                            }

                            function numberFromString(s) {
                                return typeof s === 'string' ?
                                    s.replace(/[\$,]/g, '') * 1 :
                                    typeof s === 'number' ?
                                        s : 0;
                            }

                            function formatNumber(n) {
                                return n.toLocaleString(); // or whatever you prefer here
                            }
                        }
                }});
            }
        });

        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblCustomer tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 1 || cell.cellIndex === 2 || cell.cellIndex === 3) {
                    swal(cell.innerHTML.trim());
                }
            });
        }


    </script>

}