﻿
@model POSOman.Models.tbl_InquiryQuotation

<div class="form-body">
    <h5 class="form-section"><i class="icon-eye6"></i>Quotation</h5>
    <div class="row">
        <div class="col-md-2" hidden>
            <label>Quotation No.</label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", type = "text", name = "Code", id = "Code", @Value = ViewBag.Code, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Quotation No.</label>
            @Html.EditorFor(model => model.StrCode, new { htmlAttributes = new { @class = "form-control", type = "text", name = "StrCode", id = "StrCode", @Value = ViewBag.StrCode, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.StrCode, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Quotation Date</label>
            @Html.EditorFor(model => model.QuotationDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "QuotationDate", id = "QuotationDate" } })
            @Html.ValidationMessageFor(model => model.QuotationDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Select Inquiry</label>
            @Html.DropDownList("InquiryID", new SelectList(ViewBag.InquiryList, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control", @disabled="disabled" })
            @Html.ValidationMessageFor(model => model.InquiryID, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Company</label>
            @Html.EditorFor(model => model.tbl_Inquiry.CompanyName, new { htmlAttributes = new { @class = "form-control", name = "CompanyName", id = "CompanyName", @Value = ViewBag.Company, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.tbl_Inquiry.CompanyName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Cell</label>
            @Html.EditorFor(model => model.tbl_Inquiry.PhoneNo, new { htmlAttributes = new { @class = "form-control", name = "PhoneNo", id = "PhoneNo", @Value = ViewBag.Cell, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.tbl_Inquiry.PhoneNo, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <label>Email</label>
            @Html.EditorFor(model => model.tbl_Inquiry.Email, new { htmlAttributes = new { @class = "form-control", name = "Email", id = "Email", @Value = ViewBag.Email, @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.tbl_Inquiry.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            <label> <b> Offer For </b> </label>
            @Html.EditorFor(model => model.OfferFor, new { htmlAttributes = new { @class = "form-control", name = "OfferFor", id = "OfferFor" } })
            @Html.ValidationMessageFor(model => model.OfferFor, "", new { @class = "text-danger" })
        </div>
        <div class="col-sm-4">
            <label>Quotation Type</label>
            <br />
            @Html.DropDownList("ProductType", new SelectList(ViewBag.ProductType, "Value", "Name"), "Select Type", htmlAttributes: new { @class = "select2 form-control", required = "required" })
        </div>
        <div class="col-sm-4">
            <label>Offer Valid Upto</label>
            <br />
            @Html.EditorFor(model => model.ValidUpto, new { htmlAttributes = new { @class = "form-control", name = "ValidUpto", id = "ValidUpto" } })
            @Html.ValidationMessageFor(model => model.ValidUpto, "", new { @class = "text-danger" })
        </div>
    </div>
    <h5 class="form-section"><i class="ft-mail"></i>Products Entry </h5>

    <div class="row">
        <form id="ProductForm" name="ProductForm">
            
            <div class="col-sm-2">
                <label>Product</label>
                <br />
                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
            </div>
            <div class="col-sm-2">
                <label>Description</label>
                <br />
                <input type="text" class="form-control" placeholder="Description" id="Description" autofocus />
            </div>
            <div class="col-sm-2">
                <label>Unit Code</label>
                <br />
                @Html.Partial("~/Views/PartialViews/_UnitCode.cshtml")
            </div>
            <div class="col-sm-1">
                <label>Qty</label>
                <br />
                <input type="number" min="0" oninput="validate(this)" class="form-control Calc" placeholder="Qty" id="Qty" />
            </div>
            <div class="col-sm-2">
                <label>Unit Price</label>
                <br />
                <input type="number" min="0" class="form-control Calc" placeholder="UnPrice" id="UnitPrice" />
            </div>
            <div class="col-sm-2">
                <label>Total</label>
                <br />
                <input type="number" class="form-control" placeholder="" id="Total" disabled />
            </div>
            <div class="col-sm-1">
                <label>Action</label>
                <input type="button" class="btn btn-round" value="Add" id="addRow">
            </div>
        </form>
    </div>
    <div>
        <select id="hdnProductTypeID" hidden>


        </select>
       
        <table id="tblProduct" class="table table-striped table-bordered dynamic-height" style="margin-top:2%;">
            <thead>
                <tr>
                    <th>Select</th>
                    <th hidden>ProductTypeID</th>
                    <th hidden>PID</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Unit Code</th>
                    <th>Unit Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div>
        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
        @*<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PartialProduct")" id="btnCreateProduct">Add New Product</button>*@

    </div>
    <hr />
    <div class="row">
        <div class="form-group mb-1 col-sm-12 col-md-2">
            <label>Sub Total</label>
            <br>
            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
        </div>
        <div class="form-group mb-2 col-sm-12 col-md-2">
            <label>Tax %</label>
            <br>
            @Html.DropDownList("TaxPercnt", new SelectList(ViewBag.TaxList, "Value", "Name"), "Select Tax", htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.TaxPercnt, new { htmlAttributes = new { @class = "form-control", id = "TaxPercnt", name = "TaxPercnt", @type = "number", @min = "0", @Value = "13", @readonly = "readonly" } })*@
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2 sstDiv">
            <label>Tax Amount</label>
            <br>
            @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @class = "form-control", name = "TaxAmount", id = "TaxAmount", @type = "number", @min = "0", @readonly = "readonly" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2 gstDiv">
            <label>Tax %</label>
            <br>
            @Html.DropDownList("GSTPercnt", new SelectList(ViewBag.TaxList, "Value", "Name"), "Select Tax", htmlAttributes: new { @class = "form-control" })
            @*@Html.EditorFor(model => model.GSTPercnt, new { htmlAttributes = new { @class = "form-control", id = "GSTPercnt", name = "GSTPercnt", @type = "number", @min = "0", @Value = "17", @readonly = "readonly" } })*@
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2 gstDiv">
            <label>Tax Amount</label>
            <br>
            @Html.EditorFor(model => model.GSTAmount, new { htmlAttributes = new { @class = "form-control", name = "GSTAmount", id = "GSTAmount", @type = "number", @min = "0", @readonly = "readonly" } })
        </div>
        @*<div class="form-group mb-1 col-sm-12 col-md-1 sstDiv">
            <label>SST %</label>
            <br>
            @Html.EditorFor(model => model.TaxPercnt, new { htmlAttributes = new { @class = "form-control", id = "TaxPercnt", name = "TaxPercnt", @type = "number", @min = "0", @Value = "13", @readonly = "readonly" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2 sstDiv">
            <label>SST Amount</label>
            <br>
            @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @class = "form-control", name = "TaxAmount", id = "TaxAmount", @type = "number", @min = "0", @readonly = "readonly" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-1 gstDiv">
            <label>GST %</label>
            <br>
            @Html.EditorFor(model => model.GSTPercnt, new { htmlAttributes = new { @class = "form-control", id = "GSTPercnt", name = "GSTPercnt", @type = "number", @min = "0", @Value = "17", @readonly = "readonly" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2 gstDiv">
            <label>GST Amount</label>
            <br>
            @Html.EditorFor(model => model.GSTAmount, new { htmlAttributes = new { @class = "form-control", name = "GSTAmount", id = "GSTAmount", @type = "number", @min = "0", @readonly = "readonly" } })
        </div>*@
        <div class="col-md-2">
            <label>Total Amount</label>
            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <h5 class="form-section"><i class="ft-mail"></i>Payment Terms </h5>
    <div class="row">
        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
            <label>Delivery Time</label>
            <br>
            <input type="date" class="form-control" id="deliverydate" />
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
            <label>Completion Time</label>
            <br>
            <input type="date" class="form-control" id="completedate" />
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-4">
            <label>On Advance</label>
            <br>
            @Html.EditorFor(model => model.OnAdvance, new { htmlAttributes = new { @class = "form-control", id = "OnAdvance", name = "OnAdvance" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-4">
            <label>On Delivery</label>
            <br>
            @Html.EditorFor(model => model.OnDelivery, new { htmlAttributes = new { @class = "form-control", name = "OnDelivery", id = "OnDelivery" } })
        </div>
        <div class="form-group mb-1 col-sm-12 col-md-4">
            <label>On Completion</label>
            <br>
            @Html.EditorFor(model => model.OnCompletion, new { htmlAttributes = new { @class = "form-control", id = "OnCompletion", name = "OnCompletion" } })
        </div>
    </div>
</div>

