﻿@model IEnumerable<POSOman.Models.tbl_InquiryQuotation>

@{
    ViewBag.Title = "Quotation";
    ViewBag.Href = "/InquiryQuotation/Index";
    ViewBag.Type = "List";
    POSOman.Models.BLL.NumberFormat format = new POSOman.Models.BLL.NumberFormat();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -5px;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: white;
                border-bottom: 3px solid #00A5A8 !important;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>


@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")


<div class="content-body">
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <table id="tblData" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th hidden> ID </th>
                                        <th> Q-No </th>
                                        <th> Inq No </th>
                                        <th> Submission Date </th>
                                        <th> Inq Submit Date </th>
                                        <th> @Html.DisplayNameFor(model => model.Amount) </th>
                                        <th> Tax Type </th>
                                        <th> Tax % </th>
                                        <th> Tax Amt </th>
                                        <th> Total </th>
                                        <th>  </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td hidden> @item.QuotationID </td>
                                            <td> @item.StrCode </td>
                                            <td> @item.tbl_Inquiry.InquiryNumber </td>
                                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.QuotationDate)) </td>
                                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_Inquiry.InquiryDate)) </td>
                                            <td> @POSOman.Models.BLL.NumberFormat.Convert(item.Amount ?? 0)</td>
                                            @if (item.QuotationType == "Both")
                                            {
                                                <td> GST <br /> SST </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxPercnt ?? 0) <br /> @POSOman.Models.BLL.NumberFormat.Convert(item.GSTPercnt ?? 0)  </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxAmount ?? 0) <br /> @POSOman.Models.BLL.NumberFormat.Convert(item.GSTAmount ?? 0) </td>
                                            }
                                            else
                                            {
                                                <td> @item.TaxType </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxPercnt ?? 0) </td>
                                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxAmount ?? 0) </td>
                                            }

                                            <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TotalAmount ?? 0) </td>

                                            <td>
                                                @if (item.QuotationType == "Both")
                                                {
                                                    <a href="/InquiryQuotation/Details1/@item.QuotationID">Details</a>
                                                }
                                                else
                                                {
                                                    <a href="/InquiryQuotation/Details/@item.QuotationID">Details</a>
                                                }

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div id="PrintHeader" hidden>
                                @Html.Partial("~/Views/PartialViews/_PrintHeader.cshtml")
                            </div>
                            <div id="PrintBottom" hidden>
                                @Html.Partial("~/Views/PartialViews/_PrintBottom.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">

        var col = [1, 2, 3, 4, 5, 6, 7, 8, 9]
        GetTableData(col, 0, "desc");

        @*$(document).ready(function () {


            $('#tblBranch').dataTable({
                dom: 'Bfrtip',
                order: [[0, "desc"]],
                buttons: [
                    {
                        extend: 'print',
                        messageTop: function () {
                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Branches List</h4>';
                        },
                        title:'',
                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    }
                ]
            });

        });*@
    </script>



}