﻿
@model POSOman.Models.tbl_Inquiry

<div class="form-body">
    <h4 class="form-section"><i class="ft-user"></i> @ViewBag.Title Info</h4>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Inquiry Date*</label>
                @Html.EditorFor(model => model.InquiryDate, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "date" } })
                @Html.ValidationMessageFor(model => model.InquiryDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Inquiry No</label>
                @Html.EditorFor(model => model.InquiryNumber, new { htmlAttributes = new { @class = "form-control", required = "required", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.InquiryNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3" hidden>
            <div class="form-group">
                <label>Inquiry Code</label>
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Customer Name*</label>
                <input type="text" name="CustomerID" id="CustomerID" hidden />
                <input type="text" name="CompanyName" id="CompanyName" hidden />
                @Html.DropDownList("AccountID", new SelectList(ViewBag.Customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control", @required = "required", })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Contact Person*</label>
                @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Cell No</label>
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Sources*</label>
                @Html.Partial("~/Views/PartialViews/_Sources.cshtml")
                @Html.ValidationMessageFor(model => model.Sources, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Follow Up Date</label>
                @Html.EditorFor(model => model.FollowUpDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.FollowUpDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Follow Up</label>
                @Html.Partial("~/Views/PartialViews/_FollowUpResources.cshtml")
                @*@Html.EditorFor(model => model.FollowUp, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.FollowUp, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Status</label>
                @Html.DropDownList("StatusID", new SelectList(ViewBag.Status, "Value", "Name"), "Select Status", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Description.</label>
                <textarea class="form-control" name="Description" id="Description" style="height:100px;"></textarea>
                @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @type="textarea" } })*@
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Remarks</label>
                <textarea class="form-control" name="Remarks" id="Remarks" style="height:100px;"></textarea>
                @*@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Chances*</label>
                @Html.Partial("~/Views/PartialViews/_Chances.cshtml")
                @*@Html.EditorFor(model => model.ChancesPercent, new { htmlAttributes = new { @class = "form-control", @type = "number" } })*@
                @Html.ValidationMessageFor(model => model.ChancesPercent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Sale Person.</label>
                @Html.DropDownList("SalePersonID", new SelectList(ViewBag.Employee, "Value", "Name"), "Select SalePerson", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SalePersonID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Sales Revenue</label>
                @Html.EditorFor(model => model.SalesRevenue, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.SalesRevenue, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

</div>