﻿
@model IEnumerable<POSOman.Models.GetInquiry_Result>
@using POSOman.Models;


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-content collapse show">
                <div class="card-body card-dashboard table-responsive">

                    @if (Model != null)
                    {
                        <table id="tblData" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>
                                    <th hidden> ID </th>
                                    <th> Inquiry No </th>
                                    <th> Inquiry Date </th>
                                    <th> Inq Submit Date </th>
                                    <th> Company Name </th>
                                    <th> Description </th>
                                    <th> Follow-up Date </th>
                                    <th> Status </th>
                                    <th> Chances% </th>
                                    <th> Sales Revenue </th>
                                    <th> Sales Person</th>
                                    <th> Resource </th>
                                    <th> <span style="visibility:hidden;">Actionasdasdasdsadsadsadsadasdsadasd</span>  </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td hidden> @item.InquiryID </td>
                                        <td> @item.InquiryNumber </td>
                                        <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.InquiryDate)) </td>
                                        <td>
                                            @{
                                                dbPOS db = new dbPOS();
                                                var data = db.tbl_InquiryQuotation.Where(a => a.InquiryID == item.InquiryID).OrderByDescending(a => a.QuotationID).FirstOrDefault();
                                                if (data != null)
                                                {
                                                    <span> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", data.QuotationDate)) </span>
                                                }
                                                else
                                                {
                                                    <span> Nil </span>
                                                }
                                            }
                                        </td>
                                        <td> @item.CompanyName </td>
                                        <td> @item.Description </td>
                                        <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.FollowUpDate)) </td>
                                        <td> @item.StatusTitle </td>
                                        <td> @item.ChancesPercent  </td>
                                        <td> @POSOman.Models.BLL.NumberFormat.Convert(item.SalesRevenue ?? 0) </td>
                                        <td>
                                            @if (item.SalePersonID > 0)
                                            {<span> @item.AccountName </span>}
                                        </td>
                                        <td> @item.Sources </td>
                                        
                                        <td style="max-width:300px !important; width:300px !important;">
                                            <a href="#" id="myBt" onclick="OpenModal('@item.InquiryID')"> Update </a> |
                                            <a href="/Inquiry/Details/@item.InquiryID">Details</a> |
                                            <a href="/Inquiry/Edit/@item.InquiryID"> Edit </a> |
                                            <a href="/Inquiry/Delete/@item.InquiryID"> Delete </a> <br />
                                            @{
                                                var QID = db.tbl_InquiryQuotation.Where(a => a.InquiryID == item.InquiryID).OrderByDescending(a => a.QuotationID).Select(a => new { a.QuotationID, a.QuotationType }).FirstOrDefault();
                                                if (QID != null)
                                                {
                                                    if (QID.QuotationType == "Both")
                                                    {
                                                        <a href="/InquiryQuotation/Details1/@QID.QuotationID"> View Quote </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/InquiryQuotation/Details/@QID.QuotationID">View Quote</a>
                                                    }
                                                    <span> | </span>
                                                    <a href = "/InquiryQuotation/Update/@QID.QuotationID" > Update Quote </a>
                                                }
                                                else
                                                {
                                                    <a href="/InquiryQuotation/Create/@item.InquiryID"> Create Quote </a>
                                                }
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div id="PrintHeader" hidden>
                            @Html.Partial("~/Views/PartialViews/_PrintHeader.cshtml")
                        </div>
                        <div id="PrintBottom" hidden>
                            @Html.Partial("~/Views/PartialViews/_PrintBottom.cshtml")
                        </div>

                    }
                    else
                    {
                        <text>
                            <script type="text/javascript">
                                swal("No Data", "No Data Found!", "error");
                            </script>
                        </text>
                    }



                </div>
            </div>
        </div>
    </div>
</div>


