﻿@model POSOman.Models.tbl_Inquiry

@{
    ViewBag.Title = "Inquiry";
    ViewBag.Href = "/Inquiry/Index";
    ViewBag.Type = "Add";
}

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Inquiry", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                                @Html.Partial("_CreateForm")

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section scripts{

    <script src="~/Scripts/Inquiry/Inquiry.js"></script>
    <script>
        GetLatestInquiryNo();
    </script>
    
}