﻿@model POSOman.Models.tbl_Inquiry

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this invoice?</h3>

<div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            InquiryID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InquiryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InquiryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InquiryNumber)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
