﻿@model POSOman.Models.tbl_Inquiry

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


<div>
    <dl class="dl-horizontal">
        <dt>
            Inquiry Date:
        </dt>
        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.InquiryDate))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InquiryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InquiryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            Cell No
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sources)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sources)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowUpDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowUpDate)
        </dd>

        <dt>
            Status
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbl_OrderStatus.StatusTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChancesPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChancesPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesRevenue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesRevenue)
        </dd>
    </dl>
</div>
