﻿@model IEnumerable<POSOman.Models.tbl_Inquiry>

@{
    ViewBag.Title = "Inquiry";
    ViewBag.Href = "#";
    ViewBag.Type = "List";
    POSOman.Models.BLL.NumberFormat format = new POSOman.Models.BLL.NumberFormat();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 40%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        margin-top: -5px;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    body {
        font-family: Arial;
    }

    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: white;
                border-bottom: 3px solid #00A5A8 !important;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="row" style="border-bottom:1px solid; padding-bottom:10px;">
            <div class="col-md-6">
                <h4> Change Status </h4>
            </div>
            <div class="col-md-6">
                <span class="close" id="expclose">&times;</span>
            </div>
        </div>
        <input type="text" id="inquiryid" hidden />

        <div class="row">
            <div class="col-md-12" style="margin-top:2%;">
                <label class="col-md-4">Select Status</label>
                @Html.DropDownList("StatusID", new SelectList(ViewBag.Status, "Value", "Name"), "Select Status", htmlAttributes: new { @class = "form-control col-md-9", @required = "required", style = "width:100%;" })
            </div>
            <div class="col-md-12" style="margin-top:2%;">
                <label class="col-md-4">Select Chances</label>
                @Html.Partial("~/Views/PartialViews/_Chances.cshtml")
            </div>
            <div class="col-md-12" style="margin-top:2%;">
                <label class="col-md-4">Follow Up Date</label>
                <input type="date" class="form-control col-md-9" id="followupdate" />
            </div>
        </div>
        

        <div class="row" style="margin-top: 2%; border-top: 1px solid; padding-top: 10px;">
            <div class="col-md-12">
                <button type="button" id="btnSave" onclick="UpdateStatus()" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12" style="padding:0px;">
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Status</label>
                    @Html.DropDownList("StatusID", new SelectList(ViewBag.Status, "Value", "Name"), "Select Status", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2" style="padding-top:5px;">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>

            <div id="SearchResult">

            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#btnSearch").click();
        });


        $("#StatusID").select2();

        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            var StatusID = $("#StatusID").val();

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("Index", "Inquiry")",
                data: {
                    btn: true,
                    AccountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    StatusID: StatusID
                },
                success: function (data) {
                    $("#SearchResult").html(data);

                    var col = [1, 2, 3, 4, 5, 6]
                    GetTableData(col, 0, "desc", null);
                    

                }
            });
        });


        function UpdateStatus() {
            var inquiryid = $("#inquiryid").val();
            var StatusID = $("#StatusID").val();
            var Chances = parseFloat($("#ChancesPercent").val());
            var FollowUpDate = $("#followupdate").val();

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: '/Inquiry/UpdateInquiry?InquiryID=' + inquiryid + "&StatusID=" + StatusID + "&Chances=" + Chances + "&followupdate=" + FollowUpDate,
                async: true,
                success: function (data) {
                    location.reload();
                },
                error: function (err) { console.log(err); }
            });
        }


    </script>

    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var span = document.getElementsByClassName("close")[0];

        function OpenModal(inquiryid) {
            $("#inquiryid").val(inquiryid);
            modal.style.display = "block";
        }


        span.onclick = function () {
            modal.style.display = "none";
            modal1.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
                modal1.style.display = "none";
            }
        }
    </script>


}