﻿@model POSOman.Models.tbl_TAX

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_TAX</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaxID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
