﻿@model IEnumerable<POSOman.Models.GetVendorPaymentDateWise_Result>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body style="margin-top:250px; margin-bottom:76px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2>Vendor Statement</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Opening Balance : </strong></label>@Model.First().OpBalance</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Opening Balance : </strong></label>@Model.Last().Balance</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Detail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Debit)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Credit)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            <td>
                                @if (item.Balance == "")
                                { <label>0</label>}
                                else
                                {@Html.DisplayFor(modelItem => item.Balance);
                                }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    <p>Developed By: MangoTech Solutions</p>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>   
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
       
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/Payment';
        }
    </script>
</body>
</html>
