﻿
@model IEnumerable<POSOman.Models.GetEmployeePurchases_Result>
@using POSOman.Models;

@{
    dbPOS db = new dbPOS();

}
<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            decimal total = 0;
        <div class="card-body card-dashboard">
            <table id="tblData" class="table table-striped table-bordered alt-pagination">
                <thead>
                    <tr>
                        <th> Order ID </th>
                        <th> Description </th>
                        <th> Employee</th>
                        <th> Purchase Date </th>
                        <th> Status </th>
                        <th> Total Amount </th>
                        <th> Approved On </th>
                        <th> Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @item.OrderID </td>
                            <td> @item.Description </td>
                            <td> @item.Employee </td>
                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date)) </td>
                            <td>
                                @if (item.StatusID == 1)
                                {
                                    <span style="color:red;">@item.OrderStatus</span>
                                }
                                else if (item.StatusID == 2)
                                {
                                    <span style="color:limegreen;">@item.OrderStatus</span>
                                }
                                else
                                {
                                    <span style="color:yellow;">@item.OrderStatus</span>
                                }
                            </td>
                            <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TotalAmount) @{total += Convert.ToDecimal(item.TotalAmount);} </td>
                            <td>@(item.ApprovedOn != null ? @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date)) : "-") </td>
                            <td>

                                <!--Separate dropdown-->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                        <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                    </button>
                                    <div class="dropdown-menu">
                                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Store Keeper") || User.IsInRole("Account") || User.IsInRole("SalePerson"))
                                        {
                                            @Html.ActionLink("View", "Export", new { id = item.OrderID }, new { @class = "dropdown-item" })


                                            if ((User.IsInRole("SuperAdmin") || User.IsInRole("Admin")) && item.StatusID == 2)
                                            {
                                                @Html.ActionLink("Edit", "EditApprovedEmployeePurchase", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                            }
                                            if ((User.IsInRole("SuperAdmin") || User.IsInRole("Admin")) && item.StatusID == 1)
                                            {
                                                @Html.ActionLink("Approve", "ApproveEmployeePurchase", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                            }
                                            if (!item.IsApproved && item.StatusID == 1)
                                            {
                                                @Html.ActionLink("Delete", "DeleteEmployeePurchase", new { id = item.OrderID }, new { @class = "dropdown-item" })
                                            }

                                        }

                                    </div>

                                </div>

                                <!---->



                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="col-md-2 mb-2">
                <label>Total Purchases</label>
                <input type="text" class="form-control" name="Total Purchases" placeholder="Total Purchases" readonly="readonly" id="totalPurchases" value="@total">
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Update Customer PO</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>

                                <div hidden>
                                    <input type="hidden" id="hdnOrderId" />
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Customer PO:</label>
                                    <input type="text" class="form-control" id="customerPONumber">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" value="" onclick="UpdateCustomerPO()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
