﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>
                  

<div class="card-content collapse show">    
    <div class="row">
        @if (Model != null)
        {
            string opBal = Model.FirstOrDefault().OpeningBalance;
            string clBal = Model.Select(x => x.Balance).LastOrDefault() == "" ? "0" : Model.Select(x => x.Balance).LastOrDefault();
            decimal totalDebit = Convert.ToDecimal(Model.Sum(x => Convert.ToDecimal(x.Dr)));
            decimal totalCredit = Convert.ToDecimal(Model.Sum(x => Convert.ToDecimal(x.Cr)));

        <div class="col-md-4 mb-3">
            <label>Opening Balance</label>
            <input type="text" class="form-control" readonly="readonly" value="@opBal" id="openingBalance">
            <br />
            <label hidden>Total Debit</label>
            <input hidden type="text" class="form-control" readonly="readonly" value="@totalDebit.ToString("#,##0.00")" id="totalDebit">

        </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Closing Balance</label>
                @if (@Model.Last().Balance != "")
                {
                    <input type="text" class="form-control" readonly="readonly" value="@clBal" id="closingBalance">
                }
                else
                {
                    <input type="text" class="form-control" readonly="readonly" value="0.00" id="closingBalance">
                }
                <br />
                <label hidden>Total Credit</label>
                <input hidden type="text" class="form-control" readonly="readonly" value="@totalCredit.ToString("#,##0.00")" id="totalCredit">
            </div>
            <div class="card-body card-dashboard">
                <table id="tblVendor" class="table">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Dr)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Cr)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th> </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>
                                <td>
                                    @{
                                        @(item.Dr)
                                    }
                                </td>
                                <td>
                                    @{
                                        @(item.Cr) 
                                    }
                                </td>
                                <td>
                                    @if (string.IsNullOrWhiteSpace(item.Balance))
                                    {
                                        @(0)
                                    }
                                    else
                                    {
                                        decimal balance = Convert.ToDecimal(item.Balance);
                                        @(balance.ToString("#,##0.0"))
                                        @*<span> @balance.ToString("#,##0.00") </span>*@
                                    }
                                </td>
                                <td>
                                    @*@if (item.VoucherName == "Purchase")
                        {
                            <a href="/Purchase/Export/@item.RefID">Details</a> <span> | </span>
                            if (@User.IsInRole("SuperAdmin"))
                            {
                                <a href="/Purchase/GetEditPurchaseInvoice/@item.RefID">Edit</a> <span> | </span>
                                <a href="/Purchase/PODelete/@item.RefID">Delete</a>
                            }
                        }*@
                                </td>
                            </tr>
                        }
                    </tbody>

                    <tfoot>
                        <tr>
                           <th></th>
                           <th></th>
                           <th></th>
                           <th></th>
                           <th></th>
                        </tr>
                    </tfoot>

                </table>

              
            </div>
           
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
    </div>


