﻿
@model POSOman.Models.BLL.Payment
@{
    ViewBag.Title = "Editing Approved Employee Purchase : " + ViewBag.OrderID;
}
<h2>@ViewBag.Title</h2>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("SaveEditedEmployeePurchase", "Payment", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <input id="hdnOrderId" type="hidden" value="@ViewBag.OrderID" />
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.AccountID, "Employee", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.employee, "Value", "Name"), "Select Employee", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                                    <label id="empPreviousBal" style="color: red; font-weight: bolder; font-size: 20px;"></label>
                                                    <input type="hidden" id="hdnEmpPrevBal">

                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row">

                                                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", name = "Description", id = "Description" } })
                                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.VoucherDate, "Purchase Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("PayTypeID", new SelectList(ViewBag.payType, "Value", "Name", "- select one -"), htmlAttributes: new { @class = "select2 form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row last">
                                                @Html.LabelFor(model => model.Amount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    <input type="number" class="form-control" style="color:yellow;background-color:black;font-weight:bolder;font-size:50px;" id="Amount" readonly />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div id="productSecionDiv">
                                        <hr />
                                        <h3>Product Section</h3>
                                        <br />
                                        <!---->
                                        <div class="row">
                                            <form id="ProductForm" name="ProductForm">

                                                <div class="col-sm-2">
                                                    <label>Product</label>
                                                    <br />
                                                    @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Description</label>
                                                    <br />
                                                    <input type="text" class="form-control" placeholder="Desc" id="ProdDesc" />
                                                </div>

                                                <div class="col-sm-1">
                                                    <label>Qty</label>
                                                    <br />
                                                    <input type="number" min="0" class="form-control" placeholder="Qty" id="Qty" />
                                                </div>

                                                <div class="col-sm-1">
                                                    <label>Unit Price</label>
                                                    <br />
                                                    <input type="number" min="0" class="form-control" placeholder="UnPrice" id="UnitPrice" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Expense</label>
                                                    <br />
                                                    @Html.DropDownList("ExpenseID", new SelectList(ViewBag.Expense, "Value", "Name"), "Select Expense", htmlAttributes: new { @class = "select2 form-control" })
                                                </div>
                                                <div class="col-sm-2">
                                                    <label>Sub Total</label>
                                                    <br />
                                                    <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                                </div>
                                                <div class="col-sm-1">
                                                    <label>Action</label>
                                                    <input type="button" class="btn btn-round" value="Add" id="addRow">
                                                </div>



                                                <div hidden class="col-sm-2">
                                                    <label>Employee Payment Clearance</label>
                                                    <br />
                                                    <input type="hidden" id="hdnJEntryId" />
                                                    <input type="text" disabled min="0" class="form-control" id="JEntryID_DD" />
                                                </div>
                                                <div hidden class="col-sm-1">
                                                    <label>Set. Am.</label>
                                                    <br />
                                                    <input type="number" class="form-control" placeholder="" id="EmployeeSettledAmount" disabled />
                                                </div>
                                            </form>
                                        </div>
                                        <div>
                                            <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Prod</th>
                                                        <th>Exp</th>
                                                        <th>Qty</th>
                                                        <th>Un Pr.</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <!---->
                                    </div>

                                    <div class="form-actions right">
                                        <input type="button" id="btnSave" value="Update Now" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#AccountID').select2();
        $('#ddlPartNumber').select2();
        $('#ExpenseID').select2();



    </script>

    <script src="~/Scripts/Payments/EditApprovedEmployeePurchase.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
}
