﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>

@using POSOman.Models;

@{
    ViewBag.Title = "Vendor Statement";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <h2>@ViewBag.Title</h2> <br />
        <div class="row">
            <div class="col-12">
                <div class="form-row">

                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Vendor</label>
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.vendorList, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <style rel="stylesheet" type="text/css">
        table {
            width: 100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        /*th,
        td {*/
        /* border: 1px solid black;*/
        /*width: 100px;*/
        /*display: inline-block;*/
        /*text-overflow: ellipsis;
            white-space: nowrap;
        }*/
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>
    <script>
    $("#AccountID").select2();
    $("#btnSearch").on("click", function () {
        var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Vendor Statement</h4>' ;

        var vendorName = $("#AccountID option:selected").text();
        html += "<h4>Vendor: " + vendorName + "</h4>";
        var accountID = $('#AccountID').val();
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        if (fromDate != "" && toDate !="")
        { html += "<h4>From: " + fromDate + "            TO: " + toDate + " </h4>"; }

            if (accountID == 0)
            {
                swal("Vendor", "Please Select Vendor!", "error");
            }
            else if (accountID > 0 )
            {
                $.ajax({
                    url: "@Url.Action("Index", "Payment")",
                    data: {
                        accountID: $('#AccountID').val(),
                        fromDate  : $('#fromDate').val(),
                        toDate    : $('#toDate').val()},
                        success: function (data) {

                        if (data != null) {
                            $("#SearchResult").html(data);
                            showDetails();
                            var openingBalance = ($("#openingBalance").val());
                            var closingBalance = $("#closingBalance").val();
                            html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                            html += "<h4>Closing Balance: " + closingBalance + "</h4>";
                            $('#tblVendor').dataTable({
                                initComplete: function (settings, json) {
                                    // calculate the sum when table is first created:
                                    doSum();
                                },
                                aoColumnDefs: [
                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [0], "bSortable": true, "sType": "datetime-moment" },
                                ],
                                dom: 'Bfrtip',
                                ordering:false,
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            var Name = $("#AccountID option:selected").text()||'-';
                                            var openingBalance = $("#openingBalance").val() || '-';
                                            var closingBalance = $("#closingBalance").val() || '-';
                                            var totalDebit = $("#totalDebit").val() || '-';
                                            var totalCredit = $("#totalCredit").val() || '-';

                                            return '<h1  align="center"> <img src="@adddata.Logo" class="brand-logo"> @adddata.Title</h1><h5 align="center">@adddata.FullAddress </h5><h5 align="center">Contact: @adddata.Contact1</h5><hr /><h4 align="center">@ViewBag.Title</h4><br/><p> Name: ' + Name + '</p><br/><p> Opening Bal: ' + openingBalance + '</p><br/><p> Closing Bal: ' + closingBalance + '</p><br/><p> Total Debit: ' + totalDebit + '</p><br/><p> Total Credit: ' + totalCredit + '</p>';

                                            //return html;
                                        },
                                        title: '',
                                        messageBottom: '<br/><div style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%; margin-top:5%">Developed By: @adddata.DevelopBy</p></div>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4]
                                        }
                                    },
                                    {

                                        extend: 'excel',
                                        messageTop: function () {
                                            return 'Vendor Statement';
                                        },
                                        title: '',

                                        messageBottom: function () {
                                            var totalDeb = $("#totalDebit").val() || '-';
                                            var totalCred = $("#totalCredit").val() || '-';
                                            var openingBalance = $("#openingBalance").val() || '-';
                                            var closingBalance = $("#closingBalance").val() || '-';
                                            var Name = $("#AccountID option:selected").text() || '-';
                                            var data = "";
                                            data += "  Vendor: " + Name;
                                            data += "  Opening Bal: " + openingBalance;
                                            data += "  Closing Bal: " + closingBalance;
                                            data += "  Total Debit: " + totalDeb;
                                            data += "  Total Credit: " + totalCred;
                                            data += "                     Developed By: MangoTech Solutions";

                                            return data;
                                        },
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4]
                                        }
                                    }
                                ]

                            });


                            ///////////////////////

                            $('#tblVendor').on('draw.dt', function () {
                                // re-calculate the sum whenever the table is re-displayed:
                                doSum();
                            });

                            // This provides the sum of all records:
                            function doSum() {

                                // get the DataTables API object:
                                var table = $('#tblVendor').DataTable();
                                // set up the initial (unsummed) data array for the footer row:
                                var totals = ['', 'Total', 0, 0, ''];
                                // iterate all rows - use table.rows( {search: 'applied'} ).data()
                                // if you want to sum only filtered (visible) rows:
                                totals = table.rows().data()
                                    // sum the amounts:
                                    .reduce(function (sum, record) {
                                        for (let i = 2; i <= 3; i++) {
                                            sum[i] = sum[i] + numberFromString(record[i]);
                                        }
                                        return sum;
                                    }, totals);
                                // place the sum in the relevant footer cell:
                                for (let i = 1; i <= 3; i++) {
                                    var column = table.column(i);
                                    $(column.footer()).html(formatNumber(totals[i]));
                                }
                            }

                            function numberFromString(s) {
                                return typeof s === 'string' ?
                                    s.replace(/[\$,]/g, '') * 1 :
                                    typeof s === 'number' ?
                                        s : 0;
                            }

                            function formatNumber(n) {
                                return n.toLocaleString(); // or whatever you prefer here
                            }

                        }


                    //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                    //    "date-uk-pre": function (a) {
                    //        var ukDatea = a.split('/');
                    //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                    //    },

                    //    "date-uk-asc": function (a, b) {
                    //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                    //    },

                    //    "date-uk-desc": function (a, b) {
                    //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                    //    }
                    //});
                }});

        }
    });

        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblVendor tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 1 ) {
                    swal(cell.innerHTML.trim());
                }
            });
        }

    </script>

}