﻿@model IEnumerable<POSOman.Models.GetVendorPaymentDateWise_Result>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vendor Statement</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body style="margin-top:208px; margin-bottom:76px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Opening Balance : </strong></label>@Model.First().OpBalance</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Opening Balance : </strong></label>@Model.Last().Balance</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Detail)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Debit)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Credit)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Balance)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debit)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            <td>
                                @if (item.Balance == "")
                                {<label>0</label>}
                                else
                                {@Html.DisplayFor(modelItem => item.Balance);
                            }
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    <p>Developed By: MangoTech Solutions</p>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <input type='button' onClick='javascript:show_hide_column(1, false);' value='hide PartNo' id="hideCol">

</body>
</html>

@section scripts{
    <style rel="stylesheet" type="text/css">
        table {
            width: 100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        /*th,
        td {*/
        /* border: 1px solid black;*/
        /*width: 100px;*/
        /*display: inline-block;*/
        /*text-overflow: ellipsis;
            white-space: nowrap;
        }*/
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>

    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">

        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblCustomer tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 1 || cell.cellIndex === 2 || cell.cellIndex === 3) {
                    swal(cell.innerHTML.trim());
                }
            });
        }


        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/Payment';
        }
    </script>



}