﻿@model POSOman.Models.tbl_Company

@{
    ViewBag.Title = "Create";
}


<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Company</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Company">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">V</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "Company",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i> Company Info</h4>
                                    @*<div class="form-group row">
                                            @Html.LabelFor(model => model.AccountID, htmlAttributes: new { @class = "col-md-3 label-control" })
                                            <div class="col-md-9">
                                                @Html.EditorFor(model => model.AccountID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Company Name</label>
                                                @Html.EditorFor(model => model.Name, "Name*", new { htmlAttributes = new { @class = "form-control", required = "required", maxlength = "16" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Address </label>
                                                @Html.EditorFor(model => model.Address, "Address", new { htmlAttributes = new { @class = "form-control", maxlength = "81" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Landline</label>
                                                @Html.EditorFor(model => model.Landline, new { htmlAttributes = new { @class = "form-control", type = "tel", maxlength = "15" } })
                                                @Html.ValidationMessageFor(model => model.Landline, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Cell</label>
                                                @Html.EditorFor(model => model.Cell, new { htmlAttributes = new { @class = "form-control", type = "tel", maxlength = "15" } })
                                                @Html.ValidationMessageFor(model => model.Cell, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", maxlength = "30" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Logo Image</label>

                                            @*<h3>Image Height  less than   90 </h3>
                                                <br />
                                                <h3>Image width  less than   150 </h3>*@

                                            <div class="input-group col-md-10" style="margin-left: 15px; max-width: 280px;">
                                                <label class="input-group-btn">
                                                    <span class="btn btn-primary">
                                                        Browse&hellip; <input type="file" id="img" name="img" onchange="return Upload()" accept="image/*" style="display: none;" multiple />
                                                    </span>
                                                </label>
                                                <input type="text" class="form-control" readonly>
                                            </div>
                                            <span style="color:red;" class="errorProfile col-md-12"></span>
                                        </div>
                                    </div>




                                </div>
                                <div class="form-actions">
                                    @*<button type="button" class="btn btn-warning mr-1">
                                            <i class="ft-x"></i> Cancel
                                        </button>*@
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts
    {

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>







    <script>


        //for input type image
        $(function () {

            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function () {
                var input = $(this),
                    numFiles = input.get(0).files ? input.get(0).files.length : 1,
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready(function () {
                $(':file').on('fileselect', function (event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if (input.length) {
                        input.val(log);
                    } else {
                        if (log) alert(log);
                    }

                });
            });

        });
    </script>

    <script type="text/javascript">
        function UploadDoc() {
            //Get reference of FileUpload.
            var fileUpload = document.getElementById("doc");

            //Check whether the file is valid Image.

            //Check whether HTML5 is supported.
            if (typeof (fileUpload.files) != "undefined") {
                //Initiate the FileReader object.
                var reader = new FileReader();
                //Read the contents of Image File.
                reader.readAsDataURL(fileUpload.files[0]);
                reader.onload = function (e) {
                    //Initiate the JavaScript Image object.
                    var image = new Image();

                    //Set the Base64 string return from FileReader as source.
                    image.src = e.target.result;

                    //Validate the File Height and Width.
                    image.onload = function () {
                        var height = this.height;
                        var width = this.width;
                        //if (height > 200 || width > 175) {
                        //    $(".errorProfile").text("Height and Width must not exceed 175x200.")
                        //    //alert("Height and Width must not exceed 200x175.");
                        //    return false;
                        //}
                        $(".errorProfile").text("")
                        //alert("Uploaded image has valid Height and Width.");
                        return true;
                    };

                }
            } else {
                $(".errorProfile").text("This browser does not support HTML5.")
                //alert("This browser does not support HTML5.");
                return false;
            }

        }
        function Upload() {
            //Get reference of FileUpload.
            var fileUpload = document.getElementById("img");

            //Check whether the file is valid Image.
            var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpeg|.jpg|.png|.gif)$");
            if (regex.test(fileUpload.value.toLowerCase())) {

                //Check whether HTML5 is supported.
                if (typeof (fileUpload.files) != "undefined") {
                    //Initiate the FileReader object.
                    var reader = new FileReader();
                    //Read the contents of Image File.
                    reader.readAsDataURL(fileUpload.files[0]);
                    reader.onload = function (e) {
                        //Initiate the JavaScript Image object.
                        var image = new Image();

                        //Set the Base64 string return from FileReader as source.
                        image.src = e.target.result;

                        //Validate the File Height and Width.
                        image.onload = function () {
                            var height = this.height;
                            var width = this.width;

                            if (height > 90 || width > 150) {
                                {
                                    swal("No Image Attach", "Height and Width must not exceed  height 90 x width 150 ", "error");
                                    uiBlock();
                                }
                            }
                            //if (height > 200 || width > 175) {
                            //    $(".errorProfile").text("Height and Width must not exceed 175x200.")
                            //    //alert("Height and Width must not exceed 200x175.");
                            //    return false;
                            //}
                            $(".errorProfile").text("")
                            //alert("Uploaded image has valid Height and Width.");
                            return true;
                        };

                    }
                } else {
                    $(".errorProfile").text("This browser does not support HTML5.")
                    //alert("This browser does not support HTML5.");
                    return false;
                }
            } else {
                $(".errorProfile").text("Please select a valid Image file.")
                //alert("Please select a valid Image file.");
                return false;
            }
        }
    </script>

}

