﻿@model POSOman.Models.tbl_Company

@{
    /**/

    ViewBag.Title = "Detials";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Company </h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Company">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Company</a>
                    </li>
                   
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>Name</td>
                                            <td>Detail</td>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Company Name</td>

                                            <td>     @Html.DisplayFor(model => model.Name)</td>



                                        </tr>
                                        <tr>
                                            <td>Cell</td>

                                            <td>     @Html.DisplayFor(model => model.Cell)</td>


                                        </tr>

                                        <tr>
                                            <td>Landline</td>

                                            <td>     @Html.DisplayFor(model => model.Landline)</td>


                                        </tr>
                                        <tr>
                                            <td>Address</td>

                                            <td>     @Html.DisplayFor(model => model.Address)</td>


                                        </tr>

                                        <tr>
                                            <td>
                                                Logo
                                            </td>

                                            <td>
                                                <img style="width:100px;height:80px;" src="@Url.Content(@Model.Picture) " />
                                            </td>


                                        </tr>
                                     
                                        <tr>

                                            <td>
                                                Action
                                            </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyID }) |   @Html.ActionLink("Delete", "Delete", new { id = Model.CompanyID })
                                            </td>


                                        </tr>


                                    </tbody>
                                    <tfoot>
                                       
                                    </tfoot>
                                </table>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </section>
    <!-- // Striped row layout section end -->
</div>
