﻿@model IEnumerable<POSOman.Models.tbl_Company>

@{
    ViewBag.Title = "Company";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Company</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblVendor" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                           
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                          
                                            <th>
                                                @Html.DisplayNameFor(model => model.Landline)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Cell)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Email)
                                            </th>
                                          

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                               
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                               
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Landline)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cell)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                               
                                                <td>
                                              
                                                  
                                                     @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
                                                
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblVendor').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title: '',
                    messageTop: function () {

                        //if ( printCounter === 1 ) {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">SUKKUR TRADERS</h1><h5 align="center">PLOT # Q-312, SECTOR 33/A,KORANGI # 2,Karachi</h5><h5 align="center">Contact: 03212726021</h5><hr /><h4 align="center">Vendors List</h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5,6,7]
                    }
                }
            ]
        });
    </script>
}
