﻿@model IEnumerable<POSOman.Models.GetPDCChequesDateWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="card-body card-dashboard">
                <table id="tblCheques" class="table">
                    <thead>
                        <tr>
                           
                            <th>
                                Customer
                            </th>
                            <th>
                                Chq For
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BankName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChequeDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChequeNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>Bounce</th>
                            <th>Clear</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>
                                    @(item.Code + " | " + item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoucherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankName)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ChequeDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChequeNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                @if (item.IsBounced == false)
                                {
                                    <td>
                                        @Html.ActionLink("Bounce", "Delete", "Cheques", new { id = item.JEntryId }, null)
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (item.IsCleared == false)
                                {
                                    <td>
                                        @Html.ActionLink("Clear Chq", "ClearedConfirmed", "Cheques", new { id = item.JEntryId }, null)
                                    </td>
                                }
                                else if (item.IsCleared == true)
                                {
                                    <td>
                                        Cleared
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>



                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}