﻿@model IEnumerable<POSOman.Models.GetChequesDateWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="card-body card-dashboard">
                <table id="tblCheques" class="table">
                    <thead>
                        <tr>
                            <th>
                                Chq For
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BankName)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.ChequeDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ChequeNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>

                            @*<th>
                                    @Html.DisplayNameFor(model => model.ChequeType)
                                </th>*@

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VoucherName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BankName)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ChequeDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChequeNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                               <td>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })
                               </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">

    </script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}