﻿@model POSOman.Models.tbl_Cheques

@{
    ViewBag.Title = "Delete";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Cheques</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Received Cheques">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Cheque</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Clearance</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    @using (Html.BeginForm("ClearCheque", "Cheques", FormMethod.Post))
    {
         Html.AntiForgeryToken();
        <!-- Striped row layout section start -->
        <section id="striped-row-form-layouts">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Are you sure you want to clear this cheque?</h4>
                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                    <dl class="dl-horizontal">
                                       
                                        @Html.HiddenFor(model => model.JEntryId)
                                        @Html.HiddenFor(model => model.Description)
                                        @*@Html.HiddenFor(model => model.DepositBankAccountID)*@
                                        @Html.HiddenFor(model => model.ChequeDate)
                                        @Html.HiddenFor(model => model.ChequeNumber)
                                        @Html.HiddenFor(model => model.BankName)
                                        <dt>
                                            Cheque
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model=>model.Description)
                                        </dd>
                                        <dt>
                                            Tranferring Bank
                                        </dt>

                                        <dd>
                                            @Html.DropDownListFor(model => model.DepositBankAccountID, new SelectList(ViewBag.Bank, "Value", "Name"), "Select Bank", htmlAttributes: new { @class = "select2 form-control", id = "DepositBankAccountID", @required = "required" })

                                        </dd>

                                        <dt>
                                            Cheque Date
                                        </dt>

                                        <dd>
                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.ChequeDate))
                                        </dd>

                                        <dt>
                                            Cheque Number
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.ChequeNumber)
                                        </dd>
                                        <dt>
                                            Previous Selected Bank
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.BankName)
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Clear Cheque" class="btn btn-primary" /> |
                <input type="submit" value="Back To List" onclick="window.history.go(-1); return false;" class="btn btn-danger" />
            </div>

        </section>
    }
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DepositBankAccountID").select2();

        })
    </script>
}
