﻿@model POSOman.Models.tbl_Cheques

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Cheques</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankBranch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankBranch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChequeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChequeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bearer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bearer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCleared)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCleared)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsBounced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsBounced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BounceDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BounceDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClearingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClearingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepositDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Branch.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Branch.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_ChequeType.ChequeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_ChequeType.ChequeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_JEntry.VoucherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_JEntry.VoucherName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChequeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
