﻿@model IEnumerable<POSOman.Models.DTO.Cheques>

@{
    ViewBag.Title = "Index";
}
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @*<div class="card-header">
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>*@
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">

                            <div class="table-responsive">

                                <table id="tblCheques" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Chq For
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BankName)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.ChequeDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ChequeNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Amount)
                                            </th>

                                            @*<th></th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VoucherName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BankName)
                                                </td>
                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ChequeDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ChequeNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Amount)
                                                </td>
                                               
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            @*if ("@Html.Raw(Model)" != null)
            { var chqType = "@Html.Raw(Model.FirstOrDefault().tbl_ChequeType.ChequeType)"; }*@
            var chqType = $('#hdnChequeType').val();
           // console.log(chqType);
            $('#tblCheques').dataTable({
                aoColumnDefs: [
                { "aTargets": [1], "bSortable": true },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [2], "bSortable": true, "sType": "date-uk" },
                { "aTargets": [4], "bSortable": true }
                
                ],
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',                        
                        messageTop: function () {

                            //if ( printCounter === 1 ) {
                            return '<h3>'+chqType+' Cheques List</h3>';
                            //}
                            //else {
                            //    return 'You have printed this document '+printCounter+' times';
                            //}
                        },
                        messageBottom: null,
                        exportOptions: {
                            columns: [0, 1, 2, 3,4]
                        }
                    }
                ]
            });

        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
        //$(tblCheques).DataTable({
        //    dom: 'Bfrtip',
        //    buttons: [
        //        {
        //            extend: 'print',
        //            exportOptions: {
        //                columns: [0, 1,2,3,4, 5]
        //            }
        //        }
        //    ]
        //});
    </script>
}

