﻿@model IEnumerable<POSOman.Models.GetPDCChequesDateWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>RECIEVED CHEQUES</h2> <br />  
                <div class="form-row">                    
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Code</label>
                        <br>
                        @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Branch</label>
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>

                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>

        $("#btnSearch").on("click", function () {                        
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = "";
            {
                html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">PDC Cheques </h4>';

            }
            var BranchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h4 align=center>Branch:  " + Branch + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("GetPDCCheques", "Cheques")",
                    data: {
                        isSearch: true,
                        customerID: $('#hdnAccountID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID: BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            $('#tblCheques').dataTable({
                                aoColumnDefs: [
                                { "aTargets": [0], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [5], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [3], "bSortable": true, "sType": "date-uk" },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 1, 2, 3, 4,5,6]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6]
                                }
                            },
                            {
                                extend: 'pdf',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6]
                                }
                            }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                        }


                }});
        }
        });

    </script>
<script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();

    $('#Branch').select2();
</script>

}