﻿@model POSOman.Models.tbl_JDetail
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-5" style="text-align:center; align-content:center">
                        <h3>@ViewBag.CompanyName</h3>
                    </div>
                    <div class="col-md-11" style="text-align:center ">

                        <h6>@ViewBag.CompanyAddress </h6>
                        @*<h6>Phone: 0344 3607167</h6>*@
                        <hr /><br />
                        <h4>Payment Voucher</h4>
                        <br />
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <form>
                            <div class="form-group"><label style="padding-right:15px;"><strong>Paid To : </strong></label><strong>@Model.tbl_AccountDetails.AccountCode | @Model.tbl_AccountDetails.AccountName</strong></div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Payment Date: </strong></label>@Model.tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                            @if (@Model.tbl_JEntry.BankName != null && Model.tbl_JEntry.BankName != "")
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Bank Name </strong></label>@Model.tbl_JEntry.BankName
                                </div>}
                            else
                            {
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>CASH</strong></label>
                                </div>
                            }
                            @if (@Model.tbl_JEntry.ChequeNumber != null)
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque No. </strong></label>@Model.tbl_JEntry.ChequeNumber
                                </div>}
                        </form>
                    </div>
                    <div class="col-md-3 col-xl-4"></div>
                    <div class="col-md-5 col-xl-4">
                        <form>
                            <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Detail</strong></label>@Model.Detail</div>
                            @if (@Model.tbl_JEntry.ChequeDate != null)
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque Date </strong></label>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.tbl_JEntry.ChequeDate))
                                </div>}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table" id="item-table">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Description</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">1</td>
                            <td class="left strong">@Model.tbl_JEntry.Description</td>

                            <td class="right">@Model.tbl_JEntry.Amount</td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
        <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Total</strong>
                        </td>
                        <td class="right">
                            <strong>@Model.tbl_JEntry.Amount</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 text-center">
                        <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                        <p style="padding-top: 30px;">_____________________</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center">
            <text>Developed By: MangoTech Solutions</text>
            <br /> <text>@ViewBag.CompanyLandline</text>
        </div>
    </div>
    <div>
        <hr />
    </div>
    <div style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-5" style="text-align:center; align-content:center">
                        <h3>@ViewBag.CompanyName</h3>
                    </div>
                    <div class="col-md-11" style="text-align:center ">

                        <h6>@ViewBag.CompanyAddress</h6>
                        @*<h6>Phone: 0344 3607167</h6>*@
                        <hr /><br />
                        <h4>Payment Voucher</h4>
                        <br />
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-4 col-xl-4">
                        <form>
                            <div class="form-group"><label style="padding-right:15px;"><strong>Paid To : </strong></label><strong>@Model.tbl_AccountDetails.AccountCode | @Model.tbl_AccountDetails.AccountName</strong></div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Payment Date: </strong></label>@Model.tbl_JEntry.VoucherDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                            </div>
                            @if (@Model.tbl_JEntry.BankName != null)
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Bank Name </strong></label>@Model.tbl_JEntry.BankName
                                </div>}
                            @if (@Model.tbl_JEntry.ChequeNumber != null)
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque No. </strong></label>@Model.tbl_JEntry.ChequeNumber
                                </div>}
                        </form>
                    </div>
                    <div class="col-md-3 col-xl-4"></div>
                    <div class="col-md-5 col-xl-4">
                        <form>
                            <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Detail</strong></label>@Model.Detail</div>
                            @if (@Model.tbl_JEntry.ChequeDate != null)
                            {<div class="form-group row">
                                    <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque Date </strong></label>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.tbl_JEntry.ChequeDate))
                                </div>}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table" id="item-table">
                    <thead>
                        <tr>
                            <th class="center">#</th>
                            <th>Description</th>
                            <th class="right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="center">1</td>
                            <td class="left strong">@Model.tbl_JEntry.Description</td>

                            <td class="right">@Model.tbl_JEntry.Amount</td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
        <div class="col-lg-4 col-sm-5 ml-auto">
            <table class="table table-clear">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Total</strong>
                        </td>
                        <td class="right">
                            <strong>@Model.tbl_JEntry.Amount</strong>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 text-center">
                        <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                        <p style="padding-top: 30px;">_____________________</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align:center">
            <text>Developed By: MangoTech Solutions</text>
            <br /> <text>@ViewBag.CompanyLandline</text>
        </div>
    </div>

    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <input id="backbtn" class="btn btn-primary btn-lg" type='button' onclick="Back()" style="margin: 1px;" @*onClick='javascript:show_hide_column(0, false);'*@ value='Back'>

    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">


        function Back() {
            window.location.href = '/SalePerson/Statement';
        }

        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/SalePerson/Statement';
        }
    </script>
    @*<div class="footer">Developed By: MangoTech Solutions</div>*@
</body>
</html>