﻿@model IEnumerable<POSOman.Models.GetSalePersonPayReportFilterWise_Result>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">
                                @if (Model != null)
                                {

                                    <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Voucher
                                                </th>
                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    SalePerson
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                @*<th>
                                                    Amount Settled
                                                </th>
                                                <th>
                                                    Balance
                                                </th>*@
                                                <th>
                                                    Detail
                                                </th>


                                                <th></th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VoucherName)
                                                    </td>
                                                    <td>
                                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AccountName)
                                                    </td>
                                                    <td>
                                                        @{
                                                            decimal totalamount = item.Amount ?? 0;
                                                            <span> @totalamount.ToString("#,##0.00") </span>
                                                        }
                                                    </td>
                                                    @*<td>
                                                        @{
                                                            decimal settledamount = item.TotalBalanceSettled ?? 0;
                                                            <span> @settledamount.ToString("#,##0.00") </span>
                                                        }
                                                       
                                                    </td>*@
                                                    @*<td>
                                                        @{
                                                            decimal balance = (item.Amount - item.TotalBalanceSettled) ?? 0;
                                                            <span> @balance.ToString("#,##0.00") </span>
                                                        }
                                                       
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Detail)
                                                    </td>

                                                    <td>

                                                        @Html.ActionLink("Details", "Details", new { id = item.JDetailID })
                                                        @*@Html.ActionLink("Voucher", "Voucher", new { id = item.JDetailID })*@
                                                        @*@if (item.VoucherName != "Purchase")
                                                            {@Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })}
                                                            @if (item.IsSettleEntry == true && item.TotalBalanceSettled < item.Amount)
                                                            {
                                                                <text>|</text> @Html.ActionLink("Settle", "SettleAmountWithInvoices", new { id = item.JEntryID })
                                                            }*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                }
                                else
                                {
                                    <text>
                                        <script type="text/javascript">
                                            swal("No Data", "No Data Found!", "error");
                                        </script>
                                    </text>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        var table = $('#tblPO').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5,6]
                    }
                }
            ]
        });
    </script>
}
