﻿@model IEnumerable<POSOman.Models.GetSalePersonPaymentDateWise_Result>
<style>
    @@media print {
        @@page {
            /*size: A4; */
            margin-top: 60px;
            margin-bottom: 50px;
        }
    }
</style>
<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal opBal = Model.FirstOrDefault().OpBalance ?? 0;
            var clBal = Model.LastOrDefault().Balance;

            <div class="col-md-4 mb-3">
                <label>Opening Balance</label>
                <input type="text" class="form-control" readonly="readonly" value="@opBal.ToString("#,##0.00")" id="openingBalance">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Closing Balance</label>
                @if (@Model.Last().Balance != "")
                {
                    <input type="text" class="form-control" readonly="readonly" value="@clBal.ToString()" id="closingBalance">
                }
                else
                {
                    <input type="text" class="form-control" readonly="readonly" value="0.00" id="closingBalance">
                }

            </div>
            <div class="card-body card-dashboard">
                <table id="tblVendor" class="table">
                    <thead>
                        <tr>
                            <th hidden>
                                @Html.DisplayName("Branch")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Debit)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Credit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                            <th> </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                </td>
                                <td>
                                    @if (item.Description != null)
                                    {
                                        <span> @item.Description </span>
                                    }
                                    else
                                    {
                                        <span> @item.Detail </span>
                                    }
                                </td>
                                <td>
                                    @{
                                        decimal cr = item.Credit ;
                                        <span> @cr.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @{
                                        decimal dr = item.Debit ;
                                        <span> @dr.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @if (item.Balance == "")
                                    {
                                        <label>0</label>
                                    }
                                    else
                                    {
                                        decimal balance = Convert.ToDecimal(item.Balance);
                                        <span> @balance.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @if (item.VoucherName == "Sales")
                                    {
                                        <a href="/SalesOrder/Export/@item.RefID">Details</a> <span> | </span>
                                        if (@User.IsInRole("SuperAdmin"))
                                        {
                                            <a href="/SalesOrder/GetEditSaleInvoice/@item.RefID">Edit</a> <span> | </span>
                                            <a href="/SalesOrder/SODelete/@item.RefID">Delete</a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}




