﻿@model IEnumerable<POSOman.Models.GetSalePersonPaymentDateWise_Result>

@using POSOman.Models;

@{
    ViewBag.Title = "Sale Person Statement";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>@ViewBag.Title</h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Sale Person</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.saleperson, "Value", "Name"), "Select Sale Person", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                   
                    <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>

        $("#AccountID").select2();

        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            
        });
        
        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var BranchID = $('#Branch').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Customer Statement</h4>';

            var vendorName = $("#AccountID option:selected").text();
            html += "<h4>Customer:  " + vendorName + "</h4>";
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            if (accountID == 0)
            {
                swal("Select","Please Select SalePerson!","error");
            }
            else if (accountID > 0 )
            {
                $.ajax({
                    url: "@Url.Action("Statement", "SalePerson")",
                    data: {
                    accountID : $('#AccountID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            var openingBalance = $("#openingBalance").val();
                            var closingBalance = $("#closingBalance").val();
                            html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                            html += "<h4>Closing Balance: " + closingBalance + "</h4>";
                            $('#tblVendor').dataTable({
                                dom: 'Bfrtip',
                                ordering:false,
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            return '<h1  align="center"> <img src="@adddata.Logo" class="brand-logo"> @adddata.Title</h1><h5 align="center">@adddata.FullAddress </h5><h5 align="center">Contact: @adddata.Contact1</h5><hr /><h4 align="center">@ViewBag.Title</h4>';

                                        },
                                        title: '',
                                        messageBottom: '<br/><div style = "position: relative; text-align: center" ><p style="position: fixed; bottom: 0; width:100%; margin-top:5%">Developed By: @adddata.DevelopBy</p></div>',
                                        exportOptions: {
                                            columns: [ 1, 2, 3, 4, 5]
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                            return 'SalePerson Statement';
                                        },
                                        title: '',
                                        messageBottom: 'Developed By: MangoTech Solutions',
                                        exportOptions: {
                                            columns: [ 1, 2, 3, 4, 5]
                                        }
                                    }

                                ]
                            });
                        }
                }});
            }
        });

    </script>

}