﻿@model IEnumerable<POSOman.Models.tbl_PrevSOReturnDetails>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body style="margin-top:250px; margin-bottom:76px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <h2>Sales Return</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Return From : </strong></label>@Model.First().tbl_PrevSalesReturn.tbl_AccountDetails.AccountName</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Return ID</strong></label>@Model.First().tbl_PrevSalesReturn.ReturnID</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Date</strong></label>@Model.First().tbl_PrevSalesReturn.ReturnDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Invoice No.</strong></label>@Model.First().tbl_PrevSalesReturn.InvoiceNo</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.tbl_Product.PartNo)
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Qty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.tbl_PurchaseOrder.InvoiceNo)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SalePrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.ReturnedQty)
                                    </td>*@

                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>

            </table>

        </div>
        <div class="col-md-5 col-sm-12">
            <p class="lead">Total due</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Sub Total</td>
                            <td class="text-right">@Model.First().tbl_PrevSalesReturn.TotalAmount</td>
                        </tr>
                        @*<tr>
                            <td>VAT</td>
                            <td class="text-right">@Model.First().tbl_PrevSalesReturn.VAT</td>
                        </tr>
                        <tr>
                            <td class="text-bold-800">Total</td>
                            <td class="text-bold-800 text-right">@(Model.First().tbl_PrevSalesReturn.TotalAmount + Model.First().tbl_PrevSalesReturn.VAT)</td>
                        </tr>*@
                        <tr>
                            <td>Paid Amount</td>
                            <td class="pink text-right">@Model.First().tbl_PrevSalesReturn.AmountPaid</td>
                        </tr>
                        @*<tr class="bg-grey bg-lighten-4">
                                <td class="text-bold-800">Balance Due</td>
                                <td class="text-bold-800 text-right">$ 12,000.00</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
    <p>Developed By: MangoTech Solutions</p>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <input type='button' onClick='javascript:show_hide_column(1, false);' value='hide PartNo' id="hideCol">
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('item-table');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var printButton = document.getElementById("hideCol");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/SalesReturn';
        }
    </script>
</body>
</html>
