﻿@model IEnumerable<POSOman.Models.tbl_PrevSalesReturn>
@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Previous Sales Returns</h2>  
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Invoice No.
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                            </th>                                          
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalAmount)
                                            </th>                                            
                                            <th>
                                                @Html.DisplayNameFor(model => model.ReturnDate)
                                            </th>                                            

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                                </td>                                                
                                                <td>                                                 
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ReturnDate))
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "Details", new { id = item.ReturnID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblSO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },                    
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Previous Sales Return List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}