﻿@model POSOman.Models.tbl_StickerMachine

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_StickerMachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextColorRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextColorRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroundColorRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroundColorRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
