﻿@model IEnumerable<POSOman.Models.GetSalesIndexFilterWise_Result>


<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th> Branch </th>
                            <th> Invoice No.</th>
                            <th> Customer </th>
                            <th> @Html.DisplayNameFor(model => model.SalesDate) </th>
                            <th> Discount </th>
                            <th> VAT </th>
                            <th> @Html.DisplayNameFor(model => model.TotalAmount) </th>

                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.BranchName) </td>
                                <td> @Html.DisplayFor(modelItem => item.SOID) </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                <td>
                                    @{
                                        decimal dsc = item.DiscountAmount ?? 0;
                                        <span> @dsc.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @{
                                        decimal vat = item.VAT ?? 0;
                                        <span> @vat.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @{ 
                                        decimal totalamount = item.TotalAmount ?? 0;
                                        <span> @totalamount.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @if (item.Can_Modify == null || item.Can_Modify == true)
                                    {
                                        @Html.ActionLink("Details", "Export", new { id = item.OrderID, ReportType = "PDF" })
                                        <text>|</text>
                                        @Html.ActionLink("Edit", "GetEditSaleInvoice", new { id = item.OrderID }, null);
                                        <text>|</text>
                                        @Html.ActionLink("Delete", "SODelete", new { id = item.OrderID });
                                    }
                                    else
                                    {
                                        <text>|</text>
                                        @Html.ActionLink("Details", "Export", new { id = item.OrderID, ReportType = "PDF" })
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}