﻿<!DOCTYPE html>
<html>
<head>
    @model IEnumerable<POSOman.Models.GetSalesByOrderID_Result>
    <title>Invoice</title>
   
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        .button {
  background-color: #2b72e3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
        #invoice-POS {
            box-shadow: 0 0 1in -0.15in rgba(0, 0, 0, 0.5);
            padding: 2mm;
            margin: 0 auto;
            width: 77mm;
            background: #FFF;
            :: selection;

        {
            background: #f31544;
            color: #FFF;
        }

        ::moz-selection {
            background: #f31544;
            color: #FFF;
        }

        h1 {
            font-size: 1.5em;
            color: #222;
        }

        h3 {
            font-size: 1.2em;
            font-weight: 300;
            line-height: 2em;
        }

        p {
            font-size: .7em;
            color: #666;
            line-height: 1.2em;
        }

        #top, #mid, #bot { /* Targets all id with 'col-' */
            border-bottom: 1px solid #EEE;
        }

        #top {
            min-height: 100px;
        }

        #mid {
            min-height: 80px;
        }

        #bot {
            min-height: 50px;
        }
        
        .info {
            display: block;
            //float:left;
            margin-left: 0;
        }

        .title {
            float: right;
        }

            .title p {
                text-align: right;
            }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .tabletitle {
            font-size: .5em;
            background: #EEE;
        }

        .service {
            border-bottom: 1px solid #EEE;
        }

        .item {
            width: 24mm;
        }

        .itemtext {
            font-size: .5em;
        }

        #legalcopy {
            margin-top: 5mm;
        }
        

 </style>
</head>
<body>

    <div id="invoice-POS">

        <center id="top">
            <div class="logo">
                <img style="width: 140px;height: 80px; margin-top:1px;" src="~@ViewBag.Picture">
            </div>
            <div>
            </div><!--End Info-->
        </center><!--End InvoiceTop-->

        <div>
            <div style="border: 1px solid black; margin-bottom: 5px;">
                <center style="font-size:0.9em;">
                    @Model.First().BranchAddress
                    @*24-C Khayaban-e-Nishat,<br />
                    DHA Ph-6,Karachi<br />*@
                    <br />
                    @ViewBag.CompanyLandline
                </center>
            </div>
        </div><!--End Invoice Mid-->

        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>SALE RECEIPT</b></center>
        </div>
        <div>
            <table>
                <tr>
                    <td><b>INVOICE : </b></td>
                    <td>@Model.First().SOID</td>
                </tr>
                <tr>
                    <td><b>CASHIER : </b></td>
                    <td>@Model.First().UserName</td>
                </tr>
                <tr>
                    <td><b>CUSTOMER : </b></td>
                    <td>@Model.First().Name</td>
                </tr>
                <tr>
                    <td><b>DATE : </b></td>
                    <td>@Model.First().AddOn.Value.ToString("dd/MM/yyyy hh:mm tt")</td>
                </tr>
            </table>
        </div>
        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>SALE DETAILS</b></center>
        </div>
        <div>
            <table style="font-size: 14px; overflow-x:auto; width:100%;">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>Qty</th>
                        <th>RATE</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <hr />
                        </th>
                    </tr>
                </thead>

                @*<tr>
                        <td>50 KG BAG</td>
                        <td>140</td>
                        <td>4</td>
                        <td>450</td>
                    </tr>*@
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {

                            <tr>
                                @*<td>#@counter</td>*@
                                <td>
                                    <b> @Html.DisplayFor(modelItem => item.PartNo)</b> <br />
                                </td>
                                <td style="text-align:center;">
                                    @((Convert.ToInt32(item.Qty)))
                                </td>
                                <td style="text-align:center;">
                                    @(Convert.ToDecimal(item.SalePrice).ToString("0.00"))

                                </td>
                                <td style="text-align:center;">
                                    @item.Total.Value.ToString("0.00")
                                    @*<text>@Html.DisplayFor(modelItem => item.Total)</text>*@
                                </td>
                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div>
            <table style="overflow-x:auto; border-top: 2px dotted black;margin-top: 5px;border-bottom: 2px dotted black" width="100%">
                
                    @if (Model.First().DiscountAmount > 0)
                    {
                        <tr>
                            <th align="left">Sub Total</th>
                            <th>
                                @((Model.First().TotalAmount + Model.First().DiscountAmount).Value.ToString("0.00"))
                            </th>
                        </tr>
                        <tr>
                            <th align="left">Discount</th>
                            <th>@Model.First().DiscountAmount.Value.ToString("0.00")</th>
                        </tr>
                        
                    }
                <tr>
                    <th align="left">TOTAL BILL</th>
                    <th>@Model.First().TotalAmount.Value.ToString("0.00")</th>
                    @*<tr>
                <th align="left">PAID</th>
                <td align="left">@Model.First().TotalPaid.Value.ToString("0.00")</td>
            </tr>*@
                <tr>
                    @if (Model.First().PaymentTypeID == 5)
                    {
                        <th align="left">Recevied</th>
                    }
                    else
                    {
                        <th align="left">CASH Recd.</th>
                    }

                    <th>@(((@Model.First().CashReceived ?? 0)).ToString("0.00"))</th>
                </tr>
                @if (Model.First().PaymentTypeID != 5)
                {
                    <tr>
                        <th align="left">Change</th>
                        <th>@(((@Model.First().CashReturned ?? 0)).ToString("0.00"))</th>
                    </tr>
                }
                              
            </table>

        </div>
        <div style="margin-top: 8px;">
            <center>
                <img src="@ViewBag.BarCodeImg" style="align-content:flex-start;" />
            </center>            
            <center><h4>PLEASE VISIT AGAIN.</h4></center>
            <center><h4>NO RETURN NO EXCHANGE </h4></center>
            <center><h4>WITHOUT RECEIPT</h4></center>
            <center><h4></h4></center>
            <center><h6 style="margin-top: 5px;">Software Developed By : Mangotech Solutions </h6></center>
            <center><h6>Call : 03443607167</h6></center>
        </div>

    </div><!--End Invoice-->
    <button id="printdiv" class="button" onclick="printContent('invoice-POS'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <script>
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('tblProducts');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function Back() {
            window.location.href = '/SalesOrder/POS';
        }
        function printContent(el) {

            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
            //window.print();
            //document.body.innerHTML = restorepage;
        }

    </script>
</body>



</html>
