﻿<!DOCTYPE html>
<html>
<head>
    @model IEnumerable<POSOman.Models.GetSalesByOrderID_Result>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>. </title>
    @*<link rel="stylesheet" type="text/css" media="screen" href="~/Content/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="print" href="~/Content/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style>
        body {
            font-size:0.8rem;
            line-height:1.1;
            font-family: Arial;
        }
         #details{
            background-color: white;
            width: 240px;
            /*border: 1px solid black;*/
            padding: 1px;
            margin: 1px;
            text-align:center;
        }
         #CIHeading{
            background-color: black;
            width: 240px;
            color:white;
            border: 1px solid black;
            padding: 1px;
            margin: 1px;
            text-align:center;
        }
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
            line-height:1;
        }
         #SaleHeading{
            background-color: black;
            width: 240px;
            color:white;
            border: 1px solid black;
            padding: 1px;
            margin: 1px;
            text-align:center;
        }          
    </style> 

</head>

<body style="margin-top:30px; margin-bottom:10px;">
    <div id="printBody">

        <div style="margin-top: 20px;">
            <div class="container">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5" style="text-align:left; ">

                            </div>
                            <div class="col-md-6" style="text-align:left ">
                                <img src="~@ViewBag.Picture" style="margin-left:80px;" class="brand-logo" align="top">
                                <br />                                
                                <h4>&nbsp;&nbsp;&nbsp;<strong>@ViewBag.CompanyName</strong></h4>
                                <br />
                                @*<h4 style="margin-left:80px;">رائس سپیشلسٹ</h4>*@
                                <div id="details">
                                    <br />
                                    @*<p>PLOT # Q-312, SECTOR 33/A KORANGI # 2, KARACHI<br />Tel:02135060113 Cell:03001234567<br />facebook.com/sukkurrice</p>*@

                                </div>
                               <br />
                                <h5 id="CIHeading">SALE RECEIPT</h5>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-5">
                        <div>
                            <table class="table table-borderless">
                                @*style="font-size: 0.5rem; !important">*@
                               
                                <tbody>
                                    <tr>
                                        <td><strong>  INV. NO:</strong>&nbsp;&nbsp;@Model.First().SOID</td>
                                    </tr>
                                    <tr>
                                        <td><strong>  CUSTOMER:</strong>@Model.First().Name</td>
                                    </tr>
                                    <tr>
                                        <td><strong>  INV. DATE:</strong>&nbsp;&nbsp; @Model.First().SalesDate.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    @*<tr>
                                            <th><input readonly style="border:none;" type="text" id="Customer-info-input" value="@Model.First().tbl_SalesOrder.tbl_AccountDetails.AccountCode"></th>
                                        </tr>*@
                                    @*<tr>
                                            <th rowspan="2" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">Mode:</th>
                                            @if (Model.First().tbl_SalesOrder.PaymentTypeID > 0)
                                            {
                                                <th><input style="border:none;" type="text" id="Customer-info-input" value="@Model.First().tbl_SalesOrder.tbl_PaymentTypes.Name"></th>}
                                            else
                                            {
                                                <th><input style="border:none;" type="text" id="Customer-info-input" value="No payment recieved yet."></th>
                                            }
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div style="margin-top: 20px;">
            <div class="container">
               
                
                <div class="row">
                  
                    <div class="col-md-6">
                       
                        <div class="table-sm col-sm-6">
                            
                            <div>
                                <h6 id="SaleHeading">SALE DETAILS</h6>
                                <br />
                                <table class="table table-bordered" id="tblProducts">
                                    <tbody>

                                        <tr></tr>
                                        @{  int counter = 1;
                                        foreach (var item in Model)
                                        {

                                                <tr>
                                                    <td>
                                                        <b> #@counter @Html.DisplayFor(modelItem => item.ProductNameUr)</b> <br />
                                                        @if (item.IsMinor == true && item.IsPack == true && item.IsOpen == false)
                                                        {

                                                            <text>@(item.Qty / item.MinorDivisor) x @item.SalePrice</text>;<text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Total)</text>

}
else
{
                                                            <text>@(Convert.ToDecimal(item.Qty) / Convert.ToDecimal(item.UnitPerCarton)) x @(item.SalePrice * item.UnitPerCarton)</text>;<text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => item.Total)</text>

}


                                                    </td>
                                                </tr>


                                            counter = counter + 1;

                                                        }
                                        }
                                        @*<tr>
                        <td>
                            <textarea class="AutoGrowTextArea" rows="2" onkeyup="AutoGrowTextArea(this)" style="overflow:hidden"></textarea>
                            <div id="0-div" class="hidden-div">Sample Text</div>
                        </td>

                    </tr>*@
                                    </tbody>
                                </table>
                            </div>
                            <table class="table table-borderless">

                                <tr>
                                    <td><strong>TOTAL: @Model.First().TotalAmount</strong></td>

                                </tr>
                                <tr>
                                    @*<td>TAX: @Model.First().tbl_SalesOrder.VAT</td>*@

                                <tr>
                                    @*<td >

                                            <input readonly type="text" style="border:none;width:100%; text-align:left;" id="amountWords">

                                        </td>*@
                                    @*<td><strong>NET PAY: @(Model.First().tbl_SalesOrder.TotalAmount + Model.First().tbl_SalesOrder.VAT)</strong></td>*@
                                </tr>


                                @*<tr>
                                        <td colspan="6" style="padding-top:60px;">
                                            <span style="float:left; padding:10px 0px 10px 50px;"><strong style="border-top:2px solid #7a102e; color:#7a102e;">CUSTOMER's SIGNATURE</strong></span>
                                            <span style="float:right; padding:10px 50px 10px 0px"><strong style="border-top:2px solid #7a102e; color:#7a102e;">SALESMANS SIGNATURE</strong></span>
                                        </td>
                                    </tr>*@
                            </table>
                            <div style="text-align:left">
                                <img src="@ViewBag.BarCodeImg" style="align-content:flex-start;"/><br />
                                @*<text style="text-align:center;">ViewBag.BarCodeID</text><br />*@
                                
                                <text style="text-align:left;">
                                    @*<input hidden id="text" type="text" value="@ViewBag.QRCode" style="Width:20%" onblur='generateBarCode();' />*@
                                    <br /> <text>Developed By: MangoTech Solutions</text>
                                    <br /> <text>@ViewBag.CompanyLandline</text>                                    
                                    @*</div>*@
</div>
                            @*<div style="text-align:left">
                                Powered by: MangoTech Solutions<br />
                                Phone: 0344 3607167
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <input hidden id="printdiv" class="btn btn-primary" type="submit" value="Print" onclick="printContent('printBody')" />
        <input hidden id="backbtn" class="btn btn-primary" type='button' onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ value='Back'>
    </div>
    @*<script src="assets/js/jquery.min.js"></script>*@

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/data.js"></script>

    <script>
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('tblProducts');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function Back() {
            window.location.href = '/SalesOrder';
        }
        function printContent(el) {

        //var restorepage = document.body.innerHTML;

        //    var printcontent = document.getElementById(el).innerHTML;
        //    document.body.innerHTML = printcontent;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
            //window.print();
            //document.body.innerHTML = restorepage;
        }
        $(function () {
            window.print();
        });
    </script>





</body>

</html>

