﻿<!DOCTYPE html>
<html>
<head>
    @model IEnumerable<POSOman.Models.GetSalesByOrderID_Result>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>.</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
            margin-bottom:20px;
        }
        #watermark
{
 position:fixed;
 bottom:600px;
 right:250px;
 opacity:0.5;
 font-size:60px;
 z-index:99;
 color:black;
}
    </style>
    @*<style>
        body {
            width: 288px;
            height: 100%;
            margin: 0;
            padding: 0;
           
        }

      
    </style>*@

</head>

<body style="margin-top:40px; margin-bottom:10px;">
    <div id="printBody">

        <div style="margin-top: 20px;">
            <div class="container">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <h2><u>@ViewBag.CompanyName</u></h2><br />
                                @*<h6>Whole Seller & Distributor</h6><br />*@
                                <h6>24-C Khayaban-e-Nishat</h6>
                                <h6>Karachi</h6>
                                UAN   : 111-256837
                            </div>
                            <div class="col-md-4" style="text-align:center;">

                                @*<h2 style="border:double;">Sales Invoice</h2>*@
                            </div>
                            @*<div class="col-md-6" style="text-align:right;">*@
                            <div class="col-md-4" id="Doc-info">
                                <div>
                                    <table class="table table-bordered table-sm">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr></tr>
                                            <tr>
                                                <h2>INVOICE</h2>
                                            </tr>
                                            <tr>
                                                <td style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;"><strong>DATE:</strong></td>
                                                <td><input readonly type="text" style="border:none;" value="@Convert.ToString(string.Format("{0:dd/MM/yyyy}", @Model.First().SalesDate))"></td>
                                            </tr>
                                            <tr>
                                                <th style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">INVOICE #</th>
                                                <th colspan="2"><input readonly type="text" style="border: none;" value="@Model.First().SOID"></th>
                                            </tr>
                                            <tr>
                                                <td style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;"><strong>INVOICE BY:</strong></td>
                                                <td><input readonly type="text" style="border:none;" value="@Model.First().UserName"></td>
                                            </tr>
                                            <tr>
                                                <td style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;"><strong>Cr. Days</strong></td>
                                                <td><input readonly type="text" style="border:none;" value="@Model.First().CreditDays"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    @*<h5>NTN # 7779602</h5>*@
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-4">
                        <div>
                            <table class="table table-bordered table-sm">
                                @*style="font-size: 0.5rem; !important">*@
                                <thead>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">BILL TO:</th>
                                        <th><input readonly style="border:none;" type="text" id="Customer-info-input" value="@Model.First().Name"></th>
                                    </tr>
                                    <tr>
                                        <th rowspan="2" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">ADDRESS:</th>
                                        <th colspan="2"><input readonly style="border:none;" type="text" id="Customer-info-input" value="@Model.First().Address"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @*<h1 class="text-uppercase text-center" style="font-size: 25px;">invoice</h1>*@
                        <div>
                            <table class="table table-bordered table-sm" style="">
                                <thead>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <div class="container">
                <div class="row">
                    @*<div class="col-md-12">  *@
                    <div class="table-responsive table-sm col-sm-12" style="overflow-x: hidden;">
                        <table class="table table-bordered" id="tblProducts">
                            <tbody>
                                <tr class="highlighted-cell">
                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        S.NO

                                    </th>
                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        DESCRIPTION

                                    </th>

                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        UNIT
                                    </th>

                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        RATE
                                    </th>
                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        QTY
                                    </th>

                                    <th class="text-center" style="-webkit-print-color-adjust: exact !important; background-color:#FFF; color:#000000;">
                                        AMOUNT

                                    </th>
                                </tr>
                                @{  int counter = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center">@counter</td>

                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.PartNo)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.UnitCode)
                                            </td>
                                            <td class="text-center">
                                                @(Convert.ToDecimal(item.SalePrice).ToString("0.00"))
                                            </td>
                                            <td class="text-center">
                                                @if ((item.Qty % 1) > 0)
                                                {
                                                    @(Convert.ToDecimal(item.Qty).ToString("0.000"))
                                                }
                                                else
                                                {
                                                    @((Convert.ToInt32(item.Qty)))
                                                }
                                            </td>
                                            <td style="text-align:right;">
                                                @item.Total.Value.ToString("0.00")
                                            </td>

                                        </tr>
                                        counter = counter + 1;
                                    }
                                }
                                <tr>
                                    @*<td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>*@
                                    @*<td colspan="4"></td>*@
                                    <td colspan="5" style="text-align:right;"><b>Subtotal</b></td>
                                    <td style="text-align:right;"><b>@((Model.First().TotalAmount + Model.First().DiscountAmount).Value.ToString("0.00"))</b></td>

                                </tr>
                                @*<tr>
                                        <td colspan="5" style="text-align:right;"><b>Discount %</b></td>
                                        <td style="text-align:right;"><b>@(Model.First().DiscountPercent.Value.ToString("0.00"))</b></td>
                                    </tr>*@
                                <tr>
                                    <td colspan="5" style="text-align:right;"><b>Discount Amount</b></td>
                                    <td style="text-align:right;"><b>@(Model.First().DiscountAmount.Value.ToString("0.00"))</b></td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right;"><b>GST</b></td>
                                    <td style="text-align:right;"><b>@(Model.First().VAT.Value.ToString("0.00"))</b></td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right;"><b>PAID</b></td>
                                    <td style="text-align:right;"><b>@((Model.First().AmountPaid).Value.ToString("0.00"))</b></td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="text-align:right;"><b>Total Due</b></td>
                                    <td style="text-align:right;"><b>@((Model.First().TotalAmount + Model.First().VAT - Model.First().AmountPaid).Value.ToString("0.00"))</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                @*<div>
                        <table class="table table-bordered">

                            <tbody>
                                <tr>
                                    <td colspan="6" style="padding-top:130px;">
                                        <span style="float:left; padding:10px 0px 10px 50px;"><strong style="border-top:2px solid #7a102e; color:#7a102e;">CUSTOMER's SIGNATURE</strong></span>
                                        <span style="float:right; padding:10px 50px 10px 0px"><strong style="border-top:2px solid #7a102e; color:#7a102e;">SIGNATURE & STAMP</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    @*<div style="text-align:center">*@
                <div class="footer" style="text-align:center">
                    <img src="@ViewBag.BarCodeImg" /><br /><text style="text-align:center;">*@ViewBag.BarCodeID*</text><br /><text style="text-align:center;">

                        <input hidden id="text" type="text" value="@ViewBag.QRCode" style="Width:20%" onblur='generateBarCode();' />
                        @*<img style="text-align:center" id='barcode' src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=100x100" alt="" title="HELLO" width="150" height="160" />*@
                        <br /> <text>Developed By: MangoTech Solutions</text>
                        <br /> <text>Phone : 03443607167</text>
                        @*</div>*@
                </div>
            </div>

        </div>

        <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('printBody'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
        <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ style="margin: 1px;"> Back</button>
    </div>
    @*<script src="assets/js/jquery.min.js"></script>*@

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/data.js"></script>

    <script>
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('tblProducts');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function Back() {
            window.location.href = '/SalesOrder';
        }
        function printContent(el) {

            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
            //window.print();
            //document.body.innerHTML = restorepage;
        }
        function generateBarCode() {
            var nric = $('#text').val();
            var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
            $('#barcode').attr('src', url);
        }
    </script>


</body>

</html>
