﻿@model POSOman.Models.DTO.Sales
@{
                /**/

                ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Create Challan</h4>
                                    <div class="row">


                                        <div class="col-sm-2" hidden>
                                            <label>GST %</label>
                                            <br>

                                            <input class="form-control" id="vatInputgs" name="vatInputgs" disabled />


                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-4">
                                            <label>Customer Name</label>
                                            <br>
                                            <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                            <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                            <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                            <input type="hidden" id="hdnSalePrice" name="hdnSalePrice">
                                            <input type="hidden" id="hdnSOID" name="hdnSOID">
                                            <input type="hidden" id="hdnPOS" name="hdnPOS" value="0">
                                            <input type="hidden" id="hdnHoldID" name="hdnHoldID">
                                            <input type="hidden" id="hdnQuoteID" name="hdnQuoteID">
                                            <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                            <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
                                            <input type="hidden" id="isPacket" name="isPacket">
                                            <input type="hidden" id="isMinor" name="isMinor">
                                            <input type="hidden" id="minorDivisor" name="minorDivisor">
                                            <input type="hidden" id="InvOrderId" value="@ViewBag.OrdId" />
                                            <input type="hidden" id="customerDiscount" name="customerDiscount">
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Code</label>
                                            @**@
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreatePartial", "Customer")" id="btnCreateCustomer">Add Customer</button>
                                            <br>
                                            @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = " form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Phone</label>
                                            <br>
                                            @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = " form-control" })
                                        </div>
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Credit Limit</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Cr Limit" id="customerCrLimit" disabled />
                                        </div>
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Balance</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sales Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>PO</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="PO #" id="custPONumber" />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Remarks</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Remarks" id="Remarks" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Driver</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Driver" id="driver" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Transport</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Transport" id="transport" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Vehicle No.</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Vehicle #" id="driverVehicleNo" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Gross Weight</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Driver" id="grossWeight" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Net Weight</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Driver" id="netWeight" />
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="FSC_Cert" class="form-control" />
                                            <label>FSC Certificate</label>
                                            <br>
                                        </div>

                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="GRS_Cert" class="form-control" />
                                            <label>GRS Certificate</label>
                                            <br>
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <input type="checkbox" id="OEKO_TEX_Cert" class="form-control" />
                                            <label>OEKO TEX Certificate</label>
                                            <br>
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Credit Days</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Cr. Days" id="creditDays" onkeypress="return isNumberKey(event)" />
                                        </div>
                                        <div class="col-md-2" hidden>
                                            <label>Quotation No.</label>
                                            @Html.EditorFor(model => model.QuoteID, new { htmlAttributes = new { @class = "form-control", name = "QID", id = "QID" } })

                                            @Html.ValidationMessageFor(model => model.QuoteID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-2" hidden>
                                            <br />
                                            <input type="button" class="btn btn-primary btn-round" value="Get Quotation" id="getQuotation">
                                        </div>
                                        <div class="col-md-2" hidden>
                                            <br />
                                            <input type="button" class="btn btn-primary btn-round" value="Get Last Inv." id="getLastSales">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-2" hidden>
                                                    <label>PO No.</label>
                                                    @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control", name = "PONO", id = "PONO" } })
                                                    @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2" hidden>
                                                    <label>Cat.</label>
                                                    @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
                                    <div hidden>
                                        <label id="DescriptionTitle"></label>
                                        <label id="Description" class="badge badge-info"></label>
                                        <label hidden id="SubsTitle"></label>
                                        <label hidden id="SubstituteNo" class="badge badge-primary"></label>
                                        <label hidden id="VehModelTitle"></label>
                                        <label hidden id="VehModel" class="badge badge-info"></label>
                                        <label hidden id="GroupTitle"></label>
                                        <label hidden id="Group" class="badge badge-primary"></label>
                                        <label hidden id="LocationTitle"></label>
                                        <label hidden id="Location" class="badge badge-info"></label>
                                        <label id="UnitCodeTitle"></label>
                                        <label id="UnitCode" class="badge badge-primary"></label>
                                        <label id="MinorUnitCodeTitle"></label>
                                        <label id="MinorUnitCode" class="badge badge-primary"></label>
                                        <label id="LeastUnitCodeTitle"></label>
                                        <label id="LeastUnitCode" class="badge badge-primary"></label>
                                        <label id="QtyPerUnitTitle" hidden></label>
                                        <label id="QtyPerUnit" class="badge badge-primary" hidden></label>
                                        <label id="UnitPerCtnTitle"></label>
                                        <label id="UnitPerCtn" class="badge badge-primary"></label>
                                        <input type="hidden" id="LevelID" name="LevelID">
                                        <input type="hidden" value="@ViewBag.userRole" id="currentUserRole" />
                                    </div>
                                    <hr />
                                    <div hidden class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-2">
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Artno, "Value", "Name"), "Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Unit</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="UCode" id="unitCode" disabled />

                                            </div>

                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Product</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Packet</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Open</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Open" id="BOX" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Save</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>

                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th hidden>Select</th>
                                                    <th>Cat</th>
                                                    <th>Product</th>
                                                    <th>U.C</th>
                                                    <th>Req. Qty</th>
                                                    <th>Ready Qty</th>
                                                    <th>Delivering Qty</th>
                                                    <th>Delivered Qty</th>
                                                    <th>Bal Qty</th>
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                    <div>
                                        <button hidden type="button" value="Edit" id="btnRemove" name="btnRemove" class="btn btn-primary btn-sm btn-round" onclick="EditProduct(this)" tabindex="0">Edit Product(s)</button>
                                        <button hidden type="button" value="Edit" id="btnRemoveProduct" name="btnRemoveProduct" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div hidden class="col-sm-1">
                                            @Html.LabelFor(model => model.DiscountAmount, "Discount")
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "discInput", id = "discInput", @type = "number", @min = "0", @step = "0.01", @value = "0", @readonly = "readonly" } })
                                        </div>
                                        <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-md-2">
                                            <label>Final Amount</label>
                                            <input type="number" class="form-control" placeholder="Final Amount" id="finalAmountWithVAT" disabled />
                                        </div>
                                        <div hidden class="col-md-2">
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div hidden class="col-md-2">
                                            @Html.LabelFor(model => model.CashReceived, "Cash Received", htmlAttributes: new { })
                                            <br>

                                            <input type="text" value="0" id="cashReceived" class="btn btn-lg btn-warning" tabindex="-1" />
                                        </div>
                                        <div hidden class="col-md-2">
                                            @Html.LabelFor(model => model.CashReturned, "Cash Returned", htmlAttributes: new { })
                                            <br>
                                            <input type="button" value="Cash Retd" id="cashReturned" class="btn btn-lg btn-rtd" tabindex="-1" />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            @Html.LabelFor(model => model.VAT)
                                            <br>
                                            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "VAT (%)" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Expenses</label>
                                            <br>
                                            <input class="form-control" id="vatAmount" name="vatAmount" />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">

                                                <div hidden class="col-md-4">
                                                    <label>Balance</label>
                                                    <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 hidden class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div hidden class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "" })

                                                @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3",Selected = true },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "" })

                                                @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div hidden class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Save & Print" class="btn btn-primary" />
                                    <input type="button" id="btnHold" value="Hold Order" class="btn btn-dark" hidden />
                                    <input type="button" id="btnPrint" value="Print Order" class="btn btn-outline-danger" hidden />
                                </div>
                            }
                            <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal" aria-hidden="true" data-backdrop="static">
                                <div id="newCustomerContainer">
                                </div>
                            </div>

                            <div id="SearchResult">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> <p> Item: <text id="lbl_itemID"></text></p></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row" hidden>
                        <div class="col-sm-6">
                            <label>Description</label>
                            <br />
                            <input class="form-control" id="rawProductID" type="text" />
                        </div>

                        <div class="col-sm-4">
                            <label>Qty</label>
                            <br />
                            <input class="form-control" id="rawProductQty" type="number" />
                            <input class="form-control" id="hdnItemID" hidden />
                        </div>
                        <div class="col-sm-1">
                            <label>Action</label>
                            <input type="button" class="btn btn-round" value="Add" id="addPackageRowBtn">
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Item Qty</label>
                            <br />
                            <input class="form-control" id="itemQtyField" type="number" readonly />
                        </div>

                        <div class="col-sm-3">
                            <label>Package Dispatch Qty</label>
                            <br />
                            <input class="form-control" id="pkgQtyField" type="number" readonly />

                        </div>
                        <div class="col-sm-3">
                            <label>Package Delivered Qty</label>
                            <br />
                            <input class="form-control" id="pkgDeliveredField" type="number" readonly />

                        </div>

                        <div class="col-sm-3">
                            <label>Bal Qty</label>
                            <br />
                            <input class="form-control" id="balQtyField" type="number" readonly />

                        </div>

                    </div>
                    <div>
                        <br />
                        <table id="addPackagesTable" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>

                                    <th hidden> itemID </th>
                                    <th hidden> OrderID </th>
                                    <th> <input type="checkbox" id="selectAll" /> | Select </th>
                                    <th> Description </th>

                                    <th> Req Qty </th>
                                    <th> Dispatch Qty </th>
                                    <th> Delivered Qty </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#CustomerCode').select2();
        $('#CustomerPhone').select2();
        $('#ddlVehCode').select2();
        $('#ddlproductname').select2();
        $('#ddlPartNumber').select2();

    </script>
   
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/ChallanFromSale.js"></script>
    <script src="~/Scripts/customScripts/ChallanDetailsFromSale.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
  
}
