﻿@model POSOman.Models.DTO.Sales
@{
    ViewBag.Title = "Create";
}

    
    <style>
        
        html, body {
            zoom:92%;            
        }

        /*#container {
            width: 80%;
            height: 80%;
            margin: 0;
            padding: 0;
            background-color: pink;
        }*/
        html body .content .content-wrapper {
    padding: 0.8rem;
}

        .card-body {
    flex: 1 1 auto;
    padding: 0.8rem;
}
        .btn-warning {
    color: black;
    background-color: #f0ad4e;
    border-color: #eea236;
    text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 20px;
  font-weight:bold;
}
        .btn-rtd {
    color: black;
    background-color: #90ee90;
    border-color: #dd8913;
    text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 24px;
  font-weight:bolder;
}
        div.ex1 {
  /*background-color: lightblue;*/
  height: 200px;  
  overflow-y: scroll;
}
    </style>


<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    @*<h4 class="form-section"><i class="icon-eye6"></i>POS</h4>*@
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                        <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                        <input type="hidden" id="hdnSalePrice" name="hdnSalePrice">
                                        <input type="hidden" id="hdnSOID" name="hdnSOID">
                                        <input type="hidden" id="hdnPOS" name="hdnPOS" value="1">
                                        <input type="hidden" id="hdnHoldID" name="hdnHoldID">
                                        <input type="hidden" id="hdnQuoteID" name="hdnQuoteID">
                                        <input type="hidden" id="unitPerCarton" name="unitPerCarton">
                                        <input type="hidden" id="qtyPerUnit" name="qtyPerUnit">
                                        <input type="hidden" id="isPacket" name="isPacket">
                                        <input type="hidden" id="isMinor" name="isMinor">
                                        <input type="hidden" id="hdnIsLoyaltyCard" name="hdnIsLoyaltyCard">
                                        <input type="hidden" id="minorDivisor" name="minorDivisor">
                                        <input type="hidden" id="hdnStock" name="hdnStock">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer</label>
                                                <button type="button" value="Points" id="btnRedeem" name="btnRedeem" class="btn btn-danger btn-sm" onclick="getRedeemPoints()">Points Info</button>                                            
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name","33"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                            @*@Html.DropDownList("AccountID", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Walk In", Value = "33" ,Selected = true}
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })*@
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Credit Limit</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Cr Limit" id="customerCrLimit" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Balance</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sales Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>                                       
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "" })

                                            @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" ,Selected = true},                                                   
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-1">
                                            <label>Pay Type</label>
                                            <br>
                                            @Html.DropDownList("ID", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Cash", Value = "4" ,Selected = true},
                                                   new SelectListItem{ Text="Credit Card", Value = "5"}
                                               }, htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                            @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                                            <label>Bank</label>
                                            @Html.DropDownList("Bank", new List<SelectListItem>{
                                                   new SelectListItem{ Text="CreditCard", Value = "110"}
                                               }, htmlAttributes: new { @class = "form-control" })

                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-6">
                                            <label>Quick Cash</label>

                                            <br />
                                            <button type="button" value="10" id="btn10" class="btn btn-lg btn-warning" tabindex="-1">10</button>
                                            <button type="button" value="20" id="btn20" class="btn btn-lg btn-warning" tabindex="-1">20</button>
                                            <button type="button" value="50" id="btn50" class="btn btn-lg btn-warning" tabindex="-1">50</button>
                                            <button type="button" value="100" id="btn100" class="btn btn-lg btn-warning" tabindex="-1">100</button>
                                            <button type="button" value="500" id="btn500" class="btn btn-lg btn-warning" tabindex="-1">500</button>
                                            <button type="button" value="1000" id="btn1k" class="btn btn-lg btn-warning"  tabindex="-1">1000</button>
                                            <button type="button" value="5000" id="btn5k" class="btn btn-lg btn-warning"  tabindex="-1">5000</button>
                                            <button type="button" value="Clear" id="btnClear" class="btn btn-lg btn-warning" tabindex="-1">Clear</button>
                                        </div>

                                        

                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">

                                                <div class="col-md-2" hidden>
                                                    <label>PO No.</label>
                                                    @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control", name = "PONO", id = "PONO" } })
                                                    @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2" hidden>
                                                    <label>Cat.</label>
                                                    @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-mail"></i>Products</h4>

                                    @*<hr />*@
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-1" hidden>
                                                <label>Category</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-3">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                           
                                            </div>
                                            <div class="col-sm-2">
                                                <label>BarCode</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="Bar Code" id="BarCode" autofocus autocomplete="off"/>
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Unit</label>
                                                <br />
                                                <input type="text" class="form-control" placeholder="UCode" id="unitCode" disabled />
                                                @*<select class="form-control" id="UOMID" name="UOMID">
                                                    </select>*@
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Qty</label>
                                                <br />
                                                <input type="number" min="0" oninput="validate(this)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Packet</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Packet" id="Packet" />
                                            </div>
                                            <div class="col-sm-1" hidden>
                                                <label>Open</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Open" id="BOX" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <br />
                                                <input type="button" class="btn btn-round" value="Add Product" id="addRow">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="ex1">
                                        <table id="tblProduct" class="table table-lg table-bordered dynamic-height" tabindex="-1">
                                            <thead>
                                                <tr>
                                                    <th>Remove</th>
                                                    <th hidden>Cat</th>
                                                    <th>Product</th>
                                                    <th hidden>U.C</th>
                                                    <th>Qty</th>
                                                    <th hidden>Packet</th>
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    @*<div>
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                    </div>*@
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12 col-md-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control-lg" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.DiscountAmount, "Discount")
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control-lg", name = "discInput", id = "discInput", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.LoyaltyDiscount, "Redeem Points")
                                            <br>
                                            @Html.EditorFor(model => model.LoyaltyDiscount, new { htmlAttributes = new { @class = "form-control-lg", name = "redeemPoints", id = "redeemPoints", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control-lg bg-info", @readonly = "readonly" } })
                                        </div>

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.CashReceived, "Cash Received", htmlAttributes: new { })
                                            <br>
                                            @*@Html.EditorFor(model => model.CashReceived, new { htmlAttributes = new { @id = "cashReceived", @class = "form-control" } })*@
                                            
                                            <input type="text" value="" id="cashReceived" class="btn btn-lg btn-warning" tabindex="-1" />
                                        </div>
                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.CashReturned, "Cash Returned", htmlAttributes: new { })
                                            <br>
                                            <input type="button" value="" id="cashReturned" class="btn btn-lg btn-rtd"  tabindex="-1" />
                                            @*@Html.EditorFor(model => model.CashReturned, new { htmlAttributes = new { @id = "cashReturned", @class = "form-control", @readonly = "readonly" } })*@
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Final Amount</label>
                                                    @*@Html.EditorFor(model => model.FinalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id="finalAmountWithVAT" } })*@
                                                    <input type="number" class="form-control" placeholder="Final Amount" id="finalAmountWithVAT" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                                    @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Balance</label>
                                                    <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="modal" id="redeemPointsModal" tabindex="-1" role="dialog" aria-labelledby="newProduredeemPointsModalctModal" aria-hidden="true" data-backdrop="static">
                                    <div id="redeemPointsContainer">
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                    <input type="button" id="btnHold" value="Hold Order" class="btn btn-primary" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>
@section scripts{
    
    @*<script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>*@
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>  
<script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>  
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">        
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>    
    <script src="~/Scripts/customScripts/redeemPoints.js"></script>  
    <script src="~/Scripts/customScripts/salesOrder_1.js"></script>
    <script src="~/Scripts/customScripts/addProducts_1.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>  
      <script type="text/javascript">
          $("#btnRedeem").prop("disabled", true);
          $("#redeemPoints").prop("disabled", true);
          $('#AccountID').select2();
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#hdnAccountID').val("33");
        $('#ddlVehCode').select2();
       $('#ddlPartNumber').select2();
       $("#btn10").click(function () {
           document.getElementById('cashReceived').value = "10";
           cash();
       });
       $("#btn20").click(function () {
           $('#cashReceived').val("20");
           cash();
       });
       $("#btn50").click(function () {
           $('#cashReceived').val("50");
           cash();
       });
       $("#btn100").click(function () {
           $('#cashReceived').val("100");
           cash();
       });
       $("#btn500").click(function () {
           $('#cashReceived').val("500");
           cash();
       });
       $("#btn1k").click(function () {
           $('#cashReceived').val("1000");
           cash();
       });
       $("#btn5k").click(function () {
           $('#cashReceived').val("5000");
           cash();
       });
       $("#btnClear").click(function () {
           $('#cashReceived').val("");
           cash();
       });
       $("#AccountID").change(function () {
           var customerID = $('#AccountID').val();
           $('#hdnAccountID').val(customerID);
           //Cash
           if (customerID == 33) {
               $("#PaymentStatus").prop("disabled", true);
               document.getElementById("PaymentStatus").selectedIndex = "1";
               $("#PaymentType").prop("disabled", false);
           }
           else {
               $("#PaymentStatus").prop("disabled", false);               
           }
           // get Loyalty card number if exist show Redeem Points
           getCustomerInfo(customerID);
           
       });
       $("#PaymentStatus").prop("disabled", true);
       $("#PaymentStatus").change(function () {
           
           var paymentStatus = $('#PaymentStatus option:selected').val();
           if (paymentStatus == 3) {
               $("#PaymentType").prop("disabled", true);
           }
           else {
               $("#PaymentType").prop("disabled", false);
           }
       });
       
       
</script>
}
