﻿@model POSOman.Models.tbl_Quotation

@{
    ViewBag.Title = "Details";
}
<div class="content-body">
    <section class="card">
        <div id="invoice-template" class="card-body">
            <input id="printdiv" type="submit" value="Print" onclick="printContent('invoice-template')" />
            <!-- Invoice Company Details -->
            <div id="invoice-company-details" class="row">
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <div class="media">
                        @*<img src="~/Content/app-assets/images/logo/stack-80x80.png" alt="company logo" class="" />*@
                        <div class="media-body">
                            <ul class="ml-2 px-0 list-unstyled">
                                <li class="text-bold-800">ABC Autos</li>
                                @*<li></li>*@
                                @*<li>Melbourne,</li>
                                    <li>Florida 32940,</li>*@
                                <li>Oman</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <h3>Sales Invoice</h3>
                    <p class="pb-3">@Model.HoldID</p>
                    <ul class="px-0 list-unstyled">
                        <li></li>
                        <li class="lead text-bold-800"></li>
                    </ul>
                </div>
            </div>
            <!--/ Invoice Company Details -->
            <!-- Invoice Customer Details -->
            <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-center text-md-left">
                    <p class="text-muted">Bill To :</p>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-left">
                    <ul class="px-0 list-unstyled">
                        <li class="text-bold-800">Mr.@Model.tbl_AccountDetails.AccountName</li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-12 text-center text-md-right">
                    <p>
                        <span class="text-muted">Invoice Date :</span> @Model.SalesDate.GetValueOrDefault().ToString("dd/MM/yyyy")
                    </p>
                    <p>
                        <span class="text-muted">PONo. :</span> @Model.PONo
                    </p>
                    <p>
                        @*<span class="text-muted">Due Date :</span> 10/05/2016*@
                    </p>
                </div>
            </div>
            <!--/ Invoice Customer Details -->
            <!-- Invoice Items Details -->
            <div id="invoice-items-details" class="pt-2">
                <div class="row">
                    <div class="table-responsive col-sm-12">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.Sales.InvoiceNo)
                                        </th>*@
                                    <th>
                                        PartNo.
                                    </th>
                                    <th>
                                        @Html.DisplayName("Description")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Qty")
                                    </th>
                                    <th>
                                        @Html.DisplayName("SalePrice")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Total")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>


                            <tbody>
                                @{  int counter = 1;
                                    foreach (var item in Model.tbl_QuoteDetails)
                                    {
                                        <tr>
                                            <th scope="row">@counter</th>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.Sales.InvoiceNo)
                                                </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PartNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_Product.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.ReturnedQty)
                                                </td>*@

                                        </tr>
                                        counter = counter + 1;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <p class="lead">Total due</p>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Discount</td>
                                        <td class="text-right">@Model.DiscountAmount</td>
                                    </tr>
                                    <tr>
                                        <td>Total Amount</td>
                                        <td class="text-right">@Model.TotalAmount</td>
                                    </tr>
                                    <tr>
                                        <td>VAT</td>
                                        <td class="text-right">@Model.VAT</td>
                                    </tr>
                                    <tr>
                                        <td class="text-bold-800">Final Amount</td>
                                        <td class="text-bold-800 text-right">@(Model.TotalAmount + Model.VAT)</td>
                                    </tr>
                                    <tr>
                                        <td>Paid Amount</td>
                                        <td class="pink text-right">@Model.AmountPaid</td>
                                    </tr>
                                    <tr class="bg-grey bg-lighten-4">
                                        <td class="text-bold-800">Balance</td>
                                        <td class="text-bold-800 text-right">@(Model.TotalAmount + Model.VAT - Model.AmountPaid)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <p>Authorized person</p>
                            @*<img src="../../../app-assets/images/pages/signature-scan.png" alt="signature" class="height-100" />
                                <h6>Amanda Orton</h6>
                                <p class="text-muted">Managing Director</p>*@
                        </div>
                    </div>

                </div>
                <!--/ Invoice Footer -->
            </div>
        </div>
    </section>
</div>

@section scripts{
<script>
    function printContent(el) {        
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = printcontent;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
        }
</script>
    }