﻿@model IEnumerable<POSOman.Models.AspNetUser>


<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {


            <div style="overflow: auto;" class="card-body card-dashboard">
                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>

                        <tr>
                            <th> User Name </th>
                            <th> Email</th>
                            <th> Reset Password</th>
                            <th> Account Locked</th>

                        </tr>


                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {



                            <tr>
                                <td> @item.UserName.ToString() </td>
                                <td> @Html.DisplayFor(modelItem => item.Email) </td>
                                <td>  <span class="badge badge-primary" style="cursor: pointer;" onclick="resetPassword('@item.Id')"> Reset  </span> </td>
                                <td>
                                    @{
                                        if (!item.Id.Equals("18aea5a1-e74d-446f-bbdf-0220c34bc120"))
                                        {
                                            if (item.IsAccountDisabled == false)
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" id="chkBox" onclick="changeStatus('@item.Id')">
                                                    <span class="slider round"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label class="switch">
                                                    <input type="checkbox" checked id="chkBox" onclick="changeStatus('@item.Id')">
                                                    <span class="slider round"></span>
                                                </label>
                                            }
                                        }
                                        

                                    }
                                </td>

                            </tr>


                        }
                    </tbody>
                </table>


            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
