﻿@using POSOman.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <div class="p-1">
                                        @*<img src="../../../app-assets/images/logo/stack-logo-dark.png" alt="branding logo">*@
                                    </div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                    <span>Login</span>
                                </h6>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <section id="loginForm">
                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal form-simple", role = "form" }))
            {
                                            @Html.AntiForgeryToken()
                                            @*<h4>Use a local account to log in.</h4>*@
                                            <hr />
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <fieldset class="form-group position-relative has-icon-left mb-0">
                                                @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                                                @*<div class="col-md-10">*@
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-lg input-lg", placeholder = "Your Username" })
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                                @*</div>*@
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@

                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg input-lg", placeholder = "Enter Password" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                            </fieldset>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-12 text-center text-md-left">
                                                    <fieldset>
                                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "chk-remember" })
                                                        @Html.LabelFor(m => m.RememberMe)
                                                    </fieldset>
                                                </div>
                                            </div>      
                                           
                                            @*<div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">*@
                                                    @*<input type="submit" value="Log in" class="btn btn-primary btn-lg btn-block" />
                                                    <i class="ft-unlock"></i>*@
                                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Login</button>
                                                @*</div>
                                            </div>*@
                                            @*<p>
                                                @Html.ActionLink("Register as a new user", "Register")
                                            </p>*@
                                            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                                        }
                                    </section>

                                    @*<form class="form-horizontal form-simple" action="index.html" novalidate>
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            <input type="text" class="form-control form-control-lg input-lg" id="user-name" placeholder="Your Username"
                                                   required>
                                            <div class="form-control-position">
                                                <i class="ft-user"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" class="form-control form-control-lg input-lg" id="user-password"
                                                   placeholder="Enter Password" required>
                                            <div class="form-control-position">
                                                <i class="fa fa-key"></i>
                                            </div>
                                        </fieldset>
                                        <div class="form-group row">
                                            <div class="col-md-6 col-12 text-center text-md-left">
                                                <fieldset>
                                                    <input type="checkbox" id="remember-me" class="chk-remember">
                                                    <label for="remember-me"> Remember Me</label>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-12 text-center text-md-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Login</button>
                                    </form>*@
                                </div>
                            </div>
                            @*<div class="card-footer">
                                <div class="">
                                    <p class="float-sm-left text-center m-0"><a href="recover-password.html" class="card-link">Recover password</a></p>
                                    <p class="float-sm-right text-center m-0">New to Stack? <a href="register-simple.html" class="card-link">Sign Up</a></p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
