﻿@model IEnumerable<POSOman.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>USER MANAGEMENT </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2" hidden>
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2" hidden>
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>User Name</label>
                    <div class="input-group">
                        @Html.DropDownList("UserId", new SelectList(ViewBag.Users, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
              
                @*<div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Invoice Status</label>
                    <div class="input-group">

                        @Html.DropDownList("InvoiceStatusID", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Status", Value = null },
                          new SelectListItem{ Text="Received", Value = "1"},
                          new SelectListItem{ Text="Not Received", Value = "0" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>*@

               
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>

        $('#UserId').select2();

        $("#btnSearch").on("click", function () {
            var UserId = $('#UserId').val();
            //var SPAccountID = $('#SPAccountID').val();
            //var customer_Name = $('#AccountID option:selected').text() == "Select" ? "-" : $('#AccountID option:selected').text() ||null;
            //var fromDate = $('#fromDate').val();
            //var toDate = $('#toDate').val();
            //var branchID = $('#Branch').val();
            //var Branch = $("#Branch option:selected").text();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Users List </h4>';


            //if (branchID != "")
            //{ html += "<h4> Branch : " + Branch + " </h4>"; }
            //var vendorName = $("#AccountID option:selected").text();

            //if (fromDate != "" && toDate != "")
            //{ html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("UserList", "Account")",
                data: {
                    btn: true,
                    uId: UserId
                    //accountID: accountID,
                    //InvoiceStatusID: $('#InvoiceStatusID').val(),
                    //InvoiceTypeID: $('#InvoiceTypeID').val()||null,
                    //SPAccID: SPAccountID,
                    //fromDate: $('#fromDate').val(),
                    //toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                   
                      
                        
                            $('#tblSO').dataTable({

                                
                                aoColumnDefs: [

                                    { "aTargets": [0], "bSortable": true },
                                    { "aTargets": [1], "bSortable": true },
                                   
                                ],
                                dom: 'Bfrtip',
                                order: [[1, 'desc']],
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                           
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {

                                            modifier: {
                                                // DataTables core
                                                order: 'index', // 'current', 'applied',
                                                //'index', 'original'
                                                page: 'all', // 'all', 'current'
                                                search: 'none' // 'none', 'applied', 'removed'
                                            },

                                            columns: [0, 1]
                                        }
                                    },
                                    {
                                        extend: 'excel',
                                        messageTop: function () {
                                          
                                        },
                                        messageBottom: null,
                                        exportOptions: {
                                            modifier: {
                                                // DataTables core
                                                order: 'index', // 'current', 'applied',
                                                //'index', 'original'
                                                page: 'all', // 'all', 'current'
                                                search: 'none' // 'none', 'applied', 'removed'
                                            },

                                            columns: [0, 1]
                                        }
                                    }
                                ]
                            });
                       
                }
            });
        });
    </script>

    <script type="text/javascript">
       

        changeStatus = (UserID) => {


            swal({
                title: "Are you sure?",
                text: "changing user account status!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    if (UserID != null && UserID != "") {
                        var Status = 0;
                        //var json = { 'OrderID': OrderID, 'Status': Status };
                        if ($("input[type=checkbox]:checked").is(":checked")) {
                            Status = 1;
                        }
                        else {
                            Status = 0;
                        }

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/Account/ChangeAccountStatus',
                            async: true,
                            data: JSON.stringify({ 'UserID': UserID, 'Status': Status }),
                            success: function (data) {
                                console.log(data);
                                $("#btnSearch").click();
                                if (data > 0) {
                                    swal('Success', 'Status Changed Successfully', 'success');
                                }
                                else {
                                    swal('Error', 'Status Not Changed ', 'error');
                                }

                            },
                            error: function (err) { console.log(err); }
                        });
                    }
                } else {
                    $("#btnSearch").click();
                    swal("Cancelled", "Status not changed", "error");
                }
            })



        }

        resetPassword = (UserID) => {


            swal({
                title: "Are you sure?",
                text: "resetting user account password!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    if (UserID != null && UserID != "") {
                        

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/Account/ResetUserTempPassword',
                            async: true,
                            data: JSON.stringify({ 'UserID': UserID }),
                            success: function (data) {
                                console.log(data);
                                $("#btnSearch").click();
                                if (data > 0) {
                                    swal('Success', 'Password Resetted Successfully. Kindly change it.\n Password: 123456', 'success');
                                }
                                else {
                                    swal('Error', 'Password Not Resetted ', 'error');
                                }

                            },
                            error: function (err) { console.log(err); }
                        });
                    }
                } else {
                    $("#btnSearch").click();
                    swal("Cancelled", 'Password Not Resetted ', "error");
                }
            })



        }

    </script>

}






