﻿@model IEnumerable<POSOman.Models.GetEmployeeSalaryFilterWise_Result>


<div class="card-content collapse show">
   
        @if (Model != null)
        {
            <div class="row">
                <div class="col-12">
                    <div class="form-row" hidden>
                        <div class="form-group mb-1 col-sm-12 col-md-2">
                            <label>Total Salaries Paid</label>
                            <input type="number" class="form-control " value="@Model.FirstOrDefault().TotalSalaries" disabled />

                        </div>
                        <div class="form-group mb-1 col-sm-12 col-md-2">
                            <label>Total OverTime Paid</label>
                            <input type="number" class="form-control " value="@Model.FirstOrDefault().TotalOverTime" disabled />
                        </div>
                        <div class="form-group mb-1 col-sm-12 col-md-2">
                            <label>Advance Balance</label>
                            <input type="number" class="form-control " value="@Model.FirstOrDefault().Advance" disabled />
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="tblEmployeeLog" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th> IDNo. </th>
                            <th> Name </th>
                            <th> Description </th>
                            <th> Date </th>
                            <th> Paid </th>
                            <th> Advance/Loan </th>
                            <th> Deduction </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.IDNo)  </td>
                                <td> @Html.DisplayFor(modelItem => item.Name)  </td>
                                <td> @Html.DisplayFor(modelItem => item.Description) </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date)) </td>
                                <td>
                                    @if (item.Description == "Monthly Salary")
                                    {
                                        decimal amount = item.Paid ?? 0;
                                        <span> @amount.ToString("#,##0.00") </span>
                                    }
                                </td>
                                <td>
                                    @if (item.Description == "Advance/Loan")
                                    {
                                        decimal amount = item.Paid ?? 0;
                                        <span> @amount.ToString("#,##0.00") </span>
                                        @*<span> @item.Paid </span>*@
                                    }
                                </td>
                                <td>
                                    @if (item.Description != "Advance/Loan" && item.Description != "Monthly Salary")
                                    {
                                        decimal amount = item.Paid ?? 0;
                                        <span> @amount.ToString("#,##0.00") </span>
                                        @*<span> @item.Paid </span>*@
                                    }
                                    else
                                    {
                                        <span> 0.00 </span>
                                    }
                                </td>
                                <td>
                                    @if (item.Description.Equals("Monthly Salary"))
                                    {
                                        @Html.ActionLink("Salary Voucher", "Export", new { id = item.JEntryID, ReportType = "PDF" })
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
            
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
