﻿@model IEnumerable<POSOman.Models.tbl_EmployeeLog>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> Salary Receipt</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body>
    @foreach (var item in Model)
    {
        ; ; ; ; ; ; ; ; ; ; ; ; ; ; ;
    <div style="margin-top:75px; margin-bottom:50px; -webkit-print-color-adjust: exact !important;"><div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-4">
                <form>
                    <div class="form-group"><label style="padding-right:15px;"><strong>Paid To : </strong></label><strong>@item.tbl_Employee.Name</strong></div>
                    <div class="form-group row">
                        <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Date: </strong></label>@item.Date.GetValueOrDefault().ToString("dd/MM/yyyy")
                    </div>
                    @if (@item.tbl_JEntry.BankName != null)
                    {<div class="form-group row">
                            <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Bank Name </strong></label>@item.tbl_JEntry.BankName
                        </div>}
                    @if (@item.tbl_JEntry.ChequeNumber != null)
                    {<div class="form-group row">
                            <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque No. </strong></label>@item.tbl_JEntry.ChequeNumber
                        </div>}
                </form>
            </div>
            <div class="col-md-3 col-xl-4"></div>
            <div class="col-md-5 col-xl-4">
                <form>
                    @*<div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Detail</strong></label>@item.Description</div>*@
                    @if (item.tbl_JEntry.ChequeDate != null)
                    {<div class="form-group row">
                            <label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Cheque Date </strong></label>@item.tbl_JEntry.ChequeDate
                        </div>}
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table" id="item-table">
            <thead>
                <tr>
                    <th class="center">#</th>
                    <th>Description</th>
                    <th class="right">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">1</td>
                    <td class="left strong">@item.Description</td>
@if (item.Dr > 0)
{
                    <td class="right">@item.Dr</td>}
@if (item.Cr > 0)
{
    <td class="right">@item.Cr</td>}
                    
                </tr>
            </tbody>

        </table>

    </div>

</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-center">
                <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                <p style="padding-top: 30px;">_____________________</p>
            </div>
        </div>
    </div>
</div></div>
   }
    
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">

        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/Salary';
        }
    </script>
</body>
</html>
