﻿
@model IEnumerable<POSOman.Models.tbl_EmployeeLog>
<!DOCTYPE html>



<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link href="~/Scripts/customScripts/style.css" rel="stylesheet" />

</head>
<body>
    <section class="header">
        <div class="container-fluid row">
            <div class="col-md-3 col-sm-2 "><img src="~/Content/images/logo.png" class="float-right" height="160px;" width="140px"> </div>
            <div class="col-md-9 col-sm-10">


                <div class="col-md-12 col-sm-12 h-50">
                    <div class="col-md-4 col-sm-4 upperbox float-right"></div>

                </div>


                <h3 class="col-md-8 col-sm-8 text-center">ENVI TECH AL</h3>
                <p class="col-md-8 col-sm-12 text-center">We strive for Pragmatic approach to acheive Quality Excellence</p>

            </div>



        </div>




    </section>

    <hr class="ml-5">

    <section class="content text-center container-fluid">

        <h2>SALARY VOUCHER</h2>


        <div class="col-md-9 col-sm-9 container mt-4">

            <div class="row">
                <div class="input-group col-md-7 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Employee</span>
                    </div>
                    <input type="text" style="background-color:white;" readonly class="form-control rounded-0" id="attn" name="attn" value="@Model.First().tbl_Employee.Name" readonly>
                </div>

                <div class="input-group col-md-5 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Salary Date</span>
                    </div>
                    <input type="text" readonly style="background-color:white;" class="form-control rounded-0" id="Date" name="date" value="@Model.First().tbl_Employee.tbl_SalaryLog.Last().SalaryDate.ToString("dd/MM/yyyy")">
                </div>
            </div>
            <div class="row">
                <div class="input-group col-md-7 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Days Of Salary</span>
                    </div>
                    @{
                        @*var ID1 = Model.First().tbl_PurchaseOrder.AccountID;
                            var Addr = db.tbl_Customer.Where(x => x.AccountID == ID1).Select(x => x.Address).FirstOrDefault();
                            if (!string.IsNullOrWhiteSpace(Addr))
                            {
                                @*<textarea readonly style="background-color:white;" type="text" class="form-control rounded-0" id="address" name="address" value="@Addr"></textarea>
                                <input type="text" readonly style="background-color:white;" class="form-control rounded-0" id="address" name="address" value="@Addr">

                            }
                            else
                            {*@
                        <input type="text" readonly style="background-color:white;" class="form-control rounded-0" id="address" name="address" value="@Model.First().tbl_Employee.tbl_SalaryLog.Last().NumberOfDays">

                        @*}*@
                    }
                </div>

                <div class="col-md-5 double">
                    <div class="input-group rounded-0">
                        <div class="input-group-prepend rounded-0">
                            <span class="input-group-text rounded-0">Slip No.</span>
                        </div>
                        <input type="text" class="form-control rounded-0" id="invoiceno" name="invoiceno" style="background-color:white;" value="@Model.First().tbl_Employee.tbl_SalaryLog.First().ID" readonly>
                    </div>
                    <div class="input-group rounded-0">
                        <div class="input-group-prepend rounded-0">
                            <span class="input-group-text rounded-0">Generated By</span>
                        </div>

                        <input type="text" class="form-control rounded-0" id="inquiryref" name="inquiryref" style="background-color:white;" value="Admin" readonly>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="input-group col-md-7 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Contact</span>
                    </div>
                    @*@{
                            var ID = Model.First().tbl_Employee.AccountID;
                            var Contact = db.tbl_Employee.Where(x => x.AccountID == ID).Select(x => x.Phone).FirstOrDefault();
                        }*@
                    <input type="tel" class="form-control rounded-0" id="tel" name="tel" value="@Model.First().tbl_Employee.Phone" style="background-color:white;" readonly>
                </div>

                <div class="input-group col-md-5 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Payment Mode</span>
                    </div>

                    @{
                        if (Model.First().tbl_PaymentTypes == null)
                        {
                            <input type="text" class="form-control rounded-0" id="paymethod" name="paymethod" style="background-color:white;" value="UnDefined" readonly>

                        }
                        else
                        {
                            if (Model.First().tbl_PaymentTypes.ID == 1)
                            {
                                <input type="text" class="form-control rounded-0" id="paymethod" name="paymethod" style="background-color:white;" value="Cash" readonly>
                            }
                            else if (Model.First().tbl_PaymentTypes.ID == 2)
                            {
                                <input type="text" class="form-control rounded-0" id="paymethod" name="paymethod" style="background-color:white;" value="Bank" readonly>
                            }
                            else if (Model.First().tbl_PaymentTypes.ID == 3)
                            {
                                <input type="text" class="form-control rounded-0" id="paymethod" name="paymethod" style="background-color:white;" value="Cheque" readonly>
                            }
                        }

                    }
                </div>
            </div>
            <div class="row" hidden>
                <div class="input-group col-md-7 rounded-0 double">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Email</span>
                    </div>
                    <input type="email" class="form-control rounded-0" id="mail" name="email">
                </div>
                <div class="input-group col-md-5 rounded-0 double">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Delivery By</span>
                    </div>
                    <input type="text" class="form-control rounded-0" id="delivery" name="delivery">
                </div>
            </div>
            <div class="row" hidden>
                <div class="input-group col-md-7 rounded-0">
                    <div class="input-group-prepend rounded-0">
                        <span class="input-group-text rounded-0">Comments</span>
                    </div>
                    <textarea type="text" class="form-control rounded-0" id="comment" name="comment"></textarea>
                </div>

                <div class=" col-md-5 rounded-0 ">
                    <div class="input-group rounded-0 spbox pl-3">
                        <div class="input-group-prepend rounded-0">
                            <span class="input-group-text rounded-0 text-right pl-4">NTN #</span>
                        </div>
                        <input type="text" class="form-control rounded-0 p-0" id="ntnno" name="ntnno">
                    </div>
                </div>
            </div>

        </div>




        <div class="col-md-9 col-sm-9 mt-4 container">
            <table class="table col-md-12 col-sm-12 table-bordered ml-auto mr-auto">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Amount</th>

                    </tr>
                </thead>
                <tbody>

                    @{ int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>

                                <td><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="srno" name="srno" value="@counter"></td>
                                <td><input readonly style="background-color:white;" type="text" class="form-control rounded-0" id="desc" name="desc" value="@item.Description"></td>


                                @*<td><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="uprice" name="uprice" value=""></td>
                            <td><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="quantity" name="quantity" value=""></td>*@
                                @if (item.Dr > 0)
                                {
                                    <td colspan="3"><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="price" name="price" value="@item.Dr.Value.ToString("0.00")"></td>

                                }
                                else
                                {
                                    string Cr = "";
                                    if (item.Cr > 0)
                                    {
                                        Cr = ("(" + item.Cr + ")").ToString();

                                    }
                                    else
                                    {
                                        Cr = ("(" + item.Cr * -1 + ")").ToString();
                                    }

                                    <td colspan="3"><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="price" name="price" value="@Cr"></td>

                                }




                            </tr>
                            counter = counter + 1;
                        }
                    }




                    <tr>
                        <td rowspan="4"></td>
                        <td colspan="3" class="text-left smallbox"><b>Account Details:</b></td>

                        <td rowspan="4"></td>

                    </tr>
                    <tr>
                        <td colspan="3" class="text-left smallbox"><b>Title: </b>ENVI TECH AL</td>

                    </tr>
                    <tr>
                        <td colspan="3" class="text-left smallbox"><b>Account # </b>3001301000006671</td>

                    </tr>
                    <tr>
                        <td colspan="3" class="text-left smallbox"><b>Bank: </b>Faysal Bank, Sharfabad Branch, Karachi.</td>

                    </tr>

                    <tr>
                        <td colspan="2" class="text-left sbox1"><b>Amount in Words(PKR):  </b></td>
                        <td colspan="2" rowspan="2" class="text-right"><b>Total Salary</b></td>
                        <td rowspan="2" style="color: rgb(58,124,255);"><b><input readonly style="background-color:white;" type="text" class="form-control rounded-0 p-0" id="tprice" name="tprice" readonly style="background-color:white;" value="@ViewBag.Tot"></b></td>
                    </tr>
                    <tr>

                        <td colspan="2" class="text-left sbox1" style="color:rgb(25,50,255);"><b><input type="text" class="form-control rounded-0 p-0" id="amntword" name="amntword" value=" @ViewBag.AmInWord"></b></td>

                    </tr>
                </tbody>
            </table>
            <br><br><br><br>
            <button id="printdiv" type="button" class="btn btn-primary btn-lg col-md-2 col-sm-2" onclick="printContent('printBody'); return false;">Print </button>
            <button id="backbtn" class="btn btn-danger btn-lg col-md-2 col-sm-2" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@> Back</button>

            <br>




        </div>




    </section>
    <section class="col-sm-12 col-md-12 stumpsection"></section>
    <section class="footer container-fluid" style="position:absolute; bottom:0; width:100%;">

        <div class="row">

            <div class="col-md-3 col-sm-3 text-center"><span class="rounded-circle border border-dark"><i class="fa fa-phone text-dark"></i></span>+92 310 2288801</div>
            <div class="col-md-4 col-sm-4 row pl-5 pr-0">
                <img src="~/Content/images/river-icon-png-7.png" height="35px" width="40px;"><p class="col-md-10"><b>Office:</b> 345, First Floor, Street-15, Block-3, Bahadurabad, Karachi. 75900, Pakistan.</p>
            </div>

            <div class="col-md-5 col-sm-5 h-50">
                <div class="col-md-7 col-sm-7 lowerbox float-right pt-0">

                    <i class='fas fa-globe-asia text-left mt-3'></i>
                    <div style="display: inline-grid;" class="ml-2">
                        <span>info@envitechal.com</span>
                        <span>www.envitechal.com</span>
                    </div>
                </div>

            </div>

        </div>

        <div class="container bg-success col-md-11 col-sm-12 pagefooter"></div>


    </section>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>
</html>



<script>
    function show_hide_column(col_no, do_show) {
        var tbl = document.getElementById('tblProducts');
        var rows = tbl.getElementsByTagName('tr');


        for (var row = 0; row < rows.length; row++) {
            var cols = rows[row].children;
            if (col_no >= 0 && col_no < cols.length) {
                var cell = cols[col_no];
                //if (cell.tagName == 'TD')
                cell.style.display = do_show ? 'block' : 'none';
            }
        }
    }
    function Back() {
        window.location.href = '/Salary';
    }
    function printContent(el) {

        var printButton = document.getElementById("printdiv");
        printButton.style.visibility = 'hidden';
        var backbtn = document.getElementById("backbtn");
        backbtn.style.visibility = 'hidden';
        var curURL = window.location.href;
        history.replaceState(history.state, '', '/');
        window.print();
        history.replaceState(history.state, '', curURL);
        //window.print();
        //document.body.innerHTML = restorepage;
    }
    function generateBarCode() {
        var nric = $('#text').val();
        var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
        $('#barcode').attr('src', url);
    }
</script>
