﻿@model POSOman.Models.DTO.GenerateSalary
@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("GenerateSalary", "Salary",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Create Salary</h4>                                   
                                    <hr />                                                                       
                                    <label id="IDNOLabel"></label>
                                    <label id="IDNO" class="badge badge-info"></label>
                                    <label id="IDExpiryLabel"></label>
                                    <label id="IDExpiry" class="badge badge-info"></label>
                                    <label id="PassportNOLabel"></label>
                                    <label id="PassportNO" class="badge badge-primary"></label>
                                    <label id="PassportExpiryLabel"></label>
                                    <label id="PassportExpiry" class="badge badge-primary"></label>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">                                            
                                            <div class="col-sm-2">
                                                <label>Employee</label>
                                                <br />
                                                @Html.DropDownList("ddlEmployee", new SelectList(ViewBag.employee, "Value", "Name"), "Select Employee", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Salary</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Salary" id="Salary"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Adv/Loan</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Advance" id="advance" disabled/>
                                            </div>                                            
                                            <div class="col-sm-1">
                                                <label>Deduction</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Deduction" id="deduction" />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Over Time</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="Over Time" id="overTime" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>                                                
                                                <input type="button" class="btn btn-round" value="Add" id="addEmployee">
                                            </div>

                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>                                                    
                                                    <th>Employee</th>
                                                    <th>ID No</th>                                                    
                                                    <th>Salary</th>
                                                    @*<th>Advance</th>*@
                                                    <th>Deduction</th>  
                                                    <th>Over Time</th>                                                    
                                                    <th>Total</th>                                                    
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove </button>
                                    </div>
                                    <hr />
                                    <div class="row">                                       
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Date</label>
                                            <br />
                                            @Html.EditorFor(model => model.VoucherDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "VoucherDate", id = "VoucherDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.VoucherDate, "", new { @class = "text-danger" })
                                        </div> 
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalSalary, "Salary Total", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalSalary, new { htmlAttributes = new { @id = "totalSalary", @class = "form-control", @readonly = "readonly" } })
                                        </div>  
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalDeduction, "Deductions Total", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalDeduction, new { htmlAttributes = new { @id = "totalDeduction", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalOvertime, "Overtime Total", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalOvertime, new { htmlAttributes = new { @id = "totalOverTime", @class = "form-control", @readonly = "readonly" } })
                                        </div> 
                                                                                                                     
                                    </div>                                   
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">                                        
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-3">
                                                    <div class="form-group row">
                                                        <label>Payment Type</label>
                                                        @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                    @*<label>Bank Name</label>
            <input class="form-control" id="bankName" name="bankName" placeholder="BankName" disabled />*@
                                                </div>
                                                @*<div class="col-md-4">
                                                    <label>Bank Name</label>
                                                    <input class="form-control" id="bankName" name="bankName" placeholder="Bank Name" disabled />
                                                </div>*@
                                                <div class="col-md-3">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-3">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />                                    
                                </div>
                            }                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('VoucherDate').valueAsDate = new Date();
        $('#ddlEmployee').select2();
    </script>    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/salary/addEmployee.js" type="text/javascript"></script>
    <script src="~/Scripts/salary/generateSalary.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/general.js" type="text/javascript"></script>
<script src="~/Scripts/customScripts/helper.js"></script>
    }
