﻿@model IEnumerable<POSOman.Models.tbl_EmployeeLog>

@{
    ViewBag.Title = "Delete";
}

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i>Are you sure you want to delete these entries? </h4>
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <table id="tblEmployeeLog" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                IDNo.
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Paid
                                            </th>
                                            <th>
                                                Deduction
                                            </th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_Employee.IDNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_Employee.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Dr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cr)
                                                </td>
                                                @*<td>
                            @Html.ActionLink("Details", "Details", "SalesOrder", new { id = item.OrderID }, null)
                        </td>*@
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </section>
    <!-- // Striped row layout section end -->
</div>
