﻿@model IEnumerable<POSOman.Models.tbl_JDetail>
<head>
    <style>
        @@media print {
            html, body {
                height: 90vh;
            }
        }
    </style>
</head>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>EMPLOYEE VOUCHERS</h2> <br />
                <div class="card">

                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                Employee
                                            </th>
                                            <th>
                                                Voucher
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Account
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Amount
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.tbl_EmployeeLog.FirstOrDefault().tbl_Employee.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.VoucherName)
                                                </td>
                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.tbl_JEntry.VoucherDate))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.tbl_JEntry.Description)
                                                </td>
                                                <td>
                                                    @{ 
                                                        decimal dr = item.Dr ?? 0;
                                                        <span> @dr.ToString("#,##0.00") </span>
                                                    }
                                                    @*@Html.DisplayFor(modelItem => item.Dr)*@
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.JEntryID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblPO').dataTable({
                aoColumnDefs: [
                { "aTargets": [5], "bSortable": true },
                { "aTargets": [2], "bSortable": true },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": true },
                { "aTargets": [1], "bSortable": true, "sType": "date-uk" },
               ],
                dom: 'Bfrtip',
                    buttons: [
                        {
                            extend: 'print',
                            messageTop: function () {

                                //if ( printCounter === 1 ) {
                                return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Employee Vouchers </h4>';

                                //}
                                //else {
                                //    return 'You have printed this document '+printCounter+' times';
                                //}
                            },
                            messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',

                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5]
                            }
                        }
                    ]
            });

        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}
