﻿@model IEnumerable<POSOman.Models.GetEmployeeSalaryFilterWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>EMPLOYEE LEDGER</h2> <br />     
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Employee</label>
                        <input type="hidden" id="hdnEmployeeID" name="hdnEmployeeID">
                        <div class="input-group">
                            @Html.DropDownList("EmployeeID", new SelectList(ViewBag.employee, "Value", "Name"), "Select Employee", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>                   
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>
        $("#EmployeeID").change(function () {
            var employeeID = $('#EmployeeID').val();
            $('#hdnEmployeeID').val(employeeID);
            console.log(employeeID +"  EMPID");
        });       
        $("#EmployeeID").select2();
        $("#btnSearch").on("click", function () {
            var employeeID = $('#hdnEmployeeID').val();
            console.log(employeeID + "  EMPID");
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();            
            {
                $.ajax({
                    url: "@Url.Action("Index", "Salary")",
                    data: {
                        btn:true,
                        employeeID: employeeID,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            $('#tblEmployeeLog').DataTable({
                                dom: 'Bfrtip',
                                buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Employee Ledger List </h4>';

                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',


                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
                                ]
                            });                            
                        }
                }});
        }
        });

    </script>

}