﻿@model POSOman.Models.tbl_StickerRibbon

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_StickerRibbon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ribbon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ribbon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollLengthInM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollLengthInM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollWidthInMM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollWidthInMM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RollCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_StickerRibbonType.RibbonType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_StickerRibbonType.RibbonType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
