﻿@model POSOman.Models.DTO.VehicleCodeDTO

@{
    ViewBag.Title = "Create";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Category</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/VehicleCode">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Categories</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Add</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "VehicleCode",
                    new { ReturnUrl = ViewBag.ReturnUrl },
                    FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Category Info</h4>
                                    @*<div class="form-group row" id="HeadCatDiv">
                                        @Html.LabelFor(model => model.VehicleCodeID, "Head Category", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("HeadID", null, "Select Head Category", htmlAttributes: new { @class = "select2 form-control", id = "HeadID" })
                                            @Html.ValidationMessageFor(model => model.VehicleCodeID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="form-group row">
                                        @Html.Label("Category", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.VehicleCode, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.VehicleCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group row">
                                        @Html.Label("This is Sub-Category", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.CheckBoxFor(model => model.IsSubCategory, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.IsSubCategory, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                </div>
                                <div class="form-actions">
                                    @*<button type="button" class="btn btn-warning mr-1">
                                            <i class="ft-x"></i> Cancel
                                        </button>*@
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{

    <script type="text/javascript">
        //$("#HeadID").select2();

        //if ($("#IsSubCategory").is(":checked")) {

        //    $("#HeadCatDiv").show();
        //    //$("#UnitPerCarton").prop("required", true);

        //}
        //else {
        //    $("#HeadCatDiv").hide();

        //}


        //$("#IsSubCategory").change(function () {

        //    if ($(this).is(":checked")) {

        //        $("#HeadCatDiv").show();
        //        //$("#UnitPerCarton").prop("required", true);

        //    }
        //    else
        //    {
        //         $("#HeadCatDiv").hide();

        //    }

        //});


    </script>


}
