﻿@model POSOman.Models.tbl_VehicleCode

@{
    ViewBag.Title = "Create";
}

<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Category Service</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/VehicleCode/IndexSub">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Service</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Edit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("EditSubService", "VehicleCode", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()

                                <input type="text" value="@Model.VehicleCodeID" name="VehicleCodeID" hidden />
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Category Service Info</h4>
                                    <div class="form-group row" id="HeadCatDiv" hidden>
                                        @Html.LabelFor(model => model.VehicleCodeID, "Head-Service", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.DropDownList("HeadID", null, "Select Head Service", htmlAttributes: new { @class = "select2 form-control", id = "HeadID" })
                                            @Html.ValidationMessageFor(model => model.VehicleCodeID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        @Html.Label("Category-Service", htmlAttributes: new { @class = "col-md-3 label-control" })
                                        <div class="col-md-9">
                                            @Html.EditorFor(model => model.VehicleCode, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.VehicleCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-check-square-o"></i> Save
                                    </button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script type="text/javascript">
        $("#HeadID").select2();
    </script>
}
