﻿@model IEnumerable<POSOman.Models.tbl_VehicleCode>
@using POSOman.Models;
@using System.Text;
@{

    dbPOS db = new dbPOS();

}
@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Sections</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            @{ 
                                string HeadCatName = "NIL";
                                string SubCatName = "NIL";
                            }
                            <table id="tblCode" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            Section
                                        </th>
                                        <th>
                                            Sub-Category
                                        </th>
                                        <th>
                                            Head
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        @{
                                            var SubCat = db.tbl_VehicleCode.Where(x => x.VehicleCodeID == item.HeadID).Select(x => new { x.VehicleCode, x.VehicleCodeID, x.HeadID }).FirstOrDefault();
                                            var HeadCat = db.tbl_VehicleCode.Where(x => x.VehicleCodeID == SubCat.HeadID).Select(x => new { x.VehicleCode, x.VehicleCodeID }).FirstOrDefault();

                                            if (SubCat != null)
                                            {
                                                SubCatName = SubCat.VehicleCode;
                                            }
                                            if (HeadCat != null)
                                            {
                                                HeadCatName = HeadCat.VehicleCode;
                                            }

                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleCode)
                                        </td>
                                        <td>
                                            @(SubCatName)
                                        </td>
                                        <td>
                                            @(HeadCatName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditSection", new { id = item.VehicleCodeID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.VehicleCodeID })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tblCode').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {
                      
                        
   return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Section List</h4>';

                    },
                    title: '',
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0,1,2]
                    }
                }
            ]
        });

    </script>
}