﻿@model POSOman.Models.DTO.SaleProductDTO


@*<div class="form-row" style="margin-left:80px;">

        <label>Order Status</label>
        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
        <div class="input-group">
            @Html.DropDownList("StatusDD", new SelectList(ViewBag.OrderStatus, "Value", "Name"), htmlAttributes: new { @style = "width:300px;" })
        </div>

    </div>*@
@*<div class="form-row" style="margin-left:80px;">


    <label>Machine Type</label>
    <div class="input-group">
    </div>

</div>
<div class="form-row" style="margin-left:80px;">
    <label>Machine</label>
    <div class="input-group">
    </div>
</div>*@

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Machine Type</label>
            @Html.DropDownListFor(model => model.MachineTypeID, new SelectList(ViewBag.MachineTypes, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Machine</label>
            @Html.DropDownListFor(model => model.AttachedMachineID, new SelectList(ViewBag.DieCuttingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>

    <div class="col-sm-1">
        <label>Action</label>
        <input type="button" class="btn btn-round" value="Add" id="attachProcessRowBtn">
    </div>

    <table id="attachProcessTable" class="table table-striped table-bordered alt-pagination">
        <thead>
            <tr>

                <th> </th>
                <th hidden> MachineTypeID </th>
                <th> Process Type </th>
                <th hidden> MachineID </th>
                <th> Process </th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>



@*<div class="col-md-2">
        <div class="form-group">
            <label>Slitting Machine</label>
            @Html.DropDownListFor(model => model.SlittingOMachineID, new SelectList(ViewBag.SlittingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Die Cutting Machine</label>
            @Html.DropDownListFor(model => model.DieCuttingOMachineID, new SelectList(ViewBag.DieCuttingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>*@

@*<div class="col-md-2">
        <div class="form-group">
            <label>UV Machine</label>
            @Html.DropDownListFor(model => model.UVOMachineID, new SelectList(ViewBag.UVMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Lamination Machine</label>
            @Html.DropDownListFor(model => model.LaminationOMachineID, new SelectList(ViewBag.LaminationMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Foil Machine</label>
            @Html.DropDownListFor(model => model.FoilOMachineID, new SelectList(ViewBag.FoilMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>Embosing Machine</label>
            @Html.DropDownListFor(model => model.EmbosingOMachineID, new SelectList(ViewBag.EmbosingMachine, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
        </div>
    </div>*@

@*</div>*@