﻿
<select class="form-control" name="ChancesPercent" id="ChancesPercent" required>
    <option value=""> Select Chances </option>
    <option value="0.00"> NA </option>
    <option value="10.00"> 10% </option>
    <option value="20.00"> 20% </option>
    <option value="30.00"> 30% </option>
    <option value="40.00"> 40% </option>
    <option value="50.00"> 50% </option>
    <option value="60.00"> 60% </option>
    <option value="70.00"> 70% </option>
    <option value="80.00"> 80% </option>
    <option value="90.00"> 90% </option>
    <option value="100.00"> 100% </option>
</select>




