﻿

<select class="form-control" name="FollowUp" id="FollowUp">
    <option value=""> Select Follow Up </option>
    <option value="Telephone"> Telephone </option>
    <option value="Email"> Email </option>
    <option value="Visit"> Visit </option>
</select>
