﻿
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">@ViewBag.Title</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@ViewBag.Href">@ViewBag.Title</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">@ViewBag.Type</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
