﻿
@using POSOman.Models;

@{
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<div>
    
    <h1 align="center"> <img src="@adddata.Logo" class="brand-logo" style="width:20%;" /> </h1>
    <h5 align="center">@adddata.FullAddress </h5>
    <h5 align="center">Contact: @adddata.Contact1</h5><hr />
    <h4 align="center">@ViewBag.Title</h4>
</div>

