﻿
<select class="form-control" name="Sources" id="Sources" required>
    <option value=""> Select Sources </option>
    <option value="Reference"> Reference </option>
    <option value="Online Marketing"> Online Marketing </option>
    <option value="Sales Team"> Sales Team </option>
    <option value="By Phone"> By Phone </option>
    <option value="By Email"> By Email </option>
    <option value="By courier"> By courier </option>
</select>


