﻿

<select class="form-control" name="unitCode" id="unitCode">
    @*<option value=""> Select Unit Code </option>*@
    <option value="Pcs"> Pcs </option>
    @*<option value="Lot"> Lot </option>
    <option value="Meter"> Meter </option>
    <option value="Litre"> Litre </option>
    <option value="JOB"> JOB </option>
    <option value="Roll"> Roll </option>
    <option value="Pkts"> Pkts </option>
    <option value="Each"> Each </option>
    <option value="Set"> Set </option>
    <option value="Rft"> Rft </option>
    <option value="Ft"> Ft </option>
    <option value="Other"> Other </option>*@
</select>
