﻿
<h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
<hr />

@*<div class="row">
    <form id="ProductForm" name="ProductForm">
        <div hidden class="col-sm-2">
            <label>Category</label>
            <br />
            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
        </div>
        <div class="col-sm-2">
            <label>Product</label>
            <br />
            @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
        </div>
        <div class="col-sm-2">
            <label>Store Status</label>
            <br />
            @Html.DropDownList("StoreStatus", new SelectList(ViewBag.StoreStatus, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
        </div>
        <div class="col-sm-2">
            <label>Delivery Status</label>
            <br />
            @Html.DropDownList("DeliveryStatus", new SelectList(ViewBag.DeliveryStatus, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
        </div>
        <div class="col-sm-2">
            <label>Order Machine</label>
            <br />
            @Html.DropDownList("OrderMachine", new SelectList(ViewBag.OrderMachine, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
        </div>
        <div class="col-sm-1">
            <label>Impressions</label>
            <br />
            <input type="number" min="0" oninput="validate(this)" class="form-control Calc" placeholder="Imp" id="Impression" readonly />
        </div>
        <div class="col-sm-2" hidden>
            <label>Description</label>
            <br />
            <input type="text" class="form-control" placeholder="Description" id="Description" autofocus />
        </div>
        <div class="col-sm-2">
            <label>Unit Code</label>
            <br />
            @Html.Partial("~/Views/PartialViews/_UnitCode.cshtml")
        </div>
        <div class="col-sm-2">
            <label>Qty</label>
            <br />
            <input type="number" min="0" oninput="validate(this)" class="form-control Calc" placeholder="Qty" id="Qty" />
        </div>
        <div class="col-sm-2">
            <label>Sheets</label>
            <br />
            <input type="number" min="0" oninput="validate(this)" class="form-control Calc" readonly placeholder="Sheets" id="Sheets" />
        </div>
        <div class="col-sm-2">
            <label>Unit Price</label>
            <br />
            <input type="number" min="0" class="form-control Calc" placeholder="UnPrice" id="UnitPrice" readonly />
        </div>
        <div class="col-sm-2">
            <label>Total</label>
            <br />
            <input type="number" class="form-control" id="Total" placeholder="Total" disabled />
        </div>
        <div class="col-sm-1">
            <label>Action</label>
            <input type="button" class="btn btn-round" value="Add" id="addRow">
        </div>
    </form>
</div>*@


<div>
    <table id="tblProduct" class="table table-striped table-bordered dynamic-height" style="margin-top:1%; display: block; overflow-x: auto; white-space: nowrap;">
        <thead>
            <tr>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <th hidden>Select</th>
                    <th hidden>CategoryID</th>
                    <th hidden>Category</th>
                    <th hidden>ProductID</th>
                    <th>Product</th>
                    <th>Stock Status</th>
                    <th hidden>StkStatus</th>
                    <th>Delivery Status</th>
                    <th hidden>DeliveryStatus</th>
                    <th>Slitting Machine</th>
                    <th>Printing Machine</th>
                    <th>Die Cutting Machine</th>
                    <th>UV Machine</th>
                    <th>Lamination Machine</th>
                    <th>Foil Machine</th>
                    <th>Embosing Machine</th>
                    <th hidden>OrderMachine</th>
                    <th hidden>Impressions</th>
                    <th>Unit Code</th>
                    <th>Qty</th>
                    <th>TotalSheets</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                    <th hidden>sheets</th>
                    <th>Job Size</th>
                    <th>UPS</th>
                    <th>Card Quality/GSM</th>
                    <th>Raw Size</th>
                    <th>Split Sheets</th>
                    <th>Need Wastage Job Size</th>
                    <th>Qty Rqd. Raw Sheets</th>
                    <th>Sheets Rcvd.</th>
                    <th>Extra/Wastage Sheets</th>
                    <th>Extra Qty</th>
                    <th>Qty Delivered</th>
                    <th>Qty Balanced</th>
                }

                else if (User.IsInRole("Satin Store Keeper") || User.IsInRole("Offset Store Keeper") || User.IsInRole("Sticker Store Keeper"))
                {
                    <th hidden>Select</th>
                    <th hidden>CategoryID</th>
                    <th hidden>Category</th>
                    <th hidden>ProductID</th>
                    <th>Product</th>
                    <th>Stock Status</th>
                    <th hidden>StkStatus</th>
                    <th>Qty</th>
                    <th>TotalSheets</th>
                    <th>Qty Rqd. Raw Sheets</th>
                    <th>Sheets Rcvd.</th>
                    <th>Extra/Wastage Sheets</th>
                    <th>Extra Qty</th>
                    <th>Qty Delivered</th>
                    <th>Qty Balanced</th>


                }

                else if (User.IsInRole("Satin Manager") )
                {

                    <th hidden>Select</th>
                    <th hidden>CategoryID</th>
                    <th hidden>Category</th>
                    <th hidden>ProductID</th>
                    <th>Product</th>
                    <th>Stock Status</th>
                    <th hidden>StkStatus</th>
                    <th>Delivery Status</th>
                    <th hidden>DeliveryStatus</th>
                    <th>Unit Code</th>
                    <th>Qty</th>
                    <th>PrintingMachine</th>
                    <th>Cylinder</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>CylinderLength</th>
                    <th>AroundUps</th>
                    <th>NoOfPrintingColor</th>
                    <th>Roll</th>
                    <th>TotalPcInRoll</th>
                    <th>WastagePcInRoll</th>
                    <th>TotalReqRoll</th>
                    <th>FinishingType</th>
                    <th>BlockType</th>
                    <th>Extra Qty</th>
                    <th>Qty Delivered</th>
                    <th>Qty Balanced</th>

                    @*<th hidden>Select</th>
            <th hidden>CategoryID</th>
            <th hidden>Category</th>
            <th hidden>ProductID</th>
            <th>Product</th>
            <th>Stock Status</th>
            <th hidden>StkStatus</th>
            <th>Delivery Status</th>
            <th hidden>DeliveryStatus</th>
            <th>Slitting Machine</th>
            <th>Printing Machine</th>
            <th>Die Cutting Machine</th>
            <th>UV Machine</th>
            <th>Lamination Machine</th>
            <th>Foil Machine</th>
            <th>Embosing Machine</th>
            <th hidden>OrderMachine</th>
            <th hidden>Impressions</th>
            <th>Unit Code</th>
            <th>Qty</th>
            <th>TotalSheets</th>

            <th hidden>sheets</th>
            <th>Job Size</th>
            <th>UPS</th>
            <th>Card Quality/GSM</th>
            <th>Raw Size</th>
            <th>Split Sheets</th>
            <th>Need Wastage Job Size</th>
            <th>Qty Rqd. Raw Sheets</th>
            <th>Sheets Rcvd.</th>
            <th>Extra/Wastage Sheets</th>
            <th>Extra Qty</th>
            <th>Qty Delivered</th>
            <th>Qty Balanced</th>*@
                }
                else if ( User.IsInRole("Offset Manager") || User.IsInRole("Sticker Manager"))
                {

                    <th hidden>Select</th>
                    <th hidden>CategoryID</th>
                    <th hidden>Category</th>
                    <th hidden>ProductID</th>
                    <th>Product</th>
                    <th>Stock Status</th>
                    <th hidden>StkStatus</th>
                    <th>Delivery Status</th>
                    <th hidden>DeliveryStatus</th>
                    <th>Unit Code</th>
                    <th>Qty</th>
                    <th>PrintingMachine</th>
                    <th>Cylinder</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>CylinderLength</th>
                    <th>AroundUps</th>
                    <th>NoOfPrintingColor</th>
                    <th>Roll</th>
                    <th>TotalPcInRoll</th>
                    <th>WastagePcInRoll</th>
                    <th>TotalReqRoll</th>
                    <th>FinishingType</th>
                    <th>BlockType</th>
                    <th>Extra Qty</th>
                    <th>Qty Delivered</th>
                    <th>Qty Balanced</th>

                }


            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

