﻿
@using POSOman.Models;

@{
    ViewBag.Title = "Expense Voucher";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<div>
    <img src="@adddata.Logo" class="brand-logo" align="left" margin="10px" />
    <h1 align="center">@adddata.Title</h1>
    <h5 align="center">@adddata.FullAddress </h5>
    <h5 align="center">Contact: @adddata.Contact1</h5><hr />
    <h4 align="center">@ViewBag.Title</h4>
</div>

