﻿@{
    ViewBag.Title = "Index3";
}
<head>
    <link href="~/Content/Chart.min.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
</head>
<style>
    .customername {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
    }

    .media-list .media {
        padding: 15px;
    }
</style>

<div class="content-body">

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-danger bg-darken-2">
                            <i class="icon-user font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-danger white media-body">
                            <h5>Purchases</h5>
                            <h5 class="text-bold-400 mb-0">
                                <i class="ft-arrow-down"></i>
                                @{
                                    decimal purchase = ViewBag.purchases ?? 0;
                                    <span> @purchase.ToString("#,##0.00") </span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-blue-grey bg-darken-2">
                            <i class="icon-user font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-blue-grey white media-body">
                            <h5>Sales</h5>
                            <h5 class="text-bold-400 mb-0">
                                <i class="ft-arrow-up"></i>
                                @{
                                    decimal sales = ViewBag.TotalSales ?? 0;
                                    <span> @sales.ToString("#,##0.00") </span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-warning bg-darken-2">
                            <i class="icon-basket-loaded font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-warning white media-body">
                            <h5>Receiveables</h5>
                            <h5 class="text-bold-400 mb-0">
                                <i class="ft-arrow-up"></i>
                                @{
                                    decimal receivable = ViewBag.receiveable ?? 0;
                                    <span> @receivable.ToString("#,##0.00") </span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="media align-items-stretch">
                        <div class="p-2 text-center bg-success bg-darken-2">
                            <i class="icon-wallet font-large-2 white"></i>
                        </div>
                        <div class="p-2 bg-gradient-x-success white media-body">
                            <h5>Payables</h5>
                            <h5 class="text-bold-400 mb-0">
                                <i class="ft-arrow-down"></i>
                                @{
                                    decimal payable = ViewBag.payable ?? 0;
                                    <span> @payable.ToString("#,##0.00") </span>
                                }
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <center class="col-md-4">
            <h1>Satin Summary</h1>
        </center>
        <center class="col-md-4">
            <h1>Offset Summary</h1>
        </center>
        <center class="col-md-4">
            <h1>Sticker Summary</h1>
        </center>

    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sales Graph</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <canvas id="column-chart-satin" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sales Graph</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <canvas id="column-chart-offset" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sales Graph</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <canvas id="column-chart-sticker" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row match-height">
        <div class="col-lg-2 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Orders</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                            <thead>
                                <tr>
                                    <th>Invoice#</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.SatinSales)
                                {
                                    <tr>
                                        @*<td class="text-truncate"><a href="@Url.Action("Details", "SalesOrder", new {id =@item.OrderID })">@item.OrderID</a></td>*@
                                        <td class="text-truncate"><a href="@Url.Action( "Export","Sales", new { id = item.OrderID, ReportType = "PDF" })">@item.OrderID</a></td>
                                        <td class="text-truncate">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                        <td class="text-truncate"> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </td>
                                        <td class="text-truncate">
                                            <span class="badge badge-default badge-success">@item.PaymentStatus</span>
                                        </td>
                                        <td class="text-truncate">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Buyers</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content px-1">

                    <div id="recent-buyers" class="media-list height-300 position-relative">
                        @foreach (var item in ViewBag.SatinSales)
                        {
                            <a href="#" class="media border-0">
                                <div class="media-body w-100">
                                    <h6 class="list-group-item-heading">
                                        <span class="customername" title="@item.AccountName"> @item.AccountName  </span>

                                        <span class="badge badge-primary">@item.PaymentStatus</span>
                                        <span class="font-medium-4 float-right">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </span>
                                    </h6>
                                    <p class="list-group-item-text mb-0">

                                    </p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Orders</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                            <thead>
                                <tr>
                                    <th>Invoice#</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.OffsetSales)
                                {
                                    <tr>
                                        @*<td class="text-truncate"><a href="@Url.Action("Details", "SalesOrder", new {id =@item.OrderID })">@item.OrderID</a></td>*@
                                        <td class="text-truncate"><a href="@Url.Action( "Export","Sales", new { id = item.OrderID, ReportType = "PDF" })">@item.OrderID</a></td>
                                        <td class="text-truncate">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                        <td class="text-truncate"> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </td>
                                        <td class="text-truncate">
                                            <span class="badge badge-default badge-success">@item.PaymentStatus</span>
                                        </td>
                                        <td class="text-truncate">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Buyers</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content px-1">

                    <div id="recent-buyers" class="media-list height-300 position-relative">
                        @foreach (var item in ViewBag.OffsetSales)
                        {
                            <a href="#" class="media border-0">
                                <div class="media-body w-100">
                                    <h6 class="list-group-item-heading">
                                        <span class="customername" title="@item.AccountName"> @item.AccountName  </span>

                                        <span class="badge badge-primary">@item.PaymentStatus</span>
                                        <span class="font-medium-4 float-right">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </span>
                                    </h6>
                                    <p class="list-group-item-text mb-0">

                                    </p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Orders</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                            <thead>
                                <tr>
                                    <th>Invoice#</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.StickerSales)
                                {
                                    <tr>
                                        @*<td class="text-truncate"><a href="@Url.Action("Details", "SalesOrder", new {id =@item.OrderID })">@item.OrderID</a></td>*@
                                        <td class="text-truncate"><a href="@Url.Action( "Export","Sales", new { id = item.OrderID, ReportType = "PDF" })">@item.OrderID</a></td>
                                        <td class="text-truncate">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                        <td class="text-truncate"> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </td>
                                        <td class="text-truncate">
                                            <span class="badge badge-default badge-success">@item.PaymentStatus</span>
                                        </td>
                                        <td class="text-truncate">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Buyers</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content px-1">

                    <div id="recent-buyers" class="media-list height-300 position-relative">
                        @foreach (var item in ViewBag.StickerSales)
                        {
                            <a href="#" class="media border-0">
                                <div class="media-body w-100">
                                    <h6 class="list-group-item-heading">
                                        <span class="customername" title="@item.AccountName"> @item.AccountName  </span>

                                        <span class="badge badge-primary">@item.PaymentStatus</span>
                                        <span class="font-medium-4 float-right">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </span>
                                    </h6>
                                    <p class="list-group-item-text mb-0">

                                    </p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: "/Home/GetSalesGraphData?DeptID=3",
                dataType: 'json',
                async: true,
                success: function (data) {
                    var ctx = $("#column-chart-sticker");
                    var chartOptions = {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                                borderColor: 'rgb(0, 255, 0)',
                                borderSkipped: 'bottom'
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                display: true,

                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    callback: function (value, index, values) {
                                        value = value.toString();
                                        value = value.split(/(?=(?:...)*$)/);
                                        return 'PKR ' + value;
                                    }
                                }
                            }]
                        },

                    };

                    var chartData = {
                        labels: ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "Octobar", "November", "December"],
                        datasets: [{
                            label: "Sales in a Year of 2021",
                            data: data,
                            backgroundColor: "#78C5DC",
                            hoverBackgroundColor: "#aecfc8",
                            borderColor: "transparent"
                        },
                        ]
                    };
                    var config = {
                        type: 'bar',
                        options: chartOptions,
                        data: chartData,
                    };
                    var lineChart = new Chart(ctx, config);
                    console.log(lineChart)

                },
                error: function (ex) {
                    console.log(ex)
                }
            });

            $.ajax({
                type: 'GET',
                url: "/Home/GetSalesGraphData?DeptID=2",
                dataType: 'json',
                async: true,
                success: function (data) {
                    var ctx = $("#column-chart-satin");
                    var chartOptions = {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                                borderColor: 'rgb(0, 255, 0)',
                                borderSkipped: 'bottom'
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                display: true,

                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    callback: function (value, index, values) {
                                        value = value.toString();
                                        value = value.split(/(?=(?:...)*$)/);
                                        return 'PKR ' + value;
                                    }
                                }
                            }]
                        },

                    };

                    var chartData = {
                        labels: ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "Octobar", "November", "December"],
                        datasets: [{
                            label: "Sales in a Year of 2021",
                            data: data,
                            backgroundColor: "#78C5DC",
                            hoverBackgroundColor: "#aecfc8",
                            borderColor: "transparent"
                        },
                        ]
                    };
                    var config = {
                        type: 'bar',
                        options: chartOptions,
                        data: chartData,
                    };
                    var lineChart = new Chart(ctx, config);
                    console.log(lineChart)

                },
                error: function (ex) {
                    console.log(ex)
                }
            });

            $.ajax({
                type: 'GET',
                url: "/Home/GetSalesGraphData?DeptID=1",
                dataType: 'json',
                async: true,
                success: function (data) {
                    var ctx = $("#column-chart-offset");
                    var chartOptions = {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                                borderColor: 'rgb(0, 255, 0)',
                                borderSkipped: 'bottom'
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                display: true,

                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    callback: function (value, index, values) {
                                        value = value.toString();
                                        value = value.split(/(?=(?:...)*$)/);
                                        return 'PKR ' + value;
                                    }
                                }
                            }]
                        },

                    };

                    var chartData = {
                        labels: ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "Octobar", "November", "December"],
                        datasets: [{
                            label: "Sales in a Year of 2021",
                            data: data,
                            backgroundColor: "#78C5DC",
                            hoverBackgroundColor: "#aecfc8",
                            borderColor: "transparent"
                        },
                        ]
                    };
                    var config = {
                        type: 'bar',
                        options: chartOptions,
                        data: chartData,
                    };
                    var lineChart = new Chart(ctx, config);
                    console.log(lineChart)

                },
                error: function (ex) {
                    console.log(ex)
                }
            });
        });


        // Get Notifications
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/Home/GetNotification?typeId=1',// For PDC cheques notifications
            async: true,
            success: function (data) {
                console.log("in")
                if (data != null && data.msg != "") {

                    if (data.msgType == 'warning') {
                        //toastr.success("asdasd", "adsasd")
                        toastr["warning"](data.msg, data.Title)
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                    }

                    //////////////////


                    //var myhtml = document.createElement("div");
                    //myhtml.innerHTML = data.msg;
                    //swal({
                    //    title: data.msgTitle,
                    //    content: myhtml,
                    //    icon: data.msgType,
                    //    //buttons: true,
                    //    //dangerMode: true,
                    //})


                }
            },
            error: function (err) { console.log(err); }
        });

        // Bulk Delete JO
        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: '/Home/BulkDeleteJO',// For PDC cheques notifications
            async: true,
            success: function (data) {
               
            },
            error: function (err) { console.log("Bulk Delete JO Err.");console.log(err); }
        });

    </script>

    @*<script src="~/Scripts/vendor/js/select2/select2.min.js"></script>*@
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/app-assets/vendors/js/charts/chartist.min.js"></script>

}