﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">

    </div>*@
<div class="content-body">
    <!-- Basic form layout section start -->
    <section id="basic-form-layouts">
        <div class="card-content collpase show">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">

                        @*<div class="row">

                                <div class="col-xl-3 col-lg-6 col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-danger bg-darken-2">
                                                    <i class="icon-user font-large-2 white"></i>
                                                </div>
                                                <div class="p-2 bg-gradient-x-danger white media-body">
                                                    <h5>Purchases</h5>
                                                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-down"></i>@ViewBag.purchases</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-danger bg-darken-2">
                                                    <i class="icon-user font-large-2 white"></i>
                                                </div>
                                                <div class="p-2 bg-gradient-x-danger white media-body">
                                                    <h5>Sales</h5>
                                                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i>@ViewBag.sales</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-warning bg-darken-2">
                                                    <i class="icon-basket-loaded font-large-2 white"></i>
                                                </div>
                                                <div class="p-2 bg-gradient-x-warning white media-body">
                                                    <h5>Receiveables</h5>
                                                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-up"></i>@ViewBag.receiveable</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 col-12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="media align-items-stretch">
                                                <div class="p-2 text-center bg-success bg-darken-2">
                                                    <i class="icon-wallet font-large-2 white"></i>
                                                </div>
                                                <div class="p-2 bg-gradient-x-success white media-body">
                                                    <h5>Payables</h5>
                                                    <h5 class="text-bold-400 mb-0"><i class="ft-arrow-down"></i>@ViewBag.payable</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Stock </h4>
                            <div class="form-group row">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "Stock", new { target="_blank" })')">Stock Search</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("StockMovement", "Stock", new { target="_blank" })')">Stock Move To Branch</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("ReceiveStock", "Stock", new { target="_blank" })')">Stock Receive From Branch</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-activity"></i> Purchase </h4>
                            <div class="form-group row">
                                <div class="row">
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Create", "Purchase", new { target="_blank" })')">Create Purchase</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "Purchase", new { target="_blank" })')">Purchase List</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("POReturn", "PurchaseReturn", new { target="_blank" })')">Purchase Return</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "PurchaseReturn", new { target="_blank" })')">Return List</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-activity"></i> Sales </h4>
                            <div class="form-group row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Create", "SalesOrder", new { target="_blank" })')">Create Sales</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "Quotation", new { target="_blank" })')">Quotation Submit</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Create", "Quotation", new { target="_blank" })')">Quotation</button>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Create", "DeliveryOrder", new { target="_blank" })')">Delivery Order</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("DOReturn", "DOReturn", new { target="_blank" })')">Return DO</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "DeliveryOrder", new { target="_blank" })')">Submit DO</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("SalesReturn", "SalesReturn", new { target="_blank" })')">Return Sales</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("CustomerSales", "Customer", new { target="_blank" })')">Customer Sales List</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-alert-circle"></i> Accounts </h4>
                            <div class="form-group row">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Payment", "VendorPayment", new { target="_blank" })')">Vendor Payment</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Receiving", "CustomerPayment", new { target="_blank" })')">Payment Received</button>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Create", "Expenses", new { target="_blank" })')">Expenses</button>
                                    </div>

                                    <div class="col-md-2">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("Index", "Customer", new { target="_blank" })')">Customer List</button>
                                    </div>
                                    @*<div class="col-md-3">
                                            <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("CashFlowStatement", "Reports", new { target="_blank" })')">Cash Flow Statement</button>
                                        </div>*@
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("GetMonthlyIssuedCheques","Cheques", new { target="_blank" })')">Issued Cheques</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("GetMonthlyRecdCheques","Cheques", new { target="_blank" })')">Recd Cheques</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn mr-1 mb-1 btn-primary btn-lg round" onclick="window.open('@Url.Action("CashFlowStatement","Reports", new { target="_blank" })')">Cash Flow</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
