﻿@using Microsoft.AspNet.Identity


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Pie Chart</title>
    <link rel="apple-touch-icon" href="app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="app-assets/images/ico/favicon.ico">
    @*<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">*@
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="app-assets/vendors/css/charts/chartist.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/app.css">
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="app-assets/css/core/menu/menu-types/horizontal-menu.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <!-- END Custom CSS-->
</head>
<style>
    .customername {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
    }

    .media-list .media {
        padding: 15px;
    }

    .bartitle {
        width: 40px;
        height: 12px;
        display: inline-block;
        margin-right: 10px;
    }
</style>

@if (@User.IsInRole("SuperAdmin"))
{
    <div class="content-body">
        <!-- Stats -->
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Column Chart</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <canvas id="column-chart" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Simple Pie Chart</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div id="pie-chart" class="height-300"></div>
                            <div class="row">
                                <div class="col-12 ml-2 py-1">
                                    <p class="card-text">
                                        <span class="bartitle" style="background-color: #00A5A8;"></span>
                                        <span>42%</span>
                                    </p>
                                    <p class="card-text">
                                        <span class="bartitle" style="background-color: #F25E75;"></span>
                                        <span>33%</span>
                                    </p>
                                    <p class="card-text">
                                        <span class="bartitle" style="background-color: #FF7D4D;"></span>
                                        <span>25%</span>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Products Sales</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div id="products-sales" class="height-300"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media align-items-stretch">
                            <div class="p-2 text-center bg-danger bg-darken-2">
                                <i class="icon-user font-large-2 white"></i>
                            </div>
                            <div class="p-2 bg-gradient-x-danger white media-body">
                                <h5>Purchases</h5>
                                <h5 class="text-bold-400 mb-0">
                                    <i class="ft-arrow-down"></i>
                                    @{
                                        decimal purchase = ViewBag.purchases ?? 0;
                                        <span> @purchase.ToString("#,##0.00") </span>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media align-items-stretch">
                            <div class="p-2 text-center bg-blue-grey bg-darken-2">
                                <i class="icon-user font-large-2 white"></i>
                            </div>
                            <div class="p-2 bg-gradient-x-blue-grey white media-body">
                                <h5>Sales</h5>
                                <h5 class="text-bold-400 mb-0">
                                    <i class="ft-arrow-up"></i>
                                    @{
                                        decimal sales = ViewBag.TotalSales ?? 0;
                                        <span> @sales.ToString("#,##0.00") </span>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media align-items-stretch">
                            <div class="p-2 text-center bg-warning bg-darken-2">
                                <i class="icon-basket-loaded font-large-2 white"></i>
                            </div>
                            <div class="p-2 bg-gradient-x-warning white media-body">
                                <h5>Receiveables</h5>
                                <h5 class="text-bold-400 mb-0">
                                    <i class="ft-arrow-up"></i>
                                    @{
                                        decimal receivable = ViewBag.receiveable ?? 0;
                                        <span> @receivable.ToString("#,##0.00") </span>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media align-items-stretch">
                            <div class="p-2 text-center bg-success bg-darken-2">
                                <i class="icon-wallet font-large-2 white"></i>
                            </div>
                            <div class="p-2 bg-gradient-x-success white media-body">
                                <h5>Payables</h5>
                                <h5 class="text-bold-400 mb-0">
                                    <i class="ft-arrow-down"></i>
                                    @{
                                        decimal payable = ViewBag.payable ?? 0;
                                        <span> @payable.ToString("#,##0.00") </span>
                                    }
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Stats -->
        <!--Product sale & buyers -->
        <div class="row match-height">
            <div class="col-xl-8 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Recent Orders</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                                <thead>
                                    <tr>
                                        <th>Invoice#</th>
                                        <th>Date</th>
                                        <th>Customer</th>
                                        <th>Status</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Sales)
                                    {
                                        <tr>
                                            <td class="text-truncate"><a href="@Url.Action("Details", "SalesOrder", new {id =@item.OrderID })">@item.SOID</a></td>
                                            <td class="text-truncate">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                            <td class="text-truncate"> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </td>
                                            <td class="text-truncate">
                                                <span class="badge badge-default badge-success">@item.PaymentStatus</span>
                                            </td>
                                            <td class="text-truncate">
                                                @{
                                                    decimal TotalAmount = item.TotalAmount ?? 0;
                                                    <span> @TotalAmount.ToString("#,##0.00") </span>
                                                }
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Recent Buyers</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content px-1">

                        <div id="recent-buyers" class="media-list height-300 position-relative">
                            @foreach (var item in ViewBag.Sales)
                            {
                                <a href="#" class="media border-0">
                                    <div class="media-body w-100">
                                        <h6 class="list-group-item-heading">
                                            <span class="customername" title="@item.AccountName"> @item.AccountName  </span>

                                            <span class="badge badge-primary">@item.PaymentStatus</span>
                                            <span class="font-medium-4 float-right">
                                                @{
                                                    decimal TotalAmount = item.TotalAmount ?? 0;
                                                    <span> @TotalAmount.ToString("#,##0.00") </span>
                                                }
                                            </span>
                                        </h6>
                                        <p class="list-group-item-text mb-0">

                                        </p>
                                    </div>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Product sale & buyers -->
        <!--Product sale & Payables -->
        <div class="row match-height">
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Monthly Top Sold Products</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.TopSoldProduct)
                                    {
                                        <tr>
                                            <td class="text-truncate">@item.PartNo</td>
                                            <td class="text-truncate">@item.TotalQty</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top 5 Payables</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content px-1">

                        <div id="recent-buyers" class="media-list height-300 position-relative overflow-auto">
                            @foreach (var item in ViewBag.TopPayables)
                            {
                                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">
                                    <strong> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </strong>
                                    <span class="badge badge-danger float-right">
                                        <strong>
                                            @{
                                                decimal Payable = item.Payable ?? 0;
                                                <span> @Payable.ToString("#,##0.00") </span>
                                            }
                                        </strong>
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top 5 Receiveables</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content px-1">
                        <div id="recent-buyers" class="media-list height-300 position-relative overflow-auto">
                            @foreach (var item in ViewBag.TopReceiveables)
                            {
                                <a href="#" class="list-group-item list-group-item-action list-group-item-info">
                                    <strong> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </strong>
                                    <span class="badge badge-info float-right">
                                        <strong>
                                            @{
                                                decimal Receiveable = item.Receiveable ?? 0;
                                                <span> @Receiveable.ToString("#,##0.00") </span>
                                            }
                                        </strong>
                                    </span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Product sale & buyers -->
    </div>
}
@section scripts{
    <script src="~/Scripts/js/Graphs.js" type="text/javascript"></script>
    <script src="~/Scripts/Chart.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/charts/chartist.min.js"></script>
}





