﻿@{
    ViewBag.Title = "Index2";
}
<head>
    <link href="~/Content/Chart.min.css" rel="stylesheet" />
    <link href="~/Content/Chart.css" rel="stylesheet" />
</head>
<style>
    .customername {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
    }

    .media-list .media {
        padding: 15px;
    }
</style>
<center>
    <h1>Offset Summary</h1>
</center>

<div class="content-body">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sales Graph</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        <canvas id="column-chart" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row match-height">
        <div class="col-xl-8 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Orders</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content">
                    <div class="table-responsive">
                        <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                            <thead>
                                <tr>
                                    <th>Invoice#</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Sales)
                                {
                                    <tr>
                                        @*<td class="text-truncate"><a href="@Url.Action("Details", "SalesOrder", new {id =@item.OrderID })">@item.OrderID</a></td>*@
                                        <td class="text-truncate"><a href="@Url.Action( "Export","Sales", new { id = item.OrderID, ReportType = "PDF" })">@item.OrderID</a></td>
                                        <td class="text-truncate">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))</td>
                                        <td class="text-truncate"> <span class="customername" title="@item.AccountName"> @item.AccountName </span> </td>
                                        <td class="text-truncate">
                                            <span class="badge badge-default badge-success">@item.PaymentStatus</span>
                                        </td>
                                        <td class="text-truncate">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Recent Buyers</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                </div>
                <div class="card-content px-1">

                    <div id="recent-buyers" class="media-list height-300 position-relative">
                        @foreach (var item in ViewBag.Sales)
                        {
                            <a href="#" class="media border-0">
                                <div class="media-body w-100">
                                    <h6 class="list-group-item-heading">
                                        <span class="customername" title="@item.AccountName"> @item.AccountName  </span>

                                        <span class="badge badge-primary">@item.PaymentStatus</span>
                                        <span class="font-medium-4 float-right">
                                            @{
                                                decimal TotalAmount = item.TotalAmount ?? 0;
                                                <span> @TotalAmount.ToString("#,##0.00") </span>
                                            }
                                        </span>
                                    </h6>
                                    <p class="list-group-item-text mb-0">

                                    </p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: 'GET',
                url: "/Home/GetSalesGraphData?DeptID=1",
                dataType: 'json',
                async: true,
                success: function (data) {
                    var ctx = $("#column-chart");
                    var chartOptions = {
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                                borderColor: 'rgb(0, 255, 0)',
                                borderSkipped: 'bottom'
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        responsiveAnimationDuration: 500,
                        legend: {
                            position: 'top',
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                //gridLines: {
                                //    color: "#242D5",
                                //    drawTicks: false,
                                //},
                                scaleLabel: {
                                    display: true,
                                }
                            }],
                            yAxes: [{
                                display: true,
                                //gridLines: {
                                //    color: "#242D5",
                                //    drawTicks: false,
                                //},
                                scaleLabel: {
                                    display: true,
                                },
                                ticks: {
                                    callback: function (value, index, values) {
                                        value = value.toString();
                                        value = value.split(/(?=(?:...)*$)/);
                                        return 'PKR ' + value;
                                    }
                                }
                            }]
                        },
                        //title: {
                        //    display: true,
                        //    text: 'Booking Details Graph'
                        //}
                    };

                    var chartData = {
                        labels: ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "Octobar", "November", "December"],
                        datasets: [{
                            label: "Sales in a Year of 2021",
                            data: data,
                            backgroundColor: "#78C5DC",
                            hoverBackgroundColor: "#aecfc8",
                            borderColor: "transparent"
                        },
                        ]
                    };
                    var config = {
                        type: 'bar',
                        options: chartOptions,
                        data: chartData,
                    };
                    var lineChart = new Chart(ctx, config);
                    console.log(lineChart)

                },
                error: function (ex) {
                    console.log(ex)
                }
            });
        });


    </script>

    @*<script src="~/Scripts/vendor/js/select2/select2.min.js"></script>*@
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/app-assets/vendors/js/charts/chartist.min.js"></script>

}