﻿@model IEnumerable<POSOman.Models.GetDOCustomerWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>
                            DONo
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalesDate)
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            PONo.
                        </th>
                        <th>
                            Invoice No
                        </th>
                        <th>
                            Vehicle No.
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>

                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    if (item.isPaid == true) { @Html.DisplayFor(modelItem => item.SOID)}
                                    else if(item.isInvoice == true)
                                    { <input type='checkbox' name='record' value=@item.OrderID>}
                                }
                            
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOID)
                            </td>
                            <td>                                
                                @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PONo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleNo)
                            </td>                            
                            <td>
                                @if (item.ReturnAmount > 0)
                                { @(item.TotalAmount - item.ReturnAmount)
                                }
                                else
                                {@Html.DisplayFor(modelItem => item.TotalAmount)}
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.OrderID })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
            <div class="col-md-2 mb-3">
                <label>Create Invoice</label>
                <button type="button" value="Create" id="btnRemove" name="btnRemove" class="btn btn-pure" onclick="select(this)" tabindex="0">Create Invoice</button>   
            </div>            
                <div class="col-md-2 mb-3">
                    <label>Total</label>
                    <input type="text" class="form-control" disabled="" value=@Model.Last().Total>
                </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
