﻿@model POSOman.Models.DTO.DeliveryOrder
@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Create", "DeliveryOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Delivery Order</h4>
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchID">
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>

                                            @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })

                                        </div>*@
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer Name</label>
                                            <br>
                                            <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                            <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">                                            
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Code</label>
                                            @**@
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreatePartial", "Customer")" id="btnCreateCustomer">Add Customer</button>
                                            <br>
                                            @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = " form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Phone</label>
                                            <br>
                                            @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = " form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Credit Limit</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Cr Limit" id="customerCrLimit" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Balance</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                        </div>                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Sales Date</label>
                                                    @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label>PO No.</label>
                                                    @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control", name = "PONO", id = "PONO" } })
                                                    @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label>Veh No.</label>
                                                    @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-2">
                                                    <label>DONo.</label>                                                                                                            
                                                        @Html.EditorFor(model => model.DOID, new { htmlAttributes = new { @class = "form-control", name = "DOID", id = "DOID", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.DOID, "", new { @class = "text-danger" })
                                                    </div>
                                                <div class="form-group mb-1 col-sm-12 col-md-2">
                                                    <label>Total</label>
                                                    <br>
                                                    <input type="text" class="form-control" placeholder="Total" id="subAmount" disabled />
                                                </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
                                    <label id="DescriptionTitle"></label>
                                    <label id="Description" class="badge badge-info"></label>
                                    <label id="SubsTitle"></label>
                                    <label id="SubstituteNo" class="badge badge-primary"></label>
                                    <label id="VehModelTitle"></label>
                                    <label id="VehModel" class="badge badge-info"></label>
                                    <label id="GroupTitle"></label>
                                    <label id="Group" class="badge badge-primary"></label>
                                    <label id="LocationTitle"></label>
                                    <label id="Location" class="badge badge-info"></label>
                                    <label id="UnitCodeTitle"></label>
                                    <label id="UnitCode" class="badge badge-primary"></label>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-1">
                                                <label>V.Code</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Veh Code", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(""), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Qty</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>
                                            @*<div class="col-sm-1">
                                                    <label>Unit Price</label>
                                                    <br />
                                                    <input type="number" min="0" class="form-control" placeholder="UnPrice" id="UnitPrice" />
                                                </div>*@
                                            @*<div class="col-sm-1">
                                                    <input type="number" class="form-control" placeholder="Ex U Pr." id="exUnitPrice" disabled />
                                                </div>*@
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>
                                        </form>
                                    </div>
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>VCode</th>
                                                    <th>Part No.</th>
                                                    <th>Description</th>
                                                    <th>Location</th>
                                                    <th>U.C</th>
                                                    <th>Qty</th>                                                   
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div>
                                        <button type="button" value="Remove" id="btnRemove" name="btnRemove" class="btn btn-danger btn-sm btn-round" onclick="remove(this)" tabindex="0">Remove Product(s)</button>
                                    </div>
                                    <hr />                                                                                                                                                                  
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />                                    
                                </div>
                            }
                            @*PopUp For adding and Customer *@
                            <div class="modal" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal" aria-hidden="true" data-backdrop="static">
                                <div id="newCustomerContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{    
    <script type="text/javascript">        
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#CustomerCode').select2();
        $('#CustomerPhone').select2();
        $('#ddlVehCode').select2();
        //$('#ddlPartNumber').select2();
    </script>
<script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/deliveryOrder/dOrder.js"></script>
    <script src="~/Scripts/deliveryOrder/dOrderDetails.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>    
}
