﻿@model IEnumerable<POSOman.Models.GetDOCustomerWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>DELIVERY ORDERS</h2> <br />     
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Code</label>
                        <br>
                        @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>

                @*<div class="form-row">                    
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Code</label>
                        <br>
                        @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>*@
                <div id="SearchResult">
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<script src="~/Scripts/customScripts/general.js"></script>
<script type="text/javascript">
    function select(input) {

        var orderIDs = [];

        $("table tbody").find('input[name="record"]').each(function () {
            if ($(this).is(":checked")) {
                var row = $(this).closest("tr");
                var orderID = row.find('input[name="record"]').val(); // find hidden id
                orderIDs.push(orderID);
            }
        });
        var json = JSON.stringify(orderIDs);
        //$.post('@Url.Action("/SubmitDeliveryOrders")', { OrderID: json });
        //window.location.href = '/DeliveryOrder/SubmitDeliveryOrders?OrderID=' + json;
       // $.post("/DeliveryOrder/SubmitDeliveryOrders" + orderIDs);                
        ajaxCall("POST", json, "application/json; charset=utf-8", "/DeliveryOrder/saveOrderIDs", "json", onSuccess, onFailure);

       function onSuccess(Result) {
           if (Result == "Success") {
               window.location.href = '/DeliveryOrder/SubmitDeliveryOrders';
                //console.log(Result);
            }
            else {
                alert("Some error Ocurred! Please Check Your Entries");
            }
        }
        function onFailure(error) {
            if (error.statusText == "OK") {
                console.log(error.statusText);
            }
            else {
                alert("Some error Occured check your entries!");
            }
        }

    }
</script>
    <script>
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();
        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = "<h3 align=center>Delivery Orders</h3><br/>";
            var vendorName = $("#AccountID option:selected").text();
            if (accountID > 0)
            { html += "<h4>Customer:  " + vendorName + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            //if (accountID == 0)
            //{
            //    swal("Select","Please Select Customer!","error");
            //}
            //else if (accountID > 0 )
            {
                $.ajax({
                    url: "@Url.Action("Index", "DeliveryOrder")",
                    data: {
                        isSearch: true,
                        accountID: accountID,
                        fromDate: $('#fromDate').val(),
                        toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            $('#tblSO').dataTable({
                                aoColumnDefs: [

                                { "aTargets": [0], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [5], "bSortable": true },
                                { "aTargets": [7], "bSortable": true },
                                { "aTargets": [6], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [2], "bSortable": true, "sType": "date-uk" }
                                ],
                                "order": [[1, "desc"]],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {

                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Delivery Orders</h4>';


                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5,6,7]
                                        }
                                    }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });
                        }
                        

                }});
        }
        });

    </script>

}