﻿@model POSOman.Models.DTO.Sales
@{
    ViewBag.Title = "Create";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("CreateInvoice", "DeliverOrder",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>DO Details</h4>
                                    <div class="row">
                                        <input type="hidden" id="hdnBranchId" name="hdnBranchId" value="@ViewBag.BranchId">
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>

                                            @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })

                                        </div>*@
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer Name</label>
                                            <br>
                                            <input type="hidden" value="@Session["OrderIDs"]" id="myHiddenVar" name="id[]" /> 
                                            <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                                            <input type="hidden" id="hdnCostPrice" name="hdnCostPrice">
                                            <input type="hidden" id="hdnSOID" name="hdnSOID">
                                            <input type="hidden" id="hdnHoldID" name="hdnHoldID">
                                            <input type="hidden" id="hdnQuoteID" name="hdnQuoteID">
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control", @disabled="disabled" })
                                        </div>
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Code</label>                                            
                                            <br>
                                            @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>*@
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Phone</label>
                                            <br>
                                            @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>PO No.</label>
                                            @Html.EditorFor(model => model.PONo, new { htmlAttributes = new { @class = "form-control", name = "PONO", id = "PONO", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.PONo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Veh No.</label>
                                            @Html.EditorFor(model => model.VehicleNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.VehicleNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sales Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Credit Limit</label>
                                            <br>
                                            <input type="text" class="form-control" placeholder="Cr Limit" id="customerCrLimit" disabled />
                                        </div>
                                        
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Balance</label>
                                            <br>
                                            <input type="hidden" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                        </div>
                                    </div>
                                    
                                    @*<h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
                                    <label id="DescriptionTitle"></label>
                                    <label id="Description" class="badge badge-info"></label>
                                    <label id="SubsTitle"></label>
                                    <label id="SubstituteNo" class="badge badge-primary"></label>
                                    <label id="VehModelTitle"></label>
                                    <label id="VehModel" class="badge badge-info"></label>
                                    <label id="GroupTitle"></label>
                                    <label id="Group" class="badge badge-primary"></label>
                                    <label id="LocationTitle"></label>
                                    <label id="Location" class="badge badge-info"></label>
                                    <label id="UnitCodeTitle"></label>
                                    <label id="UnitCode" class="badge badge-primary"></label>
                                    <hr />
                                    <div class="row">
                                        <form id="ProductForm" name="ProductForm">
                                            <div class="col-sm-1">
                                                <label>V.Code</label>
                                                <br />
                                                @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Veh Code", htmlAttributes: new { @class = "select2 form-control", required = "required" })
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Product</label>
                                                <br />
                                                @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Stock</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="Stock" id="Stock" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Qty</label>
                                                <br />
                                                <input type="number" min="0" onkeypress="return isNumberKey(event)" class="form-control" placeholder="Qty" id="Qty" />
                                            </div>                                           
                                            <div class="col-sm-1">
                                                <label>Sale Price</label>
                                                <br />
                                                <input type="number" min="0" class="form-control" placeholder="S Price" id="SalePrice" />
                                            </div>
                                            <div class="col-sm-2">
                                                <label>Sub Total</label>
                                                <br />
                                                <input type="number" class="form-control" placeholder="" id="SubTotal" disabled />
                                            </div>
                                            <div class="col-sm-1">
                                                <label>Action</label>
                                                <input type="button" class="btn btn-round" value="Add" id="addRow">
                                            </div>

                                        </form>
                                    </div>*@
                                    <hr />
                                    <div>
                                        <table id="tblProduct" class="table table-striped table-bordered dynamic-height">
                                            <thead>
                                                <tr>                                                    
                                                    <th>VCode</th>
                                                    <th>Part No.</th>
                                                    <th>Description</th>
                                                    <th>Location</th>
                                                    <th>U.C</th>
                                                    <th>Qty</th>
                                                    @*<th>Un Pr.</th>*@
                                                    @*<th>Ex UPrice</th>*@
                                                    <th>S Price</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>                                  
                                    <hr />
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.DiscountAmount, "Discount")
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "discInput", id = "discInput", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            @Html.LabelFor(model => model.VAT)
                                            <br>
                                            @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput", @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder = "VAT (%)" } })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>VAT Amount</label>
                                            <br>
                                            <input class="form-control" id="vatAmount" name="vatAmount" disabled />
                                        </div>
                                        @*<div class="form-group mb-1 col-sm-12 col-md-2">
                                                <label>Balance</label>
                                                <br>
                                                <input type="text" class="form-control" placeholder="Balance" id="customerBalance" disabled />
                                            </div>*@
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    @*@Html.LabelFor(model => model.FinalAmount)
                                                    @Html.EditorFor(model => model.FinalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "finalAmountWithVAT" } })
                                                    @Html.ValidationMessageFor(model => model.FinalAmount, "", new { @class = "text-danger" })*@
                                                    <label>Final Amount</label>
                                                    <input type="number" class="form-control" placeholder="Final Amount" id="finalAmountWithVAT" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                                    @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Balance</label>
                                                    <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "" })

                                                @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "" })

                                                @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                                @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                    @*<label>Bank Name</label>
            <input class="form-control" id="bankName" name="bankName" placeholder="BankName" disabled />*@
                                                </div>
                                                @*<div class="col-md-4">
                                                    <label>Bank Name</label>
                                                    <input class="form-control" id="bankName" name="bankName" placeholder="Bank Name" disabled />
                                                </div>*@
                                                <div class="col-md-4">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />                                    
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript">
        document.getElementById('chqDate').valueAsDate = new Date();
        document.getElementById('SaleDate').valueAsDate = new Date();

    </script>
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    @*<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/forms/selects/select2.css">
        <script src="~/Scripts/vendor/js/forms/select/select2.full.min.js" type="text/javascript"></script>
        <script src="~/Scripts/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>*@

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/deliveryOrder/createInvoice.js"></script>    
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>
    var productId = @Html.Raw(Json.Encode(ViewBag.OrderID));
    //console.log(productId);
    getTempOrderDetails(productId);
</script>
}
