﻿@model POSOman.Models.DTO.Customer
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35"> Add New Customer</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>        
        @using (Ajax.BeginForm("PartialCustomer", "Customer", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success", OnBegin = "ValidateForm", }, new { @class = "form-horizontal", role = "form" }))
        {            
            <div class="modal-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <label>Code</label>
                <div class="form-group">
                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
                <label>Name</label>
                <div class="form-group">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
                <label>Phone</label>
                <div class="form-group">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>CR No.</label>
                <div class="form-group">                    
                    @Html.EditorFor(model => model.CRNo, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Company</label>
                <div class="form-group">
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Credit Limit</label>
                <div class="form-group">                    
                    @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <label>Opening Balance</label>
                <div class="form-group">                    
                    @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group">
                        <button type="button" id="btnHideModal" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<input type="submit" class="btn btn-primary" value="Save" />*@
                        <input type="button" value="Submit" class="btn btn-primary" onclick="PostNewCustomer(this)" />
                    </div>

                </div>
            </div>
        }
    </div>
</div>