﻿
@model IEnumerable<POSOman.Models.GetDeliveryChallanList_Result>

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            @*<th> Branch </th>*@
                            <th hidden> Sale Order </th>
                            <th> Challan No.</th>
                            <th> Inv. No</th>
                            <th> Customer </th>
                            <th> Challan Date </th>
                            <th hidden> Discount </th>
                            <th hidden> Tax </th>
                            <th> Total Amount </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td> @Html.DisplayFor(modelItem => item.BranchName) </td>*@
                                <td hidden> @item.StrCode </td>
                                <td> @Html.DisplayFor(modelItem => item.ChallanID) </td>
                                <td> @Html.DisplayFor(modelItem => item.SOID) </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                <td hidden> @POSOman.Models.BLL.NumberFormat.Convert(item.DiscountAmount ?? 0) </td>
                                <td hidden> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxAmount ?? 0) </td>
                                <td> @POSOman.Models.BLL.NumberFormat.Convert(item.TotalAmount ?? 0) </td>
                                <td>

                                    @Html.ActionLink("Details", "Export", new { id = item.ChallanID, ReportType = "PDF" })
                                    @*<text>|</text>
                            @Html.ActionLink("Edit", "GetEditSaleInvoice", new { id = item.OrderID }, null);
                            <text>|</text>
                            @Html.ActionLink("Delete", "SODelete", new { id = item.OrderID });*@


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h4  class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group row">
                            @Html.Label(null, "Payment Type", htmlAttributes: new { @class = "" })

                            @Html.DropDownList("PayType", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                         </div>
                    </div>
                    <div class="col-md-4">
                        <label>Bank Account</label>
                        @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                    </div>
                </div>
                <div  class="row">
                    <div class="col-12">
                        <div class="form-row">
                           

                            <div class="col-md-4">
                                <label>Cheque Number</label>
                                <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                            </div>
                            <div class="col-md-4">
                                <label>Cheque Date</label>
                                <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>

