﻿@model POSOman.Models.tbl_Customer

@{
    ViewBag.Title = "Details";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Customers</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Customer">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Details</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayNameFor(model => model.Code)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Code)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone1)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone1)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone2)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone2)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cell)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Cell)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Company)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Company)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CreditLimit)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CreditLimit)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.CRNo)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.CRNo)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.OpeningBalance)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.OpeningBalance)
                                </dd>



                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
  
