﻿@model POSOman.Models.tbl_Customer

@{
    ViewBag.Title = "Edit";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Customers</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Customer">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Customer</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Edit</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("Edit", "Customer",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.CustomerID)
                                @Html.HiddenFor(model => model.AccountID)
                            <div class="form-body">
                                <h4 class="form-section"><i class="ft-user"></i> Customer Info</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name /Company*</label>
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Contact Person</label>
                                            @Html.EditorFor(model => model.NameUR, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NameUR, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                     <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Sale Person</label>
                                                @Html.DropDownListFor(model => model.SalePersonAccID, new SelectList(ViewBag.SalePerson, "Value", "Name"), "Select ", htmlAttributes: new { @class = "form-control", @required = "required" })
                                                @Html.ValidationMessageFor(model => model.SalePersonAccID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Customer Code</label>
                                            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone1</label>
                                            @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Cell</label>
                                            @Html.EditorFor(model => model.Cell, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Cell, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>NTN</label>
                                            @Html.EditorFor(model => model.NTN, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.NTN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>STN</label>
                                            @Html.EditorFor(model => model.STN, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.STN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Pay Term</label>
                                            @Html.EditorFor(model => model.PaymentTerm, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.PaymentTerm, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                        <div class="form-group">
                                            <label>Invoice Type</label>
                                            @Html.DropDownListFor(model => model.InvoiceType, new SelectList(ViewBag.InvoiceType, "Value", "Name"), "Select Invoice Type", htmlAttributes: new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.InvoiceType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>GST %</label>
                                            @Html.EditorFor(model => model.GST, new { htmlAttributes = new { @class = "form-control", @Value = Model.GST,@readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.GST, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" hidden>
                                        <div class="form-group">
                                            <label>CR No.</label>
                                            @Html.EditorFor(model => model.CRNo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CRNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Credit Limit</label>
                                            @Html.EditorFor(model => model.CreditLimit, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CreditLimit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Opening Balance</label>
                                            @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.OpeningBalance, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6" hidden>
                                        <div class="form-group">
                                            <label>Company</label>
                                            @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                                <div class="row">



                                </div>

                            </div>
                                    <div class="form-actions">
                                        @*<button type="button" class="btn btn-warning mr-1">
                                                <i class="ft-x"></i> Cancel
                                            </button>*@
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-check-square-o"></i> Save
                                        </button>
                                    </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>

@section scripts{
    <script>
       // $("#InvoiceType").select2();
        $("#SalePersonAccID").select2();

        $("#InvoiceType").change(function () {
            var type = $("#InvoiceType option:selected").text() || "";

            if (type == "JAMALY") {
                $("#GST").val('18');
            }
            else {
                $("#GST").val('0');
            }
        })

        $("#GST").on('input', () => {
            let GST = +$("#GST").val() || 0;
            if (GST > 100) {
                toastr.warning('GST must be less than 100');
                $("#GST").val('')
            }
        })
    </script>
    }
