﻿﻿@model IEnumerable<POSOman.Models.tbl_Customer>
@using POSOman.Models.BLL;
@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">

    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Customers</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblCustomer" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Code)
                                            </th>
                                            <th>
                                                Invoice Type
                                            </th>
                                            <th>
                                                Name/Company
                                            </th>
                                            <th>
                                                SalePerson
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Phone)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.DiscountPercent)
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreditLimit)
                                            </th>
                                            <th hidden>
                                                @Html.DisplayNameFor(model => model.OpeningBalance)
                                            </th>

                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Code)
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.InvoiceType == 1)
                                                        {
                                                            @("JAMALY")
                                                        }
                                                        else if (item.InvoiceType == 2)
                                                        {
                                                            @("JEMELY")
                                                        }
                                                        else
                                                        {
                                                            @("-")
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @if (item.tbl_AccountDetails1 == null)
                                                    {
                                                        @("-")
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.tbl_AccountDetails1.AccountName)

                                                    }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Phone)
                                                </td>
                                                <td hidden>
                                                    @Html.DisplayFor(modelItem => item.DiscountPercent)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Email)
                                                </td>
                                                <td>
                                                    @(Helper.DigitsWithComma(item.CreditLimit))
                                                </td>
                                                <td hidden>
                                                    @Html.DisplayFor(modelItem => item.OpeningBalance)
                                                </td>

                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">

        $('#tblCustomer').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    title:'',
                    messageTop: function () {

                        //if ( printCounter === 1 ) {

      return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Customer List</h4>';

                        //}
                        //else {
                        //    return 'You have printed this document '+printCounter+' times';
                        //}
                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1,2,3,4, 5]
                    }
                }
            ]
        });
    </script>
}
