﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder1>

@{
    ViewBag.Title = "Customer Payment Receivings";
    ViewBag.Href = "Sales";
    ViewBag.Type = "List";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

@Html.Partial("~/Views/PartialViews/_FormTopView.cshtml")

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="form-row">
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>From Date</label>
                <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>To Date</label>
                <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label>Customer</label>
                <div class="input-group">
                    @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="col-md-2 mb-2" hidden>
                <label>Branch</label>
                <div class="input-group">
                    @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="form-group mb-1 col-sm-8 col-md-2">
                <label> </label>
                <br>
                <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
            </div>
        </div>
        <div id="SearchResult">

        </div>


    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script>


        $("#AccountID").select2();
        $('#Branch').select2();

        $("#btnSearch").on("click", function () {
            let CustAccID = +$("#AccountID").val() || 0;
            if (CustAccID > 0) {
                $.ajax({
                    url: "@Url.Action("PaymentsChallanWise", "Customer")",
                    data: {
                        btn: true,
                        BranchID: $('#Branch').val(),
                        accountID: $('#AccountID').val(),
                        fromDate: $('#fromDate').val(),
                        toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        $("#SearchResult").html(data);
                        var col = [0, 1, 2, 3, 4, 5];
                        GetTableData(col);
                    }
                });
            }
            else {
                swal("Error", "Please Select Customer", "error");
            }

        });
    </script>

    <script type="text/javascript">

    </script>

}


