﻿
@model IEnumerable<POSOman.Models.GetPurchaseFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-4 mb-3">
                <input type="text" class="form-control" placeholder="Total Purchases" readonly="readonly" id="totalPurchase">
            </div>
            <div class="card-body card-dashboard">
                <table id="tblPurchase" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                OrderID
                            </th>
                            <th>
                                BranchName
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PurchaseDate)
                            </th>
                            <th>
                                Vendor
                            </th>
                            <th>
                                Invoice No
                            </th>
                            @*<th>
                                    PONo.
                                </th>*@
                            <th>
                                VAT
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>

                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.POID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InvoiceNo)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.PONO)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.VAT)
                                </td>
                                <td>
                                    @if (item.VAT > 0)
                                    { @(item.TotalAmount + item.VAT);
                                    }
                                    else if (item.VAT == 0)
                                    { @Html.DisplayFor(modelItem => item.TotalAmount)}
                                </td>


                                <td>
                                    @Html.ActionLink("Details", "Details", "Purchase", new { id = item.OrderID }, null)
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
