﻿﻿@{
    Layout = String.Empty;
}
<!DOCTYPE html>
@model POSOman.Models.DTO.BalanceSheet
<html>
<head>
    <title>Balance Sheet</title>
    <style type="text/css">

        * {
            margin: 0px;
            padding: 0px;
        }

        #invoice {
            /*box-shadow: 0 0 1in -0.15in rgba(0, 0, 0, 0.5);*/
            background-color: white;
            margin: 0 auto;
            border: 2px solid grey;
            width: 210mm;
            height: 150mm;
        }

        #header {
            margin-top: 20px;
            width: 75%;
            height: 90px;
            background-color: #c4c4c4;
            color: #3a3a3a;
        }

        #subhead {
            margin-top: 10px;
            width: 75%;
            height: 40px;
            margin-bottom: 10px;
        }

        #subhead1 {
            margin-top: 10px;
            width: 75%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div id="invoice">
        @{
            decimal TotalAsset = 0;
            decimal TotalLiab = 0;
            decimal TotalEquity = 0;
            decimal TotAccRec = 0;
            decimal TotAccPay = 0;
        }

        <center>
            <div id="header">
                <h2 style="float: left;margin-top:30px;margin-left: 2px;color: purple;">Balance Sheet</h2>
                <img style="width: 100px;opacity: 0.7;height: 90px;" src="~/Content/images/logo/76x76.png">
                <h1 style="float: right;margin-top:25px;margin-right: 2px;color: purple;">Mangotech</h1>
            </div>
        </center>
        <center>
            <div id="subhead">
                <table width="48%" style="float: left;">
                    <tr>
                        <td width="50%" height="10px" style="background-color: red;"></td>
                        <td width="50%" height="10px" style="background-color: purple;"></td>
                    </tr>
                    <tr>
                        <td width="50%" height="40px" style="background-color: #c4c4c4;"><b>Assets</b></td>
                        <td align="right" width="50%" height="10px" style="background-color: #c4c4c4;"><b></b></td>
                    </tr>
                </table>
                <table width="48%" style="float: right;">
                    <tr>
                        <td width="50%" height="10px" style="background-color: red;"></td>
                        <td width="50%" height="10px" style="background-color: purple;"></td>
                    </tr>
                    <tr>
                        <td width="50%" height="40px" style="background-color: #c4c4c4;"><b>Liabilities & Equity</b></td>
                        <td align="right" width="50%" height="10px" style="background-color: #c4c4c4;"><b></b></td>
                    </tr>
                </table>
            </div>
        </center>
        <center>
            <div id="subhead1">
                <table style="float: left;" width="48%">

                    @foreach (var item in Model.AssetsBalance)
                    {
                        <tr>
                            <td width="50%">
                                @if (item.AccountTypeID == 7)
                                {
                                    @Html.ActionLink("Cash/Bank", "GetAccountTypeID", new { id = item.AccountTypeID }, null)
                                }
                                else
                                {
                                    @Html.ActionLink(item.AccountName, "GetAccountTypeID", new { id = item.AccountTypeID }, null)
                                }
                            </td>

                            <td width="50%">
                                @if (item.Balance < 0)
                                {
                                    <text>(@(item.Balance * -1))</text>
                                    TotalAsset += Convert.ToDecimal(item.Balance);
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Balance);
                                    TotalAsset += Convert.ToDecimal(item.Balance);
                                }
                            </td>
                        </tr>

                    }
                    @if (ViewBag.InvClosing != null || Convert.ToDecimal(ViewBag.InvClosing) != 0)
                    {
                        <tr>
                            <th>Closing Inventory</th>
                            <th class="text-lg-left">@ViewBag.InvClosing</th>
                            @{ TotalAsset += Convert.ToDecimal(ViewBag.InvClosing);}
                        </tr>
                    }

                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;"><strong>Total Assets</strong></td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;"><strong>@TotalAsset</strong></td>
                    </tr>
                </table>
                <table style="float: right;" width="48%">

                    @foreach (var item in Model.LiabilityBalance)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.AccountName, "GetAccountTypeID", new { id = item.AccountTypeID }, null)
                            </td>

                            <td>
                                @if (item.Balance < 0)
                                {
                                    <text>(@(item.Balance * -1))</text>
                                    TotalLiab += Convert.ToDecimal(item.Balance);
                                    //TotalLiab += Convert.ToDecimal(item.Balance * -1);
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Balance);
                                    TotalLiab += Convert.ToDecimal(item.Balance);
                                }
                            </td>
                        </tr>
                    }


                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;"><strong>Total Liabilities</strong></td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;"><strong>@TotalLiab</strong></td>
                    </tr>
                    @if (ViewBag.NetProfit != null || Convert.ToDecimal(ViewBag.NetProfit) > 0)
                    {
                        <tr>
                            <th>Retained Earnings</th>
                            <th class="text-lg-left">@ViewBag.NetProfit</th>
                            @{
                                TotalEquity = Convert.ToDecimal(ViewBag.NetProfit);
                            }
                        </tr>
                    }


                    @foreach (var item in Model.EquityBalance)
                    {
                        if (item.AccountTypeID == 3)
                        {
                            continue;
                        }
                        else
                        {
                            <tr>
                                <td width="50%">
                                    @Html.ActionLink(item.AccountName, "GetAccountTypeID", new { id = item.AccountTypeID }, null)
                                </td>
                                <td width="50%">
                                    @if (item.Balance < 0)
                                    {
                                        <text>(@(item.Balance * -1))</text>
                                        TotalEquity += Convert.ToDecimal(item.Balance);
                                    }

                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Balance);
                                        if (item.AccountTypeID == 3)
                                        {
                                            TotalEquity += Convert.ToDecimal(item.Balance * -1);
                                        }
                                        else
                                        {
                                            TotalEquity += Convert.ToDecimal(item.Balance);
                                        }
                                    }
                                </td>
                            </tr>
                        }

                    }
                    <tr>
                        <td width="50%"><input class="equityField" onkeyup="equitysFieldKeyUp(event)" type="text" style="width: 100%;background-color: rgba(255,255,255,0);border:none;"></td>
                        <td width="50%"><input class="equityField" onkeyup="equitysFieldKeyUp(event)" type="text" style="width: 100%;background-color: rgba(255,255,255,0);border:none; text-align:right;"></td>
                    </tr>
                    <tr>
                        <td width="50%"><strong>Total&nbsp;Owner's Equity</strong><br></td>
                        <td width="50%"><input type="text" style="width: 100%;background-color: rgba(255,255,255,0);border:none; text-align:right;" value="@TotalEquity"></td>
                    </tr>
                    <tr class="bg-light">
                        @{
                            decimal Amount = TotalLiab + TotalEquity;
                            int o = 0;
                        }
                        <td width="50%"><strong style="color:purple;">Total&nbsp;Liabilities and Owner's Equity</strong><br></td>


                        <td width="50%" style="text-align:right; background-color:#c4c4c4;color: purple;"><strong>@Amount</strong></td>
                    </tr>





                    @* <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">Total</td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">$34,000</td>
                    </tr>*@
                </table>

                @*<table style="float: left;margin-top: 10px;" width="48%">
                    <tr>
                        <td width="100%" colspan="2" style="background-color:#c4c4c4">Current Assets</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">Total</td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">$34,000</td>
                    </tr>
                </table>
                <table style="float: right;margin-top: 10px;" width="48%">
                    <tr>
                        <td width="100%" colspan="2" style="background-color:#c4c4c4">Current Assets</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">Total</td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">$34,000</td>
                    </tr>
                </table>*@
                @*<table style="float: left;margin-top: 10px;" width="48%">
                    <tr>
                        <td width="100%" colspan="2" style="background-color:#c4c4c4">Current Assets3</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">Total</td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">$34,000</td>
                    </tr>
                </table>*@
                @*<table style="float: right;margin-top: 10px;" width="48%">
                    <tr>
                        <td width="100%" colspan="2" style="background-color:#c4c4c4">Current Assets4</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%">Cash in Bank</td>
                        <td width="50%">$34,000</td>
                    </tr>
                    <tr>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">Total</td>
                        <td width="50%" style="background-color:#c4c4c4;color: purple;">$34,000</td>
                    </tr>
                </table>*@
            </div>

        </center>
      
    </div>



    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('invoice'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button hidden id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" style="margin: 1px;"> Back</button>



    <script type="text/javascript">

        function printContent(divId) {
            var content = document.getElementById(divId).innerHTML;
            var mywindow = window.open('', 'Print', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Print</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(content);
            mywindow.document.write('</body></html>');

            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            return true;
        }


        function Back() {
            window.location.href = '/Reports/IncomeStatement';
        }

    </script>
</body>
</html>


    

    
    
  
