﻿<div class="card-content collapse show">



    <h2 style="text-align:center; color:brown; font-weight:bold;">Balance Sheet As Of @DateTime.Now.ToString("MMMM") @DateTime.Now.Year</h2>
   
    <table id="treegrid1"></table>


</div>
