﻿@model IEnumerable<POSOman.Models.GetBanksDetailFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
            {
            <div class="col-md-4 mb-3">
                <label>Opening Balance</label>
                <input type="text" class="form-control" readonly="readonly" value=@Model.First().OpBalance id="openingBalance">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Closing Balance</label>
                @if (@Model.Last().Balance != "")
                {<input type="text" class="form-control" readonly="readonly" value=@Model.Last().Balance id="closingBalance"> }
                else
                { <input type="text" class="form-control" readonly="readonly" value=0 id="closingBalance"> }
            </div>
                <div class="card-body card-dashboard" style="overflow-x:auto;">
                    <table id="tblBank" class="table">
                        <thead>
                            <tr>
                                
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Detail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    Debit
                                </th>

                                <th>
                                    Credit
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Balance)
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Detail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Dr)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cr)
                                    </td>
                                    <td>
                                        @if (item.Balance == "")
                                        { <label>0</label>}
                                        else
                                        {@Html.DisplayFor(modelItem => item.Balance);
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}