﻿
@model IEnumerable<POSOman.Models.DTO.StatementDTO>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            string opBal = Model.FirstOrDefault().OpeningBalance ?? "0";
            decimal clBal = string.IsNullOrWhiteSpace(Model.LastOrDefault().Balance) ? 0 : Convert.ToDecimal(Model.LastOrDefault().Balance);

            <div class="col-md-4 mb-3">
                <label>Opening Balance</label>

                <input type="text" class="form-control" readonly="readonly" value="@opBal" id="openingBalance">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Closing Balance</label>
                @if (@Model.LastOrDefault().Balance != "")
                {
                    <input type="text" class="form-control" readonly="readonly" value="@clBal.ToString("#,##0.00")" id="closingBalance">
                }
                else
                {
                    <input type="text" class="form-control" readonly="readonly" value="0.00" id="closingBalance">
                }
            </div>
            <div class="card-body card-dashboard" style="overflow-x:auto;">
                <table id="tblBank" class="table table-striped">
                    <thead>
                        <tr>

                            <th>
                                @Html.DisplayName("Entry ID")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.AccName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                Debit
                            </th>

                            <th>
                                Credit
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.Balance)
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td onclick="getItemDetails(@item.JEntryId)" style="color:blue">
                                    @Html.DisplayFor(modelItem => item.JEntryId)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.AccName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @{
                                        //decimal dr = item.Dr ?? 0;
                                        <span> @item.Dr </span>
                                    }
                                </td>

                                <td>
                                    @{
                                        //decimal cr = item.Cr ?? 0;
                                        <span> @item.Cr </span>
                                    }
                                </td>
                                <td>
                                    @if (item.Balance == "")
                                    {
                                        <label>0.00</label>
                                    }
                                    else
                                    {
                                        decimal balance = Convert.ToDecimal(item.Balance);
                                        <span> @balance.ToString("#,##0.00") </span>
                                        @*@Html.DisplayFor(modelItem => item.Balance);*@
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}