﻿@model IEnumerable<POSOman.Models.GetCashFlowByEntrytype_Result>

<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content collpase show">
                            <div class="card-body">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-align-center"></i>Cash Flow Statement</h4>

                                    <div class="card-content collapse show">
                                        <div class="card-body card-dashboard">
                                       
                                            @*@{ decimal? totalExpenses = 0;
                                    decimal? totalReceivings = 0;}*@
                                            <table id="tblCashFlow" class="table table-striped table-bordered alt-pagination">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Detail
                                                        </th>
                                                        <th>
                                                            Dr
                                                        </th>

                                                        <th>
                                                            Cr
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.First().PrevBalance != null)
                                                    {
                                                        <tr>
                                                            <td>
                                                                Previous Cash
                                                            </td>
                                                            <td>
                                                                @Model.First().PrevBalance
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                        </tr>
                                                    }
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.EntryType)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TotalDebit)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TotalCredit)
                                                            </td>
                                                        </tr>
                                                    }                                                                                                     
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    @if (ViewBag.ToDate >= DateTime.Today)
                                    {
                                    <h4 class="form-section"><i class="icon-eye6"></i>Deposit Details</h4>

                                    <div class="col-12">
                                        <div class="form-row">
                                            <div class="form-group mb-1 col-sm-12 col-md-3">
                                                <label>Bank Account</label>
                                                @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })

                                            </div>
                                            <div class="form-group mb-1 col-sm-12 col-md-3">
                                                <label>Description</label>
                                                <input type="text" class="form-control" placeholder="Description" id="Description" />
                                            </div>
                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                <label>Total Cash</label>
                                                <input type="number" class="form-control" value="@(Model.First().Balance + @Model.First().PrevBalance)" placeholder="Total Cash" id="totalCash" disabled />
                                            </div>
                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                @Html.Label("Amount Deposit")
                                                <input type="number" class="form-control" placeholder="Deposit" id="totalDeposit" />
                                            </div>
                                            <div class="form-group mb-1 col-sm-12 col-md-2">
                                                <label>Balance</label>
                                                <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-actions right">
                                        <input type="button" id="btnSubmit" value="Deposit" class="btn btn-primary" />
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
<script src="~/Scripts/accounts/depositCash.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
<script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
<script src="~/Scripts/customScripts/general.js"></script>
<script src="~/Scripts/customScripts/helper.js"></script>  
@section scripts{    
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    
}








