﻿@model Tuple<List<POSOman.Models.DTO.AgingSummaryDTO>, List<string>, List<string>>
@using System;

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            if (Model.Item1 != null)
            {

                <div style="overflow: auto;" class="card-body card-dashboard">

                    <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                        <thead>

                            <tr>

                                <th> Customer </th>
                                @if (Model.Item2 != null)
                                {
                                    foreach (var rangeList in Model.Item2)
                                    {
                                        <th> @(rangeList) </th>
                                    }
                                }

                            </tr>

                        </thead>
                        <tbody>

                            @if (Model.Item2 != null)
                            {


                                foreach (var customerName in Model.Item3)
                                {
                                    <tr>
                                        <td>@customerName</td>

                                        @foreach (var rangeList in Model.Item2)
                                        {

                                            var getData = Model.Item1.Where(x => x.customerName.Equals(customerName) && x.rangeAndInterval.Equals(rangeList)).ToList();

                                            if (getData != null)
                                            {

                                                foreach (var u in getData)
                                                {

                                                    <td>@u.totalAmount</td>

                                                }

                                            }
                                        }


                                    </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>

            }
            else
            {
                <text>
                    <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                    </script>
                </text>
            }
        }

        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
