﻿@model IEnumerable<POSOman.Models.DTO.DetailedIncome>

@{
    ViewBag.Title = "Index";
}
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
@if (Model != null)
{
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profit/Loss Statement</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">

                            <table id="tblIncome" class="table table-bordered table-lg">
                                <thead>
                                    <tr>
                                        <th>
                                            Account
                                        </th>
                                        <th>
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Sales
                                        </td>
                                        <td>
                                            @*@Model.First().Sales*@
                                            @ViewBag.Sales
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Cost of Goods Sold
                                        </td>
                                        <td>
                                            @*@Model.First().COGS*@
                                            @ViewBag.COGS
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                           <strong>Gross Profit</strong> 
                                        </td>
                                        <td>
                                            @*<b>@Model.First().GrossProfit</b>*@
                                            <b>@ViewBag.GrossProfit</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    @*<tr>
                                        <td>
                                            Total Adjustments
                                        </td>
                                        <td>
                                            @Model.First().AdjustmentBalance                                            
                                        </td>
                                    </tr>*@
                                    @*<tr>
                                        <td>
                                            Total Loans
                                        </td>
                                        <td>
                                            @Model.First().TotalLoan
                                        </td>
                                    </tr>*@
                                   @foreach (var item in Model)
                                   {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AccountName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalExpense)
                                        </td>                                                                                
                                    </tr>
                                   }
                                    <tr>
                                        <td>
                                            <strong>Total Expenses</strong> 
                                        </td>
                                        <td>
                                            @*<b>@Model.First().TotalExpenses</b>*@
                                            <b>@ViewBag.TotalExpenses</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Net Profit</b>
                                        </td>
                                        <td>
                                            <b>@ViewBag.NetProfit</b>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
}
else
{
    <text>
        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
        </script>
    </text>
}
        </div>
    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}

