﻿
@model IEnumerable<POSOman.Models.GetEmployeePendingFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal total = 0;
            <div class="card-body card-dashboard">

                <table id="tbl" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Amount
                            </th>
                            
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))

                                </td>
                                <td>
                                    <p style="color:red;font-weight:500;">@item.Amount</p>
                                    @{ 
                                        total += item.Amount??0;
                                    }
                                </td>
                               
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="col-md-2 mb-2">
                    <label>Total Pendings</label>
                    <input type="text" class="form-control" name="Total Pendings" placeholder="Total Pendings" readonly="readonly" id="totalPendings" value="@total">
                </div>
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
