﻿@model IEnumerable<POSOman.Models.GetExpensesFilterWise_Result>


<div class="card-content collapse show">
    
        @if (Model != null)
            {
            decimal total = 0;
            <div class="row">                
                <div class="card-body card-dashboard">

                    <table id="tblExpenses" class="table">
                        <thead>
                            <tr>
                                @*<th>
            @Html.DisplayName("Branch")
        </th>*@
                                <th>
                                    Entry ID
                                </th>
                                <th>
                                    Voucher #
                                </th>
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AccountName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Detail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Amount)
                                </th>

                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>*@
                                    <td>
                                        @(item.JEntryID)
                                    </td>
                                    <td>
                                        @(item.CodeString)
                                    </td>
                                    <td>
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Detail)
                                    </td>
                                    <td>
                                        @{
                                            decimal amount = item.Amount;
                                            total += amount;
                                            <span> @amount.ToString("#,##0.00") </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    <div class="col-md-2 mb-2">
                        <label>Total Expenses</label>
                        <input type="text" class="form-control" name="Total Expenses" placeholder="Total Expenses" readonly="readonly" id="totalExpenses" value="@total">
                    </div>
                </div>
            </div>
        }
        else
        {
        <text>
            <script type="text/javascript">
                swal("No Data", "No Data Found!", "error");
            </script>
        </text>
        }
    
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}




