﻿@model IEnumerable<POSOman.Models.DTO.PLSData>

<div class="card-content collapse show">


    <div>
        <h1 style="text-align:center">Income Statement</h1>
        <table>
            <tr class="header">
                <th>Type</th>
                <th>Particulars</th>
                <th>Amount</th>
            </tr>

            @foreach (var r in Model)
            {
                List<string> highlightedVals = new List<string> { "Net Profit", "Net Profit Before Tax", "Other Income", "Total Expenses", "Total GST", "Expense", "Total COGS", "Cost Of Goods Sold" };
                List<string> coloredVals = new List<string> { "Net Sales", "Gross Profit", "Net Profit Before Other Income And Income Tax", "Input GST (D)" };
                if (highlightedVals.Contains(r.Particulars.Trim()))
                {
                    if (r.Particulars.Equals("Total Expenses"))
                    {
                        <tr class="total">
                            <td style="color:red; font-weight:bold">@r.AccountType</td>
                            <td style="color:red; font-weight:bold">@r.Particulars</td>
                            <td style="color:red; font-weight:bold">@(r.Total != 0 ? r.TotalInString.ToString() : "")</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="total">
                            <td>@r.AccountType</td>
                            <td>@r.Particulars</td>
                            <td>@(r.Total != 0 ? r.TotalInString.ToString() : "")</td>
                        </tr>
                    }

                }
                else if (coloredVals.Contains(r.Particulars.Trim()))
                {
                    if (r.Particulars.Equals("Net Sales") || r.Particulars.Equals("Gross Profit") || r.Particulars.Equals("Net Profit Before Other Income And Income Tax"))
                    {
                        <tr>
                            <td style="color:green; font-weight:bold">@r.AccountType</td>
                            <td style="color:green; font-weight:bold">@r.Particulars</td>
                            <td style="color:green; font-weight:bold">@(r.Total != 0 ? r.TotalInString : "")</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="color:red; font-weight:bold">@r.AccountType</td>
                            <td style="color:red; font-weight:bold">@r.Particulars</td>
                            <td style="color:red; font-weight:bold">@(r.Total != 0 ? r.TotalInString : "")</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>@r.AccountType</td>
                        <td>@r.Particulars</td>
                        <td>@(r.Total != 0 ? r.TotalInString : "")</td>
                    </tr>
                }
            }

        </table>
        <br>

    </div>

</div>
