﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Income Statement</title>

    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" type="text/css" media="print">

</head>

@model POSOman.Models.DTO.IncomeStatement
<body style="margin:40px 0px">

    <div id="printBody">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"><img></div>
                    <div class="col-md-4">
                        <h1><strong>Mangotech</strong></h1>
                    </div>
                    <div class="col-md-5 text-right">
                        <h2 class="text-uppercase" style="color: rgb(23,162,184);">Income Statement</h2>
                    </div>
                </div>
            </div>
        </div>
        <div  class="container" style="margin-top:22px;">
            <div class="table-responsive table-bordered table-stripped" style="margin-bottom: 2em;">
                <table class="table" id="revenue-table" style="margin-bottom: 0 !important;">
                    <thead class="bg-info">
                        <tr style="color: rgb(255,255,255);">
                            <th style="width: 80%;">Revenue</th>
                            <th class="text-right" style="width: 20%;">2019</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Sales
                            </td>
                            <td>
                                @{ 
                                    decimal sales = Model.Revenue.Sales ?? 0;
                                    <span> @sales.ToString("#,##0.00") </span>
                                }
                                @*@Model.Revenue.Sales*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cost of Goods Sold
                            </td>
                            <td>
                                @{
                                    decimal cogs = Model.Revenue.COGS ?? 0;
                                    <span> @cogs.ToString("#,##0.00") </span>
                                }
                                @*@Model.Revenue.COGS*@
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Gross Profit</strong>
                            </td>
                            <td>
                                @{
                                    decimal grossprofit = Model.Revenue.GrossProfit ?? 0;
                                    <span> @grossprofit.ToString("#,##0.00") </span>
                                }
                                @*@Model.Revenue.GrossProfit*@
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-bordered" style="margin-bottom: 2em;">
                <table class="table" id="expense-table" style="margin-bottom: 0 !important;">
                    <thead class="bg-info">
                        <tr style="color: rgb(255,255,255);">
                            <th style="width: 80%;">Expenses</th>
                            <th class="text-right" style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ExpensesTrialBalance)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountName)
                                </td>
                                <td>
                                    @{ 
                                        decimal balance = item.Balance ?? 0;
                                        <span> @balance.ToString("#,##0.00") </span>
                                    }
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-bordered" style="margin-bottom: 2em;">
                <table class="table" id="expense-table" style="margin-bottom: 0 !important;">
                    <thead class="bg-info">
                        <tr style="color: rgb(255,255,255);">
                            <th style="width: 80%;">Net Profit</th>
                            <th class="text-right" style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <strong>Net Profit</strong>
                            </td>
                            <td>
                                @{ 
                                    decimal netprofit = Model.Revenue.NetProfit ?? 0;
                                    <span> @netprofit.ToString("#,##0.00") </span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
       
        </div>
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('printBody'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" style="margin: 1px;"> Back</button>

    <script>
        
        function Back() {
            window.location.href = '/Reports/IncomeStatement';
        }

        function printContent(divId) {
            var content = document.getElementById(divId).innerHTML;
            var mywindow = window.open('', 'Print', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Print</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(content);
            mywindow.document.write('</body></html>');

            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            return true;
        }
    </script>
</body>
</html>

