﻿
@model IEnumerable<POSOman.Models.GetProfitLossReport_Result>

@using POSOman.Models;

@{
    ViewBag.Title = "Income Statement Report";
    dbPOS db = new dbPOS();
    var adddata = db.tbl_AddressDetail.FirstOrDefault();
}

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {

            <div id="printBody" style="width:100%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h1><strong>@adddata.Title</strong></h1>
                        </div>
                        <div class="col-md-8 text-right">
                            <h2 class="text-uppercase" style="color: rgb(23,162,184);">Income Statement</h2>
                        </div>
                        <div class="col-md-12">
                            <table id="tblRevenue" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr class="bg-info">
                                        <th> <h4> <strong>Revenue</strong> </h4> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(a => a.AccountTypeID == 5))
                                    {
                                        <tr>
                                            <td> @item.AccountName </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance ?? 0) </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> <strong>Total</strong> </th>
                                        <th style="text-align:right;"> <strong> @POSOman.Models.BLL.NumberFormat.Convert(Model.Where(a => a.AccountTypeID == 5).Sum(a => a.Balance) ?? 0) </strong> </th>
                                    </tr>
                                </tfoot>
                            </table>

                            <table id="tblExpenses" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr class="bg-info">
                                        <th> <h4> <strong>Expenses</strong> </h4> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(a => a.AccountTypeID == 3))
                                    {
                                        <tr>
                                            <td> @item.AccountName </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance * -1 ?? 0) </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th> <strong>Total</strong> </th>
                                        <th style="text-align:right;"> <strong> @POSOman.Models.BLL.NumberFormat.Convert(Model.Where(a => a.AccountTypeID == 3).Sum(a => a.Balance * -1) ?? 0) </strong> </th>
                                    </tr>
                                </tfoot>
                            </table>

                            <table id="tblNetProfit" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr class="bg-info">
                                        <th> <h4> <strong>Net Profit</strong> </h4> </th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th> <strong>Net Profit</strong> </th>
                                        <th style="text-align:right;"> <strong> @POSOman.Models.BLL.NumberFormat.Convert(Model.Sum(a => a.Balance) ?? 0) </strong> </th>
                                    </tr>
                                    @{
                                        decimal rev = Convert.ToDecimal(0.7);
                                        var capitals = db.tbl_AccountDetails.Where(a => a.HeadID == 4 && a.AccountID > 200).Select(a => new { a.AccountID, a.AccountName }).ToList();
                                        foreach (var item in capitals)
                                        {
                                            <tr>
                                                <th> @item.AccountName </th>
                                                <th style="text-align:right;"> <strong> @POSOman.Models.BLL.NumberFormat.Convert(Model.Sum(a => a.Balance) * rev ?? 0) </strong> </th>
                                            </tr>

                                            rev = Convert.ToDecimal(0.3);
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent('printBody'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>


        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    

}



