﻿
﻿@model IEnumerable<POSOman.Models.GetCustomerSalesDateWise_Result>
<style>
    @@media print {
        @@page {
            /*size: A4; */
            margin-top: 40px;
            margin-bottom: 10px;
        }
    }
</style>

<div class="card-content collapse show">
    <div class="row">
        <div class="card-body card-dashboard">
            @if (Model != null)
            {
                <table id="tblSO" class="table table-striped table-bordered alt-pagination" >
                    <thead>
                        <tr>
                            <th hidden>
                                Branch
                            </th>
                            <th>
                                OrderType
                            </th>
                            @*<th>
                                    OrderNo
                                </th>*@
                            <th>
                                InvoiceNo
                            </th>
                            <th>
                                Date
                            </th>
                            <th>
                                Customer
                            </th>

                          
                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>

                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.BranchName)
                                </td>
                                @if (item.SalesReturnID > 0)
                                {
                                    <td>Return</td>
                                }
                                else
                                {
                                    <td>Sales</td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.SOID)
                                </td>
                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Customer)
                                </td>                               
                                <td>
                                    @{ 
                                        decimal totalamount = Convert.ToDecimal(item.TotalAmount);
                                        <span> @totalamount.ToString("#,##0.00") </span>
                                    }
                                    @*@if (item.VAT > 0)
                                    { @(item.TotalAmount + item.VAT);
                                    }
                                    else if (item.VAT == 0 || item.VAT == null)
                                    { @Html.DisplayFor(modelItem => item.TotalAmount)}*@
                                </td>


                                <td>
                                    @if (item.isOpening == false || item.isOpening == null)
                                    {
                                        if (item.SalesReturnID > 0)
                                        { @Html.ActionLink("Details", "Details", "SalesReturn", new { id = item.SalesReturnID }, null);
                                        }
                                        else
                                        { @Html.ActionLink("Details", "Details", "SalesOrder", new { id = item.OrderID }, null)}
                                        @*@Html.ActionLink("Details", "~/SalesOrder/Details", new { id = item.OrderID })*@

                                    }
                                    else
                                    {
                                        <a href="#">Opening Balance</a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="row">
                    @{ 
                        decimal totalsales = Model.First().TotalSales ?? 0;
                        decimal totalreturn = Model.First().TotalReturn ?? 0;
                        decimal netsales = (Model.First().TotalSales - Model.First().TotalReturn) ?? 0;
                    }
                    <div class="col-md-4 mb-3">
                        <label>Total Sales </label>
                        <input type="text" class="form-control" readonly="readonly" value="@totalsales.ToString("#,##0.00")" id="totalSales">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Total Return</label>
                        <input type="text" class="form-control" readonly="readonly" value="@totalreturn.ToString("#,##0.00")" id="totalReturn">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Net Sales</label>
                        <input type="text" class="form-control" readonly="readonly" value="@netsales.ToString("#,##0.00")" id="netSales">
                    </div>
                </div>
            }
            else
            {
                <text>
                    <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                    </script>
                </text>
            }
        </div>
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
