﻿@model IEnumerable<POSOman.Models.GetCustomerPaymentReport_Result>


<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                Invoice No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                CreditDays
                            </th>
                            <th>
                                RecDate
                            </th>
                            @*<th>
                                Detail
                            </th>*@
                            <th>
                                TotalBill
                            </th>
                            <th>
                                Recd
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.SOID)
                                </td>                              

                                <td>
                                    @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.OrderDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreditDays)
                                </td>

                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Detail)
                                </td>*@
                                <td>
                                    @(item.TotalAmount + item.VAT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AmountReceived)
                                </td>
                               
                            </tr>
                        }
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th colspan="7" style="text-align:right">Total:</th>
                                <th></th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
    @*@if (Model != null)
        {
            <div class="row">
                <div class="col-md-4 mb-3">

                </div>
                <div class="col-md-4 mb-3">

                </div>
                <div class="col-md-4 mb-3">
                    <label>Total Sales </label>
                    <input type="text" class="form-control" readonly="readonly" value=@Model.First().Total id="totalSales">
                </div>
            </div>
        }*@

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
