﻿@model IEnumerable<POSOman.Models.GetProfitLossReportItemWise_Result>
<div class="card-content collapse show">
    <div class="row">

        @if (Model != null)
        {
            decimal totalBal = 0;
            <table id="tblStock" class="table table-striped table-bordered dom-jQuery-events">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Job Order #</th>
                        <th>
                            Item
                        </th>
                        <th>
                            Department
                        </th>
                        <th>
                            Estimated Cost
                        </th>
                        <th>
                            Actual Cost
                        </th>
                        <th>
                            Difference
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.StkIssuanceDate)) </td>

                            <td>

                                @{
                                    if (item.OrderID <= 0)
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.OrderID)
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (string.IsNullOrWhiteSpace(item.ItemName))
                                    {
                                        @("-")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.ItemName)
                                    }
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EstimatedCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActualCost)
                            </td>
                            <td>
                                @{
                                    totalBal += Convert.ToDecimal(item.CostDifference);
                                    if (Convert.ToDecimal(item.CostDifference) <= 0)
                                    {
                                        @("(" + Convert.ToDecimal(item.CostDifference) * (-1) + ")")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.CostDifference)
                                    }
                                }

                            </td>



                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <label>Total</label>
                <input class="form-control" type="text" readonly id="totalBalance" value="@totalBal" />
            </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
