﻿@model IEnumerable<POSOman.Models.GetProductLedgerFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotal" name="hdntotalSales">
            <div class="card-body card-dashboard">
                    <table id="tblProducts" class="table table-striped table-bordered alt-pagination">
                        <thead>
                            <tr>                               
                                <th>
                                    Item
                                </th>
                                @*<th>
                                    Item Ur
                                </th>*@
                                <th>
                                    Total Sold
                                </th>
                                <th>
                                    Total Return
                                </th>
                                @*<th>
                                    Retail
                                </th>
                                <th>
                                    Cost
                                </th>*@   
                                <th>
                                    Profit
                                </th>
                                <th>
                                    Loss
                                </th>                             
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Product)
                                    </td>                                  
                                   
                                    <td>
                                        @if (item.LevelID == 2)
                                        {
                                            @(((item.TotalSold / 1000) / item.UnitPerCarton).Value.ToString("0.00"))
                                           
                                        }
                                        else if (item.LevelID == 3)
                                        {
                                            @(((item.TotalSold / 1000) / item.UnitPerCarton).Value.ToString("0.00"))

                                        }
                                        else if (item.LevelID == 1)
                                        {
                                            @((item.TotalSold / item.UnitPerCarton).Value.ToString("0.00"))
                                        }
                                        else
                                        {
                                            @(Convert.ToInt32(item.TotalSold))
                                        }


                                    </td>
                                    <td>
                                       @if (item.TotalReturn > 0)
                                       {
                                        if (item.LevelID == 2)
                                        {
                                            @(((item.TotalReturn / 1000) / item.UnitPerCarton).Value.ToString("0.00"))

                                        }
                                        else if (item.LevelID == 3)
                                        {
                                            @(((item.TotalReturn / 1000) / item.UnitPerCarton).Value.ToString("0.00"))

                                        }
                                        else if (item.LevelID == 1)
                                        {
                                            @((item.TotalReturn / item.UnitPerCarton).Value.ToString("0.00"))
                                        }
                                        else
                                        {
                                            @(Convert.ToInt32(item.TotalReturn))
                                        }
                                       }


                                    </td>

                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Retail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cost)
                                    </td>*@
                                    <td>
                                        @*@if((item.SoldProfit - item.ReturnLoss) >= 0)
                                        {@((item.SoldProfit - item.ReturnLoss).ToString("0.00")) }*@    
                                        @if ((item.SoldProfit - item.ReturnLoss) >= 0)
                                        {
                                                @((item.SoldProfit - item.ReturnLoss).ToString("0.00"))    
                                        }                                                                           
                                    </td>
                                    <td>                                       
                                        @if ((item.SoldProfit - item.ReturnLoss) < 0)
                                        {    
                                                @((item.SoldProfit - item.ReturnLoss).ToString("0.00"))   
                                        }
                                    </td>                                   
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

} 
