﻿@model IEnumerable<POSOman.Models.GetProductSalesFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal totalsales = Model.FirstOrDefault().TotalSales ?? 0;
            decimal totalretrn = Model.LastOrDefault().TotalReturn ?? 0;
            <div class="col-md-4 mb-3">
            <label>Total Sales</label>
            <input type="text" class="form-control" readonly="readonly" value="@totalsales.ToString("#,##0.00")" id="totalSales">
        </div>
            <div class="col-md-4 mb-3">

            </div>
                <div class="col-md-4 mb-3" hidden>
                    <label>Total Return</label>
                    <input type="text" class="form-control" readonly="readonly" value="@totalretrn.ToString("#,##0.00")" id="totalReturn">
                </div>
                <div class="card-body card-dashboard">
                    <table id="tblProducts" class="table table-striped table-bordered alt-pagination">
                        <thead>
                            <tr>
                                <th hidden>
                                    Branch
                                </th>
                                <th>
                                    Invoice No.
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalesDate)
                                </th>
                                <th>
                                    Customer
                                </th>
                                <th>
                                    Product
                                </th>
                                <th>
                                    UC
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                   S. Price
                                </th>

                                <th>
                                    Amount
                                </th>
                                @*<th></th>*@
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SOID)
                                    </td>                                    
                                    <td>
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitCode)
                                    </td>
                                    
                                    <td>
                                        @if (item.UnitID == 0 && (item.LevelID == 1))
                                        {
                                            @(Convert.ToDecimal(item.Qty / item.UnitPerCarton))
                                        }
                                        else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                        {
                                            @(Convert.ToDecimal(item.Qty / Convert.ToDecimal(item.UnitPerCarton) / item.MinorDivisor))
                                        }
                                        else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                        {
                                            @(Convert.ToDecimal(item.Qty) / Convert.ToDecimal(item.MinorDivisor))
                                        }
                                        else
                                        {
                                            @item.Qty
                                        }
                                    </td>
                                    <td>
                                        @item.SalePrice.Value.ToString("#,##0.00")
                                    </td>
                                    @*<td>
                                        
                                        @if (item.UnitID == 0 && (item.LevelID == 1))
                                        {
                                            @(Convert.ToDecimal(item.ReturnedQty / item.UnitPerCarton))
                                        }
                                        else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                        {
                                            @(Convert.ToDecimal(item.ReturnedQty / Convert.ToDecimal(item.UnitPerCarton) / item.MinorDivisor))
                                        }
                                        else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                        {
                                            @(Convert.ToDecimal(item.ReturnedQty) / Convert.ToDecimal(item.MinorDivisor))
                                        }
                                        else
                                        {
                                            @item.ReturnedQty
                                        }
                                    </td>*@
                                    <td>
                                        @{ 
                                            decimal totalamount = item.Total ?? 0;
                                            <span> @totalamount.ToString("#,##0.00") </span>
                                        }
                                        @*@Html.DisplayFor(modelItem => item.Total)*@
                                    </td>
                                    @*<td>
                                        @Html.ActionLink("Details", "Details", "SalesOrder", new { id = item.OrderID }, null)
                                    </td>*@
                                </tr>
                            }
                        </tbody>

                    </table>
                    </div>

                    }
                    else
                    {
                    <text>
                        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                        </script>
                    </text>
                    }
                </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
   
} 