﻿@model IEnumerable<POSOman.Models.GetProductPurchaseFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal totalpurchase = Model.First().TotalPurchase ?? 0;
            decimal totalrtrn = Model.Last().TotalReturn ?? 0;

            <div class="col-md-4 mb-3">
                <label>Total Purchases</label>
                <input type="text" class="form-control" readonly="readonly" value="@totalpurchase.ToString("#,##0.00")" id="totalPurchase">
            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3" hidden>
                <label>Total Return</label>
                <input type="text" class="form-control" readonly="readonly" value="@totalrtrn.ToString("#,##0.00")" id="totalReturn">
            </div>
                <div class="card-body card-dashboard">
                    <table id="tblProducts" class="table table-striped table-bordered alt-pagination">
                        <thead>
                            <tr>
                                <th hidden>
                                    Branch
                                </th>
                                <th >
                                    Auto Invoice No.
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PurchaseDate)
                                </th>
                                <th>
                                    Vendor
                                </th>
                                <th>
                                    Product
                                </th>
                                <th>
                                    UC
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    U. Price
                                </th>
                                <th>
                                    Amount
                                </th>
                                @*<th></th>*@
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.POID)
                                    </td>
                                    <td>
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccountName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnitCode)
                                    </td>
                                    <td>
                                        @if (item.LevelID == 1)
                                        {
                                            @(Convert.ToDecimal(item.Qty) / Convert.ToDecimal(item.UnitPerCarton))
                                        }
                                        else if (item.LevelID == 2 || item.LevelID == 3)
                                        {
                                            @((Convert.ToDecimal(item.Qty) / Convert.ToDecimal(item.UnitPerCarton)) / item.MinorDivisor)
                                        }
                                        else
                                        {
                                            @((Convert.ToDecimal(item.Qty)))
                                        }
                                    </td>
                                    <td>
                                        <span> @item.UnitPrice.Value.ToString("#,##0.00") </span>
                                    </td>
                                    <td>
                                        @{ 
                                            decimal totalamount = item.Total ?? 0;
                                            <span> @totalamount.ToString("#,##0.00") </span>
                                        }
                                        @*@Html.DisplayFor(modelItem => item.Total)*@
                                    </td>
                                    @*<td>
                                       
                                        @Html.ActionLink("Details", "Export", "Purchase", new { id = item.OrderID }, null)
                                    </td>*@
                                </tr>
                            }
                        </tbody>

                    </table>
                    
                    </div>
                    }
                    else
                    {
                    <text>
                        <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                        </script>
                    </text>
                    }
                </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblProducts').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ]
            });
        });
    </script>
}
 
