﻿
@model IEnumerable<POSOman.Models.GetPurchaseFilterWise_Result>


<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
        {
            decimal total = 0;
        <div class="card-body card-dashboard">

            <table id="tblPurchase" class="table table-striped table-bordered alt-pagination">
                <thead>
                    <tr>
                        <th>
                            Auto Invoice No.
                        </th>
                        <th>
                            Invoice No
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PurchaseDate)
                        </th>
                        <th>
                            Vendor
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalAmount)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.TotalPaid)
                        </th>*@
                        <th hidden>
                            Balance
                        </th>
                        @*<th></th>*@
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.POID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @{
                                    decimal totalamount = item.TotalAmount ?? 0;
                                    total += item.TotalAmount ?? 0;
                                    <span> @totalamount.ToString("#,##0.00") </span>
                                }
                                @*@if (item.VAT > 0)
                            {
                                @(item.TotalAmount + item.VAT);
                            }
                            else if (item.VAT == 0)
                            {
                                @Html.DisplayFor(modelItem => item.TotalAmount)
                            }*@
                            </td>
                            @*<td>
                                @{
                                    decimal paidamount = item.TotalPaid ?? 0;
                                    <span> @paidamount.ToString("#,##0.00") </span>
                                }
                            </td>*@
                            <td hidden>
                                @*@{
                                decimal balance = (item.TotalAmount - item.TotalPaid) ?? 0;
                                <span> @balance.ToString("#,##0.00") </span>
                            }*@
                                @*@(item.TotalAmount - (item.Expenses ?? 0) - (item.TotalPaid ?? 0) )*@
                            </td>

                            @*<td>
                                @Html.ActionLink("Details", "Export", "Purchase", new { id = item.OrderID }, null)
                            </td>*@
                        </tr>
                    }
                </tbody>

            </table>
            <div class="col-md-2 mb-2">
                <label>Total Purchase</label>
                <input type="text" class="form-control" name="Total Purchase" placeholder="Total Purchases" readonly="readonly" id="totalPurchases" value="@total">
            </div>
        </div>
                }
                else
                {
                <text>
                    <script type="text/javascript">
                        swal("No Data", "No Data Found!", "error");
                    </script>
                </text>
                }
            </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}
