﻿@model IEnumerable<POSOman.Models.GetSalesFilterWise_Result>


<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
           
                decimal total = 0;
            
            <div class="card-body card-dashboard">
                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                Invoice No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalesDate)
                            </th>
                            <th>
                                Customer
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>

                            @*<th></th>*@
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.SOID)
                                </td>

                                <td>
                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountName)
                                </td>

                                <td>
                                    @{
                                        total += item.TotalAmount ?? 0;
                                        <span> @item.TotalAmount.Value.ToString("#,##0.00") </span>
                                    }
                                </td>

                                @*<td>
                                    @Html.ActionLink("Details", "Export", new { id = item.OrderID, InvoiceType = item.InvoiceType, ReportType = "PDF" }, new { @class = "dropdown-item" })
                                </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input type="hidden" id="hdntotalSales" name="hdntotalSales" value="@total">
        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
    @*@if (Model != null)
    {
        <div class="row">
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">
                <label>Total Sales </label>
                <input type="text" class="form-control" readonly="readonly" value=@Model.First().Total id="totalSales">
            </div>
        </div>
    }*@
    
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}