﻿@model IEnumerable<POSOman.Models.GetShareHolderTransDateWise_Result>
<style>
    @@media print {
        @@page {
            /*size: A4; */
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
</style>
<div class="card-content collapse show">
    <div class="row">
        @if (Model != null)
            {
            <div class="col-md-4 mb-3">
                <label>Opening Balance</label>
                <input type="text" class="form-control" readonly="readonly" value=@Model.First().OpBalance id="openingBalance">
            </div>
            <div class="col-md-4 mb-3">

            </div>
                <div class="col-md-4 mb-3">

                    <label>Closing Balance</label>
                    @if (@Model.Last().Balance != "")
                    {<input type="text" class="form-control" readonly="readonly" value=@Model.Last().Balance id="closingBalance"> }
                    else
                    { <input type="text" class="form-control" readonly="readonly" value=0 id="closingBalance"> }

                </div>
                <div class="card-body card-dashboard">
                    <table id="tbl" class="table">
                        <thead>
                            <tr>
                                <th hidden>
                                    @Html.DisplayName("Branch")
                                </th>
                                <th>
                                    @Html.DisplayName("Date")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Detail)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Customer)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Debit)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Credit)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Balance)
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.BranchName)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.VoucherDate.ToString("dd/MM/yyyy"))*@
                                        @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.VoucherDate))
                                    </td>
                                    @if (item.Description != null)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Detail)
                                        </td> }

                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.Customer)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Debit)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Credit)
                                    </td>
                                    <td>
                                        @if (item.Balance == "")
                                        { <label>0</label>}
                                        else
                                        {@Html.DisplayFor(modelItem => item.Balance);
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}






