﻿
@model IEnumerable<POSOman.Models.GetTrialBalance_Result>

@{
    ViewBag.Title = "Trial Balance";
}

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            int count = 0;

            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard table-responsive">
                <table id="tblTrial" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <td colspan="3"> <h3 style="text-align:center; color:#2DCEE3 !important;"> TRIAL BALANCE </h3> </td>
                        </tr>
                        <tr class="bg-info" style="color: rgb(255,255,255);">
                            <th> Accounts </th>
                            <th style="text-align:right;"> Debit </th>
                            <th style="text-align:right;"> Credit </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            bool isRead = false;
                            bool isCreditRead = false;
                            decimal AccRecDr = Model.Where(a => a.AccountTypeID == 25 && a.AccountID != 47).Sum(a => a.Balance);
                            decimal AccPayCr = Model.Where(a => a.AccountTypeID == 26).Sum(a => a.Balance);
                            decimal TotalDebit = AccRecDr < 0 ? (AccRecDr * -1) : AccRecDr;
                            decimal TotalCredit = AccPayCr < 0 ? (AccPayCr * -1) : AccPayCr;
                        }

                        @foreach (var item in Model)
                        {
                            ///// Debit Side //////
                            if (item.HeadID == 1 || item.HeadID == 3 || item.HeadID == 7)
                            {
                                if (item.AccountTypeID == 25 && item.AccountID != 47)
                                {
                                    if (isRead == false)
                                    {
                                        isRead = true;
                                        <tr>
                                            <td> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.TypeName </a> </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(AccRecDr < 0 ? (AccRecDr * -1) : AccRecDr) </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(0) </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    TotalDebit = TotalDebit + (item.Balance < 0 ? (item.Balance * -1) : item.Balance);

                                    <tr>
                                        <td> <a href="/NewAccount/GetAccountsDetails/@item.AccountID">  @item.AccountName </a> </td>
                                        <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance < 0 ? (item.Balance * -1) : item.Balance) </td>
                                        <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(0) </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                if (item.AccountTypeID == 26)
                                {
                                    if (isCreditRead == false)
                                    {
                                        isCreditRead = true;
                                        <tr>
                                            <td> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.TypeName </a> </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(0) </td>
                                            <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(AccPayCr < 0 ? (AccPayCr * -1) : AccPayCr) </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    TotalCredit = TotalCredit + (item.Balance < 0 ? (item.Balance * -1) : item.Balance);
                                    <tr>
                                        <td> <a href="/NewAccount/GetAccountsDetails/@item.AccountID"> @item.AccountName </a> </td>
                                        <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(0) </td>
                                        <td style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(item.Balance < 0 ? (item.Balance * -1) : item.Balance) </td>
                                    </tr>
                                }

                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(TotalDebit) </th>
                            <th style="text-align:right;"> @POSOman.Models.BLL.NumberFormat.Convert(TotalCredit) </th>
                        </tr>
                    </tfoot>
                </table>

                <div id="PrintHeader" hidden>
                    @Html.Partial("~/Views/PartialViews/_PrintHeader.cshtml")
                </div>
                <div id="PrintBottom" hidden>
                    @Html.Partial("~/Views/PartialViews/_PrintBottom.cshtml")
                </div>

            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}





