﻿
@model IEnumerable<POSOman.Models.GetUserSalesFilterWise_Result>


<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            <input type="hidden" id="hdntotalSales" name="hdntotalSales">
            <div class="card-body card-dashboard">
                <table id="tblSO" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                Invoice No.
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SalesDate)
                            </th>
                            <th>
                                Customer
                            </th>
                            <th>
                                Disc
                            </th>
                            <th>
                                VAT
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalAmount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPaid)
                            </th>
                            <th>
                                Balance
                            </th>
                            <th>
                                Time
                            </th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SOID)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountName)
                            </td>
                            <td>
                                @{
                                    decimal dsc = item.DiscountAmount ?? 0;
                                    <span> @dsc.ToString("#,##0.00") </span>
                                }
                            </td>
                            <td>
                                @{
                                    decimal vat = item.VAT ?? 0;
                                    <span> @vat.ToString("#,##0.00") </span>
                                }
                            </td>
                            <td>
                                @{
                                    decimal totalamount = item.TotalAmount ?? 0;
                                    <span> @totalamount.ToString("#,##0.00") </span>
                                }
                                @*@if (item.VAT > 0)
                                {
                                    @(item.TotalAmount + item.VAT);
                                }
                                else if (item.VAT == 0)
                                {
                                    @Html.DisplayFor(modelItem => item.TotalAmount)
                                }*@
                            </td>
                            <td>
                                @{
                                    decimal paidmaount = item.TotalPaid ?? 0;
                                    <span> @paidmaount.ToString("#,##0.00") </span>
                                }
                                @*@Html.DisplayFor(modelItem => item.TotalPaid)*@
                            </td>
                            <td>
                                @{
                                    decimal balance = (item.TotalAmount - item.TotalPaid) ?? 0;
                                    <span> @balance.ToString("#,##0.00") </span>
                                }
                                @*@(item.TotalAmount - item.TotalPaid)*@
                            </td>
                            <td>
                                @item.AddOn.Value.ToString("dd/MM/yyyy hh:mm tt")
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "SalesOrder", new { id = item.OrderID }, null)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                            swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
    

</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
}