﻿@model IEnumerable<POSOman.Models.GetExpensesFilterWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>ACCOUNT BALANCES</h2> <br />  
                <div class="form-row">
                    <input type="hidden" id="hdnReportID" name="hdnReportID" value="@ViewBag.ReportID">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div hidden class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>

        
        $("#btnSearch").on("click", function () {
            var reportId = $('#hdnReportID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Accounts Balance</h4>';;

            var BranchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h4 align=center>Branch:  " + Branch + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("GetAccountsBalance", "Reports")",
                    data: {
                        reportId: reportId,
                        btn: true,                    
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                        BranchID: BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);

                            $('#tblBalance').dataTable({
                                aoColumnDefs: [

                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [0], "bSortable": true },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1]
                                        }
                                    }
                                ]
                            });                            
                        }
                }});
        }
        });

    </script>

}