﻿@model POSOman.Models.DTO.BalanceSheet

@{
    ViewBag.Title = "Index";
}
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div>
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>

                </div>
            </div>
        </div>
        <div id="SearchResult">

        </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>

        $("#btnSearch").on("click", function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            if (fromDate != "" && toDate != "")
                var html = "<h3 align=center>Balance Sheet</h3><br/>";
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
                $.ajax({
                    url: "@Url.Action("BalanceSheet_Old", "Reports")",
                    data: {
                        isSearch: true,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            //$('#tblIncome').DataTable({
                            //    paging:   false,
                            //    ordering: false,
                            //    info: false,
                            //    searching:false,
                            //    dom: 'Bfrtip',
                            //    buttons: [
                            //        {
                            //            extend: 'print',
                            //            messageTop: function () {
                            //                return html;
                            //            },
                            //            messageBottom: "Developed By: MangoTech Solutions",
                            //            exportOptions: {
                            //                columns: [0, 1]
                            //            }
                            //        }
                            //    ]
                            //});
                        }
                }});

        });
    </script>

}
