﻿@model IEnumerable<POSOman.Models.GetBanksDetailFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>BANK STATEMENT</h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Bank Account</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.Bank, "Value", "Name"), "Bank Account", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <style rel="stylesheet" type="text/css">
        table {
            width: 100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>
    <script>

        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();
        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Bank Statement</h4>';;

            if (accountID > 0) {
                var bankName = $("#AccountID option:selected").text();
                html += "<h4>Bank:  " + bankName + "</h4>";
            }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("GetBankStatement", "Reports")",
                    data: {
                        btn : true,
                    accountID : $('#AccountID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate    : $('#toDate').val()},
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            showDetails();
                            var openingBalance = $("#openingBalance").val();
                            var closingBalance = $("#closingBalance").val();
                            html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                            html += "<h4>Closing Balance: " + closingBalance + "</h4>";
                            //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                            $('#tblBank').dataTable({
                                aoColumnDefs: [
                                { "aTargets": [5], "bSortable": true },
                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [0], "bSortable": true, "sType": "datetime-moment" },
                                ],
                                dom: 'Bfrtip',
                                ordering: false,
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3, 4, 5,6]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Bank Statement';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6]
                                }
                            }
                                ]
                            });
                            //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                            //    "date-uk-pre": function (a) {
                            //        var ukDatea = a.split('/');
                            //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                            //    },

                            //    "date-uk-asc": function (a, b) {
                            //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                            //    },

                            //    "date-uk-desc": function (a, b) {
                            //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                            //    }
                            //});

                        }


                }});
        }
        });

        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblBank tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 1 || cell.cellIndex === 2 || cell.cellIndex === 3) {
                    swal(cell.innerHTML.trim());
                }
            });
        }

    </script>

}