﻿@model POSOman.Models.DTO.CombinedCashSheet

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Reports</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Reports</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Cash Flow</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">

        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Branch</label>                        
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div> 
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-content collapse show">
            <div class="row">                
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    <div class="form-body">
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                
            </div>
        </div>
        <div id="SearchResult">

        </div>

    </section>

    <!-- // Striped row layout section end -->
                                </div>
                                @section scripts{
                                   
                                    <script>

                                        $("#btnSearch").on("click", function () {
                                            var fromDate = $('#fromDate').val();
                                            var toDate = $('#toDate').val();
                                            var branchID = $('#Branch').val();
                                            var Branch = $("#Branch option:selected").text();
                                            var html = " <h3 align=center>Cash Flow Statement</h3><br/>";
                                            if (branchID != "")
                                            { html += "<h4 align=center>" + Branch + "</h4><br/>"; }
                                            if (fromDate != "" && toDate != "")
                                            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

                                            {
                                                $.ajax({
                                                    url: "@Url.Action("CashFlowStatement", "Reports")",
                                                    data: {
                                                        btn: true,
                                                        BranchID : branchID,
                                                        fromDate: $('#fromDate').val(),
                                                        toDate: $('#toDate').val()
                                                    },
                                                    success: function (data) {
                                                        if (data != null) {
                                                            $("#SearchResult").html(data);
                                                            $('#tblCashFlow').DataTable({
                                                                paging: false,
                                                                ordering: false,
                                                                info: false,
                                                                searching: false,
                                                                dom: 'Bfrtip',
                                                                buttons: [
                                                                    {
                                                                        extend: 'print',
                                                                        messageTop: function () {
                                                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Cash Flow Statement</h4>';

                                                                        },
                                                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                                                        exportOptions: {
                                                                            columns: [0, 1, 2, 3]
                                                                        }
                                                                    },
                                                            {
                                                                extend: 'excel',
                                                                messageTop: function () {
                                                                    return 'Cash Flow Statement';
                                                                },
                                                                messageBottom: 'Developed By: MangoTech Solutions',
                                                                exportOptions: {
                                                                    columns: [0, 1, 2, 3]
                                                                }
                                                            }
                                                                ]
                                                            });
                                                        }
                                                    }
                                                });
                                            }
                                        });

                                    </script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
                                }