﻿@model IEnumerable<POSOman.Models.DTO.StatementDTO>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 100vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <h2>CASH STATEMENT</h2> <br />
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>

                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>


    <!-- Item Details Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Invoice Type: <text id="lbl_InvoiceType"> </text> | EntryId: <text id="lbl_JEntryID"></text></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-3">
                            <label>Total Paid Amount</label>
                            <br />
                            <input class="form-control" id="totalAmountField" type="number" readonly />
                        </div>

                        <div class="col-sm-3">
                            <label>Total Qty</label>
                            <br />
                            <input class="form-control" id="itemTotalQtyField" type="number" readonly />

                        </div>

                    </div>
                    <div>
                        <br />
                        <table id="itemDetailTB" class="table table-striped table-bordered alt-pagination">
                            <thead>
                                <tr>

                                    <th> Item </th>
                                    <th> Qty </th>
                                    <th> Price/Qty </th>
                                    <th> Total Price </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnModalClose" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>
@section scripts{


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <style rel="stylesheet" type="text/css">
        table {
            width: 100%;
            table-layout: fixed;
            overflow-wrap: break-word;
        }

        /*th,
        td {*/
        /* border: 1px solid black;*/
        /*width: 100px;*/
        /*display: inline-block;*/
        /*text-overflow: ellipsis;
            white-space: nowrap;
        }*/
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    </style>
    <script>
        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            BranchId: $('#BranchID option:selected').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Cash Statement</h4>';;
            if (accountID > 0) {
                var bankName = $("#AccountID option:selected").text();
                html += "<h4>Bank:  " + bankName + "</h4>";
            }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("CashStatement", "Reports")",
                    data: {
                        btn : true,
                    fromDate  : $('#fromDate').val(),
                    toDate    : $('#toDate').val(),
                    BranchId: $('#BranchID option:selected').val()
                    },

                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            showDetails();
                            if (fromDate == null || fromDate == "") {
                                var openingBalance = 0;
                                var closingBalance = $("#closingBalance").val();
                                html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                                html += "<h4>Closing Balance: " + closingBalance + "</h4>";

                            } else {
                                var openingBalance = $("#openingBalance").val();
                                var closingBalance = $("#closingBalance").val();
                                html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                                html += "<h4>Closing Balance: " + closingBalance + "</h4>";

                            }
                            //$.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');
                            $('#tblBank').dataTable({
                                "rowCallback": function (row, data, index) {
                                    if (index % 2 == 0) {
                                        $(row).removeClass('myodd myeven');
                                        $(row).addClass('myodd');
                                    } else {
                                        $(row).removeClass('myodd myeven');
                                        $(row).addClass('myeven');
                                    }
                                },
                                "ordering":false,
                                //aoColumnDefs: [
                                //{ "aTargets": [5], "bSortable": true },
                                //{ "aTargets": [2], "bSortable": true },
                                //{ "aTargets": [3], "bSortable": true },
                                //{ "aTargets": [4], "bSortable": true },
                                //{ "aTargets": [1], "bSortable": true },
                                //{ "aTargets": [0], "bSortable": true, "sType": "date-uk" },
                                //],
                                //"order": [[0, 'desc']],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1, 3,4, 5, 6, 7]
                                        }
                                    },
                            {
                                extend: 'excel',
                                title: '',
                                messageTop: function () {
                                    return 'Bank Statement';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                columns: [ 0,1, 3,4, 5,6,7]
                                }
                            }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                        }


                }});
        }
        });

        function showDetails() {
            console.log("inside");
            const tbody = document.querySelector('#tblBank tbody');
            tbody.addEventListener('click', function (e) {
                console.log("inside listener")
                //debugger
                const cell = e.target.closest('td');
                if (!cell) { return; } // Quit, not clicked on a cell
                const row = cell.parentElement;
                //console.log(cell.innerHTML.trim(), row.rowIndex, cell.cellIndex);
                if (cell.cellIndex === 4 || cell.cellIndex === 2 || cell.cellIndex === 3) {
                    swal(cell.innerHTML.trim());
                }
            });
        }


        $('#exampleModal').on('hidden.bs.modal', function (e) {
            console.log("modal closed");

        })


        function getItemDetails(jEntryId) {

           
            $("#totalAmountField").val(0);
            $("#itemTotalQtyField").val(0);
           
            $("#itemDetailTB tbody").empty();
            

            if (jEntryId > 0 ) {
                //console.log($('#itemDetailTB tbody tr').length)
                //$("#lbl_JEntryID").val(jEntryId);

                /////////
                var json = { "jEntryId": jEntryId};
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Reports/GetItemDetailsForStatementJenTryIDWise',
                    async: true,
                    data: JSON.stringify(json),
                    success: function (newArr) {
                        $("#lbl_JEntryID").text(jEntryId);
                        $("#lbl_InvoiceType").text(newArr.invoiceType);
                        if (newArr != null && newArr.data != null && newArr.data.length > 0 && newArr.totalQty > 0) {

                            $("#itemTotalQtyField").val(newArr.totalQty);
                            $("#totalAmountField").val(newArr.totalPrice);
                            $("#itemDetailTB tbody").empty();
                            //var table_Data = '<ol>';
                            for (var i = 0; i < newArr.data.length; i++) {
                                //table_Data += '<li>' + newArr.data[i].Name.trim() + '</li>';


                                var table_Data = '<tr><td>' + newArr.data[i].Name.trim() + '</td><td>' + newArr.data[i].Qty + '</td><td>' + newArr.data[i].CostPrice + '</td><td>' + newArr.data[i].Total + '</td></tr>';
                                console.log(table_Data);
                                $("#itemDetailTB tbody").append(table_Data);
                            }
                            //table_Data += '</ol>';
                            //$("#itemDetailTB tbody").append(table_Data);
                            //$("#testing").append(table_Data);
                            $('#exampleModal').modal('show');
                        }
                        else {
                            swal("No Invoice Found!", "No Sale/Purchase Invoices Found.", "error");
                            $('#exampleModal').modal('hide');
                            //setTimeout(function () {
                            //    $("#btnModalClose").click();
                            //}, 1000);
                        }
                    },
                    error: function (err) { console.log(err); }
                });

                ///////////

            }
            else {
                $("#lbl_itemID").val(null);
                $("#hdnItemID").val(null);

            }
        }
    </script>

}