﻿@model IEnumerable<POSOman.Models.GetChequesDateWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            @{string chqType = ViewBag.isReceived == 1 ? "Received Cheques" : ViewBag.isReceived == 2 ? "Issued Cheques" : string.Empty;}
            <div class="col-12">
                <h2> @chqType</h2> <br />
                <div class="form-row">
                    <input type="hidden" id="hdnChqType" name="hdnChqType" value="@ViewBag.isReceived">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Branch</label>
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>

                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>       
        $("#btnSearch").on("click", function () {
            var isRec = $('#hdnChqType').val();
            //console.log("isRec "+isRec);
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = "";
            if (isRec == true) {
                html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Recvd Cheques</h4>';
            }
            else {
                html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Issued Cheques</h4>';
            }
            var BranchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h4 align=center>Branch:  " + Branch + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("GetCheques", "Reports")",
                    data: {
                        isSearch: true,
                    isRec : isRec,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID: BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);                            
                            $('#tblCheques').dataTable({
                                aoColumnDefs: [                                
                                { "aTargets": [0], "bSortable": true },                                
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [5], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [3], "bSortable": true, "sType": "date-uk" },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title:'',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 1, 2, 3, 4,5,6]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6]
                                }
                            },
                            {
                                extend: 'pdf',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 6]
                                }
                            }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                        }


                }});
        }
        });

    </script>

}