﻿@model IEnumerable<POSOman.Models.GetSalesIndexFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>Customer Aging Summary </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Customer</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Sale Person</label>

                    <div class="input-group">
                        @Html.DropDownList("SPAccountID", new SelectList(ViewBag.SalePerson, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Invoice Status</label>
                    <div class="input-group">

                        @Html.DropDownList("InvoiceStatusID", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Status", Value = null },
                          new SelectListItem{ Text="Received", Value = "1"},
                          new SelectListItem{ Text="Not Received", Value = "0" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Payment Status</label>
                    <div class="input-group">

                        @Html.DropDownList("PaymentStatusDD", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Status", Value = null },
                          new SelectListItem{ Text="UnPaid", Value = "UnPaid"},
                          new SelectListItem{ Text="Paid", Value = "Paid" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Invoice Type</label>
                    <div class="input-group">

                        @Html.DropDownList("InvoiceTypeID", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Type", Value = null },
                          new SelectListItem{ Text="Jamaly", Value = "1"},
                          new SelectListItem{ Text="Jemely", Value = "2" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Tax %</label>
                    <div class="input-group">

                        @Html.DropDownList("taxPercent", new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Select Tax", Value = null },
                          new SelectListItem{ Text="18%", Value = "18.00"},
                          new SelectListItem{ Text="17%", Value = "17.00" },
                       }, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-1 mb-1">
                    <label>Range</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="range">
                    </div>
                </div>
                <div class="col-md-1 mb-1">
                    <label>Interval</label>
                    <div class="input-group">
                        <input type="number" class="form-control" id="interval">
                    </div>
                </div>
                <div hidden class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
               
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>

        $('#InvoiceStatusID').select2();
        $('#PaymentStatusDD').select2();
        $('#taxPercent').select2();

        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var SPAccountID = $('#SPAccountID').val();
            var customer_Name = $('#AccountID option:selected').text() == "Select" ? "-" : $('#AccountID option:selected').text() ||null;
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Sales List </h4>';


            if (branchID != "")
            { html += "<h4> Branch : " + Branch + " </h4>"; }
            var vendorName = $("#AccountID option:selected").text();

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("CustomerAgingReport", "Reports")",
                data: {
                    btn: true,
                    BranchID: branchID,
                    accountID: accountID,
                    InvoiceStatusID: $('#InvoiceStatusID').val(),
                    PaymentStatusDD: $('#PaymentStatusDD option:selected').text() == "Select Status" ? undefined : $('#PaymentStatusDD option:selected').text() || null,
                    InvoiceTypeID: $('#InvoiceTypeID').val()||null,
                    SPAccID: SPAccountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    range: $('#range').val(),
                    interval: $('#interval').val(),
                    taxPercent: $('#taxPercent').val()|| undefined
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    console.log("customer->" + customer_Name);
                   
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
        });

        $("#AccountID").select2();
        $("#SPAccountID").select2();
        $('#Branch').select2();
        $('#InvoiceTypeID').select2();

        ChangeInvoiceStatus = (OrderID, Status) => {


            swal({
                title: "Are you sure?",
                text: "changing invoice status!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    if (OrderID > 0 && Status >= 0) {
                        //var json = { 'OrderID': OrderID, 'Status': Status };


                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/Sales1/ChangeInvoiceStatus',
                            async: true,
                            data: JSON.stringify({ 'OrderID': OrderID, 'Status': Status }),
                            success: function (data) {
                                console.log(data);
                                if (data > 0) {
                                    $("#btnSearch").click();
                                    swal('Success', 'Status Changed Successfully', 'success');
                                }
                                else {
                                    swal('Error', 'Status Not Changed ', 'error');
                                }

                            },
                            error: function (err) { console.log(err); }
                        });
                    }
                } else {
                    swal("Cancelled", "Status not changed", "error");
                }
            })



        }

        revertPayment = (OrderID) => {


            swal({
                title: "Are you sure?",
                text: "Reverting invoice payment!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    if (OrderID > 0) {
                        //var json = { 'OrderID': OrderID, 'Status': Status };


                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            url: '/Sales1/RevertInvoicePayment',
                            async: true,
                            data: JSON.stringify({ 'OrderID': OrderID }),
                            success: function (data) {
                                console.log(data);
                                if (data > 0) {
                                    $("#btnSearch").click();
                                    swal('Payment Reverted!', 'Payment Reverted Successfully!', 'success');
                                }
                                else {
                                    swal('Error Occured!', 'Unable to revert the payment!', 'error');
                                    console.log(data);
                                }

                            },
                            error: function (err) { console.log(err); }
                        });
                    }
                } else {
                    swal("Cancelled", "Payment revertion aborted!", "error");
                }
            })



        }


    </script>

}






