﻿@model IEnumerable<POSOman.Models.GetDetailedIncomeStatement_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>INCOME STATEMENT</h2> <br />  
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Branch</label>
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div>
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>

                </div>
            </div>
        </div>
        <div id="SearchResult">

        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>

        $("#btnSearch").on("click", function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Income Statement</h4>';

            var BranchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h4 align=center>Branch:  " + Branch + "</h4>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
                $.ajax({
                    url: "@Url.Action("DetailedIncomeStatement", "Reports")",
                    data: {
                        isSearch: true,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID : $('#Branch').val()
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            $('#tblIncome').DataTable({
                                paging:   false,
                                ordering: false,
                                info: false,
                                searching:false,
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            return html;
                                        },
                                        messageBottom: "Developed By: MangoTech Solutions",
                                        exportOptions: {
                                            columns: [0, 1]
                                        }
                                    }
                                ]
                            });
                        }
                }});

        });
    </script>

}
