﻿@model IEnumerable<POSOman.Models.GetEmployeePendingFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>Employee Pendings </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>    
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Employee</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.employee, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
               
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="col-12">
                <div class="form-row">

                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>

      
        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var customer_Name = $('#AccountID option:selected').text() == "Select" ? "-" : $('#AccountID option:selected').text() ||null;
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();

            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Sales List </h4>';


            //if (branchID != "")
            //{ html += "<h4> Branch : " + Branch + " </h4>"; }
            //var vendorName = $("#AccountID option:selected").text();

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("EmployeePendingReport", "Reports")",
                data: {
                    btn: true,
                    accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    console.log("employee->" + customer_Name);

                    $("#tbl").dataTable({
                        dom: 'Bfrtip',
                        paging: false,
                        buttons: [
                            {
                                extend: 'print',
                                title: '',
                                messageTop: function () {
                                    return null;
                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                //exportOptions: {

                                //    modifier: {
                                //        // DataTables core
                                //        order: 'index', // 'current', 'applied',
                                //        //'index', 'original'
                                //        page: 'all', // 'all', 'current'
                                //        search: 'none' // 'none', 'applied', 'removed'
                                //    },

                                //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,15,16,17]
                                //}
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return null;
                                },
                                messageBottom: null,
                                //exportOptions: {
                                //    modifier: {
                                //        // DataTables core
                                //        order: 'index', // 'current', 'applied',
                                //        //'index', 'original'
                                //        page: 'all', // 'all', 'current'
                                //        search: 'none' // 'none', 'applied', 'removed'
                                //    },

                                //    columns: [0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13,14,15,16,17]
                                //}
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            //'colvis'
                        ]
                    })

                }
            });
        });
    </script>

    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
        });

        $("#AccountID").select2();

     

    </script>

}






