﻿@model IEnumerable<POSOman.Models.GetExpensesFilterWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12"><h2>EXPENSE REPORT</h2> <br />     
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Expense Account</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.Expenses, "Value", "Name"), "Select Expense", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>                                        
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>
        
        $("#AccountID").select2();
        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Expense Report</h4>';

            if (accountID > 0) {
                var expenseName = $("#AccountID option:selected").text();
                html += "<h4>Expense Account:  " + expenseName + "</h4>";
            }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            
            {
                $.ajax({
                    url: "@Url.Action("GetExpenseStatement", "Reports")",
                    data: {
                        btn: true,
                    accountID : $('#AccountID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate    : $('#toDate').val()},
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);

                            var total = parseFloat($("#totalExpenses").val()).toFixed(2);
                            html += "<h4>Total Expenses : " + total + "</h4>";
                            //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                            $('#tblExpenses').dataTable({
                                aoColumnDefs: [                                
                                { "aTargets": [2], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },                                
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [0], "bSortable": true, "sType": "datetime-moment" },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [0, 1, 2, 3,5]
                                        }
                                    }
                                ]
                            });
                            //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                            //    "date-uk-pre": function (a) {
                            //        var ukDatea = a.split('/');
                            //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                            //    },

                            //    "date-uk-asc": function (a, b) {
                            //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                            //    },

                            //    "date-uk-desc": function (a, b) {
                            //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                            //    }
                            //});
                        }
                }});
        }
        });

    </script>

}