﻿@model IEnumerable<POSOman.Models.tbl_JDetail>


@{
    ViewBag.Title = "Details";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Details Accounts </h2>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            @if (Model != null)
                            {
                                <div class="table-responsive">

                                    <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                        <thead>
                                            <tr>

                                                <th>
                                                    @Html.DisplayName("Account Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Detail)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.AddOn)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Dr)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Cr)
                                                </th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Detail)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AddOn)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Dr)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Cr)
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            }
                            else
                            {
                                <text>
                                    <script type="text/javascript">
                                        swal("No Data", "No Data Found!", "error");
                                    </script>
                                </text>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#tblPO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [3], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            ],
            "order": [[0, "desc"]],
            dom: 'frtip',
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });


    </script>
}