﻿@model IEnumerable<POSOman.Models.GetAccountIDTrialBalanceDetails_Result>
@{
    ViewBag.Title = "Details";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Details Accounts </h2>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AccountCode)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Account)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Detail)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Date)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Dr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Cr)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Balance)
                                            </th>

                                            <th></th>
                                        </tr>

                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.AccountCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Account)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Detail)
                                                </td>
                                                <td>
                                                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Dr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Cr)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Balance)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Details", "GetAccountID", new { JentryId = item.JEntryID }, null)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#tblPO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [3], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            ],"ordering":false,

            dom: 'frtip',

        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });


        


    </script>
    <script type="text/javascript">

    </script>
}