﻿@model POSOman.Models.DTO.BalanceSheet

@{
    ViewBag.Title = "Income Statement";
}


<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        @*<h2>@ViewBag.Title </h2> <br />*@
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-3">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div>
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>

                </div>
            </div>
        </div>
        @*<br />
        <input hidden type="button" id="exportHierarchicalDS" value="Export Data" />
        <br />*@
        <div id="SearchResult">

        </div>

    </section>
    <!-- // Striped row layout section end -->
</div>
@section scripts{
    <link rel="stylesheet" type="text/css">
    <style>
          table {
              border-collapse: collapse;
              width: 100%;
          }

          th, td {
              text-align: left;
              padding: 8px;
              border-bottom: 1px solid #ddd;
          }

          /*tr:hover {
            background-color: #f5f5f5;
        }*/

          .header {
              background-color: #4CAF50;
              color: white;
              font-weight: bold;
          }

          .total {
              background-color: #ddd;
              font-weight: bold;
          }
    </style>

    <link />
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script>

        $("#btnSearch").on("click", function () {
            uiBlock('Fetching Data ...');
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            if (fromDate != "" && toDate != "")
                var html = "<h3 align=center>Income Statement</h3><br/>";
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
                $.ajax({
                    url: "@Url.Action("IncomeStatement", "Reports")",
                    data: {
                        isSearch: true,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val()
                    },
                    success: function (data) {
                        uiUnBlock();
                        if (data != null) {
                            $("#SearchResult").html(data);


                        }
                }});
        });


    </script>

}
