﻿@model IEnumerable<POSOman.Models.GetProfitLossReport_Result>

@{
    ViewBag.Title = "Income Statement Report";
}
<style>
    @@media print {
        html, body {
            height: 60vh;
        }

        table {
            font-size: 12px;
        }
        /*table thead th {
            max-width: 60px;
            width: 60px;
        }*/
    }


    #SearchResult {
        width: 100%;
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>@ViewBag.Title </h2> <br />
            <div class="form-row">
                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div hidden class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2" hidden>
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchID, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="form-row">
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/PropertyFilters.js" type="text/javascript"></script>
    <script>

        $("#BrandID").select2();

        $("#btnSearch").on("click", function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var branchID = $('#BranchID').val();

            var html = '';
            if (fromDate != "" && toDate != "")
            {
                html += "<h4 style='text-align:center;'>( " + fromDate + "<span style='margin-left:3%; margin-right:3%;'> to </span>" + toDate + " )</h4>";
            }

            $.ajax({
                url: "@Url.Action("IncomeStatement_old", "Reports")",
                data: {
                    btn: true,
                    BranchID: $('#BranchID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);

                    var col = [0, 1, 3, 4, 6, 9, 10, 12]
                    GetTableData(col, 0, "asc");
                }
            });
        });
    </script>

    <script>

        function printContent(divId) {
            var content = document.getElementById(divId).innerHTML;
            var mywindow = window.open('', 'Print', 'height=600,width=800');

            mywindow.document.write('<html><head><title>Print</title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(content);
            mywindow.document.write('</body></html>');

            mywindow.document.close();
            mywindow.focus()
            mywindow.print();
            mywindow.close();
            return true;
        }
    </script>

}


