﻿@model IEnumerable<POSOman.Models.GetCustomerSalesDateWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>CUSTOMER SALES</h2> <br />
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                        <label>Code</label>
                        <br>
                        @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Phone</label>
                        <br>
                        @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-1">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>


    <script>
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();
        $("#btnSearch").on("click", function () {
            var BranchID = $('#Branch').val();
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center"Mangotech</h1><h5 align="center">24-C Khayaban-e-Nishat,DHA Ph-6,Karachi</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Net Sales Report</h4>';;
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h3>Branch:  " + Branch + "</h3></br>"; }
            var vendorName = $("#AccountID option:selected").text();
            var customerCode = $("#CustomerCode option:selected").text();
            if (accountID > 0)
            { html += "<h3>Customer :  " + customerCode + " | " + vendorName + "</h3></br>"; }
            if (fromDate != "" && toDate != "")
            { html += "<h3>From:    " + fromDate + "            TO:    " + toDate + " </h3></br>"; }
            {
                $.ajax({
                    url: "@Url.Action("NetSales", "Reports")",
                    data: {
                        isSearch:true,
                        accountID: accountID,
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID : BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            var totalSales = $("#totalSales").val();
                            var totalReturn = $("#totalReturn").val();
                            var netSales = $("#netSales").val();
                            html += "<h3>Total Sales: " + totalSales + "</h3>";
                            html += "<h3 style = margin-left: 30px;>Total Return: " + totalReturn + "</h3>";
                            html += "<h3 style = margin-left: 30px;>Net Sales: " + netSales + "</h3>";
                            //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                            $('#tblSO').dataTable({
                                aoColumnDefs: [
                                    { "aTargets": [6], "bSortable": true },
                                { "aTargets": [5], "bSortable": true },
                                { "aTargets": [0], "bSortable": true },
                                { "aTargets": [3], "bSortable": true },
                                { "aTargets": [4], "bSortable": true },
                                { "aTargets": [1], "bSortable": true },
                                { "aTargets": [2], "bSortable": true, "sType": "datetime-moment" },
                                ],
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            //var totalSales = $('#totalLoss').val();
                                            //var totalReturn = $('#totalLoss').val();
                                            //var netTotal = $('#totalLoss').val();
                                            
                                            //html += "<h4>Total Loss: " + totalLoss + "</h4><br/>";
                                            //html += "<h4>Net Total: " + NetTotal + "</h4><br/>";                                            
                                            return html;
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 1, 2,3,4,5]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'NET Sales Report';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                    columns: [ 1, 2,3,4, 5]
                                }
                            }
                                ]
                            });
                            //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                            //    "date-uk-pre": function (a) {
                            //        var ukDatea = a.split('/');
                            //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                            //    },

                            //    "date-uk-asc": function (a, b) {
                            //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                            //    },

                            //    "date-uk-desc": function (a, b) {
                            //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                            //    }
                            //});
                        }
                        //else {
                        //    swal("Try Again", "No Data Found!", "error");
                        //}

                }});
        }
        });

    </script>

}
