﻿@model POSOman.Models.DTO.BalanceSheet

@{
    ViewBag.Title = "Index";
}
<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Reports</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="~/Home">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Reports</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a href="#">Balance Sheet</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="col-12">
            <div class="form-row">
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="btnDaily" onclick="location.href='@Url.Action("DailyBalanceSheet", "Reports")'"><i class="fa fa-check-square-o"></i>Daily Balance Sheet</button>
                    </div> 
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <div class="input-group">
                        <button type="button" class="btn btn-success" id="btnMonthly" onclick="location.href='@Url.Action("YearlyBalanceSheet", "Reports")'"><i class="fa fa-check-square-o"></i>Monthly Balance Sheet</button>
                    </div>
                    </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <div class="input-group">
                        <button type="button" class="btn btn-secondary" id="btnYearly" onclick="location.href='@Url.Action("MonthlyBalanceSheet", "Reports")'"><i class="fa fa-check-square-o"></i>Yearly Balance Sheet</button>
                    </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-content collpase show">
                                <div class="card-body">
                                    <div class="form-body">
                                        <h4 class="form-section"><i class="ft-align-center"></i>Balance Info</h4>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Cash Sales</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.CashSales</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Previous Sales Payments</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.SalesReceiving</strong></label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Total Cash in Hand</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.TotalCash</strong></label>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">General Expense</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.GeneralExpenses</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Custom Bills</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.CustomBills</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Fuel Expenses</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.FuelExpenses</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Govt. Bills</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.GovtBills</strong></label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Utitlity Bills</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.UtilityBills</strong></label>
                                            </div>
                                        </div>
                                        @*<div class="form-group row">
                                            <label class="col-md-3 label-control">Special Discount</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.Discount</strong></label>
                                            </div>
                                        </div>*@
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Total Expenses</label>
                                            <div class="col-md-9">
                                                <label class="badge badge-pill badge-info"><strong>@Model.TotalExpenses</strong></label>
                                            </div>
                                        </div>
                                        <hr />
                                        @*<div class="form-group row">
                                                    <label class = "col-md-3 label-control" >Short or Excess</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class = "form-control" id="excessAmount" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control">Amount To Be Deposited</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="depositAmount" />
                                                    </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- // Striped row layout section end -->
</div>
     
@*<div class="content-body" id="content">
        <!-- DOM - jQuery events table -->
        <section id="dom">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.CashSales</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Cash</span>
                                            <span class="blue-grey darken-1 block">Sales</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.SalesReceiving</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Previous</span>
                                            <span class="blue-grey darken-1 block">Sales Payments</span>
                                        </div>
                                    </div>
                                   <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">693</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Utility</span>
                                            <span class="blue-grey darken-1 block"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">946</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">New</span>
                                            <span class="blue-grey darken-1 block">Visitors</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.GeneralExpenses</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">General</span>
                                            <span class="blue-grey darken-1 block">Expenses</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.UtilityBills</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Utility</span>
                                            <span class="blue-grey darken-1 block">Bills</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.GovtBills</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Govt</span>
                                            <span class="blue-grey darken-1 block">Bills</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.CustomBills</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Custom</span>
                                            <span class="blue-grey darken-1 block">Bills</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.FuelExpenses</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Fuel</span>
                                            <span class="blue-grey darken-1 block">Expenses</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.Discount</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Discounts</span>
                                            <span class="blue-grey darken-1 block"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12 border-right-blue-grey border-right-lighten-3">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.TotalCash</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Total</span>
                                            <span class="blue-grey darken-1 block">Cash</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-12">
                                        <div class="float-left pl-2">
                                            <span class="font-large-3 text-bold-300">@Model.TotalExpenses</span>
                                        </div>
                                        <div class="float-left mt-2 ml-1">
                                            <span class="blue-grey darken-1 block">Total</span>
                                            <span class="blue-grey darken-1 block">Expenses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </section>
    </div>*@