﻿@using ReportViewerForMvc;

@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>


@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

@section scripts{
    <script>
$(document).ready(function () {
            $('#Print').click(function () {
            window.open("../Report/RecieptPrint");
        });
});
</script>
    }