﻿@model IEnumerable<POSOman.Models.GetPOSCashDetailFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 100vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#btnSearch").on("click", function () {
            var accountID = $('#AccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            BranchId: $('#Branch option:selected').val();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Cash Statement </h4>';

            if (accountID > 0) {
                var bankName = $("#AccountID option:selected").text();
                html += "<h4>Bank:  " + bankName + "</h4>";
            }
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }

            {
                $.ajax({
                    url: "@Url.Action("POSCashStatement", "Reports")",
                    data: {
                        btn : true,
                    fromDate  : $('#fromDate').val(),
                    toDate    : $('#toDate').val(),
                    BranchID: $('#Branch option:selected').val()
                    },

                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            if (fromDate == null || fromDate == "") {
                                var openingBalance = 0;
                                var closingBalance = $("#closingBalance").val();
                                html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                                html += "<h4>Closing Balance: " + closingBalance + "</h4>";

                            } else {
                                var openingBalance = $("#openingBalance").val();
                                var closingBalance = $("#closingBalance").val();
                                html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                                html += "<h4>Closing Balance: " + closingBalance + "</h4>";

                            }
                            //$.fn.dataTable.moment('DD/MM/YYYY HH:mm:ss');
                            $('#tblBank').dataTable({
                                "ordering":false,
                                
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        title: '',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return html;
                                            //}
                                            //else {
                                            //    return 'You have printed this document '+printCounter+' times';
                                            //}
                                        },
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 0,1, 2, 3, 4, 5]
                                        }
                                    },
                            {
                                extend: 'excel',
                                title: '',
                                messageTop: function () {
                                    return 'Bank Statement';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                columns: [ 0,1, 2, 3, 4, 5]
                                }
                            }
                                ]
                            });
                            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                                "date-uk-pre": function (a) {
                                    var ukDatea = a.split('/');
                                    return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                                },

                                "date-uk-asc": function (a, b) {
                                    return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                                },

                                "date-uk-desc": function (a, b) {
                                    return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                                }
                            });

                        }


                }});
        }
        });

    </script>

}