﻿@model IEnumerable<POSOman.Models.GetProductPurchaseFilterWise_Result>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12"><h2>PRODUCT PURCHASES</h2> <br />     
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Vendor</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="col-md-2 mb-2" hidden>
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })

                    </div>
                </div>    
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Category</label>
                    <div class="input-group">
                        @Html.DropDownList("VehicleCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Product</label>
                    <div class="input-group">
                        <input class="form-control" id="partNo" placeholder="Product" />
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label></label>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                    </div>
                </div>
            </div>
            <div class="col-12">
              
                <div class="form-row">

                    @*<div class="col-md-4 mb-3">
                        <label>Part No.</label>
                        <div class="input-group">
                            @Html.DropDownList("PartNo", new SelectList(ViewBag.PartNo, "Value", "Name"), "Part No", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>*@
                   
                </div>
                <div class="row">
                    
                </div>
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    @*<script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>*@
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#btnSearch").on("click", function () {            
            var accountID = $('#hdnAccountID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var partNo = $('#partNo').val();
            var vehicleCode = $('#VehicleCode').val();
            var vehCode = $("#VehicleCode option:selected").text();
            var groupID = $('#Group').val();
            var Group = $("#Group option:selected").text();
            var modelID = $('#Model').val();
            var Model = $("#Model option:selected").text();
            var Description = $('#description').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Product Purchase Report </h4>';
            //if (branchID != "")
            //{ html += "<h4> Branch : " + Branch + " </h4>"; }
            //var vendorName = $("#AccountID option:selected").text();
            //if (accountID > 0)
            //{ html += "<h4>Vendor :  " + vendorName + "</h4>"; }
            //if (vehicleCode != "")
            //{ html += "<h4> Veh Code : " + vehCode + " </h4>"; }
            //if (groupID != "")
            //{ html += "<h4> Group : " + Group + " </h4>"; }
            //if (modelID != "")
            //{ html += "<h4> Model : " + Model + " </h4>"; }
            //if (partNo == "" || typeof partNo === 'undefined')
            //    partNo = null;
            //else
            //{ html += "<h4> Part No. : " + partNo + " </h4>"; }
            //if (Description == "")
            //    Description = null;
            //else
            //{ html += "<h4> Description : " + Description + " </h4>"; }
            //if (fromDate != "" && toDate != "")
            //{ html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("GetProductPurchaseFilterWise", "Reports")",
                data: {
                    btn: true,
                    PartNo: partNo,
                    VehicleCodeID: vehicleCode,
                    GroupID: groupID,
                    ModelID: modelID,
                    BranchID: branchID,
                    Description: Description,
                    accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    var totalPurchase = $("#totalPurchase").val();
                    var totalReturn = $("#totalReturn").val();
                    html += "<h4>Total Purchases: " + totalPurchase + "</h4>";
                    //html += "<h4>Total Return: " + totalReturn + "</h4>";
                    $('#tblProducts').dataTable({
                        aoColumnDefs: [
                        { "aTargets": [5], "bSortable": true },
                        { "aTargets": [6], "bSortable": true },                        
                        { "aTargets": [0], "bSortable": true },
                        { "aTargets": [3], "bSortable": true },
                        { "aTargets": [4], "bSortable": true },
                        { "aTargets": [2], "bSortable": true },
                        { "aTargets": [1], "bSortable": true, "sType": "date-uk" },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    return html;
                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [ 1, 2, 3, 4, 5, 6,8]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Product Purchase Report';
                                },
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                    columns: [ 1, 2, 3, 4, 5, 6, 8]
                                }
                            }
                        ]
                    });
                    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                        "date-uk-pre": function (a) {
                            var ukDatea = a.split('/');
                            return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                        },

                        "date-uk-asc": function (a, b) {
                            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                        },

                        "date-uk-desc": function (a, b) {
                            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                        }
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $("#AccountID").change(function () {
            var vendorAccID = $('#AccountID').val();
            $('#hdnAccountID').val(vendorAccID);
        });
        
        $("#AccountID").select2();        

    $('#VehicleCode').select2();
    $('#Group').select2();
    $('#Model').select2();
    $('#Branch').select2();
    $('#tblProducts').DataTable();
    </script>

}


