﻿@model IEnumerable<POSOman.Models.GetProductLedgerDetail_Result>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">

        <div class="card">

            <div class="card-content collapse show">
                <div class="card-body card-dashboard">
                    <div class="table-responsive">
                        @if (Model != null)
                        {
                            <table id="tblStockLog" class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvoiceDate)
                                        </th>
                                        <th>
                                            InvoiceNo
                                        </th>
                                        <th>
                                            Product
                                        </th>
                                        <th>
                                            Qty
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnitCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CostPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SalePrice)
                                        </th>
                                        <th>
                                            TotalCost
                                        </th>
                                        <th>
                                            TotalSale
                                        </th>
                                        <th>
                                            Profit/Loss
                                        </th>
                                        <th>
                                            Order Type
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @item.InvoiceDate))
                                            </td>
                                            @if (item.OrderTypeID == 4)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SalesReturnID)
                                                </td>
                                            }
                                            @if (item.OrderTypeID == 3)
                                            {
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SOID)
                                                </td>
                                            }
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Product  )
                                            </td>
                                            @if (item.OrderTypeID == 4)
                                            {
                                                <td>
                                                    @if (item.UnitID == 0 && (item.LevelID == 1))
                                                    {
                                                        @(Convert.ToDecimal(item.Returned / item.UnitPerCarton))
                                                    }
                                                    else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                    {
                                                        @(Convert.ToDecimal(item.Returned / Convert.ToDecimal(item.UnitPerCarton) / 1000))
                                                    }
                                                    else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                    {
                                                        @(Convert.ToDecimal(item.Returned) / Convert.ToDecimal(1000))
                                                    }
                                                    else
                                                    {
                                                        @(Convert.ToInt32(item.Returned))
                                                    }
                                                </td>
                                            }

                                            @if (item.OrderTypeID == 3)
                                            {
                                                <td>
                                                    @*@Html.DisplayFor(modelItem => item.StockOut)*@
                                                    @if (item.UnitID == 0 && (item.LevelID == 1))
                                                    {
                                                        @(Convert.ToDecimal(item.Sold / item.UnitPerCarton))
                                                    }
                                                    else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                    {
                                                        @(Convert.ToDecimal(item.Sold / Convert.ToDecimal(item.UnitPerCarton) / 1000))
                                                    }
                                                    else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                    {
                                                        @(Convert.ToDecimal(item.Sold) / Convert.ToDecimal(1000))
                                                    }
                                                    else
                                                    {
                                                        @(Convert.ToInt32(item.Sold))
                                                    }
                                                </td>
                                            }

                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitCode)
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.CostPrice)*@
                                                @if (item.UnitID == 0 && (item.LevelID == 1))
                                                {
                                                    @((Convert.ToDecimal(item.CostPrice) * Convert.ToDecimal(1)).ToString("0.00"))
                                                }
                                                else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @((Convert.ToDecimal(item.CostPrice) * Convert.ToDecimal(item.UnitPerCarton) * Convert.ToDecimal(1000)).ToString("0.00"))
                                                }
                                                else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @((Convert.ToDecimal(item.CostPrice) * Convert.ToDecimal(1) * Convert.ToDecimal(1000)).ToString("0.00"))
                                                }
                                                else
                                                {
                                                    @((item.CostPrice).ToString("0.00"))
                                                }
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.SalePrice)*@
                                                @if (item.UnitID == 0 && (item.LevelID == 1))
                                                {
                                                    @((Convert.ToDecimal(item.SalePrice) * Convert.ToDecimal(1)).ToString("0.00"))
                                                }
                                                else if (item.UnitID == 0 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @((Convert.ToDecimal(item.SalePrice) * Convert.ToDecimal(item.UnitPerCarton) * Convert.ToDecimal(1000)).ToString("0.00"))
                                                }
                                                else if (item.UnitID == 1 && (item.LevelID == 2 || item.LevelID == 3))
                                                {
                                                    @((Convert.ToDecimal(item.SalePrice) * Convert.ToDecimal(1) * Convert.ToDecimal(1000)).ToString("0.00"))
                                                }
                                                else
                                                {
                                                    @((item.SalePrice).ToString("0.00"))
                                                }
                                            </td>
                                            @if (item.OrderTypeID == 3)
                                            {
                                                <td>
                                                    @((item.Sold * item.CostPrice).ToString("0.00"))
                                                </td>
                                                <td>
                                                    @((item.Sold * item.SalePrice).ToString("0.00"))
                                                </td>
                                                <td>
                                                    @(((item.Sold * item.SalePrice) - (item.Sold * item.CostPrice)).ToString("0.00"))
                                                </td>
                                            }
                                            else if (item.OrderTypeID == 4)
                                            {
                                                <td>
                                                    @((item.Returned * item.CostPrice).ToString("0.00"))
                                                </td>
                                                <td>
                                                    @((item.Returned * item.SalePrice).ToString("0.00"))
                                                </td>
                                                <td>
                                                    @(((item.Returned * item.SalePrice) - (item.Returned * item.CostPrice)).ToString("0.00"))
                                                </td>
                                            }

                                           @if (item.OrderTypeID == 3)
                                                {
                                                    <td>
                                                        Sales
                                                    </td>
                                                }
                                                else if (item.OrderTypeID == 4)
                                                {
                                                    <td>
                                                        Returned
                                                    </td>
                                                }
                                           

                                        </tr>
                                                }
                                </tbody>
                            </table>
                                                }
                       
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblStockLog').DataTable();
    </script>

}
