﻿@model IEnumerable<POSOman.Models.GetProductLedgerFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>Product Profit/Loss</h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Item</label>
                    <div class="input-group">
                        <input class="form-control" id="partNo" placeholder="Item" />
                    </div>
                </div>
                <div class="col-md-2 mb-2">
                    <label>Select Item</label>
                    <div class="input-group">
                        @Html.DropDownList("PartNo", new SelectList(ViewBag.PartNo, "Value", "Name"), "Select Item", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="col-md-1">
                    <label>Total Profit :</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="readonly" id="totalProfit">
                    </div>
                </div>
                <div class="col-md-1">
                    <label>Total Loss:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="readonly" id="totalLoss">
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2">
                    <label></label>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                    </div>
                </div>
               
            </div>
            <div class="col-12">               
                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{
    @*<script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>*@
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#btnSearch").on("click", function () {
            
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var partNo = $('#partNo').val();
            var productID = $('#PartNo').val();
            var html = "<img src="@ViewBag.Picture" class='brand-logo' align = 'left' margin='20px'><h1 align='center'>Mangotech</h1><h5 align='center'>PLOT # Q-312, SECTOR 33/A KORANGI # 2, KARACHI</h5><h5 align='center'>Tel:02136688555 Cell:03001234567</h5><hr /><h3 align=center>Item Report</h3><br/>";
           
           
            if (partNo == "" || typeof partNo === 'undefined')
                partNo = null;
            else
            { html += "<h4> Part No. : " + partNo + " </h4>"; }
            
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("GetProductReport", "Reports")",
                data: {
                    btn: true,
                    PartNo: partNo,
                    ProductID: productID,                   
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                    $('#tblProducts').dataTable({
                        footerCallback: function (row, data, start, end, display) {
                            var api = this.api(), data;
                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            // Total over all pages
                            totalProfit = api
                                .column(2)
                                .data()
                                .reduce(function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0);
                            totalLoss = api
                               .column(3)
                               .data()
                               .reduce(function (a, b) {
                                   return intVal(a) + intVal(b);
                               }, 0);
                            $('#totalProfit').val(parseFloat(totalProfit).toFixed(2));
                            
                            $('#totalLoss').val(parseFloat(totalLoss).toFixed(2));
                            
                            
                        },
                        aoColumnDefs: [
                       
                        { "aTargets": [0], "bSortable": true },
                        
                        { "aTargets": [2], "bSortable": true },
                        { "aTargets": [1], "bSortable": true }
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    var totalProfit = $('#totalProfit').val();
                                    var totalLoss = $('#totalLoss').val();
                                    var NetTotal = parseFloat(totalProfit - totalLoss).toFixed(2);
                                    var html1 = "<h4>Total Profit: " + totalProfit + "</h4><br/>";                                    
                                    html1 += "<h4>Total Loss: " + totalLoss + "</h4><br/>";
                                    html1 += "<h4>Net Total: " + NetTotal + "</h4><br/>";
                                    html += html1;
                                    return html;
                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [ 0,1, 2,3,4]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [ 0,1, 2,3,4]
                                }
                            },
                            {
                                extend: 'pdf',
                                messageTop: function () {
                                    return 'Product Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0,1, 2,3,4]
                                }
                            }

                        ]
                    });
                    
                }
            });
        });
    </script>
    <script type="text/javascript">
       
    $('#PartNo').select2();
    $('#tblProducts').DataTable();
    </script>

}


