﻿@model IEnumerable<POSOman.Models.GetProfitLossReportItemWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <h2>PROFIT LOSS REPORT SALEPERSON WISE </h2> <br />
                <div class="form-row">


                    <div class="col-md-2 mb-3">
                        <label>Item</label>
                        <div class="input-group">
                            @Html.DropDownList("ItemID", new SelectList(ViewBag.Item, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>

                   
                    <div class="col-md-2 mb-3">
                        <label>Department</label>
                        <div class="input-group">
                            @Html.DropDownList("DeptID", new SelectList(ViewBag.Department, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div> 
                    <div class="col-md-2 mb-3">
                        <label>SalePerson</label>
                        <div class="input-group">
                            @Html.DropDownList("SPAccountID", new SelectList(ViewBag.SalePerson, "Value", "Name"), "All", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Order #</label>
                        <div class="input-group">
                            <input class="form-control" id="OrderNumber" placeholder="Order #" />
                        </div>
                    </div>

                    <div class="form-group mb-1 col-sm-8 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-8 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                        </div>
                    </div>


                </div>

                <div id="SearchResult">
                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <script src="~/Scripts/customScripts/helper.js" type="text/javascript"></script>
    <script>

        $("#ItemID").select2();
        $("#DeptID").select2();
        $("#SPAccountID").select2();

    $("#btnSearch").on("click", function () {
        uiBlock();
         var ItemID = $('#ItemID').val();
        var SPAccountID = $('#SPAccountID').val();
        var DeptID = $('#DeptID').val();
        var OrderID = $('#OrderNumber').val()||null;
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();

        var html = "<h3 align=center>Profit Loss Report</h3><br/>";
        //var date = new Date();
        //var day = date.getDate(); //Date of the month: 2 in our example
        //var month = date.getMonth() + 1; //Month of the Year: 0-based index, so 1 in our example
        //var year = date.getFullYear()
       // html += "<h3 align=center>As On:  " + year + '/' + month + '/' + day + "</h4>";

 $.ajax({
            url: "@Url.Action("ProfitLossReportSalePersonWise", "Reports")",
            data: {
                btn: true,
                ItemID: ItemID,
                SPAccountID: SPAccountID,
                OrderID: OrderID,
                DeptID: DeptID,
                fromDate: fromDate,
                toDate: toDate
            },
            success: function (data) {
                uiUnBlock();
                    $("#SearchResult").html(data);
                    $('#tblStock').dataTable({
                        //footerCallback: function (row, data, start, end, display) {
                        //    var api = this.api(), data;
                        //    // Remove the formatting to get integer data for summation
                        //    var intVal = function (i) {
                        //        return typeof i === 'string' ?
                        //            i.replace(/[\$,]/g, '') * 1 :
                        //            typeof i === 'number' ?
                        //            i : 0;
                        //    };
                        //    totalCost = api
                        //        .column(12)
                        //        .data()
                        //        .reduce(function (a, b) {
                        //            return intVal(a) + intVal(b);
                        //        }, 0);
                        //    totalPrice = api
                        //       .column(13)
                        //       .data()
                        //       .reduce(function (a, b) {
                        //           return intVal(a) + intVal(b);
                        //       }, 0);
                        //    $('#StockCost').val(parseFloat(totalCost).toFixed(2));
                        //    $('#StockSale').val(parseFloat(totalPrice).toFixed(2));
                        //},
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    var total = $("#totalBalance").val() || 0;
                                  

                                    var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">Profit Loss Report</h4>';
                                    html += "<h4>Total : " + total + "</h4>";
                                    //  html += "<br/><h5>Total Purchase Cost:" + StockCost+"</h5>";
                                  //  html += "<h5>Total Sale Cost:" + StockSale+"</h5><br/>";
                                    return html;

                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6,7]
                                }
                            },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'Profit Loss Report';
                                },
                                messageBottom: null,
                                exportOptions: {
                                    columns: [0, 1, 2, 3,4,5,6,7]
                                }
                            }
                        ]
                    });

                }
        });
        //}

    });
    </script>

    <script src="~/Scripts/customScripts/ddlProductPagination.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/productFilter.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

}
