﻿@model IEnumerable<POSOman.Models.GetShareHolderTransDateWise_Result>

@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>From Date</label>
                        <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>To Date</label>
                        <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label>Customer</label>
                        <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                        <div class="input-group">
                            @Html.DropDownList("ShareHolderID", new SelectList(ViewBag.ShareHolder, "Value", "Name"), "Select ", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-1" hidden>
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="form-group mb-1 col-sm-12 col-md-2">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-primary" id="btnSearch">Search</button>
                    </div>
                </div>


                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>

    <script>
        $("#ShareHolderID").change(function () {
            var accountID = $('#ShareHolderID').val();
            $('#hdnAccountID').val(accountID);           
        });
       
        $("#ShareHolderID").select2();
        $("#btnSearch").on("click", function () {
            var accountID = $('#ShareHolderID').val();
            var BranchID = $('#Branch').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            //var html = "<h3 style=margin-top:208px; margin-bottom:76px; align=center >Customer Statement</h3><br/>";
            var html = "<h3 style=align=center>Customer Statement</h3><br/>";
            var Branch = $("#Branch option:selected").text();
            if (BranchID != "")
            { html += "<h4>Branch:  " + Branch + "</h4>"; }
            var personName = $("#ShareHolderID option:selected").text();
            html += "<h4>Person:  " + personName + "</h4>";
            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            if (accountID == 0)
            {
                swal("Select","Please Select Person!","error");
            }
            else if (accountID > 0 )
            {
                $.ajax({
                    url: "@Url.Action("ShareHolderStatement", "Reports")",
                    data: {
                        accountID: $('#ShareHolderID').val(),
                    fromDate  : $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    BranchID : BranchID
                    },
                    success: function (data) {
                        if (data != null) {
                            $("#SearchResult").html(data);
                            var openingBalance = $("#openingBalance").val();
                            var closingBalance = $("#closingBalance").val();
                            html += "<h4>Opening Balance: " + openingBalance + "</h4>";
                            html += "<h4>Closing Balance: " + closingBalance + "</h4>";
                            
                            $('#tbl').dataTable({
                                dom: 'Bfrtip',
                                ordering:false,
                                buttons: [
                                    {
                                        extend: 'print',
                                        messageTop: function () {
                                            //if ( printCounter === 1 ) {
                                            return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1 align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress</h5><h5 align="center">@ViewBag.CompanyLandline</h5><hr /><h4 align="center">ShareHolder Statement</h4>';

                                        },
                                        title: '',
                                        messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                        exportOptions: {
                                            columns: [ 1, 2, 3, 4,5]
                                        }
                                    },
                            {
                                extend: 'excel',
                                messageTop: function () {
                                    return 'ShareHolder Statement';
                                },
                                title: '',
                                messageBottom: 'Developed By: MangoTech Solutions',
                                exportOptions: {
                                    columns: [ 1, 2, 3, 4,5]
                                }
                            }

                                ]
                            });
                        }
                }});
        }
        });

    </script>

}