﻿@model IEnumerable<POSOman.Models.GetStockReportFilterWise_Result>

@{
    ViewBag.Title = "Index";
}
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="form-row">
                    <div class="col-md-2 mb-3">
                        <label>Vehicle Code</label>
                        <div class="input-group">
                            @Html.DropDownList("VehicleCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Vehicle Code", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Group</label>
                        <div class="input-group">
                            @Html.DropDownList("Group", new SelectList(ViewBag.Group, "Value", "Name"), "Group", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Model</label>
                        <div class="input-group">
                            @Html.DropDownList("Model", new SelectList(ViewBag.Model, "Value", "Name"), "Model", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Part No.</label>
                        <div class="input-group">
                            <input class="form-control" id="partNO" placeholder="Part No." />
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Description</label>
                        <div class="input-group">
                            <input class="form-control" id="description" placeholder="Description" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label>Part No.</label>
                        <div class="input-group">
                            @Html.DropDownList("PartNo", new SelectList(ViewBag.PartNo, "Value", "Name"), "Part No", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label>Substitute No.</label>
                        <div class="input-group">
                            <input class="form-control" id="substituteNo" placeholder="Substitute No." />
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label>Branch</label>
                        <div class="input-group">
                            @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label></label>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                        </div>
                    </div>

                </div>

                <div id="SearchResult">

                </div>
            </div>
        </div>

    </section>
</div>
@section scripts{    
    <script>
    $("#btnSearch").on("click", function () {
        var productID    = $('#PartNo').val();
        var vehicleCode  = $('#VehicleCode').val();
        var groupID      = $('#Group').val();
        var modelID      = $('#Model').val();
        var substituteNo = $('#substituteNo').val();
        var Description = $('#description').val();
        var partNo = $('#partNO').val();
        var branchID     = $('#Branch').val();
        if (partNo == "")
            partNo = null;
        if (substituteNo == "")
            substituteNo = null;
        if (Description == "")
            Description = null;
        $.ajax({
            url: "@Url.Action("getStockReport", "Reports")",
            data: {
                btn: true,
                ProductID : productID,
                VehicleCodeID : vehicleCode,
                GroupID : groupID,
                ModelID : modelID,
                BranchID : branchID,
                SubstituteNo: substituteNo,
                PartNo: partNo,
                Description: Description
            },
                success: function(data) {
                    $("#SearchResult").html(data);
                    $('#tblStock').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5, 6, 7,8]
                                }
                            }
                        ]
                    });
                }
        });
    });
    </script>
    <script type="text/javascript">
    $('#PartNo').select2();
    $('#VehicleCode').select2();
    $('#Group').select2();
    $('#Model').select2();
    $('#Branch').select2();
    $('#tblStock').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'print',
                exportOptions: {
                    columns: [0, 1, 2, 3, 4, 5,6,7]
                }
            }
        ]
    });
    </script>

}
