﻿@model IEnumerable<POSOman.Models.GetTrialBalance_Result>

@{
    ViewBag.Title = "Trial Balance";
}
<style>
    @@media print {
        html, body {
            height: 60vh;
        }

        table {
            font-size: 12px;
        }
        /*table thead th {
            max-width: 60px;
            width: 60px;
        }*/
    }


    #SearchResult {
        width: 100%;
    }
</style>

<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>@ViewBag.Title </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("BranchID", new SelectList(ViewBag.BranchID, "Value", "Name"), "Select", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
            <div class="form-row">
                <div id="SearchResult">

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script src="~/Scripts/PropertyFilters.js" type="text/javascript"></script>
    <script>

        $("#BrandID").select2();
        $("#BranchID").select2();

        $("#btnSearch").on("click", function () {
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var branchID = $('#BranchID').val();

            var html = '';
            if (fromDate != "" && toDate != "")
            {
                html += "<h4 style='text-align:center;'>( " + fromDate + "<span style='margin-left:3%; margin-right:3%;'> to </span>" + toDate + " )</h4>";
            }

            $.ajax({
                url: "@Url.Action("TrialBalance", "Reports")",
                data: {
                    btn: true,
                    BranchID: $('#BranchID').val(),
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val()
                },
                success: function (data) {
                    $("#SearchResult").html(data);


                    var col = [0, 1, 2]
                    $('#tblTrial').dataTable({
                        "ordering": false,
                        "searching": false,
                        "paging": false,
                        "info": false,
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                footer: true,
                                title: '',
                                messageTop: function () {
                                    return $("#PrintHeader").html();
                                },
                                messageBottom: $("#PrintBottom").html(),
                                exportOptions: {
                                    columns: col
                                }
                            }
                        ]
                    }); 
                }
            });
        });
    </script>


}


