﻿@model IEnumerable<POSOman.Models.GetUserSalesFilterWise_Result>
@{
    ViewBag.Title = "Index";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body" id="content">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="col-12">
            <h2>User Sales </h2> <br />
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Date</label>
                    <input id="fromDate" type="date" class="form-control pickadate" placeholder="From Date" />

                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Date</label>
                    <input id="toDate" type="date" class="form-control pickadate" placeholder="To Date" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>From Time</label>
                    <input id="fromTime" type="time" class="form-control" />
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>To Time</label>
                    <input id="toTime" type="time" class="form-control" />
                </div>
              
                <div class="col-md-2 mb-2">
                    <label>Branch</label>
                    <div class="input-group">
                        @Html.DropDownList("Branch", new SelectList(ViewBag.Branch, "Value", "Name"), "Branch", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                
               
            </div>
            <div class="form-row">
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label>Customer</label>
                    <input type="hidden" id="hdnAccountID" name="hdnAccountID">
                    <div class="input-group">
                        @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "select2 form-control" })
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                    <label>Code</label>
                    <br>
                    @Html.DropDownList("CustomerCode", new SelectList(ViewBag.customerCode, "Value", "Name"), "Select Code", htmlAttributes: new { @class = "select2 form-control" })
                </div>
                <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                    <label>Phone</label>
                    <br>
                    @Html.DropDownList("CustomerPhone", new SelectList(ViewBag.customerPhone, "Value", "Name"), "Select Phone", htmlAttributes: new { @class = "select2 form-control" })
                </div>
                <div class="col-md-2 mb-2">
                    <label>User</label>
                    <br>
                    @Html.DropDownList("UserID", new SelectList(ViewBag.Users, "Value", "Name"), "Select User", htmlAttributes: new { @class = "select2 form-control" })

                </div>
                <div class="col-md-2 mb-2">
                    <label>Total :</label>
                    <div class="input-group">
                        <input type="text" class="form-control" readonly="readonly" id="totalSales">
                    </div>
                </div>
                <div class="form-group mb-1 col-sm-8 col-md-2">
                    <label> </label>
                    <br>
                    <button type="button" class="btn btn-primary" id="btnSearch"><i class="fa fa-check-square-o"></i>Search</button>
                </div>
            </div>
                <div class="col-12">

                    <div id="SearchResult">

                    </div>
                </div>
            </div>

    </section>
</div>
@section scripts{
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <script>
        $("#btnSearch").on("click", function () {
            var accountID = $('#hdnAccountID').val();
            var userID = $('#UserID').val();
            var fromDate = $('#fromDate').val();
            var toDate = $('#toDate').val();
            var fromTime = $('#fromTime').val();
            var toTime = $('#toTime').val();
            var partNo = $('#PartNo').val();
            var branchID = $('#Branch').val();
            var Branch = $("#Branch option:selected").text();
            
            
            var html = '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">User Sales Report </h4>';

            if (branchID != "")
            { html += "<h4> Branch : " + Branch + " </h4>"; }
            var vendorName = $("#AccountID option:selected").text();
            if (accountID > 0)
            { html += "<h4>Customer:  " + vendorName + "</h4>"; }
            var userName = $("#UserID option:selected").text();
            if (userID > 0)
            { html += "<h4>User:  " + userName + "</h4>"; }
            if (partNo == "" || typeof partNo === 'undefined')
                partNo = null;
            else
            { html += "<h4> Part No. : " + partNo + " </h4>"; }

            if (fromDate != "" && toDate != "")
            { html += "<h4>From:    " + fromDate + "            TO:    " + toDate + " </h4>"; }
            $.ajax({
                url: "@Url.Action("GetUserSales", "Reports")",
                data: {
                    btn: true,
                    PartNo: partNo,
                    AddBy : userID,
                    BranchID: branchID,
                    accountID: accountID,
                    fromDate: $('#fromDate').val(),
                    toDate: $('#toDate').val(),
                    fromTime: fromTime,
                    toTime: toTime
                },
                success: function (data) {
                    $("#SearchResult").html(data);
                    //$.fn.dataTable.moment('D/M/YYYY', 'en-US');
                    $('#tblSO').dataTable({
                        footerCallback: function ( row, data, start, end, display ) {
                            var api = this.api(), data;
                            // Remove the formatting to get integer data for summation
                            var intVal = function ( i ) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '')*1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            // Total over all pages
                            total = api
                                .column(5)
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            // Total over this page
                            pageTotal = api
                                .column( 5, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );
                            $('#totalSales').val(parseFloat(total).toFixed(2));
                            $('#hdntotalSales').val(parseFloat(total).toFixed(2));
                            
                        } ,
                        aoColumnDefs: [
                        { "aTargets": [5], "bSortable": true },
                        { "aTargets": [0], "bSortable": true },
                        { "aTargets": [3], "bSortable": true },
                        { "aTargets": [4], "bSortable": true },
                        { "aTargets": [1], "bSortable": true },
                        { "aTargets": [2], "bSortable": true, "sType": "datetime-moment" },
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            {
                                extend: 'print',
                                title:'',
                                messageTop: function () {
                                    var total = $('#hdntotalSales').val();
                                    html += "<h4>Total Sales: " + total + "</h4>";
                                    return html;
                                },
                                messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                                exportOptions: {
                                    columns: [0, 1, 2, 3, 4, 5,6,7,8]
                                }
                            },
                             {
                                 extend: 'excel',
                                 messageTop: function () {
                                     var total = $('#hdntotalSales').val();
                                     return "Sales Report          Total Sales: " + total ;
                                 },
                                 messageBottom: null,
                                 exportOptions: {
                                     columns: [0, 1, 2, 3, 4, 5,6,7,8]
                                 }
                             }
                        ]
                    });
                    //jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                    //    "date-uk-pre": function (a) {
                    //        var ukDatea = a.split('/');
                    //        return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
                    //    },

                    //    "date-uk-asc": function (a, b) {
                    //        return ((a < b) ? -1 : ((a > b) ? 1 : 0));
                    //    },

                    //    "date-uk-desc": function (a, b) {
                    //        return ((a < b) ? 1 : ((a > b) ? -1 : 0));
                    //    }
                    //});

                }
            });
        });
    </script>
    <script type="text/javascript">
        $("#AccountID").change(function () {
            var customerID = $('#AccountID').val();
            $('#hdnAccountID').val(customerID);
            $('#CustomerPhone').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#CustomerCode").change(function () {
            var customerID = $('#CustomerCode').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerPhone').val(customerID).trigger('change.select2');
        });
        $("#CustomerPhone").change(function () {
            var customerID = $('#CustomerPhone').val();
            $('#hdnAccountID').val(customerID);
            $('#AccountID').val(customerID).trigger('change.select2');
            $('#CustomerCode').val(customerID).trigger('change.select2');
        });
        $("#AccountID").select2();
        $("#CustomerCode").select2();
        $("#CustomerPhone").select2();

    $('#Branch').select2();
    </script>

}


