﻿@model POSOman.Models.tbl_Cylinder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_Cylinder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cylinder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cylinder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CylinderLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CylinderLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfCylinders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfCylinders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_PrintingMachine.PrintingMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_PrintingMachine.PrintingMachine)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
