﻿@model IEnumerable<POSOman.Models.tbl_Roll>

@{
    ViewBag.Title = "Orders";
}
<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Rolls</h2>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div class="table-responsive">

                                <table id="tbl" class="table table-striped table-bordered alt-pagination">
                                    <thead>
                                        <tr>

                                            <th>Roll</th>
                                            <th>Width</th>
                                            <th>Meters</th>
                                            <th>Cost</th>
                                            <th>Ribbon Cost</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Roll)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RollWidth)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RollMeters_Length)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.RollCost)
                                                </td> 
                                                <td>
                                                    @if (item.SatinRibbonCost != null)
                                                    {
                                                        @Html.DisplayFor(modelItem => item.SatinRibbonCost)
                                                    }
                                                    else
                                                    {
                                                        @("-")
                                                    }

                                                </td>

                                                <td>
                                                    
                                                        @if (item.ForOffsetTypeID != 3)
                                                        {
                                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <text>|</text>
                                                @*@Html.ActionLink("Details", "OffsetDetails", new { id = item.OrderID })*@
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                    }
                                                   
                                                    


                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tbl').DataTable({
            dom: 'Bfrtip',
            "order": [[0, "desc"]],
            buttons: [
                {
                    extend: 'print',
                    title: '',
                    messageTop: function () {

                        return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">Rolls List</h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3,4]
                    }
                }
            ]
        });
    </script>
}
