﻿@model POSOman.Models.DTO.Group
@{
    Layout = null;
}
<div class="modal-dialog">
    <div class="modal-content">
        
        <div class="modal-header">
            <h3 class="modal-title" id="myModalLabel35"> Add New Group</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Ajax.BeginForm("Create", "PartialGroup", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateProductSuccess", OnBegin = "ValidateForm" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="row">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.GroupName, "Group Name")
                            @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            @Html.ValidationMessageFor(model => model.GroupName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Description")
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<input type="submit" class="btn btn-primary" value="Save" />*@
                        <input type="button" value="Submit" class="btn btn-primary" onclick="PostNewGroup(this)" />
                    </div>

                </div>
            </div>
        }
    </div>
</div>