﻿@model IEnumerable<POSOman.Models.tmp_OrderDetails>

@{
    ViewBag.Title = "Unsaved Details";
}
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="table-responsive">

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PartNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Qty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UnitPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SalePrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Total)
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tmp_PO.InvoiceNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PartNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>