﻿@model IEnumerable<POSOman.Models.tmp_PO>

@{
    ViewBag.Title = "Index";
}<style>
    @@media print {
        html, body {
            height: 90vh;
        }
    }
</style>
<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Unsaved Purchase Orders</h2>  
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">

                            <table id="tblPO" class="table table-striped table-bordered alt-pagination">
                                <thead>
                                    <tr>
                                        <th>
                                            OrderID
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_AccountDetails.AccountName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvoiceNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.TotalAmount)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.InvoiceNo)
                                            </td>
                                            <td>
                                                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.PurchaseDate))
                                            </td>

                                            <td>
                                                @{
                                                    decimal TotalAmount = item.TotalAmount ?? 0;
                                                    <span> @TotalAmount.ToString("#,##0.00") </span>
                                                }
                                                @*@Html.DisplayFor(modelItem => item.TotalAmount)*@
                                            </td>


                                            <td>
                                                @Html.ActionLink("Details", "Details", new { id = item.OrderID })|
                                                @Html.ActionLink("Submit", "tempOrder", new { tOrderID = item.OrderID, tmpOrderID = item.tmpID })|
                                                @Html.ActionLink("Delete", "DeleteUnsavedPurchase", new { OrderID = item.OrderID })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts{
    <script type="text/javascript">
        $('#tblPO').dataTable({
            aoColumnDefs: [

            { "aTargets": [0], "bSortable": true },
            { "aTargets": [4], "bSortable": true },
            { "aTargets": [1], "bSortable": true },
            { "aTargets": [2], "bSortable": true },            
            { "aTargets": [3], "bSortable": true, "sType": "date-uk" }
            ],
            "order": [[0, "desc"]],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'print',
                    messageTop: function () {

                       
         return '<img src="@ViewBag.Picture" class="brand-logo" align = "left" margin="10px"><h1  align="center">@ViewBag.CompanyName</h1><h5 align="center">@ViewBag.CompanyAddress </h5><h5 align="center">Contact: @ViewBag.CompanyCell</h5><hr /><h4 align="center">UnSaved Purchase List </h4>';


                    },
                    messageBottom: '<br/><h6 align="center">Developed By : MangoTech Solutions</h6>',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    }
                }
            ]
        });
        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-uk-pre": function (a) {
                var ukDatea = a.split('/');
                return (ukDatea[2] + ukDatea[1] + ukDatea[0]) * 1;
            },

            "date-uk-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-uk-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
}