﻿@model POSOman.Models.tbl_PurchaseOrder
@{
    ViewBag.Title = "New";
}
<div class="content-body">
    <!-- Striped row layout section start -->
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    @*<div class="card-header">
                            <h4 class="card-title" id="bordered-layout-colored-controls">Purchase Order</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        </div>*@
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewOrder", "Purchase",
 new { ReturnUrl = ViewBag.ReturnUrl },
     FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Purchase Details</h4>

                                    <div class="row">
                                        <div class="col-md-6">
<input type="hidden" id="POID" name="POID">
                                            <input type="hidden" id="tmpOrderID" name="tmpOrderID" value=@ViewBag.tmpOrderID>
                                            <input type="hidden" id="tOrderID" name="tOrderID" value=@ViewBag.tOrderID>
                                            <input type="hidden" id="exRate" name="exRate">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Currency, "Currency", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("Currency", new List<SelectListItem>{
                                                   new SelectListItem{ Text="OMR", Value = "1" },
                                                   new SelectListItem{ Text="AED", Value = "2" },
                                               }, htmlAttributes: new { @class = "form-control" })
                                                </div>
                                                @*@Html.LabelFor(model => model.BranchID, "Branch", htmlAttributes: new { @class = "col-md-2 label-control" })
                                                <div class="col-md-5">
                                                    @Html.DropDownList("BranchID", new SelectList(ViewBag.Branch, "Value", "Name"), "Select Branch", htmlAttributes: new { @class = "form-control", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })
                                                </div>*@
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AccountID, "Vendor", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("AccountID", new SelectList(ViewBag.vendor, "Value", "Name"), "Select Vendor", htmlAttributes: new { @class = "form-control", required = "required" })
                                                    @Html.ValidationMessageFor(model => model.AccountID, "", new { @class = "text-danger" })                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PurchaseDate, "Purchase Date", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">                                                    
                                                    @Html.EditorFor(model => model.PurchaseDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "PurchaseDate", id = "PurchaseDate" } })
                                                    @Html.ValidationMessageFor(model => model.PurchaseDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.InvoiceNo, "Invoice No", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.InvoiceNo, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                                    @Html.ValidationMessageFor(model => model.InvoiceNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="ft-mail"></i>Products Entry</h4>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PartialProduct")" id="btnCreateProduct">Add Product</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PartialGroup")" id="btnCreateGroup">Add Group</button>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PartialVehicleModel")" id="btnCreateVehicle">Add Model</button>
                                    <div class="row">
                                        <div class="col-12">
                                            
                                                    <div id="dvtbl" class="table-responsive" >
                                                        <table id="tbl">
                                                            <thead>
                                                                <tr>
                                                                    <th>Veh Cd</th>
                                                                    <th>Part No.</th>
                                                                    <th>Edit Pro.</th>
                                                                    <th>Description</th>
                                                                    <th>Subst No.</th>
                                                                    <th>Veh Model</th>
                                                                    <th>Group</th>
                                                                    <th>Location</th>
                                                                    @*<th>V.C</th>*@
                                                                    <th>U.C</th>
                                                                    <th>Qty</th>
                                                                    <th>Un Pr.</th>
                                                                    <th>Ex UPrice</th>
                                                                    <th>S Price</th>
                                                                    <th>Total</th>
                                                                    <th><button type="button" value="Add" id="btnAdd" name="btnAdd" class="btn btn-primary btn-sm" tabindex="1" onclick="addRow()">Add</button></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>Total</td>
                                                                    <td><input type="text" class="form-control" id="txtTotal" disabled /></td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                        
                                                    </div>
                                            
                                        </div>
                                    </div>
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.PaymentStatus, "Payment Status", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row last">
                                                    @Html.LabelFor(model => model.PaymentTypeID, "Payment Type", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                    <div class="col-md-9">
                                                        @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control",name = "PaymentType", id = "PaymentType" })
                                                        @Html.ValidationMessageFor(model => model.PaymentTypeID, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                @*<div class="col-md-4">
                                                    <label>Bank Name</label>
                                                    <input class="form-control" id="bankName" name="bankName" placeholder="Bank Name" disabled />
                                                </div>*@
                                                <div class="col-md-4">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="row">
                                                                        
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.Expenses, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.Expenses, new { htmlAttributes = new { @class = "form-control", name = "expenseInput", id = "expenseInput" , @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                                    @Html.ValidationMessageFor(model => model.Expenses, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.VAT, htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-4">
                                                    @Html.EditorFor(model => model.VAT, new { htmlAttributes = new { @class = "form-control", name = "vatInput", id = "vatInput" , @type = "number", @min = "0", @step = "0.01", @value = "0", placeholder="VAT (%)" } })
                                                    @Html.ValidationMessageFor(model => model.VAT, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="form-control" id="vatAmount" name="vatAmount" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { @class = "col-md-3 label-control", @type = "number", @min = "0", @step = "0.01", @value = "0" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.AmountPaid, "Amount Paid", htmlAttributes: new { @class = "col-md-3 label-control" })
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                                    @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            </div>
                                            <div class="form-actions right">
                                                @*<button type="button" class="btn btn-warning mr-1">
                                                    <i class="ft-x"></i> Cancel
                                                </button>*@
                                                @*<button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-check-square-o"></i> Save
                                                </button>*@
                                                <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                            </div>
                                            }
                            <div id="AjaxLoader" class="loader"></div>
                            @*PopUp For adding and editing Product *@ 
                            <div class="modal" id="newProductModal" tabindex="-1" role="dialog" aria-labelledby="newProductModal" aria-hidden="true" data-backdrop="static">
                                <div id="newProductContainer">
                                </div>
                            </div>
                            <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="EditProductModal" aria-hidden="true" data-backdrop="static">
                                <div id="editProductContainer">
                                </div>
                            </div>
                            @*END PopUp For adding and editing Product *@
                            @*PopUp For adding New Group*@
                            <div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModal" aria-hidden="true" data-backdrop="static">
                                <div id="newGroupContainer">
                                </div>
                            </div>
                            @*END PopUp For adding New Group*@
                            @*PopUp For adding New Vehicle Model*@
                            <div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog" aria-labelledby="newVehicleModal" aria-hidden="true" data-backdrop="static">
                                <div id="newVehicleContainer">
                                </div>
                            </div>
                            @*END PopUp For adding New Vehicle Model*@
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

@section scripts{


    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL JS-->    
    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
<script src="~/Scripts/js/scripts/modal/components-modal.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL JS-->    
    <script src="~/Scripts/customScripts/general.js"></script>    
    <script src="~/Scripts/customScripts/partialCrud.js"></script>
    <script src="~/Scripts/customScripts/tempSaveOrder.js"></script>
<script type="text/javascript">
    $('#BranchID').select2();
    $('#Currency').select2();
    $('#AccountID').select2();
    document.getElementById('PurchaseDate').valueAsDate = new Date();
    document.getElementById('chqDate').valueAsDate = new Date();
</script>
}
