﻿
<!DOCTYPE html>
<html>
<head>
    @model IEnumerable<POSOman.Models.tbl_SOReturnDetails>
        <title>Return</title>

        <style type="text/css">
            * {
                margin: 0;
                padding: 0;
            }

            .button {
                background-color: #2b72e3;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }

            #invoice-POS {
                box-shadow: 0 0 1in -0.15in rgba(0, 0, 0, 0.5);
                padding: 2mm;
                margin: 0 auto;
                width: 77mm;
                background: #FFF;
                :: selection;

            {
                background: #f31544;
                color: #FFF;
            }

            ::moz-selection {
                background: #f31544;
                color: #FFF;
            }

            h1 {
                font-size: 1.5em;
                color: #222;
            }

            h3 {
                font-size: 1.2em;
                font-weight: 300;
                line-height: 2em;
            }

            p {
                font-size: .7em;
                color: #666;
                line-height: 1.2em;
            }

            #top, #mid, #bot { /* Targets all id with 'col-' */
                border-bottom: 1px solid #EEE;
            }

            #top {
                min-height: 100px;
            }

            #mid {
                min-height: 80px;
            }

            #bot {
                min-height: 50px;
            }

            .info {
                display: block;
                //float:left;
                margin-left: 0;
            }

            .title {
                float: right;
            }

                .title p {
                    text-align: right;
                }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            .tabletitle {
                font-size: .5em;
                background: #EEE;
            }

            .service {
                border-bottom: 1px solid #EEE;
            }

            .item {
                width: 24mm;
            }

            .itemtext {
                font-size: .5em;
            }

            #legalcopy {
                margin-top: 5mm;
            }

        </style>
        <style type="text/css" media="print">
      @@media print
      {
         @@page {
           margin-top: 0;
           margin-bottom: 0;
         }
         body  {
           padding-top: 72px;
           padding-bottom: 72px ;
         }
      }
        </style>
</head>
<body>

    <div id="invoice-POS">

        <center id="top">
            <div class="logo">
                <img style="width: 140px;height: 80px; margin-top:1px;" src="~@ViewBag.Picture">
            </div>
            <div>
            </div><!--End Info-->
        </center><!--End InvoiceTop-->

        <div>
            <div style="border: 1px solid black; margin-bottom: 5px;">
                <center style="font-size:0.9em;">
                    24-C Khayaban-e-Nishat,<br />
                    DHA Ph-6,Karachi<br />
                    @ViewBag.CompanyLandline
                </center>
            </div>
        </div><!--End Invoice Mid-->

        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>Sale Return Receipt</b></center>
        </div>
        <div>
            <table>
                <tr>
                    <td><b>INVOICE : </b></td>
                    <td>@Model.First().tbl_SalesReturn.tbl_SalesOrder.SOID</td>
                </tr>               
                <tr>
                    <td><b>CUSTOMER : </b></td>
                    <td>@Model.First().tbl_SalesReturn.tbl_AccountDetails.AccountName</td>
                </tr>
                <tr>
                    <td><b>DATE : </b></td>
                    <td>@Model.First().tbl_SalesReturn.ReturnDate.GetValueOrDefault().ToString("dd/MM/yyyy hh:mm tt")</td>
                </tr>
            </table>
        </div>
        <div style="color: black; margin-top: 10px; border: 1px solid black; height: 18px;">
            <center><b>Returned Items</b></center>
        </div>
        <div>
            <table style="font-size: 14px; overflow-x:auto; width:100%;">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>Qty</th>
                        <th>RATE</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <hr />
                        </th>
                    </tr>
                </thead>               
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {

                            <tr>
                                @*<td>#@counter</td>*@
                                <td>
                                    <b> @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)</b> <br />
                                </td>
                                <td style="text-align:center;">
                                    @((Convert.ToInt32(item.Qty)))
                                </td>
                                <td style="text-align:center;">
                                    @(Convert.ToDecimal(item.SalePrice).ToString("0.00"))

                                </td>
                                <td style="text-align:center;">
                                    @item.Total.Value.ToString("0.00")
                                    @*<text>@Html.DisplayFor(modelItem => item.Total)</text>*@
                                </td>
                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div>
            <table style="overflow-x:auto; border-top: 2px dotted black;margin-top: 5px;border-bottom: 2px dotted black" width="100%">
                <tr>
                    <th align="left">TOTAL</th>
                    <th>@(Model.First().tbl_SalesReturn.TotalAmount.Value.ToString("0.00"))</th>
                   
                @*<tr>
                    <th align="left">CASH Recd.</th>
                    <th>@(((@Model.First().CashReceived ?? 0)).ToString("0.00"))</th>
                </tr>*@
               <tr>
                    <th align="left">Returned Amount</th>
                    <th>@(Model.First().tbl_SalesReturn.AmountPaid.Value.ToString("0.00"))</th>
                </tr>
            </table>

        </div>
        <div style="margin-top: 8px;">
           
            <center><h4>PLEASE VISIT AGAIN.</h4></center>
            
            <center><h4></h4></center>
            <center><h6 style="margin-top: 5px;">Software Developed By : Mangotech Solutions </h6></center>
            <center><h6>Call : 03443607167</h6></center>
        </div>

    </div><!--End Invoice-->
    <button id="printdiv" class="button" onclick="printContent('invoice-POS'); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <script>
        
        function Back() {
            window.location.href = '/SalesReturn';
        }
        function printContent(el) {

            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            var curURL = window.location.href;
            history.replaceState(history.state, '', '/');
            window.print();
            history.replaceState(history.state, '', curURL);
        }

    </script>
</body>



</html>
