﻿@model IEnumerable<POSOman.Models.tbl_SOReturnDetails>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>'</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <style type="text/css">
        .footer {
            position: fixed;
            text-align: center;
            bottom: 0px;
            width: 100%;
            margin-bottom:30px;
        }
    </style>
</head>
<body style="margin-top:40px; margin-bottom:10px; -webkit-print-color-adjust: exact !important;">
    <div>
        <div class="container">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-5" style="text-align:center; align-content:center">
                            <h2>@ViewBag.CompanyName</h2>
                        </div>
                        <div class="col-md-11" style="text-align:center ">
                            24-C Khayaban-e-Nishat,<br />
                            DHA Ph-6,Karachi<br />
                            @ViewBag.CompanyLandline
                            <h4>Sales Return</h4>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xl-4">
                    <form>
                        <div class="form-group"><label style="padding-right:15px;"><strong>Return From : </strong></label>@Model.First().tbl_SalesReturn.tbl_AccountDetails.AccountName</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Return ID</strong></label>@Model.First().tbl_SalesReturn.SalesReturnID</div>
                    </form>
                </div>
                <div class="col-md-3 col-xl-4"></div>
                <div class="col-md-5 col-xl-4">
                    <form>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Date</strong></label>@Model.First().tbl_SalesReturn.ReturnDate.GetValueOrDefault().ToString("dd/MM/yyyy")</div>
                        <div class="form-group row"><label class="col-lg-4 col-md-5 col-sm-2 col-xs-2"><strong>Invoice No.</strong></label>@Model.First().tbl_SalesReturn.tbl_SalesOrder.SOID</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table" id="item-table">
                <thead>
                    <tr>
                        <th>#</th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.tmp_PO.InvoiceNo)
                            </th>*@
                        <th>
                            ITEM
                        </th>
                       <th>
                            UNIT
                        </th>
                        <th>
                           QTY
                        </th>
                       
                        <th>
                           RATE
                        </th>
                        <th>
                            AMOUNT
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{  int counter = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@counter</th>
                            
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                                </td>
                              
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitCode)
                                </td>
                                <td>
                                   
                                    @((Convert.ToInt32(item.Qty)))
                                   
                                
                                </td>
                                
                                <td>
                                    @(Convert.ToDecimal(item.SalePrice).ToString("0.00"))                                    
                                </td>
                                <td>
                                    @item.Total.Value.ToString("0.00")
                                </td>
                            </tr>
                            counter = counter + 1;
                        }
                    }
                </tbody>

            </table>

        </div>
        <div class="col-md-5 col-sm-12">
            <p class="lead">Total due</p>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total</td>
                            <td class="text-right">@(Model.First().tbl_SalesReturn.TotalAmount.Value.ToString("0.00"))</td>
                        </tr>
                        @*<tr>
                            <td>Discount</td>
                            <td class="text-right">@(Model.First().tbl_SalesReturn.DiscountAmount.Value.ToString("0.00"))</td>
                        </tr>*@  
                        @*<tr>
                            <td>GST</td>
                            <td class="text-right">@(Model.First().tbl_SalesReturn.VAT.Value.ToString("0.00"))</td>
                        </tr>*@                       
                        @*<tr>
                            <td class="text-bold-800">Total</td>
                            <td class="text-bold-800 text-right">@((Model.First().tbl_SalesReturn.TotalAmount +  Model.First().tbl_SalesReturn.VAT ).Value.ToString("0.00"))</td>
                        </tr>*@
                        <tr>
                            <td>Paid Amount</td>
                            <td class="pink text-right">@(Model.First().tbl_SalesReturn.AmountPaid.Value.ToString("0.00"))</td>
                        </tr>
                        @*<tr class="bg-grey bg-lighten-4">
                                <td class="text-bold-800">Balance Due</td>
                                <td class="text-bold-800 text-right">$ 12,000.00</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
    <div>       
        <div class="container">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-center">
                    <h6 style="padding-bottom: 30px;">Authorized Person</h6>
                    <p style="padding-top: 30px;">_____________________</p>
                </div>
            </div>
        </div>
    </div>
   
    <button id="printdiv" class="btn btn-primary btn-lg" onclick="printContent(); return false;" type="button" style="margin: 1px;">Print <i class="fa fa-print"></i></button>
    <button id="backbtn" class="btn btn-primary btn-lg" onclick="Back()" @*onClick='javascript:show_hide_column(0, false);'*@ style="margin: 1px;"> Back</button>

     @*<input type='button' onClick='javascript:show_hide_column(1, false);' value='hide PartNo' id="hideCol">*@ 
    <script src="~/assets/js/data.js"></script>

    <script type="text/javascript">
        function show_hide_column(col_no, do_show) {
            var tbl = document.getElementById('item-table');
            var rows = tbl.getElementsByTagName('tr');


            for (var row = 0; row < rows.length; row++) {
                var cols = rows[row].children;
                if (col_no >= 0 && col_no < cols.length) {
                    var cell = cols[col_no];
                    //if (cell.tagName == 'TD')
                    cell.style.display = do_show ? 'block' : 'none';
                }
            }
        }
        function Back() {
            window.location.href = '/SalesReturn';
        }
        function printContent() {
            var restorepage = document.body.innerHTML;
            var printButton = document.getElementById("printdiv");
            printButton.style.visibility = 'hidden';
            //var printButton = document.getElementById("hideCol");
            //printButton.style.visibility = 'hidden';
            var backbtn = document.getElementById("backbtn");
            backbtn.style.visibility = 'hidden';
            window.print();
            document.body.innerHTML = restorepage;
            window.location.href = '/SalesReturn';
        }
    </script>
    <div class="footer">Developed By: MangoTech Solutions</div>
</body>
</html>
