﻿@model IEnumerable<POSOman.Models.tbl_SOReturnDetails>

<div class="content-body">
    <!-- DOM - jQuery events table -->
    <section id="dom">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        @*<h4 class="card-title">@Html.ActionLink("Create New", "NewOrder")</h4>*@
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    </div>
                    <div class="card-content collapse show">
                        <div class="table-responsive">

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_SalesReturn.InvoiceNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.tbl_Product.PartNo)
                                        </th>
                                        <th>
                                            Returned Qty                                            
                                        </th>
                                        
                                        <th>
                                            @Html.DisplayNameFor(model => model.SalePrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Total)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_SalesReturn.InvoiceNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tbl_Product.PartNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Qty)
                                            </td>                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>