﻿@model IEnumerable<POSOman.Models.tbl_SalesOrder>
@{
    ViewBag.Title = "Index";
}
<section id="vertical-tabs">
    <div class="row">
        <div class="col-12"><h2>Sales Return </h2> <br />   
            <div class="card">
                <div class="card-content collapse show">
                    <div class="card-body">
                        @using (Html.BeginForm("Save", "SalesReturn",
                new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "vertical-tab-steps wizard-circle" }))
                        {
                            @Html.AntiForgeryToken()
                            @*<form action="#" class="vertical-tab-steps wizard-circle">
                            *@
                                <!-- Step 1 -->
                            <h6>Select Order To Return</h6>
                                <fieldset>
                                    <div class="table-responsive">
                                        <table id="tblSales" class="table table-striped table-bordered alt-pagination">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Invoice No.
                                                    </th>
                                                    <th>
                                                        Customer
                                                    </th>
                                                    @*<th>
        Cust. Code
    </th>*@
                                                    <th>
                                                        Branch
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.SalesDate)
                                                    </th>
                                                    <th hidden>
                                                        @Html.DisplayNameFor(model => model.PaymentStatus)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.TotalAmount)
                                                    </th>
                                                    <th>
                                                        Discount
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.AmountPaid)
                                                    </th>

                                                    <th></th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SOID)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.tbl_AccountDetails.AccountName)
                                                        </td>
                                                        @*<td>
        @Html.DisplayFor(modelItem => item.CustomerCode)
    </td>*@
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.tbl_Branch.BranchName)
                                                        </td>
                                                        <td>
                                                            @*@Html.DisplayFor(modelItem => item.SalesDate)*@
                                                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate))
                                                        </td>
                                                        <td hidden>
                                                            @Html.DisplayFor(modelItem => item.PaymentStatus)
                                                        </td>

                                                        <td>
                                                            @if (item.VAT > 0)
                                                            { @(item.TotalAmount + item.VAT);
                                                            }
                                                            else if (item.VAT == 0)
                                                            { @Html.DisplayFor(modelItem => item.TotalAmount)}
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DiscountAmount)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.AmountPaid)
                                                        </td>

                                                        <td>
                                                            <a href="#" onclick="getInvoiceDetails(@item.OrderID); return false;">Return</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>

                                        </table>
                                    </div>
                                </fieldset>

                                <!-- Step 2 -->
                                <h6>Enter Returning Qty</h6>
                                <fieldset>
                                    @*<div class="row">
                                        <div class="form-group row">
                                            <label>Payment Type</label>
                                            @Html.DropDownList("PaymentType", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Cash", Value = "1" },
                                                   new SelectListItem{ Text="Credit", Value = "2" },
                                               }, htmlAttributes: new { @class = "form-control" })                                           
                                            @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })
                                        </div>
                                    </div>*@
                                    <div class="row">
                                        <table id="tblReturn" class="table">
                                            <thead>
                                                <tr>
                                                    
                                                   <th>Invoice No.</th>
                                                    <th>Product</th>
                                                    <th>U.C</th>
                                                    <th>Qty</th>
                                                    <th hidden>Packet</th>
                                                    <th>S Price</th>
                                                    <th>Total</th>  
                                                    <th>Retd</th>
                                                    <th>Return</th>
                                                    <th hidden>Rt Packet</th>                                               
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    
                                                    <td hidden></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Total</td>
                                                    <td><input type="text" class="form-control input-sm" style="width:100px;" id="txtTotal" disabled /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </fieldset>
                                <!-- Step 3 -->
                                <h6>Payment Details</h6>
                                <fieldset>
                                    <h4 class="form-section"><i class="icon-eye6"></i>Payment Details</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.Label("PaymentStatus")

                                                @Html.DropDownList("PaymentStatus", new List<SelectListItem>{
                                                   new SelectListItem{ Text="Select Payment Status", Value = "0" },
                                                   new SelectListItem{ Text="Paid", Value = "1" },
                                                   new SelectListItem{ Text="Partial Paid", Value = "2" },
                                                   new SelectListItem{ Text="UnPaid", Value = "3" },
                                               }, htmlAttributes: new { @class = "form-control required", required = "required" })

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                @Html.Label("Payment Type")

                                                @Html.DropDownList("ID", new SelectList(ViewBag.payType, "Value", "Name"), "Select Payment Type", htmlAttributes: new { @class = "form-control", name = "PaymentType", id = "PaymentType" })                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Bank Account</label>
                                                    @Html.DropDownList("bankAccount", new SelectList(ViewBag.BankAccount, "Value", "Name"), htmlAttributes: new { @class = "form-control", name = "Bank", id = "Bank" })
                                                    @*<label>Bank Name</label>
                        <input class="form-control" id="bankName" name="bankName" placeholder="BankName" disabled />*@
                                                </div>
                                                @*<div class="col-md-4">
                        <label>Bank Name</label>
                        <input class="form-control" id="bankName" name="bankName" placeholder="Bank Name" disabled/>
                    </div>*@
                                                <div class="col-md-4">
                                                    <label>Cheque Number</label>
                                                    <input class="form-control" id="chqNumber" name="chqNumber" placeholder="Cheque Number" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Cheque Date</label>
                                                    <input class="form-control" type="date" id="chqDate" name="chqDate" placeholder="Cheque Number" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-row">
                                                <div class="col-md-4">
                                                    <label>Total Amount</label>                                                   
                                                    <input type="number" class="form-control" placeholder="Total Amount" id="returnAmount" disabled />
                                                </div>
                                                <div class="col-md-4">
                                                    @Html.Label("Amount Paid")
                                                    <input class="form-control" type="number" id="amountPaid" name="amountPaid" placeholder="Amount Paid" disabled/>                                                    
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Balance</label>
                                                    <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblSales').DataTable({
                "order": [[ 0, "desc" ]],
                paging: true,
                pageLength: 5,
                searching: true,
                "lengthMenu": [[5, 10, 20, -1], [5, 10, 20, "All"]]
            });
        });

    </script>
    <script src="~/Scripts/customScripts/helper.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
<script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>   
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins/forms/wizard.css">
    <script src="~/Scripts/vendor/js/forms/validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Scripts/vendor/js/extensions/jquery.steps.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/js/scripts/ui/breadcrumbs-with-stats.js"></script>
    <script src="~/Scripts/js/scripts/forms/wizard-steps.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/salesReturn.js"></script>
}
