﻿
<h4 class="form-section"><i class="ft-mail"></i>Products Entry </h4>
<hr />

<div class="row">
    <form id="ProductForm" name="ProductForm">
        <div hidden class="col-sm-2">
            <label>Category</label>
            <br />
            @Html.DropDownList("ddlVehCode", new SelectList(ViewBag.VehCode, "Value", "Name"), "Category", htmlAttributes: new { @class = "select2 form-control", required = "required" })
        </div>
        <div class="col-sm-2">
            <label>Product</label>
            <br />
            @Html.DropDownList("ddlPartNumber", new SelectList(ViewBag.Product, "Value", "Name"), "Select Product", htmlAttributes: new { @class = "select2 form-control" })
        </div>
      
        <div hidden class="col-sm-1">
            <label>Impressions</label>
            <br />
            <input type="number" min="0"  class="form-control Calc" placeholder="Imp" id="Impression" readonly />
        </div>
        <div class="col-sm-2" hidden>
            <label>Description</label>
            <br />
            <input type="text" class="form-control" placeholder="Description" id="Description" autofocus />
        </div>
        <div class="col-sm-2">
            <label>Unit Code</label>
            <br />
            @Html.Partial("~/Views/PartialViews/_UnitCode.cshtml")
        </div>
        <div class="col-sm-2">
            <label>Qty</label>
            <br />
            <input type="number" min="0"  class="form-control Calc" placeholder="Qty" id="Qty" />
        </div>
        <div class="col-sm-2" hidden>
            <label>Sheets</label>
            <br />
            <input type="number" min="0"  class="form-control Calc" readonly placeholder="Sheets" id="Sheets" />
        </div>
        <div class="col-sm-2">
            <label>Unit Price</label>
            <br />
            <input type="number" min="0" class="form-control Calc" placeholder="UnPrice" id="UnitPrice" readonly />
        </div>
        <div class="col-sm-2">
            <label>Sale Price</label>
            <br />
            <input type="number" min="0" class="form-control Calc" placeholder="UnPrice" id="SalePrice"  />
        </div>
        <div class="col-sm-2">
            <label>Total</label>
            <br />
            <input type="number" class="form-control" id="Total" placeholder="Total" disabled />
        </div>
        <div class="col-sm-1">
            <label>Action</label>
            <input type="button" class="btn btn-round" value="Add" id="addRow">
        </div>
    </form>
</div>


<div>
    <table id="tblProduct" class="table table-striped table-bordered dynamic-height" style="margin-top:1%; display: block; overflow-x: auto; white-space: nowrap;">
        <thead>
            <tr>
                <th>Select</th>
                <th hidden>CategoryID</th>
                <th hidden>Category</th>
                <th hidden>ProductID</th>
                <th>Product</th>
                <th hidden>StockStatusID</th>
                <th hidden>Stk Status</th>
                <th hidden>DeliveryStatusID</th>
                <th hidden>Delivery Status</th>
                <th hidden>OrderMachineID</th>
                <th hidden>Order Machine</th>
                <th hidden>Impressions</th>
                <th>Unit Code</th>
                <th>Qty</th>
                <th hidden>TotalSheets</th>
                <th>Unit Price</th>
                <th>Sale Price</th>
                <th>Total</th>
                <th hidden>sheets</th>
               

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

