﻿
@model IEnumerable<POSOman.Models.GetDeletedDeliveryChallanList_Result>

@using POSOman.Models;
@using POSOman.Models.BLL;

@{
    dbPOS db = new dbPOS();
}

<div class="card-content collapse show">

    <div class="row">
        @if (Model != null)
        {
            decimal tot = 0;
            <div class="card-body card-dashboard">
                <table id="tblData" class="table table-striped table-bordered alt-pagination">
                    <thead>
                        <tr>
                            @*<th hidden> Branch </th>
                                <th hidden> Sale Order </th>*@
                            <th> Inv No.</th>
                            <th> JO No</th>
                            <th> Customer PO</th>
                            <th> Remarks</th>
                            <th> Customer </th>
                            <th> Sale Person </th>
                            <th> Challan Date </th>
                            <th> Status </th>
                            @*<th hidden> Discount </th>
                                <th hidden> Tax </th>*@
                            <th> Total Amount </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td hidden> @Html.DisplayFor(modelItem => item.BranchName) </td>
                                    <td hidden> @item.StrCode </td>*@
                                <td> DC- @item.SOID </td>
                                <td> JO- @item.JOID </td>
                                <td> @item.CustomerPO </td>
                                <td> @item.Remarks </td>
                                <td> @Html.DisplayFor(modelItem => item.AccountName) </td>
                                <td> @Html.DisplayFor(modelItem => item.SalePerson) </td>
                                <td> @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.SalesDate)) </td>
                                <td>
                                    @{
                                        string color = "";
                                        if (item.ChallanStatus == "PENDING")
                                        {
                                            color = "red";
                                        }
                                        else
                                        {
                                            color = "green";
                                        }
                                    }
                                    <text style="color:@color">@item.ChallanStatus</text>
                                </td>
                                @*<td hidden> @POSOman.Models.BLL.NumberFormat.Convert(item.DiscountAmount ?? 0) </td>
                                    <td hidden> @POSOman.Models.BLL.NumberFormat.Convert(item.TaxAmount ?? 0) </td>*@
                                <td> @(Helper.DigitsWithComma(item.TotalAmount)) @*@POSOman.Models.BLL.NumberFormat.Convert(item.TotalAmount ?? 0)*@ @{tot += item.TotalAmount ?? 0; } </td>
                                <td>


                                    <!--Separate dropdown-->

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:transparent !important; border:none !important;margin:inherit !important;">
                                            <img src="~/Content/images/icons/menu_icon.png" alt="buttonpng" style="width:20px;height:20px;" />
                                        </button>
                                        <div class="dropdown-menu">
                                            @Html.ActionLink("Details", "DeletedChallanExport", new { id = item.ChallanID, InvoiceType = item.InvoiceType, JOID = item.JOID, ReportType = "PDF" }, new { @class = "dropdown-item" })


                                        </div>
                                        @*<a class="dropdown-item" href="#">Separated link</a>*@

                                    </div>

                                    <!---->


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="hidden" id="hdntotalSales" name="hdntotalSales" value=" @(Helper.DigitsWithComma(tot))">
            </div>

        }
        else
        {
            <text>
                <script type="text/javascript">
                    swal("No Data", "No Data Found!", "error");
                </script>
            </text>
        }
    </div>
</div>

