﻿@model POSOman.Models.tbl_Challan

@{
    ViewBag.Title = "Challan Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Delete Challan</h4></br>
<h3>Are you sure you want to delete this challan?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            Challan No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPO)
        </dd>

        <dt>
           @("Challan Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
