﻿@model POSOman.Models.tbl_SalesOrder

@{
    ViewBag.Title = "Challan";
}

<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            @using (Html.BeginForm("NewSale", "SaleOrder", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form form-horizontal striped-rows form-bordered" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-eye6"></i>Delivery Challan</h4>
                                    <div class="row">
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Branch</label>
                                            <br>
                                            @Html.DropDownList("BranchID", null, "Select Branch", htmlAttributes: new { @class = "select2 form-control", id = "BranchID", required = "required", @disabled = "@disabled" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Challan Date</label>
                                            @Html.EditorFor(model => model.SalesDate, new { htmlAttributes = new { @class = "form-control", type = "date", name = "SaleDate", id = "SaleDate" } })
                                            @Html.ValidationMessageFor(model => model.SalesDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Select Sales Order</label>
                                            <br>
                                            @Html.DropDownList("SaleOrderID", new SelectList(ViewBag.SalesOrder, "Value", "Name"), "Select Sales Order", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2" hidden>
                                            <label>Select Inquiry</label>
                                            <br>
                                            @Html.DropDownList("InquiryID", new SelectList(ViewBag.Inquiry, "Value", "Name"), "Select Inquiry", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="form-group mb-1 col-sm-12 col-md-2">
                                            <label>Customer Name</label>
                                            <br>
                                            @Html.DropDownList("AccountID", new SelectList(ViewBag.customer, "Value", "Name"), "Select Customer", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        @*<div class="mb-1 col-sm-12 col-md-2">
                                            <label></label>
                                            <br>
                                            <input type="button" id="btnSearch" value="Search" class="btn btn-primary" />
                                        </div>*@

                                    </div>

                                    @Html.Partial("~/Views/Challan/_AddProduct.cshtml")

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-2" hidden>
                                            <label>Sub Amount</label>
                                            <br>
                                            <input type="number" class="form-control" placeholder="Sub Amount" id="subAmount" disabled />
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            <label>Select Tax</label>
                                            <br>
                                            @Html.DropDownListFor(model => model.TaxPercent, new SelectList(ViewBag.Vat, "Value", "Name"), "Select Tax ", htmlAttributes: new { @class = "form-control", name = "TaxPercent", id = "TaxPercent" })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            <label>Tax Amt</label>
                                            <br>
                                            @Html.EditorFor(model => model.TaxAmount, new { htmlAttributes = new { @id = "TaxAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-1" style="padding-left:5px; padding-right:5px;" hidden>
                                            <label>Disc %</label>
                                            <br>
                                            @Html.EditorFor(model => model.DiscountPercent, new { htmlAttributes = new { @class = "form-control", name = "DiscountPercent", id = "DiscountPercent", @type = "number", @min = "0", @step = "0.01", @value = "0" } })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            <label>Disc Amt</label>
                                            <br>
                                            @Html.EditorFor(model => model.DiscountAmount, new { htmlAttributes = new { @class = "form-control", name = "DiscountAmount", id = "DiscountAmount", @type = "number", @min = "0", @step = "0.01", @value = "0", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.TotalAmount, "Total Amount", htmlAttributes: new { })
                                            <br>
                                            @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @id = "totalAmount", @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            @Html.LabelFor(model => model.AmountPaid, "Amount Paid")
                                            @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", name = "amountPaid", id = "amountPaid", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2" hidden>
                                            <label>Balance</label>
                                            <input type="number" class="form-control" placeholder="Balance" id="balanceAmount" disabled />
                                        </div>
                                    </div>

                                </div>
                                <div id="dialogcontent">


                                </div>
                                <div class="form-actions right" style="margin-top:1%;">
                                    <input type="button" id="btnSubmit" value="Create" class="btn btn-primary" />
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        document.getElementById('SaleDate').valueAsDate = new Date();
        $('#AccountID').select2();
        $('#SaleOrderID').select2();
        $('#unitCode').select2();
        $('#ddlVehCode').select2();
        $('#ddlPartNumber').select2();
    </script>

    <script src="~/Scripts/js/scripts/modal/components-modal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/sweetalert.css">
    <script src="~/Scripts/vendor/js/extensions/sweetalert.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/css/extensions/toastr.css">
    <script src="~/Scripts/vendor/js/extensions/toastr.min.js"></script>
    <script src="~/Scripts/customScripts/general.js"></script>
    <script src="~/Scripts/customScripts/partialCustomer.js"></script>
    <script src="~/Scripts/jquery.validate.js" type="text/javascript"></script>
    <script src="~/Scripts/customScripts/GenericLib.js"></script>
    <script src="~/Scripts/customScripts/helper.js"></script>
    <script src="~/Scripts/Product/challanProduct.js"></script>
    <script src="~/Scripts/Challans/challan.js"></script>
    <script src="~/Scripts/Challans/ChallanDetails.js"></script>
}
